/*帖子列表头部*/
.topBox {
	background-color: #FFFFCC;
	height: 30px;
	width: 760px;
	border: 1px solid #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.topBox .title {
	float: left;
	height: 30px;
	width: 700px;
	line-height: 30px;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.topBox .ansBtn {
	float: right;
	height: 30px;
	width: 50px;
	line-height: 30px;
	text-align: center;
}
/*贴子列表*/
.context {
	display:table;
}
.mLeft {
	float: left;
	width: 80px;
	height: auto;
}
.mLeft img {
	width: 80px;
}
.mLeft .mLevel {
	text-align: center;
	line-height: 30px;
	height: 30px;
}
.accname {
	text-align: center;
	line-height: 30px;
	height: 30px;
}
.mLeft .crttime {
	display: none;
}
.mRight {
	float: right;
	width: 675px;
	background-color: #FFFFFF;
	display: table;
}
.mRight .mHeader {
	line-height: 30px;
	height: 30px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
.mRight .mHeader span {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
.mRight .mContext {
	margin: 10px;
}
.mRight .mFooter {
}
/*分页导航*/
.pager {
	background-color: #FFFFCC;
	height: 30px;
	width: 760px;
	border: 1px solid #CCCCCC;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	line-height: 30px;
	text-align: center;
}
.line {
	line-height: 25px;
	text-align: center;
	height: 25px;
	margin: 10px;
	width: 760px;
}
