@charset "utf-8";
body {
}
#bodyTop {
	background-image: url(../Images/course-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
#TitleBar {
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
	color: #000000;
	background-image: url(../Images/icon1.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	height: 40px;
	margin-top: 25px;
	text-indent: 45px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	margin-bottom: 20px;
}
#subject {
	height: 30px;
}
#Context #selectArea {
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	padding-bottom: 20px;
}
.selectBar {
	display: table;
}
.selectLeft {
	line-height: 30px;
	text-align: right;
	float: left;
	height: 30px;
	width: 100px;
	font-size: 15px;
}
.selectRight {
	float: left;
	width: 880px;
}
#subject .subjectItem {
	float: left;
	height: 30px;
	width: auto;
	margin-right: 10px;
	line-height: 30px;
}
#subject .subjectItem a {
	font-size: 14px;
	color: #333333;
}
/*专业选中项*/
#Selected .selectedItem {
	font-size: 15px;
	line-height: 24px;
	height: 24px;
	border: 1px solid #CCCCCC;
	float: left;
	padding-right: 5px;
	padding-left: 8px;
	margin-top: 3px;
	white-space: nowrap;
	width: auto;
}
#Selected .selectedItemOver {
	border: 1px solid #FF0000;
}
#Selected .selectedItem .name {
	float: left;
	padding-right: 8px;
	color: #FF0000;
}
#Selected .selectedItem .close {
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -209px -237px;
	float: left;
	height: 8px;
	width: 8px;
	cursor: pointer;
	margin-top: 8px;
}
#Selected .selectedItem .closeOver {
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -217px -237px;
	cursor: pointer;
}
#selectArea #SelectedBar {
	height: 30px;
}
.courseList {
	width: 980px;
	height: auto;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}
.courseList .courseListInner {
	width: 1050px;
}
.courseList .item {
	float: left;
	margin-right: 52px;
	width: 200px;
	text-align: center;
	border: 3px solid #FFFFFF;
	height: 123px;
	position: relative;
	overflow: visible;
	margin-bottom: 52px;
}
.courseList .courseOver {
	border: 3px solid #CCCCCC;
}
.courseList .courseOver .itemName a {
	color: #FFFFFF;
}
.courseList .item a {
	display: block;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 25px;
}
.courseList .item img {
	width: 200px;
	height: 123px;
}
.courseList .item .itemMark {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 200px;
	color: #FFFFFF;
	FILTER: alpha(opacity=50);
	BACKGROUND: #000;
	OVERFLOW: hidden;
	opacity: 0.5;
	-moz-opacity: 0.5;
	top: 83px;
	height: 40px;
	position: absolute;
}
.courseList .item .itemInfo {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 200px;
	color: #FFFFFF;
	OVERFLOW: hidden;
	top: 83px;
	height: 40px;
	z-index: 10;
	position: absolute;
}
.courseList .item .itemInfo a {
	line-height: 45px;
	text-indent: 10px;
	display: block;
	height: 45px;
	font-size: 18px;
	overflow: hidden;
}
.courseList .item .itemDetails {
	line-height: 20px;
	display: block;
	height: 78px;
	font-size: 14px;
	width: 190px;
	margin-left: 10px;
}
.courseList .item .itemDetails a {
	font-size: 14px;
}
.nocourse {
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}
