<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title></title>
</head>

<body>
    <div id="vapp" v-cloak>
        <el-card  shadow="hover">
            <div slot="header" class="clearfix">
                <help>操作提示</help>

            </div>
            <div>
                教师账号与学员账号共用，可以理解为教师和学员都是账号的不同角色。
                <br />
                "重置密码"将跳到学员账号的重置密码界面。
            </div>
        </el-card>

        <div class="footer">
            <el-button type="primary" native-type="submit" :loading="loading" v-if="existacc" plain @click="btnEnter()">
                <icon v-if="!loading">&#xe6c6</icon>跳转
                <span v-if="!loading">（{{second}}）</span>
            </el-button>
            <el-button type='close'>取消 </el-button>
        </div>
    </div>
</body>

</html>