<!doctype html>
<html>
<head>
<title>积分兑换</title>
<vt:include file="inc/meta.inc" />
<link rel="stylesheet" href="Styles/CouponExchange.css?ver={$version}"/>
<script type="text/javascript" src="Scripts/CouponExchange.js?ver={$version}"></script>
</head>
<body>
<div class="mui-scroll">
  <ul class="mui-table-view">
    <li class="mui-table-view-cell mui-media"> <a href="javascript:;">
      <vt:if var="Account.Ac_photo" value="" compare="="> <img class="mui-media-object mui-pull-left" src="images/nophoto.jpg"/>
        <vt:else/>
        <img class="mui-media-object mui-pull-left" src="{$stpath}{$:#.Account.Ac_photo}"/></vt:if>
      <div class="mui-media-body">
        <vt:if var="Account.Ac_name" value="" compare="="> （无名）
          <vt:else/>
          {$Account.Ac_name} </vt:if>
       
        <p class='mui-ellipsis'> <span class="money-item"> 积分{$:#.Account.Ac_Point}个 &nbsp; (券{$:#.Account.Ac_Coupon}个)</span>
         </p>
      </div>
      </a> </li>
  </ul>
  <!--学员个人信息（结束），如头像-->
  
  <div class="mui-card">
    <div class="mui-card-header"><span class="card-tit"><span class="iconfont ico">&#xe88a;</span>积分兑换卡券</span> <a class="mui-btn mui-btn-link mui-pull-right right" href="PointDetails.ashx?accid={$Account.Ac_ID}&state=nohead" type="open"> 查看积分详情 </a> </div>
    <!--内容区-->
    <div class="mui-card-content">
      <form class="mui-input-group" star="false">
        <div class="mui-input-row">
          <label>兑换比率</label>
          <div class="right-text"> {$ratio}：1</div>
        </div>
        <div class="mui-input-row">
          <label>示例</label>
          <div class="right-text"><span id="pointSum">{$:#.Account.Ac_Point}</span><span class="iconfont">&#xe686;</span><span id="ratio">{$ratio}</span><span class="iconfont">&#xe688;</span><span id="result"></span>个</div>
        </div>
        <div class="mui-input-row txt"> （积分除以兑换率，向下取整） </div>
        <div class="mui-input-row">
          <label>兑换数</label>
          <input name="tbNumber" id="tbNumber" placeholder="请输入要兑换的卡券数" value="" type="text"  class="textbox" nullable="false" />
        </div>
        <div class="mui-button-row"><span id="card-error" class="error-show"></span>
          <button class="mui-btn mui-btn-primary enter" id="btnCouponExchange" type="submit"  verify="true"  data-loading-text="提交中">兑 换</button>
        </div>
      </form>
    </div>
  </div>
  <!--说明信息-->
  <div class="explain">
    <tit>说明</tit>
    <div class="explain-txt">
      <dl>
        <dt>1、如何赚取积分？</dt>
        <dd>注册送<b>{$dic.RegFirst}</b>，每次登录送<b>{$dic.LoginPoint}</b>（每天最多<b>{$dic.LoginPointMax}</b>）。</dd>
        <dd>转发分享，每访问一次<b>{$dic.SharePoint}</b>（每天最多<b>{$dic.SharePointMax}</b>）。</dd>
        <dd>从分享链接中每注册一名学员您会得到<b>{$dic.RegPoint}</b>（每天最多<b>{$dic.RegPointMax}</b>）。</dd>
      </dl>
      <dl>
        <dt>2、积分兑换</dt>
        <dd>每<b>{$dic.PointConvert}</b>兑换1个卡券（{$dic.PointConvert}:1）。</dd>
      </dl>
      <dl>
        <dt>3、卡券用途</dt>
        <dd>卡券与现金1:1等价，可用于购买课程。</dd>
      </dl>
    </div>
  </div>
  <!-- 主内容结束 --></div>
<vt:include file="inc/footer.html" />
</body>
</html>