<!doctype html>
<html>
<head>
<title>购买课程</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/CourseBuy.js?ver={$version}"></script>
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="Styles/CourseBuy.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body couid="{$couid}">
<form loyout="row"  class="context"  action="/pay/PayEntry.ashx" method="post">
  <div class="infoTop">
    <vt:function var="path" method="Path" args="course"/>
    <div class="photo" > <a src=""><img  src="{$path}{$course.cou_logo}" default="images/cou_nophoto.jpg"/> </a></div>
    <div class="couname">{$course.Cou_Name}</div>
    <div class="couinfo">章节{$olCount}个/试题{$quesCount}道</div>
  </div>
  <div class="mui-card"> 
    <!--页眉，放置标题--> 
    
    <!--内容区-->
    <div class="mui-card-content">
      <div class="priceBox">
        <vt:if var="#.prices.Length" value="0" compare=">">
          <vt:foreach id="prices" from="$#.prices" item="data" remark="价格列表">
            <div class="priceItem" cpid="{$:#.data.CP_ID}" couid="{$course.Cou_id}"> <span class="ico"></span><span class="mprice">{$:#.data.CP_Price}</span>元/{$:#.data.CP_Span}{$:#.data.CP_Unit} <span class="alt" span="{$:#.data.CP_Span}" unit="{$:#.data.CP_Unit}" price="{$:#.data.CP_Price}">(日均<b>0.1</b>)</span>
              <vt:if var="data.CP_Coupon" value="0" compare=">"> <span class="coupon">可用券抵扣<span class="cprice">{$:#.data.CP_Coupon}</span>元</span> </vt:if>
            </div>
          </vt:foreach>
          <vt:else />
          <div class="noPrice">没有设置价格</div>
        </vt:if>
      </div>
    </div>
    <!--页脚，放置补充信息或支持的操作-->
    <div class="mui-card-footer">
      <vt:if var="Account.Ac_id" value="" compare="!="> 
        <!-- 账户余额 -->
        <div class="moneyBox"> <span class="veriTxt">余额：</span> <span id="money">{$Account.Ac_money format="0.00"}</span>元
          &nbsp; <span class="veriTxt">卡券：</span> <span id="coupon">{$Account.Ac_Coupon format="0"}</span>个</div>
      </vt:if>
    </div>
  </div>
  <div class="txt-row">（与现金等值，优先扣除卡券）</div>
  <div class="mui-card" id="payInterface"> 
    <!--页眉，放置标题-->
    <div class="mui-card-header" id="paytitle">
      <input name="paiid" type="hidden" id="paiid" value=""/>
      <input name="money" type="hidden" id="money" value="0" />
      <span id="needRecharge" remark="需要充值的钱数"></span> </div>
    <!--内容区-->
    <div class="mui-card-content">
      <div class="mui-card-content">
        <div class="mui-input-row" style="height:auto;">
          <ul class="mui-table-view mui-table-view-chevron">
            <vt:foreach id="pis" from="$#.pis" item="data" remark="支付接口">
              <li class="mui-table-view-cell payitem" select="false" pattern="{$:#.data.Pai_Pattern}" scene="{$:#.data.Pai_Scene}" painame="{$:#.data.Pai_Name}" paiid="{$:#.data.Pai_ID}"> <a class="mui-navigate-right" href="#"><img src="/pay/images/{$:#.data.Pai_Pattern}.png"/>{$:#.data.Pai_Name} <span class="right-item iconfont ico" style="display:none">&#xe6fd;</span> </a> </li>
            </vt:foreach>
             <li class="mui-table-view-cell" id="nopay" style="display:none">没有可供使用的支持接口</li>
          </ul>
           
        </div>
      </div>
    </div>
  </div>
  <div class="StudyBtnBox">
    <input type="button" value="返回"  class="btnStudyBack"/>
    <input type="submit" name="btnBuyStudy" id="btnBuyStudy" value="购买课程"  verify="true"  class="btnStudy"/>
  </div>
  <!-- <div class="loginRow btnBar">
     <input type="button" value="暂时试用"  course="{$course.Cou_Name}" IsTry="{$course.Cou_IsTry}" class="aTryout"/>
    </div>-->
  
</form>
</body>
</html>