<!DOCTYPE html>
<html>
<head>
    <title>{$outline.ol_name}-{$course.Cou_Name}</title>
    <vt:include file="inc/meta.inc" />
    <!--播放器的引用-->
    <!--<script type="text/javascript" src="/Utility/Ckplayer/js/offlights.js?ver={$version}"></script>
<script type="text/javascript" src="/Utility/Ckplayer/ckplayer/ckplayer_h5.js?ver={$version}" charset="utf-8"></script>-->
    <script type="text/javascript" src="/Utility/Qiniuyun/qiniu-web-player-1.2.2.js?ver={$version}"></script>
    <link href="Styles/CourseStudy.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body canstudy="{$canStudy}" olid="{$olid}">
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable">
        <!--侧滑菜单部分-->
        <vt:include file="inc/CourseStudyMenu.html" />
        <div class="mui-inner-wrap">
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper" style="position: relative;height:100%">
                <div id="context-box">
                    <div tag="视频">
                      <div remark="视频" :video="state.urlVideo"  class="videobox">
                        <div id="videoplayer" v-show="!state.outerVideo && !state.isLive"
                              style="height: 100%;width:100%;" remark="点播">
                        </div>                        
                      
                        <div id="videoinfo" v-show="!state.outerVideo && !state.isLive">
                              <span style="display: non6e">视频时长：{{video.total}}秒，播放进度：{{playtime}}秒，</span>
                              <span>累计学习{{video.studytime}}秒，完成{{video.percent}}%，</span>
                              <span style="cursor: pointer"
                                    v-on:click="videoSeek(video.playhistime)">上次播放到{{video.playhistime}}秒</span>
                              <span class="videolog info" v-show="studylogState==1">学习进度提交成功!</span>
                              <span class="videolog error" v-show="studylogState==-1">学习进度提交失败!</span>
                        </div>
                        <iframe id="vedioiframe" height="100%" width="100%"
                              v-if="state.outerVideo && !state.isLive" :src="state.urlVideo"
                              allowscriptaccess="always" allowfullscreen="true" wmode="opaque"
                              allowtransparency="true" frameborder="0" remark="外部视频链接"
                              type="application/x-shockwave-flash"></iframe>

                  </div>
                  <div remark="直播" v-show="state.isLive" :video="state.urlVideo" class="videobox">
                        <div id="livebox" v-show="state.isLive" style="height: 100%;width:100%;" remark="直播">
                        </div>
                  </div>
                    </div>
                    <div tag="学习内容" style="display:none">
                        <div class="mui-card intro-box">
                            <div class="mui-card-header">
                                <span>学习内容</span></div>
                            <div class="mui-card-content mui-scroll-wrapper">
                                <div class="mui-scroll" id="details">
                                    <vt:if var="canStudy" value="true" compare="=" remark="如果可以学习">
                  <vt:if var="outline.ol_intro" value="" compare="!=" remark="学习内容">{$outline.ol_intro}
                    <vt:else/>
                    没有学习内容 </vt:if>
                  <vt:else/>
                   <div class="nointro">（未登录或未购买） </div></vt:if>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tag="附件" style="display:none">
                        <div class="mui-card acc-box">
                            <div class="mui-card-header">
                                <span>附件</span></div>
                            <div class="mui-card-content  mui-scroll-wrapper">
                                <vt:if var="canStudy" value="true" compare="=" remark="如果可以学习">
                <vt:if var="access.count" value="0" compare=">">
                  <div class="mui-scroll">
                    <dl id="access">
                      <vt:foreach from="$#.access" item="acc" index="j">
                        <dd><a class="accItem" target="_blank"  href="{$acc.As_FileName}" download="{$acc.As_Name}">{$:j}、{$acc.As_Name} </a> </dd>
                      </vt:foreach>
                    </dl>
                  </div>
                  <vt:else/>
                  <div class="noaccess">没有附件</div>
                </vt:if>
                <vt:else/>
                <div class="noaccess">（未登录或未购买）</div>
              </vt:if>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ++ -->
            </div>
            <script type="text/javascript" src="Scripts/CourseStudy.js?ver={$version}"></script>
            <div class="mui-off-canvas-backdrop">
            </div>
            <vt:include file="inc/CourseStudyFooter.html" />
        </div>
    </div>
</body>
</html>
