<!DOCTYPE html>
<html>
<head>
<title>{$outline.ol_name}-{$course.Cou_Name}</title>
<vt:include file="inc/meta.inc" />
<!--播放器的引用-->
<script type="text/javascript" src="/Utility/Ckplayer/js/offlights.js?ver={$version}"></script>
<script type="text/javascript" src="/Utility/Ckplayer/ckplayer/ckplayer_h5.js?ver={$version}" charset="utf-8"></script>
<link href="Styles/CourseStudy.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body canStudy="{$canStudy}">
<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable"> 
  <!--侧滑菜单部分-->
  <vt:include file="inc/CourseStudyMenu.html" />
  <div class="mui-inner-wrap">
    <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper"> 
      <!--主界面,头部视频部分-->
      <header class="video-box" style="z-index:2"> <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left back" type="link" href="CoursePage.ashx?couid={$course.cou_id}"></a> <a class="home" href="default.ashx" type="link"></a>
        <vt:if var="canStudy" value="true" compare="=" remark="如果可以学习">
          <vt:if var="video.As_FileName" value="" compare="!=">
            <vt:if var="video.As_IsOther" value="true" compare="=">
              <iframe id="videoIframe" height="260px" width="100%" 
        src="{$video.As_FileName}"
        allowscriptaccess="always" allowfullscreen="true" wmode="opaque" allowtransparency="true" frameborder="0" type="application/x-shockwave-flash"></iframe>
              <vt:else/>
              <!--如果存在视频文件，则播放-->
              <div id="videobox" style="100%; position:relative;z-index: 100;"></div>
              <!-- <video src="{$video.As_FileName}" x5-video-player-type="h5" width="100%"/>--> 
              <!--播放器的各种信息-->
              <div id="playerInfo" > <span class="time"> 时长<span id="totalTime">{$video.As_Duration}</span> 秒</span> <span class="time"> 播放<span id="playTime">0</span>秒</span> <span class="time"> 已学<span id="studyTime" num="{$studyLog.Lss_StudyTime}">0</span>秒，完成<span id="per">0</span>%</span> </div>
              <span class="historyInfo">上次播放到<span id="historyTime">{$historyPlay}</span>秒，点击继续学习</span> <span class="StudentStudyLog" style="display:nonje"></span> 
              <script type="text/javascript">
            //视频地址
            var videoFile = "{$video.As_FileName}";
		</script> 
              <script type="text/javascript">
          //课程ID,章节ID
          var couid = '{$outline.cou_id}';
          var olid = '{$outline.ol_id}';
          //是否是外链接
          var isOuter = "{$video.As_IsOuter}" == "True" ? true : false;    //	
        </script> 
              <!--视频播放事件--> 
              
            </vt:if>
            <vt:else/>
            <div class="noVideo">没有视频资源</div>
          </vt:if>
          <vt:else/>
          <div class="noVideo">（当前章节不可学习）</div>
        </vt:if>
        <div class="outline-name">
          <vt:if var="outline.ol_name" value="" compare="!=" remark="学习内容"> {$outline.ol_name}
            <vt:else/>
            （没有章节名称） </vt:if>
        </div>
      </header>
      <div class="context-box">
        <div class="context-box-inner">
          <div class="mui-card intro-box"  tab="学习内容">
            <div class="mui-card-header"><span>学习内容</span></div>
            <div class="mui-card-content mui-scroll-wrapper" >
              <div class="mui-scroll" id="details">
                <vt:if var="canStudy" value="true" compare="=" remark="如果可以学习">
                  <vt:if var="outline.ol_intro" value="" compare="!=" remark="学习内容">{$outline.ol_intro}
                    <vt:else/>
                    没有学习内容 </vt:if>
                  <vt:else/>
                   <div class="nointro">（未登录或未购买） </div></vt:if>
              </div>
            </div>
          </div>
          <div class="mui-card acc-box"  tab="附件">
            <div class="mui-card-header"><span>附件</span></div>
            <div class="mui-card-content  mui-scroll-wrapper">
              <vt:if var="canStudy" value="true" compare="=" remark="如果可以学习">
                <vt:if var="access.count" value="0" compare=">">
                  <div class="mui-scroll">
                    <dl id="access">
                      <vt:foreach from="$#.access" item="acc" index="j">
                        <dd><a class="accItem" target="_blank"  href="{$acc.As_FileName}" download="{$acc.As_Name}">{$:j}、{$acc.As_Name} </a> </dd>
                      </vt:foreach>
                    </dl>
                  </div>
                  <vt:else/>
                  <div class="noaccess">没有附件</div>
                </vt:if>
                <vt:else/>
                <div class="noaccess">（未登录或未购买）</div>
              </vt:if>
            </div>
          </div>
        </div>
      </div>
      <!-- ++ --> 
    </div>
    <script type="text/javascript" src="Scripts/CourseStudy.js?ver={$version}"></script>
    <div class="mui-off-canvas-backdrop"> </div>
    <vt:include file="inc/CourseStudyFooter.html" />
  </div>
</div>
</body>
</html>
