<!doctype html>
<html>
<head>
    <title>选课中心 - {$:#.org.org_platformname}</title>
    <vt:include file="inc/meta.inc" />
    <link rel="stylesheet" href="Styles/Courses.css?ver={$version}" />
    <script type="text/javascript" src="Scripts/Courses.js?ver={$version}" id="javascript"></script>
</head>
<body mremove="{$mremove}">
    <img class="default-img" default="images/cou_nophoto.jpg" style="display: none;" />
    <!--主界面部分-->
    <div class="mui-inner-wrap">
        <header class="mui-bar mui-bar-nav"> 
   
     <a class="mui-btn mui-btn-link mui-pull-right btnSearch" href="#" id="btnSelect"></a>
      <h1 class="mui-title"><input name="sear" type="search" id="search-top" class="txtSearch" placeholder="搜索"></h1>
    </header>
        <div class="mui-content mui-scroll-wrapper">
            <div id="slider" class="mui-slider mui-fullscreen">
                <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted btnBar">
                    <div style="width: 100%">
                        <a class="mui-control-item mui-active rec" href="#" order="rec">推荐</a> <a class="mui-control-item new"
                            href="#" order="live">直播</a> <a class="mui-control-item hot" href="#" order="flux">最热</a>
                        <a class="mui-control-item free" href="#" order="free">免费</a>
                    </div>
                </div>
                <div class="mui-slider-group">
                    <div class="mui-slider-item mui-control-content">
                        <div class="mui-scroll-wrapper" id="pullrefresh">
                            <div class="mui-scroll cur-box">
                                <ul class="mui-table-view mui-table-view-chevron" id="context-area">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <space></space>
                </div>
            </div>
        </div>
        <!-- 隐藏侧滑菜单的层 -->
        <div class="mui-off-canvas-backdrop">
        </div>
    </div>
    <!--内容结束，下面是用于筛选的表单-->
    <vt:include file="inc/SubjectSelect.html" />
    <!--底部导航菜单-->
    <nav class="mui-bar mui-bar-tab footer">
<a class="foot-home" href="/mobile/default.ashx" type="link" target="_blank"> <b class="mitem"></b><span>首页</span></a>
<a class="foot-courses" href="#"> <b class="mitem"></b><span>专业分类</span></a>
<a class="foot-mycourse" type="link" target="_blank" href="/mobile/selfcourse.ashx"> <b class="mitem"></b><span>我的课程</span></a>
<a class="foot-exam" type="link" target="_blank" href="/mobile/exam.ashx"> <b class="mitem"></b><span>考试</span></a>
 <vt:function var="menu" method="Navi" args="foot" args="0" />
  <vt:foreach from="$#.menu" item="m" index="i"> <a type="link" href="{$:m.nav_url}" target="{$:m.nav_target}">
    <vt:if var="#.m.nav_logo" value="" compare="!="> <img alt="" src="{$:path}{$:m.nav_logo}" class="mitem"/>
      <vt:else />
      <b class="mitem"></b> </vt:if>
    <vt:if var="m.nav_isbold" value="true" compare="=">
    <span style="color: {$:m.nav_color};font-family: {$:m.nav_font};font-weight: bold;">
    <vt:else />
    <span style="color: {$:m.nav_color};font-family: {$:m.nav_font};">
    </vt:if>
    {$:m.nav_name} </span> </a> </vt:foreach>
</nav>
    <script type="text/javascript">
        var footer = $("nav.footer");
        footer.find("a").each(function (item) {
            $(this).width(footer.width() / footer.find("a").size());
        });
    </script>
</body>
</html>
