<!doctype html>
<html>

<head>
  <title>{$course.cou_name} - {$:#.org.org_platformname}</title>
  <vt:include file="inc/icon-color.inc" />
  <vt:include file="inc/meta.inc" />
  <script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
  <link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />

  <link href="Styles/CoursePage.css?ver={$version}" rel="stylesheet" type="text/css" />
  <link href="/Utility/CoreStyles/Jme.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="mui-inner-wrap" style="height:100%;" id="vapp" v-cloak>
    <div class="loading" v-if="loading"></div>
    <img id="default-img" src="images/cou_nophoto.jpg" style="display: none;" />
    <div class="photo">
      <img :src="course.Cou_Logo" v-if="course.Cou_Logo!=''">
      <img :src="defimg" v-else>
      <div class="couName">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" type="link"
          href="default.ashx"></a>{{course.Cou_Name}}
      </div>
      <a class="go-home" href="/mobile/default.ashx" type="link" target="_blank"> </a>
      <div class="info"><span class="study">{{sum}}</span> /<span class="view">{{course.Cou_ViewNum}}</span>
        <template v-if="!config.IsMobileRemoveMoney">
          / <span class="moneyfree" v-if="course.Cou_IsFree || course.Cou_IsLimitFree">
            <i class="free" v-if="course.Cou_IsFree">免费</i>
            <i class="free" v-if="course.Cou_IsLimitFree"> 限时免费</i>
            <span v-if="course.Cou_IsLimitFree">（{{course.Cou_FreeStart|date('yyyy/M/d')}}
              - {{course.Cou_FreeEnd|date('yyyy/M/d')}}）</span>
          </span>
          <span v-if="record!=null">
            期限： {{record.Stc_StartTime|date("yyyy/M/d")}}-{{record.Stc_EndTime|date("yyyy/M/d")}}
          </span>
        </template>
      </div>
      <a class="playico" :href="'CourseStudy.ashx?couid='+course.Cou_ID" type="link" remark="播放的图标"></a>
    </div>

    <!--选项卡-->
    <div class="mainmenuBox" :canStudy="canStudy" :couid="course.Cou_ID">
      <div class="mm-item" :href="'CourseStudy.ashx?couid='+course.Cou_ID"><svg class="icon mm-ico" aria-hidden="true">
          <use xlink:href="#icon-luboxuexi"></use>
        </svg><span>学习</span></div>
      <div class="mm-item" :href="'QuesOutlines.ashx?couid='+course.Cou_ID"> <svg class="icon mm-ico"
          aria-hidden="true">
          <use xlink:href="#icon-edit"></use>
        </svg> <span>练习</span> </div>
      <div class="mm-item" :href="'TestPapers.ashx?couid='+course.Cou_ID"> <svg class="icon mm-ico" aria-hidden="true">
          <use xlink:href="#icon-iconset-09"></use>
        </svg><span> 模考 </span> </div>
      <!--<div class="mm-item" href="Guides.ashx"> <svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-gonggaoicon"></use>
            </svg><span> 课程公告 </span> </div>-->
      <!--  <div class="mm-item" :href="'QuesError.ashx?couid='+course.Cou_ID"><svg class="icon mm-ico" aria-hidden="true">
        <use xlink:href="#icon-cuotitubiao"></use>
        </svg> <span> 错题回顾 </span> </div>-->
      <!-- <div class="mm-item" :href="'QuesCollects.ashx?couid='+course.Cou_ID"><svg class="icon mm-ico" aria-hidden="true">
        <use xlink:href="#icon-shoucang3"></use>
        </svg> <span> 我的收藏 </span> </div>
      <div class="mm-item" :href="'QuesNotes.ashx?couid='+$course.Cou_ID"><svg class="icon mm-ico" aria-hidden="true">
        <use xlink:href="#icon-blog"></use>
        </svg> <span> 我的笔记 </span> </div>-->

      <div class="mm-item" :href="'Knowledges.ashx?couid='+course.Cou_ID"><svg class="icon mm-ico" aria-hidden="true">
          <use xlink:href="#icon-business-color_briefcase-"></use>
        </svg> <span> 知识库 </span> </div>
      <a class="mm-item" :href="'MsgBoards.ashx?couid='+course.Cou_ID+'&state=nohead'" type="open"><svg
          class="icon mm-ico" aria-hidden="true">
          <use xlink:href="#icon-tech-color_keyboard"></use>
        </svg> <span> 咨询 </span> </a>
      <!--<div class="mm-item" href="MsgBoards.ashx"><svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-abc"></use>
            </svg> <span> 交流咨询 </span> </div>-->
      <!-- <div class="mm-item" :href="'Students.ashx?couid='+course.Cou_ID"><svg class="icon mm-ico" aria-hidden="true">
        <use xlink:href="#icon-user-boy"></use>
        </svg> <span> 我的同学 </span> </div>-->
      <!--<div class="mm-item" href="MyTeacher.ashx"><svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-objects-color_diamond"></use>
            </svg> <span> 我的老师 </span> </div>-->
      <!-- <div class="mm-item" href="exam.ashx"><svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-hegebiaozhun"></use>
            </svg> <span> 在线考试 </span> </div>-->
    </div>

    <div class="mui-card" id="Context">
      <div class="mui-card-content">
        <!--课程通知-->
        <template v-if="guides.length>0">
          <div class="boxtit"> <span class="line"></span>
            <div class="name"> <a :href="'Guides.ashx?couid='+course.Cou_ID" type="link">课程公告</a> </div>
          </div>
          <div class="guids" remark="课程公告">
            <div v-for="(g,i) in guides"><a :href="'Guide.ashx?id='+g.Gu_Id" type="link"
                target="_blank">{{i+1}}.{{g.Gu_Title}}</a>
              <span>{{g.Gu_CrtTime|date('MM-dd')}}</span>
            </div>
          </div>
        </template>
        <!--学习目标-->
        <template v-if="course.Cou_Target!=''">
          <div class="boxtit"> <span class="line"></span>
            <div class="name"> <a href="#">学习目标</a> </div>
          </div>
          <div class="couTarget" v-html="course.Cou_Target"></div>
        </template>

        <!--课程详情-->
        <template v-if="course.Cou_Intro!=''">
          <div class="boxtit"> <span class="line"></span>
            <div class="name"> <span>课程详情</span> </div>
          </div>
          <div class="introBox" v-html="course.Cou_Intro"></div>
        </template>
        <!--章节-->
        <div class="outline" v-if="outlines.length>0">
          <div class="boxtit"> <span class="line"></span>
            <div class="name"> <span>课程章节</span> </div>
          </div>
          <div class="olitem" :olid="o.Ol_ID" v-for="o in outlines" :style="'padding-left:'+(o.Ol_Level*20)+'px'">
            <span class="ol_name">{{o.Ol_XPath}}{{o.Ol_Name}}
              <span v-if="!o.Ol_IsFinish" class="nofinish">未完结</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="Scripts/CoursePage.js?ver={$version}"></script>
</body>

</html>