<!DOCTYPE html>
<html>

<head>
    <title>{$outline.ol_name}-{$course.Cou_Name}</title>
    <vt:include file="inc/meta-vue.inc" />
    <script type="text/javascript" src="/Utility/Qiniuyun/qiniu-web-player-1.2.3.js?ver={$version}"></script>
    <link href="Styles/CourseStudy.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>

<body canstudy="{$canStudy}" olid="{$olid}">
    <img id="default-img" src="images/cou_nophoto.jpg" style="display: none;" />
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable">
        <!--侧滑菜单部分-->
        {{outline.length}}
        <menutree :course="course" :outlines="outlines" :isbuy="isbuy" :menushow="menuShow"></menutree>
        <div class="mui-inner-wrap" id="vapp">
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper"
                style="position: relative;height:100%">
                <div id="context-box">
                    <videoplayer :outline="outline" :account="account"></videoplayer>
                    <div tag="视频" v-show="contextShow=='video' || contextShow==''">
                        <message  :outline="outline" :account="account" v-if="isMessage"></message>   
                    </div>
                    <div tag="学习内容" v-show="contextShow=='content'">
                        <div class="mui-card intro-box">
                            <div class="mui-card-header">
                                <span>学习内容</span>
                            </div>
                            <div class="mui-card-content mui-scroll-wrapper">
                                <div class="mui-scroll" id="details" v-html="outline.Ol_Intro"
                                    v-if="outline.Ol_Intro!=''">
                                    {{outline.Ol_Intro}}
                                </div>
                                <div class="mui-scroll" id="details" v-else>（没有内容）</div>
                            </div>
                        </div>
                    </div>
                    <div tag="附件" v-show="contextShow=='accessory'">
                        <div class="mui-card acc-box">
                            <div class="mui-card-header">
                                <span>附件</span>
                            </div>
                            <div class="mui-card-content  mui-scroll-wrapper">
                                <accessory :outline="outline" :account="account"></accessory>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ++ -->
            </div>

            <div class="mui-off-canvas-backdrop">
            </div>
            <coursestudyfooter :course="course"></coursestudyfooter>
        </div>
    </div>
    <script type="text/javascript" src="Scripts/CourseStudy.js?ver={$version}"></script>
</body>

</html>