<!doctype html>
<html>
<head>
<title>学习卡</title>
<vt:include file="inc/meta.inc" />
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="Styles/LearningCard.css?ver={$version}"/>
<script type="text/javascript" src="Scripts/LearningCard.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
</head>
<body>
<!--主界面部分-->
<div class="mui-scroll">
  <ul class="mui-table-view">
    <vt:if var="Account.Ac_ID" value="0" compare=">">
      <li class="mui-table-view-cell mui-media"> <a href="javascript:;">
        <vt:if var="Account.Ac_photo" value="" compare="="> <img class="mui-media-object mui-pull-left" src="images/nophoto.jpg"/>
          <vt:else/>
          <img class="mui-media-object mui-pull-left" src="{$stpath}{$:#.Account.Ac_photo}"/></vt:if>
        <div class="mui-media-body">
          <vt:if var="Account.Ac_name" value="" compare="="> （无名）
            <vt:else/>
            {$Account.Ac_name} </vt:if>
          <span class="acc-item">学习卡 {$:#.cardcount} 张，使用{$usecount}张</span>
          <p class='mui-ellipsis'>
            <vt:if var="Student.Ac_PhoneMobi" value="" compare="!="> {$Student.Ac_PhoneMobi} </vt:if>
            （账号：{$:#.Account.Ac_accname} ） </p>
        </div>
        </a> </li>
      <vt:else/>
      <li class="mui-table-view-cell mui-media"> <img class="mui-media-object mui-pull-left" src="images/nophoto.jpg"/>未登录
        <p class='mui-ellipsis' id="nologin"><a href="login.ashx" type="link">点击此处登录</a></p>
      </li>
    </vt:if>
  </ul>
  <!--学员个人信息（结束），如头像-->
  
  <div class="mui-card">
    <div class="mui-card-header"><span class="card-tit">学习卡</span> <span class="btnHelp"></span></div>
    <!--内容区-->
    <div class="mui-card-content">
      <form class="mui-input-group" id="formCard" star="false">
        <div class="mui-input-row">
          <label>学习卡</label>
          <input name="tbCard" id="tbCard" value="" type="text" placeholder="格式为“卡号-密码” "  class="textbox" nullable="false" regex="\d+(\s|)-(\s|)\d+"  group="code" />
        </div>
        <div class="mui-input-row txt">破折号不可缺少 <span id="card-error" class="error-show"></span></div>
        <div class="mui-input-row txt"  style="display:none">
          <input id="upload_qrcode" type="file" accept="image/*;" capture="user" >
        </div>
        <div class="mui-button-row">
          <div id="btn_camera"><img src="Images/qrcode.png" loading="load_015.gif" normal="qrcode.png"/>二维码</div>
          <button class="mui-btn mui-btn-primary enter" id="btnUseCard" type="submit"  verify="true"  data-loading-text="提交中"   group="code">使用</button>
          <button class="mui-btn mui-btn-primary  mui-btn mui-btn-success enter" id="btnGetCard" type="submit"  verify="true"  data-loading-text="提交中"   group="code">暂存</button>
        </div>
      </form>
    </div>
  </div>
  <div class="mui-card"> 
    <!--页眉，放置标题-->
    <div class="mui-card-header"><span class="card-tit">我的学习卡</span><span> {$:#.cardcount}张</span></div>
    <!--内容区-->
    <div class="mui-card-content">
      <ul class="mui-table-view">
        <vt:foreach id="cards" from="$#.cards" item="data" index="i" remark="我的学习卡">
          <li class="mui-table-view-cell"  code="{$:#.data.Lc_Code}" pw="{$:#.data.Lc_pw}"> <a href="LearningCardView.ashx?code={$:#.data.Lc_Code}&pw={$:#.data.Lc_pw}" class="view">{$:#.i}、{$:#.data.Lc_Code}- {$:#.data.Lc_pw}</a>
            <vt:if var="data.Lc_State" value="0" compare="!=">
              <vt:if var="data.Lc_State" value="1" compare="="> <span class="mui-badge">已使用</span>
                <vt:else/>
                <span class="mui-badge">禁用</span> </vt:if>
              <vt:else/>
              <vt:function var="r" method="isExpire" args="$#.data.Lc_LimitEnd"/>
              <vt:if var="r" value="1" compare="=="> <span class="mui-badge mui-badge-success badge-use">快过期</span>
                <vt:else/>
                <span class="mui-badge mui-badge-success badge-use">未使用</span> </vt:if>
            </vt:if>
          </li>
          <vt:foreachelse/>
          <li class="mui-table-view-cell"> 没有任何学习卡 </li>
        </vt:foreach>
      </ul>
    </div>
  </div>
  <!-- 主内容结束 --></div>
  
  <div class="boxHelp" style="display:none">
  <dl class="help-txt">
  <dd><b>1、关于学习卡</b><br>
  学习卡是由“卡号+密码”组成的一串数字，如“931193827144-665”。<br>
正常使用后即可选修学习卡所有关联的课程。
</dd>
  <dd><b>2、如何使用学习卡</b><br>

  通过学习卡号或二维码识别学习卡；<br>
使用后学习卡关联的课程自动设置为选修状态；<br>
也可以将学习卡暂存在自己名下，等需要时使用（不得超过有效期）
  </dd>
  <dd><b>3、如何得到学习卡</b><br>
可以联系老师线下购买，或通过淘宝购买学习卡。
</dd>
  <dd><b>4、学习卡时效的计算</b><br>
  例如有效期为“2018年11月22日 - 2019年11月22日”则在这个时间段时可以使用学习卡，超出这个时间段则该学习卡作废；<br>
	“学习时间”是学习卡关联的课程允许学习的时候，从使用学习卡的时间开始算起；如果学习卡关联的课程之前已经处在选修状态，则学习时间累加。 
</dd>

  </dl></div>
<space></space>
<vt:include file="inc/footer.html" />
</body>
</html>