<!DOCTYPE html>
<html>
<head>
<title>学习卡详情</title>
<vt:include file="inc/meta.inc" />
<link rel="stylesheet" href="Styles/LearningCardView.css?ver={$version}"/>
<script type="text/javascript" src="Scripts/LearningCardView.js?ver={$version}"></script>
</head>
<body>
<div class="mui-card"> 
  <!--页眉，放置标题-->
  <div class="mui-card-header"><span class="card-tit"><span class="iconfont ico">&#xe62c;</span>学习卡详情</span>
    <vt:if var="card.Lc_State" value="0" compare="!="> <span class="mui-badge">已使用</span> </vt:if>
  </div>
  <!--内容区-->
  <div class="mui-card-content">
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
        <label>卡号：</label>
        <span id="card">{$card.Lc_code}-{$card.Lc_pw}</span> </li>
      <li class="mui-table-view-cell">
        <label>面额：</label>
        {$set.Lcs_price}元 </li>
      <li class="mui-table-view-cell">
        <label>学习时间：</label>
        {$set.Lcs_Span} {$set.Lcs_Unit} </li>
      <li class="mui-table-view-cell">
        <label>有效期：</label>
        {$set.Lcs_LimitStart format="yyyy年M月d日"} - {$set.Lcs_LimitEnd format="yyyy年M月d日"} </li>
    </ul>
  </div>
  <vt:if var="card.Lc_State" value="0" compare="==">
    <div class="mui-card-footer">&nbsp;
      <vt:if var="isget" value="true" compare="!="> <button class="mui-btn mui-btn-primary  mui-btn mui-btn-success enter" id="btnGetCard" type="submit"  verify="true"  data-loading-text="提交中" >暂存</button>
       </vt:if>
      <button class="mui-btn mui-btn-primary enter" id="btnUseCard" type="submit"  verify="true"  data-loading-text="提交中">使用</button>
     
    </div>
  </vt:if>
</div>
<div class="mui-card"> 
  <!--页眉，放置标题-->
  <div class="mui-card-header"><span class="card-tit"><span class="iconfont ico">&#xe674;</span>关联课程</span></div>
  <!--内容区-->
  <div class="mui-card-content">
    <ul class="mui-table-view">
      <vt:foreach id="cards" from="$#.courses" item="data" index="i" remark="关联课程">
        <li class="mui-table-view-cell"  code="{$:#.data.Lc_Code}" pw="{$:#.data.Lc_pw}"> <a href="LearningCardView.ashx?code={$:#.data.Lc_Code}&pw= {$:#.data.Lc_pw}" class="view">{$:#.i}、{$:#.data.cou_name}</a> </li>
        <vt:foreachelse/>
        <li class="mui-table-view-cell"> 没有任何课程 </li>
      </vt:foreach>
    </ul>
  </div>
</div>
</body>
</html>
