<!doctype html>
<html>
<head>
<title>
<vt:if var="loyout" value="" compare="=">学员登录
  <vt:else/>
  手机验证登录</vt:if>
</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/Verify.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/Extend.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/Login.js?ver={$version}"></script>
<link href="Styles/Login.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="mui-scroll"> 
  <!--主内容区起始-->
  <div class="loginArea">
    <vt:if var="islogin" value="false" compare="=">
      <vt:if var="loyout" value="" compare="=">
        <form id="accLogin" name="accLogin" method="post">
          <div class="loginRow">
            <div class="loginRowRight iconfont">&#xe62a;</div>
            <div class="loginRowLeft">
              <input type="text" name="tbAcc" value="{$acc}"  class="mui-input-clear textbox width" nullable="false" star="false" group="login" placeholder="账号/手机号">
            </div>
          </div>
          <div class="loginRow">
            <div class="loginRowRight iconfont">&#xe673;</div>
            <div class="loginRowLeft">
              <input type="password" name="tbPw" class="mui-input-password textbox width" nullable="false"  star="false"  group="login" placeholder="登录密码">
            </div>
          </div>
          <div class="loginRow">
            <div class="loginRowRight">
              <div class="loginRowRight iconfont">&#xe629;</div>
            </div>
            <div class="loginRowLeft">
              <input name="from" type="hidden" value="{$from}" />
              <input type="number" name="tbCode" class="mui-input-password textbox verify" nullable="false" star="false"   lenlimit="4-4"  group="login" placeholder="验证码">
              <img src="/Utility/codeimg.aspx?name=accmobilelogincode" class="verifyCode"/> </div>
          </div>
          <div class="loginRow ">
            <div class="mui-switch mui-active mui-switch-blue cbSign" id="cbSign-switch">
              <div class="mui-switch-handle"></div>
            </div>
            <input name="cbSign" id="cbSign" type="checkbox" checked style="display:none"/>
          </div>
          <div class="loginRow btnBar">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="登 录" verify="true"  group="login" class="mui-btn mui-btn-primary btnLogin"/>
            <button type="button" id="btnRegister" href="Register.ashx" class="mui-btn mui-btn-success btnRegister" >注 册</button>
            <!--<div class="loginRow btnBar"> <a href="Login.ashx?istry=true" class="aTryout">暂时试用</a>--> </div>
          <div class="loginRow" style="margin-top:20px;"> <a href="{$from}" id="back" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a> <span class="mui-badge mui-badge-warning selfpw"><a href="SelfPwFind.ashx" type="link">忘记密码</a> </span> &nbsp;
            <vt:if var="forsms" value="true" compare="="> <a class="mui-badge mui-badge-primary selfpw" href="Login.ashx?loyout=mobile" type="link">手机验证登录</a></vt:if>
          </div>
        </form>
      </vt:if>
      <vt:if var="loyout" value="mobile" compare="=">
        <form id="mobiLogin" name="mobiLogin" method="post">
          <div class="loginRow">
            <div class="loginRowRight iconfont">&#xe606;</div>
            <div class="loginRowLeft">
              <input type="text" name="tbPhone" value=""  class="mui-input-clear textbox width" nullable="false"  star="false"  group="login|loginsms" placeholder="手机号">
            </div>
          </div>
          <div class="loginRow">
            <div class="loginRowRight">
              <div class="loginRowRight iconfont">&#xe629;</div>
            </div>
            <div class="loginRowLeft">
              <input name="from" type="hidden" value="{$from}" />
              <input type="number" name="tbCode" class="mui-input-password textbox verify" nullable="false"  star="false"  lenlimit="4-4"  group="login|loginsms" placeholder="验证码">
              <img src="/Utility/codeimg.aspx?name=accsmslogincode" class="verifyCode"/> </div>
          </div>
          <div class="loginRow">
            <div class="loginRowRight">
              <div class="loginRowRight iconfont">&#xe750;</div>
            </div>
            <div class="loginRowLeft">
              <input type="number" name="tbSms" class="mui-input-password textbox verify" nullable="false"  star="false"  lenlimit="6-6"  group="login" placeholder="短信验证码">
              <div class="right-btn" id="getSms" waiting="{num}秒" group="loginsms">获取短信</div>
            </div>
          </div>
          <div class="loginRow ">
            <div class="mui-switch mui-active mui-switch-blue cbSign" id="cbSign-switch">
              <div class="mui-switch-handle"></div>
            </div>
            <input name="cbSign" id="cbSign" type="checkbox" checked style="display:none"/>
          </div>
          <div class="loginRow btnBar">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="登 录" verify="true"  group="login" class="mui-btn mui-btn-primary btnLogin"/>
            <button type="button" id="btnRegister" href="Register.ashx" class="mui-btn mui-btn-success btnRegister" >注 册</button>
            <!--<div class="loginRow btnBar"> <a href="Login.ashx?istry=true" class="aTryout">暂时试用</a>--> </div>
          <div class="loginRow" style="margin-top:20px;"> <a href="{$from}" id="back" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a> <span class="mui-badge mui-badge-warning selfpw"><a href="SelfPwFind.ashx" type="link">忘记密码</a> </span> &nbsp;
            <vt:if var="forpw" value="true" compare="="><a class="mui-badge mui-badge-primary selfpw" href="Login.ashx" type="link">账号登录</a> </vt:if>
          </div>
        </form>
      </vt:if>
      <!--第三方登录-->
      <div class="titbar"> <span class="line"></span>
        <div class="name"> <span>其它方式登录 </span></div>
      </div>
      <dl class="OAuth">
        <vt:if var="QQLoginIsUse" value="true" compare="=">
          <dd><a href="#" tag="qqlogin" appid="{$QQAPPID}" returl="{$QQReturl}" orgid="{$org.Org_id}"><b class="QQ-icon"></b> <span id="qqLoginBtn">QQ</span></a></dd>
        </vt:if>
        <vt:if var="WeixinLoginIsUse" value="true" compare="=">
          <dd><a href="#" tag="weixinlogin" appid="{$WeixinAPPID}" returl="{$WeixinReturl}" orgid="{$org.Org_id}"><b class="weixin-icon"></b> <span>微信</span></a></dd>
        </vt:if>
      </dl>
      <script type="text/javascript">
	  //如果第三方登录没有启用，则不显示相关信息
	  if($(".OAuth").children().size()<1){
		  $(".titbar").hide();
	  }
	  </script>
      <vt:else/>
      <div class="noLogin"> 暂停登录</div>
    </vt:if>
  </div>
  <!--主内容区结束--> 
</div>
</body>
</html>
