<!DOCTYPE html>
<html>
<head>
<title>资金明细</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/MoneyDetails.js?ver={$version}"></script>
<link rel="stylesheet" href="Styles/MoneyDetails.css?ver={$version}" />
</head>
<body>

  <!--主界面部分-->
  <div class="mui-inner-wrap">
    <header class="mui-bar mui-bar-nav"><a href="#" class="iconfont mui-pull-left nav-left" type="back">&#xe646;</a> 
      <h1 class="mui-title"><span class="iconfont">&#xe665;</span> 资金明细</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper" id="pullrefresh"> 
      <!--下拉刷新容器-->
      <div class="mui-scroll">
        <ul id="detail-view" class="mui-table-view">
        </ul>
      </div>
    </div>
    <!-- 隐藏侧滑菜单的层 -->
    <div class="mui-off-canvas-backdrop"> </div>
    <space></space>
    <vt:include file="inc/footer.html" />
  </div>

</body>
</html>
