<!DOCTYPE html>
<html>
<head>
<title>{$column.Col_Name}</title>
<vt:include file="inc/meta.inc" />
<link rel="stylesheet" href="Styles/News.css?ver={$version}" type="text/css"/>
<script type="text/javascript" src="Scripts/News.js?ver={$version}"></script>
<meta charset="utf-8">
</head>
<body>

<!--下拉刷新容器-->
<div class="mui-content mui-scroll-wrapper">
  <div class="mui-scroll">
    <vt:foreach  from="$#.cols" item="c" remark="新闻栏目">
      <vt:function var="isChildren" method="isColumns" args="$#.c.col_id"/>
      <div class="mui-card"> 
        <!--页眉，放置标题-->
        <div class="mui-card-header">
          <vt:if var="isChildren" value="false" compare="="> <a class="mui-navigate-right col-tit" href="newslist.ashx?colid={$:#.c.col_id}" type="link">{$:#.c.col_Name}</a>
            <vt:else />
            <a class="mui-navigate-right col-tit" href="news.ashx?colid={$:#.c.col_id}" type="link">{$:#.c.col_Name}</a> </vt:if>
        </div>
        <!--内容区-->
        <div class="mui-card-content">
          <vt:function var="arts" method="getArticle" args="$#.c.col_id" args="6"/>
          <ul class="mui-table-view">
            <vt:foreach  from="$#.arts" item="data" remark="新闻文章">
              <li class="mui-table-view-cell"> <a href="article.ashx?id={$:#.data.art_id}" type="open" title="{$:#.data.art_title}">{$:#.data.art_title}</a> <span class="mui-badge">{$:#.data.art_pushTime  format="M-dd"}</span> </li>
            </vt:foreach>
          </ul>
        </div>
      </div>
      <vt:foreachelse/>
      <div class="no-info">没有信息</div>
    </vt:foreach>
    <space></space>
  </div>
</div>

<vt:include file="inc/footer.html" />
</body>
</html>