<!doctype html>
<html>
<head>
<title>{$notice.No_Ttl}</title>
<vt:include file="inc/meta.inc" />
<link href="Styles/notice.css?ver={$version}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Scripts/notice.js?ver={$version}"></script>
</head>
<body>

  <div class="header-top"> <a href="#" class="iconfont mui-pull-left nav-left" type="back">&#xe646;</a>
    <form action="notices.ashx" method="get" id="formSearch">
      <input name="sear" type="search" id="tbSearch" class="sear" placeholder="搜索">
    </form>
    <a href="#" class="iconfont btnSearch">&#xe679;</a> 
     <a href="notices.ashx" type="link" class="btnMore">更多</a>
     </div>
<!--主界面部分-->
<div class="mui-inner-wrap">
  
 <space></space>
    <div class="mui-scroll">
      <div id="artBox">
        <div class="artTitle">
          <vt:if var="notice.No_Ttl" value="" compare="!="> {$notice.No_Ttl}
            <vt:else/>
            (当前资讯不存在，可能是参数引用错误) </vt:if>
        </div>
        <div class="artAttrBar"> <span class="artTime">{$notice.no_StartTime format="yyyy-M-dd hh:m:s"}</span></span> 
          <!--<span class="artSharp">分享 </span>  --> 
        </div>
        <!--正文 -->
        <div id="artContext"> {$notice.No_Context} </div>
      </div>
       <space></space>
    </div>

</div>

<vt:include file="inc/footer.html" />
</body>
</html>
