<!doctype html>
<html>
<head>
<title>试题收藏</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/AutoLoyout.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/jquery.touchSwipe.min.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/QuesExercisesEvent.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/QuesExercisesState.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/QuesCollects.js?ver={$version}"></script>
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="/Utility/CoreStyles/Jme.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="Styles/QuesCollects.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body style="display:none;" quesType="{$quesType}" quscount="{$ques.Length}">
<script>
    document.body.onselectstart = document.body.oncontextmenu = function () { return false; };
    document.body.onpaste = document.body.oncopy = function () { return false; };
</script> 
<script type="text/javascript">
        //试用试题数与总试题数
        var tryNum = Number("{$#.tryNum}");
        var Total = Number("{$#.Total}");
        //是否登录
        var isLogin = "{$#.Account.Ac_id}" != "";
		var acid="{$#.Account.Ac_id}";
    </script>
<div loyout="row" height="40" class="topBpx">
  <div loyout="column" width="5"> </div>
   <div loyout="column" width="36"> <a class="goback" type="link" href="QuesOutlines.ashx?couid={$couid}"></a> </div>
  <div loyout="column" width="36"> <a class="home" href="default.ashx" type="link"></a> </div>
   <div loyout="column"></div>
    <div loyout="column" width="36" class="btnClear del">清空</div>
   <div loyout="column" width="36" class="btnDel del">删除</div>
  <div loyout="column"  width="120" class="fontsize">
    <div id="addFont" class="fontoper">+</div>
    <div id="subFont" class="fontoper">-</div>
    <div style="float:right;">字体：</div>
  </div>
<div loyout="column" width="40" class="btnSetup"> </div>
</div>
<!--答题卡 -->
<div id="cardPanel" style="display: none">
  <div id="cardBox">
    <div id="cardBoxTitleBar">
      <div id="cardBoxTitle"> 答题卡&nbsp;<span class="state1">正确</span><span class="state2">错误</span><span class="state0">未做</span>
      <span class="state3">当前</span>
      </div>
       <div id="cardBoxColse"></div>
    </div>
    <div id="cardBoxInner"> </div>
  </div>
</div>
<div loyout="row" class="context">
  <vt:if var="ques.Count" value="0" compare="=">
    <div id="noQues">当前选择范围没有供学习的试题！<br/>
      请选择其它的章节。</div>
  </vt:if>
  <!-- <vt:if var="ques.Count" value="0" compare=">"> 试题 </vt:if> --> 
  <!--试题区 -->
  <div id="quesArea">
    <vt:foreach id="ques" from="$#.ques" item="q" index="i" remark="试题">
      <div class="quesItem" qid="{$:#.q.qus_id}" index="{$:i}" type="{$:#.q.qus_type}">
        <div class="quesBox"> 
          <!--试题的题干 -->
          <div class="quesTitle"><span class="index">{$:i}</span>.<span class="ques-type"></span> {$:#.q.qus_title} </div>
          <!--试题答案选项 -->
          <div class="quesItemsBox t{$q.qus_type}">
            <vt:if var="q.qus_type" value="1" compare="="> 
              <!--单选题 -->
              <vt:function var="items" method="AnswerItems" args="$#.q"/>
              <vt:foreach from="$#.items" item="ans" index="j">
                <div correct="{$:ans.Ans_IsCorrect}" ansid="{$:ans.Ans_id}"><b></b>{$:ans.Ans_Context} </div>
              </vt:foreach>
            </vt:if>
            <vt:if var="q.qus_type" value="2" compare="="> 
              <!--多选题 -->
              <vt:function var="items" method="AnswerItems" args="$#.q"/>
              <vt:foreach from="$#.items" item="ans" index="j">
                <div class="answer"  correct="{$:ans.Ans_IsCorrect}" ansid="{$:ans.Ans_id}"><b></b>{$:ans.Ans_Context} </div>
              </vt:foreach>
            </vt:if>
            <vt:if var="q.qus_type" value="3" compare="="> 
              
              <!--判断题 -->
              <vt:function var="answer" method="GetAnswer" args="$#.q"/>
              <vt:if var="answer" value="正确" compare="=">
                <div class="answer" correct="true" ansid="0"><b></b>正确</div>
                <div class="answer" correct="false" ansid="1"><b></b>错误</div>
                <vt:else/>
                <div class="answer" correct="false" ansid="0"><b></b>正确</div>
                <div class="answer" correct="true" ansid="1"><b></b>错误</div>
              </vt:if>
            </vt:if>
            <vt:if var="q.qus_type" value="4" compare="=">
              <div class="answer">
                <i> </i>回答：
                <textarea name="" class="textbox4"></textarea>
              </div>
            </vt:if>
            <vt:if var="q.qus_type" value="5" compare="="> 
              <!--填空题 -->
              <vt:function var="items" method="AnswerItems" args="$#.q"/>
              <vt:foreach from="$#.items" item="ans" index="j">
                <div class="answer" correct="{$:ans.Ans_Context}" ><b></b>
                  <input name=""  class="textbox5" type="text"/>
                </div>
              </vt:foreach>
            </vt:if>
          </div>
          <!--提交按钮-->
          
          <div class="btnSubmit" font="no"> <span class="iconfont">&#xe605;</span>提交答题信息</div>
        </div>
        
        <!--试题答案-->
        <div class="quesAnswerBox">
          <div class="quesAnswerTitle">正确答案：
            <div class="answerBtnbar"> <span class="btnError">报错</span> <span class="btnFav" style="display:none">收藏</span> <span class="btnNote">笔记</span> </div>
          </div>
          <div class="quesAnswerContent">
            <vt:function var="answer" method="GetAnswer" args="$#.q"/>
            {$answer}</div>
          <vt:if var="q.Qus_Explain" value="" compare="!=">
            <div class="quesAnswerTitle">试题解析：</div>
            <div class="quesAnswerContent">{$:#.q.Qus_Explain} </div>
          </vt:if>
        </div>
      </div>
     <vt:foreachelse/>
     <div id="noQues">
     没有试题！
     </div>
    </vt:foreach>
  </div>
</div>

<!--底部按钮区 -->
<div loyout="row" height="40" class="ctlBtn">
  <div loyout="column" width="5"> </div>
  <div loyout="column"  class="correct-rate" width="140">0</div>
  <div loyout="column" class="correct-num"  width="60">0</div>
  <div loyout="column" class="error-num"  width="60">0</div>
  <div loyout="column" class="foot-ico" id="btnCard"> <span id="indexNum" initIndex="1" index="1">1</span>/<span id="Total">{$Total}</span></div>
</div>
<!--<div loyout="row" height="2" class="showTxt" ></div> -->
</body>
</html>
