<!DOCTYPE html>
<html>

<head>
  <title>试题练习-《{$course.cou_name}》</title>
  <vt:include file="inc/icon-color.inc" />
  <vt:include file="inc/meta.inc" />
  <script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
  <script type="text/javascript" src="Scripts/QuesExercisesState.js?ver={$version}"></script>

  <link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
  <link href="Styles/QuesOutlines.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>

<body>

  <!--主界面部分-->
  <div class="mui-inner-wrap" id="vapp" v-clock> <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left back"
      type="link" :href="'CoursePage.ashx?couid='+course.Cou_ID"></a>
    <a class="home" href="default.ashx" type="link"></a>
    <div class="mui-scroll">
      <div class="chart-area">
        <div class="chart-back">
          <div class="y"> </div>
        </div>
        <div class="chart-txt"> <span>正确率</span> <span class="cou-rate" v-if="passrate">{{passrate}}%</span></div>
        <dl class="quesnumbox">
          <dd>总题量：<span class="sum">{{sumcount}}</span>道</dd>
          <dd>已练习：<span class="ansSum">{{learnques}}</span>道</dd>
        </dl>
      </div>
      <div class="mainmenuBox">
        <div @click="mainmenuClick('QuesError.ashx')"><svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-cuotitubiao"></use>
          </svg> <span> 错题回顾 </span> </div>
        <div @click="mainmenuClick('QuesCollects.ashx')"><svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-shoucang3"></use>
          </svg> <span> 我的收藏 </span> </div>
        <div @click="mainmenuClick('QuesNotes.ashx')"><svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-blog"></use>
          </svg> <span> 我的笔记 </span> </div>
        <div @click="mainmenuClick('QuesOften.ashx')"><svg class="icon mm-ico" aria-hidden="true">
            <use xlink:href="#icon-bar-chart"></use>
          </svg> <span> 高频错题 </span> </div>
      </div>
      <!--    <ul class="mui-table-view" style="display:none">
      <li class="mui-table-view-cell">
        <vt:if var="log.Lsq_ID" value="0" compare=">"> <a href="QuesExercises.ashx?couid={$log.cou_id}&olid={$log.ol_id}&qid={$log.qus_id}" class="log" olid="{$log.ol_id}" type="link"> 继续练习 <span class="mui-pull-right logtime">{$log.lsq_lastTime}</span></a>
          <vt:else />
          按章节练习 </vt:if>
      </li>
    </ul>-->
      <!--章节输出-->
      <ul class="mui-table-view" style="margin-top:10px">
        <li class="mui-table-view-cell outline-tit"><b></b> 按章节练习
          <a v-if="last!=null" type="link" class="log"
            :href="'QuesExercises.ashx?couid='+last.info.couid+'&olid='+last.info.olid+'&qid='+last.qid">
            继续练习</a>
        </li>
      </ul>
      <ul class="mui-table-view" v-if="outlines.length>0">
        <vt:expression var="r" args="$d.ol_level" args="20" expression="{0}*{1}" />
        <li v-for="d in outlines" :count="d.Ol_QuesCount" class="mui-table-view-cell outline" :olid="d.Ol_ID" v-if="d.Ol_QuesCount>0"
          :xpath="d.Ol_XPath" :pid="d.Ol_PID" :style="{'margin-left':d.Ol_Level*20+'px'}" @tap="outlineClick(d)">
          <b :class="'per'+correctper(d.Ol_ID)"></b>
          <a type="nofinish" class="noselect">{{d.Ol_XPath}} {{d.Ol_Name}}</a>
          <template v-if="isbuy || course.Cou_IsFree || course.Cou_IsLimitFree || (course.Cou_IsTry && d.Ol_IsFree) ">
            <span class="mui-badge" v-if="!d.Ol_IsFinish">未完结</span>
            <span class="mui-badge count" v-else>{{learnedNum(d.Ol_ID)}}/{{d.Ol_QuesCount}}</span>
          </template>
          <template v-else>
            <span class="mui-badge">购买</span>
          </template>
        </li>
      </ul>
      <ul class="mui-table-view" v-else>
        <li class="mui-table-view-cell"> 当前课程没有章节 </li>
      </ul>
      <space></space>
      <space></space>
    </div>
    <quesfooter :course="course"></quesfooter>
  </div>
  <space></space>
  <script type="text/javascript" src="Scripts/QuesOutlines.js?ver={$version}"></script>
</body>

</html>