<!doctype html>
<html>
<head>
<title>{$outline.ol_name}</title>
<vt:include file="inc/meta-nomui.inc" />
<script type="text/javascript" src="CoreScripts/AutoLoyout.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/jquery.touchSwipe.min.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/QuesExercises.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/QuesExercisesEvent.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/QuesExercisesState.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/QuesExercisesGuide.js?ver={$version}"></script>
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="Styles/QuesExercises.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="/Utility/CoreStyles/Jme.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body style="display:none;" quesType="{$quesType}" quscount="{$ques.Length}" canStudy="{$canStudy}">
<script>
    document.body.onselectstart = document.body.oncontextmenu = function () { return false; };
    document.body.onpaste = document.body.oncopy = function () { return false; };
</script> 
<script type="text/javascript">        
        //是否登录
        var isLogin = "{$#.Account.Ac_id}" != "";
		var acid="{$#.Account.Ac_id}";
    </script>
<div loyout="row" height="40" class="topBpx">
  <div loyout="column" width="5"> </div>
  <div loyout="column" width="36"> <a class="goback" type="link" href="QuesOutlines.ashx?couid={$couid}"></a> </div>
  <div loyout="column" width="36"> <a class="home" href="default.ashx" type="link"></a> </div>
  <div loyout="column" class="fontsize">
    <div id="addFont" class="fontoper">+</div>
    <div id="subFont" class="fontoper">-</div>
    <div style="float:right;">字体：</div>
  </div>
   <div loyout="column" width="40" class="btnSetup"> </div>
</div>
<!--答题卡 -->
<div id="cardPanel" style="display: none">
  <div id="cardBox">
    <div id="cardBoxTitleBar">
      <div id="cardBoxTitle"> 答题卡&nbsp;<span class="state1">正确</span><span class="state2">错误</span><span class="state0">未做</span>
      <span class="state3">当前</span>
      </div>
      <div id="cardBoxColse"></div>
    </div>
    <div id="cardBoxInner"> </div>
  </div>
</div>
<div loyout="row" class="context">
  <vt:if var="ques.Count" value="0" compare="=">
    <div id="noQues">当前选择范围没有供学习的试题！<br/>
      请选择其它的章节。</div>
  </vt:if>
  <!-- <vt:if var="ques.Count" value="0" compare=">"> 试题 </vt:if> --> 
  <!--试题区 -->
  <div id="quesArea">
    
  </div>
</div>

<!--底部按钮区 -->
<div loyout="row" height="40" class="ctlBtn">
  <div loyout="column" width="5"> </div>
  <div loyout="column"  class="correct-rate" width="140">0</div>
  <div loyout="column" class="correct-num"  width="60">0</div>
  <div loyout="column" class="error-num"  width="60">0</div>
  <div loyout="column" class="foot-ico" id="btnCard"> <span id="indexNum" initIndex="1" index="1">1</span>/<span id="Total">{$Total}</span></div>
</div>

</body>
</html>
