<!doctype html>
<html>
<head>
<title>学员充值</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="Styles/Recharge.css?ver={$version}"/>
<script type="text/javascript" src="Scripts/Recharge.js?ver={$version}"></script>
</head>
<body>

  <!--主界面部分-->
  <div class="mui-inner-wrap">
    <header class="mui-bar mui-bar-nav"><a href="#" class="iconfont mui-pull-left nav-left" type="back">&#xe646;</a> 
      <h1 class="mui-title"><span class="iconfont">&#xe640;</span> 学员充值</h1>
    </header>
    <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
      <div class="mui-scroll">
        <ul class="mui-table-view">
        <vt:if var="Account.Ac_ID" value="0" compare=">"> 
          <li class="mui-table-view-cell mui-media"> <a href="javascript:;">
            <vt:if var="Account.Ac_photo" value="" compare="="> <img class="mui-media-object mui-pull-left" src="images/nophoto.jpg"/>
              <vt:else/>
              <img class="mui-media-object mui-pull-left" src="{$stpath}{$:#.Account.Ac_photo}"/></vt:if>
            <div class="mui-media-body">
              <vt:if var="Account.Ac_name" value="" compare="="> （无名）
                <vt:else/>
                {$Account.Ac_name} </vt:if>
              <span class="money-item">余额 <span class="iconfont">&#xe691;</span> {$:#.Account.Ac_money format="0.00"}元 (券{$:#.Account.Ac_Coupon}个)</span>
              <p class='mui-ellipsis'>
                <vt:if var="Student.Ac_PhoneMobi" value="" compare="!="> {$Student.Ac_PhoneMobi} </vt:if>
                （账号：{$:#.Account.Ac_accname} ） </p>
            </div>
            </a> </li>
             <vt:else/>
              <li class="mui-table-view-cell mui-media">
              <img class="mui-media-object mui-pull-left" src="images/nophoto.jpg"/> <a href="login.ashx" type="link">未登录</a>
                <p class='mui-ellipsis' id="nologin"><a href="login.ashx" type="link">点击此处登录</a></p>
              </li>
            </vt:if>
        </ul>
        <!--学员个人信息（结束），如头像-->
        
        <div class="mui-card">
          <div class="mui-card-header"><span class="card-tit"><span class="iconfont ico">&#xe692;</span>充值卡</span><span id="card-error" class="error-show"></span> </div>
          <!--内容区-->
          <div class="mui-card-content">
            <form class="mui-input-group" id="formPayCard" star="false">
              <div class="mui-input-row">
                <label>充值码</label>
                <input name="tbCard" id="tbCard" value="" type="text"  class="textbox" nullable="false" regex="\d+(\s|)-(\s|)\d+"  group="code" />
              </div>
              <div class="mui-input-row txt"> 格式为“充值码-密码”，破折号不可缺少 </div>
              <div class="mui-input-row txt"  style="display:none"> <input id="upload_qrcode" type="file" accept="image/*;" capture="user" > </div>
              <div class="mui-button-row">
              <div id="btn_camera"><img src="Images/qrcode.png" loading="load_015.gif" normal="qrcode.png"/>二维码</div>  <button class="mui-btn mui-btn-primary enter" id="btnPayCard" type="submit"  verify="true"  data-loading-text="提交中"   group="code">充 值</button>
              </div>
            </form>
          </div>
        </div>
        <div class="mui-card"> 
          <!--在线充值-->
          <div class="mui-card-header"><span class="online-tit"><span class="iconfont ico">&#xe640;</span>在线充值</span> <span id="online-error" class="error-show"></span> </div>
          <!--内容区-->
          <vt:if var="pis.Length" value="0" compare=">">
            <div class="mui-card-content">
              <form class="mui-input-group"  action="/pay/PayEntry.ashx" method="post">
                <div class="mui-input-row">
                  <label>金额</label>
                  <div class="mui-numbox" data-numbox-min='0.01' data-numbox-max='9999' data-numbox-step='10' >
                    <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                    <input name="money" type="number" class="mui-input-numbox" id="money" value="1" step="0.01" />
                    <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                  </div>
                  <input name="paiid" type="hidden" id="paiid" value="">
                </div>
                <div class="mui-input-row" style="height:auto;">
                  <ul class="mui-table-view mui-table-view-chevron">
                    <vt:foreach id="pis" from="$#.pis" item="data" remark="支付接口">
                      <li class="mui-table-view-cell payitem" select="false" pattern="{$:#.data.Pai_Pattern}" scene="{$:#.data.Pai_Scene}" painame="{$:#.data.Pai_Name}" paiid="{$:#.data.Pai_ID}"> <a class="mui-navigate-right" href="#"><img src="/pay/images/{$:#.data.Pai_Pattern}.png"/>{$:#.data.Pai_Name} <span class="right-item iconfont ico" style="display:none">&#xe6fd;</span> </a> </li>
                    </vt:foreach>
                  </ul>
                </div>
                <div class="mui-button-row">
                  <button class="mui-btn mui-btn-primary enter" id="btnSubmit" type="submit"  data-loading-text="提交中"  verify="true"  group="code">充 值</button>
                </div>
              </form>
            </div>
            <vt:else />
            <div class="mui-card-content">
              <div class="mui-input-row txt"> 当前系统没有开通在线支付接口</div>
            </div>
          </vt:if>
        </div>
        <!-- 主内容结束 --></div>
     <space></space>
    <vt:include file="inc/footer.html" />
    </div>
    <!--主界面结束--> 
  </div> 


<script>
 mui.init();
 mui('#offCanvasContentScroll').scroll();
</script>
</body>
</html>