<!doctype html>
<html>
<head>
<title>学员注册</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/Verify.js?ver={$version}"></script>
<script type="text/javascript" src="Scripts/Register.js?ver={$version}"></script>
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<link href="Styles/Register.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="mui-scroll">
        <div class="loginArea" tag="login">
          <div class="loginRow">
            <div class="errTextbox">              
              <vt:if var="state" value="1" compare="="> 
                <!--注册成功！--> 
                注册成功！ 
                <script>
			//将登录信息写入本地
			$.storage("accid","{$accid}");
			$.storage("accpw","{$accpw}");
			//弹出提示，并转向
			var from="{$from}";
			var time=600;
            mui.toast('注册成功',{ duration:time, type:'div' }); 
			setTimeout("success_gourl()", time );
			function success_gourl(){
				document.location.href = "default.ashx";				
			}
            </script> 
              </vt:if>
            </div>
          </div>
          <vt:if var="state" value="1" compare="!=">
            <vt:if var="IsRegStudent" value="false" compare="=">
              <form id="registerForm" name="registerForm" method="post">
                <div class="loginRow">
                  <div class="loginRow">
                    <div class="loginRowRight iconfont">&#xe606;</div>
                    <div class="loginRowLeft">
                      <input type="text" name="Ac_MobiTel1"  class="mui-input-clear textbox width" nullable="false"  star="false" group="reg|getsms"  placeholder="账号/手机号">
                    </div>
                  </div>
                </div>
                <div class="loginRow">
                  <div class="loginRowRight iconfont">&#xe673;</div>
                  <div class="loginRowLeft">
                    <input type="password" name="Ac_Pw" class="mui-input-password textbox width" nullable="false" group="reg" star="false"  placeholder="登录密码">
                  </div>
                </div>
                <div class="loginRow">
                  <div class="loginRowRight iconfont">&#xe673;</div>
                  <div class="loginRowLeft">
                    <input type="password" name="Ac_Pw2" class="mui-input-password textbox width" nullable="false"  group="reg" star="false"  sametarget="tbPw" placeholder="密码确认">
                  </div>
                </div>
                <div class="loginRow">
                  <div class="loginRow">
                    <div class="loginRowRight iconfont">&#xe623;</div>
                    <div class="loginRowLeft">
                      <input type="text" name="tbRec"  class="mui-input-clear textbox width" group="reg" datatype="mobile" placeholder="推荐人手机（非必填）">
                    </div>
                  </div>
                </div>
                <div class="loginRow">
                  <div class="loginRowRight">
                    <div class="loginRowRight iconfont">&#xe629;</div>
                  </div>
                  <div class="loginRowLeft">
                    <input name="from" type="hidden" value="{$from}" />
                    <input type="text" name="tbCode" class="mui-input-password textbox verify" nullable="false"  group="reg|getsms" star="false"   lenlimit="4-4"  placeholder="验证码">
                    <img src="/Utility/codeimg.aspx?name=registercode" class="verifyCode"/> </div>
                </div>
                 <vt:if var="IsRegSms" value="true" compare="=">
                <div class="loginRow">
                  <div class="loginRowRight">
                    <div class="loginRowRight iconfont">&#xe750;</div>
                  </div>
                  <div class="loginRowLeft">                    
                    <input type="text" name="tbSms" class="mui-input-password textbox verify" nullable="false" group="reg" star="false"  lenlimit="6-6"  placeholder="短信验证码">
                     <div class="right-btn" id="getSms" group="getsms" waiting="{num}秒">获取短信</div></div>
                </div>
                 </vt:if>
                <div class="loginRow lbar">
          <label>
            <input name="cbAgree" type="checkbox"/>
            我同意</label><a href="RegisterAgreement.ashx" type="open" id="linkAgreement">《平台使用协议》</a> 
        </div>
                <div class="loginRow btnBar">
                  <input type="submit" name="btnSubmit" id="btnSubmit" value="同意协议并注册" group="reg" verify="true" class="mui-btn mui-btn-primary" > </input>
                  <!-- <input type="submit" name="btnSubmit" id="btnSubmit" value="注&nbsp;&nbsp;册"  verify="true"  group="login" class="btnLogin"/>--> 
                </div>
                <div class="loginRow"><a href="{$from}" id="back" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a> </div>
              </form>
              <vt:else/>
              <div class="notReg"> 当前系统禁用了学员注册。 </div>
            </vt:if>
          </vt:if>
        </div>
      </div>
</div>
</body>
</html>
