<!doctype html>
<html>
<head>
<title>找回密码</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/SelfPwFind.js?ver={$version}"></script>
<link href="Styles/SelfPwFind.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>

<!--主界面部分-->
<div class="mui-inner-wrap">
  <header class="mui-bar mui-bar-nav"> 
  
  <a href="login.ashx" class="iconfont mui-pull-left nav-left" type="link">&#xe6b0;</a>
    <h1 class="mui-title">找回密码</h1>
  </header>
  
  <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
 <div class="infoRow" id="error-show">
 </div>
      <form id="student" name="student" method="post">
        <vt:if var="step" value="1" compare="=">
          <div class="topBar">
            <div class="infoRow msg">请输录您的账号 </div>
          </div>
          <div class="infoRow">
            <div class="RowRight">账&nbsp;&nbsp;号：</div>
            <div class="RowLeft">
              <input name="tbAcc" type="number"  class="textbox width" nullable="false"  group="login" star="false" />
            </div>
          </div>
        </vt:if>
        <vt:if var="step" value="2" compare="=">
        <div class="infoRow">
          <div class="RowRight">账&nbsp;&nbsp;号：</div>
          <div class="RowLeft"> {$st.st_accname}
          <input name="tbAcc" type="hidden" value="{$st.st_accname}" />
           </div>
        </div>
          <div class="infoRow">
            <div class="RowRight">安全问题：</div>
            <div class="RowLeft">{$st.Ac_Qus} </div>
          </div>
          <div class="infoRow">
            <div class="RowRight">答案：</div>
            <div class="RowLeft">
              <input name="tbAnswer" value="" type="text"  class="textbox width" nullable="false" style="width:95%"  group="login" />
            </div>
          </div>
          </vt:if>
           <vt:if var="step" value="3" compare="=">
           <div class="infoRow">
          <div class="RowRight">账&nbsp;&nbsp;号：</div>
          <div class="RowLeft"> {$:#.st.st_accname}
          <input name="tbAcc" type="hidden" value="{$:#.st.st_accname}" />
           </div>
        </div>
          <div class="infoRow">
            <div class="RowRight">新密码：</div>
            <div class="RowLeft">
              <input name="tbNewPw" type="password"  class="textbox width" lenlimit="6-12" nullable="false"  group="login" />
            </div>
          </div>
          <div class="infoRow">
            <div class="RowRight">密码确认：</div>
            <div class="RowLeft">
              <input name="tbPw2" type="password"  class="textbox width" nullable="false"  group="login" sametarget="tbNewPw"/>
            </div>
          </div>
          <div class="infoRow">
              <div class="RowRight"> 验证码：</div>
              <div class="RowLeft">
                <input name="from" type="hidden" value="{$from}" />
                <input name="tbCode" type="number"  class="textbox verify" size="8" nullable="false" lenlimit="4-4" datatype="number"   group="login" />
                <img src="/Utility/codeimg.aspx?name=stpwcode" class="verifyCode"/> </div>
            </div>
        </vt:if>
        <div class="infoRow"></div><div class="infoRow"></div>
        <div class="infoRow">
        <div class="RowRight">&nbsp;</div>
        <div class="RowLeft"> <button type="submit" class="mui-btn mui-btn-primary btnEdit" id="btnSubmit" type="button" verify="true"  group="login">确认</button>
         </div>
         </div>
      </form>
   
</div>


 <!--主内容区结束--> 
    </div>
  </div>

<vt:include file="inc/footer.html" />
<!--主界面结束-->
</body>
</html>
