<!DOCTYPE html>
<html>
<head>
<title>我的课程</title>
<vt:include file="inc/meta.inc" />
<meta charset="utf-8" />
<script type="text/javascript" src="Scripts/SelfCourse.js?ver={$version}"></script>
<link href="Styles/SelfCourse.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body accid="{$Account.ac_id}">
<vt:function var="path" method="Path" args="Course"/>
<div class="header-top"> <a href="#" class="iconfont mui-pull-left nav-left" type="back">&#xe646;</a>
    <form action="courses.ashx" method="get" id="formSearch">
      <input name="sear" type="search" class="sear txtSearch" placeholder="搜索">
    </form>
    <a href="#" class="iconfont btnSearch">&#xe679;</a> </div>
<div class="header">
  
  <div class="accPhoto">
    <vt:if var="Account.Ac_photo" value="" compare="="> <img src="images/nophoto.jpg"/>
      <vt:else/>
      <a class="" href="SelfInfo.ashx" type="link"> <img src="{$stpath}{$:#.Account.Ac_photo}" default="../images/nophoto.jpg"/></a> </vt:if>
  </div>
   <vt:if var="Account.Ac_id" value="" compare="!=">
   <vt:if var="mremove" value="false" compare="=">
   <a class="recharge" href="Recharge.ashx" type="link">充值 </a> 
   </vt:if>
    </vt:if>
  <vt:if var="Account.Ac_id" value="" compare="!=">
   <vt:if var="mremove" value="false" compare="=">
  <a class="money" href="Recharge.ashx" type="link">{$:#.Account.Ac_money format="0.00"} </a> 
  <vt:else/>
   <a class="point" href="couponexchange.ashx" type="link">{$:#.Account.Ac_Point} 积分</a> 
  </vt:if>
   <vt:else/>
   <a class="login" href="login.ashx" type="link">未登录 </a> 
   </vt:if>
   <vt:if var="Account.Ac_id" value="" compare="!=">
  <a class="coupon"  href="CouponExchange.ashx" type="link">券{$:#.Account.Ac_Coupon}个</a> 
  </vt:if>
  <!--当前课程-->
  <div class="curr-course">
    <vt:if var="#.currCou.cou_id" value="0" compare=">">
     <a href="CoursePage.ashx?couid={$currCou.cou_id}" type="link">
     <img class="curr-logo" src="{$path}{$currCou.Cou_LogoSmall}" default="images/cou_nophoto.jpg"/> </a> 
     <span class="couName"><a href="CoursePage.ashx?couid={$currCou.cou_id}" type="link">{$currCou.cou_name}</a> </span>
      <vt:else />
      <img class="curr-logo" src="images/cou_nophoto.jpg"/>
       <span class="couName"><a href="Courses.ashx" type="link">还没有学习，前往课程中心</a></span> 
      </vt:if>
 
  </div>
</div>
 <!--课程区-->
        <div class="cour-area">
          <div class="cour-bar"> <span class="cour-tit current" title="我的课程" action="buycou">我的课程</span>
            <span class="cour-tit" title="过期课程" action="overcou">过期课程</span> 
             <span class="cour-tit" title="试学课程" action="trycou">试学课程</span> 
            <span class="cour-tit" title="搜索" style="display:none;" action="searcou">搜索</span>  </div>
          <div class="cour-context" action="buycou"> 
           
          </div>
          <div class="cour-context" action="overcou"> 
           
          </div>
           <div class="cour-context" action="trycou"> 
            
          </div>
          <div class="cour-context" action="searcou"> 
            
          </div>
          <!-- 隐藏的内容 --> 
          <img class="default-img" default="images/cou_nophoto.jpg" style="display:none;"/>
          <div class="loading" style="display:none;">
           <img src="images/load_016.gif" class="loading"/> <br/>
              <span class="loading-txt">正在加载"{0}"...</span> 
          </div>
        </div>
         <space></space>
          <!--内容结束，下面是用于筛选的表单-->
    <vt:include file="inc/SubjectSelect.html" />
<vt:include file="inc/footer.html" />
</body>
</html>