<!doctype html>
<html>
<head>
<title>{$pager.tp_name}</title>
<vt:include file="inc/meta.inc" />
<link href="Styles/TestPaper.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
<div loyout="row"  class="context">
  <div class="logo">
    <vt:if var="pager.Tp_Logo" value="" compare="="><span class="iconfont ico">&#xe68b;</span>
      <vt:else />
      <img src="{$pager.Tp_Logo}"/></vt:if>
  </div>
  <div class="name"> 《{$pager.tp_name}》 </div>
  <div class="row">
    <div class="rowRight">总分：</div>
    <div class="rowLeft"> {$pager.Tp_Total}<span class="passscore">（{$pager.Tp_PassScore}分及格）</span></div>
  </div>
  <div class="row">
    <div class="rowRight">题量：</div>
    <div class="rowLeft"> {$pager.Tp_Count}道题 </div>
  </div>
  <div class="row">
    <div class="rowRight">限时：</div>
    <div class="rowLeft"> {$pager.Tp_Span}分钟 </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="rowRight">课程：</div>
    <div class="rowLeft"> {$course.cou_Name} </div>
  </div>
  <div class="row">
    <div class="rowRight">专业：</div>
    <div class="rowLeft"> {$pager.Sbj_Name} </div>
  </div>
</div>
<div loyout="row" style="min-height:60px"> </div>
<div class="footer-pager">
  <div class="btnbox result"> <a href="Statistics.ashx?id={$pager.tp_id}&couid={$couid}" target="_top" type="link">历史成绩</a> </div>
  <div class="btnbox exam"> <a class="aStartExam" href="TestScene.ashx?id={$pager.tp_id}&couid={$couid}&action=start" target="_top" type="link">开始考试</a> </div>
</div>
</body>
</html>