<!DOCTYPE html>
<html>
<head>
<title>模拟考场</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Scripts/TestPapers.js?ver={$version}"></script>
<link href="Styles/TestPapers.css?ver={$version}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(function(){
	//是否购买，如果没有购买，则显示弹窗，提示试用题数
	var isBuy= "{$#.isBuy}"=="True" ? true : false;
	if(!isBuy){
		var msg=new MsgBox("提示", "该课程处于试用状态，购买后才能参与模拟考试。", 90, 40, "confirm");
		msg.EnterEvent=function(){
			window.location.href="CourseBuy.ashx?couid={$#.couBuy.Cou_ID}";
		}
		MsgBox.OverEvent=function(){
			window.location.href="coursepage.ashx?couid="+$().getPara("couid");
		}
		msg.Open();
	}
});
//是否登录
var isLogin="{$#.Account.Ac_id}"!="";
</script>
</head>
<body>

<!--主界面部分-->

<div class="mui-inner-wrap">
 
    <vt:if var="isBuy" value="true" compare="=">
      <div class="contextbox"> 
        
        <!--试卷列表 -->
        <vt:if var="tps.Length" value="0" compare=">">
          <vt:foreach id="course" from="$#.tps" item="data" remark="试卷">
            <div class="row" href="TestPaper.ashx?id={$:#.data.tp_id}&couid={$couid}"> 
              <!--图标 -->
              <div class="rowlogo">
                <vt:if var="#.data.Tp_Logo" value="" compare="="><span class="ico">&#xe68b;</span>
                  <vt:else />
                  <img src="{$:#.data.Tp_Logo}"/> <span class="ico" style="display:none;">&#xe68b;</span> </vt:if>
              </div>
              <!--标题 -->
              <div class="rowtxt">
                <div class="name"> {$:#.data.tp_name}</div>
                <div class="intro">共{$:#.data.Tp_Count}题，{$:#.data.Tp_Total}分；限时{$:#.data.Tp_Span}分钟</div>
              </div>
              <!--右侧标识 -->
              <div class="rightbox">
                <div class="rightTop"> 测试 </div>
                <div class="rightDow">                 
                    &#xe786;
                </div>
              </div>
            </div>
          </vt:foreach>
          <vt:else />
          <div class="noContext">当前课程没有模拟测试！</div>
        </vt:if>
      </div>
      <vt:else />
      <div class="noContext">请购买该课程！</div>
    </vt:if>

</div>

<!--底部导航菜单-->
<nav class="mui-bar mui-bar-tab footer">
<a class="foot-video" href="CourseStudy.ashx?couid={$couid}" type="link"> <b class="mitem"></b><span>视频学习</span></a>
<a class="foot-ques" href="QuesOutlines.ashx?couid={$couid}" type="link"> <b class="mitem"></b><span>试题练习</span></a>
<a class="foot-knl" href="Knowledges.ashx?couid={$couid}" type="link"> <b class="mitem"></b><span>知识库</span></a>
<a class="foot-course" href="CoursePage.ashx?couid={$couid}" type="link"> <b class="mitem"></b><span>返回课程</span></a>
<!--<a class="foot-home" href="/mobile/default.ashx" type="link" target="_blank"> <b class="mitem"></b><span>返回首页</span></a>  -->
</nav>
<script type="text/javascript">
    //底部按钮平均分布
    var footer = $("nav.footer");
    $("nav.footer a").each(function (item) {
        $(this).width(footer.width() / footer.find("a").size());
    });
</script>
</body>
</html>