section dd {
	width: 100vw;
	line-height: 150%;
}

section dd info {
	display: block;
	padding: 15px 15px 0px 15px;
	margin: 0px 0px 0px 10px;
	font-size: 15px;
}

section dd info span {
	font-size: 14px;
	color: #999;
}

section dd info buttons {
	display: flex;
	float: right;
	width: 50%;
}

section dd info buttons>* {
	flex: 1;
	text-align: center;
	font-size: 12px;
	color: #999;
}

section dd info buttons>btn i {
	font-family: "webdesk_icon" !important;
	margin-right: 1px;
	font-style: normal;
}

section dd info buttons>btn.used {
	color: #000;
	font-weight: bold;
}

section dd card-title * {
	line-height: 150% !important;
	font-size: 16px;
}

section dd card[correct="succ"] {
	background-color: #E8FFE8 !important;
}

section dd card[correct="error"] {
	background-color: #FFECE8 !important;
}

section dd img {
	max-width: 100% !important;
	height: auto;
}

/*试题选项*/

.ans_area {
	margin-left: 5px;
}

.ans_area>div {
	position: relative;
	margin: 10px;
}
card[qid] .ans_area i {
	font-style: normal;
	margin-right: 10px;
}
.ans_area>div[ansid] i {
	font-style: normal;
	margin-right: 15px !important;
	display: inline-block;
}

.ans_area>div[ansid] i::before {
	font-family: "webdesk_icon" !important;
	font-style: normal;
	font-size: 20px;
	margin-right: 5px;
}

.type1>div[ansid] i::before {	
	content: '\e85c';	
}

.type1>div[selected] i::before {	
	content: '\e85b';
}

.ans_area>div[ansid] {
	display: flex;
}

.ans_area>div[ansid] * {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.ans_area>div[ansid] * {
	line-height: auto !important;
}


.ans_area>div[correct]::before {
	content: '\a048';
}

.type2>div i::before {	
	content: '\e603';
}

.type2>div[selected] i::before {
	content: '\e78b';
}
/*判断题*/
card[qid] .type3 {
	display: flex;
}

card[qid] .type3>div:first-child {
	margin-right: 40px;
}

card[qid] .type3>div i::before {
	font-family: "webdesk_icon" !important;
	content: '\e603';
	font-style: normal;
	margin-right: 5px;
	font-size: 22px;
}

card[qid] .type3>div[selected] i::before {
	content: '\e78b';
}
/*填空题*/

.type5 {
	counter-reset: section;
}

.type5>div {
	position: relative;
	margin-left: 30px;
}

.type5>div::before {
	counter-increment: section;
	content: counter(section) ". ";
	display: block;
	position: absolute;
	top: 5px;
	width: 10px;
	height: 40px;
	left: -20px;
}

.type5>div input {
	width: calc(100% - 30px);
	padding: 5px 15px;
}

section textarea {
	width: calc(100% - 22px);
	padding: 10px;
}

/*提交的按钮*/
.type2 button, .type4 button, .type5 button {
	float: right;
	height: 35px;
	color: #409eff;
	background: #ecf5ff;
	border-color: #b3d8ff;

	display: inline-block;
	white-space: nowrap;
	cursor: pointer;

	border: 1px solid #dcdfe6;

	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin-bottom: 15px;
	transition: .1s;
	font-weight: 500;
	padding: 2px 20px;
	font-size: 14px;
	border-radius: 4px;
}


#vapp[view='night'] *:not([noview]) {
	background-color: #222222;
	color: #cecece;
}

#vapp[view='cosy'] *:not([noview]) {
	background-color: #eaf8ec;
	color: #222222;
}