@charset "utf-8";
.form {
	width: 100%;
	height: calc(100% - 48px);
	overflow-y: auto;
	padding: 10px 0px 0px 0px;
}

.content {
	display: flex;
}

/*图片上传*/

.upload_img_area {
	width: 240px;
	height: 135px;
	background-color: #eee;
	cursor: pointer;
}

.upload_img_area .error {
	width: 100%;
	box-sizing: border-box;
	height: auto;
	bottom: -0px !important;
}

.upload_img_area>div, .upload_img_area img {
	width: 100%;
	height: 100%;
}

.upload_img_area .remove {
	position: absolute;
	display: block;
	top: 3px;
	right: 3px;
	text-shadow: -1px -1px 3px #fff, 1px 1px 3px #fff;
}

.cour-name {
	width: calc(100% - 240px);
	margin-right: 6px;
	position: relative;
}

.tit {
	position: absolute;
	left: 1px;
	top: 1px;
	z-index: 1;
	height: 30px;
	width: calc(100% - 2px);
	line-height: 20px;
	padding: 5px 15px 5px 15px;
	background-color: rgb(255, 255, 255);
	color: #333;
	box-sizing: border-box;
}

.tit icon {
	font-size: 18px;
	margin-right: 10px;
}

.cour-name textarea {
	height: 135px;
	padding: 40px 15px 15px 15px;
	font-size: 16px;
}

/*没有图片*/

.nophoto {
	height: 30px;		
	padding: 0px 0px 0px 15px;
}

.nophoto * {
	line-height: 30px;
}

.nophoto i {
	font-size: 20px;
}
.photo_add{
	display: block;
	width: 100%;
	margin-top: calc((135px - 40px - 20px) / 2 );
	text-align:center;
	color: #999;
	font-size: 25px;
}
/*专业*/

.subject {
	height: 40px;
	padding: 10px 15px 10px 15px;
	
}
.subject a *{
	font-size: 15px !important;
}
.subject b {
	color: #333;
	margin: 0px 5px;
}

.sbj_panel {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: #fff;
}

.sbj_tit {
	height: 40px;
	width: 100%;
}

.sbj_tit .back {
	float: right;
	margin: 5px;
}

.sbj_tit .el-input {
	margin: 5px;
}

.tree-box {
	height: calc(100% - 40px);
	overflow-y: auto;
	padding: 5px 0px 10px 0px;
	box-sizing: border-box;
}
/*操作成功后的面板*/
.success_panel{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 20;
	background-color: rgba(255, 255, 255, 1);
}
