@charset "utf-8";

#vapp {
	display: flex;
}

aside.columns {
	min-width: 500px;
	width: 100%;
	height: 100%;
}

aside.columns .bar {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	height: 35px;
	margin-bottom: 20px;
}
help{
	font-size: 12px;
	color: #999;
}
aside.columns .el-tree {
	height: calc(100% - 35px - 20px);
}

.custom-tree-node {
	display: block;
	width: 100%;
}

.column_btn {
	float: right;
}

/*右侧内容列表区*/
section.list {
	flex: 1;
	height: 100%;
}

.guide_form>div {
	overflow: hidden;
}

.guide_form .el-dialog__body {
	height: calc(100% - 54px - 62px - 60px);
	overflow-y: auto;
}