@charset "utf-8";

#vapp {
    display: flex;
}

aside.sorts {
    min-width: 400px;
    height: 100%;
    margin-right: 20px;
}

aside.sorts .bar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 35px;
    margin-bottom: 20px;
}

help {
    font-size: 12px;
    color: #999;
}

aside.sorts .el-tree {
    height: calc(100% - 35px - 20px);
}

.custom-tree-node {
    display: block;
    width: 100%;
}
.custom-tree-node icon{
    color: #409EFF;
}
.sort_btn {
    float: right;
}

/*右侧内容列表区*/
section.list {
    flex: 1;
    height: 100%;
}

.knl_form>div {
    overflow: hidden;
}

.knl_form .el-dialog__body {
    height: calc(100% - 54px - 62px - 60px);
    overflow-y: auto;
}
.knl_form{
	overflow: hidden;
	z-index: 3 !important;
}
.knl_form>div {
	overflow: hidden !important;
}

.knl_form .el-dialog__body {
	height: calc(100% - 54px - 42px - 30px);
	padding: 10px 0px 10px 10px;
	overflow-y: hidden;
}
.el-dialog__footer{
	padding: 10px;
}
.knl_form .el-dialog__body .el-form{
	height: 100%;
}
.Kn_Details{
	height: calc(100% - 90px);
}
.Kn_Details>div,.Kn_Details>div>div{
	height: 100%;
}