@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

.tdcell, .tdcell * {
	line-height: 20px !important;
	max-height: 40px;
}

.tdcell a {
	max-height: 20px !important;
	line-height: 20px !important;
}

.title_box {
	width: 100%;
	display: flex;
}

.title_box img {
	height: 40px;
	margin-right: 10px;
}

.title_box div {
	height: 40px;
	overflow: hidden;
	line-height: 20px;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

live {
	background-image: url(/Utilities/Images/live-icon.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

.title_box live {
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-right: 2px;
}





/*展示课程综述*/

.el-drawer__header {
	padding: 15px 15px 0px 15px;
	margin-bottom: 15px !important;
}

.el-drawer__body {
	height: calc(100% - 5px);
	width: 100%;
	overflow-y: auto;
}

.showDetail {
	padding: 0px 15px 20px 15px;
}

.showDetail .cou_logo {
	width: 100%;
	height: calc((400px - 30px) / 16 * 9);
}

.showDetail>div {
	margin-bottom: 10px;
}

.showDetail live {
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-right: 2px;
}

.showtitle {
	margin: 0px 0px 10px 0px;
}

.showSubject {
	font-size: 14px;
	color: #999;
}

.showSubject b {
	color: #333;
	margin: 0px 5px;
}

.showSubject icon {
	color: #333;
}

.showPrice .el-tag {
	margin-right: 6px;
	margin-bottom: 4px;
}

.showIncome .money {
	font-size: 18px;
	font-weight: bold;
	color: rgb(238, 78, 4);
	text-shadow: 1px 1px 2px rgb(240, 226, 37);
}

/*综述里的数据项*/

.showContext>div:first-child {
	line-height: 30px;
}

.showContext>div.showitems {
	margin-left: 20px;
	width: calc(100% - 20px);
	display: flex;
	flex-wrap: wrap;
}

.showContext>div.showitems div {
	line-height: 30px;
}

.showContext>div.showitems div:nth-child(odd) {
	width: calc(50% - 10px);
	margin-right: 10px;
}

.showContext>div.showitems div:nth-child(even) {
	width: 50%;
	margin-right: 0px;
}
