@charset "utf-8";

html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

.noselect {

	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	-khtml-user-select: none;
	/* Konqueror */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently	
	not supported by any browser */

}

/*顶部区域*/

.header {
	padding: 10px;
	box-sizing: border-box;
	font-size: 18px;
	height: 50px;
	line-height: 30px;
	display: flex;
}

.cou_name {
	max-width: calc(100% - 60px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

.cou_name_edit {
	width: calc(100% - 60px);
}

.btnName {
	display: block;
	width: 60px;
	text-align: center;
}

/*选项卡*/
.el-tabs {
	margin: 10px 10px 0px 10px;
}
.el-tabs__nav-wrap{
	margin-left: 8px;
}
.el-tabs__item {
	padding: 0px !important;
}
.el-tabs__item>div{
	padding: 0px 20px;
}
.el-tabs icon {
	font-size: 18px;
}

.el-tabs .el-tabs__header {
	margin-bottom: 0px;
}

.el-tabs .el-tabs__content {
	display: none;
}

.course_tabs {
	--height: calc(100% - 50px - 5px);
}
.course_tabs div[role='tab']>div {
	font-size: 16px;
}

.course_tabs div.is-active[role='tab']>div {
	font-weight: bold;
	color: #000;
}

.course_tabs div[role='tab']>div::before {
	content: attr(icon);
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
	font-size: 18px;
}

.el-tabs__header {
	margin: 0px;
}

.el-tabs__content {
	background-color: crimson;
	display: none;
}

.el-tabs__content>div {
	width: 100%;
	height: 100%;
}

#content_panel {
	width: calc(100% - 20px);
	height: calc(100% - 112px);
	border: 1px solid #E4E7ED;
	border-top: none;
	box-sizing: border-box;
	margin: 0px 10px 0px 10px;
	padding: 10px 5px 5px 10px;
}

#content_panel>iframe {
	width: 100%;
	height: calc(100%);
}