@charset "utf-8";
.nofiles{
	margin: 20px;
	text-align: center;
	padding: 50px;
}
.nofiles icon{
	font-size: 50px;
	display: block;
	margin-bottom: 20px;
	color: #999;
}
/*附件列表*/
dl.files {
    width: 100%;
    box-sizing: border-box;
	padding: 20px;
	max-height: calc(100% - 50px);
	overflow-y: auto;
}

dl dd {
    line-height: 30px;
    display: flex;
    padding: 0px 60px 0px 0px;
    position: relative;
}

dl dd:hover {
    background-color: #eee;
}

dl dd a {
    width: auto;
    min-width: auto;
}

.filesize {
    font-size: 12px;
    color: #666666;
    margin-left: 10px;
}

dd .btndel {
    position: absolute;
    top: 0px;
    right: 10px;
    display: block;
}

.upload_file_area {
    margin-right: 10px;

}
.footer>div[loading]{
    width: 30%;
    float: right;
}
.footer:has(div[loading]){
    display: block;
}