@charset "utf-8";
section{
    height: calc(100% - 55px);
    overflow: auto;
}
.footer{
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
}
.progress_panel {
    box-sizing: border-box;
    width: 100%;
    max-width: 0px auto;
    padding: 10px 10%;
    text-align: center;
}
.progress_panel>div:not(:first-child){
    margin-top: 10px;
}