@charset "utf-8";
.ws_avatar{
	float: left;
	margin-right: 10px;
}
.acname::before{
	content: '' !important;
}
/*完成度的各项值*/
.progress{
	display: flex;
}
.progress>*{
	flex: 1;
	
}
.progress>*{
	cursor: default;
}
.progress icon::before{
	font-size: 16px;
}
/*成绩得分的样式*/
.nopass{
	color: #F56C6C;
}
.normal{
	color: #333;
}
.fine{
	color: #409EFF;
}
/*导出文件下载列表*/
dl,dd{
    padding: 0px;
    margin: 0px;
}
dl dd{
    line-height: 30px;
}
dl dd a[href]{
    display: inline-block;
    min-width: 230px;
    color: #409EFF;
	font-size: 16px;
}
dl dd a[href]:hover{
    text-decoration: underline;
}