@charset "utf-8";
.el-form {
    box-sizing: border-box;
    margin: 0px;
    height: calc(100% - 50px);
    padding: 20px 5px 0px 0px;
    overflow: auto;
}

img.photo {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    border: 1px solid #aaa;
    margin-top: 5px;
    border-radius: 50px;
    margin-right: 10px;
    float: left;
}

/*没有图片*/

.nophoto {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #aaa;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}
.nophoto icon{   
    font-size:35px;
}
.upload_img_area{
    display: table;
    float: left;
}
.upload_img_area img{
    height: 100px;
}
.upload_img_area .nophoto icon {
    margin: 0px;
 }