.Wdate{
	border:#999 1px solid;
	height:20px;
	text-indent:5px;
	background:#fff url(datePicker.gif) no-repeat right;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}