/*右侧答题卡*/

.quesCard {
	width: 320px;
	position: relative;
	box-sizing: border-box;
	padding: 15px 15px 65px 15px;
	border-left: 1px solid #e4e7f1;
}

.quesCard .cardTit {
	height: 30px;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	justify-content: space-between;
}

.quesCard .cardTit>span:last-child {
	font-size: 14px;
	color: #999;
}

.quesCard .cardBox {
	height: calc(100% - 30px);
	overflow-y: auto;
}

.quesCard dl, .quesCard dt, .quesCard dd {
	padding: 0px;
	margin: 0px;
}

.quesCard dl {
	width: 100%;
	display: table;
	margin-bottom: 10px;
}

.quesCard dt {
	padding: 10px 10px 10px 15px;
	box-sizing: border-box;
}

.quesCard dt span {
	float: right;
	font-size: 14px;
	color: #999;
}

.quesCard dd {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 4px;
	border-radius: 50%;
	border: solid 1px #666;
	float: left;
	font-size: 13px;
	cursor: pointer;
	position: relative;
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
}

.quesCard dd[ans] {
	border: solid 1px rgb(102, 177, 255);
	background-color: rgb(102, 177, 255);
	color: #fff;

}

.quesCard dd[current] {
	border: solid 1px rgb(92, 180, 3);
	color: #fff;
	background-color: rgba(92, 180, 3, .6) !important;
}

.quesCard dd[current]::after {
	content: '\e777';
	font-family: "webdesk_icon" !important;
	font-size: 22px;
	display: block;
	position: absolute;
	bottom: 1px;
	right: -15px;
	width: 20px;
	height: 20px;
	text-align: right;
	color: #67C23A;
}