
section dl, section dd {
	margin: 0px;
	padding: 0px;
	height: 100%;
	float: left;
}

section dd {
	width: 870px;
	
	line-height: 150%;
}

section dd info {
	display: block;
	padding: 15px 15px 0px 15px;
	height: 20px;
	margin: 0px 10px;
	font-size: 15px;
}

section dd info span {
	font-size: 14px;
	color: #999;
}

section dd card-title * {
	line-height: 150% !important;
	font-size: 20px;
}
section dd card-title>*, section dd card-title p{
	line-height: 150% !important;
	font-size: 20px !important;
}
section dd card {
	height: calc(100% - 32px - 35px);
	overflow: auto;
	font-size: 20px;
}


section dd img {
	max-width: 100% !important;
}

/*试题选项*/

.ans_area {
	margin-left: 5px;
}

.ans_area>div {
	position: relative;
	margin: 15px;
}
card[qid] .ans_area i {
	font-style: normal;
	margin-right: 15px !important;
	display: inline-block;
	white-space: nowrap;
}
.ans_area div[selected] {
	color: #409EFF !important;
}


.ans_area>div[ansid] i::before {
	font-family: "webdesk_icon" !important;
	font-style: normal;
	font-size: 25px;
	margin-right: 5px;
}

.type1>div[ansid] i::before {	
	content: '\e85c';	
}

.type1>div[selected] i::before {	
	content: '\e85b';
}

.ans_area>div[ansid] {
	display: flex;
}

.ans_area>div[ansid] * {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.ans_area>div[ansid] * {
	line-height: auto !important;
}


.ans_area>div[correct]::before {
	content: '\a048';
}

.type2>div i::before {	
	content: '\e603';
}

.type2>div[selected] i::before {
	content: '\e78b';
}
/*判断题*/
card[qid] .type3 {
	display: flex;	
}
card[qid] .type3>div:first-child {
	margin-right: 40px;
}
card[qid] .type3 i{
	font-size: 18px;
}
card[qid] .type3>div i::before {
	font-family: "webdesk_icon" !important;
	content: '\e603';
	font-style: normal;
	margin-right: 5px;	
	font-size: 22px;
}
card[qid] .type3>div[selected] i::before {	
	content: '\e78b';	
}
/*填空题*/

.type5 {
	counter-reset: section;
}

.type5>div {
	position: relative;
	margin-left: 30px;
}

.type5>div::before {
	counter-increment: section;
	content: counter(section) ". ";
	display: block;
	position: absolute;
	top: 5px;
	width: 10px;
	height: 40px;
	left: -20px;
}

.type5>div input {
	width: calc(100% - 30px);
	padding: 5px 15px;
	height: 30px;
	font-size: 20px;
}

section textarea {
	width: calc(100% - 22px);
	padding: 10px;
	font-size: 20px;
}