<!DOCTYPE html>
<html lang="zh">

<head resource>
    <title>权限设置</title>
    <include file="../inc/meta.inc" />

</head>

<body>
    <div id="app" v-cloak>
        <div class="tree_area">
            <el-card class="box-card" v-for="(root,index) in datas" v-loading="loading">
                <div slot="header" class="clearfix">
                    <icon v-if="root.ico==null || root.ico==''">&#xa038;</icon>
                    <icon v-else v-html="'&#x'+root.ico+';'"></icon>
                    <span>{{root.MM_Name}}</span>
                    <span style="float: right;">
                        <el-checkbox v-model="root.MM_IsBold" @change="selected(root,index)">全选</el-checkbox>
                    </span>
                </div>
                <el-tree :data="root.children" show-checkbox default-expand-all node-key="id" ref="tree"
                    highlight-current :props="defaultProps">
                    <span class="custom-tree-node" slot-scope="{ node, data }">
                        <span class="tree-node" :uid="data.id" :bold="data.MM_IsBold" :italic="data.MM_IsItalic"
                            :color="data.MM_Color" :style="'color:'+data.MM_Color+';'">
                            <icon v-if="data.ico==null || data.ico==''">&#xa038;</icon>
                            <icon v-else v-html="'&#x'+data.ico+';'"></icon>
                            {{ data.MM_Name }}
                        </span>
                    </span>
                </el-tree>
            </el-card>
        </div>
        <div class="footer">
            <el-button type="primary" define="enter" native-type="submit" v-loading="loading" plain
                @click="btnEnter(true)"> 保存</el-button>
            <el-button type="primary" native-type="submit" define="apply" v-loading="loading" plain
                @click="btnEnter(false)"> 应用
            </el-button>
            <el-button type='close'>取消</el-button>
        </div>
    </div>

</body>

</html>