<!DOCTYPE html>
<html lang="zh">

<head resource>
  <title>机构信息</title>
  <include file="../inc/meta.inc" />
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=MBUg6BlQ9sowj5824cX1IKIG"></script>
</head>

<body>
  <div id="vapp" v-cloak>
    <el-form ref="entity" :model="entity" :rules="rules" @submit.native.prevent label-width="100px">

      <el-form-item label="平台名称" prop="Org_PlatformName">
        <el-input v-model="entity.Org_PlatformName">
          <icon slot="prefix">&#xe744</icon>
        </el-input>
      </el-form-item>
      <el-row>
        <el-col :span="16">
          <el-form-item label="机构全称" prop="Org_Name">
            <el-input v-model="entity.Org_Name" clearable>
              <icon slot="prefix">&#xa006</icon>
            </el-input>
          </el-form-item>
        </el-col>

      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="中文简称" prop="Org_AbbrName">
            <el-input v-model="entity.Org_AbbrName" clearable>
              <icon slot="prefix">&#xe84d</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="16">
          <el-form-item label="英文全称" prop="Org_EnName">
            <el-input v-model="entity.Org_EnName" clearable>
              <icon slot="prefix">&#xe6cb</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="英文简称" prop="Org_AbbrEnName">
            <el-input v-model="entity.Org_AbbrEnName" clearable>
              <icon slot="prefix">&#xe6b0</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="21">
          <el-form-item label="地址" prop="Org_Address">
            <el-input v-model="entity.Org_Address" clearable>
              <icon slot="prefix">&#xe6a2</icon>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="3" style="padding-left: 10px;">
          <el-link icon="el-icon-location-information" type="primary" @click="mapshow=true">地图</el-link>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="电话" prop="Org_Phone">
            <el-input v-model="entity.Org_Phone" clearable>
              <icon slot="prefix">&#xe66c</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="传真" prop="Org_Fax">
            <el-input v-model="entity.Org_Fax" clearable>
              <icon slot="prefix">&#xa046</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="电子邮箱" prop="Org_Email">
            <el-input v-model="entity.Org_Email" clearable>
              <icon slot="prefix">&#xe76e</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="微信" prop="Org_Weixin">
            <el-input v-model="entity.Org_Weixin" clearable>
              <icon slot="prefix">&#xe730</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="联系人" prop="Org_Linkman">
            <el-input v-model="entity.Org_Linkman" clearable>
              <icon slot="prefix">&#xa043</icon>
            </el-input>
          </el-form-item>
        </el-col>

      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="联系电话" prop="Org_LinkmanPhone">
            <el-input v-model="entity.Org_LinkmanPhone" clearable>
              <icon slot="prefix">&#xa047</icon>
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="邮编" prop="Org_Zip">
            <el-input v-model="entity.Org_Zip" clearable>
              <icon slot="prefix">&#xe751</icon>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">

        </el-col>
      </el-row>
      <el-dialog :visible.sync="mapshow" width="80%">
        <span slot="title">
          <icon style="font-size:22px;">&#xe64c</icon>地址的GPS坐标（点击地图选择位置）
        </span>
        <el-row>
          <el-form-item label="地址" prop="Org_Address" label-width="60px">
            <el-input v-model="entity.Org_Address" clearable @input="addressChange">
              <icon slot="prefix">&#xe6a2</icon>
            </el-input>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="经度" prop="Org_Longitude" label-width="60px">
              <el-input v-model="entity.Org_Longitude" clearable>
                <icon slot="prefix">&#xe64f</icon>
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="纬度" prop="Org_Latitude" label-width="60px">
              <el-input v-model="entity.Org_Latitude" clearable>
                <icon slot="prefix">&#xe64f</icon>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <div id="map" style="height:250px;width:100%;"></div>
      </el-dialog>

    </el-form>
    <div class="footer">
      <el-button type="primary" define="enter" native-type="submit" :loading="loading" plain
        @click="btnEnter('entity')">
        确认修改</el-button>
    </div>
  </div>


</body>

</html>