<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>大语言模型的设置</title>

</head>

<body>
    <div id="vapp" v-cloak>
        <alert margin large v-if="!islogin">未登录，或登录已经超时</alert>
        <template v-else>
            <el-card class="box-card" shadow="hover">
                <template slot="header">
                    <span>
                        <icon large>&#xe662</icon>阿里云百炼 - 大语言模型
                    </span>
                    <span>
                        <icon>&#xa03d</icon><a href="https://bailian.console.aliyun.com" target="_blank" link>官方网站</a>
                    </span>
                </template>
                <el-form ref="entity" :model="entity" :rules="rules" label-width="100px" size="small">
                    <el-form-item label="API Key" prop="apikey">
                        <el-input v-model.trim="entity.apikey" style="width: 400px" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="">
                        <help multi>注册阿里云百炼平台账号->选择“应用”菜单项->左下角“API-Key”菜单项
                        </help>
                    </el-form-item>
                    <el-form-item label="模型" prop="model">
                        <el-select v-model="entity.model" popper-class="select-model" filterable
                            placeholder="-- 模型名称 --" clearable :multiple-limit="1">
                            <el-option v-for="(item,i) in cfg.items" :key="item.model" :label="item.name"
                                :value="item.model">
                                <div class="name">{{i+1}} . {{item.name}}</div>
                                <div class="descr">{{item.descr}}</div>
                            </el-option>
                        </el-select>

                        <el-input v-model.trim="entity.model" placeholder="手工填写模型名称" style="width: 150px" clearable>
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" define="enter" v-on:click="btnEnter" :loading="loading">
                            确 定</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </template>
    </div>
</body>

</html>