html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}

red {
    color: red;
    display: inline-block;
    transform: scale(1.2);
}

section {
    height: 100%;
    width: 100%;
}

menu {
    width: 300px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
   
}

menu, menu * {
    margin: 0px;
    padding: 0px;
}

menu .tit {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

menu .tit i {
    font-style: normal;
}

menu .tit span {
    color: #666;
    font-size: 12px;
    margin: 0px 10px;
}

menu .tit input {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 20px;
    width: 60px;
    top: 8px;
    right: 3px;
    position: absolute;
    z-index: 1;
    padding: 2px 25px 2px 10px;
}

menu .tit::before {
    content: "\e733";
    font-family: element-icons !important;
    margin-right: 1px;
    font-size: 18px;
}

menu .tit::after {
    content: '\e778';
    font-family: element-icons !important;
    display: block;
    position: absolute;
    top: 1px;
    right: 8px;
    z-index: 2;
    color: #aaa;
}

menu dl {
    height: calc(100% - 40px);
    overflow-y: auto;
    position: relative;
}

menu>dl>dd {}

*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px rgba(133, 131, 131, 0.2);
    background: #808080;
}

*::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(133, 131, 131, 0.2);
    border-radius: 3px;
    background: #EDEDED;
}

#menu {}

#menu .methods {
    height: 0px;
    transition: all 0.5s;
    box-sizing: border-box;
}

#menu .methods.show {
    height: auto;
    padding-bottom: 5px;
}

#menu .classname {
    line-height: 35px;
    padding-left: 15px;
    cursor: pointer;
    position: relative;
    --transform: rotate(-3deg);
    transition: background-color 0.5s;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#menu .classname:hover {
    background-color: #ccc;
    transition: background-color 0.5s;
}

#menu .classname i {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
    transition: all 0.5s;
    font-size: 12px;
    text-shadow: -1px 1px 3px #fff;
}

#menu .classname i.show {
    transform: rotate(90deg);
}

#menu .classname span {
    font-size: 12px;
    color: #999;
}

.methods>dt {
    font-size: 13px;
    color: #999;
    padding: 5px 30px 5px 10px;
    line-height: 20px;
    position: relative;
}

.methods>dt .fresh {
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.methods>dt .fresh::before {
    content: "\e6d0";
    font-family: element-icons !important;
    margin-right: 1px;
    font-size: 14px;
}

.methods>dd {
    font-size: 14px;
    padding: 3px 10px 3px 20px;
    cursor: pointer;
    --transform: rotate(-3deg);
    transition: background-color 0.2s;
}

.methods>dd:hover {
    background-color: rgb(233, 232, 232);
    transition: background-color 0.5s;
}

dd.noapi {
    padding: 10px;
}

dd.noapi span {
    font-size: 16px;
    color: rgb(253, 76, 76);
}

.methods intro {
    display: block;
    font-size: 13px;
    color: #999;
    margin-left: 22px;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 20px;
}

content {
    width: calc(100% - 310px);
    height: 100%;
    float: right;
    position: relative;
    overflow-y: auto;
}

content>h1 {
    font-size: 16px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding: 0px 0px 0 20px;
}

content>h1>span {
    display: block;
    float: right;
    margin-right: 1px;
    width: 30px;
    height: 40px;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s all;
}

content>h1>span>i {
    width: 40px;
    height: 40px;
    display: block;
}

content>h1>span>i::before {
    line-height: 40px;
    display: block;
}

content>h1>span.show {
    transform: rotate(0deg);
}

content>h1>span.hidden {
    transform: rotate(-90deg);
}

.homepage {
    width: calc(100% - 13px);
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: #fff;
    transform-origin: 0 0;
    transition: 0.3s opacity, 0.5s transform;
    z-index: 100;
}

.homepage p {
    padding: 10px 10px 0 10px;
    margin: 0px;
    font-size: 16px;
    line-height: 25px;
    text-indent: 30px;
}

/*右侧方法详情的区域*/

.method {
    padding: 20px;
}

.method>* {
    display: block;
}

.method * {
    font-size: 16px;   
}

.method attr i {
    font-style: normal;
    font-size: 11px;
}

.method .name {
    font-weight: bold;
    font-size: 30px !important;
    word-wrap: break-word;
    padding: 2px 10px 2px 0;
}

.method .name>* {
    font-size: 30px !important;
}

.method .name para {
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}
.method params{
    margin-top: 10px;
}
.method remarks * {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.method return * {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.method return .intro{
    margin: 10px;
}

.method fullname {
    word-wrap: break-word;
    word-break: break-all;
}

.method table {
    width: calc(100% - 5px);
}

.method table th {
    font-weight: normal;
    background-color: #eee;
    font-size: 13px;
    padding: 5px;
}

.method table tr th:first-child {
    text-align: center;
}

.method table td {
    font-size: 14px;
    height: 30px;
}

.method table .center {
    text-align: center;
}

.method table tr td:first-child {
    text-align: center;
}

.method table input {
    height: 22px;
    width: 100px;
    border: 1px solid #999;
    border-radius: 2px;
}

.method remarks b {
    display: block;
    float: left;
    width: 50px;
}

.method remarks div {
    display: block;
    float: right;
    width: calc(100% - 50px);
}

.testbox {
    width: calc(100% - 20px);
}

.test-tit {
    box-sizing: border-box;
    min-height: 40px;
    line-height: 40px;
    background: #ccc;
    width: 100%;
    padding: 0px 20px 0px 20px;
    position: relative;
}

.test-tit>* {
    float: left;
}

.test-tit .test-func {
    width: 300px;
}

.test-tit .test-btn {
    width: calc(100% - 300px);
    display: flex;
}

.test-tit select {
    height: 30px;
    width: 60px;
    margin-right: 10px;
}

.test-tit .test-btn>* {
    flex: 1;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 2px;
    background-color: #eee;
    cursor: pointer;
    box-shadow: 1px 1px 2px #666;
    overflow: hidden;
    font-size: 14px;
}

.test-tit .test-btn>*:hover {
    background-color: rgb(166, 228, 163);
    box-shadow: 1px 1px 1px #999;
}

fieldset {
    position: relative;
}


#apiurl {
    line-height: 30px;
}

#apiurl::before {
    content: '\e737';
    font-family: element-icons !important;
    margin-right: 8px;
}


#testarea fieldset {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
}

#testresult:before {
    content: "测试查询的返回结果：";
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #666;
    font-size: 12px;
}

