/*星标*/
.star{
}
.star i{
	background-image: url(../../Images/sun_star.gif);
	background-repeat: no-repeat;
	background-position: -160px -158px;
	display: inline-block;
	height: 25px;
	width: 28px;
}
.star .s1{
	background-position: 0px -158px;	
}
.star .s0{	
	background-position: 0px -186px;
}