@font-face {font-family: "examico";
  src: url('examico.eot'); /* IE9*/
  src: url('examico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('examico.woff') format('woff'), /* chrome、firefox */
  url('examico.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('examico.svg#examico') format('svg'); /* iOS 4.1- */
}

.examico {
  font-family:"examico" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
