<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>学员登录日志</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="删除" ref='btngroup' path="LoginLogDetail" width="800" height="600" :selects='selects'
                idkey='Lso_ID' table="datatables"></btngroup>
            <query_panel :model="form" :loading="loading" @search="handleCurrentChange(1)">
                <el-form-item>
                    <el-input v-model="form.name" placeholder="姓名" clearable style="width:100px"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="form.acname" placeholder="账号" clearable style="width:100px"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-date-picker v-model="date_picker" type="daterange" range-separator="至" start-placeholder="开始日期"
                        end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>
            </query_panel>
        </div>
        <template>
            <el-table ref="datatables" v-loading="loading" :stripe="true" :data="datas" tooltip-effect="dark"
                style="width: 100%" :height="tableHeight" @selection-change="val=>selects=val"
                @row-dblclick="row=>$refs.btngroup.modifyrow(row)">
                <el-table-column type="selection" width="35">
                </el-table-column>
                <el-table-column type="index" label="#" width="80" align="center">
                    <template slot-scope="scope">
                        <span>{{(form.index - 1) * form.size + scope.$index + 1}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="名字">
                    <template slot-scope="scope">
                        <span v-html="showsearch(scope.row.Ac_Name,form.name)"></span>
                        (<span v-html="showsearch(scope.row.Ac_AccName,form.acname)"></span>)
                    </template>
                </el-table-column>
                <el-table-column label="登录时间" width="150px">
                    <template slot-scope="scope">
                        {{scope.row.Lso_LoginTime|date('yyyy-MM-dd HH:mm:ss')}}

                    </template>
                </el-table-column>
                <el-table-column label="浏览时长" width="100px">
                    <template slot-scope="scope" v-if="scope.row.Lso_BrowseTime>0">
                        {{timeclac(scope.row.Lso_BrowseTime)}}
                    </template>
                </el-table-column>
                <el-table-column label="设备信息" width="250px">
                    <template slot-scope="scope">
                        <icon v-if="scope.row.Lso_Platform=='PC'">&#xe609;</icon>
                        <icon v-if="scope.row.Lso_Platform=='Mobi'">&#xe677;</icon>
                        {{scope.row.Lso_OS}} ({{scope.row.Lso_Browser}})
                    </template>
                </el-table-column>
                <el-table-column label="来源">
                    <template slot-scope="scope">
                        {{scope.row.Lso_Info}}
                        <template v-if="scope.row.Lso_Source!=''">({{scope.row.Lso_Source}})</template>
                    </template>
                </el-table-column>
                <el-table-column label="地理位置">
                    <template slot-scope="scope">
                        <span class="link" v-if="address(scope.row)!=''" href="#" @click="opendetail(scope.row)">
                            <icon>&#xe64c</icon>
                            {{address(scope.row)}}
                        </span>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <div id="pager-box">
            <el-pagination v-on:current-change="handleCurrentChange" :current-page="form.index" :page-sizes="[1]"
                :page-size="form.size" :pager-count="12" layout="total, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>
</body>

</html>