<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>郑州工商学院</title>

</head>

<body>
    <div id="vapp" v-cloak>
        <header v-if="ismobi">
            <a href="/mobi/account/myself" icon="&#xe727" style="font-size: 22px;"></a>
            <a href="/mobi/" icon="&#xa020"></a>
        </header>
        <div class="outer">
            <img :src="'/Utilities/OtherLogin/Images/' + tag + '.png'" />
            <div>
                <div class="nickname" v-if="existouter">名称：<span>{{outeruser.name}}</span></div>
                <div class="nickname" v-else>(获取身份认证失败)</div>
                <div class="tagname">
                    <icon>&#xa006</icon>郑州工商学院
                </div>
            </div>
        </div>
        <div class="state">
            <el-alert  v-if="!islogin" title="未登录" type="error" :closable="false"> </el-alert>
            <el-alert  v-else-if="bound" title="已经绑定" type="success" :closable="false"> </el-alert>
            <el-alert  v-else-if="used" title="已经绑定到其它账号" type="danger" :closable="false"> </el-alert>
            <el-alert  v-else title=" 未绑定，点击下方按钮绑定" type="info" :closable="false"> </el-alert>
         
        </div>

        <div class="user" v-if="islogin">
            <avatar :account="localuser" circle="true" size="80"></avatar>
            <div>
                <div>姓名：<span>{{localuser.Ac_Name}}</span></div>
                <div>账号：<span>{{localuser.Ac_AccName}}</span></div>              
            </div>

        </div>
        <div class="btns" v-if="islogin && !bound && !used">
            <el-button type="primary" :disabled="loading" @click="bindhandler()">
                <icon>&#xa030</icon>绑定账号
            </el-button>
        </div>       
    </div>    

</body>

</html>