#vapp {
	width: 100%;
	overflow-y: auto;
}

context.first {
	display: block;
	height: 600px;
	--height: 100vh;
	padding: 0px !important;
	width: 100%;
	text-align: center;
	background-color: rgb(221, 133, 18);
	margin: 20px 0px;
	background-image: repeating-radial-gradient(circle, rgb(228, 228, 228) 0%, rgb(255, 255, 255) 60%);
}

context.first section {
	display: block;
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	position: relative;
	box-sizing: border-box;
	padding: 30px 0px;

	background-image: url(../images/bg1.png);
	background-size: contain;
	background-position: center 0;
	background-repeat: no-repeat;
}

img.logo {
	max-width: calc(60% - 40px);
	padding: 20px 20px 0px 20px;
}

.platinfo {
	box-sizing: border-box;
	padding: 20px;
	font-size: 20px;
	text-shadow: 1px 1px 3px #999;
	width: 300px;
	margin: 0px auto;
	text-align: left;
}

.platinfo::before {
	font-size: 22px !important;
}

card {
	text-align: left;
	width: 300px;
	margin: 0px auto;
}

.el-row {
	padding: 15px 0px;
	box-sizing: border-box;
	position: relative;
}

.el-input {
	position: relative;
}

error {	
	display: block;
	position: absolute;
	right: 0px;
	top: 25px;
	background-color: #F56C6C;
    color: yellow;
    padding: 2px 5px;
	border-radius: 5px;
	font-size: 12px;
	width: auto;	
	line-height: 20px;
	box-sizing: border-box;
}

.btns {
	text-align: right;
}

.acc_photo {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	float: left;
	background-size: cover;
	box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.nophoto {
	background-image: url(/Utilities/images/head1.jpg);
}

.man {
	background-image: url(/Utilities/images/head1.jpg);
}

.woman {
	background-image: url(/Utilities/images/head2.jpg);
}