#vapp {
    width: 100%;
    overflow-y: auto;
}

context.first {
    display: block;
    height: 600px;
    --height: 100vh;
    width: 100%;
    padding: 0px !important;
    text-align: center;
    background-color: rgb(221, 133, 18);
    margin: 20px 0px;
    background-image: repeating-radial-gradient(circle, rgb(228, 228, 228) 0%, rgb(255, 255, 255) 60%);
}

context.first section {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;

    background-image: url(../images/bg1.png);
    background-size: contain;
    background-position: center 0;
    background-repeat: no-repeat;
}

.box-card {
    width: 300px;
    height: 400px;
    left: calc((100% - 300px) / 2);
    ;
    top: calc((100% - 400px) / 2);

    position: absolute;
    text-align: left;
}

.box-title icon {
    font-size: 20px;
}

.box-title a {
    font-size: 12px;
    color: rgb(39, 148, 250);
}

.el-form-item {
    margin-bottom: 10px;
    position: relative;
}

.el-form-item icon {
    font-size: 25px;
}

.el-input-group__prepend {
    width: 36px;
    padding: 0px 5px;
    box-sizing: content-box;
    text-align: center;
    overflow: hidden;

}
.el-form-item__error {
    --right: 5px !important;
    top: auto !important;
    border-radius: 5px;
    left: 38px !important;
    bottom: -8px !important;
    width: auto !important;
    background-color: #F56C6C !important;
    color: yellow !important;
    padding: 2px 5px 2px 5px !important;
    position: absolute;
    display: block;
}

.btnrow {
    margin: 15px 0px;
}

.btnrow button {
    width: 100%;
    font-size: 18px;
}

/*验证码*/

.vcode_input {
    padding: 10px 0px;
    width: calc(100% - 100px);
    float: left;
}

img#vcode {
    width: 100px;
    height: 30px;
}

button.submit {
    width: calc(100% - 20px);
    margin: 0px 10px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 10px
}

.agreement a {
    color: navy;
}

/*注册协议*/

.showAgreement {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
}

.agreement_title {
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.agreement_title icon {
    font-size: 18px;
}

.showAgreement .el-dialog {
    height: 80%;
    overflow: hidden;
}

.showAgreement .el-dialog__header {
    padding-bottom: 0px;
}

.showAgreement .el-dialog__body {
    padding-top: 5px;
    height: calc(100% - 50px);
}

.agreement_text * {
    font-size: 16px !important;
}

.showAgreement .agreement_text {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.showAgreement .agreement_radio {
    height: 30px;
    line-height: 30px;
    padding: 10px 0px;
    box-sizing: border-box;
}
/*禁止注册*/
section.disable_reg{
    background-image:none !important;    
}
section.disable_reg .disable_body{
    text-align: center;
    line-height: 40px;
}
section.disable_reg .disable_body icon{
    font-size: 50px;
    margin: 30px 0px;
    color: #999;
}