body{
	padding: 20px;
	width:calc(100% - 40px);
}
body,p,div,td,*{
	color:#333 !important;
}
.context{	
	margin:0px;
	overflow-x:hidden;
	overflow:hidden;
}
.artTitle
{
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.artAttrBar
{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	color: #666666;
}
#artImg{
	text-align: center;
}
#artImg img{
	max-width:100% !important;
}
#artContext{
	margin-bottom: 20px;
}

#artContext p{
	margin-top: 10px;
	margin-left: 10px;
	text-indent: 2em;
}
#artContext img{
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	max-width:100% !important;
	height: auto;
}
.img-box{
	text-align: center;
}
#artIntro
{
	font-size: 16px !important;
	line-height: 22px !important;
	background-color:transparent !important;
	margin-bottom: 1em;
}
#artContext, #artContext p, #artContext font, #artContext div,#artContext span{
	font-size: 17px !important;
	line-height: 30px !important;
	background-color:transparent !important;	
}
#artContext p
{
	margin-top: 0.5em;
}
#artAcc
{
	margin-bottom: 1em;
}
#artAcc .accItem{
	margin-left: 0px;
}
#artAcc {
	margin-top: 20px;
	margin-bottom: 20px;
}

#artAcc dt {
	font-size: 15px;
	font-weight: bold;
}
#artAcc dd, #artAcc dd a {
	font-size: 15px;
	line-height: 22px;
	color: #069;
}
.filesize {
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
}