@charset "utf-8";

.ico{
	margin-right: 5px;
	font-size:25px;
}
.txt{
	line-height: 35px;
	color: #666;
	text-align: center;
}
.card-tit{
	
}
.online-tit{
	color: #060;
}
.error-show{
	font-size: 14px;
	line-height:40px;
	color: #F00;
	float:left;
	padding-left:20px;
}
label{

	width: 40% !important;
	margin-left: 8%;	
}
/*输入框*/
.textbox{
	border: 1px solid #CCC !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 36px !important;
	margin-top: 2px;
	margin-left:0px !important;
	margin-right:1% !important;
	width:49% !important;
	float:left !important;
	text-indent:10px;
}
.right-text{
	height: 36px;
	line-height: 36px;
	margin-top: 2px;
	margin-right: 1%;
	width: 49%;
	float: left;
	text-indent: 10;
	letter-spacing: 2px;
}
/*确定按钮*/
.enter{
	float: right !important;
	width: 100px;
	margin-right:10px;
}

/*支付平台的标题*/
.paytit{
	margin-left: 5% !important;
	width:auto;
}
.paytit img{
	float: left;
	height: 35px;
	margin-right:10px;
}
.paytit span{
	float: left;
	width: 80px;
	height:35px;
	line-height:35px;
	color: #000;
}
.payitem{
	line-height:35px !important;
	margin-left:20px !important;
}
.payitem img{
	float: left;
	margin-right: 10px;
	height:35px;
	
}
.money-item{
	font-size: 12px;
}
.money-item:before{
	content: "\e88a";
	font-size:18px;
	font-family: "iconfont";
	margin-right:6px;
}

.right-item{
	float: right;
	line-height: 40px;
	color: #060;
	text-align: right;
	width: 40px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 25px;
}
.right-text .iconfont{
	font-size:12px;
}

/*一些控件，自己定义样式*/

.mui-numbox{
	float:none !important;
	width:160px !important;
	margin-left:0px !important;
}

.right {
	margin-right: 0px;
}

/*说明*/
.explain{
	width:100%;
	padding:20px;
	padding-top:0px;
	margin-bottom:40px;
}
.explain tit{
	font-size:16px;
}
.explain tit:before{
	content: "\e658";
	font-size:18px;
	font-family: "iconfont";
	margin-right:6px;
}
.explain *{
	line-height:25px;
	color:#666;
}
.explain dl{
	margin:0px;
	text-align:left;
	margin-top:5px;
}
.explain dl dt{
	margin:0px;
	text-align:left;
}
.explain dl dd{
	margin:0px;
	margin-left:20px;
	text-align:left;
	line-height:20px;
}
.explain b{
	font-weight: normal;
	color: #F60;
}
.explain b:after{
	content: "积分";
}