@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
.mui-inner-wrap{
	position:relative;
}
.back {
	top: 0px;
	display: block;
	position: absolute;
	margin-top:5px;
	margin-left:5px;
}
.photo img {
	width: 100%;
	min-height: 120px;
	height: auto;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
#Context {
	padding: 10px;
	background-color: #fff;
	height: auto;
}
/*课程名称*/
.couName {
	font-weight: bold;
	line-height: 25px;
	color: #333;
}
.info {
	color: #999;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
.info span:before{
	font-family: "iconfont";
	font-size:14px;
}
.info .study:before{
	content: "\e68c";	
}
.info .view:before{
	content: "\e60c";
}
/*主菜单*/
.mainmenuBox {
	width: 104%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E6E6E6;
	background-color: #FFF;
	margin-left: -2%;
	display: table;
}
.mainmenuBox .mm-item {
	float: left;
	width: 25%;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 90px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	background-color: #FFF;
	display: table;
}
.mainmenuBox .mm-ico {
	font-size: 45px;
	line-height: 50px;
	font-style: normal;
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}
.mainmenuBox .mm-item span {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #666666;
	text-decoration: none;
	position: relative;
	text-align: center;
	display: block;
	font-size: 14px;
}
.boxtit {
	height: 60px;
	line-height: 60px;
	text-align: center;
	width: 100%;
	overflow: hidden;
}
.boxtit .line {
	display: inline-block;
	width: 90%;
	border-top: 1px solid #ccc;
}
.boxtit .name {
	color: #686868;
	vertical-align: middle;
	margin-top: -55px;
}
.boxtit .name span, .boxtit .name a {
	background-color: #efeff4 !important;
	padding-left: 20px;
	padding-right: 20px;
	color: #686868;
	font-size: 16px;
}
/*课程公告*/
.guids {
	width: 100% !important;
	padding: 20px;
	padding-top: 0px;
}
.guid {
	height: 30px;
	line-height: 30px;
}
.guid a {
	display: block;
	width: 80%;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
	float: left;
	color: #666;
}
.guid span {
	float: right;
	color: #999;
	display: block;
}
/*课程详情*/
.noinfo {
	text-align: center;
	color: #CCC;
}
.introBox {
	width: 100% !important;
	padding: 20px;
	padding-top: 0px;
}
.introBox img {
	width: 100% !important;
	height: 100%;
}
.introBox, .introBox * {
	font-size: 14px !important;
	line-height: 25px !important;
}
/*章节列表*/
.outline {
	padding:10px;
}
.olitem {
	position: relative;
	height:30px;
	line-height:30px;
	margin-left:10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:14px;
}
.olitem:hover {
	
}
/*底部*/
.mui-inner-wrap {
	padding-bottom: 60px;
}
.footer{
	height:40px !important;
}
.msg-box{
	height: 30px;
	margin-top: 5px;
	margin-left: 8px;
	background-color: #E6E6E6;
	width: 60%;
	border-radius: 15px;
	position: relative;
	float: left;
	display:block;
}
.msg-ico
{
	height: 24px;
	width:24px;
	border-radius: 12px;
	margin-left: 3px;
	margin-top: 3px;
	float:left;
}

.msg-txt{
	padding-left: 40px;
	font-size: 14px;
	line-height: 30px;
	color: #666;
}
.msg-txt:before{
	content: "\e75a";
	font-family: "iconfont";
	margin-right: 5px;
}
.info-box{
	font-size:14px;
	float:right;
	line-height:40px;
	margin-right:10px;
}
.info-box a:before{
	content: "\e678";
	font-family: "iconfont";
	font-size:20px;
}
.footer a
{
    height:30px;
}