@charset "utf-8";
a {
	
}
input {
	font-size: 13px !important;
}

.mui-title {
	left: 10px !important;
}
.mui-control-item {
	width: 24% !important;
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}
.mui-table-view-cell {
	padding-right: 5px !important;
}
.mui-btn-yellow {
	color: #333 !important;
}
/*顶部图标*/
.btnHome:before {
	content: "\e635";
	font-family: iconfont;
	font-size: 25px;
	color: #333;
}
.btnSearch:before {
	content: "\e679";
	font-family: iconfont;
	font-size: 17px;
	margin-right: 2px;
	color: #333;
}
/*顶部图标*/
.btnBar a:before {
	font-family: iconfont;
	font-size: 17px;
	margin-right: 5px;
}
.btnBar .rec:before {
	content: "\e620";
}
.btnBar .new:before {
	content: "\e73e";
}
.btnBar .hot:before {
	content: "\e6be";
}
.btnBar .free:before {
	content: "\e633";
}
/*底部图标*/
/*课程中心*/
.footer a.foot-courses b:before {
	content: "\e69a";
}

/*课程展示区域*/
.mui-table-view-cell {
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.cour-row {
}
.cour-box {
	text-align: center;
	position: relative;
}
.cour-box picture {
	display: block;
	float: left;
	width: 48% !important;
	margin-right: 2%;
	position: relative;
}
.cour-box picture img {
	box-shadow: 1px 1px 2px #888888;
}
/*免费课程的角标*/
.cour-box free {
	position: absolute;
	top: 6px;
	right: -8px;
}
.cour-box free:before {
	content: "\e633";
	font-family: iconfont;
	font-size: 40px;
	color: #090;
}
/*限时免费的角标*/
.cour-box limitfree {
	position: absolute;
	top: 6px;
	right: -8px;
}
.cour-box limitfree:before {
	content: "\e66f";
	font-family: iconfont;
	font-size: 40px;
	color: #f60;
}
/*推荐的角标*/
.cour-box rec {
	position: absolute;
	top: 7px;
	left: -3px;
}
.cour-box rec:before {
	content: "\e66a";
	font-family: iconfont;
	font-size: 40px;
	color: #f60;
}
.cour-box info {
	float: right;
	width: 48%;
}
.cour-box name {
	display: block;
	text-align: left;
	line-height: 20px;
	max-height: 22px;
	overflow: hidden;
	width: 90%;
	margin: 5px auto 5px auto;
	text-overflow: ellipsis;
	white-space: nowrap;
}
live{
	background-image: url(../Images/live-icon.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}
.cour-box sbjname {
	height: 20px;
	font-size: 12px;
	text-align: left;
	display: block;
	color: #999;
}
.cour-box sbjname:before {
	content: "\e69a";
	font-family: iconfont;
	font-size: 16px;
	margin-right: 2px;
}
.cour-box price {
	height: 25px;
	font-size: 12px;
	text-align: left;
	display: block;
	color: #F30;
	position: absolute;
	bottom: 0px;
	width:100%;
}
/*免费*/
.cour-box price f {
	color: #090;
	font-size: 10px;
}
.cour-box price f:before {
	content: "\e61a";
	font-family: iconfont;
	font-size: 20px;
	margin-right: 5px;
}
/*限时免费费*/
.cour-box price l {
	color: #FF6600;
	font-size: 10px;
}
.cour-box price l:before {
	content: "\e645";
	font-family: iconfont;
	font-size: 17px;
	margin-right: 2px;
}
.cour-box price l t {
	white-space: nowrap;
}
/*收费*/
.cour-box price m {
	color: #F60;
	font-size: 12px;
}
.cour-box price m:before {
	content: "\e619";
	font-family: iconfont;
	font-size: 16px;
	margin-right: 5px;
}
/*数量信息，包括浏览数，章节数，试题数*/
number{	
	text-align:left;
	display:block;
	height:16px;
	line-height:20px;
	color:#999;
}
number>*{
	margin-right:10px;
	font-size: 12px;
	color::#ccc !important;
}
/*课程左右滑动效果*/
.mui-icon {
	
}
.muileft{
	font-size: 13px !important;
	text-align: left;
	display: block !important;
	color:#333 !important;
	background-color:#fff !important;
}
/*浏览次数*/
.mui-icon view {
	display: block;
	margin-top:15px;
	width: 100%;
	line-height: 25px;
}
view:before {
	content: "\e627";
	font-family: iconfont;
	margin-right: 5px;
}
/*章节个数*/
.mui-icon outline {
	display: block;
	width: 100%;
	text-align: left;
	line-height: 25px;
	
}
outline:before {
	content: "\e681";
	font-family: iconfont;
	margin-right: 5px;
	color::#ccc !important;
}
/*试题数*/
.mui-icon ques {
	display: block;
	width: 100%;
	line-height: 25px;
}
ques:before {
	content: "\e621";
	font-family: iconfont;
	margin-right: 5px;
}


/*专业分类的面板*/
.sbj-panel{
	position:absolute;
	top:0px;
	left:0px;
	--background-color:rgba(255,255,255,0.8); 
	z-index:1000;
	width:100%;
	display:none;
	font-size:16px;	
}
.sbj-panel .sbj-area{
	display: none;
	float: left;
	width: 70%;
	padding-top: 10px;
	font-size: 13px;
	line-height: 25px;
	background-color: rgba(255,255,255,0.95);
	overflow: auto;
}
.sbj-panel .sbj-left{
	width: 30%;
	float: left;
	padding-top: 10px;
	background-color: rgba(255,255,230,0.9);
	overflow: auto;
	border-top-style: none;
}
.sbj-panel sbj-tit{
	display: block;
	line-height: 25px;
	font-size:16px;
	padding: 5px 10px;
	position:relative;	
}
--.sbj-panel sbj-tit:before{
	content: "\e69a";
	font-family: iconfont;
	font-size: 16px;
	margin-right: 3px;
}
.sbj-panel sbj-tit:after{
	content: "\e698";
	font-family: iconfont;
	font-size: 16px;
	margin-right: 5px;
	display: block;
	position: absolute;
	top: 5px;
	right: -5px;
	color: #999;
	font-size:12px;
}
.sbj-panel sbj-tit.current{
	border-left-width: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #090;
	background-color: #FFC;
	width:100%;
	z-index:2px;
	 background: -webkit-linear-gradient(left, red , blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #fff, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(255,255,255,0.3) , rgba(255,255,255,0.95)); 
}
.sbj-panel sbj-tit.current:after{
	display:none;
}
.sbj-panel  .sbj-area .sbj-two-name{
	line-height: 25px;
	font-size: 16px;
	padding: 5px 10px;
	margin-left:20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #eee;
}
/*二级专业*/
.sbj-panel  .sbj-area .sbj-two-name:before{
	content: "\e69a";
	font-family: iconfont;
	font-size: 16px;
	margin-right: 5px;
	color:#666;
}
.sbj-panel  .sbj-area .sbj-child{
	line-height: 25px;
	font-size: 15px;
	margin-left:20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #eee;
	padding-left:30px;
}
.sbj-panel  .sbj-area .sbj-child label{
	margin-right: 10px;
	white-space: nowrap;
}