html, body,form{
	height: 100%;
}
body {
	
	overflow-y: scroll;
}
form{
	margin-bottom: 80px;
	
}
/*头部课程信息*/
.infoTop {
	background-color: #fff;
	min-height: 90px;
	position:relative;
}
.photo {
	padding: 10px;
	max-width: 40%;
	float: left;
}
.photo img {
	width: 100%;
	height: auto;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
.couname{
	width:58%;
	margin-right:2%;
	float:right;
	margin-top:10px;
	line-height:25px;
	max-height:50px;
	font-size:16px;
}
.couinfo{
	position:absolute;
	bottom:5px;
	left:40%;
	font-size:12px;
	color:#999;
}
.freeBox {
	line-height: 30px;
	color: #FF6600;
	height: 30px;
	margin-top: 40px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}
.FreeBtnBox {
	margin-top: 10px;
}
.freeBox span {
	font-size: 30px;
}
.btnStudy {
	text-align: center;
	height: 40px;
	width: 43%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: right;
	
	background-color: #339900;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	margin-right: 5%;
}
.btnStudyBack {
	text-align: center;
	display: block;
	height: 40px;
	width: 43%;
	float: left;
	background-color: #999999 !important;
	font-weight: bold;
	color: #FFFFFF !important;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 5%;
}
.context .moneyBox {
}
/*价格*/
.priceItem {
	border-bottom: #eee 1px solid;
    line-height: 40px;
    background-color: #fff;
    text-indent: 20px;
    height: 60px;
    padding: 10px 15px;
    font-size: 16px;
}
.priceItem:last-child {
	border-bottom: #eee 0px solid;
}
.priceItem .ico:before {
	content: "\e691";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 15px;
	width: 20px;
	font-weight: normal;
}
.priceItem .mprice {
	font-weight: bold;
	color: #F00;
}
/*价格提醒，计算每天的钱数*/
.alt {
	font-family: "宋体";
	font-size: 13px;
	color: #333;
}
.alt b {
	color: #090;
	font-weight: normal;
	margin-left: 5px;
}
/*券*/
.coupon {
	font-family: "宋体";
	font-size: 13px;
	color: #8f8f94;
}
/*价格列表的选中行*/
.priceSelected {
	background-color: #efc;
}
.priceSelected .ico:before {
	content: "\e670";
	font-family: iconfont;
	margin-right: 2px;
	font-size: 22px;
	width: 20px;
	font-weight: normal;
}
.aTryout {
	line-height: 40px;
	text-align: center;
	display: block;
	height: 40px;
	width: 90%;
	float: left;
	margin-left: 5%;
	background-color: #0099CC !important;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	letter-spacing: 0.5em;
	margin-right: auto;
	margin-top: 15px;
}
.veriTxt {
	text-align: right;
	height: 25px;
	width: 80px;

}
.txt-row {
	line-height: 40px;
	display: inline-block;
	height: 40px;
	padding-left: 20px;
	width: 100%;
	color: #999;
}

.StudyBtnBox {
	padding-top: 10px;
	height: 60px;
	position: fixed;
	background-color:#fff;
	bottom: 0px;
	width: 100%;
}
.verifyBox {
	line-height: 35px;
	height: 35px;
	width: 100%;
}
.verify {
	width: 102px !important;
	padding: 0px !important;
	height: 35px !important;
	margin: 0px !important;
}
.textbox {
	font-size: 16px;
	line-height: 25px;
	height: 25px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	float: left;
	color: #333333;
}
.verifyCode {
	cursor: pointer;
	height: 32px;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
	width: 72px;
}
.context .moneyBox {
	line-height: 41px;
	height: 40px;
	width: 100%;
	font-size: 16px;
}
.moneyBox a {
	color: #0099FF;
	margin-left: 10px;
}
.noPrice {
	text-align: center;
	color: #FF8080;
	line-height: 40px;
	margin-left: 20px !important;
}
/*支付平台的标题*/
.paytit {
	margin-left: 5% !important;
	width: auto;
}
#needRecharge{
	color: #060;
}
#needRecharge:before{
	content: "\e695";
	font-family: iconfont;
	font-size: 20px;
	margin-right:10px;
	font-weight: normal;
	font-style: normal;
}
#needRecharge:after{
	content:" 元";
}
.paytit img {
	float: left;
	height: 35px;
	margin-right: 10px;
}
.paytit span {
	float: left;
	width: 80px;
	height: 35px;
	line-height: 35px;
	color: #000;
}
.payitem {
	line-height: 35px !important;
	
}
.payitem img {
	float: left;
	margin-right: 10px;
	height: 35px;
}
.money-item {
	color: #F60;
	margin-left: 25px;
	font-size: 14px;
}
.money-item .iconfont {
	font-size: 14px;
}
.right-item {
	float: right;
	color: #060;
	text-align: right;
	width: 40px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 25px;
}
