@charset "utf-8";
/*设置侧滑菜单的宽度*/
.mui-off-canvas-left, .mui-off-canvas-right {
	width: 80% !important;
}
.mui-off-canvas-wrap.mui-right .mui-inner-wrap {
	-webkit-transform: translate3d(80%, 0, 0) !important;
	transform: translate3d(80%, 0, 0) !important;
}
.headbar {
	background-color: transparent !important;
	webkit-box-shadow: 0 0px 0px #ccc !important;
	box-shadow: 0 0px 0px #ccc !important;
}
.back{
	display:block;
	position:absolute;
	z-index:101;
}
/*返回首页*/
.home{	
	display:block;
	position:absolute;
	left:20px;
	top:2px;
	color:#555;
	z-index:200;
}
.home:before {
	content: "\e678";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 20px;
	
}
.video-box {
	background-color: #333;
	width: 100%;
	height: 300px;
	color: #CCC;
	position: relative;
}
.video {
	background-color: transparent !important;
	webkit-box-shadow: 0 1px 2px #ccc !important;
	box-shadow: 0 0px 0px #ccc !important;
	padding: 0px !important;
	min-height: 260px;
}
div {
}
#videobox {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.intro-box {
}
#playerInfo {
	height: 20px;
	line-height: 20px;
 --background-color: #FFF;
 --webkit-box-shadow: 0 1px 6px #ccc;
 --box-shadow: 0 1px 6px #ccc;
	position: absolute;
	top: 2px;
	right: 0px;
	z-index: 100;
}
#playerInfo, #playerInfo * {
	font-size: 8px;
}
#playerInfo .time {
	color: #999;
	font-size: 8px;
	margin-right: 5px;
}
#playerInfo .time * {
	font-size: 10px;
}
/*上次观看播放进度*/
.historyInfo{
	display:block;
	bottom:40px;
	left:20px;
	position: absolute;
	z-index:200;
	font-size:10px;
}
/*学习记录递交成功的提示*/
.StudentStudyLog{
	display:block;
	bottom:40px;
	right:20px;
	position: absolute;
	z-index:200;
	font-size:10px;
}
.error{
	color:red;
}
#videoIframe {
	width: 100% !important;
}
.noVideo {
	text-align: center;
	line-height: 260px;
	font-size: 17px;
	color: #ccc;
}
/*章节名称*/
.outline-name {
	background-color: #FFF;
	webkit-box-shadow: 0 1px 6px #ccc;
	box-shadow: 0 1px 6px #ccc;
	position: absolute;
	buttom: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size:15px;
}
.outline-name:before {
	content: "\e681";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 18px;
	font-weight: normal;
}
/*学习内容与附件的区域*/
.context-box {
	overflow: hidden;
	position: relative;
}
.context-box-inner {
	position: absolute;
}
.mui-card-content {
	overflow: auto !important;
}
.mui-card-content {

}
#details{
	width:100%;
	padding:20px;
}
#details p, #details * {
	font-size: 15px !important;
	line-height: 1.6em;
	background-color: transparent !important;
	color: #666 !important;
	padding: 0px !important;
}
#details p
{
	margin-buttom:20px !important;
}
#details a{
	color:#09F !important;
}
#details img {
	max-width: 100% !important;
}
#details .nointro{
	font-size: 16px;
	line-height: 30px;
	color: #666;
	padding: 20px;
}
video::-internal-media-controls-download-button {
 display:none;
}
 video::-webkit-media-controls-enclosure {
 overflow:hidden;
}
video::-webkit-media-controls-panel {
 width: calc(100% + 30px);
}
.mui-table-view {
	margin: 10px;
}
/*附件*/

#access {
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#access dd {
	margin: 0px;
	line-height: 35px;
}
.noaccess {
	font-size: 16px;
	line-height: 30px;
	color: #666;
	padding: 20px;
}
/*没有购买课程*/
#noStudy {
	text-align: center;
	margin-top: 30px;
	margin: 10px;
	margin-top: 50px;
	height: auto;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	background-color: white;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	padding: 10px;
	height: 140px;
	line-height: 100px;
}
/*+++++底部图标*/
.footer span{
	height:15px !important;
	display:block;
	width:100%;
}
.footer b{
	height:20px !important;
	display:block;
	width:100% !important;
}
.footer b:before{
	display:block;
}
.footer a.foot-outline b:before {
	content: "\e79c";
	font-size: 16px;
}
.footer a.foot-video b:before {
	content: "\e615";
}
.footer a.foot-message b:before {
	content: "\e75a";
}
.footer a.foot-text b:before {
	content: "\e65e";
	font-size: 23px;
	margin-top:1px;
}
.footer a.foot-acc b:before {
	content: "\e651";
}
.footer a.foot-course b:before {
	content: "\e60b";
}
.footer a.foot-home b:before {
	font-size: 22px;
}
/*-----底部图标*/

/*+++++++左侧侧滑菜单*/
.study-menu .cour-info {
	margin: 10px;
	display: table;
	width: 100%;
}
.study-menu .cour-info img {
	width: 30%;
	margin-right: 5%;
	float: left;
	box-shadow: 0 1px 2px #fff !important;
}
.study-menu .cour-info .cour-info-right {
	width: 60%;
	margin-right: 5%;
	float: left;
}
.cour-info-right cour-name {
	display: block;
	line-height: 22px;
	color: #eee;
}
.cour-info-right cour-name:before {
	content: "\e60b";
	font-size: 15px;
	font-family: iconfont;
	margin-right: 8px;
}
.cour-info-right sbj-name {
	display: block;
	line-height: 22px;
	color: #999;
	font-size: 10px;
}
.cour-info-right sbj-name:before {
	content: "\e675";
	font-size: 10px;
	margin-right: 5px;
	font-family: iconfont;
}
/*侧滑菜单的章节列表*/
.study-menu .outline {
	padding-right: 40px !important;
}
.study-menu .outline a:before {
	content: "\e681";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 15px;
	font-weight: normal;
}
/*视频章节的图标*/
.study-menu .li-video a:before {
	content: "\e66c";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 16px;
	font-weight: normal;
}
/*当前章节*/
.study-menu .current {
	color: #FF9;
}
.study-menu .current a:before {
	content: "\e618";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 14px;
	font-weight: normal;
}
.study-menu .mui-badge {
	color: #999;
	background-color: #555;
}
.study-menu .noselect {
	color: #666 !important;
}
/*-------左侧侧滑菜单*/

/*学习内容*/
.mui-card {
	float: left;
}
.mui-card-header{
	font-size:15px;
}
.intro-box .mui-card-header span:before {
	content: "\e65e";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 18px;
	margin-top:2px;
	display:block;
	float:left;
}
/*附件*/
.acc-box .mui-card-header span:before {
	content: "\e651";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 16px;
}
