html {
	background-color: #f2f2f2;
	overflow-x: hidden;
}
a {
	color: gray;
}
.mui-bar-nav~.mui-content {
	padding-top: 0px;
}
/*头部*/
.headbar {
	background-color: #fff;
}
.logo {
	height: 30px;
	margin-top: 6px;
	float: left;
}
/*搜索框*/
#formSearch {
	width: 20%;
	float: right;
}
.sear {
	font-size: 12px !important;
	background-color: #eee !important;
}
/*通知公告*/
.notice-box {
	margin-top: 8px;
	height:52px;
}
.notice {
	margin-right: 40px !important;
}
.notice i {
	font-size: 20px;
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ccc;
	color: #fff;
	margin-right: 10px;
	font-variant: normal;
	font-style: normal;
}
.notice i:before {
	content: "\e67a";
	font-family: iconfont;
	font-size: 25px;
}
.notice-box .mui-badge {
	background-color: rgba(0,0,0,.10);
	color: #666;
	font-size: 10px;
}
/*自定义菜单*/
.custom-menu {
	width: 100%;
	display: table;
	text-align: center;
	margin-top: 6px;
	background-color: #FFF;
}
.custom-menu a {
	float: left;
	width: 33%;
	height: 80px;
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
}
.custom-menu a .mitem {
	text-align: center;
	display: block;
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}
.custom-menu a img {
}
.custom-menu a b:before {
	content: "\e610";
	font-family: "iconfont";
	line-height: 50px;
	font-size: 35px;
}
.custom-menu a span {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
	text-decoration: none;
	position: absolute;
	text-align: center;
	display: block;
	line-height: 20px;
	white-space: nowrap;
	height: 20px;
	overflow: hidden;
	bottom: 0px;
	width: 100%;
}
/*课程展示区*/
.cour-area {
	position: relative;
	display: table;
	background-color: #FFF;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	margin: 8px;
}
.cour-left-line{
	position: absolute;
	width:10px;
	height: 40px;
	display: block;
	z-index: 11;
	left: 0px;
	top: 0px;
	background-color: #000;
	background: linear-gradient(to left, rgba(255,255,255,0.0) 0%,rgba(255,255,255,1) 80%, rgba(255,255,255,1)); 
}
.cour-area .cour-more {
	position: absolute;
	width: 50px;
	height: 40px;
	display: block;
	z-index: 10;
	right: 0px;
	top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #000;
	background: linear-gradient(to right, rgba(255,255,255,0.0) 0%,rgba(255,255,255,1) 30%, rgba(255,255,255,1)); 
}
.cour-area .cour-more:before {
	content: "\e684";
	font-family: "iconfont";
	line-height: 38px;
	font-size: 20px;
	float: right;
	color: #666;
}
.cour-bar {
	padding-right: 50px;
	padding-left: 10px;
}
.cour-bar .cour-tit {
	font-size: 16px;
	line-height: 40px;
	margin-left: 5px !important;
	margin-right: 5px !important;
	padding: 0px !important;
}
.cour-bar .current {
	font-size: 18px;
	font-weight: bold;
	color: #333 !important;
}
/*课程展示区域*/
.cour-context {
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
.cour-list {
	text-align: center;
	width: 100%;
	display: table;
	position: relative;
	padding-bottom: 50px;
}
.cour-list .loading {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	font-size: 13px;
}
.cour-list .list-more {
	position: absolute;
	bottom: 10px;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: normal;
}
/*没有课程*/
.cour-list null {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 80%;
	text-align: center;
}
.cour-list null:before {
	content: "\e774";
	font-family: iconfont;
	font-size: 25px;
	color: #F60;
}
.cour-list .cour-box {
	width: 44%;
	min-height: 170px;
	float: left;
	text-align: center;
	position: relative;
}
.cour-list .cour-box:nth-of-type(odd) {
	margin-left: 4%;
	margin-right: 2%;
}
.cour-list .cour-box:nth-of-type(even) {
	margin-right: 4%;
	margin-left: 2%;
}
.cour-list .cour-box img {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 3px;
	box-shadow: 1px 1px 2px #888888;
}
/*免费课程的角标*/
.cour-list .cour-box free {
	position: absolute;
	top: 12px;
	right: -8px;
}
.cour-list .cour-box free:before {
	content: "\e633";
	font-family: iconfont;
	font-size: 40px;
	color: #090;
}
/*限时免费的角标*/
.cour-list .cour-box limitfree {
	position: absolute;
	top: 12px;
	right: -8px;
}
.cour-list .cour-box limitfree:before {
	content: "\e66f";
	font-family: iconfont;
	font-size: 40px;
	color: #f60;
}
/*推荐的角标*/
.cour-list .cour-box rec {
	position: absolute;
	top: 17px;
	left: -3px;
}
.cour-list .cour-box rec:before {
	content: "\e66a";
	font-family: iconfont;
	font-size: 40px;
	color: #f60;
}
.cour-list .cour-box name {
	display: block;
	text-align: left;
	line-height: 20px;
	max-height: 40px;
	overflow: hidden;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.cour-list .cour-box price {
	height: 25px;
	font-size: 12px;
	text-align: left;
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	color: #F30;
}
/*免费*/
.cour-list .cour-box price f {
	color: #090;
	font-size: 10px;
}
.cour-list .cour-box price f:before {
	content: "\e61a";
	font-family: iconfont;
	font-size: 20px;
	margin-right: 5px;
}
/*限时免费费*/
.cour-list .cour-box price l {
	color: #FF6600;
	font-size: 10px;
}
.cour-list .cour-box price l:before {
	content: "\e645";
	font-family: iconfont;
	font-size: 17px;
	margin-right: 2px;
}
.cour-list .cour-box price l t {
}
/*收费*/
.cour-list .cour-box price m {
	color: #F60;
	font-size: 12px;
}
.cour-list .cour-box price m:before {
	content: "\e619";
	font-family: iconfont;
	font-size: 16px;
	margin-right: 5px;
}
