.mui-card{
	width:96% !important;
	margin:0px !important;
	margin-right:2% !important;
	margin-left:2% !important;
	margin-bottom:10px !important;
	margin-top:5px !important;
}
.mui-content{
	
}
/*我的考试前面的图标*/
.examtitle{
	font-size:16px;
}
.examtitle:before{
	content: "\e602";
	font-size:18px;
	font-family: "iconfont";
	margin-right:6px;
}
.myexam:before{
	content: "\e602";
	font-size:18px;
	font-family: "iconfont";
	margin-right:6px;
}
.allexam:before{
	content: "\e602";
	font-size:18px;
	font-family: "iconfont";
	margin-right:6px;
}
/*考试主题*/
.examtheme{
}
.item{
	line-height: 25px;
}