* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.context {
	margin: 10px;
	margin-bottom: 100px;
}
.artTitle {
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.artAttrBar {
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	color: #666666;
}
#artImg {
	text-align: center;
}
#artImg img {
	max-width: 100% !important;
}
#artContext {
	margin-bottom: 20px;
}
#artContext img {
	width: 100% !important;
	margin: auto;
}
#artIntro {
	font-size: 15px !important;
	line-height: 22px !important;
	background-color: transparent !important;
	margin-bottom: 1em;
}
#artContext, #artContext p, #artContext font, #artContext div, #artContext span {
	font-size: 14px !important;
	line-height: 25px !important;
	background-color: transparent !important;
}
#artContext p {
	margin-top: 0.5em;
}
#artAcc {
	margin-bottom: 1em;
}
.filesize {
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}
/*底部*/
.footer {
	position: fixed;
	bottom: 1px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	z-index: 9999;
	opacity: .9;
	filter: alpha(opacity=90);
	_bottom: auto;
	_width: 100%;
	_position: absolute;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight- (parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
	background-color: #fff;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CCC;
}
.artNext {
	margin-left: 10px;
	margin-right: 10px;
}
