@charset "utf-8";
/*设置侧滑菜单的宽度*/
.mui-off-canvas-left, .mui-off-canvas-right {
	width: 80% !important;
}
#offCanvasSideScroll a{
	
}
.tit-box{
	margin: 20px;
	margin-left: 10px;
	color: #CCC;
}
.left{
	margin-left:10px;
	
}
.right{
	margin-right:20px;
}
.mui-table-view-cell
{
	padding-left:20px;
}
.rowico{
	font-size:25px;
	margin-right:2px;
}
.rowico:after{
	content: "\eb8d";
	font-family: "iconfont";
	margin-left: 5px;
	font-size: 18px;
}
.ico:before{
	content: "\eb8d";
	font-family: "iconfont";
	margin-right: 5px;
	font-size: 16px;
}
/*当前章节*/
.study-menu .current * {
	color: #FF9 !important;
}
.study-menu .current .rowico:after{
	content: "\e618";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 18px;
	font-weight: normal;
}
/*+++++++左侧侧滑菜单*/
.study-menu .cour-info {
	margin: 10px;
	display: table;
	width: 100%;
}
.study-menu .cour-info img {
	width: 30%;
	margin-right: 5%;
	float: left;
	box-shadow: 0 1px 2px #fff !important;
}
.study-menu .cour-info .cour-info-right {
	width: 60%;
	margin-right: 5%;
	float: left;
}
.cour-info-right cour-name {
	display: block;
	line-height: 22px;
	color: #eee;
}
.cour-info-right cour-name:before {
	content: "\e60b";
	font-size: 15px;
	font-family: iconfont;
	margin-right: 8px;
}
.cour-info-right sbj-name {
	display: block;
	line-height: 22px;
	color: #999;
	font-size: 10px;
}
.cour-info-right sbj-name:before {
	content: "\e675";
	font-size: 10px;
	margin-right: 5px;
	font-family: iconfont;
}

/*+++++底部图标*/
.footer span{
	height:15px !important;
	display:block;
	width:100%;
}
.footer b{
	height:20px !important;
	display:block;
	width:100% !important;
}
.footer b:before{
	display:block;
}
.footer a.foot-sort b:before {
	content: "\e601";
	font-size: 16px;
}
.footer a.foot-video b:before {
	content: "\e615";
}

.footer a.foot-ques b:before {
	content: "\e621";
	font-size: 23px;
}
.footer a.foot-course b:before {
	content: "\e60b";
}
.footer a.foot-home b:before {
	font-size: 22px;
}