@charset "utf-8";
#offCanvasSideScroll a{
	color: #CCC !important;	
}
.tit-box{
	margin: 20px;
	margin-left: 10px;
	color: #CCC;
}
.left{
	margin-left:10px;
	
}
.right{
	margin-right:20px;
}
.mui-table-view-cell
{
	padding-left:20px;
}
.rowico{
	font-size:25px;
}
.ico:before{
	content: "\e674";
	font-family: "iconfont";
	margin-right: 5px;
	font-size: 16px;
}