@charset "utf-8";

.mui-scroll-wrapper{
	overflow: auto !important;
}
.mui-scroll{
	margin-bottom:40px;
	padding-bottom:40px;
}

.txt{
	line-height: 35px;
	color: #666;
	text-align: center;
}
.card-tit{
	font-size:16px;
	line-height:20px;	
}
.card-tit:before{
	content: "\e62c";
	font-family: "iconfont";
	color: #333;
	font-size:22px;
	margin-right: 5px;
}
.btnHelp:before{
	content: "\e658";
	font-family: "iconfont";
	color: #333;
	font-size:22px;
	margin-right: 5px;
}
.online-tit{
	color: #060;
}
.nologin{
	width:auto;
}
.error-show{
	font-size: 14px;
	color: #F00;
}
label{

	width: 25% !important;
	margin-left: 8%;	
}
/*输入框*/
.textbox{
	border: 1px solid #CCC !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 36px !important;
	margin-top: 2px;
	margin-left:0px !important;
	margin-right:1% !important;
	width:64% !important;
	float:left !important;
	text-indent:10px;
}
/*确定按钮*/
.enter{
	float: right !important;
	width: 100px;
	margin-right:10px;
}


.acc-item{
	color: #F60;
	margin-left: 25px;
	font-size: 14px;
}

/*一些控件，自己定义样式*/

.mui-numbox{
	float:none !important;
	width:160px !important;
	margin-left:0px !important;
}
#btn_camera{
	margin-left: 30px;
	color: #F00;
	float:left;
	line-height:40px;
	display:block;
	cursor:pointer;
}
#btn_camera img{
	height:16px;
	margin-right:8px;
}
/*帮助说明*/
dl.help-txt{
	margin:0px;	
	margin-left:5px;
}
dl.help-txt dd{
	margin: 0px 0px 10px 20px;
	color: #666;
	text-indent: -20px;
}