.mui-table-view-cell {
	padding-right: 45px !important;
}
.mui-scroll-wrapper {
	overflow: auto;
}
.col-tit {
	font-weight: bold;
}
.col-tit:before {
	content: "\e60e";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 15px;
	width: 20px;
	font-weight: normal;
}
.mui-table-view-cell a:before {
	content: "\e671";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 15px;
	width: 20px;
	color: #999;
}
/*没有新闻*/
.no-info {
	text-align: center;
	font-size: 16px;
	line-height:25px;
	min-height:200px;
	margin-top:100px;
}
.no-info:before {
	content: "\e6a0";
	display: block;
	font-family: iconfont;
	font-size: 60px;
	line-height: 80px;
}
