
.header-top {
	height: 42px;
	padding-top: 5px;
	position: fixed;
	margin-bottom: 10px;
	top: 0px;
	width: 100%;
	z-index: 100;
 --background-color: rgba(230,230,230,1);
	background-color: #FFF;
}
/*左上角返回*/
.header-top .nav-left {
	position: absolute;
	font-size: 22px;
	top: 8px;
	left: 5px;
	color: #ccc;
}
.header-top #formSearch {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	float:right;
	margin-right:35px;
}
.header-top #formSearch input {
	font-size: 13px;

}
/*右上角搜索*/
.header-top .btnSearch {
	position: absolute;
	font-size: 22px;
	right: 8px;
	top: 11px;
	color: #ccc;
}
.mui-bar .mui-title{
	right:70px;
}
.mui-scroll{
	margin-top:45px !important;
}
.news-item a:before{
	content: "\e67a";
	font-family: iconfont;
	font-size: 17px;
	margin-right: 2px;
}