@charset "utf-8";
* {
	-webkit-touch-callout: none;  /*系统默认菜单被禁用*/
	-webkit-user-select: none; /*webkit浏览器*/
	-khtml-user-select: none; /*早期浏览器*/
	-moz-user-select: none;/*火狐*/
	-ms-user-select: none; /*IE10*/
	user-select: none;
}
:root {
 --bg:#efeff4;
}
input, textarea {
	-webkit-user-select: auto; /*webkit浏览器*/
}
body {
	margin: 0px;
	padding: 0px;
	background-color: var(--bg);
}

.blur {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(2px); /* Chrome, Opera */
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);
}

/*返回首页*/
.home:before {
	content: "\e678";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 20px;
	margin-top: 5px;
	color: #999;
}
/*返回*/
.goback:before {
	content: "\e6b0";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 22px;
	color: #999;
	padding-top: -5px;
}
.context {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}
#noQues {
	text-align: center;
	margin-top: 30px;
	margin: 10px;
	height: auto;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	background-color: white;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	padding: 10px;
	height: 100px;
	line-height: 100px;
}
.context .contextbox {
	margin: 0px !important;
}
.topBpx {
	background-color: #fff;
}
.topBpx * {
	line-height: 40px;
	font-size: 18px;
}
.topBpx a {
	text-decoration: none;
}
/*字体大小增减*/
.topBpx .fontsize>div {
	line-height: 50px;
	font-size: 14px;
	text-align: center;
	color: #999;
	display: block;
}
.fontoper {
	font-size: 18px !important;
	line-height: 40px;
	width: 20px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	float: right;
}
#addFont {
	margin-right: 10px;
}
/*删除试题的按钮*/
.del{
	line-height: 50px;
	font-size:14px;
}

.topBpx .item {
	font-size: 13px;
	line-height: 30px;
	text-align: center;
	height: 30px;
	margin-top: 6px;
	display: block;
	text-decoration: none;
}
/*设置项的按钮*/
.topBpx .btnSetup {
}
.topBpx .btnSetup:before {
	content: "\e66d";
	font-family: "iconfont";
	line-height: 50px;
}
#boxSetup {
	height: 130px;
	background-color: #fff;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	display: none;
	z-index: 101;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
#maskSetup {
	height: 200px;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: none;
	z-index: 100;
	filter: alpha(opacity=10); /*支持 IE 浏览器*/
	-moz-opacity: 0.10; /*支持 FireFox 浏览器*/
	opacity: 0.10; /*支持 Chrome, Opera, Safari 等浏览器*/
}
/*视图模式*/
dl.view-pattern {
	margin: 0px;
	padding: 20px;
	display: table;
	float: right;
	position: relative;
	filter: alpha(opacity=100); /*支持 IE 浏览器*/
	-moz-opacity: 1; /*支持 FireFox 浏览器*/
	opacity: 1 /*支持 Chrome, Opera, Safari 等浏览器*/
}
dl.view-pattern dd {
	float: left;
	width: 80px;
	height: 70px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
dl.view-pattern dd b {
	background-image: url(../Images/view-pattern.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
dl.view-pattern dd#patt1 b {
	background-position: -5px -56px;
}
dl.view-pattern dd#patt2 b {
	background-position: -67px -56px;
}
dl.view-pattern dd#patt3 b {
	background-position: -135px -56px;
}
/*视图模式的选中状态*/
dl.view-pattern dd.view-selected {
	font-weight: bold;
}
dl.view-pattern dd.view-selected b {
	border-radius: 50%;
}
dl.view-pattern dd#patt1.view-selected {
	color: #090;
}
dl.view-pattern dd#patt2.view-selected {
	color: #F90;
}
dl.view-pattern dd#patt3.view-selected {
	color: #039;
}
dl.view-pattern dd#patt1.view-selected b {
	background-position: -5px 0px;
	background-color: #E8FFE8;
}
dl.view-pattern dd#patt2.view-selected b {
	background-position: -67px 0px;
	background-color: #97D6FF;
}
dl.view-pattern dd#patt3.view-selected b {
	background-position: -135px 0px;
	background-color: #F90;
}
/*不同视图模式下消息框的样子*/
.patt1 .MsgBox {
	background-color: #E8FFE8 !important;
}
.patt2 .MsgBox {
	background-color: #fff !important;
}
.patt3 .MsgBox {
	background-color: #999 !important;
}
.patt3 .msgBtnBox {
	background-color: #bbbbbb !important;
}
/*不同视图模式下的回答正确与错误的样式*/
.patt1 .quesItem .succ {
	background-color: #C8FFE3 !important;
}
.patt2 .quesItem .succ {
	background-color: #E8FFE8 !important;
}
.patt3 .quesItem .succ {
	background-color: #005B2E !important;
}
.patt1 .quesItem .error {
	background-color: #FFECE8 !important;
}
.patt2 .quesItem .error {
	background-color: #FFECE8 !important;
}
.patt3 .quesItem .error {
	background-color: #640032 !important;
}
.nav-left {
	color: #999;
	line-height: 30px !important;
	width: 30px;
}
.topBpx span.ico {
	font-family: "iconfont" !important;
	font-size: 14px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 3px;
}
.submitError {
	border: 2px solid #dedede;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius: 18px;            /* W3C syntax */
	font-size: 13px;
	line-height: 30px;
	color: #000000;
	text-align: center;
	height: 30px;
	margin-top: 6px;
}
#indexNum {
	font-size: 14px;
}
/*提交按钮*/
.btnSubmit {
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	width: 80%;
	border: 1px solid #FF9900;
	margin-left: 10px;
	border-radius: 4px;
	background-color: #1B9AF7;
	border-color: #1B9AF7;
	font-size: 22px !important;
	color: #FFF;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.btnSubmit:active {
	box-shadow: 0 2px 0 #ccc, 0 3px 3px rgba(0, 0, 0, 0.3);
	background-color: #36A6F8;
	border-color: #36A6F8;
}
.btnSubmit>span.iconfont {
	height: 40px;
	line-height: 40px;
	font-weight: 300;
	font-size: 25px;
	margin-right: 20px;
}
#quesArea {
	position: relative;
}
.quesItem {
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	position : relative;
	webkit-overflow-scrolling: touch;
}
.quesItem img {
	max-width: 100%;
	margin: auto;
}
.quesBox {
	margin: 10px;
	height: auto;
	position: relative;
	overflow: hidden;
	margin: 10px;
	border-radius: 2px;
	background-color: white;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	padding: 10px;
}
.quesBox .quesTitle {
	padding: 10px;
}
.quesBox .quesTitle * {
	font-size: 20px;
	line-height: 36px;
	background-color: transparent !important;
	word-wrap: break-word;
	word-break: normal;
}
#cardBoxTitle span {
	font-size: 10px;
	margin-left: 5px;
}
#cardBoxTitle span:before {
	content: "\e603";
	font-family: "iconfont";
	margin-right: 2px;
}
#cardBoxTitle span.state0 {
	color: #CCCCCC;
}
#cardBoxTitle span.state1 {
	color: #00CC66;
}
#cardBoxTitle span.state2 {
	color: #F60;
}
#cardBoxTitle span.state3 {
	color: #09F;
}
.quesBox .quesItemsBox {
	margin-bottom: 20px;
}
.quesBox .quesItemsBox>div {
	overflow: auto;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	min-height: 30px;
}
.quesBox .quesItemsBox>div * {
	font-size: 16px;
	line-height: 30px;
}
.quesBox .quesItemsBox>div .type {
	font-family: "iconfont" !important;
	color: #666666;
	margin-right: 5px;
}
.quesBox .quesItemsBox>div img {
	max-width: 90%;
}
/*试题选择项*/
.quesItemsBox>div>b:before {
	font-family: "iconfont" !important;
	color: #666666;
	margin-right: 5px;
}
.selected {
	color: #0099FF;
}
.quesItemsBox>div.selected>b:before {
	color: #0099FF;
}
/*回答正确*/
.quesItem .succ {
	background-color: #E8FFE8;
}
/*回答错误*/
.quesItem .error {
	background-color: #FFECE8;
}
/*单选题图标*/
.t1>div>b:before {
	content: "\e650";
	font-family: "iconfont";
	margin-right: 5px;
	font-size: 20px;
}
.t1>div.selected>b:before {
	content: "\e682";
	font-family: "iconfont";
	margin-right: 5px;
	font-size: 20px;
}
/*多选题图标*/
.t2>div>b:before {
	content: "\e628";
	font-family: "iconfont";
	margin-right: 5px;
}
.t2>div.selected>b:before {
	content: "\e7cc";
	font-family: "iconfont";
	margin-right: 5px;
}
/*判断题图标*/
.t3>div>b:before {
	content: "\e628";
	font-family: "iconfont";
	margin-right: 5px;
}
.t3>div.selected>b:before {
	content: "\e7cc";
	font-family: "iconfont";
	margin-right: 5px;
}
/*简答题图标*/
.t4>div>i:before {
	content: "\e699";
	font-family: iconfont;
	margin-right: 5px;
}
/*填空题图标*/
.t5>div>b:before {
	content: "\e634";
	font-family: "iconfont";
	margin-right: 5px;
}
/*底部按钮条*/
.ctlBtn {
	background-color: #fff;
}
.ctlBtn>div {
	line-height: 40px;
}
.ctlBtn .correct-rate:before {
	content: "正确率：";
	margin-left: 5px;
}
.ctlBtn .correct-rate:after {
	content: "%";
}
/*正确数*/
.ctlBtn .correct-num {
	text-align: center;
}
.ctlBtn .correct-num:before {
	content: "\e67f";
	font-family: "iconfont";
	color: #0099FF;
	margin-right: 5px;
	margin-top: 3px;
	font-size: 18px;
}
/*错误数*/
.ctlBtn .error-num {
	text-align: center;
}
.ctlBtn .error-num:before {
	content: "\e664";
	font-family: "iconfont";
	color: #FF0000;
	margin-right: 5px;
	font-size: 17px;
}
.textbox4 {
	font-size: 16px;
	line-height: 25px;
	height: 125px;
	width: 100%;
	border: 1px solid #999999;
	margin-top: 3px;
}
.textbox5 {
	font-size: 16px;
	line-height: 25px;
	height: 25px;
	width: 50% !important;
	border: 1px solid #999999;
	margin-top: 3px;
}
/*试题下方显示的正确答案*/
.quesAnswerBox {
	display: none;
	position: relative;
	overflow: hidden;
	margin: 10px;
	border-radius: 2px;
	background-color: white;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	padding: 10px;
}
.quesAnswerBox .quesAnswerTitle {
	line-height: 40px;
	height: 40px;
	font-weight: bold;
}
.quesAnswerBox .quesAnswerContent {
	line-height: 35px;
	min-height: 35px;
}
/*报错、收藏、笔记*/
.answerBtnbar {
	float: right;
	font-weight: normal;
}
.answerBtnbar>span {
	margin-right: 10px;
}
.answerBtnbar>span:before {
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 3px;
}
.btnError:before {
	content: "\e6d0";
	font-family: "iconfont";
}
.btnFav:before {
	content: "\e689";
	font-family: "iconfont";
	font-size: 16px;
}
.btnNote:before {
	content: "\e699";
	font-family: "iconfont";
}
.IsCollect {
	color: #FF0000;
}
.IsCollect:before {
	content: "\e62b";
	font-family: "iconfont";
	color: #FF0000;
}
/*答题卡*/
#btnCard {
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}
#btnCard:before {
	content: "\e617";
	font-family: "iconfont";
	font-size: 20px;
}
#cardBox {
	position: absolute;
	background-color: #efefef;
	z-index: 100;
}
#cardBoxTitleBar {
	line-height: 37px;
	height: 37px;
	border-bottom-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #ececec;
}
#cardBoxTitle {
	line-height: 37px;
	float: left;
	width: 80%;
	text-indent: 10px;
}
#cardBoxColse {
	line-height: 37px;
	text-align: center;
	float: right;
	height: 37px;
	width: 40px;
	color: #990000;
}
#cardBoxColse:before {
	content: "\e67b";
	font-family: "iconfont";
}
#cardLittle {
	position: absolute;
	background-color: #efefef;
	z-index: 100;
}
#cardBoxInner {
	margin-top: 10px;
	margin-left: 10px;
	overflow: auto;
}
#cardBox .typeName {
	margin-bottom: 5px;
	margin-top: 10px;
	width: 100%;
}
#cardBox dl {
	width: 100%;
	min-height: 20px;
	display: table;
	margin: 0px !important;
}
#cardBox dl dd {
	line-height: 30px;
	text-align: center;
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 8px;
	margin-right: 8px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	background-color: #FFFFFF;
	border-radius: 50%;
}
#cardBox dl dd.curr {
	color: #FFF;
	background-image: url(../Images/tk_exam.png);
	background-repeat: no-repeat;
	background-position: -67px -225px;
	background-color: #09F !important;
	box-shadow: 0 -1px 2px #ccc, 0 3px 1px rgba(0, 0, 0, 0.3);
}
#cardBox dl dd.succ {
	background-color: #00CC66;
	color: #FFFFFF;
}
#cardBox dl dd.error {
	background-color: #F60;
	color: #FFFFFF;
}
