html{
	overflow-x: hidden;
}
.mui-inner-wrap {
	position: relative;
}
.back {
	top: 0px;
	display: block;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	z-index: 2;
}
.home {
	top: 2px;
	left:30px;
	display: block;
	position: absolute;
	margin-top: 6px;
	margin-left: 5px;
	z-index: 2;
}
.home:before {
	content: "\e678";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 20px;
	margin-top:5px;
	font-weight: normal;	
	color:#666;
}
/*图片区*/
.chart-area {
	height: 200px;
	width: 100%;
	position: relative;
	text-align: center;
	padding-top: 10px;
	background-color: #FFF;
	margin-bottom: 8px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E6E6E6;
	background-color: #FFF;
}
.chart-area .chart-back {
	background: linear-gradient(to bottom right, #b4d0e5, #fff); /* 标准的语法 */
	height: 160px;
	width: 160px;
	top: 20px;
	border-radius: 80px;
	margin-right: auto;
	margin-left: auto;
	border: 20px solid #DFEFFF;
	box-shadow: 0 10px 20px rgba(223, 239, 255, .3);
}
.chart-area .y {
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.1) 80%); /* 标准的语法 */
	height: 100px;
	width: 100px;
	margin-top: 5px;
	border-radius: 80px 80px 80px 80px;
	margin-right: auto;
	margin-left: auto;
}
.chart-txt {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 60px;
}
.chart-txt span {
	display: block;
	font-size: 14px;
	color: #666;	
}
.chart-txt span.cou-rate {
	font-size: 30px;
	line-height: 40px;
	color: #666;
	font-weight: bold;
}
.quesnumbox{
	width:100%;
	height:40px;
	position:absolute;
	bottom:0px;
	margin:0px;
	padding:0px;
}
.quesnumbox dd{
	width:50%;
	float:left;
	margin:0px;
	padding:0px;
	line-height:40px;
	text-align:center;
}
/*主菜单*/
.mainmenuBox {
	width: 104%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E6E6E6;
	background-color: #FFF;
	margin-left: -2%;
	display: table;
}
.mainmenuBox .mm-item {
	float: left;
	width: 25%;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 90px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	background-color: #FFF;
	display: table;
}
.mainmenuBox .mm-ico {
	font-size: 45px;
	line-height: 50px;
	font-style: normal;
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}
.mainmenuBox .mm-item span {
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #666666;
	text-decoration: none;
	position: relative;
	text-align: center;
	display: block;
	font-size: 14px;
}
/*上次练习的时候*/
.log {
	display:none;
}
.right {
	margin-right: 20px;
}
.curr-logo {
	width: 30px;
	height: 30px !important;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -6px;
	border: 2px solid #CCC !important;
	display: block;
}
.curr-box {
	overflow: hidden;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.outline-tit b:before{
	content: "\e79c";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 16px;
	font-weight: normal;	
	color:#666;
}
.outline-tit a{
	float:right;
	font-size:14px;
}
.outline a {
	overflow: hidden;
	padding-right: 50px !important;
	padding-left: 60px !important;
}
a.noselect{
	color: #666 !important;
}
/*正确率的百分比*/
.outline b {
	background-color: #FFF;
	height: 40px;
	width: 40px;
	display: inline-block;
	position: absolute;
	bottom: 2px;
	background-image: url(../Images/percent.gif);
	background-repeat: no-repeat;
	background-position: -4px -1px;
}
.outline b.per1 {
	background-position: -48px -1px;
}
.outline b.per2 {
	background-position: -91px -1px;
}
.outline b.per3 {
	background-position: -135px -1px;
}
.outline b.per4 {
	background-position: -4px -46px;
}
.outline b.per5 {
	background-position: -48px -46px;
}
.outline b.per6 {
	background-position: -90px -46px;
}
.outline b.per7 {
	background-position: -134px -46px;
}
.outline b.per8 {
	background-position: -3px -92px;
}
.outline b.per9 {
	background-position: -47px -92px;
}
.outline b.per10 {
	background-position: -89px -92px;
}
.mui-badge {
	right: 8px !important;
}
.right-item {
	float: right;
	margin-right: 25px;
	line-height: 20px;
	color: #999;
	text-align: right;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
}
.count {
	margin-right: 5px;
}
.couname {
	font-size: 16px;
}
.left {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 65%;
}

/*+++++底部图标*/
.footer span{
	height:15px !important;
	display:block;
	width:100%;
}
.footer b{
	height:20px !important;
	display:block;
	width:100% !important;
}
.footer b:before{
	display:block;
}
.footer a.foot-test b:before {
	content: "\e600";
}
.footer a.foot-video b:before {
	content: "\e615";
}

.footer a.foot-ques b:before {
	content: "\e621";
	font-size: 23px;
}
.footer a.foot-course b:before {
	content: "\e60b";
}
.footer a.foot-home b:before {
	font-size: 22px;
}