@charset "utf-8";
.nav-left{
	font-size:30px;
	line-height:35px;
}
.msg {
	line-height: 40px;
	width: 100%;
	height: 40px;
	font-size: 16px;
	text-align:center;
}
#error-show{
	color: #F00;
	text-align: center !important;
}

.infoRow {
	line-height: 40px;
	width: 100%;
	height: 40px;
	font-size: 16px;
}
.infoRow .RowRight {
	text-align: right;
	float: left;
	width: 100px;
}
.infoRow .RowLeft {
	float: left;
	width: 200px;
}
.textbox {
	font-size: 16px;
	line-height: 30px;
	height: 35px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity:0.8;
	filter:alpha(opacity=80);
	float: left;
	color: #333333;
	padding:0px !important;
}
.verify {
	float: left;
	width: 102px;
}


.verifyCode{
	cursor:pointer;
	height: 32px;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
	width: 72px;
}
.btnEdit {

	width: 130px;
	
}
.btnChangePw {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 130px;
	float: left;
	margin-left: 20px;
	background-color: #ff5842;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
}
