@charset "utf-8";
.context {
	overflow: hidden !important;
}
.logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 6px;
	border: 2px solid #CCC !important;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
}
.logo img{
	width: 100px;
	height: 100px;
}
.ico{
	font-size: 60px;
	width: 100%;
	height: 100%;
	line-height: 100px;
	text-align: center;
	color: #CCC;
}
.name{
	text-align: center;
	width: 100%;
	line-height: 40px;
}
.row {
	line-height: 40px;
	width: 80%;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
}
.row .rowRight {
	text-align: right;
	float: left;
	width: 30%;
	font-size: 15px;
}
.row .rowLeft {
	float: left;
	width: 70%;
}
/*及格分*/
.passscore{
	font-size: 13px;
	color: #060;
}
/*底部*/
.footer-pager {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	z-index: 9999;
	opacity: .9;
	filter: alpha(opacity=90);
	_bottom: auto;
	_width: 100%;
	_position: absolute;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight- (parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
	background-color: #fff;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CCC;
}
.btnbox{
	float:left;
}
.btnbox, .btnbox a{
	text-align: center;
	color: #FFF;	

	height:40px;
	line-height:40px;	
	display:block;
}
.exam{
	width: 60%;
	background-color: #F60;
	background-color: #66CC33;
}
.result{
	width: 40%;
	color: #999;
	background-color: #188eee;
}
.aStartExam{
	
}
