@charset "utf-8";
*{   
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
}  
input, textarea {      
     -webkit-user-select:auto; /*webkit浏览器*/     
}  
td, th {
	text-align: center;
	line-height: 20px;
}
div, p, td, * {
	line-height: 25px;
}
img{
	max-width:100%;
}
.pagerTitle {
	font-size: 16px;
	line-height: 25px;
	color: #2d81ff;
	text-align: center;
	margin-top: 10px;
}
.info {
	line-height: 20px;
	color: #000000;
	margin-left: auto;
	width: 90%;
	margin-right: auto;
	margin-top: 3px;
}
.scoreinfo {
	line-height: 35px;
	color: #000000;
	margin-left: auto;
	width: 90%;
	margin-right: auto;
	margin-bottom: 3px;
}
.scoreinfo .score {
	line-height: 35px;
	font-weight: bold;
	color: #FF0000;
}
.scoreinfo .total {
	font-weight: bold;
	color: #2d81ff;
}
.scoreinfo .pass {

}
#detailsTable {
	margin-right: auto;
	margin-left: auto;
}
#detailsTable th {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #d9f1ff;
	border-top-color: #b2cedf;
	border-right-color: #b2cedf;
	border-bottom-color: #b2cedf;
	border-left-color: #b2cedf;
}
.thLast {
	background-color: #d9f1ff;
	border: 1px solid #b2cedf !important;
}

.sum td {
	background-color: #FFFFCC;
}
/*试题详情*/
#quesBox
{
	width: 90%;
	margin-right: auto;
	margin-left: auto;

	margin-bottom: 30px;
}
.quesSelectBox {
	margin-left: 15px;
	margin-bottom: 20px;
}
.quesSelectBox p{
	display:inline-block;
}
.quesSelectBox .item_False{
	margin-top: 3px;
	color: #666;
}
.quesSelectBox .item_True{
	color: #06C;
	margin-top: 10px;	
}
.quesSelectBox .item_True .order{
	font-weight: bold;
}
#quesTitle {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	height: 30px;
	margin-top: 15px;
}
.typeName {
	line-height: 30px;
	height: 30px;
	margin-top: 10px;
	background-color: #FFFFCC;
	text-indent: 20px;
	font-weight: bold;
}
.qitemBox {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.qusTitle {
	display: table;
	margin-bottom: 10px;
	margin-top: 10px;
}
.qusTitle *{
	font-size: 14px;
	background-color: transparent !important;
	word-wrap: break-word;
    word-break: normal;
}
.qitemBox, .qitemBox *{
	background-color:transparent !important;
}
#quesBtnBox {
	height: 25px;
	width: 100%;
}
.btn {
	float: left;
	height: 25px;
	width: 24%;
	cursor:pointer;
	text-align: center;
	color: #0066CC;
	font-size: 14px;
}
#btnAll {
	color: #000000;
}
#btnSuccess {
	color: #0099FF;
}
#btnError {
	color: #FF0000;
}
#btnNoans {
	color: #666666;
}



/*答题正确*/
.ansState0 {
	background-color: #e2f5ff;
	border: 1px solid #B3E7FF;
}
/*答题错误*/
.ansState1 {
	background-color: #fde5e3;
	border: 1px solid #E2C9C9;
}

/*没有答题*/
.ansState2 {
	background-color: #efefef;
	border: 1px solid #dedede;
}
.btnDelResult {
	line-height: 40px;
	text-align: center;
	height: 40px;
	margin-left: auto;
	width: 90%;
	margin-right: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #009cff;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	display: block;
	letter-spacing: 0.2em;
	margin-top: 20px;
}
