<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>修改信息</title>
    <script type="text/javascript" src="../Scripts/hanzi2pinyin.js"></script>
</head>

<body>
    <div id="vapp" v-cloak>
        <el-form ref="account" :model="account" :rules="rules" @submit.native.prevent label-width="80px">
            <el-form-item>
                <el-upload class="avatar-uploader"
                    :action="'/upload/image/Employee?width=200&height=200&tojpg=true&small=true&old='+account.Acc_Photo"
                    :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                    <img v-if="JSON.stringify(account)!='{}' && account.Acc_Photo!=''" :src="account.Acc_Photo" class="avatar photo">
                    <img v-else class="el-icon-plus avatar-uploader-icon photo" src="/Utilities/images/head1.jpg" />
                    <span class="avatar-uploader-icon photo-txt" v-if="JSON.stringify(account)!='{}'">上传头像</span>
                    <span class="nologin" v-if="JSON.stringify(account)=='{}'">(未登录或已失效)</span>
                  
                </el-upload>

            </el-form-item>
            <el-form-item label="姓名" prop="Acc_Name">
                <el-input v-model="account.Acc_Name" style="width:200px" @input="pingyin" @blur="pingyin"
                    :disabled="JSON.stringify(account)=='{}'"></el-input>

            </el-form-item>
            <el-form-item label="拼音缩写" prop="Acc_NamePinyin">
                <el-input v-model="account.Acc_NamePinyin" style="width:100px"></el-input>
                <span v-show="accPingyin.length>1" class="pingyin">
                    （多音：<span class="py" v-for="(d,i) in accPingyin" @click="account.Acc_NamePinyin=d">{{d}}
                        <span v-show='i<accPingyin.length-1'>,</span>
                    </span>）
            </el-form-item>
            <el-form-item label="性别" prop="Acc_NamePinyin">
                <el-radio-group v-model="account.Acc_Sex">
                    <el-radio-button label="1">男</el-radio-button>
                    <el-radio-button label="2">女</el-radio-button>
                    <el-radio-button label="0">未知</el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="生日" prop="Acc_Birthday">
                <el-date-picker v-model="account.Acc_Birthday" type="date" format="yyyy-MM-dd" placeholder="选择日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="电话" prop="Acc_Tel">
                <el-input v-model="account.Acc_Tel"></el-input>
            </el-form-item>
            <el-form-item label="移动电话" prop="Acc_MobileTel">
                <el-input v-model="account.Acc_MobileTel"></el-input>
            </el-form-item>
            <el-form-item label="Email" prop="Acc_Email">
                <el-input v-model="account.Acc_Email"></el-input>
            </el-form-item>
            <el-form-item label="QQ" prop="Acc_QQ">
                <el-input v-model="account.Acc_QQ"></el-input>
            </el-form-item>
        </el-form>
        <div class="footer">
            <el-button type="primary" v-if="JSON.stringify(account)!='{}'" native-type="submit" :loading="loading"
            plain @click="btnEnter('account')">确认修改</el-button>
        <el-button type='close'>取消</el-button>
          </div>
    </div>


</body>

</html>