@charset "utf-8";
#Context #errorBox {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #0387d9;
	text-align: center;
	height: 30px;
	margin-top: 100px;
	margin-bottom: 100px;
	min-height:300px;
}
