@charset "utf-8";

#bodyTop {
	background-image: url(../Images/knowledges-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
.title
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	height: 35px;
	margin-top: 20px;
}
.ltIntro
{
}

.ltDetails
{
}
.plAcc
{
	margin-top: 20px;
}
pre{
	background-color: #FFFFCC;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
.details {
	text-align: center;
}
.details p{
	text-indent: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.details, .details  span, .details div , .details *{
	font-size: 16px;
	line-height: 25px;
}

.details img {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}
