@charset "utf-8";
#Context
{
	margin: 5%;
	width: 90%;
}
.title
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	height: 35px;
	margin-top: 20px;
}
.ltIntro
{
}

.ltDetails
{
}
.noContext
{
	text-align: center;
	margin-top: 30px;
}
.plAcc
{
	margin-top: 20px;
}
pre{
	background-color: #FFFFCC;
	padding: 5px;
	border: 1px solid #CCCCCC;
}