@charset "utf-8";

#vapp {
    text-align: center;
    display: flex;
    justify-content: center;
}

/*参数错误的界面*/
.noexist {
    width: 600px;
    height: 400px;
    margin: 100px auto 0px auto;
    box-sizing: border-box;
    padding: 40px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.noexist>div:first-child {
    font-size: 18px;
    line-height: 40px;
    color: #ff0000;
}

.noexist>div:first-child icon {
    font-size: 25px;
}

.noexist>div:last-child {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
}

.noexist .context {
    width: 60%;
    text-align: left;
    margin: 50px auto 0px auto;
    line-height: 30px;
}