.el-cascader-node__label {
    display: flex;
    justify-content: space-between;
}

.el-cascader-node__label span {
    color: #333;
}
/*专业后面的数字*/
.el-cascader-node__label icon:last-child{
    margin: 3px 0px 0px 15px;
}

