@charset "utf-8";
body {
}
#bodyTop {
	background-image: url(../Images/teacher-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
#list {
	display: table;
}
#Context {
	display: table;
}
#teacherTitle {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
	color: #000000;
	background-image: url(../../Images/icon1.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	height: 40px;
	margin-top: 25px;
	text-indent: 45px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}



#list .item {
	height: 230px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E3E3E3;
	margin-top: 30px;
}
#list .item .info {
	float: left;
	height: 150px;
	width: 550px;
	margin-right: 30px;
}
.info .photo {
	width: 154px;
	border: 1px solid #E4E4E4;
	float: left;
	height: 204px;
}
.info .photo img {
	margin-top: 2px;
	margin-left: 2px;
}
.info .infoRight {
	float: right;
	height: 200px;
	width: 370px;
}
.info .infoRight .infoFirst {
	line-height: 30px;
	height: 30px;
}
.infoFirst .name {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
	color: #002482;
	line-height: 30px;
	float: left;
	height: 30px;
	width: auto;
	letter-spacing: 5px;
	margin-right: 10px;
}
.infoFirst .title {
	font-size: 13px;
	line-height: 25px;
	color: #333333;
	float: left;
	height: 25px;
	width: 100px;
	margin-top: 5px;
	font-weight: bold;
}
.infoRight .intro {
    width: 350px;
    font-size: 13px;
    line-height: 20px;
    height: 120px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.infoRight .btn {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	line-height: 35px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0387d9;
	height: 35px;
	width: 135px;
	letter-spacing: 5px;
	text-align: center;
	font-size: 16px;
}
.infoRight .btn a {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	line-height: 35px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0387d9;
	height: 35px;
	width: 135px;
	letter-spacing: 5px;
	text-align: center;
	font-size: 16px;
	display: block;
}

#list  .item  .courseBox {
	float: right;
	height: 150px;
	width: 400px;
}
.courseTitle {
	font-size: 13px;
	line-height: 35px;
	color: #002482;
	height: 35px;
}
.courseItem {
	float: left;
	height: 90px;
	width: 90px;
	margin-right: 25px;
}

.courseBox .courses {
	display: table;
}
.courseBox .noCourse {
	color: #999999;
}


.courseItem img {
	height: 62px;
	width: 100px;
}
.courseItem .courseName {
	line-height: 25px;
	white-space: nowrap;
	height: 25px;
	overflow: hidden;
}
.courseItem .courseName  a{
	color: #666666;	
}
#Context #pagerBar {
	margin-top: 20px;
}
