@charset "utf-8";
body {
	text-align: center;
	margin: 0px;
	padding: 0px;	
}

#Context {
	width: 1200px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
	display: table;
}
