@charset "utf-8";
#bodyTop {
	background-image: url(../Images/about.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
#Context {
	min-height:300px;
	font-size: 16px;
	line-height: 30px;
}
#Context, #Context a, #Context p, #Context div
{
	font-size: 16px;
	line-height: 30px;
}
.noabout
{
	font-size: 30px;
	line-height: 50px;
	color: #999;
	text-align: center;
	height: 500px;
	margin-top: 200px;
}
