@charset "utf-8";

html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#vapp {
	position: relative;
}
@page {
	size: auto;
	margin: 2cm;
	margin-top: 1cm;
	margin-bottom: 1cm;
}
@media print{
	html, body, #vapp {		
		overflow: auto !important;	
		height: auto !important;
	}	
}
*[v-cloak] {
	display: none;
}

* {
	touch-action: none;
	touch-action: pan-y;
}

.van-dialog {
	border-radius: 3px;
}

.draghandle {
	cursor: s-resize;
}

/*特殊字体*/

red, .red {
	color: red;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

dl, dd {
	padding: 0px;
	margin: 0px;
}

.icon_man::before {
	content: "\e645";
	color: rgb(3, 71, 71);
	font-family: "webdesk_icon" !important;
}

.icon_woman::before {
	content: "\e647";
	color: rgb(248, 87, 87);
	font-family: "webdesk_icon" !important;
}


.el-form {
	box-sizing: border-box;
}

/*表格的内容滚动（标题栏固定）*/
.el-table {
	height: calc(100% - 63px);
}

.el-table__body-wrapper {
	height: calc(100% - 41px);
	overflow-y: auto;
}

/*表单行距*/

.el-form-item {
	margin-bottom: 10px !important;
}

/*表单*/

.el-form {
	margin: 10px;
}

.el-form-item--medium .el-form-item__label {
	font-size: 16px;
}

.el-radio {
	margin-right: 10px !important;
}
/*当表格行处理禁用状态时*/
table.el-table__body tr.disabled td, table.el-table__body tr.disabled td *:not(.el-tag,.el-link) {
	color: #aaa !important;
}

table.el-table__body tr.disabled td img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
/*底部栏*/
.footer {
	width: calc(100% - 2px);
	box-sizing: border-box;
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: right;
	padding: 8px 6px 8px 8px;
	display: flex;
	justify-content: flex-end;
}

.el-button--close::before {
	content: '\e72c';
	font-size: 15px;
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
}

.el-button icon {
	font-size: 14px;
}

/*专业下拉选择菜单中，点击标签响应选择*/

.el-cascader-panel .el-radio {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 10px;
	right: 10px;
}

.el-cascader-panel .el-radio__input {
	visibility: hidden;
}

.el-cascader-panel .el-cascader-node__postfix {
	top: 10px;
}

/*禁用（不可以选择的）专业项*/

.is-disabled+* {
	color: #ccc !important;
}

label.is-disabled+*::after {
	content: ' (禁用)';
	font-size: 12px;
}


/*elementUI 的遮罩*/
.v-modal {
	background: rgba(255, 255, 255, .3);
}

.el-drawer {
	-webkit-box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);
	box-shadow: 0 8px 10px -5px rgb(158 158 158 / 10%), 0 16px 24px 2px rgb(158 158 158 / 7%), 0 6px 30px 5px rgb(158 158 158 / 6%);
}

/*内页的顶部*/
.frame_header {
	display: flex;
	height: 45px;
	overflow: hidden;
	justify-content: space-between;
}

/*卡片*/

card {
	display: block;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	border-radius: 4px;
	border: 1px solid #ebeef5;
	background-color: #fff;
	overflow: hidden;
	color: #303133;
	transition: .3s;
	margin: 15px;
	width: calc(100% - 30px);
}

card-title {
	display: block;
	padding: 15px;
	line-height: 25px;
	position: relative;
	border-bottom: solid 1px rgba(0, 0, 0, .1);
}

card-title[arrow]::after {
	content: '\e670';
	position: absolute;
	top: 15px;
	right: 8px;
	font-size: 18px;
	font-family: "webdesk_icon" !important;
}

card-title[line] {
	border-bottom: solid 1px rgba(0, 0, 0, .1);
}

card-context {
	display: block;
	padding: 10px 15px 15px 15px;
	line-height: 30px;
	box-sizing: border-box;
}

/*分页控件*/
#pager-box {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

#pager-box .el-pagination {
	display: flex;
	justify-content: center;
}