<!DOCTYPE html>
<html>

<head resource>
    <include file="inc/meta.inc" />
    <title>Admin Panel</title>
    <link type="text/css" rel="stylesheet" href="styles/login.css">
    <link rel="icon" href="images/favicon.gif" type="image/gif" />
</head>

<body oncontextmenu='return false'>

    <panel id="loading" remark="预载效果" style="display: none;">
        <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <b>界面加载中....</b>
    </panel>
    <panel id="login" remark="登录区域">
        <div id="login-area" remark="登录框">
            <!--插入内容-->
            <span style="display: none;">-- 对当前培训机构进行管理 --</span>
        </div>
        <!-- 背景效果 -->
        <iframe src="/Utilities/Panel/Effects/Circular/index.html" id="iframe" width="100%" height="100%"
            frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"
            allowtransparency="yes"></iframe>
    </panel>
    <panel id="admin" remark="管理面板" style="display: none;">
        <div id="header-box">
            <div id="logo"> <a href="/" v-if="organ.Org_Logo!=''" target="_blank">
                    <img :src="organ.Org_Logo" /></a>
                <a href="/" v-else target="_blank">
                    <img src="/Utilities/Images/def_logo2.jpg" />
                </a>
            </div>
            <div id="menubar">
            </div>
            <div id="user-area" remark="用户信息，也是下拉菜单"></div>
        </div>
        <div id="mainbody">
            <div id="treemenu-area" remark="树形菜单"></div>
            <div id="tabs-area" remark="选项卡"></div>
            <timer format='yyyy年M月d日 星期w hh:mm:ss'></timer>
            <div id="pageboxcollect"></div>
        </div>
    </panel>
</body>

</html>