html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}

a {
    color: #333;
}

section {
    height: 100%;
    width: 100%;
}

#mask {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
}

/*预载效*/

#mask #loading {
    width: 100px;
    height: 100px;
    margin: calc(100% / 3) auto 0px auto;
    position: relative;
}

#mask b {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    color: #fff;
    text-shadow: 1px 0 1px #8B4513, 0 1px 1px #8B4513, 0 -1px 1px #8B4513, -1px 0 1px #8B4513;
}

#mask span {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 999px;
    background: rgb(30, 30, 31);
    animation: bounce 0.4s infinite linear;
}

#mask span:nth-child(1) {
    left: 0;
    animation-delay: 0s;
}

#mask span:nth-child(2) {
    left: 20px;
    animation-delay: 0.1s;
}

#mask span:nth-child(3) {
    left: 40px;
    animation-delay: 0.2s;
}

#mask span:nth-child(4) {
    left: 60px;
    animation-delay: 0.3s;
}

#mask span:nth-child(5) {
    left: 80px;
    animation-delay: .4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-30px);
        opacity: 1.0;
    }
    100% {
        transform: translateY(0px);
        opacity: 0.5;
    }
}

menu {
    width: 300px;
    height: 100%;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 3px 0px 3px #ccc;
}

menu, menu * {
    margin: 0px;
    padding: 0px;
}

menu .tit {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #eee;
}

menu .tit i {
    font-size: 18px;
    margin-right: 5px;
}

menu .tit .searchbox {
    font-size: 22px;
    float: right;
    width: 170px;
    height: 100%;
    position: relative;
}

menu .tit .searchbox input {
    border: 1px solid #999;
    border-radius: 2px;
    height: 24px;
    width: 120px;
    top: 6px;
    position: absolute;
    z-index: 1;
    padding: 2px 30px 2px 10px;
}

menu .tit .searchbox i {
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    color: #999;
}

#menu {
    position: relative;
}

#menu dl {
    height: calc(100% - 70px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#menu dl::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#menu dl::-webkit-scrollbar-thumb {/*滚动条里面小方块*/

    border-radius: 3px;
     -webkit-box-shadow: inset 0 0 5px rgba(133, 131, 131, 0.2);
    background: #808080;
}

#menu dl::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(133, 131, 131, 0.2);
    border-radius: 3px;
    background: #EDEDED;
}
#menu .entity {
    display: block;
    line-height: 35px;
    padding-left: 15px;
    cursor: pointer;
    position: relative;
    --transform: rotate(-3deg);
    transition: background-color 0.5s;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#menu .entity, #menu .entity a {
    color: #333;
    text-decoration: none;
}

#menu .entity a:hover {
    text-decoration: underline;
}

#menu .entity:hover {
    background-color: #ccc;
    transition: background-color 0.5s;
}

#menu .entity i {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
}

#menu .entity span {
    font-size: 12px;
    color: #999;
}

dd.noapi span {
    font-size: 16px;
    margin: 10px;
    color: #999;
}

context {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    overflow-y: auto;
}

context>h1 {
    font-size: 16px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding: 0px 0px 0 20px;
    background-color: #eee;
}

context>h1>span {
    display: block;
    float: right;
    margin-right: 30px;
    width: 40px;
    height: 40px;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s all;    
}
context>h1>span>i{
    width: 40px;
    height: 40px;
    display: block;
}
context>h1>span>i::before {
    line-height: 40px;
    display: block;
}

context>h1>span.show {  
    transform:rotate(0deg); 
}
context>h1>span.hidden {    
    transform:rotate(-90deg);
}
.homepage{
    transform-origin: 0 0;
    display: block;
    position: absolute;
    width: calc(100% - 305px);
    top: 40px;
    right: 0px;
    background-color: #eee;
    overflow: hidden;
    transition: 0.3s opacity, 0.5s transform;
    z-index: 100;
    box-shadow: 0px 3px 3px #ccc;
    padding: 10px 0px 20px 0px;
}
.homepage p {
    padding: 10px 20px 0 20px;
    margin: 0px;
    font-size: 16px;
    line-height: 30px;
    text-indent: 30px;
}

footer {
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 12px;
    background-color: #eee;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer, footer a {
    text-decoration: none;
    color: #666;
}

footer a:hover {
    text-decoration: underline;
}

/*实体详情区域*/

.entity_area {
    margin: 0px 5px 0px 20px;
    padding: 0px 15px 10px 0px;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.entity_area a.anchor {
    display: block;
    height: 10px;
}

.entity_area .name {
    margin: 0px 10px 10px 0px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.entity_area .name span input {
    height: 20px;
    text-indent: 8px;
    width: 300px;
    font-size: 14px;
}

/*实体详情的搜索框*/

.entity_area .name .psearch {
    font-size: 22px;
    float: right;
    width: 150px;
    height: 100%;
    position: relative;
}

.psearch i {
    font-size: 18px;
    position: absolute;
    right: 12px;
    top: 5px;
    z-index: 2;
    color: #999;
}

.psearch input {
    border: 1px solid #999;
    border-radius: 2px;
    height: 20px;
    width: 100px;
    top: 1px;
    position: absolute;
    z-index: 1;
    padding: 2px 30px 2px 10px;
}

.entity_area textarea {
    font-size: 14px;
    line-height: 20px;
}

.name .mark {
    margin-left: 10px;
    cursor: pointer;
}

.name .mark span, .name .mark i {
    font-weight: normal;
    font-size: 16px;
    color: #666;
}

.name i, .intro i {
    margin-right: 4px;
}

.entity_area .intro {
    margin: 0px 10px 10px 0px;
    line-height: 25px;
}

.entity_area .intro .intro_text {
    cursor: pointer;
}

table {
    width: 100%;
    background-color: #666;
    border-collapse: separate;
    border: 2px solid #666;
    margin: 0px 10px 20px 0px;
}

table td {
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
}

table td textarea {
    width: 100%;
}

table tr th {
    text-align: center;
    background-color: #ccc;
}

table tr:not(:first-child):hover td {
    background-color: #ddd;
}

table tr td:first-child {
    text-align: center;
    width: 50px;
}

table tr td:nth-child(2), table tr th:nth-child(2) {
    text-indent: 8px;
    width: 160px;
}

table tr td:nth-child(3) {
    text-align: center;
    width: 60px;
}

table tr td:nth-child(4) {
    text-align: center;
    width: 40px;
}

table tr td:nth-child(5) {
    text-align: center;
    width: 120px;
}

table tr td:nth-child(6) {
    width: 120px;
    text-align: center;
}

table tr td:nth-child(6) input {
    width: 98%;
}

table tr td:nth-child(7) {
    padding: 2px 8px 2px 8px;
    line-height: 22px;
}

table tr td:nth-child(7) div {
    cursor: pointer;
}

table td b {
    color: red;
}