/wxapp/miniprogram/
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.pdb
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.rar
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Song.Site/Song.Site.Publish.xml
~$*.*
/培训考试系统.zip
/*.suo

*.baiduyun.uploading.cfg
/Sourcecode/Song.Site/Upload
/Sourcecode/Publish/WeiSha.Core.xml
/Sourcecode/Publish/WeiSha.Data.dll
/Sourcecode/Publish/WeiSha.Core.dll
/Sourcecode/Publish
/Sourcecode/Song.WebSite/upload/
!/Sourcecode/Song.WebSite/upload/copyright.xml
!/Sourcecode/Song.WebSite/upload/readme.html
!copyright.xml

/Sourcecode/Song.WebSite/logs
/Sourcecode/Song.WebSite/logs_viewdata
/Sourcecode/WeiSha.Core
/Sourcecode/Lib/WeiSha.Core.xml
/Sourcecode/Song.WebSite/license.weisha
/Sourcecode/Song.WebSite/license.weisha.txt
/Sourcecode/.cr
/Sourcecode/Lib/WeiSha.Data.XML
/Sourcecode/Song.WebSite/App_Data/weisha.db-shm
/Sourcecode/Song.WebSite/App_Data/weisha.db-wal
