/Song.Site/Bin/*.pdb
/Song.Site/Bin/Song.Site.dll
/Song.Site/Bin/*.xml
/Song.Site/Bin/Song.*.dll
/Song.Site/Bin/Song.Template.pdb
/Song.Site/Bin/WeiSha.Common.pdb
/Song.Site/Bin/WeiSha.Template.Engine.pdb
/Song.Site/Bin/Song.Entities.pdb
/Song.Site/Bin/Song.Extend.pdb
/Song.Entities/bin/
/Song.Entities/obj/
/Song.*/bin/
/Song.*/obj/
/Song.Site/upload/
/wxapp/miniprogram/
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.pdb
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.rar
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Song.Site/Song.Site.Publish.xml
/文档/开发文档/~$学习平台-数据字典.doc
~$*.*
/培训考试系统.zip
/*.suo
/Song.Site/Song.Site.Publish.xml
*.baiduyun.uploading.cfg
