<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />   
    <title>新闻</title>  
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="header">
            <a class="weisha_icon" icon="&#xe748" @click="window.history.go(-1); "></a>
            <a class="weisha_icon" icon="&#xa020" href="/mobi/index"> </a>
            <search_input></search_input>
        </div>
        <div class="context">
            <card v-for="(item,index) in chilren">
                <card-title arrow @click="window.location.href='list?colid='+item.Col_ID">
                    <span class="weisha_icon" icon="&#xe75c"></span>
                    {{item.Col_Name}}
                </card-title>
                <articles :column="item" :index="index"></articles>
            </card>
            <van-list v-model="loading" :finished="finished" finished-text="没有更多了" error-text="请求失败，点击重新加载"
                @load="onload">
                <card>
                    <card-title>
                        <span class="weisha_icon" icon="&#xe75c"></span>
                        {{column.Col_Name}}
                    </card-title>
                    <card-context>
                        <row v-for="(art,i) in articles" @click="window.location.href='detail.'+art.Art_Id">
                            <a href="#">{{art.Art_Title}}

                                <van-tag color="#eee" text-color="#666">{{art.Art_PushTime|date("yyyy-MM-dd")}}
                                </van-tag>
                            </a>
                        </row>
                    </card-context>
                </card>
            </van-list>
        </div>
    </div>


</body>

</html>