@charset "utf-8";

:root {
    /*颜色,依次为：默认前景色、焦点窗口的背景色、遮罩颜色*/
    --pbox-def-bgcolor: rgba(255, 255, 255, 0.8);
    --pbox-focus-bgcolor: rgb(218, 230, 245);
    --pbox-mask-bgcolor: rgba(255, 255, 255, .01);
    /*焦点窗体*/
    --pbox-focus-shadow: rgba(180, 180, 180, 0.3);
    --pbox-focus-title: #333;
    /*边线，窗体边线、遮罩边线*/
    --pbox-border-color: rgba(62, 63, 63, 0.6);
    --pbox-margin-border: #fff;
    /*标题*/
    --pbox-title-color: #aaa;
    --pbox-title-shadow: rgba(255, 255, 255, 1);
    /*下拉菜单,依次为：背景色、边线、分割线、前景色、禁用色*/
    --pbox-dropmenu-bgcolor: rgba(238, 238, 238, 1);
    --pbox-dropmenu-border: #ccc;
    --pbox-dropmenu-hr: #ddd;
    --pbox-dropmenu-color: #666;
    --pbox-dropmenu-disable: #999;
    /*下拉菜单的鼠标移入色、鼠标移入边线、鼠标移入背景色*/
    --pbox-dropmenu-hover: rgb(255, 255, 255);
    --pbox-dropmenu-hoverborder: rgba(161, 197, 247, 0.8);
    --pbox-dropmenu-hoverbgcolor: rgba(161, 197, 247, 0.2);

    /*按钮组*/
    --pbox-btn-color: #333;
    --pbox-btn-hoverbg: rgb(7, 119, 195);
    --pbox-btn-hovershadow: rgb(255, 255, 255);
    --pbox-btn-bgcolor: rgba(255, 255, 255, 0.8);
    --pbox-btn-disable: rgba(220, 220, 220, .4);

    /*内容区，依次为：背景色、遮罩色*/
    --pbox-content-bgcolor: rgba(226, 224, 224, 1);
    --pbox-content-mask: rgba(255, 255, 255, 0.01);

    /*窗体管理按钮,依次为：图标前景色，阴影色、窗体数的颜色*/
    --pbox-collect-color: #333;
    --pbox-collect-shadow: #ccc;
    --pbox-collect-total: rgba(255, 255, 255, 1);
    --pbox-collect-totalbg: #ff0000;

    /*窗体管理区域*/
    --pbox-minarea-bgcolor: rgba(238, 238, 238, .8);
    --pbox-minarea-border: #ccc;
    --pbox-minarea-shadow: rgb(238, 238, 238);

    /*最小化窗体,依次为：背景色、阴影色、鼠标移入背景色、边线、鼠标移入阴影*/
    --pbox-min-bgcolor: rgba(161, 197, 247, 0.4);
    --pbox-min-shadow: rgba(255, 255, 255, 1);
    --pbox-min-hoverbg: rgba(161, 197, 247, 0.8);
    --pbox-min-border: rgba(62, 63, 63, 0.3);
    --pbox-min-hovershadow: rgba(155, 155, 155, 0.3);
    --pbox-min-btncolor: #fff;
    --pbox-min-btnbgcolor: rgb(245, 45, 45);
}

.pagebox {
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(122, 122, 122, 0.3),
        -1px -1px 2px rgba(122, 122, 122, 0.3);
}

/*边框元素*/

.pagebox margin {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .6);
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 5%,
            rgba(255, 255, 255, 0.6) 120px,
            rgba(255, 255, 255, 0) 130px);
}
/*左上角图标下拉菜单*/

.pagebox_menu>*:not(hr):hover:after {
    background: linear-gradient(to bottom, rgba(161, 197, 247, 0.3) 1%,
            rgba(255, 255, 255, 0.3) 5%,
            rgba(161, 197, 247, 0.1) 50%,
            rgba(161, 197, 247, 0.3) 55%);
}


/*标题栏右上角按钮组*/

.pagebox btnbox {
    top: 0px;
    right: 6px;
    border-top: 1px solid rgba(62, 63, 63, 0.6);
    border-top: none;
    z-index: 3;
    border-radius: 0px 0px 4px 4px;
    box-shadow: -2px 0px 2px rgba(255, 255, 255, 0.6), 
    2px 0px 2px rgba(255, 255, 255, 0.6), 
    0px 2px 2px rgba(255, 255, 255, 0.6);
}

.pagebox btnbox>* {
    color: #fff;
    border-bottom: 1px solid rgba(62, 63, 63, 0.6);
    border-left: 1px solid rgba(62, 63, 63, 0.6);   
}


.pagebox btnbox>*:active {
    background-color: rgb(23, 119, 197);
    box-shadow: rgb(255, 255, 255) 0px 0px 3px inset;
}

.pagebox btnbox>*:hover:after {
    background-image: radial-gradient(rgba(66, 251, 240, 0.8) 50%, rgba(66, 251, 240, 0));
}

.pagebox btnbox>*:active:after {
    background-image: radial-gradient(rgba(66, 251, 240, 0.8) 40%, rgba(66, 251, 240, 0) 85%);
}

.pagebox btnbox>*:active:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
}

.pagebox btnbox>*:first-child {
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(62, 63, 63, 0.6);
    border-top: none;
    border-right: none;
}

.pagebox btnbox>*:last-child {
    border-bottom-right-radius: 4px;
    border: 1px solid rgba(62, 63, 63, 0.6);
    border-top: none;
}

.pagebox btnbox>*::before {
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6), -1px 0px 1px rgba(0, 0, 0, 0.6), 0px 1px 1px rgba(0, 0, 0, 0.6), 0px -1px 1px rgba(0, 0, 0, 0.6);
    color: #fff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, .8), rgba(255, 255, 255, .1));
}


.pagebox btnbox btn_min::before {
    font-weight: 900;
    line-height: 22px;
}

.pagebox btnbox btn_max::before {
    font-size: 15px;
    font-weight: 800;
}

.pagebox_full btnbox btn_max::before {   
    font-weight: 400;
    padding-top: 1px;
}

.pagebox btnbox btn_close {
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 6px inset;
    width: 45px;
}

.pagebox btnbox btn_close:hover {
    background-color: rgb(228, 32, 32);
}

.pagebox btnbox btn_close::before { 
    width: 45px;
    font-weight: 800;
    line-height: 18px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .9) 1%, rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, .1) 55%);
    border-radius: 0px 0px 4px 0px;
}


/*内容区*/

.pagebox iframe {
    border: 1px solid #777;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px -1px 2px 1px rgba(255, 255, 255, 0.8);
}


/* 焦点窗体的样式 */
.pagebox_focus {
    background-color: rgba(161, 197, 247, 0.95);
    box-shadow: 2px 2px 3px 1px rgba(122, 122, 122, 0.3), -2px -2px 3px 1px rgba(122, 122, 122, 0.3);
}

.pagebox_focus btnbox btn_close {
    background-color: rgb(195, 7, 7);
}
