@charset "utf-8";

.treemenu {
    /*选项卡的字体颜色*/
    --tag-color: #1b1b1b;
    /*选项卡背景色*/
    --tag-bg: rgb(71 144 221);
    /*选项卡被选中时的背景色*/
    --tag-selected-bg: rgb(221 230 249);
    /*选项卡被选中是的字体色*/
    --tag-selected-color: #33373b;
    /*菜单项右侧标题颜色与背景*/
    --title-color: #4e4e4e;
    --title-bg: rgba(121, 121, 121);
    /*菜单项，滑标滑过的效色*/
    --node-hover-color: #1b17dd;
    --node-hover-bg: transparent;
    --node-hover-border: solid 1px rgba(160, 160, 160, 0.6);
    /*菜单项，当前选中的颜色与背景色*/
    --node-curr-color: rgb(46, 10, 204);
    --node-curr-bg: transparent;
    --node-curr-border: solid 1px rgba(206, 185, 0, 0.6);
    /*查询面板，依次：背景色、内阴影、边框颜色、内容区背景*/
    --querypanel-title-color: #222;
    --querypanel-bg-color: rgb(235 235 235);
    --querypanel-bg-shadow: rgba(64, 158, 255, 0.2);
    --querypanel-border-color: #5d9ead;
    --querypanel-area-bgcolor: rgb(199 232 239 / 30%);
     /*查询面板中的文字颜色*/
     --querypanel-treetit-color: rgb(34, 98, 194);
     --querypanel-treenode-color: #6c6c6c;
}


.treemenu {
    box-shadow: 1px 1px #fff, 1px 0 #333, 0 1px #333;
}

/*当前选中的左侧选项卡*/
.treemenu tree_tags tree_tag.selected {
    background-color: var(--tag-selected-bg);
    color: var(--tag-selected-color);
    border-left: 3px solid rgb(253, 72, 0);
    border-radius: 0px;
}

/*选中的选项卡倒角效果*/
.treemenu tree_tags tree_tag.selected::before, .treemenu tree_tags tree_tag.selected::after {
    display: none !important;
}

.treemenu tree_tags tree_tag {
    background-color: rgb(195, 195, 195);
    transform: background-color .1s;
    color: #095db3;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, .8) 100%);
}

.treemenu tree_tags tree_tag.selected {
    color: #1b1b1b;
    background: var(--tag-selected-bg) !important;
    box-shadow: -1px 0 #333, 0 -1px #333, 1px 0 #fff, 0 1px #fff;
}


/*树形菜单区域*/

.treemenu tree_area tree_tit {
    background-color: rgba(107, 106, 106, 0.2);
    text-shadow: 1px 1px 2px #f9f9f9;
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .2));
    box-shadow: -1px 0 #333, 0 -1px #333, 1px 0 #fff, 0 1px #fff;
}

.treemenu tree-node:hover {
    text-shadow: 1px 1px 2px #999;
}

.treemenu tree_area tree_tit {
    text-shadow: 1px 1px 2px #aae8ff;
}

.treemenu tree-node:hover:before {
    border: var(--node-hover-border);
    background: var(--node-hover-bg);
    box-shadow: rgba(255, 255, 255, .3) 0px 0px 10px inset;
}

.treemenu tree_box.current>tree-node::before {
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

div.querypanel>section {
    background-image: none;
    box-shadow:none;
}
div.querypanel>section>section>tree_area {

    background-image: none;
}