@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

context {
	display: block;
	width: 100%;
	height: calc(100%);
	padding: 44px 0px 10px 0px;
	text-align: left;
	overflow-y: auto;
	box-sizing: border-box;
}

.item_info {
	margin: 0px;
	padding: 15px 15px;
	line-height: 30px;
	box-sizing: border-box;
	height: 50px;
	background-color: #fff;
	overflow: hidden;
}

.btnclearall {
	height: 30px;
	float: right;

}
.item_info>span{
	display: block;
	width: calc(100% - 110px);
	overflow: hidden;
	float: left;
	font-size: 13px;
	color: #666;
}
context icon {
	display: inline;
}

context p {
	margin: 0px 0px 0px 0px;
	text-indent: 30px;
}

card-title button {
	height: 30px !important;
	float: right;
}

.van-cell {
	font-size: 16px;
}

.list .van-tag {
	float: right;
}