@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}
context {
	display: block;
	width: 100%;
	height: calc(100% - 44px);
	padding: 44px 0px 10px 0px;
	text-align: left;
	overflow-y: auto;
	box-sizing: border-box;
	background: linear-gradient(rgba(147, 209, 255, 1), rgba(255, 255, 255, 1));

}
.help{
	margin: 10px;
	padding: 5px 15px;
	line-height: 30px;
}
context icon{
	display: inline;
}
context p{
	margin: 0px 0px 0px 0px;
	text-indent:30px;
}
card-title button{
	height: 30px !important;
	float: right;
}