<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学员导出</title>
    <script type="text/javascript" src="../Scripts/webdesk.ui.core.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <el-form ref="form" @submit.native.prevent label-width="80px">
            <el-row>
                <el-form-item label="机构" prop="organ">
                    <el-checkbox-group v-model="organs" :disabled="loading">
                        <div v-for="(item,index) in datas">
                            <el-checkbox :label="item.Org_ID" :key="item.Org_ID" name="item"> {{index+1}} . {{item.Org_Name}}
                            </el-checkbox>
                            <br />
                            <el-tag type="info" title="简称">{{item.Org_AbbrName}}</el-tag>
                            <el-tag type="info" title="平台名称">{{item.Org_PlatformName}}</el-tag>
                            <el-tag type="info" title="二级域名"> {{item.Org_TwoDomain}}. {{domain}}</el-tag>
                        </div>
                    </el-checkbox-group>
                </el-form-item>
            </el-row>

            <el-form-item>
                <el-button :type="loading ? 'info' : 'success'" v-on:click="btnOutput" class="el-icon-position"
                    :loading="loading" native-type="submit">
                    导出学员信息
                </el-button>
            </el-form-item>
            <template v-if="files.length>0">
                <el-divider></el-divider>
                <el-form-item label="文件下载">
                    <dl>
                        <dd v-for="(f,i) in files">
                            <div>{{i+1}}. <a :href="f.url" target="_blank" title="点击下载" :download="f.file">
                                    {{f.file}}</a>
                                {{f.size|size}}
                                <el-popconfirm title="确定删除这个文件吗？" @confirm="deleteFile(f.file)">
                                    <el-link type="danger" icon="el-icon-delete" v-loading="loading" slot="reference">删除
                                    </el-link>
                                </el-popconfirm>
                            </div>
                        </dd>
                    </dl>
                </el-form-item>
            </template>
        </el-form>

    </div>


</body>

</html>