<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改信息</title>
    <script type="text/javascript" src="../Scripts/webdesk.ui.core.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <el-form ref="entity" :model="entity" :rules="rules" @submit.native.prevent label-width="80px">

            <el-form-item label="名称" prop="EGrp_Name">
                <el-input v-model="entity.EGrp_Name"></el-input>
            </el-form-item>
            <el-form-item label="说明" prop="EGrp_Intro">
                <el-input type="textarea" :rows="5" placeholder="请输入内容" v-model="entity.EGrp_Intro"></el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-switch v-model="entity.EGrp_IsUse" :active-text="entity.EGrp_IsUse ? '启用' : '禁用'"
                    inactive-text="">
                </el-switch>
            </el-form-item>

            <el-form-item label="排序号" v-if="entity.EGrp_Tax>0">
                <el-input-number v-model="entity.EGrp_Tax"></el-input-number>
            </el-form-item>
            <el-form-item class="footer">
                <el-button type="primary" native-type="submit" :loading="loading" plain @click="btnEnter">确认修改
                </el-button>
                <el-button type='close'>取消</el-button>
            </el-form-item>
        </el-form>
    </div>


</body>

</html>