<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>管理菜单的根节点编辑</title>

</head>

<body>
    <div id="vapp" v-cloak>
        <el-form ref="entity" :model="entity" :rules="rules" @submit.native.prevent label-width="80px">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="名称" prop="MM_Name">
                        <el-input v-model="entity.MM_Name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="简称" prop="MM_AbbrName">
                        <el-input v-model="entity.MM_AbbrName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="标识" prop="MM_Marker">
                        <el-input v-model="entity.MM_Marker" :disabled="entity.MM_IsFixed"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="图标" prop="MM_IcoS">
                        <el-link type="primary" @click="$refs['icons'].show=true">
                            <span v-if="entity.MM_IcoS==null || entity.MM_IcoS==''">
                                <icon setup></icon>
                            </span>
                            <icon v-else style="font-size: 18px;" v-html="'&#x'+entity.MM_IcoS+';'"></icon>&nbsp;点击选择
                        </el-link>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-form-item label="说明" prop="MM_Intro">
                    <el-input type="textarea" :rows="4" placeholder="请输入内容" v-model="entity.MM_Intro"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="状态">
                    <el-switch v-model="entity.MM_IsShow" v-if="false" :active-text="entity.MM_IsShow ? '显示' : '隐藏'">
                    </el-switch>
                    <el-switch v-model="entity.MM_IsUse" :active-text="entity.MM_IsUse ? '启用' : '禁用'">
                    </el-switch>
                </el-form-item>
            </el-row>

        </el-form>
        <div class="footer">
            <el-button type="primary" define="enter" native-type="submit" :loading="loading" plain
                @click="btnEnter('entity',true)">保存
            </el-button>
            <el-button v-if="!isadd" type="primary" define="apply" native-type="submit" :loading="loading" plain
                @click="btnEnter('entity',false)">应用
            </el-button>
            <el-button type='close'>取消</el-button>
        </div>
        <icons @change='val=>{entity.MM_IcoS=val}' ref="icons" :selected="entity.MM_IcoS"></icons>

    </div>


</body>

</html>