<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>岗位成员设置</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <workarea>
            <div class="left">
                <div class="tit">
                    <span>
                        <icon>&#xe67d</icon>所有人员
                    </span>
                    <el-input placeholder="查询" style="width:150px" v-model="form.name" clearable
                        @change="employelist(1)" @clear="employelist">
                        <i class="el-icon-search el-input__icon" slot="suffix" @click="employelist(1)"> </i>
                    </el-input>
                </div>
                <el-table ref="accounts" border resizable :data="accounts" v-loading="loading.left" tooltip-effect="dark"
                    style="width: 100%" @selection-change="val=>selects=val">
                    <el-table-column type="selection" width="55">
                    </el-table-column>
                    <el-table-column label="">
                        <template slot="header" slot-scope="scope">
                            姓名/账号
                            <el-tag type="info" class="count" v-if="selects.length>0">选中 {{selects.length}} 个</el-tag>
                        </template>
                        <template slot-scope="scope">
                            <icon :woman="scope.row.Acc_Sex==2" :man="scope.row.Acc_Sex!=2">
                                <span v-html='showsearch(scope.row.Acc_AccName,form.name)' class="large"
                                    v-if="scope.row.Acc_AccName!=''"></span>
                                <span v-else class="noname" class="large">(没有名字)</span>
                              
                            </icon>  / {{ scope.row.Acc_AccName }}
                        </template>
                    </el-table-column>
                </el-table>

            </div>
            <div class="center">
                <el-button type="primary" plain @click="toRight">
                    <icon>&#xe6c6</icon>选择
                </el-button>
                <br />
                <el-button type="warning" plain @click="toLeft">
                    <icon style="transform: rotate(180deg);">&#xe6c6</icon>取消
                </el-button>
            </div>
            <div class="right">
                <div class="tit"> <span>
                        <icon>&#xe635</icon>岗位成员
                    </span>
                    <el-tag type="info" class="count" v-if="posiacconts.length>0">共 {{posiacconts.length}} 人</el-tag>
                </div>
                <el-table ref="posiacconts" border resizable :data="posiacconts" v-loading="loading.right" tooltip-effect="dark"
                    style="width: 100%" @selection-change="val=>posiselects=val">
                    <el-table-column type="selection" width="55">
                    </el-table-column>
                    <el-table-column label="">
                        <template slot="header" slot-scope="scope">
                            姓名/账号
                            <el-tag type="info" class="count" v-if="posiselects.length>0">选中 {{posiselects.length}} 条
                            </el-tag>
                        </template>
                        <template slot-scope="scope">
                            <span v-if="scope.row.Acc_Sex=='1'" class="man" icon="&#xe645" title="男性"></span>
                            <span v-if="scope.row.Acc_Sex=='2'" class="woman" icon="&#xe647" title="女性"></span>
                            <span v-html='showsearch(scope.row.Acc_Name,form.name)'></span>/ {{ scope.row.Acc_AccName }}
                        </template>
                    </el-table-column>


                </el-table>
            </div>
        </workarea>
        <div id="pager-box">
            <el-pagination v-on:current-change="employelist" :current-page="form.index" :page-sizes="[1]"
                :page-size="form.size" :pager-count="5" layout="total, prev, pager, next" :total="total">
            </el-pagination>
        </div>
        <div class="footer">
            <el-button type="primary" native-type="submit" :loading="loading.update" plain @click="btnEnter()">
                <icon v-if="!loading.update">&#xa048</icon>保存
            </el-button>
            <el-button type='close'>
                取消
            </el-button>
        </div>
    </div>
</body>

</html>