html, body, #vapp {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;    
}
body {
    padding-bottom: 50px;   
}
div.code-toolbar {
    width: calc(100% - 30px);
    margin-left: 15px;
}
table {
    background-color: #ccc;
    width: calc(100% - 30px);
    margin-left: 15px;
}

table td {
    background-color: #fff;
}
table th {
    background-color: #eee;
}
th,
td {
    height: 25px;
    line-height: 35px;
    font-weight: normal;
}

td {
    padding: 0px 10px 0px 10px;
}

table tr td:first-child {
    text-align: center;
    padding: 0px;
}

table#eventTable tr td:first-child:before {
    content: 'on'
}