body, p, div, td {
	font-size: 14px;
}
.box {
	width: 100%;
	display:table;

}
.titBar {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.inMoneyBtn{
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	color: #336600;
	height: 30px;
	margin-left: 30px;
	width: 90px;
	float: right;
	cursor:pointer;
	display:block;
	text-align:center;
}
.inMoneyBtn:hover{
	color: #F90;
	text-decoration: none;
}
.inMoneyBtn span{
	font-size: 25px;
}
.titBar .title {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	color: #333333;
	height: 30px;
	margin-left: 30px;
	width:200px;
	float:left;
}
.moneyBox
{
	float: left;
	height: 123px;
	width: 400px;
}
.money
{
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	font-size: 50px;
	line-height: 123px;
	font-weight: normal;
	height: 123px;
	width: 400px;
	text-align: center;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}
.moneyListBox{
	float: right;
	height: 123px;
	width: 350px;
}
.moneyListBox .account{
	font-size: 14px;
	line-height: 25px;
	height: 25px;
}
 .listBox {
	
}
.type1{
	color: #FF0000;
}
.type2{
	color: #006600;
}

.item {
	float: left;
	height: 180px;
	width: 200px;
	margin-top: 10px;
	margin-right: 10px;
}
.item img {
	height: 123px;
	width: 200px;
}
.item .itemName, .item .itemName a {
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	color: #333333;
}