.gpsRow
{
	height: 30px;
	display: table;
	width:600px;
}
#btnViewmap
{
	background-image: url(../../Images/mapPoint.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 18px;
	cursor:pointer;
	float: left;
	margin-right: 10px;
}
.gpsBox
{
	float: left;
	height: 30px;
	width: auto;
	vertical-align: middle;
	margin-top: 5px;
}
.showTxt
{
	font-size: 12px;
	color: #999999;
}