@charset "utf-8";

.treemenu {
    /*选项卡的字体颜色*/
    --tag-color: #cdcdcd;
    /*选项卡背景色*/
    --tag-bg: rgb(66 89 113 / 0%);
    /*选项卡被选中时的背景色*/
    --tag-selected-bg: rgb(200 237 255);
    /*选项卡被选中是的字体色*/
    --tag-selected-color: #555;
    /*菜单项右侧标题颜色与背景*/
    --title-color: #fff;
    --title-bg: rgb(6 148 191);
    /*菜单项，滑标滑过的效色*/
    --node-hover-color: rgb(6 148 191);
    --node-hover-bg: rgb(194 219 245);
    --node-hover-border: none;
    /*菜单项，当前选中的颜色与背景色*/
    --node-curr-color: rgb(1, 129, 44);
    --node-curr-bg: #eef5e8;
}

.treemenu tree-node:hover:before {
    border: none !important;
}

.treemenu tree_box.current {
    font-weight: normal;
}

.treemenu tree_body {
    background-image:linear-gradient(135deg, transparent 25%, transparent 80%, rgb(255 255 255 / 40%) 80%)
}

/*当前选中的左侧选项卡*/
.treemenu tree_tags tree_tag.selected {
    color: var(--title-bg);
    border-left: 3px solid rgb(253, 72, 0);
}

div.querypanel>section {
    background-color: rgb(229 247 255/30%);
    box-shadow: inset 0 0 30px 15px rgb(64 158 255 / 20%);
}

div.querypanel>section>section>tree_area {
    background-color: rgb(199 232 239 / 30%);
}