@charset "utf-8";

#vapp {
    display: flex;
    flex-direction: column;
}

/*头部*/
.header {
    height: 42px;
    box-sizing: border-box;
    padding-left: 10px;
    position: relative;
}

#pager-box {
    position: static;
}

.header .el-tabs__item {
    font-size: 14px;
    transition: all 0.3s;
}

.header .el-tabs__item icon {
    font-size: 18px;
}

.header .is-active {
    font-size: 16px;
}

.header .is-activeicon {
    font-size: 20px;
}

.search-box {
    position: absolute;
    height: 35px;
    right: 0px;
    top: 6px;
}

/*内容区域*/
context {
    display: block;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

context loading {
    position: absolute;
    width: 100%;
    line-height: 40px;
    top: 0px;
    left: 0px;
    text-align: center;

}

context .nodata {
    font-size: 18px;
    color: #999;
    padding: 20px;
}

context .course {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

context .course>div:last-child {
    flex: 1;
}

context .course:last-child {
    margin-bottom: 0px !important;
}

context .course>a {
    display: block;
    position: relative;
}

context .course a:hover {
    text-decoration: underline;
}

context .course a img:first-child {
    margin-right: 10px;
    display: inline-block;
    height: 100px;
    transition: all 0.3s;
}

context .course a img:first-child:hover {
    box-shadow: 1px 1px 5px #999, -1px -1px 5px #999
}

context .course .progress {
    height: 100px;
    width: 100px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.info_row{
    width: 100%;

}
.rec {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: -2px 0px 0px -4px;
}

.rec::before {
    content: "\e741";
    font-family: webdesk_icon;
    font-size: 35px;
    margin-right: 3px;
    font-size: 60px;
    display: block;
    color: rgb(255, 30, 30);
    text-shadow: -1px -1px 2px #fff, -1px -1px 3px #fff;
}

.view {
    position: absolute;
    bottom: 3px;
    left: 3px;
    background-color: transparent !important;
}

.view::before {
    content: "\a03a";
    font-family: webdesk_icon;
    margin-right: 3px;
}

/*课程右侧的内容区*/
.info {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 100px;
}

.info_row {
    display: flex;
    padding-bottom: 5px;
}

.free {
    margin-right: 10px;
}

.cur_data {
    display: flex;
}

.cur_data>span {
    margin: 0px 10px 0px 0px;
}

.subject {
    font-size: 14px;
    color: #999;
    line-height: 30px;
    padding-left: 5px;
}

.subject::before {
    content: "\e750";
    font-family: webdesk_icon;
}

price {
    display: block;
    line-height: 30px;
}