@charset "utf-8";

#vapp {
	display: flex;
	flex-direction: column;
}

/*头部*/
.header {
	height: 42px;
	box-sizing: border-box;
	padding-left: 10px;
	position: relative;
}

#pager-box {
	position: static;
}

.header .el-tabs__item {
	font-size: 14px;
	transition: all 0.3s;
}

.header .el-tabs__item icon {
	font-size: 18px;
}

.header .is-active {
	font-size: 16px;
}

.header .is-activeicon {
	font-size: 20px;
}

.search-box {
	position: absolute;
	height: 35px;
	right: 0px;
	top: 6px;
}

/*内容区域*/
context {
	display: flex;
	flex-flow: column;
	overflow-y: auto;
	padding: 10px;
	height: calc(100% - 70px);
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

context>loading:first-child {
	position: absolute;
	width: 100%;
	line-height: 40px;
	top: 0px;
	left: 0px;
	text-align: center;

}

context .nodata {
	font-size: 18px;
	color: #999;
	padding: 20px;
}

context .el-card {
	width: 100%;
	margin-bottom: 20px;
}

context .el-card__header {
	display: flex;
}

context .el-card__header a:hover {
	text-decoration: underline;
}

context .el-card__header>div:first-child {
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;

}

context .el-card__header button {
	margin-left: 10px;
}

context .el-card__header>div * {
	line-height: 37px;
}

context .course:last-child {
	margin-bottom: 0px !important;
}

.nopass {
	color: rgb(245, 108, 108);
}

/*课程内容*/
.el-card__body {
	box-sizing: border-box;
	position: relative;
	display: flex;
}
/*课程在禁用时的效果*/
.el-card[disabled] .cour_img img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.el-card[disabled] .el-card__header a{
	color: #999;
}
.el-card__body img:first-child {
	margin-right: 20px;
	display: inline-block;
	height: 100px;
	transition: all 0.3s;
}

.cour_img {
	position: relative;
	transition: all 0.4s;
}

.cour_img:hover {
	transform: scale(1.1);
}

.rec {
	position: absolute;
	top: 0px;
	left: -1px;
}

.rec::before {
	content: "\e741";
	font-family: webdesk_icon;
	font-size: 35px;
	margin-right: 3px;
	font-size: 60px;
	display: block;
	position: absolute;
	margin: -2px 0px 0px -4px;
	color: rgb(255, 30, 30);
	text-shadow: -1px -1px 2px #fff, -1px -1px 3px #fff;
}

.subject {
	width: calc(100% - 20px);
	position: absolute;
	left: 0px;
	bottom: 3px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0px 10px;
	background-color: rgba(255, 255, 255, 0.3);
}

.subject::before {
	content: "\e750";
	color: #333;
	font-size: 18px;
	font-family: webdesk_icon;
}

.view {
	position: absolute;
	bottom: 3px;
	left: 3px;
	background-color: transparent !important;
}

.view::before {
	content: "\a03a";
	font-family: webdesk_icon;
	margin-right: 3px;
}

/*课程右侧的内容区*/
.info {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
}

.info_row {
	display: flex;
}

.info_column {
	display: flex;
	flex-direction: column;
}

.free {
	margin-right: 5px;
}

.cur_data {
	display: flex;
}

.cur_data>span {
	margin: 0px 5px 0px 0px;
}

price {
	display: block;
	line-height: 30px;
}

/*课程相关数据*/
.datainfo {
	display: flex;
	justify-content: space-between;
}

.datainfo>div:first-child {
	display: flex;
}

.datainfo>div:first-child>* {
	margin-right: 5px;
}

.datainfo>div:first-child>*:last-child {
	margin-left: 5px;
}

/*学习信息*/
.studyinfo {
	position: absolute;
	height: 75px;
	bottom: 0px;
	width: 100%;
	display: flex;
}

.studyinfo>div:first-child {
	flex: 1;
}

.studyinfo>div {
	width: 200px;
	position: relative;
	padding: 5px;
	box-sizing: border-box;
	margin: 5px 8px 5px 0px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.studyinfo>div:last-child {
	margin-right: 0px;
}

.is-success .el-progress-bar__inner::before {
	content: "\e706";
	font-family: webdesk_icon;
	float: left;
	margin-left: 10px;
	color: #fff;

}

.el-progress-bar__inner {
	min-width: 100px;
}