@charset "utf-8";

#vapp {
	overflow: hidden;
}

.organs_option {
	height: 70px;
}



.large {
	width: calc(100% - 50px);
	height: 48px;
	float: left;
	line-height: 24px;
	overflow: hidden;	
}
icon[mobile], icon[mobile]::before {
	margin-right: 0px !important;
}
icon[tearch]::before {
	color: rgb(3, 167, 3);
	margin: 0px;
}

icon[money] {
	font-size: 16px;
	color: coral;
	display: inline-block;
	cursor: pointer;
}

icon[coupon] {
	margin-right: 10px;
}

icon[coupon], icon[point] {
	cursor: pointer;
}

icon[coupon]:hover, icon[point]:hover {
	text-decoration: underline;
}

/*头像组件*/

.ws_avatar {
	float: left;
	margin-right: 5px;
}

.noname {
	color: #aaa;
	font-size: 12px;
}