@charset "utf-8";

.panel {
    width: 100%;
    height: calc(100% - 55px);
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
}

.panel>div:not(:first-child) {
    border: 1px solid #DCDFE6;
    border-top: none;
}

.el-form {
    height: calc(100% - 60px);
    width: calc(100% - 15px);
    padding-right: 10px;

    overflow: auto;
    box-sizing: border-box;
}

.el-tabs--border-card {
    box-shadow: none;
    border: none;
}

.el-tabs__content {
    display: none;
}

.error {
    text-align: left;
}

.ws_avatar {
    border: 1px solid #aaa;
    float: left;
    cursor: pointer;
}

.organ {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.organ icon {
    margin-right: 2px;
}

.upload_img_area img {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    border: 1px solid #aaa;
    margin-top: 5px;
    border-radius: 50px;
    margin-right: 10px;
    float: left;
}

.photo-txt {
    display: inline-block;
    margin-top: 50px;
    color: #409EFF;
}

.accname {
    line-height: 40px;
}

.pingyin {
    font-size: 13px;
}

.pingyin .py {
    cursor: pointer;
    color: #409EFF;
}

/*编辑框*/
.about_editor {
    width: 100%;
    height: 100%;
}

.about_editor .vue-html5-editor {
    width: 100%;
    height: 100%;
}

.about_editor .vue-html5-editor .content {
    width: 100% !important;
    height: 100% !important;

}

/*选择学员组的按钮*/
.btnsort {
    cursor: pointer;
}

.btnsort:hover {
    transform: scaleX(1.05);
}

.sortpanel .el-dialog__header {
    display: flex;
    justify-content: space-between;
}

.sortpanel .el-dialog__footer {
    display: flex;
    justify-content: space-between;
}

.sortpanel .el-dialog__body {
    padding: 0px 20px 0px 20px;
}

.sort {
    padding: 3px 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.sort:hover{
    text-decoration: underline;
    background-color: #eee;
}
.sort span:first-child {
    margin-right: 8px;   
}
