@charset "utf-8";
.panel {
	width: 100%;
	height: calc(100% - 55px);
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
}
.panel>div:not(:first-child){
	border: 1px solid #DCDFE6;
	border-top: none;
}
.el-form {
	height: calc(100% - 60px);
	width: calc(100% - 15px);
	padding-right: 10px;

	overflow-y: auto;
	box-sizing: border-box;
}

.el-tabs--border-card {
	box-shadow: none;
	border: none;
}

.el-tabs__content {
	display: none;
}
.error{
    text-align: left;
}
.ws_avatar{
    border: 1px solid #aaa;
    float: left;  
    cursor: pointer;
}
.organ{
   position: absolute;
   bottom: 8px;
   left: 8px;
}
.organ icon{
    margin-right: 2px;
}
.photo-txt {
    display: inline-block;  
    color: #409EFF;
    cursor: pointer;
    margin-left: 5px;
}

.accname {
    line-height: 40px;
}

.pingyin {
    font-size: 13px;
}

.pingyin .py {
    cursor: pointer;
    color: #409EFF;
}
/*编辑框*/
.about_editor {
	width: 100%;
	height: 100%;
}

.about_editor .vue-html5-editor {
	width: 100%;
	height: 100%;
}

.about_editor .vue-html5-editor .content {
	width: 100% !important;
	height: 100% !important;

}