@charset "utf-8";
/*顶部学员信息，头像等*/

div#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.context {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}

.acc_info {
    padding: 20px;
    height: 110px;
}

.acc_info .ws_avatar {
    border: 1px solid #ccc;
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}

.info_right {
    float: left;
    width: calc(100% - 100px - 20px);
    height: 100%;
}

.info_right>div {
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lower {
    color: #aaa;
    font-size: 12px;
}

.organ {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 10;
    display: none;
}
