@charset "utf-8";

.table_courses {
    height: calc(100% - 85px);
}

.footer {
    display: flex;
    justify-content: space-between;
}

/*添加课程的面板*/
.addcourse {}

.addcourse .el-drawer__header {
    margin-bottom: 12px;
}

.addcourse .el-drawer__body {
    position: relative;
}

.addcourse .el-drawer__body .el-pagination {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.addcourse .course_row {
    display: flex;
    justify-content: space-between;
}

.addcourse .course_row>*:last-child {
    margin-left: 10px;
    display: flex;
}

.addcourse .courses {  
    height: calc(100% - 130px);
    overflow-y: auto;
}

.addcourse .nocourse {
    margin: 15px;
    text-align: center;
    font-size: 14px;
    color: #999;
}


.course {
	display: flex;
	height: 60px;
	margin: 0px 0px 10px 0px;
    box-sizing: border-box;
    padding: 0px 10px;
}

.course img:first-child {
	margin-right: 20px;
	display: inline-block;
	transition: all 0.3s;
}

.cour_img {
	position: relative;
	transition: all 0.4s;
	width: 120px;
}

.cour_img img {
	height: 60px;
}

.rec {
	position: absolute;
	top: 6px;
    left: 1px;
	opacity: 0.9;
}

.rec::before {
	content: "\e741";
	font-family: webdesk_icon;
	font-size: 35px;
	margin-right: 3px;
	font-size: 40px;
	display: block;
	position: absolute;
	margin: -8px 0px 0px -4px;
	color: rgb(255, 30, 30);
	text-shadow: -1px -1px 2px #fff, -1px -1px 3px #fff;
}
.cour_name{
	flex: 1;
	overflow:hidden;
	white-space:nowrap;
    /*文字超出宽度则显示ellipsis省略号*/
    text-overflow:ellipsis;
}
.cour_name, .cour_name a{
	font-size: 16px;
}
.cour_name a:hover{
	text-decoration:underline;
}
.cour_name>span:first-child{
	margin-right: 8px;
}
.subject, .subject a{
	font-size: 13px;
	color: #999;
}
.subject icon{
	font-size: 16px;
}


.tdcell, .tdcell * {
	line-height: 20px !important;
	max-height: 40px;
}

.tdcell a {
	max-height: 20px !important;
	line-height: 20px !important;
}

.title_box {
	width: 100%;
	display: flex;
}

.title_box img {
	height: 40px;
	margin-right: 10px;
}

.title_box div {
	height: 40px;
	overflow: hidden;
	line-height: 20px;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

live {
	background-image: url(/Utilities/Images/live-icon.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

.title_box live {
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-right: 2px;
}
