/*题型的图标*/

icon[ques_type] {
	font-size: 18px;
}

icon[ques_type][showname=true]::after {
	content: attr(title);
	margin-left: 8px;
	font-size: 15px;
}
.el-tabs__header icon[ques_type][showname=true]::after  {
	font-size: 15px;
}
icon[ques_type][title="填空题"]{	
	margin-right: 0px;
}

icon[ques_type][title="填空题"]::after {	
	margin-left: 0px;	
}
