html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(102 169 237);

    overflow: hidden;
}

panel {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

panel#admin {
    background-color: #d5e9fd;
    /*
    background-image: linear-gradient(to right,  #d5e9fd 50px,#fdd1d1,#ffe8c0);*/
}

#treemenu-area {
    box-shadow: none !important;
}

#mainbody {
    height: calc(100% - 45px) !important;
    display: flex;
    justify-content: space-between;
}

/*顶部条*/

#header-box {
    height: 45px !important;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

#logo {
    width: 200px;
    margin-right: 5px;
    box-sizing: border-box;
    height: 100%;
    background-color: rgba(2, 48, 82, .9);
}

#default_logo {
    padding: 15px;
}

#default_logo icon {
    color: #ddd;
    font-size: 45px;
}


#menubar {
    position: static !important;
    width: calc(100% - 110px - 200px);
    opacity: 1 !important;
    height: 100% !important;
}

#logo img {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.dropmenu {
    background-color: transparent !important;
}

drop-panel[root='#menubar'] ico {
    border-right: none !important;
    margin-top: 3px;
    margin-left: 5px;
}

drop-panel[root='#menubar']>*:not(hr):hover:after,
drop-panel[root='#menubar']>*:not(hr).hover:after {
    border: none !important;
    width: calc(100%) !important;
    height: calc(100%) !important;
    left: 0px !important;
    top: 0px !important;
    border-radius: 0px !important;
    background-color: rgba(200, 200, 200, 0.3);

}

.dropmenu drop_roots drop-node:hover, .dropmenu drop_roots drop-node.hover {
    background-color: rgb(191, 219, 250) !important;
    text-shadow: 1px 1px 2px #666;
}

.dropmenu drop-panel[root='#menubar']>*:not(hr) {
    overflow: hidden;
}

.dropmenu drop-panel[root='#menubar'] {
    border: none !important;
    box-sizing: border-box;
}

.dropmenu drop-panel[root='#menubar'] child {
    top: 15px !important;
}

.dropmenu drop-panel[root='#menubar'] {
    background-color: rgb(191, 219, 250, 0.85) !important;
}

.dropmenu drop-panel[root='#menubar']>*:not(hr):hover,
.dropmenu drop-panel[root='#menubar']>*:not(hr).hover {
    box-shadow: none !important;
    text-shadow: 1px 1px 2px #666;
}


/*预载效*/

panel#loading {

    display: none;
    text-align: center;
}

panel#loading>div {
    width: 100px;
    height: 100px;
    margin: 200px auto 0px auto;
    position: relative;
}

panel#loading b {
    display: block;
    width: 300px;
    text-align: center;
    margin: 10px auto 0px auto;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 0 50px #fff, 0 1px 50px #fff, 0 -1px 50px #fff, -1px 0 50px #fff;
    letter-spacing: 0.5em;
}

panel#loading span {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 999px;
    background: rgb(255, 255, 255);
    animation: bounce 1s infinite linear;
}

panel#loading span:nth-child(1) {
    left: 0;
    animation-delay: 0s;
}

panel#loading span:nth-child(2) {
    left: 20px;
    animation-delay: 0.25s;
}

panel#loading span:nth-child(3) {
    left: 40px;
    animation-delay: 0.5s;
}

panel#loading span:nth-child(4) {
    left: 60px;
    animation-delay: 0.75s;
}

panel#loading span:nth-child(5) {
    left: 80px;
    animation-delay: 1.0s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
        opacity: 0.5;
    }

    50% {
        transform: translateY(-30px);
        opacity: 1.0;
    }

    100% {
        transform: translateY(0px);
        opacity: 0.5;
    }
}

/*登录区域*/
panel#login {
    z-index: 2;
    --opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

panel#login iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.loginbox .login_body button {
    letter-spacing: 5px !important;
}

panel#admin {
    z-index: 3;
    background-size: 100% 100%;
    transition: all .3s;
    display: none;
    opacity: 0;
}


#login-area {
    max-width: 500px;
    min-width: 400px;
    min-height: 200px;
    z-index: 2;
    display: none;
}

.loginbox .login_body button {
    background: radial-gradient(ellipse at left top, #fdb7b9 10%, #71b0ef 50%, #357fdb) !important;
    border-radius: 5px;

}

.loginbox .login_body>*:before {
    color: #777 !important;
}

.loginbox .login_body login_row:last-child {
    border: none;
    background-color: transparent !important;
}

/*用户登录后的下拉菜单*/
#user-area {
    position: absolute;
    top: 7px;
    right: 5px;
    height: 30px;
    width: 100px;
    background-color: transparent;
}

#user-area drop_roots drop-node {
    background-color: transparent !important;
    color: #eee !important;
    text-align: center !important;
}

#user-area span {
    color: #01689b !important
}

/*选项卡*/
#tabs-area {
    float: right;
    margin-top: 5px;
    height: calc(100% - 5px);
}

#treemenu-area {
    float: left;
}

.slot {
    text-align: center;
}

.slot span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}


timer {
    display: block;
    position: absolute;
    top: 65px;
    right: 40px;
    font-size: 10px;
    color: rgb(6 133 46 / 80%);
    cursor: default;
}

.treemenu tree_area tree_tit {
    font-size: 17px !important;
}

.treemenu tree_area tree_tit i {
    font-size: 18px !important;
}

.treemenu tree-node {
    font-size: 15px !important;
    line-height: 35px !important;
    height: 35px !important;
    letter-spacing: 3px;
}

.treemenu tree-node:hover:before {
    border: solid 1px rgba(255, 255, 255, 0.3) !important;
    box-shadow: none !important;

}

.treemenu tree-node ico {
    font-size: 19px !important;
    line-height: 40px !important;
}

#pageboxcollect {
    position: absolute;
    z-index: 99999;
    bottom: 35px !important;
    right: -3px !important;
    left: 5px !important;
    text-shadow: none !important;
    color: #444 !important;
    width: 30px;
    height: 25px;
    line-height: 30px;
    font-size: 16px !important;
}


#pageboxcollect>div:after {
    font-size: 18px !important;
}

.treemenu tree_tags tree-foldbtn:before {
    content: '\a016';
    line-height: 40px;
    font-size: 16px;
    font-family: "webdesk_icon" !important;
}