@charset "utf-8";

html, body {
	background-color: #fff;
}

/* 在小屏幕下（最大宽度为600px）设置宽度 */
@media only screen and (max-width: 100px) {
	.element {
		width: 200px;
	}
}

#vapp {
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
}

#map {
	width: 800px;

}

#map>div:first-child {
	height: 600px !important;
}

#vapp>section:first-child {
	width: calc(100% - 800px);
}

/* 在小屏幕下（最大宽度为600px）设置宽度 */
@media only screen and (max-width: 1300px) {
	#vapp {
		overflow-y: auto;
		display: block;
	}

	#vapp>section:first-child {
		width: 100%;
	}
}

div.data_piece {
	display: flex;
	height: 100px;
	margin: 20px;
}

div.data_piece>div {
	flex: 1;
	box-shadow: 1px 1px 3px #ccc
}

div.data_piece>div:not(:last-child) {
	margin-right: 20px;
}

/*详细数据的区域*/
div.data_items {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 50px 20px 0px 20px;
	overflow: hidden;
	height: 360px;
}

div.data_items>div:not(:last-child) {
	margin-right: 20px;
}

div.data_items>div {
	flex: 1;
}

.student_chart {
	width: calc(50% - 10px + 20px);
    height: calc(100% - 130px);
    position: absolute;
    bottom: 20px;
    left: calc(25% + 5px);
    overflow: hidden;
}

/*学员登录与注册的图表*/
.studentlogin {
	width: 100%;
	height: 260px;
}

/*热门课程*/
.courses_hot .title {
	padding: 0px 20px;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}
.courses_hot .title span[icon]::before{
	font-size: 22px;
	color: red;
}
.courses_hot .title span:last-child{
	font-size: 14px;
	color: #666;
}
.courses_hot .title span:last-child b{
	margin: 0px 8px;
	font-size: 16px;
	color: rgb(255, 123, 0);
}