<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>密码修改</title>
</head>

<body>
    <div id="vapp" v-cloak>

        <el-form ref="formpw" :model="formpw" :rules="rules_pw" @submit.native.prevent label-width="100px">
            <el-form-item label="原密码" prop="oldpw">
                <el-input v-model="formpw.oldpw" show-password></el-input>

            </el-form-item>
            <el-form-item label="新密码" prop="newpw">
                <el-input v-model="formpw.newpw" show-password></el-input>
            </el-form-item>
            <el-form-item label="确认输入" prop="newpw2">
                <el-input v-model="formpw.newpw2" show-password></el-input>
            </el-form-item>
            <el-form-item label="" v-if="false">
                <securitylevel></securitylevel>
            </el-form-item>

        </el-form>
        <div class="footer">
            <el-button type="primary" define="enter" :loading="loading" @click="btnEnter('formpw')">
                修改密码
            </el-button>
            <el-button type='close'>
                取消
             </el-button>
        </div>
    </div>
</body>

</html>