<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>安全管理</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <card  shadow="hover">
            <div class="row" @click="openbox('BindPhone','手机号绑定','e66d',500,300)">
                <span>
                    <icon>&#xe66d</icon>手机号绑定
                </span>
                <div class="right">
                    <span class="phone"> {{account.Ac_MobiTel1}}</span>
                    <el-tag type="success" v-if="account.Ac_MobiTel1!='' && account.Ac_MobiTel1==account.Ac_MobiTel2">
                        已经绑定</el-tag>
                    <el-tag type="success" v-else>未绑定</el-tag>
                </div>
            </div>
            <div class="row" right @click="openbox('password','密码修改','e613',500,300)">
                <icon>&#xe613</icon>密码修改
            </div>
        </card>
        <card shadow="hover">
            <card-title>
                <icon>&#xa030</icon>第三方登录账号绑定
            </card-title>

            <config ref="config" class="config"  :isuse="true" :disabled="false">
                <div slot="item" class="row" :disabled="!data.item.obj.Tl_IsUse" slot-scope="data">
                    <div class="name">
                        <img :src="data.img" />
                        <template v-if="data.item.obj.Tl_Name!=null"></template>
                        {{data.item.obj.Tl_Name}}
                        <span class="tagname">({{data.item.name}})</span>
                        <template v-else>
                            {{data.item.name}}
                        </template>
                    </div>
                    <loading v-if="loading_bind=='data.item.tag'"></loading>
                    <template v-else>
                        <thirdparty v-if="isbind(data.item.tag)" :account="account" :tag="data.item.tag"></thirdparty>

                        <div class="btns">
                            <el-popconfirm title="确定要取消绑定吗？" v-if="isbind(data.item.tag)"
                                @confirm="cancelbind(data.item.tag)">
                                <el-button type="warning" slot="reference">
                                    <icon style="font-size:12px">&#xe6fe</icon>取消绑定
                                </el-button>
                            </el-popconfirm>
                            <el-button v-else type="primary" @click="$refs['config'].eventClick(data.item,2)">
                                <icon style="font-size:12px">&#xa030</icon>绑定账号
                            </el-button>
                        </div>
                    </template>
                </div>
                <div slot="null" class="row null">( 没有可用的第三方平台 )</div>
            </config>

        </card>

        <card shadow="hover">

            <div class="row" right @click="openbox('Security','安全问题','e6ed',500,300)">
                <icon>&#xe6ed</icon>安全问题
            </div>
        </card>
    </div>
</body>

</html>