html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}

header {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    text-indent: 20px;
    background-color: #ccc;
}

section {
    height: calc(100% - 80px);
    width: 100%;
}

menu {
    width: 300px;
    height: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 3px 0px 3px #ccc;
}

menu, menu * {
    margin: 0px;
    padding: 0px;
}

menu .tit {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-weight: bold;
}

menu .tit i {
    font-size: 18px;
    margin-right: 5px;
}

menu .tit b {
    font-size: 22px;
    float: right;
    display: block;
    margin-top: 6px;
    margin-right: 12px;
    cursor: pointer;
}

#menu {}

#menu .methods {
    --display: none;
    margin-left: 10px;
}

#menu .classname {
    background-color: #eee;
    line-height: 35px;
    padding-left: 15px;
    cursor: pointer;
    position: relative;
    --transform: rotate(-3deg);
    transition: background-color 0.5s;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#menu .classname:hover {
    background-color: #ccc;
    transition: background-color 0.5s;
}

#menu .classname i {
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
}

#menu .classname span {
    font-size: 12px;
    color: #999;
}

.methods>dd {
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 20px;
    cursor: pointer;
    --transform: rotate(-3deg);
    transition: background-color 0.2s;
}

.methods>dt {
    font-size: 12px;
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
}

.methods>dd:hover {
    background-color: rgb(222, 255, 179);
    transition: background-color 0.5s;
}

.methods>dd>div {
    font-size: 13px;
    color: #999;
    margin-left: 22px;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 20px;
}

context {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    overflow-y: auto;
}

.homepage h1 {
    padding-left: 35px;
}

.homepage p {
    padding: 10px 10px 0 10px;
    margin: 0px;
    font-size: 16px;
    line-height: 25px;
    text-indent: 30px;
}

/*右侧方法详情的区域*/

.method {
    padding: 20px;
}

.method>* {
    display: block;
}

.method * {
    font-size: 16px;
    line-height: 30px;
}

.method name {
    font-weight: bold;
    font-size: 30px;
    word-wrap: break-word;
    padding: 10px 10px 10px 0;
}

.method fullname {
    word-wrap: break-word;
    word-break: break-all;
}

.method table {
    margin-left: 50px;
    width: calc(100% - 50px);
}

.method table th {
    font-weight: normal;
    background-color: #eee;
}
.method table input{
    height: 20px;
    width: 100px;
}
.test-tit {
    height: 40px;
    line-height: 40px;
    background: #ccc;
    width: 100%;
    text-indent: 20px;
    position: relative;
}
.test-tit  button{
    position: absolute;
    height: 30px;
    width: 90px;
    top:5px;
    right: 10px;
    border-radius: 5px;
    background-color:#eee;
    cursor: pointer;
}
.test-tit  button:hover{
    background-color:rgb(166, 228, 163);
}
#testResult{
    width: calc(100% - 60px);
    display: table;
    padding: 30px;
    margin: 0px;
}
#testResult pre{
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
    padding: 20px;
    background-color: rgb(240, 243, 215);
    word-wrap: break-word;
    word-break: break-all;
}
footer {
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 16px;
    background: #ccc;
    position: absolute;
    bottom: 0px;
    width: 100%;
}