@charset "utf-8";

.loginbox {
    /*边线、阴影、背景色、渐变背景、圆角*/
    --login-border: 1px solid transparent;
    --login-shadow: 0px 0px 25px transparent;
    --login-bgcolor: transparent;
    --login-background: transparent;
    --login-radius: 5px;

    /*输入框的字段*/
    --login-input-color: #333;

    /*标题,依次为：背景色，阴影色，图标大小，字体大小*/
    --login-tit-color: rgb(58, 58, 58);
    --login-tit-shadow: 1px 1px 3px #999;
    --login-tit-iconfont: 36px;
    --login-tit-txtfont: 20px;

    /*底部信息栏*/
    --login-footbar-color: #999;

    /*主题内容区,依次为：输入框的颜色、背景、边线*/
    --login-body-color: #999;
    --login-body-bgcolor: rgba(255, 255, 255, .3);
    --login-body-boder: solid 1px #999;

    /*滑块,依次：前景色、背景色，滑块前景色、滑块背景色，滑道背景色*/
    --login-drag-color: #999;
    --login-drag-bgcolor: #eee;
    --login-dragbox-color: #fff;
    --login-dragbox-bgcolor: #bbb;
    --login-dragslide-bgcolor: #aaa;
    /*滑块成功*/
    --login-drag-complete-color: rgba(83, 204, 83, 1);
    --login-drag-complete-bgcolor: linear-gradient(to bottom,
            rgba(83, 204, 83, 1) 0%,
            rgba(51, 162, 51, 1) 100%);

    /*登录按钮*/
    --login-btn-color: #fff;
    --login-btn-border: solid 1px #fff;
    --login-btn-background: linear-gradient(to bottom,
            rgba(33, 161, 255, .5) 0%,
            rgba(33, 161, 255, 0.9) 100%);
    /*登录按钮，鼠标滑过*/
    --login-btnhover-color: #fff;
    --login-btnhover-border: solid 1px #fff;
    --login-btnhover-background: linear-gradient(to bottom,
            rgba(33, 161, 255, .2) 0%,
            rgba(33, 161, 255, .6) 30%,
            rgba(33, 161, 255, 0.9) 100%);
    --login-btnhover-shadow: 0px 0px 10px rgba(9, 114, 191, .81);
    /*登录按钮，鼠标点击*/
    --login-btnactive-border: solid 1px #aaa;
    --login-btnactive-background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.952) 0%,
            rgba(33, 161, 255, .6) 30%,
            rgba(33, 161, 255, 0.9) 100%);
}

.loginbox {
    background-color: var(--login-bgcolor);
    border: var(--login-border);
    box-shadow: var(--login-shadow);
    position: relative;
    background: var(--login-background);
    border-radius: var(--login-radius);
}

/*标题栏*/

.loginbox login_titlebar {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 50px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 0px 0px 0px 20px;
    font-size: 18px;
    cursor: default;
    color: var(--login-tit-color);
    display: flex;
    user-select: none;
    text-shadow: var(--login-tit-shadow);
}

.loginbox login_ico {
    min-width: auto;
    height: 60px;
    width: 50px;
    text-align: left;
    float: left;
}

.loginbox login_ico img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.loginbox login_ico i {
    font-family: "webdesk_icon";
    font-style: normal;
    font-size: var(--login-tit-iconfont);
    line-height: calc(var(--login-tit-iconfont) * 1.7);
}

.loginbox login_tit {
    width: calc(100% - 50px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--login-tit-txtfont);
    line-height: calc(var(--login-tit-txtfont) * 3);
    ;
    word-break: break-all;
    white-space: nowrap;
}

/*底部信息栏*/

.loginbox login_footbar {
    display: flex;
    line-height: 60px;
    bottom: 0px;
    justify-content: space-between;
    cursor: default;
    user-select: none;
    box-sizing: content-box;
    padding: 0px 20px;
}

.loginbox login_footbar * {
    height: 100%;
    font-size: 14px;
    width: auto;
    color: var(--login-footbar-color);
    text-decoration: none;
}

.loginbox login_footbar *:before {
    margin-right: 5px;
    font-family: "webdesk_icon";
    width: 10px;
}

.loginbox login_footbar login_company a::before {
    content: '\a020';
}

.loginbox login_footbar login_tel::before {
    content: '\a047';
}

/*主题内容区*/

.loginbox .login_body {
    height: 230px;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
}

.loginbox .login_body>* {
    display: block;
    margin: 5px 20px 5px 20px;
    height: 45px;
    width: calc(100% - 42px);
    flex: 1;
    border-radius: 2px;
    background-color: var(--login-body-bgcolor);
    border: var(--login-body-boder);
    position: relative;
}

.loginbox .login_body>*:before {
    font-family: "webdesk_icon";
    width: 42px;
    height: 45px;
    line-height: 45px;
    display: block;
    position: absolute;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    left: 0px;
    top: 0px;
    color: var(--login-body-color);
}

.loginbox .login_body .login_user {
    ime-mode: active;
}

.loginbox .login_body .login_pw {
    ime-mode: active;
}

.loginbox .login_body .login_code {
    ime-mode: active;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.loginbox .login_body .login_user:before {
    content: '\a043';
}

.loginbox .login_body .login_pw:before {
    content: '\e76a';
}

.loginbox .login_body .login_code:before {
    content: '\a050';
}

.loginbox .login_body>* input {
    border: none;
    height: calc(100% - 2px);
    width: -webkit-calc(100% - 48px);
    width: -moz-calc(100% - 48px);
    width: calc(100% - 60px);
    position: absolute;
    text-indent: 10px;
    color: var(--login-input-color);
    left: 45px;
    top: 0px;
    font-size: 18px;
    background-color: transparent;
}

.loginbox .login_body>* input:focus {
    font-size: 23px;
    border: none;
    outline: none;
}

.loginbox .login_body>* input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: #333;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

.loginbox .login_body login_row.login_code {
    position: relative;
}

.loginbox .login_body login_row.login_code input {
    width: 100px;
    width: calc(100% - 90px - 47px);
    text-indent: 10px;
}

.loginbox .login_body login_row.login_code img.vcode_img {
    height: 100%;
    width: 90px;
    background-color: #fff;
    float: right;
    border: none;
}

/*登录按钮*/

.loginbox .login_body button {
    width: 100%;
    height: 100%;
    letter-spacing: 20px;
    font-size: 18px;
    border: var(--login-btn-border);
    color: var(--login-btn-color);
    cursor: pointer;
    background: var(--login-btn-background);
}

.loginbox .login_body button:hover {
    background: var(--login-btnhover-background);
    border: var(--login-btnhover-border);
    color: var(--login-btnhover-color);
}

.loginbox .login_body button:active {
    background: var(--login-btnactive-background);
    border: var(--login-btnactive-border);
}

.loginbox .login_body>*:last-child {
    height: 40px;
    transition: all 0.2s;
    margin-top: 10px;
}

.loginbox .login_body>*:last-child:hover {
    box-shadow: var(--login-btnhover-shadow);
}

.loginbox .login_body button:before {
    font-family: "webdesk_icon";
    content: '\a035';
}


/*滑块*/

.loginbox .login_body login_drag {
    display: block;
    font-size: 14px;
    height: 100%;
    text-align: center;
    color: var(--login-drag-color);
    position: absolute;
    width: 100%;
    background-color: var(--login-drag-bgcolor);
    transition: all 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*滑道*/
.loginbox .login_body login_drag>div {
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
    transition: all 0.6s;
    user-select: none;
}

.loginbox .login_body login_drag>div span:first-child {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginbox login_dragbox {
    display: block;
    user-select: none;
    height: 35px;
    line-height: 35px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    background-color: var(--login-dragbox-bgcolor);
    position: absolute;
    padding: 0px 0px 0px 5px;
    top: 5px;
    left: 5px;
    color: var(--login-dragbox-color);
    cursor: pointer;
    z-index: 2;
}

.loginbox login_drag slideway {
    display: block;
    user-select: none;
    height: calc(100% - 10px);
    line-height: 35px;
    width: 0px;
    font-size: 25px;
    text-align: center;
    background-color: var(--login-dragslide-bgcolor);
    position: absolute;
    padding: 0px 0px 0px 5px;
    top: 5px;
    left: 5px;
    box-sizing: border-box;
    z-index: 1;
}

.loginbox login_dragbox:before {
    content: '\a049';
    font-family: "webdesk_icon";
}

.loginbox login_dragbox.drag {
    background-color: #777;
}

/*拖动完成*/

.loginbox .login_body login_drag.complete>div {
    background-color: rgba(83, 204, 83);
    background: var(--login-drag-complete-bgcolor);
}

.loginbox .login_body login_drag.complete login_dragbox {
    background-color: #fff;
}

.loginbox .login_body login_drag.complete login_dragbox:before {
    content: '\a048';
    color: var(--login-drag-complete-color);
}

.loginbox .login_body login_drag.complete span {
    display: none;
}

/*提示信息*/

.loginbox .login_body>* login_tips {
    background-color: rgba(255, 0, 0, .8);
    box-shadow: 1px 1px 2px rgba(255, 0, 0, .8);
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    width: auto;
    padding: 0px 10px 0px 10px;
    color: #fff;
    border-radius: 4px;
    display: none;
    right: 800px;
    bottom: -8px;
    transition: left 0.6s;
}

/*错误提示*/

.loginbox login_row.login_error {
    border: solid 1px #ff7d7d;
    box-shadow: 0px 0px 10px #ff0000, 0px 0px 10px rgba(255, 0, 0, .8) inset;
}

.loginbox login_row.login_error login_tips {
    display: block;
    transition: left 0.6s;
    right: -8px;
}

/*预载效*/

div.login_loding {
    width: 100px;
    height: 150px;
    margin: calc(200px - 75px) auto 0px auto;
    position: relative;
}

div.login_loding span {
    position: absolute;
    border: 8px solid #b36868;
    border-top: 8px solid transparent;
    border-radius: 999px;
}

div.login_loding b {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 120px;
    color: #666;
}

div.login_loding span:nth-child(1) {
    width: 80px;
    height: 80px;
    animation: spin-1 2s infinite linear;
}

div.login_loding span:nth-child(2) {
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    animation: spin-2 1s infinite linear;
}

@keyframes spin-1 {
    0% {
        transform: rotate(360deg);
        opacity: 1.0;
    }

    50% {
        transform: rotate(180deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes spin-2 {
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
    }

    50% {
        transform: rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0.5;
    }
}