/*
	消息窗口
*/
.MsgBox {
	border: 1px solid rgba(100,100,100,0.3);
	margin: 0px;
	padding: 0px;
	text-align: left;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	position:relative;
	background-color:#fff;

}
.MsgBox .MsgBoxTitle {
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	text-indent: 10px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
.MsgBox .MsgBoxTitle .MsgClose
{
	float: right;
	height: 30px;
	width: 30px;
	font-size: 30px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #C60000;
	cursor: pointer;
	font-family: "Arial Black", Gadget, sans-serif;
	text-indent: 5px;
}
.MsgBox .MsgBoxContext
{
	margin: 0px;
	padding: 10px;
	overflow: auto;
	font-size:14px;
}

.MsgBox .msgBtnBox
{
	position:absolute;
	background-color: #EAEAEA;
	width: 100%;
	text-align: center;
	bottom:0px;
}

.MsgBox .msgBtnBox .msgbtn {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 80px;
	float: right;
	background-color: #ff5842;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 10px;
	margin-right: 10px;
}
.MsgBox .msgBtnBox .msgBtnEnter{
	background-color: #009966;
}
.MsgBox .msgLoading{
	background-image: url(../Images/load_016.gif);
	background-repeat: no-repeat;
	background-position: center center;

}
.MsgBox second {
	color: #F00;
}
.blur {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(2px); /* Chrome, Opera */
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);
}
