@charset "utf-8";
@font-face {
	font-family: "iconfont";
	src: url('iconfont/iconfont.eot'); /* IE9*/
	src: url('iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('iconfont/iconfont.woff') format('woff'), /* chrome, firefox */  url('iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/  url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	background-color: #efeff4;
}
body,a,p,div{
	font-size:13px;
}
a {
	color: #555;
}
space{
	height:40px;
	display:block;
}
line{
	display: block;
	text-align: center;
	color: #aaa;
	font-size:10px;
	margin-top:20px;
	margin-bottom:20px;
}
line:before{
	content: "————";
	margin-right:20px;
	color: #ccc;
}
line:after{
	content: "————";
	margin-left:20px;
	color: #ccc;
}
/*
页底导航
*/
.footer{
	padding-top: 4px;
	height: 40px;
	overflow: hidden;
	background-color: #FFF !important;
	box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, .3);
}
.footer a{
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	width: 25;
	font-size:13px;
	text-align:center;
	height:40px;
}
.footer a .mitem
{
	text-align:center;
	width:20px;
	height:20px;
	border-radius: 50%;
	
}
.footer b.mitem:before{
	content: "\e610";
	font-family: "iconfont";
	line-height: 25px;
	font-size: 20px;
}
.footer a b.mitem:before{
	font-family: "iconfont";
	line-height: 25px;
	font-size: 20px;
	text-align:center;
	max-height:20px;
	/* text-shadow: -1px -1px white, 2px 2px #999; */
}
/*首页*/
.footer a.foot-home b:before{
	content: "\e635";	
}
/*课程中心*/
.footer a.foot-courses b:before{
	content: "\e648";	
}
/*我的课程*/
.footer a.foot-mycourse b:before{
	content: "\e60b";	
}
/*个人中心*/
.footer a.foot-mycenter b:before{
	content: "\e62a";	
}
.footer a span
{
	display: block;
	text-align: center;
	font-size: 10px;
	position:absolute;
	bottom: 5px;
	line-height: 20px;
	height:15px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}