html,body{
	background-color: #fff;
}
body{
	padding-bottom: 120px;
}
.box{
	
	position: relative;
    overflow: hidden;
	margin: 20px;
	margin-top: 30px;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	font-size: 17px;
    border-radius: 2px 2px 0 0;
}
.box .title{
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-height: 30px;
	padding: 10px 15px;
	font-size: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
	align-items: center;
	border-style:solid;
	border: none;
	border-bottom:1px solid #eee;
}
.box .error{
	color: rgb(255, 72, 0);
}
.box .message{
	position: relative;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	line-height: 25px;
	word-wrap:break-word;
	min-height: 100px;
}
.userinfo{
	text-align: center;
}
.userinfo img{
	margin-left: auto;
	margin-right: auto;
	max-width: 60px;
}
.userinfo>div{
	text-align: center;
}
.box .box-foot{
	position: absolute;
    display: flex;
    min-height: 30px;
	padding: 10px 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
	align-items: center;
	border-style:solid;
	border: none;
	bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #666;
}
.box .box-foot span{
	margin-left: 10px;
	color: #f00;
	margin-right: 5px;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	line-height: 30px;
	text-align: center;
	z-index: 9999;
	--opacity: .80;
	--filter: alpha(opacity=80);
	color: #666;
	background-color: #fff;
}

.line {
	display: inline-block;
	width: 80%;
	border-top: 1px solid #ccc;
	height: 1px;
	margin-left: 10%;
	margin-right: 10%;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.row {
	margin-top: 20px;
	word-wrap: break-word;
}