<?xml version="1.0"?>
<!--数据库链接，以下是设置说明：
    name:当前系统的主域（系统支持机构入驻，可以分配各机构二级域名，与数据库没有关系）; 
    connectionString：Data Source=（数据库服务IP地址）; Initial Catalog=(数据库名称); User ID=(数据库账号);password=(密码);    
    -->
<connectionStrings>
  <!--<add name="weisha100.cn"
         connectionString="Data Source=.;Initial Catalog=examweisha;User ID=sa;password=Sa123456;"
         providerName="WeiSha.Data.SqlServer9.SqlServer9Provider" />-->
  <add name="192.168.0.105"
         connectionString="Data Source=.;Initial Catalog=examweisha_dev;User ID=sa;password=Sa123456;"
         providerName="WeiSha.Data.SqlServer9.SqlServer9Provider" />
</connectionStrings>
