<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="Platform" type="WeiSha.Common.PlatformInfoHandler,WeiSha.Common"/>
    <section name="KindEditor" type="WeiSha.WebEditor.ConfigHandler,WeiSha.WebEditor"/>
  </configSections>
  <connectionStrings configSource="db.config"/>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>适用于Sql2005数据库</description>
      <object id="IManageMenu" type="Song.ServiceImpls.ManageMenuCom,Song.ServiceImpls"/>
      <object id="IOrganization" type="Song.ServiceImpls.OrganizationCom,Song.ServiceImpls"/>
      <object id="IAccounts" type="Song.ServiceImpls.AccountsCom,Song.ServiceImpls"/>
      <object id="IStudent" type="Song.ServiceImpls.StudentCom,Song.ServiceImpls"/>
      <object id="ITeacher" type="Song.ServiceImpls.TeacherCom,Song.ServiceImpls"/>
      <object id="IAddressList" type="Song.ServiceImpls.AddressListCom,Song.ServiceImpls"/>
      <object id="IDailyLog" type="Song.ServiceImpls.DailyLogCom,Song.ServiceImpls"/>
      <object id="ITask" type="Song.ServiceImpls.TaskCom,Song.ServiceImpls"/>
      <object id="IDepart" type="Song.ServiceImpls.DepartCom,Song.ServiceImpls"/>
      <object id="IPosition" type="Song.ServiceImpls.PositionCom,Song.ServiceImpls"/>
      <object id="IPayInterface" type="Song.ServiceImpls.PayInterfaceCom,Song.ServiceImpls"/>
      <object id="IGuide" type="Song.ServiceImpls.GuideCom,Song.ServiceImpls"/>
      <object id="IEmpGroup" type="Song.ServiceImpls.EmpGroupCom,Song.ServiceImpls"/>
      <object id="IPurview" type="Song.ServiceImpls.PurviewCom,Song.ServiceImpls"/>
      <object id="IProfitSharing" type="Song.ServiceImpls.ProfitSharingCom,Song.ServiceImpls"/>
      <object id="IEmployee" type="Song.ServiceImpls.EmployeeCom,Song.ServiceImpls"/>
      <object id="IMobileUser" type="Song.ServiceImpls.MobileUserCom,Song.ServiceImpls"/>
      <object id="ILogs" type="Song.ServiceImpls.LogsCom,Song.ServiceImpls"/>
      <object id="IMessage" type="Song.ServiceImpls.MessageCom,Song.ServiceImpls"/>
      <object id="IColumns" type="Song.ServiceImpls.ColumnsCom,Song.ServiceImpls"/>
      <object id="IContents" type="Song.ServiceImpls.ContentsCom,Song.ServiceImpls"/>
      <object id="ICourse" type="Song.ServiceImpls.CourseCom,Song.ServiceImpls"/>
      <object id="IOutline" type="Song.ServiceImpls.OutlineCom,Song.ServiceImpls"/>
      <object id="IUser" type="Song.ServiceImpls.UserCom,Song.ServiceImpls"/>
      <object id="IAccessory" type="Song.ServiceImpls.AccessoryCom,Song.ServiceImpls"/>
      <object id="IProduct" type="Song.ServiceImpls.ProductCom,Song.ServiceImpls"/>
      <object id="ILinks" type="Song.ServiceImpls.LinksCom,Song.ServiceImpls"/>
      <object id="IVote" type="Song.ServiceImpls.VoteCom,Song.ServiceImpls"/>
      <object id="IMessageBoard" type="Song.ServiceImpls.MessageBoardCom,Song.ServiceImpls"/>
      <object id="INotice" type="Song.ServiceImpls.NoticeCom,Song.ServiceImpls"/>
      <object id="ISystemPara" type="Song.ServiceImpls.SystemParaCom,Song.ServiceImpls"/>
      <object id="ISMS" type="Song.ServiceImpls.SMSCom,Song.ServiceImpls"/>
      <object id="ISSO" type="Song.ServiceImpls.SSOCom,Song.ServiceImpls"/>
      <object id="IInternalLink" type="Song.ServiceImpls.InternalLinkCom,Song.ServiceImpls"/>
      <object id="IStyle" type="Song.ServiceImpls.StyleCom,Song.ServiceImpls"/>
      <object id="ISubject" type="Song.ServiceImpls.SubjectCom,Song.ServiceImpls"/>
      <object id="ITeam" type="Song.ServiceImpls.TeamCom,Song.ServiceImpls"/>
      <object id="IKnowledge" type="Song.ServiceImpls.KnowledgeCom,Song.ServiceImpls"/>
      <object id="IQuestions" type="Song.ServiceImpls.QuestionsCom,Song.ServiceImpls"/>
      <object id="ITestPaper" type="Song.ServiceImpls.TestPaperCom,Song.ServiceImpls"/>
      <object id="ITemplate" type="Song.ServiceImpls.TemplateCom,Song.ServiceImpls"/>
      <object id="IExamination" type="Song.ServiceImpls.ExaminationCom,Song.ServiceImpls"/>
      <object id="ITrPlan" type="Song.ServiceImpls.TrPlanCom,Song.ServiceImpls"/>
      <object id="ILimitDomain" type="Song.ServiceImpls.LimitDomainCom,Song.ServiceImpls"/>
      <object id="IRecharge" type="Song.ServiceImpls.RechargeCom,Song.ServiceImpls"/>
      <object id="ILearningCard" type="Song.ServiceImpls.LearningCardCom,Song.ServiceImpls"/>
      <object id="ILive" type="Song.ServiceImpls.LiveCom,Song.ServiceImpls"/>
    </objects>
  </spring>
  <!--站点的配置信息-->
  <Platform name="study" version="1.0">
    <!--应用程序的参数-->
    <App version="1.1">
      <!--系统循环执行的间隔时间，不建议改动-->
      <item key="CycleTimeSpan" value="1000"/>
      <!--日志等级，0.不输出日志；1.只输出错误信息; 2.输出错误和正常信息; 3.输出错误信息、正常信息和调试信息-->
      <item key="LOG_LEVEL" value="3"/>
      <!--不受权限控制的页面-->
      <item key="noPurviewPage" value="index.aspx,default.aspx,welcome.aspx"/>
      <!--不受权限控制的模块-->
      <item key="noPurviewModule" value="Personal,Panel"/>
      <!--应用程序状态，如果Debug，帮助信息可编辑-->
      <item key="AppState" value="Debug"/>
      <!--百度地图API的密钥-->
      <item key="BaiduLBS" value="MBUg6BlQ9sowj5824cX1IKIG"/>
      <!--题型-->
      <item key="QuesType" value="单选, 多选, 判断, 简答, 填空"/>
      <!--Excel导入时，记录列名与字段名对应关系的文件的存放路径-->
      <item key="ExcelInputConfig" value="~/Manage/DataTemplate/Config"/>
      <!--视频转换工具文件夹-->
      <item key="VideoHandler" value="~/Utility/VideoHandler/"/>
      <item key="VideoHandlerIsLog" value="false"/>
      <!--静态化存储路径-->
      <item key="Static" value="~/static"/>
      <item key="ExamFileUp" value="doc,docx,xls,xlsx,ppt,pptx,pdf,zip,rar,jpg,jpeg,gif,png,bmp" intro="考试时简答题上传附件的限定文件类型"/>
    </App>
    <Entity>
      <item key="Accounts" value="账户" visible="true"/>
      <item key="Teacher" value="教师"/>
      <item key="Subject" value="专业"/>
      <item key="Course" value="课程"/>
      <item key="Questions" value="试题"/>
      <item key="TestPaper" value="试卷"/>
      <item key="Article" value="资讯"/>
      <item key="Knowledge" value="知识"/>
      <item key="Notice" value="通知"/>
      <item key="Organization" value="机构" visible="true"/>
    </Entity>
    <Login>
      <item key="Admin">
        <!--后台管理登录的状态管理方式，可选择Cookies或Session-->
        <item key="Pattern" value="Cookies"/>
        <!--Cookies或Session的名称-->
        <item key="KeyName" value="ExamAcc"/>
        <!--登录的时效，单位是分钟，可以设置为auto-->
        <item key="Expires" value="480"/>
        <!--导入信息时的默认登录密码-->
        <item key="DefaultPw" value="123456"/>
        <!--如果没有登录，或登录失效，应该跳转的页面-->
        <item key="NoLoginPath" value="~/Admin/index.ashx"/>
      </item>
      <item key="Accounts">
        <item key="Pattern" value="Cookies"/>
        <item key="KeyName" value="AccountsIdentifier"/>
        <item key="Expires" value="999"/>
        <item key="DefaultPw" value="123456"/>
        <item key="Token" value="auto"/>
        <item key="NoLoginPath" value="~/Student/index.ashx"/>
      </item>
      <item key="Teacher">
        <item key="Pattern" value="Cookies"/>
        <item key="KeyName" value="Teacher"/>
        <item key="Expires" value="auto"/>
        <item key="DefaultPw" value="123456"/>
        <item key="NoLoginPath" value="~/Teacher/index.ashx"/>
      </item>
    </Login>
    <!--短信发送接口；默认启用第一个-->
    <SMS>
      <item type="WeiSha.SMS.Object.HenanTengxin,Song.SMS" name="河南腾信" remarks="河南腾信" domain="http://120.25.66.83:9877/" regurl="http://www.sms1086.com/clientuserregister.aspx?pid=F3BC8A4C-8A25-4B8C-9A1A-F78632A288C1" payurl="http://www.sms1086.com/alipay/default.aspx"/>
      <item type="WeiSha.SMS.Object.Sms345,Song.SMS" remarks="sms345" domain="http://http.yunsms.cn/" regurl="" payurl="http://www.pay.meiyuechina.com:8092/template/index.html" isuse="false"/>
    </SMS>
    <!--模板的配置；path：模板库的根路径; istrim:是否精简模板html代码-->
    <Template path="~/Templates/" istrim="false">
      <!--web模板库; key为标识; value：模板库所有路径（相对于根路径）; default:默认模板库-->
      <item key="Web" value="Web" default="NetSchool">
        <item key="public" value="_public" remark="公共模板，即所有模板库都调用的页面"/>
        <item key="cache" value="template_cache" remark="缓存，此缓存为处理后的html缓存"/>
      </item>
      <!--手机端模板库; key为标识; value：模板库所有路径（相对于根路径）; default:默认模板库-->
      <item key="Mobile" value="Mobi" default="Default">
        <item key="public" value="_public" remark="公共模板，即所有模板库都调用的页面"/>
        <item key="cache" value="template_cache" remark="缓存，此缓存为处理后的html缓存"/>
      </item>
    </Template>
    <!--页面缓存,
    key为页面路径,write为是否写入静态文件,path为写入的路径,timespan为缓存时间，enable是否开启缓存功能
    -->
    <PageCache timespan="60" write="true" path="~/static/" enable="true">
      <item key="/mobile/default.ashx" value="" timespan="10" write="true" enable="true"/>
      <item key="/Mobile/QuesExercises.ashx" value="olid,couid" write="true" enable="true"/>
      <item key="/manage/tester.aspx" value="olid,couid" write="false" enable="true"/>
    </PageCache>
    <!--资料上传的路径，path为根目录，子节点为各模块上传目录（相对于path属性的值）-->
    <Upload path="~/Upload/">
      <item key="Employee" value="employee"/>
      <item key="Student" value="Student"/>
      <item key="Accounts" value="Student"/>
      <item key="Teacher" value="Teacher"/>
      <item key="Depart" value="Depart"/>
      <item key="Course" value="Course"/>
      <item key="CourseVideo" value="Course/Video"/>
      <item key="TestPaper" value="TestPaper"/>
      <item key="Vote" value="vote"/>
      <item key="Product" value="Product"/>
      <item key="Picture" value="Picture"/>
      <item key="Org" value="Org"/>
      <item key="News" value="news"/>
      <item key="Links" value="Links"/>
      <item key="Download" value="Download"/>
      <item key="Video" value="Video"/>
      <item key="Special" value="Special"/>
      <item key="Subject" value="Subject"/>
      <item key="Knowledge" value="Knowledge"/>
      <item key="Exam" value="Exam"/>
      <item key="ShowPic" value="ShowPicture"/>
      <item key="Temp" value="Temp"/>
    </Upload>
    <!--设置页面跳转，
    说明：当浏览器为手机端时，访问web页时会自动跳转到指定mobile项，反之亦然。设置项勿重复，否则会死循环。
    enable:是否启用该功能或该项，默认为true
    web:指定跳转的web页
    mobile:指定跳转的mobile页    
    -->
    <Skip enable="true">
      <item web="/" mobile="/Mobile/courses.ashx"/>
      <item web="/default.ashx" mobile="/Mobile/default.ashx"/>
      <item web="/default.ashx" mobile="/Mobile/default.ashx" enable="true"/>
      <item web="/Courses.ashx" mobile="/Mobile/default.ashx" mark="课程中心"/>
      <item web="/Course.ashx" mobile="/Mobile/Course.ashx" mark="课程"/>
      <item web="/Coursebuy.ashx" mobile="/Mobile/Coursebuy.ashx" mark="课程"/>
      <item web="/testscene.ashx" mobile="/Mobile/testscene.ashx" mark="模拟测试"/>
      <item web="/CourseStudy.ashx" mobile="/Mobile/CourseStudy.ashx" mark="课程购买"/>
      <item web="/student/index.ashx" mobile="/Mobile/login.ashx" mark="登录页"/>
      <item web="/student/Register.ashx" mobile="/Mobile/register.ashx" mark="注册"/>
      <item web="/article.ashx" mobile="/Mobile/article.ashx" mark="资讯"/>
      <item web="/news.ashx" mobile="/Mobile/news.ashx" mark="资讯频道"/>
      <item web="/exam.ashx" mobile="/Mobile/exam.ashx" mark="考试中心"/>
      <item web="/examing.ashx" mobile="/Mobile/examing.ashx" mark="考试中心"/>
      <item web="/student/panel.ashx" mobile="/Mobile/selfinfo.ashx" mark="个人中心"/>
      <item web="/student/panel.ashx?mmid=635" mobile="/Mobile/recharge.ashx" mark="充值"/>
    </Skip>
  </Platform>
  <KindEditor>
    <item key="UploadPath" value="~/Upload/KindFiles/"/>
    <item key="BasePath" value="~/Manage/Utility/KindEditor/"/>
    <item key="Theme:full" value="'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',           'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',           'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',           'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',           'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',           'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',           'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',           'anchor', 'link', 'unlink', '|', 'about'"/>
    <item key="Theme:simple" value="'source','|','fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',           'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',           'insertunorderedlist', '|', 'image','flash', 'media', 'link','jme', '|', 'undo', 'redo'"/>
    <item key="Theme:mini" value="'forecolor','bold', 'italic', 'underline',           'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',           'insertunorderedlist', '|', 'undo', 'redo'"/>
    <item key="Theme:item" value="'source', 'forecolor','bold', 'italic', 'underline', 'removeformat', '|',  'image', 'media', 'jme'"/>
  </KindEditor>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="2097151" requestValidationMode="2.0" executionTimeout="5600" useFullyQualifiedRedirectUrl="true" enableVersionHeader="false"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <sessionState timeout="10" mode="InProc"/>
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。
            mode:  RemoteOnly,Off,On
            -->
    <customErrors mode="Off" defaultRedirect="ErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="Notfound.cshtm"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="WebResource" path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.ashx"/>
        <add value="Default.ashx"/>
        <remove value="default.htm"/>
        <add value="Default.htm"/>
        <remove value="index.htm"/>
        <add value="index.htm"/>
        <remove value="index.html"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET,fetch"/>
        <add name="Access-Control-Allow-Headers" value="x-requested-with"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <remove name="X-Powered-By"/>
        <add name="X-Powered-By" value="WeishaKeji"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".flv"/>
      <mimeMap fileExtension=".flv" mimeType="application/octet-stream"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application / font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
      <remove fileExtension=".apk"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android-package-archive"/>
      <remove fileExtension=".iso"/>
      <mimeMap fileExtension=".iso" mimeType="application/octet-stream"/>
      <remove fileExtension=".xsl"/>
      <mimeMap fileExtension=".xsl" mimeType="text/html"/>
      <remove fileExtension=".axd"/>
      <mimeMap fileExtension=".axd" mimeType="application/octet-stream"/>
      <remove fileExtension=".mobileconfig"/>
      <mimeMap fileExtension=".mobileconfig" mimeType="application/x-apple-aspen-config"/>
    </staticContent>
  </system.webServer>
</configuration>