@charset "utf-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/*头部*/

#header {
	border: none;
	overflow: hidden;
	height: 50px;
	background-color: #006241;
}

#headerTop {
	width: calc(100% - 20px);
	margin: 0px 10px 0px 10px;
}

#header .logo {
	display: block;
	height: calc(100% - 10px);
	width: 180px;
	background-color: #fff;
	margin: 5px 0px 5px 0px;
}

#header .logo img {
	float: left;
	max-height: 40px;
}

dl.menubBar {
	float: left;
	width: calc(100% - 190px - 200px);
	margin: 0px 5px 0px 5px;
	padding: 0px;
	height: 100%;
	display: flex;
}

dl dd {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	flex: 1;
}

.menubBar dd a, .menubBar dd span {
	color: #fff !important;
	font-size: 16px;
	line-height: 50px;
	display: block;
	text-decoration: none;
}

dl.menubBar dd a:hover {
	text-decoration: none;
}

dl.menubBar dd.overMenu {
	background-color: #367517;
}

dl.menubBar dd.overMenu a {
	color: #367517;
}

dl.menubBar dd.curr {
	background-color: #367517;
}

dl.menubBar dd.curr a {
	color: #FFFFCC;
}

.searchBox {
	margin-top: 12px;
	float: right;
	color: #fff;
}

.searchBox .seacInput {
	color: #fff;
}

/*主菜单的下拉框*/

.naviBox {
	position: absolute;
	z-index: 100;
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #367517;
}

.naviItem {
	line-height: 35px;
	height: 35px;
	position: relative;
}

.naviItem a {
	font-size: 16px;
	line-height: 35px;
	height: 35px;
	display: block;
	width: auto;
	margin-left: 15px;
	height: 35px;
	color: #FFF;
	text-decoration: none;
	position: absolute;
	z-index: 8001;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

.naviItem span {
	color: #FFF;
	position: absolute;
	z-index: 1;
	top: 9px;
	right: 14px;
	width: 4px;
	height: 14px;
	font: 400 9px/14px consolas;
}

.naviHover {
	background-color: #489620;
}

.naviHover a, .naviHover span {
	color: #FF9;
}

#Context {
	width: 100%;
	height: calc(100% - 50px);
	margin: 0px 0px 0px 0px;
}

#leftArea {
	float: left;
	width: 180px;
	height: 100%;
	background-color: #006241;
	box-shadow: 1px 2px 2px 0px #006241;
	position: relative;
	transition: .5s all;
	background-image: linear-gradient(to right bottom, #006241 50%, #00422c);
}

#rightArea {
	float: right;
	width: calc(100% - 180px - 2px);
	height: calc(100% - 8px);
	margin-right: 0px;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	position: relative;
	margin-top: 8px;
	transition: .5s all;
}

.menuTitle {
	background-color: #EC870E;
	text-align: left;
	font-size: 16px;
	height: 45px;
	line-height: 46px;
	color: #000000;
	display: block;
}

.menuTitle img {
	float: left;
	width: 24px;
	height: 24px;
	margin: 10px 12px 0px 10px;
	border-radius: 12px;
	box-shadow: -2px 0px 2px #fff, 0px -2px 2px #fff, 2px 0px 2px #fff, 0px 2px 2px #fff;
}

.menuTitle:hover {
	text-decoration: none;
}

/*左侧菜单列表*/

#menuBox {
	width: 180px;
}

#menuBox .mmitem {
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	font-size: 15px;
	transition: 0.5s all;
	position: relative;
	opacity: 0.8;
}

.mmitem .ico {
	height: 20px;
	width: 20px;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;
	background-image: url(../../../../../Manage/Images/mmicons.png);
	background-repeat: no-repeat;
	background-position: -90px -101px;
}

.mmitem .rightIco {
	display: block;
	position: absolute;
	right: 12px;
	top: 16px;
	height: 0px;
	width: 0px;
	color: #CCC;
	border-style: solid dashed dashed;
	border-color: transparent transparent transparent #eee;
	border-width: 6px;
	transition: 1s all;
}

.open .rightIco {
	transform: rotate(90deg);
}

.mmitem:hover {
	--background-color:rgba(188, 214, 205, 0.9);
}

.mmitem:hover:before {
	content: '';
	width: calc(100% - 7px);
	height: calc(100% - 6px);
	border: solid 1px rgba(0, 127, 84, 0.6);
	position: absolute;
	left: 2px;
	top: 2px;
	z-index: 1;
	border-radius: 3px;
	background: rgba(0, 127, 84, 0.2);
	box-shadow: rgba(255, 255, 255, .8) 0px 0px 3px inset;
}

.mmitem .topTxt {
	float: left;
	width: auto;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background-color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}

#menuBox .mmBox {}

#menuBox a {
	color: #eee !important;
	text-decoration: none;
	font-size: 15px;
}

/*折叠按钮*/

#foldbtn {
	width: 8px;
	height: 60px;
	border-radius: 3px;
	background-color: #007F54;
	position: absolute;
	right: -4px;
	top: calc(100% / 3);
	z-index: 10;
	cursor: pointer;
	border: solid 1px #ccc;
	box-shadow: 1px 0px 1px #007F54;
}

#foldbtn::before {
	content: '\03C';
	line-height: 55px;
	font-size: 22px;
	color: #fff;
	text-indent: -2px;
	display: block;
	transform: scaleX(0.3);
	transition: 1s all;
}

#foldbtn.close::before {
	transform: rotate(180deg) scaleX(0.3);
	line-height: 65px;
	text-indent: -4px;
}

/*右侧内容区导航*/

.bar {
	height: 40px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 35px;
}

.bar, .bar a {
	font-size: 15px;
	line-height: 40px;
	color: #333333;
}

.bar a:hover {
	text-decoration: underline;
}

.bar .menuNav #menuPath {
	text-decoration: none;
}

.bar .menuNav {
	float: left;
	width: auto;
	text-indent: 10px;
	line-height: 40px;
	height: 40px;
}

.bar .menuNav::before {
	content: '\27A4';
	display: inline-block;
	transform: scaleX(.5);
	width: 15px;
	text-align: left;
	text-indent: -1px;
}

.bar .menuNav, .bar .menuNav * {
	font-size: 14px;
}

.bar .menuNav i {
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	display: inline-block;
	font-family: iconfont, sans-serif;
	font-weight: 800;
	width: 10px;
	text-align: left;
	text-indent: -1px;
	transform: scaleX(.5);
}

/*右侧的右上角*/

.righttop {
	position: absolute;
	top: 7px;
	right: 20px;
	width: 200px;
	text-align: center;
	line-height: 40px;
}

.righttop .loginInfo {
	float: right;
	height: 25px;
	line-height: 25px;
	color: rgb(0, 0, 0);
	background-color: #EC870E;
	padding: 0px 10px 0px 10px;
	border-radius: 2px;
	font-size: 14px;
	overflow: hidden;
	cursor: default;
}

.righttop .loginInfo a {
	color: #fff;
	font-size: 14px;
}

.righttop .loginInfo a::before {
	content: '\27A5';
	margin-right: 3px;
}

.righttop .versionBox {
	float: right;
	width: 60px;
	text-align: center;
	color: #666 !important;
	line-height: 25px;
	height: 20px;
	margin-top: 6px;
	font-size: 12px;
	display: block;
}

.lowest {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCC;
	position: absolute;
	top: 0px;
	left: 0px;
}

.lowest .item {
	float: left;
	width: auto;
	margin-left: 10px;
	cursor: pointer;
	line-height: 40px;
	padding-right: 5px;
	padding-left: 5px;
}

.lowest .curr {
	color: #000;
	border-top-width: 2px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #F30;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	background-color: #FFF;
	height: 33px;
	font-size: 16px;
	line-height: 32px;
	margin-top: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

/*内容区域*/

#adminPage {
	margin: 0px 10px 2px 0px;
	width: calc(100% - 12px);
	height: calc(100% - 80px);
	position: absolute;
	left: 10px;
	bottom: 0px;
}