@charset "utf-8";
weisha.linksorts{
	min-height: calc(100vh - 400px);
	padding: 0px 15px 0px 15px;
}
weisha.linksorts .link-item a{
	font-size: 22px !important;
	margin: 10px 0px;
}
weisha.linksorts{
    display: flex;	
	flex-direction: column;
}
.sortname {
	margin-top: 10px;
	font-weight: bold;
	font-size: 30px;
	color: #666;
	margin-bottom: 10px;
}
weisha.linksorts  div.linksarea{
	margin-left: 50px;
}
.nodata{
	text-align: center;
	font-size: 30px;
	padding: 160px;
	color: #666;
}
.nodata icon{
	font-size: 90px;
	margin-right: 30px;
}