<!DOCTYPE html>
<html lang="zh">

<head resource>
  <meta charset="utf-8">
  <include file="../inc/meta.inc" />
  <title>登录</title>
  <link type="text/css" charset="UTF-8" rel="stylesheet" href="/Utilities/Panel/styles/Login.css">
</head>

<body>

  <header>
    <a href="#" icon="&#xe727" style="font-size: 22px;" onclick="window.history.back(-1);"></a>
    <a href="/mobi/" icon="&#xa020"></a>
  </header>
  <div id="login-area" remark="登录框" style="display: none;">
    <div id="login-box"></div>
    <div class="other">
      <a href="up" v-if="config.IsRegStudent">
        <icon>&#xe7cd</icon>注册
      </a>
      <a style="float: right;" href="find">
        <icon>&#xe76a</icon>找回密码
      </a>
    </div>
  </div>
  <div id="logged-area" v-cloak remark="登录后的状态">
    <img v-if="!!account.Ac_Photo && account.Ac_Photo!=''" :src="account.Ac_Photo" class="photo">
    <template v-else>
      <img class="photo" v-if="account.Ac_Sex==2" src="/Utilities/images/head2.jpg" />
      <img class="photo" v-else src="/Utilities/images/head1.jpg" />
    </template>
    <template v-if="islogin">
      <div class="accname" v-if="account.Ac_Name!=''" v-html="account.Ac_Name">

      </div>
      <div class="accname" v-else>
        (名称为空)
      </div>
    </template>
    <div class="nologin" v-else>(未登录或已失效)</div>
    <van-button type="info" @click="gourl('/mobi/account/myself')">个人信息</van-button>
    <van-button type="default" @click="logout">退出登录</van-button>
  </div>
</body>

</html>