@charset "utf-8";
body {
}
/* 左侧菜单*/
#outlineLeft
{
	float: left;
	width: 25%;
	background-color: #CCCCCC;
	border: 1px solid #666666;
	overflow: auto;
}
#outlineLeft span{
	font-size: 13px;
	line-height: 22px;
	height: 22px;
	color: #0033FF;
}
#outlineLeft .leftItem{
	text-indent: 10px;
	cursor:pointer;
}
#outlineLeft .over{
	background-color: #FFFFCC;
}
#outlineLeft .current{
	background-color: #FFFFFF;
}
#outlineRigt
{
	background-color: #99CC00;
	float: right;
	width: 74%;
}