@charset "utf-8";
/*学习数量，总数和使用数的排版*/
.usedCount{
    display: inline-block;
    width: 50px;
    text-align: right;
}
.sumCount{
    display: inline-block;
    width: 50px;
    text-align: left;
}
/*主题，启用和禁用图标*/
.enable:before, .disable:before{
    font-size: 18px !important;
    line-height: 23px;
    vertical-align: middle;
}