@charset "utf-8";
body,html,#app{
    height: 100%;
    width: 100%;
}
body,html{
    overflow: hidden;
}
#app{
    padding-top: 10px;
}
.row {
    line-height: 30px;
    margin: 0px 20px 0px 20px;
    width: calc(100% - 40px);
}
.theme{
    margin-bottom: 10px;
}
.btnOutput{
    float: right; 
    margin-top:-5px;
}
.box-card{
    margin-left: 10px;
    margin-right: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 120px);
}
.el-card__header{
    padding-right: 5px !important;
}
