@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
body, a, p, td, div {
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}
a{
	color: #006;
	text-decoration: none;
}
strong{
	font-size: 16px;
}
a:hover{
	text-decoration: underline;
}
* {
	font-size: 14px;
}
#header {
	position: fixed;
	background: #aaa;
	width: 100%;
	height: 60px;
	line-height: 30px;
	z-index: 9998;
	_width: 100%;
	_position: absolute;
	_top: 0px;
	top: 0px;	
	color: #333;
	box-shadow: 3px 3px 3px #888888;
}
#header, #header span{
	line-height: 60px;
	text-indent: 20px;
	font-size: 30px;
	font-weight: bold;
}
.logo {
	float: right;
	margin-right: 200px;
	margin-top: 8px;
}
.leftbox {
	position: fixed;
	width: 200px;
	height: 100%;
	line-height: 30px;
	z-index: 9998;
	padding-top:30px;
	_width: 60px;
	_position: absolute;
	_top: 60px;
	top: 60px;
	line-height: 60px;
	text-indent: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #333;
	background-color: #666;
	text-align: center;
	box-shadow: 5px 0px 0px #999, 0 6px 3px rgba(0, 0, 0, 0.3);
}
.leftbox a{
	color: #FFF;
}
.menubox {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.menubox dt {
	padding: 0px;
	margin: 0px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	vertical-align: text-top;
	color: #FFF;
	font-weight: bold;
	font-family: "Microsoft YaHei" ! important;
}
.menubox dt:before{
	content:"◆";
	font-size:25px;
	line-height:30px !important;
	width:20px;
	float:left;
	vertical-align:text-bottom;
	display:inline-block;
}
.menubox dd {
	padding: 0px;
	line-height: 30px;
	height: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	text-align: left;
	cursor: pointer;
	color: #eee;
}
.menubox dd.curr{
}
.menubox dd.curr:after{
	content: "   >";
	color: #FFF;
}
.menubox dd:hover:after{
	content: "   >";
	color: #FFF;
}
#rightbox {
	position: fixed;
	line-height: 30px;
	z-index: 20;
	_width: 100%;
	_position: absolute;
	_top: 60px;
	top: 60px;
	left: 200px;
	line-height: 60px;
	text-indent: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #333;
	overflow: auto;
}
.context {
	margin-top: 20px;
	max-width: 800px;
	width: 100%;
	height:90%;
}
#footer {
	position: fixed;
	bottom: 0;
	background: #666;
	width: 100%;
	height: 30px;
	line-height: 30px;
	z-index: 9999;
	opacity: .80;
	filter: alpha(opacity=80);
	_bottom: auto;
	_width: 100%;
	color: #fff;
	margin-left:205px;
	_position: absolute;
 _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight- (parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}

#footer a {
	font-size: 13px;
	letter-spacing: 2px;
	margin-right: 0px;
	margin-left: 0px;
	color: #fff;
}
.copyright {
	font-family: arial;
	margin-left: 10px;
	color: #fff;
	text-align: left;
}
#rightFloat {
	position: fixed;
	top: 80px;
	right: 35px;
	width: 230px;
	height: 250px;
	line-height: 30px;
	z-index: 30;
	_position: absolute;
	background-color: #CCC;
	border: thin outset #FFF;
	padding: 10px;
}
#rightFloat h1 {
	margin: 0px;
	padding: 0px;
}

#adbox {
	position: fixed;
	top: 360px;
	right: 35px;
	width: 230px;
	height: 30px;
	line-height: 30px;
	z-index: 30;
	_position: absolute;
	background-color: #CCC;
	border: thin outset #FFF;
	padding: 10px;
}
#adbox span{
	font-size:25px;
}
.red{
	color: #F00;
}
