@charset "utf-8";
/*院系的区域*/
#departBox
{
	overflow: hidden;
	position: absolute;
	display:none;
	z-index: 300001;
	height:300px;
}
#departBoxBack
{
	overflow: hidden;
	position: absolute;
	display:none;
	background-color: #0074cb;
	opacity:0.9;
	filter:alpha(opacity=90);
	z-index: 300000;
	height:300px;
}

#departBox .depName{

	text-indent: 20px;

	width: 100%;
	font-size: 14px;
	color: #FFFFFF;
	cursor:pointer;
	text-align:left;
}
#departBox .depName span{
	margin-right: 10px;
}
#departBox .depName i {
	float: right;
	margin-right:10px;
	font-family: consolas;
	font-size: 9px;
	font-weight: 400;
}
#departBox .depNameOver{
	color: #0074cb;
	background-color: #FFFFFF;
}
#departBox .depNameOver i{
	color: #FFFFFF;
	
}
.subjectBox{
	height: 300px;
	width: 400px;
	background-color: #FFFFFF;
	position: absolute;
	z-index: 300000;
	display:none;
	background:rgba(255, 255, 255, 0.8)!important;
	filter:Alpha(opacity=80); 
}
.subjectBox div{ position:relative;}
.subjectBox .sbjItem{
	width:50%;
	height:100px;
	float:left;
	text-align:left;
}
.subjectBox .sbjItemOver{
	background:rgba(255, 255, 200, 0.5)!important;
	filter:Alpha(opacity=50); 
}
.subjectBox .sbjItem div{ position:relative;}
.subjectBox .noSubject{
	font-size: 15px;
	line-height: 80px;
	text-align: center;
}
.subjectBox .sbjName{
	font-size: 15px;
	line-height: 30px;
	text-indent: 20px;
	font-weight: bold;
	margin-top: 5px;
	cursor:pointer;
	
}
.subjectBox .sbjName .icondepart{
	font-size: 18px;
	line-height: 30px;
}
.subjectBox .sbjIntro{
	line-height: 22px;
	max-height: 44px;
	margin-right: 10px;
	margin-left: 20px;
	overflow: hidden;
	cursor:pointer;
}