<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>修改充值卡设置项</title>
</head>


<body>
    <div id="app" v-cloak>
        <el-form ref="entity" :model="entity" :rules="rules" @submit.native.prevent label-width="80px">

            <el-form-item label="主题" prop="Rs_Theme">
                <el-input v-model.trim="entity.Rs_Theme"></el-input>

            </el-form-item>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="面额" prop="Rs_Price">
                        <el-input v-model.number="entity.Rs_Price" type="number">
                            <icon coupon slot="prepend"></icon>
                            <template slot="append">元</template>
                        </el-input>

                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="数量" prop="Rs_Count">
                        <template>
                            <el-input v-model.number="entity.Rs_Count" type="number">
                                <template slot="append">张</template>
                            </el-input>
                        </template>
                    </el-form-item>
                </el-col>
            </el-row>


            <el-row>
                <el-col :span="12">
                    <el-form-item label="有效期" prop="Rs_Limit">

                        <el-date-picker type="daterange" v-model="datespan" style="width:100%" range-separator="至"
                            start-placeholder="起始日期" end-placeholder="结束日期">
                        </el-date-picker>

                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-form-item label="说明" prop="Rs_Intro">

                    <el-input type="textarea" :rows="4" placeholder="请输入内容" v-model="entity.Rs_Intro"></el-input>
                </el-form-item>
            </el-row>

            <el-row>
                <el-col :span="12">
                    <el-form-item label="充值码" prop="Rs_CodeLength">
                        <template>
                            <el-input v-model.number="entity.Rs_CodeLength" clearable>
                                <template slot="prepend">长度
                                </template> <template slot="append">位</template>
                            </el-input>
                        </template>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="" prop="Rs_PwLength">
                        <template>
                            <el-input v-model.number="entity.Rs_PwLength" type="number">
                                <template slot="prepend">密钥
                                </template>
                                <template slot="append">位</template>

                        </template>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="状态" prop="Rs_IsEnable">
                        <el-switch v-model="entity.Rs_IsEnable" :active-text="entity.Rs_IsEnable ? '启用' : '禁用'">
                        </el-switch>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div class="footer">
            <el-button type="primary" define="enter" native-type="submit" :loading="lading_init && loading" plain
                @click="btnEnter('entity',true)">
                确认</el-button>
            <el-button type="primary" v-if="!isadd" native-type="submit" define="apply" :loading="loading" plain
                @click="btnEnter('entity',false)">
                应用
            </el-button>
            <el-button type='close'>取消</el-button>
        </div>
    </div>


</body>

</html>