@charset "utf-8";
html, body, #vapp {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.tree-box {
    margin: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px - 32px);
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

/*树形中的行高*/

div[role=treeitem] {
    min-height: 30px;
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}

.custom-tree-node:hover {
    background-color: #eee;
}

.el-tree-node__content {
    cursor: default !important;
}

.tree-node {
    display: inline-block;
    width: calc(100% - 210px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.tree-node icon{
    margin: 0px;
}
/*专业的缩略图*/

.logoSmall {
    position: absolute;
    z-index: 10;
    box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
}

/*是否启用的列*/

.column_use {
    display: inline-block;
    width: 60px;
    text-align: center;
}

/*是否推荐的列*/

.column_rec {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.column_count {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.column_count .zero {
    color: #ccc;
}

.column_count .count::before {
    content: "\e813";
    font-family: "webdesk_icon" !important;
    margin-right: 5px;
}

.column_btn {
    width: 120px;
    text-align: right;
}

/*子专业数量*/

.sbjcount {
    color: #ccc;
    font-size: 12px;
}