@charset "utf-8";
.panel {
    width: 100%;
    height: calc(100% - 55px);
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
}

.panel>div:not(:first-child) {
    border: 1px solid #DCDFE6;
    border-top: none;
}
.el-form {
    box-sizing: border-box;
    margin: 0px;
    height: calc(100% - 50px);
    padding: 10px 20px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.el-form {
    height: calc(100% - 40px);
    width: 100%;
    margin: 0px;
    padding: 0px;

    overflow: auto;
    box-sizing: border-box;
}

.el-form>div {
    box-sizing: border-box;
    padding: 15px;
}
/*编辑框*/
.about_editor {
    width: 100%;
    height: 100%;
}

.el-form>div.about_editor {
    padding: 0px;
}
.el-form>div.about_editor .tox-tinymce {
	border: none !important;
}
.el-form>div.about_editor .tox-statusbar{
	border: none !important;
}
.el-tabs--border-card {
    box-shadow: none;
    border: none;
}

.el-tabs__content {
    display: none;
}

/*没有图片*/

.nophoto {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #aaa;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}
.nophoto icon{   
    font-size:35px;
    text-align: center;
    margin: 0px 0px 0px 10px;
}
.upload_img_area{
    display: table;
    float: left;
    width: 100%;
}
.upload_img_area img{
    max-height: 180px;
    max-width: 100%;
}