@charset "utf-8";
#bodyTop {
	height: 400px;
	background-image: url(../Images/login-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
}

.fixedBox{
	position: absolute;
	top: 100px;
	right: 0px;
	width: 100%;
}
.fixed-box{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 100px;
}
#loginBox {
	height: 300px;
	width: 300px;
	border: 1px solid #CCCCCC;
	float: right;
}
#loginBoxBack
{
	height: 300px;
	width: 300px;
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity=60);
	float: right;
	margin-top: 1px;
	margin-right: 1px;
}
#loginBox .width {
	width: 180px;
}
.loginRow label {
	margin-left: 20px;
	margin-right: 50px;
}

.infoBox {
	display:table;
	width: 270px;
	margin-bottom:20px;
}
.infoBox .infoItem {
	font-size: 15px;
	line-height: 30px;
	float: left;
	height: 30px;
	width: 120px;
	text-align:center;
	background-color: #FFFFDF;
	margin-left: 15px;
	margin-bottom: 10px;
}
#loginBox .loginBar {
	height: 50px;
}

#loginBox .loginBar .loginTitle {
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 300px;
	cursor:pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity:0.6;
	filter:alpha(opacity=60);
	background-color: #666666;
	color: #FFFFFF;
}
.loginTitleCurr {
	color: #0387d9;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 150px;
	cursor:pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity:1;
	filter:alpha(opacity=100);
	font-weight: bold;
}
.loginArea form {
	margin: 10px;
}
#loginBox .textbox {
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity:0.8;
	filter:alpha(opacity=80);
	float: left;
}
.loginRow {
	line-height: 40px;
	width: 100%;
	height: 40px;
}
.loginRow .loginRowRight {
	text-align: right;
	float: left;
	width: 80px;
	font-size: 15px;
}
.loginRow .loginRowLeft {
	float: left;
	width: 200px;
}
.verify {
	float: left;
	width: 102px;
}


.verifyCode{
	cursor:pointer;
	height: 32px;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
	width: 72px;
}
.btnBar
{
	margin-top: 10px;
}
.btnLogin {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 250px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 10px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.aRegister {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 120px;
	float: left;
	margin-left: 20px;
	background-color: #0387d9;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.btnRegister {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 182px;
	float: left;
	margin-left: 80px;
	background-color: #0387d9;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.btnInManage {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 15px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btnLogout{
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 120px;
	float: left;
	margin-left: 15px;
	background-color: #666666;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.loginArea
{
	padding-top: 10px;
}
.loginArea .isLoginBox {
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.loginArea .isLoginBox .loginRow{
	text-align: center;
}

/*课程列表*/
#bodyFooter {
	height: 450px;
}
.boxBar {
	height: 80px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.boxBar .more {
	float: right;
	height: 30px;
	width: 100px;
	line-height: 30px;
	margin-top: 40px;	
	background-color: #fbac4e;
	margin-right:0px;
}
.boxBar .more em
{
	float: left;
	margin-top: 6px;
	margin-right: 2px;
	margin-left: 10px;
}
.boxBar .more a{
	color: #666666;
	text-indent: 40px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
}
.title {
	background-image: url(../../Images/icon1.png);
	background-repeat: no-repeat;
	height: 80px;
	width: 200px;
	background-position: 0px 25px;
	line-height: 80px;
	text-indent: 50px;
	font-size: 28px;
	font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu;
	padding-bottom: 12px;
	color: #0387d9;
	float: left;
}

.courseList {
	width: 1200px;
	height: 350px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.courseList .courseListInner {
	width: 1250px;
}

.courseList  .item {
	float: left;
	margin-right: 18px;
	width: 220px;
	text-align: center;
	border: 3px solid #FFFFFF;
	height: 135px;
	overflow: hidden;
	margin-bottom:20px;
}
.courseList  .courseOver
{
	border: 3px solid #CCCCCC;
}
.courseList  .courseOver .itemName a
{
	color: #FFFFFF;
}
.courseList  .item a{
	display: block;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 25px;
}
.courseList  .item img{
	width: 220px;
	height: 135px;
}
.courseList .item .itemMark {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 220px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	POSITION: relative;
	FILTER: alpha(opacity=50);
	BACKGROUND: #000;
	OVERFLOW: hidden;
	opacity: 0.5;
	-moz-opacity: 0.5;
	top:-45px;
	height:135px;
}
.courseList .item .itemInfo {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 220px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	POSITION: relative;
	OVERFLOW: hidden;
	top:-180px;
	height:135px;
	z-index: 10;
}
.courseList .item .itemInfo a
{
	line-height: 45px;
	text-indent: 10px;
	display: block;
	height: 45px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 18px;
	overflow: hidden;
}
.courseList .item .itemDetails
{
	line-height: 20px;
	display: block;
	height: 78px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
	width: 190px;
	margin-left: 10px;
}
.courseList .item .itemDetails a{
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
}