@charset "utf-8";
body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	
}

body,p,div,td{
	
}
#Context {
	width: 1200px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
	display: table;
}
#bodyTop {
	height: 250px;
	background-image: url(../Images/main-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
}
#bodyTop #bodyTopContext {
	height: 250px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display: table;
}
.stPhoto {
	height: 215px;
	width: 180px;
	padding-top: 15px;
	background-color: #FFFFFF;
	margin-top: 20px;
	float: left;
}
.stPhoto .mark {

	height: 40px;
	position: relative;
	width: 180px;
	top: -40px;
	z-index: 1;
	background-color: #FFFFFF;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.stPhoto .info {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	color: #000000;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	height: 40px;
	width: 180px;
	position: relative;
	top: -80px;
	z-index: 2;
}



