<!DOCTYPE html>
<html>
<head>
<title>选课中心:{$sbj.Sbj_Name}  {$:#.org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/Courses.js?ver={$version}"></script>
<link href="Styles/Courses.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include file="inc/Header.html" />
<div id="bodyTop">&nbsp;</div>
<div id="Context">
  <div id="TitleBar"> 选课中心</div>
  <!--选择区域 -->
  <vt:include file="Module/Course/Subject-bar.htm" from="_public" remark="专业分类导航" />
  <!-- 选择区结束 -->
  <div class="courseList">
    <div class="courseListInner">
      <vt:foreach id="course" from="$#.course" item="data" index="i" size="36" remark="课程列表">
        <div class="item" couid="{$:#.data.cou_id}" wd="800" hg="600"> <a href="/course.ashx?id={$:#.data.cou_id}" title="{$:#.data.cou_name}"><img src="{$:#.data.cou_logosmall}"  default="images/cou_nophoto.jpg"/> </a>
          <div class="itemMark"></div>
          <div class="itemInfo"> <a href="/course.ashx?id={$:#.data.cou_id}" title="{$:#.data.cou_name}">
          <vt:if var="data.Cou_ExistLive" value="true" compare="=" remark="直播">
                 <div class="live" title="直播课"></div>
                 </vt:if>
          {$:#.data.cou_name}</a>
            <div class="itemDetails">主讲：{$:#.data.th_name}<br />
              {$:#.data.Cou_Intro}</div>
          </div>
        </div>
        <vt:foreachelse/>
        <div class="nocourse">当前选择条件下没有课程！</div> 
      </vt:foreach>
    </div>
  </div>
  <!--分页导航 -->
  <vt:if var="pageAmount.Length" value="1" compare=">">
    <div id="pagerBar">
      <div class="pagerFirst pagerBtn"><a href="/courses.ashx?sbj={$sbjid}">首页</a></div>
      <!--上一页 -->
      <vt:expression var="pagerPrev" expression="{0}-1" args="$pageIndex" />
      <vt:if var="#.pagerPrev" value="1" compare="<">
        <div class="pagerPrev pagerBtn"><a href="#">上一页</a></div>
        <vt:else />
        <div class="pagerPrev pagerBtn"><a href="/courses.ashx?index={$:#.pagerPrev}&sbj={$sbjid}">上一页</a></div>
      </vt:if>
      <!--分页数字 -->
      <vt:foreach id="pageAmount" from="$#.pageAmount" item="data" index="i" remark="分页数字">
        <vt:if var="#.data" value="$pageIndex" compare="=">
          <div class="pagerIndex pagerBtn pagerCurr"><a href="/courses.ashx?index={$:i}&sbj={$sbjid}">{$:i}</a></div>
          <vt:else />
          <div class="pagerIndex pagerBtn"><a href="/courses.ashx?index={$:i}&sbj={$sbjid}">{$:i}</a></div>
        </vt:if>
      </vt:foreach>
      <!--下一页 -->
      <vt:expression var="pagerNext" expression="{0}+1" args="$pageIndex" />
      <vt:if var="#.pagerNext" value="$pageAmount.Length" compare=">">
        <div class="pagerNext pagerBtn"><a href="#">下一页</a></div>
        <vt:else />
        <div class="pagerNext pagerBtn"><a href="/courses.ashx?index={$:#.pagerNext}&sbj={$sbjid}">下一页</a></div>
      </vt:if>
      <div class="pagerLast pagerBtn"><a href="/courses.ashx?index={$:pageAmount.length}&sbj={$sbjid}">末页</a></div>
    </div>
  </vt:if>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
