<!DOCTYPE html>
<html>
    <head>
    <title>测试《{$pager.Tp_Name}》 - {$org.org_platformname}</title>
    <vt:include file="inc/meta.inc" />  
     <vt:if var="pager" value="" compare="!=">
    <script language="javascript" type="text/javascript">
        var ServerTime = new Date("{$Time}"); //当前服务器端时间
        var ClientTime = new Date(); //当前客户端时间
        //唯一ID
        var uid = "{$uid}";
        //试卷ID与名称
        var testPagerID = Number("{$pager.Tp_Id}");
        var testPagerName = "{$pager.Tp_Name}";
        //试卷所属课程的id与名称
        var courseid = Number("{$pager.Cou_ID}");
        var courseName = "{$pager.Cou_Name}";
        //试卷所属专业
        var sbjid = Number("{$pager.sbj_Id}");
        var sbjName = "{$pager.Sbj_Name}";
        //考生ID，分组id,考生姓名
        var stID = Number("{$Account.Ac_Id}");
        var stName = "{$Account.Ac_name}";
        var stAccName = "{$Account.Ac_AccName}";
        var stsID = Number("{$Account.Sts_ID}");
        var stsName = "{$Account.Sts_Name}";
		//是否选修该课程
		var isStudy = Boolean("{$isStudy}" == "False" ? 0 : 1);	
    </script>
      </vt:if>
    <link href="Styles/TestScene.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="Scripts/TestScene.js"></script>
    </head>
    <body>
<vt:include file="inc/Header.html" />
<script>
    document.body.onselectstart = document.body.oncontextmenu = function () { return false; };
    document.body.onpaste = document.body.oncopy = function () { return false; };
</script>
<div id="bodyTop">&nbsp;</div>
<div id="Context">
<vt:if var="isStudy" value="true" compare="=">
      <div id="examHeader">
    <fieldset id="examInfo">
          <legend>考试信息</legend>
          <div class="infoBox">
        <div class="stPhoto">
              <div class="stName">{$Account.Ac_Name} </div>
              <vt:if var="Account.Ac_Photo" value="" compare="="> <img src="images/noPhoto.jpg" width="100" height="133"/>
            <vt:else />
            <img width="90" height="120" id="empBoxPhoto" src="{$stpath}{$Account.Ac_Photo}" /> </vt:if>
            </div>
        <div class="empName">
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tr>
                  <td width="60" class="right"> 试卷：</td>
                  <td>{$pager.tp_Name} </td>
                </tr>
            <tr>
                  <td class="right"> 学科： </td>
                  <td>{$pager.Sbj_Name}<span id="sbjid" style="display: none"> {$pager.Sbj_ID}</span></td>
                </tr>
            <tr>
                <tr>
                  <td class="right"> 课程： </td>
                  <td>{$pager.cou_Name}<span id="couid" style="display: none"> {$pager.Cou_ID}</span></td>
                </tr>
                <tr>
                <tr>
                  <td class="right"> 总分： </td>
                  <td>{$pager.Tp_total}分<span class="passscore">（{$pager.Tp_PassScore}分及格）</span></td>
                </tr>
          </table>
            </div>
      </div>
        </fieldset>
    <fieldset id="showBox">
          <legend>提示信息</legend>
          <table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr>
              <td width="60" class="left"> 完成：</td>
              <td><span id="CompleteNumber">0</span> 道题 </td>
            </tr>
        <tr>
              <td class="left"> 总共： </td>
              <td><span id="QuesCount"> {$pager.Tp_Count } </span>道题 </td>
            </tr>
        <tr>
              <td class="left"> 限时： </td>
              <td><span id="timeSpan"> {$pager.Tp_Span} </span>分钟 </td>
            </tr>
        <tr>
              <td class="left"> 时间： </td>
              <td><span id="currTime"></span></td>
            </tr>
      </table>
        </fieldset>
    <fieldset id="timeBox">
          <legend>剩余时间</legend>
          
          <!-- <div class="timeTitle"> 剩余时间</div>-->
          <div class="timeArea"> <span class="mm">0</span>:<span class="ss">0</span></div>
        </fieldset>
  </div>
     
      <div id="TestArea"> 
    <!--试题展示区-->
    <div id="quesArea" index="0">
    <div id="quesArea-context">
      <vt:foreach id="ques" from="$#.ques" item="q" index="i" remark="试题">
        <vt:function var="IsCollect" method="IsCollect" args="$#.q.qus_id"/>
        <div class="quesItem" qid="{$q.qus_id}" index="{$:i}" IsCollect="{$:#.IsCollect}"  num="{$q.qus_number}" type="{$q.qus_type}">
          <div class="quesBox">
            <vt:function var="type" method="getQuesType" args="$#.q.qus_type"/>
            <div class="quesInfo">
              <div class="info">[{$:i}/{$ques.Count}] [<span class="type">{$:type}题</span>]（<span class="num">{$:#.q.qus_number}</span>分）</div>
              <div class="infoLeft"> 
                <!--收藏与报错 -->
                <vt:if var="IsCollect" value="true" compare="="> <span class="examico btnFav IsCollect">&#xe662;</span>
                  <vt:else/>
                  <span class="examico btnFav">&#xe661;</span> </vt:if>
                <span class="examico btnError">&#xe704;</span> </div>
            </div>
            <!--试题的题干 -->
            <div class="quesTitle"> {$:#.q.qus_title} </div>
            <!--试题答案选项 -->
            <div class="quesAnswerBox type{$q.qus_type}">
              <vt:if var="q.qus_type" value="1" compare="=" remark="单选题"> 
                <vt:function var="items" method="AnswerItems" args="$#.q"/>
                <vt:foreach from="$#.items" item="ans" index="j">
                  <vt:function var="tax" method="GetOrder" args="$j"/>
                  <div class="ansItem" correct="{$:ans.Ans_IsCorrect}" ansid="{$:ans.Ans_id}">{$:tax}、{$:ans.Ans_Context} </div>
                </vt:foreach>
              </vt:if>
              <vt:if var="q.qus_type" value="2" compare="=" remark="多选题"> 
                <vt:function var="items" method="AnswerItems" args="$#.q"/>
                <vt:foreach from="$#.items" item="ans" index="j">
                  <vt:function var="tax" method="GetOrder" args="$j"/>
                  <div class="ansItem"  correct="{$:ans.Ans_IsCorrect}" ansid="{$:ans.Ans_id}">{$:tax}、{$:ans.Ans_Context} </div>
                </vt:foreach>
              </vt:if>
              <vt:if var="q.qus_type" value="3" compare="=" remark="判断题"> 
                <vt:if var="q.Qus_IsCorrect" value="true" compare="=">
                  <div class="ansItem" correct="true" ansid="0">A、&nbsp;正确</div>
                  <div class="ansItem" correct="false" ansid="1">B、&nbsp;错误</div>
                  <vt:else/>
                  <div class="ansItem" correct="false" ansid="0">A、&nbsp;正确</div>
                  <div class="ansItem" correct="true" ansid="1">B、&nbsp;错误</div>
                </vt:if>
              </vt:if>
              <vt:if var="q.qus_type" value="4" compare="=" remark="简答题">
                <div class="ansItem">
                  回答：<br/>
                  <textarea name="" class="textbox4"></textarea>
                </div>
              </vt:if>
              <vt:if var="q.qus_type" value="5" compare="=" remark="填空题"> 
                <vt:function var="items" method="AnswerItems" args="$#.q"/>
                <vt:foreach from="$#.items" item="ans" index="j">
                  <vt:function var="tax" method="GetOrder" args="$j"/>
                  <div class="ansItem" correct="{$:ans.Ans_Context}" >{$:tax}、
                    <input name=""  class="textbox5" type="text"/>
                  </div>
                </vt:foreach>
              </vt:if>
            </div>
          </div>
        </div>
      </vt:foreach>
    </div>
</div>
    <!--试题卡-->
    <div id="cardBox">
          <div id="cardBoxTitle"> 答题卡</div>
          <div id="cardBoxInner">
         
          </div>
        </div>
  </div>
   <!--上下按钮控制区-->
      
      <div id="controlBox">
    <div id="btnPrev" class="btn"> 
          <!--上一题--> 
          &nbsp;</div>
    <div id="btnNext" class="btn"> 
          <!--下一题--> 
          &nbsp;</div>
    <!--<div id="btnEnterNext" class="btn"> 
          
          &nbsp;</div>-->
    <div id="btnSubmint"> <img src="images/submit.gif" width="260" height="45"/> &nbsp;</div>
  </div>
  <vt:else/>
    <div class="noSelect">
     <vt:if var="pager" value="" compare="!=">
      <div class="tit">你没有选修课程《{$course.cou_Name}》!
      <br />
      该课程下的模拟测试，不能参与！
      </div>
      <dl>
     
          <dd>
            <div class="imgBox">
              <vt:if var="pager.Tp_Logo" value="" compare="="> <img src="images/testpaper.jpg"/>
                <vt:else />
                <img src="{$path}{$pager.Tp_Logo}"/> </vt:if>
            </div>
            <div class="testRight">
              <div class="title">{$pager.tp_name}</div>
              <div class="row">
                <div class="time">考试限时：{$pager.Tp_Span}分钟</div>
                <div class="qscount">题量：共{$pager.Tp_count}道题</div>
                <div class="total">满分：{$pager.Tp_total}分</div>
              </div>
              <div class="row">
                <div class="subject" style="width:auto;">所属学科：{$pager.sbj_Name}</div>
                
              </div>
              <div class="row">
                 <div class="course" style="width:100%;">所属课程：<a href="course.ashx?id={$course.cou_id}" target="_blank">《{$course.cou_Name}》</a></div>
                
              </div>
               <div class="row">
               <div class="level">难度范围：{$pager.Tp_Diff}级 - {$pager.Tp_Diff2}级</div>
                <div class="type">试卷类型：
                  <vt:if var="data.Tp_Type" value="1" compare="="> 固定试题
                    <vt:else />
                    随机试卷 </vt:if>
                </div>
               </div>
             
              
            </div>
          </dd>
       </dl>
        <vt:else/>
       <div class="tit" style="min-height:400px;">试卷不存在</div>
       </vt:if>
    </div>
  </vt:if>
    </div>
<vt:include file="inc/footer.html" />
</body>
</html>
