@charset "utf-8";

@page {
    size: A4 portrait;
    margin: 2cm;
}

@media print {
    #btnPrint {
        display: none;
    }

    dl.qrcode dd {
        orphans: 3;
        widows: 2;
        page-break-inside: avoid;
        page-break-after: always;
    }
}


html, body, #app {
    overflow: auto;
    height: auto;
}

body, div, td, p {
    font-size: 18px;
}

.page {
    page-break-inside: avoid;
    position: relative;
}

.el-row {
    margin: 0px 15px !important;
}

.theme {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 10px;
}

.row {
    line-height: 30px;
}

.price {}

span.box {
    margin-right: 50px;
}

#btnPrint {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    float: right;
}

/*课程*/
.box-card{
    width: calc(100% - 30px);
    margin: 0px 15px;
    display: table;
}
.item {
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 60px;
    width: calc(33% - 10px);
    float: left;
    overflow: hidden;
}

.item>img {
    height: 60px;
    float: left;
    margin-right: 10px;

}

.item>span {
    line-height: 20px;
    word-break: break-all;
}

.tax {
    display: inline-block;
    font-weight: bold;
}

/*二维码输出*/
.qrcode-area {
    width: calc(100% - 30px);
    margin: 0px 15px;
    display: table;
}

.qrcode-area dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.qrcode-area dl dd {
    width: 180px;
    height: 210px;  
    text-align: center;
    border: 1px solid #CCC;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
    position: relative;
}

.qrcode-area dl dd img {
    width: 80%;
    margin: auto;
}

.qrcode-area dl dd .code {
    font-size: 12px;
    line-height: 30px;
    white-space: nowrap;
    text-align: center;
}

.qrcode-area dl dd .info {
    font-size: 12px;
    white-space: nowrap;
    line-height: 30px;
    position: absolute;
    width: calc(100% - 8px);
    bottom: 4px;
}