/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 luara
 version 0.1  2014-8-21
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*左滑*/
.luara-left{position:relative;padding:0;overflow: hidden;}
.luara-left ul{position: relative;padding: inherit;margin: 0;}
.luara-left ul li{float: left;padding: inherit;margin: inherit;list-style: none;}
.luara-left ul li img{
	width: inherit;
	height: inherit;
	margin: 2px;
}