/*

重新定义了一些MUI控件细
节
*/
.mui-content{
	//padding-top:0px !important;
}
.headbar{
	//opacity: 0.2;
	
}
/*卡片*/
.curr-logo{
    width: 30px;
    height: 30px !important;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -5px;
    border: 2px solid #CCC !important;
    display: block;
	float:left;
	margin-left:-3px;
}
.cou-ico{
	font-size:25px;
}
.curr-box{
	 overflow: hidden;
	 display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
/*自定义菜单*/
.menuBox
{
	width: 104%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E6E6E6;
	background-color: #FFF;
	margin-left: -2%;
	display: table;
	margin-bottom: 10px;
	text-align: center;
}
.menuBox .mItem{
	float: left;
	width: 33%;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 90px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	background-color: #FFF;
	display:block;
}
.menuBox .mItem .mitem-img{
	font-size: 45px;
	line-height: 50px;
	font-style: normal;
	text-align: center;
	display: block;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
	border-radius: 50%;
	border: 2px solid #CCC !important;
}

.menuBox .mItem span{
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #666666;
	text-decoration: none;
	position: relative;
	text-align: center;
	display: block;
	line-height: 30px;
	white-space: nowrap;
	height: 30px;
	overflow: hidden;
}
/*主菜单*/
.mainmenuBox
{
	width: 104%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E6E6E6;
	background-color: #FFF;
	margin-left: -2%;
	display:table;
}
.mainmenuBox .mm-item {
	float: left;
	width: 25%;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 90px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	background-color: #FFF;
	display:table;
}
.mainmenuBox .mm-ico{
	font-size: 45px;
	line-height: 50px;
	font-style: normal;
	text-align: center;
	display: block;
	width:100%;
	margin-top:10px;
	margin-bottom:5px;
}

.mainmenuBox .mm-item span{
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #666666;
	text-decoration: none;
	position: relative;
	text-align: center;
	display: block;
	font-size:14px;
}
/*课程列表*/
.cou-item{
	margin:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
}
.cou-item>div{
	background-color:transparent !important;
}
.cou-item:after{
	left:1px !important;
}
.mui-collapse-content{
	margin:0px !important;
	padding:0px !important;
}
.free {
	font-size: 12px;
	line-height: 1;
	display: inline-block;
	border-radius: 100px;
	float: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	margin-right: 10px;
	color: #009900;
	background-color: #FFC;
	margin-top: 3px;
}
.price {
	font-size: 12px;
	line-height: 1;
	display: inline-block;
	border-radius: 100px;
	float: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	margin-right: 10px;
	color: #FF6600;
	margin-top: 3px;
	background-color: #FFC;
}
.couname{
	color: #333;
}
.link{
	height: 40px;
	line-height: 40p;
	text-align: center;
	color: #666;
	display:block;
}