@charset "utf-8";
a{
	color:#333 !important;
}
.tit-box{
	margin: 20px;
	margin-left: 10px;
}
.left{
	margin-left:10px;
	
}
.right{
	margin-right:20px;
}
.mui-table-view-cell
{
	padding-left:20px;
}
.rowico{
	font-size:25px;
}