@charset "utf-8";
.note-item .mui-navigate-right{
	color: #333 !important;	
}
a{
	color:#333 !important;
}

/*图标*/
.ico{
	margin-right:10px;
}
.mui-inner-wrap{
	padding-bottom:60px;
}
.right{
	margin-right:20px;
}
