@charset "utf-8";
.quesItem {
	
}

.quesBox {
	margin: 10px;
	position: relative;
	
}

.quesBox .quesTitle {
	background-color: #006699;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:10px 10px 0px 0px;	
	font-size: 15px;
	color: #FFFFFF;
	padding: 10px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
}
.quesBox .quesTitle *{
	background-color:transparent !important;
	font-size:16px !important;
}
.quesBox .quesAnswerBox {
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:0px 0px 10px 10px;
	font-family: "黑体";
	font-size: 15px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
}
.quesBox .quesAnswerBox .answer {
	font-family: "黑体";
	font-size: 16px;
	line-height: 30px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	overflow: hidden;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	min-height:30px;
}
.quesBox .quesAnswerBox .answer *{
	font-size: 16px !important;
	line-height: 30px;
}
.answer .type{
	color: #666666;
	margin-right: 5px;	
}
.answerSel{
color: #0099FF;
}
.answerSel .type{
	color: #0099FF;
	margin-right: 5px;
}
#quesType span {
	font-size: 14px;
}
.answerArea {
	margin-top: 10px;
}

.textbox4 {
	font-family: "黑体";
	font-size: 16px;
	line-height: 25px;
	height: 125px;
	width: 100%;
	border: 1px solid #999999;
	margin-top: 3px;
}
.textbox5 {
	font-family: "黑体";
	font-size: 16px;
	line-height: 25px;
	height: 25px;
	width: 80%;
	border: 1px solid #999999;
	margin-top: 3px;
}
