@charset "utf-8";
.space{
	height: 10px !important;
	margin: 0px;
	padding: 0px;
}
.ico{
	line-height: 25px;
	margin-top: -2px;
	margin-right: 5px;
	text-align: center;
	width: 30px;
	font-size: 25px !important;
	display: block;
	float: left;
	color: #666;
	
}
.left{
	margin-left:20px;
}
.mui-pull-right{
	margin-right:20px;
}
.mui-table-view-cell:after{
	left:0px;
}
.mui-collapse-content{
	background-color: #eee !important;
}
.mui-input-group{
	margin-bottom: 10px !important;
}
.right-item{
	float: right;
	margin-right: 25px;
	line-height: 20px;
	color: #999;
	text-align: right;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
}
label{

	width: 25% !important;
	margin-left: 10%;
}
/*输入框*/
.textbox{
	border: 1px solid #CCC !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 5px !important;
	height: 36px !important;
	margin-top: 2px;
}
/*确定按钮*/
.enter{
	float: right !important;
	width: 100px;
	margin-right:10px;
}
.enter:disabled
{ 
	background-color: #dddddd !important;
	color:#666 !important;
}
.sexrow{
	margin-left: 30px;
}
