<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>第三方登录</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <config ref="config" class="config" :isuse="null">
            <div slot="item" :disabled="!data.item.obj.Tl_IsUse" slot-scope="data">
                <span class="index">{{data.index+1}}</span>
                <div class="name">
                    <img :src="data.img" />
                    <template v-if="data.item.obj.Tl_Name!=null"></template>
                        {{data.item.obj.Tl_Name}}
                        <span class="tagname">({{data.item.name}})</span>
                    <template v-else>
                        {{data.item.name}}
                    </template>
                </div>
                <div class="info">
                    <div>Appid: {{data.item.obj.Tl_APPID}}</div>
                    <div>Secret: {{data.item.obj.Tl_Secret}}</div>
                    <div>Returl: {{data.item.obj.Tl_Returl}}</div>
                    <div class="use">
                        <el-switch v-model="data.item.obj.Tl_IsUse" active-color="#13ce66" inactive-color="#ff4949"
                            :active-text="data.item.obj.Tl_IsUse ? '启用' : '禁用'" @change="changeuse(data.item.obj)">
                        </el-switch>
                    </div>
                </div>
                <div class="btns">
                    <el-button type="primary" plain @click.stop="opensetup(data.item)">
                        <icon>&#xa030</icon>设置
                    </el-button>
                </div>
            </div>
        </config>
    </div>
</body>

</html>