<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>第三方登录</title>
</head>

<body>
    <div id="app-form"  v-cloak>
        <el-tabs type="border-card" v-model="activeName">
            <el-tab-pane v-for="tab in tabs" :name="tab.tag">
                <span slot="label">
                    <icon v-html="tab.icon" :style="'font-size:'+tab.size+'px'"></icon>{{tab.name}}
                </span>
            </el-tab-pane>
        </el-tabs>
    </div>
</body>

</html>