<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>微信登录管理</title>

</head>

<body>
    <div id="vapp" v-cloak>
        <el-form ref="entity" :disabled="loading" :model="entity" :rules="rules" @submit.native.prevent
            label-width="80px">
            <el-form-item label="">
                电脑端微信登录（请填写<b>微信开放平台</b>中的AppID与AppSecret）
            </el-form-item>
            <el-form-item label="AppID" prop="Tl_APPID">
                <el-input v-model="entity.Tl_APPID" placeholder=""></el-input>
            </el-form-item>
            <el-form-item label="AppKey" prop="Tl_Secret">
                <el-input v-model="entity.Tl_Secret" placeholder=""></el-input>
            </el-form-item>
            <el-form-item label="回调域" prop="Tl_Returl">
                <el-input v-model="entity.Tl_Returl" placeholder="">
                    <template slot="append">/web/weixinweblogin</template>
                </el-input>
            </el-form-item>           
            <el-form-item label="">
                在微信中登录（请填写<b>微信公众号</b>中的AppID与AppSecret）
            </el-form-item>
            <el-form-item label="AppID" prop="pubAppid">
                <el-input v-model="entity.pubAppid" placeholder=""></el-input>
            </el-form-item>
            <el-form-item label="AppSecret" prop="pubSecret">
                <el-input v-model="entity.pubSecret" placeholder=""></el-input>
            </el-form-item>
            <el-form-item label="回调域" prop="pubReturl">
                <el-input v-model="entity.pubReturl" placeholder="">
                    <template slot="append">/mobi/weixinweblogin</template>
                </el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-row>
                    <el-checkbox v-model="entity.Tl_IsUse">是否启用微信登录</el-checkbox>
                </el-row>
                <el-row>
                    <el-checkbox v-model="entity.Tl_IsRegister">是否允许微信直接注册</el-checkbox>
                </el-row>
            </el-form-item>

        </el-form>
        <div class="footer">
            <el-button type="primary" define="enter" native-type="submit" :loading="loading" plain
                @click="btnEnter('entity',true)">确认修改
            </el-button>
            <el-button type="primary" define="apply" native-type="submit" :loading="loading" plain
                @click="btnEnter('entity',false)">应用
            </el-button>
            <el-button type='close'>取消</el-button>
        </div>

    </div>


</body>

</html>