html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #58c198;
    overflow: hidden;
    --background-image: linear-gradient(to bottom right, #6dbcff, #58c198, #ffb83c);
    background-image: linear-gradient(to bottom right, #e5eff9, #58c198, #ffdda0);

}

header {
    height: 26px;
    width: calc(100vw - 24px);
    line-height: 26px;
    padding: 10px 12px;
}

/*登录框*/
#login_box {
    text-align: left;
    color: #666;
    z-index: 2;
    border: 1px solid #fff;
    border: none;
    padding: 10px 30px;
    box-sizing: border-box;
    width: 350px;
    height: calc(100vh - 80px);
    margin: auto;
}

.login_register {
    position: static !important;
    margin-top: 20px;
}
.login_weisha{
   min-height: 600px;
}
.config::before{
    content: '其它登录方式';
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 14px;
}

/*已经登录*/
#logged-area {     
    text-align: center;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;   
}

#logged-area .ws_avatar{
    margin: auto;
}
#logged-area .accname{
    margin: 5px;
    color: #000;
    margin: 30px auto;
}
#logged-area button {
    font-size: 16px;
}

#logged-area icon {
    font-size: 22px;
}

a {
    color: #333;
    text-decoration: none;
}


#logged-area button {
    width: 100%;
    margin-top: 10px !important;
}

.loginbox .login_body button {
    border: none !important;
    background: rgba(33, 161, 255, .5) !important;

}
