html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #58c198;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #6dbcff, #58c198, #ffb83c);
}

#vapp {
    width: 100%;
    height: calc(100% - 46px);
    overflow-y: auto;
}

header {
    height: 26px;
    width: calc(100vw - 24px);
    line-height: 26px;
    padding: 10px 12px;
    display: flex;
}

#platname {
    box-sizing: border-box;
    padding: 0px;
    float: right;
    text-align: right;
    white-space:nowrap;
    overflow: hidden;
   flex:1;
}

context {
    display: block;
    width: 100%;
    height: calc(100% - 44px);
    padding: 0px;
    text-align: center;
    overflow-y: auto;
}

img.logo {
    max-width: calc(60% - 40px);
    padding: 10px 20px;   
}

card {
    text-align: left;
}

card card-title {
    font-size: 18px;
}

card card-title icon {
    font-size: 28px;
}

card card-title a {
    float: right;
    font-size: 13px;
}

/*验证码*/

.vcode_input {
    padding: 10px 0px;
    width: calc(100% - 100px);
    float: left;
}

img#vcode {
    width: 100px;
    height: 30px;
}

button.submit {
    width: calc(100% - 20px);
    margin: 0px 10px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 10px
}

.agreement a {
    color: navy;
}

/*注册协议*/

.showAgreement {
    width: 80%;
    height: 80%;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
}

.agreement_title {
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.agreement_title icon {
    font-size: 18px;
}
.agreement_text *{
    font-size: 16px !important;
}
.showAgreement .agreement_text {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.showAgreement .agreement_radio {
    height: 30px;
    line-height: 30px;
    padding: 15px 0px;
    box-sizing: border-box;
}
/*禁止注册*/
.disable_body{
    text-align: center;
    line-height: 40px;
}
.disable_body icon{
    font-size: 50px;
    margin: 30px 0px;
    color: #999;
}