@charset "utf-8";

@page {
	size: A4 portrait;
	margin: 2cm;
	margin-top: 1cm;
	margin-bottom: 1cm;
}

@media print {
	html, body, #vapp {
		height: 100%;
	}

	.page-title button {
		display: none;
	}

	.page-title {
		display: block;
	}

	.page {
		PAGE-BREAK-AFTER: always;
	}

	.qrcode {
		position: absolute;
		left: 20px;
		bottom: 15px;
		display: block;
	}

	table td {
		height: 35px !important;
		line-height: 20px;
		overflow: hidden;
		font-size: 16px;
		border-collapse: collapse;
	}
	div.table {
		width: 100%;
		height: calc(100% - 40px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

#vapp {
	overflow-y: auto;
	box-sizing: border-box;
	padding: 15px;
}

.page {
	width: 100%;
	height: 100%;
	position: relative;
}

.page-title {
	height: 40px;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	position: relative;
}

.page-title button {
	padding: 3px 10px;
	position: absolute;
	bottom: 5px;
	right: 2px;
}
table{
	border: 1px solid #333;
}
div.table {
	width: 100%;
	height: calc(100% - 40px);
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

table.first {
	border-bottom-style: none;
}

table.second {
	border-bottom-style: none;
	border-top-style: none;
}

.three {
	border-top-style: none;
	page-break-after: always;
	flex: 1;
	border: 2px solid #333;
	border-top: none;
	box-sizing: border-box;
	padding: 0px 15px;
}

td {
	padding: 5px 10px;
	font-size: 18px;
	height: 30px;
	box-sizing: border-box;
	border-collapse: collapse;
	border:1px solid #333;
}

td[title] {
	text-align: right;
	padding: 5px 3px 5px 0px;
}

td[title]::before {
	content: attr(title) '：';
}

td.info {
	white-space: nowrap;
}

.photo {
	height: 175px;
	width: 150px;
	overflow: visible;
	box-sizing: border-box;
	padding: 5px 5px 0px 5px;
}

.photo img {
	height: 165px;
	width: 140px;
}

.center {
	text-align: center;
}

/*课程学习情况*/
.three {
	position: relative;
	
}
.three dl{
	min-height: 600px;
}
.three dl dt {
	padding: 10px;
	display: flex;
	box-sizing: border-box;
	width: 100%;
}

.three dl dt>* {
	font-size: 18px !important;
}

.three .cou {
	width: 70%;
	font-size: 16px;
}

.three .date {
	width: 20%;
	font-size: 14px;
}

.three .complete {
	width: 10%;
	font-size: 14px;
}

.three dl dd {
	display: flex;
	line-height: 30px;
}

/*课程详情区域*/
.info-foot {
	position: absolute;
	right: 50px;
	bottom: 30px;
}

.plate-name {
	font-size: 18px;
	line-height: 40px;
	text-align: right;
}

.output-date {
	font-size: 16px;
	line-height: 40px;
	text-align: right;
}

img.stamp {
	position: absolute;
	right: 0px;
	bottom: 0px;
	opacity: 0.7;
}

div.qrcode {
	position: absolute;
	left: 10px;
	bottom: 5px;
}