<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <include file="inc/head.inc" />
    <title>课程基本信息编辑</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="context">
            <el-form ref="entity" :model="entity" :rules="rules" @submit.native.prevent label-width="80px">
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="课程类型" prop="Cou_Type">
                            <el-radio-group v-model="entity.Cou_Type" fill="#129352">
                                <el-radio-button :label="0">学练考</el-radio-button>
                                <el-radio-button :label="2">试题库</el-radio-button>
                            </el-radio-group>
                            <help v-if="entity.Cou_Type==0">
                                包括 视频学习、试题练习、结课考试
                            </help>
                            <help v-if="entity.Cou_Type==2">
                                只有试题练习与模拟测试
                            </help>
                        </el-form-item>
                        <el-form-item label="专业/学科" prop="Sbj_ID">
                            <el-cascader style="width: 100%;" ref="subjects" v-model="sbjSelects" :options="subjects"
                                separator="／" :props="defaultProps" filterable>
                                <template slot-scope="{ node, data }">
                                    <span class="serial">{{data.serial}}</span>
                                    <span>{{ data.Sbj_Name }}</span>                                  
                                  </template>
                            </el-cascader>
                        </el-form-item>
                        <el-form-item label="状态" prop="Cou_IsUse" v-if="!teachpage">

                            <el-switch v-model="entity.Cou_IsUse" :active-text="entity.Cou_IsUse ? '启用' : '禁用'">
                            </el-switch>
                            <help>只有启用后，学员才能看到该课程</help>

                        </el-form-item>
                        <el-form-item label="" prop="Cou_IsRec">
                            <el-tooltip class="item" effect="dark" content="推荐后优先展示" placement="bottom">
                                <el-switch v-model="entity.Cou_IsRec" :active-text="entity.Cou_IsRec ? '推荐' : '未推荐'">
                                </el-switch>
                            </el-tooltip>
                            <help>推荐后优先展示</help>

                        </el-form-item>
                        <el-form-item label="排序号" prop="Cou_Tax">
                            <el-tooltip class="item" effect="dark" content="数值越大越靠前" placement="right">
                                <el-input v-model.number="entity.Cou_Tax" type="number" style="width: 180px;">
                                </el-input>
                            </el-tooltip>

                        </el-form-item>
                        <el-form-item label="访问数" prop="Cou_ViewNum">
                            <el-input v-model="entity.Cou_ViewNum" type="number" style="width: 180px;">
                                <template slot="append">人次</template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="2">
                        &nbsp;
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="" prop="Cou_Logo" label-width="0px">
                        <upload-img @change="file=>upfile = file" :data="entity" size="1024" ext="jpg,png,gif">
                            <template v-if="islogo">
                                <img v-if="upfile!=null" :src="upfile.base64" />
                                <img v-else :src="entity.Cou_Logo" />

                                <el-link type="danger" class="remove" icon="el-icon-delete"
                                    @click.stop="()=>{upfile=null;entity.Cou_Logo = entity.Cou_LogoSmall=''}">
                                    清除图片</el-link>
                            </template>
                            <template v-else>
                                <div class="nophoto">
                                    <i class="el-icon-picture-outline"></i>
                                    <span> 课程图片 </span>
                                </div>
                                <el-tooltip content="点击上传图片" placement="bottom" effect="light">
                                    <div slot="content">
                                        1、图片文件最大限1Mb<br />
                                        2、图片格式限jpg、png、gif<br />
                                        3、图形像素大小不限<br />
                                        4、图片建议宽高比为16：9 <br />
                                    </div>
                                    <icon class="photo_add">&#xe6ea</icon>
                                </el-tooltip>
                            </template>
                            <help multi slot="help" v-if="!islogo">
                                图像要求：<br />
                                1、图片文件最大限1Mb<br />
                                2、图片格式限jpg、png、gif<br />
                                3、图形像素大小不限<br />
                                4、图片建议宽高比为16：9 <br />
                            </help>
                        </upload-img>
                    </el-form-item>
                    </el-col>
                </el-row>


                <el-form-item label="学习目标" prop="Cou_Target" class="target">
                    <editor :content="entity.Cou_Target" model="mini" upload="Course" :dataid="entity.Cou_ID"
                        @change="text=>entity.Cou_Target=text">
                    </editor>
                </el-form-item>
            </el-form>
        </div>
        <div class="footer">
            <el-button type="primary" define="enter" native-type="submit" :loading="loading" plain
                @click="btnEnter('entity')">
                保存基础信息
            </el-button>
        </div>
    </div>
</body>

</html>