<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <include file="inc/head.inc" />
    <title>课程公告-</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <el-form :model="guide_form" ref="guide_form" :rules="guide_rules" label-width="60px">
            <el-form-item label="标题" prop="Gu_Title">
                <el-input v-model="guide_form.Gu_Title"></el-input>
            </el-form-item>
            <el-form-item label="分类" prop="Gc_UID">
                <el-cascader style="width: 100%;" ref="columns" v-model="guide_form.Gc_UID" :options="columns"
                    @change="()=>$refs['columns'].dropDownVisible = false" separator="／" :props="{
                                children: 'children',
                                label: 'Gc_Title',
                                value: 'Gc_UID',
                                expandTrigger: 'hover',
                                checkStrictly: true
                            }" filterable>
                </el-cascader>
            </el-form-item>
            <div class="Gu_Details">
                <el-form-item label="内容" prop="Gu_Details">
                    <editor :content="guide_form.Gu_Details" model="general" ref="details_editor" upload="Guide"
                        :dataid="guide_form.Gu_ID" @change="text=>guide_form.Gu_Details=text">
                    </editor>
                </el-form-item>
            </div>
        </el-form>
        <div class="footer">
            <el-button type="primary" native-type="submit" define="enter" :loading="loading" plain
                @click="guideEnter('guide_form',true)">
                保存
            </el-button>
            <el-button v-if="!isadd" type="primary" define="apply" native-type="submit" :loading="loading" plain
                @click="guideEnter('guide_form',false)">应用
            </el-button>
            <el-button type='close'>
                取消
            </el-button>
        </div>

    </div>
</body>

</html>