<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <include file="inc/head.inc" />
    <title>学员学习记录</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="导出,重新计算,说明" ref='btngroup'  @batcalc="allcalcResultScore" @help="btnhelp" @output="exportVisible=true" width="880"
                height="60%" idkey='Ac_ID' table="datatables">
            </btngroup>
            <query_panel :model="form" :loading="loading" @search="getdata(1)">
                <el-form-item label="账号">
                    <el-input v-model="form.acc" placeholder="学员账号" :disabled="loading" tabindex="0" clearable
                        style="width:180px">
                    </el-input>
                </el-form-item>
                <el-form-item label="姓名">
                    <el-input v-model="form.name" :disabled="loading" placeholder="姓名" tabindex="1" clearable
                        style="width:100px">
                    </el-input>
                </el-form-item>
                <template v-slot:more>
                    <el-form-item label="身份证">
                        <el-input v-model="form.idcard" placeholder="身份证号" :disabled="loading" tabindex="2" clearable>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="手机号">
                        <el-input v-model="form.mobi" placeholder="手机号" :disabled="loading" tabindex="3" clearable>
                        </el-input>
                    </el-form-item>
                </template>
            </query_panel>
        </div>
        <!--数据列表-->
        <el-table ref="datatables" border resizable :data="datas" :stripe="true" tooltip-effect="dark"
            style="width: 100%" v-loading="loading" row-key="Ac_ID" cell-class-name="tdcell">

            <el-table-column type="index" label="#" width="60" align="center">
                <template slot-scope="scope">
                    <span>{{(form.index - 1) * form.size + scope.$index + 1}}</span>
                </template>
            </el-table-column>

            <el-table-column label="姓名" width="130">
                <template slot-scope="scope">
                    <avatar :account="scope.row" circle="true" size="20"></avatar>

                    <icon :woman="scope.row.Ac_Sex==2" class="acname medium" :man="scope.row.Ac_Sex!=2">
                        <span v-html='showsearch(scope.row.Ac_Name,form.name)' v-if="scope.row.Ac_Name!=''"></span>
                        <span v-else class="noname">(没有名字)</span>
                    </icon>
                </template>
            </el-table-column>
            <el-table-column label="账号">
                <template slot-scope="scope">
                    <icon :woman="scope.row.Ac_Sex==2" class="acc" :man="scope.row.Ac_Sex!=2"
                        v-html='showsearch(scope.row.Ac_AccName,form.acc)'></icon>
                </template>
            </el-table-column>
            <el-table-column label="电话">
                <template slot-scope="scope" v-if="showTel(scope.row)!=''">
                    <icon>&#xe677</icon>
                    <span v-html='showTel(scope.row)'></span>
                </template>
            </el-table-column>
            <el-table-column label="学员组">
                <template slot-scope="scope" v-if="scope.row.Sts_Name!=''">
                    <span title="学员组" v-html='scope.row.Sts_Name'></span>
                </template>
            </el-table-column>
            <el-table-column label="学习情况" width="260">
                <div slot-scope="scope" class="progress">
                    <el-tooltip class="item" effect="light" content="视频学习进度" placement="bottom-start">
                        <icon video>{{showcomplete(scope.row.Stc_StudyScore)}} %</icon>
                    </el-tooltip>
                    <el-tooltip class="item" effect="light" content="试题通过率" placement="bottom">
                        <icon question>{{showcomplete(scope.row.Stc_QuesScore)}} %</icon>
                    </el-tooltip>
                    <el-tooltip class="item" effect="light" content="结课考试成绩" placement="bottom-end">
                        <icon exam>{{scope.row.Stc_ExamScore}} 分</icon>
                    </el-tooltip>
                </div>
            </el-table-column>
            <el-table-column label="综合成绩" width="100" align="center">
                <template slot="header" slot-scope="scope">
                    <el-dropdown @command="batcalcResultScore">
                        <span class="el-dropdown-link">
                            综合成绩<i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="1">
                                <icon>&#xa067</icon>重新计算
                            </el-dropdown-item>                             
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
                <template slot-scope="scope">
                    <loading v-if="loadingid==scope.row.Stc_ID" asterisk>...</loading>
                        <el-dropdown v-else>
                            <span class="el-dropdown-link">
                                {{scope.row.Stc_ResultScore}} 分
                                <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>
                                    <el-link type="primary" plain
                                    @click='calcResultScore(scope.row.Stc_ID)'> <icon>&#xa067</icon>重新计算</el-link>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                </template>
            </el-table-column>
        </el-table>
        <!--分页导航-->
        <div id="pager-box">
            <el-pagination v-on:current-change="getdata" :current-page="form.index" 
                :page-size="form.size" :pager-count="15" layout="total, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
        <!--记录导出-->
        <el-dialog title="学员学习记录导出" :visible.sync="exportVisible" :show-close="false" :before-close="()=>{}">
            <el-form ref="exportform" :model="exportform" @submit.native.prevent label-width="100px"
                :disabled="fileloading || loading">
                <el-form-item label="选修时间">
                    <date_range @change="(s,e)=>{exportform['start']=s;exportform['end']=e}"></date_range>
                    <help multi>学员选修课程的开始时间的区间</help>
                </el-form-item>
            </el-form>
            <dl v-if="files.length>0" class="files">
                <el-divider content-position="left">已经生成的导出文件</el-divider>
                <dd v-for="(f,i) in files">
                    <a :href="f.url" target="_blank" title="点击下载" :download="f.file">
                        {{f.file}}</a>
                    <span>{{f.size|size}}</span>
                    <el-popconfirm title="确定删除这个文件吗？" @confirm="deleteFile(f.file)">
                        <el-link type="danger" icon="el-icon-delete" v-loading="fileloading" slot="reference">删除
                        </el-link>
                    </el-popconfirm>
                </dd>
            </dl>
            <span slot="footer" class="dialog-footer">
                <el-button @click="exportVisible = false" :disabled="fileloading">取 消</el-button>
                <el-button type="primary" @click="toexcel" :loading="fileloading">生成导出文件</el-button>
            </span>
        </el-dialog>
    </div>
</body>

</html>