body
{
	padding:10px;
}
body,div,p,td
{
	
}
/*当前文件夹*/
.currpath
{
	line-height: 30px;
	font-weight: bold;
	height: 30px;
	width: 100%;	
}
.bar{
	font-weight: bold;
	height: 10px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F90;
	margin-bottom: 20px;
	position: relative;
	margin-top:-10px;
}
.tit{
	height: 20px;
	line-height: 20px;
	width: 100px;
	margin-top: 15px;
	margin-left: 20px;
	background-color: #FFF;
	text-align: center;
}
.items{
	width: 100%;
	display: table;
}
.item{
	line-height: 30px;
	height: 30px;
	width: 30%;
	overflow: visible;	
	float:left;
	margin-right:1%;
	cursor:pointer;
	color:#06F;
}