#vapp {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
}
.topBox {
    height: 45px;
    overflow: hidden;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 1px #ccc;
}

.topBox::after {
    content: none;
}

.topBox span:last-child {
    margin-right: 10px;
}

.context {
    height: calc(100vh - 30px);
    margin-top: 10px;
}

row {
    display: flex;
    justify-content: space-between;
}

/*公告的分类*/
.columns_panel header {
    padding: 10px 15px;
    font-size: 18px;
    box-shadow: 1px 1px 1px #ccc;
}

.columns_panel section {
    padding: 10px 15px;
    font-size: 16px;
}

.columns_panel .col-item {
    padding: 8px 6px;
}

.columns_panel row[current] {
    font-weight: bold;
    color: #409EFF;
}

/*公告的显示面板*/
.show_panel{
    display: flex;
    flex-direction: column;    
    overflow: hidden;
    box-sizing: content-box;
    padding-bottom: 10px;
}
.show_panel header {
    padding: 10px 35px 10px 15px;
    font-size: 18px;
    min-height: 30px;
    box-shadow: 1px 1px 1px #ccc;
    margin-bottom: 10px;
}
.show_panel section{
    padding: 10px 15px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.6rem;
}