<!doctype html>
<html>
<head>
    <title>选课中心 - {$:#.org.org_platformname}</title>
    <vt:include file="inc/meta.inc" />
    <script type="text/javascript" src="CoreScripts/Tree.js"></script>
    <script type="text/javascript" src="CoreScripts/Node.js"></script>
    <script type="text/javascript" src="Scripts/Course.js"></script>
    <link href="Styles/Course.css" rel="stylesheet" type="text/css" />  
</head>
<body>
    <vt:include file="inc/Header.html" />
   
    <div id="Context">
        <div class="navi-bar"> <a href="/" class="nav-txt">首页</a> &gt; <a href="/courses.ashx"  class="nav-txt">课程中心</a> &gt;
    <vt:foreach from="$parentsbjs" item="s" index="i" remark="当前课程专业"> <a href="/courses.ashx?sbjid={$:#.s.sbj_id}"  class="nav-txt">{$:#.s.sbj_name}</a> &gt; </vt:foreach>
    <span class="nav-txt"><vt:if var="course.cou_name" value="" compare="!=">
      {$course.cou_name}
        <vt:else/>
        (当前课程不存在，可能是参数引用错误)
         </vt:if></span> </div>
        <div id="couHead">
            <div class="photo">
                <img style="background:url({$course.cou_logo}) no-repeat center; background-size: 100%;" src="images/alpha.png"/></div>
            <div class="headRight">
                <div class="couName">
                    <vt:if var="course.cou_name" value="" compare="!=">
      {$course.cou_name}
        <vt:else/>
        (当前课程不存在，可能是参数引用错误)
         </vt:if>
                </div>
                <div class="couIntro">
                   <vt:function var="intro" method="ClearHtml" args="$course.cou_intro"/> {$:#.intro} 
                </div>
                <div class="couTeacer">
                    主讲老师： {$course.th_name}
                </div>
                <div class="couNum">
                    关注次数：{$course.cou_viewNum}
                </div>
                <div class="couMoney"><span>学习费用：</span>
        <vt:if var="course.cou_isfree" value="true" compare="="> <span class="moneyfree"><span class="moneyico">&#xe746;</span> <span> 免费</span></span>
          <vt:else/>
          <vt:function var="price" method="getCoursePrice" args="$course.cou_uid"/>
          <vt:foreach from="$price" item="p" index="i" remark="当前课程价格"> <span class="money" title="可以用券抵扣{$:#.p.CP_Coupon}元"><span class="moneyico money-ico">&#xe624;</span> <span class="p-num">{$:#.p.CP_Price}元</span> <span class="p-span">/{$:#.p.CP_Span}</span> <span class="p-unit">{$:#.p.CP_Unit}</span> </span>
            <vt:foreachelse/>
            <span class="money">未设置价格（非免费课程）</span> </vt:foreach>
        </vt:if>
      </div>
                <div class="couBtnBox"> 
        <!--按钮开始-->        
        <vt:if var="Account.Ac_id" value="0" compare=">">
          <vt:if var="isStudy" value="True" compare="=" remark="如果已经在学习了">
          <vt:if var="isTry" value="True" compare="=" remark="试用状态">
          <div class="couBtn"> <a href="CourseStudy.ashx?couid={$course.cou_id}" target="_blank" class="bvr_mr" title="开始学习">开始学习（试用）</a></div>
        <div class="couBtn"> <a href="CourseBuy.ashx?couid={$course.cou_id}" isPass="{$Account.Ac_isPass}" state="noSelected" target="_blank" title="购买该课程">购买该课程</a> </div>
        <vt:else/>
      
            <div class="couBtn"> <a href="CourseStudy.ashx?couid={$course.cou_id}" target="_blank" class="bvr_mr" title="开始学习">开始学习</a></div>
            </vt:if>
            <vt:else/>
            <div class="couBtn"> <a href="CourseBuy.ashx?couid={$course.cou_id}" isPass="{$Account.Ac_isPass}" state="noSelected" target="_blank" title="选修该课程">选修该课程</a> </div>
          </vt:if>
          <vt:else/>
          <div class="couBtn"> <a href="student/index.ashx" title="请选登录">登录学习</a></div>
        </vt:if>
        
        <!--按钮结束--> 
      </div>
            </div>
        </div>
        <div id="details">
            <div id="LeftBox" class="tabArea">
                 <div class="boxBar tab-bar">
        <div class="title"> 课程介绍</div>
        <div class="title"> 课程章节<a name="study" id="study">&nbsp;</a></div>
        <div class="title"> 知识库</div>
        <div class="title"> 课程公告</div>
        <div class="title"> 交流咨询</div>
      </div>
      <div class="tab-context"> 
        <!--课程介绍-->
        <div class="introBox"> {$course.cou_intro} </div>
        <!--章节列表-->
        <div class="itemList"> {$olTree} </div>
        <!--知识库-->
        <div>
          <div id="knlArea">
            <div id="knlleft"> 
              <!--<div class="sortTitle">知识库分类</div> -->
              <div id="leftInnert"> {$tree}</div>
            </div>
            <div id="knlright">
              <iframe id="knlframe" targetfile="/KnowledgesList.ashx?couid={$course.cou_id}" src="/KnowledgesList.ashx?couid={$course.cou_id}"
                                width="98%" height="450" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0"> </iframe>
            </div>
          </div>
        </div>
        <!--课程公告-->
        <div>
          <ul class="guides">
            <vt:foreach from="$#.guides" item="data" index="i" remark="课程公告">
              <li><a href="Guide.ashx?id={$:#.data.gu_id}" target="_blank">{$:#.data.gu_title}</a></li>
               <vt:foreachelse>
              暂无公告
            </vt:foreach>
          </ul>
        </div>
        <!--咨询交流-->
        <div>
          <iframe id="MessageBoardIframe" src="MessageBoards.ashx?couid={$:#.course.cou_id}"
                    width="98%" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" onload="iFrameHeight()"> </iframe>
          <script type="text/javascript" language="javascript">

                    function iFrameHeight() {
                        var ifm = document.getElementById("MessageBoardIframe");
                        var subWeb = document.frames ? document.frames["MessageBoardIframe"].document : ifm.contentDocument;
                        if (ifm != null && subWeb != null) {
                            ifm.height = subWeb.body.scrollHeight;
                        }
                    }

                </script> </div>
      </div>
      
    </div>
    <div id="RightBox">
      <div class="box">
        <div class="boxBar">
          <div class="title"> 主讲老师</div>
        </div>
        <div id="teacher"> <img class="thImg" src="{$th.th_photo}" href="/teacher/Detail.ashx?id={$:#.data.th_id}" />
          <div class="thRight">
            <div class="thTop">
              <div class="thName"> {$th.th_name}</div>
              <div class="thTitle"> {$th.ths_name}</div>
            </div>
          </div>
        </div>
        <div class="signature"> {$th.th_signature}</div>
      </div>
      <div class="box">
        <div class="boxBar">
          <div class="title"> 学员</div>
        </div>
        <ul class="studentbox">
         <vt:foreach id="students" from="$#.students" item="data" count="20" index="i" remark="学员列表">
              <li><span class="stPhoto" style="background:url({$stpath}{$:#.data.Ac_photo}) no-repeat center center"> &nbsp; </span>{$:#.data.Ac_Name}</li>
            </vt:foreach>
        </ul>
      </div>
      <div class="box">
        <div class="boxBar">
          <div class="title"> 新闻资讯</div>
          <div class="more"> <a href="/news.ashx">更多&gt;&gt;</a></div>
        </div>
        <div class="nolist">
          <vt:list type="news" item="data" index="i" count="10">
            <div class="item" noid="{$:#.data.no_id}"> <img src="images/{$:i}.png"/><a href="/article.ashx?id={$:#.data.art_id}" title="{$:#.data.art_title}"> {$:#.data.art_title}</a>
              <div class="noTime">{$:#.data.art_pushTime  format="[MM-dd]"}</div>
            </div>
          </vt:list>
        </div>
      </div>
    </div>
    </div>
    <vt:include file="inc/footer.html" />
</body>
</html>
