<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="inc/meta.inc" />   
    <title>关于</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <context>
            <van-sticky>
                <page_header title="关于" icon="&#xa031" :fresh="false"></page_header>
            </van-sticky>

            <img :src="organ.Org_Logo" v-if="organ.Org_Logo!=''" class="logo" />
            <img src="Images/def_logo.gif" style="height: 32px;" class="logo" v-else />
            <div v-html="organ.Org_PlatformName" class="platinfo"></div>
            <div v-html="editon.Edition" class="editon"></div>

            <van-cell-group>
                <van-cell title="Published version" :value="version.major+'.'+version.minor"></van-cell>
                <van-cell title="Build version" :value="version.version"></van-cell>
                <van-cell title="Release date" :value="version.release"></van-cell>
            </van-cell-group>

            <div class="intro" v-html="organ.Org_Intro" v-if="organ.Org_Intro && organ.Org_Intro.length>0">
            </div>
            <div class="copyright">
                Copyright &copy; <span v-html="year()"></span> <span v-html="copyright('powerby')"></span> All rights
                reserved.
            </div>
        </context>
    </div>


</body>

</html>