/*=========mF_YSlider ========*/
.mF_YSlider .pic li,.mF_YSlider .rePic li{position:absolute;top:0;left:0;display:none;}
.mF_YSlider .txt li{position:absolute;z-index:2;bottom:0;width:100%;height:36px;line-height:36px;display:none;}/*默认标题高度*/
.mF_YSlider .txt li a{display:block;position:relative;z-index:1;color:#fff;padding-left:16px;font-size:14px;font-weight:bold;text-decoration:none;}/*标题样式*/
.mF_YSlider .txt li span{display:block;height:100%;position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=40);opacity:0.4;}
.mF_YSlider .num{position:absolute;z-index:3;bottom:8px;right:2px;}
.mF_YSlider .num li{position:relative;float:left;width:20px;height:20px;overflow:hidden;text-align:center;margin-right:4px;cursor:pointer;}
.mF_YSlider .num li a,.mF_YSlider .num li span{display:block;width:18px;height:18px;border:1px solid #dedede;line-height:18px;position:absolute;z-index:2;top:0;left:0;color:#333; text-decoration:none;}/*按钮样式*/
.mF_YSlider .num li span{z-index:1;background:#fff;filter:alpha(opacity=60);opacity:0.6;}
.mF_YSlider .num li.current a,.mF_YSlider .num li.hover a{border-color:#E63003;color:#fff;background:#F66E08;}/*当前/悬停按钮