@charset "utf-8";

context.breadcrumb>* {
	margin: 10px 15px;
}

/*考试场景*/
context#scene {
	position: relative;
	display: flex;
	height: 600px;
}

context#scene div.testinfo {
	width: 400px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

context#scene div.exam {
	flex: 1;
	overflow: hidden;
}

/*课程未选择或过期*/
.course_end {
	width: 100%;
	padding: 30px 10px;
	font-size: 16px;
	box-sizing: border-box;
	text-align: center;
}

.course_end icon {
	font-size: 20px;
}

/*结课考试的条件*/
.condition {
	margin: 20px auto;
	width: 1200px;
	min-height: 500px;
}

.condition>div:not(:first-child) {	
	text-align: left;
	box-sizing: border-box;
	padding: 10px 200px;
}

/*没有内容的图标*/

.null_icon::before {
	font-size: 65px;
	display: block;
	color: #999;
}

.null_icon {
	padding: 10px;
	text-align: center;
}

/*剩余时间*/
.remaining {
	height: 80px;
	box-sizing: border-box;
	text-align: center;
	padding: 15px;
	cursor: pointer;
}

.remaining, .remaining * {
	font-size: 50px;
	color: #666;
}

/*提交按钮*/
.testinfo div#btnSubmit {
	cursor: pointer;
	width: calc(100% - 20px);
	margin: 10px;
	line-height: 44px;
	font-size: 22px;
	background-color: #009900;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 0px;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
	background-image: -webkit-linear-gradient(45deg, rgba(184, 164, 164, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.testinfo div#btnSubmit:hover {
	text-shadow: 0 2px 12px rgba(0, 0, 0, .6);
}

.testinfo div#btnSubmit::before {
	font-size: 20px;
	margin-right: 15px;
}

/*上一题，下一题*/
.move_btn {
	position: absolute;
	right: 80px;
	top: 20px;
	width: 180px;
	z-index: 10;
	display: flex;
	background-color: #fff;
}

.move_btn span {
	cursor: pointer;
	flex: 1;
	margin-right: 15px;
}


/*一些面板*/

.showTime {
	padding: 20px;	
}

.showExam {
	width: 80%;
}

.submitState {
	padding: 0px 20px 50px 20px;

}

.submitState .van-loading {
	padding-top: 20px;
	padding-bottom: 20px;
}

.submitState .btnEnter {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: darkgreen;
}

/*得分样式*/

score {
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}

score::before {
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
	font-size: 22px;
}

score.nopass::before {
	content: '\e774';
	color: #ff0000;
}

score.general::before {
	content: '\e829';
}

score.fine::before {
	content: '\e826';
	color: #07c160;
}

score.praise::before {
	content: '\e855';
	font-size: 20px;
	color: chocolate;
}

.scoreinfo {
	padding: 10px;
	color: chocolate;
}

.scoreinfo>span {
	font-size: 13px;
	color: #999;
}

/*预载*/

.loading_paper {
	padding: 20px;
	width: 100%;
}

/*成绩提交成功*/

.submitSuccess {
	text-align: left;
}

.submitSuccess>div {
	padding: 8px 0px;
}

.submitSuccess b {
	font-size: 18px;
}

.submitSuccess>div.pager_total {
	font-size: 14px;
}

.submitSuccess button {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}