@charset "utf-8";
#registerForm {
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.regTitle {
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	text-align: left;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 26px;
}
.noRegister {
	height: 500px;
	width: 300px;
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
	font-size: 16px;
	line-height: 160px;
	text-align: center;
}
/*导航项*/
.stepBox {
	margin-right: auto;
	margin-left: auto;
	width: 1050px;
	height: 80px;
	margin-top: 20px;
}
.stepBox dd {
	width: 350px;
	float: left;
	color: #999;
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	position: relative;
	text-align: center;
	background-color: #E6E6E6;
}
.steps-num{
	border-radius: 50%;
	display: inline-block;
	height: 60px;
	width: 60px;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	border: 2px solid #ccc;
	position: absolute;
	top: -8px;
	left: -15px;
	color: #666;
	background-color: #FFF;
} 
.currStep{
	background: #167ed9 !important;
	color: #FFF !important;
}
.currStep .steps-num{
	background-color: #167ed9;
	color: #FFF;
	border: 2px solid #fff;
	
	
}

/*注册协议*/ 
.Agreement{
	height: 400px;
	width: 1000px;
	overflow: scroll;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	border: 1px solid #CCC;
}
.Agreement, .Agreement p, .Agreement span, .Agreement div{
	font-size: 16px !important;	
	line-height:25px;
}
.reg-agree{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
	height: 40px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	padding-right: 20px;
	padding-left: 20px;
}
.reg-agree input{
	margin-right:10px;
	margin-top:12px;
	display:block;
	line-height:40px;
	float:left;
}
.reg-agree span{
	margin-right:10px;
	margin-top:0px;
	line-height:16px;
	display:inline-block;
}
.btnbox{
	height: 40px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
	margin-bottom:40px;
}
/*用户注册的区域*/
#registerBox {
	height: 530px;
	width: 300px;
	border: 1px solid #CCCCCC;
	position: relative;
	background-color: #CCC;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
}
.loginArea form {
	margin: 10px;
}
.textbox {
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	float: left;
}
.width {
	width: 250px;
}
.loginRow {
	line-height: 40px;
	width: 100%;
	height: 40px;
	margin-bottom: 8px;
	margin-left: 15px;
}
.loginRow .loginRowRight {
	text-align: right;
	float: left;
	width: 80px;
	font-size: 15px;
}
.loginRow .loginRowLeft {
	float: left;
	width: 200px;
}
.verify {
	float: left;
	width: 155px;
}
.verifyCode {
}
.right-btn {
	cursor: pointer;
	height: 40px;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
	width: 88px;
	border: 1px solid #CCC;
	text-align: center;
	background-color: #FFF;
}
.btnBar {
	margin-top:20px;
	margin-bottom: 0px;
	height: 30px !important;
}
/*按钮禁用时的效果*/
.disabled {
	background-color: #666 !important;
}
.btnLogin {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 250px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	background-color: #009900;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btn-next {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 110px;
	float: right;
	margin-left: 25px;
	background-color: #999999;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.allow{
	background-color: #009900;
}
.btnRegister {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 250px;
	float: left;
	margin-left: 0px;
	background-color: #0387d9;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
.btnInManage {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 10px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btnLogout {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 120px;
	float: left;
	margin-left: 20px;
	background-color: #666666;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
/*待审核的信息*/
.passInfo{
	line-height: 50px;
	text-align: center;
	min-height:400px;
}