@charset "utf-8";

@page {
	size: auto;
	margin: 2cm;
	margin-top: 1cm;
	margin-bottom: 1cm;
}

@media print {
	html, body, #vapp {
		overflow: auto;
	}

	html, body, #vapp {
		height: auto !important;
	}

	context {
		height: auto !important;
	}

	card {
		box-shadow: none !important;
		border: none !important;
		background-color: transparent !important;
	}

	card-title {
		border: none !important;
	}

	/*答题与解析等*/
	.resultBox {
		font-size: 16px !important;
	}
	context .resultBox>div {
		page-break-inside: avoid;
	}
	context .ans_area>div {
		page-break-inside: avoid;
	}
	
}

#vapp {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.header>div {
	padding: 10px 20px;
}

.header .header_top {

	font-size: 16px;
	box-sizing: border-box;
	display: flex;
}

.header .sticky {
	padding: 0px 0px 0px 20px;
	height: 40px;
	overflow: hidden;
	display: flex;
}

null {
	font-size: 13px;
	color: #999;
}

.header .sticky>div:first-child {
	flex: 1;
}

.header .score {
	font-size: 14px;
	line-height: 40px;
	color: #999;
}

.el-tabs__nav-wrap::after {
	background-color: transparent;
}

.el-tabs__item {
	padding-left: 10px !important;
}

.exam_info {
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

.student_info {
	display: flex;
}

.acc_photo {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
	background-size: cover;
	box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 5px #fff, 0 0 5px #fff;
	transition: all 0.2s;
	display: inline;
}

.nophoto {
	background-image: url(/Utilities/images/head1.jpg);
}

.man {
	background-image: url(/Utilities/images/head1.jpg);
}

.woman {
	background-image: url(/Utilities/images/head2.jpg);
}

/*得分样式*/

score {
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}

score.general {
	color: #07c160;
}

score.praise {
	color: coral;
	font-weight: bold;
}

score::before {
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
	font-size: 22px;
}

score.nopass::before {
	content: '\e774';
	color: #ff0000;
}

score.general::before {
	content: '\e829';
}

score.fine::before {
	content: '\e850';
	color: #409EFF;
}

score.praise::before {
	content: '\e8c9';
	font-size: 20px;
	color: coral;
	font-weight: normal;
}

/**/

context {
	display: block;
	height: calc(100% - 44px - 30px);
	width: calc(100% - 30px);
	padding: 15px;
	overflow-y: auto;
}


context card:first-child {
	margin: 0px 0px 15px 0px;
	width: 100%;
}

context card:first-child card-title {
	text-align: center;
}

.question img {
	max-width: 100%;
}

.info {
	padding: 10px;
	font-size: 16px;
	line-height: 25px;
}

span.tag {
	color: #999;
	font-size: 14px;
}

card[qid] card-title::before {
	content: attr(index) ' . ';
	float: left;
}

card[qid] card-title>* {
	display: inline;
}

/*试题的题型*/

.type_title {
	padding: 10px;
}

.type_info {
	float: right;
}

/*试题选项*/

.ans_area {
	margin-left: 20px;
}

.ans_area>div {
	position: relative;
	line-height: 30px;
}

.type1>div i::before {
	font-family: "webdesk_icon" !important;
	content: '\e85c';
	font-style: normal;
	margin-right: 5px;
}

.type1>div[selected] i::before {
	font-family: "webdesk_icon" !important;
	content: '\e85b';
	font-style: normal;
}

.ans_area>div[correct] {}

.ans_area>div[correct]::before {
	content: '\a048';
	position: absolute;
	left: -20px;
	font-family: "webdesk_icon" !important;
}

.type2>div i::before {
	font-family: "webdesk_icon" !important;
	content: '\e603';
	font-style: normal;
	margin-right: 5px;
}

.type2>div[selected] i::before {
	font-family: "webdesk_icon" !important;
	content: '\e78b';
	font-style: normal;
}

/*答题与解析等*/
.resultBox {
	padding: 10px;
	font-size: 14px;
	line-height: 25px;

}

.resultBox>div.result_score {
	color: #ff0000;
}

.resultBox>div.result_score[success] {
	color: #1989fa;
}