<!DOCTYPE html>
<html>
<head>
<title>《{$outline.ol_name}》</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/MsgBox.js"></script>
<link href="CoreStyles/MsgBox.css" rel="stylesheet" type="text/css" />
<!--播放器的引用-->
<script type="text/javascript" src="/Utility/Ckplayer/js/offlights.js"></script>
<script type="text/javascript" src="/Utility/Ckplayer/ckplayer/ckplayer.js" charset="utf-8"></script>
<link href="Styles/CourseStudy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--主界面,头部视频部分-->

<header class="mui-bar mui-bar-nav video" style="z-index:2">
  <vt:if var="video.As_FileName" value="" compare="!=">
    <vt:if var="video.As_IsOther" value="true" compare="=">
      <iframe id="videoIframe" height="500px" width="100%" 
        src="{$video.As_FileName}"
        allowscriptaccess="always" allowfullscreen="true" wmode="opaque" allowtransparency="true" frameborder="0" type="application/x-shockwave-flash"></iframe>
      <vt:else/>
      <!--如果存在视频文件，则播放-->
      <div id="videobox" style="100%; height:300px; position:relative;z-index: 100;"></div>
      
      <!--播放器的各种信息-->
      <div id="playerInfo" style="display:none"> <span class="mui-badge time"> 时长<span id="totalTime">{$video.As_Duration}</span> 秒</span> <span class="mui-badge time"> 播放<span id="playTime">0</span>秒</span> <span class="mui-badge time"> 已学<span id="studyTime">0</span>秒</span>
        <vt:if var="studyLog" value="" compare="!="> <span class="historyInfo">上次学习到<span id="historyTime">{$historyPlay}</span>，点击此处接上次进度学习</span> </vt:if>
      </div>
      <script type="text/javascript">
            //视频地址
            var videoFile = "{$video.As_FileName}";
		</script> 
      <script type="text/javascript">
          //课程ID,章节ID
          var couid = '{$outline.cou_id}';
          var olid = '{$outline.ol_id}';
          //是否是外链接
          var isOuter = "{$video.As_IsOuter}" == "True" ? true : false;    //	
        </script> 
      <!--视频播放事件-->
      <div id="events" style="display:none">
        <vt:foreach from="$events" item="event" index="i">
          <div class="eventItem" eventid="{$event.Oe_ID}" type="{$event.Oe_EventType}" winWidth="{$event.Oe_Width}" winHeight="{$event.Oe_Height}" point="{$event.Oe_TriggerPoint}">
            <div class="eventTitle" title="此为视频播放事件的窗口标题"> {$event.Oe_Title} </div>
            <!--如果是“提醒”-->
            <vt:if var="event.Oe_EventType" value="1" compare="=">
              <div class="eventContext"> {$event.Oe_Context} </div>
            </vt:if>
            <!--如果是“知识展示”-->
            <vt:if var="event.Oe_EventType" value="2" compare="=">
              <div class="eventContext"> {$event.Oe_Context} </div>
            </vt:if>
            <!--如果是“课堂提问”-->
            <vt:if var="event.Oe_EventType" value="3" compare="=">
              <div class="eventContext"> {$event.Oe_Context} </div>
              <vt:function var="ques" method="getEventQues" args="$#.event.Oe_ID"/>
              <div class="quesBox">
                <vt:foreach from="$ques" item="answer" index="i">
                  <vt:if var="answer.item" value="" compare="!=">
                    <vt:function var="tax" method="GetOrder" args="$i"/>
                    <div class="ansItem" iscorrect="{$:answer.iscorrect}">{$:tax}、{$:answer.item}</div>
                  </vt:if>
                </vt:foreach>
              </div>
              <div class="quesAns"></div>
            </vt:if>
            <!--如果是“实时反馈”-->
            <vt:if var="event.Oe_EventType" value="4" compare="=">
              <div class="eventContext"> {$event.Oe_Context} </div>
              <vt:function var="ques" method="getEventFeedback" args="$#.event.Oe_ID"/>
              <div class="quesBox">
                <vt:foreach from="$ques" item="answer" index="i">
                  <vt:if var="answer.item" value="" compare="!=">
                    <vt:function var="tax" method="GetOrder" args="$i"/>
                    <div class="ansItem" point="{$:answer.point}">{$:tax}、{$:answer.item}（跳转到:{$:answer.point}秒）</div>
                  </vt:if>
                </vt:foreach>
              </div>
              <div class="quesAns"></div>
            </vt:if>
          </div>
        </vt:foreach>
      </div>
    </vt:if>
  </vt:if>
</header>
<header class="mui-bar mui-bar-nav headbar"> <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left left" href="CoursePage.ashx" type="link"></a> </header>
<div class="mui-inner-wrap"> 
  <!--课程内容-->
  <div class="mui-scroll">
    <!--<div class="mui-card">
      <div class="mui-card-header">{$outline.ol_name}</div>
    </div>-->
    <div class="tabs">
    <a class="mui-icon mui-icon-left-nav mui-pull-left back" href="coursepage.ashx" type="link"></a>
     <a class="tab" id="tabfirst">章节列表</a>
      <vt:if var="outline.ol_intro" value="" compare="!="> <a class="tab">学习内容</a> </vt:if>
      <vt:if var="access.count" value="0" compare=">"> <a class="tab">附件</a> </vt:if>
    </div>
    <vt:if var="outline.ol_intro" value="" compare="!=">
      <div class="mui-card"  tab="学习内容">
        <div class="mui-card-content"  id="details"> {$outline.ol_intro} </div>
      </div>
      <vt:else/>
      <vt:if var="video.As_FileName" value="" compare="="> 
        <!-- <div class="noVideo">没有上传课程内容！</div>--> 
      </vt:if>
    </vt:if>
    <!--附件-->
    <vt:if var="access.count" value="0" compare=">">
      <div tab="附件">
        <dl id="access" >
          <dt>相关附件：</dt>
          <vt:foreach from="$#.access" item="acc" index="j">
            <dd><a class="accItem" target="_blank"  href="{$acc.As_FileName}" download="{$acc.As_Name}">{$:j}、{$acc.As_Name} </a> </dd>
          </vt:foreach>
          <dd> </dd>
        </dl>
      </div>
    </vt:if>
    <!--章节输出-->
    <div  tab="章节列表">
      <vt:if var="outlines.Length" value="0" compare=">">
        <ul class="mui-table-view" curr_olid="{$outline.ol_id}">
          <vt:foreach id="course" from="$dtOutlines" item="data" remark="章节列表">
            <vt:expression var="r" args="$data.ol_level" args="15" expression="({0})*{1}" />
            <li class="mui-table-view-cell outline" olid="{$:#.data.ol_id}" pid="{$:#.data.ol_pid}" style="margin-left:{$:r}px"> <a class="mui-navigate-right" href="CourseStudy.ashx?id={$:#.data.ol_id}&couid={$:#.data.cou_id}"><span class="iconfont">&#xe6fd;</span> <span class="tax">1.</span> {$:#.data.ol_name}</a></li>
          </vt:foreach>
        </ul>
        <vt:else />
        <ul class="mui-table-view">
          <li class="mui-table-view-cell"> 当前课程没有章节 </li>
        </ul>
      </vt:if>
    </div>
  </div>
</div>
<script type="text/javascript" src="Scripts/CourseStudy.js?tick={$tick}"></script>
</body>
</html>
