<!DOCTYPE html>
<html>
<head>
<title>{$currCourse.cou_name}</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/CourseOutlines.js"></script>
<link href="Styles/CourseOutlines.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!--主界面部分-->
<div class="mui-inner-wrap">

    <div class="mui-scroll">
      
      <!--章节输出-->
      <vt:if var="outlines.Length" value="0" compare=">">
        <ul class="mui-table-view">
          <vt:foreach id="course" from="$dtOutlines" item="data" remark="章节列表">
            <vt:expression var="r" args="$data.ol_level" args="15" expression="({0})*{1}" />
            <li class="mui-table-view-cell outline" olid="{$:#.data.ol_id}" pid="{$:#.data.ol_pid}" style="margin-left:{$:r}px"> <a class="mui-navigate-right" href="CourseStudy.ashx?id={$:#.data.ol_id}&couid={$:#.data.cou_id}"><span class="iconfont">&#xe6fd;</span> <span class="tax">1.</span> {$:#.data.ol_name}</a></li>
          </vt:foreach>
        </ul>
        <vt:else />
        <ul class="mui-table-view">
          <li class="mui-table-view-cell"> 当前课程没有章节 </li>
        </ul>
      </vt:if>
    </div>
  
</div>
<nav class="mui-bar mui-bar-tab"> <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left left"></a> <a class="mui-btn mui-btn-link mui-pull-right right" href="CoursePage.ashx?couid={$currCourse.cou_id}" type="link"> {$currCourse.cou_name} </a> </nav>
</body>
</html>