<!doctype html>
<html>
<head>
<title>选课中心 - {$:#.org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<link rel="stylesheet" href="Styles/Courses.css?tick={$tick}"/>
<script type="text/javascript" src="Scripts/Courses.js?tick={$tick}" id="javascript"></script>

</head>
<body>
<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable"> 
  <!--侧滑菜单部分-->
  <vt:include file="inc/Menu.html" />
  <!--主界面部分-->
  <div class="mui-inner-wrap">
    <header class="mui-bar mui-bar-nav"> <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>    
    <a class="mui-btn mui-btn-link mui-pull-right" href="default.ashx" type="link"><span class="iconfont top-ico">&#xe620;</span></a>
     <a class="mui-btn mui-btn-link mui-pull-right" href="#" id="btnSelect"><span class="iconfont top-ico">&#x3465;</span></a>
      <h1 class="mui-title">课程中心</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper">
      <div id="slider" class="mui-slider mui-fullscreen">
        <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
          <div style="width:100%"> <a class="mui-control-item mui-active" href="#" order="rec"> <span class="iconfont">&#xe62b;</span> 推荐 </a> <a class="mui-control-item" href="#" order="new"> <span class="iconfont">&#xe671;</span> 最新 </a> <a class="mui-control-item" href="#" order="hot"> <span class="iconfont">&#xf0084;</span> 最热 </a> <a class="mui-control-item" href="#" order="free"> <span class="moneyico">&#xe60b;</span> 免费 </a> </div>
        </div>
        <div class="mui-slider-group">
          <div class="mui-slider-item mui-control-content">
            <div class="mui-scroll-wrapper" id="pullrefresh">
              <div class="mui-scroll">
                <ul class="mui-table-view mui-table-view-chevron" id="context-area">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 隐藏侧滑菜单的层 -->
    <div class="mui-off-canvas-backdrop"> </div>
  </div>
</div>
<!--内容结束，下面是用于筛选的表单-->
<div id="select-box" style="display:none">
  <div class="sear-row">   
    <input name="tbSearch" type="text" id="tbSearch" placeholder="请输入要检索的信息" value="">    
    <button type="button" id="btnSearch" class="mui-btn mui-btn-primary">查询</button>
  </div>
  <div class="sbj-view">
  专业选择<span class="sbj-num">-已选0个</span>
  <span class="sbj-clear">清空</span>
  </div>
  <div class="pagebox-context">
    <vt:repeat type="subject" var="sbjs" item="data" index="i" remark="顶级专业分类">
      <div class="sbj-tit sbj-one"><span class="iconfont sbj-ico">&#xe675;</span>
      <input name="cb" type="checkbox" class="checkbox" sbjid="{$#.data.current.Sbj_id}"/><label class="sbj-name">{$#.data.current.Sbj_name}</label>
      </div>
        <div class="sbj-area">         
            <vt:repeat from="$data.Childs" type="subject" item="d" index="i" remark="二级分类">
           
             <div class="sbj-tit sbj-two"><span class="iconfont sbj-ico">&#xe675;</span>
             <input name="cb" type="checkbox" class="checkbox" sbjid="{$#.d.current.Sbj_id}"/>
             <label class="sbj-name">{$#.d.current.Sbj_name}</label></div>
                <div class="sbj-area" style="display:none">
                    <vt:repeat from="$d.Childs" type="subject" item="t" index="i"  remark="三级分类">
                      <div class="sbj-three"><span class="iconfont sbj-ico">&#xe675;</span>
                      <input name="cb" type="checkbox" class="checkbox" sbjid="{$#.t.current.Sbj_id}"/><label class="sbj-name">{$#.t.current.Sbj_Name}</label></div>
                    </vt:repeat>
                 </div>
             
            </vt:repeat>
          
        </div>
      
    </vt:repeat>
  </div>
</div>
</body>
</html>
