<!DOCTYPE html>
<html>
<head>
<title>知识库</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/Knowledges.js"></script>
<link href="Styles/Knowledges.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <!--主界面部分-->
  <div class="mui-inner-wrap">
    
    <div class="mui-content mui-scroll-wrapper" id="pullrefresh"> 
      <!--下拉刷新容器-->
      <div class="mui-scroll">
          <ul id="detail-view" class="mui-table-view">
       
        </ul>
      </div>
    </div>
   
  </div>
<nav class="mui-bar mui-bar-tab"> <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left left"></a> <a class="mui-btn mui-btn-link mui-pull-right right" href="" > 知识库 </a> </nav>
<!--内容结束，下面是用于筛选的表单-->
<div id="select-box" style="display:none">
  <div class="sear-row">   
    <input name="tbSearch" type="text" id="tbSearch" placeholder="请输入要检索的信息" value="">    
    <button type="button" id="btnSearch" class="mui-btn mui-btn-primary">查询</button>
  </div>
  <div class="sbj-view">
  课程公告栏目<span class="sbj-num">-已选0个</span>
  <span class="sbj-clear">清空</span>
  </div>
  <div class="pagebox-context">
    <vt:repeat type="Knowledgesort" var="sbjs" item="data" index="i" remark="顶级专业分类">
      <div class="sbj-tit sbj-one"><span class="iconfont sbj-ico">&#xf0085;</span>
      <input name="cb" type="checkbox" class="checkbox" sortid="{$#.data.current.Kns_ID}"/><label class="sbj-name">{$#.data.current.Kns_Name}</label>
      </div>
        <div class="sbj-area">         
            <vt:repeat from="$data.Childs" type="Knowledgesort" item="d" index="i" remark="二级分类">
           
             <div class="sbj-tit sbj-two"><span class="iconfont sbj-ico">&#xf0085;</span>
             <input name="cb" type="checkbox" class="checkbox" sortid="{$#.d.current.Kns_ID}"/>
             <label class="sbj-name">{$#.d.current.Kns_Name}</label></div>
                <div class="sbj-area" style="display:none">
                    <vt:repeat from="$d.Childs" type="Knowledgesort" item="t" index="i"  remark="三级分类">
                      <div class="sbj-three"><span class="iconfont sbj-ico">&#xf0085;</span>
                      <input name="cb" type="checkbox" class="checkbox" sortid="{$#.t.current.Kns_ID}"/><label class="sbj-name">{$#.t.current.Kns_Name}</label></div>
                    </vt:repeat>
                 </div>
             
            </vt:repeat>
          
        </div>
      
    </vt:repeat>
  </div>
</div>
</body>
</html>