<!doctype html>
<html>
<head>
<title>错题回顾</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/QuesError.js"></script>
<link href="Styles/QuesError.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <!--主界面部分-->
  <div class="mui-inner-wrap">
    
    <div class="mui-content mui-scroll-wrapper" id="pullrefresh"> 
      <!--下拉刷新容器-->
      <div class="mui-scroll">
          <ul id="detail-view" class="mui-table-view">
       
        </ul>
      </div>
    </div>
   
  </div>
<nav class="mui-bar mui-bar-tab"> 
  <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left left"></a>

           <a class="mui-btn mui-btn-link mui-pull-right right" href="" >
				错题回顾
			</a>
  </nav>
</body>
</html>