<!DOCTYPE html>
<html>
<head>
    <title></title>
    <vt:include file="inc/meta.inc" />
</head>
<body>
<div id="content"></div>
<div id="test" style="display:none">
<h1>{{title}}</h1>
<ul>
    {{each list as value i}}
        <li>索引 {{i + 1}} ：{{value}}</li>
    {{/each}}
</ul>
</div>


<script>
var data = {
    title: '微厦科技',
    list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
};
var html = template('test', data);
document.getElementById('content').innerHTML = html;
</script>
</body>
</html>
