@font-face {
    font-family: "webdesk_icon";
    src: url("../iconfont.woff") format("woff");
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.icon {
    font-family: "webdesk_icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    line-height: 60px;
    margin: 10px 0;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
    cursor: pointer;
}
*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}


*::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px rgba(133, 131, 131, 0.2);
    background: #888888;
    background-image: -webkit-linear-gradient(45deg, rgba(184, 164, 164, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent), url(/Utilities/scrollbar-thumb.gif);
    --background-image: url(/Utilities/scrollbar-thumb.gif);
    background-repeat: no-repeat;
}


*::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 3px rgba(133, 131, 131, 0.2);
    border-radius: 3px;
    background: #EDEDED;
    --background-image: url(/Utilities/scrollbar-track.gif);
    background-repeat: no-repeat;
    background-position: bottom;
}
.icon:hover {
    font-size: 100px;
}

header {
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 25px;
    display:flex;
    justify-content: space-between;
}

header span {
    font-size: 16px;
}
header>div:last-child{
    font-size: 16px;
}
ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
    width: 100px;
    height: 130px;
    text-align: center;
}

li.selected, li.selected * {
    color: red !important;
}
li.selected i.icon{
    font-size: 70px;
}
.iconfont-list {
    border-top: solid 1px #ccc;
    margin-top: 10px;
    padding-top: 20px;
    width: 101%;
}

.code {
    color: green;
    font-weight: bold;
    cursor: pointer;
}

#search {
    display: inline-block;
    margin-left: 30px;
}

#search input[type='text'] {
    font-size: 16px;
    width: 100px;
}

#search span {
    font-size: 14px;
}

#result:not(:empty) {
    width: 100%;
    display: table;
    box-sizing: border-box;
    padding: 20px;
}