@font-face {
    font-family: "webdesk_icon";
    src: url("../iconfont.woff") format("woff");
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.icon {
    font-family: "webdesk_icon" !important; 
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    line-height: 60px;
    margin: 10px 0;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
    cursor: pointer;
}

.icon:hover {
    font-size: 100px;
}

header {
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 25px;
}

header span {
    font-size: 16px;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
    width: 100px;
    height: 130px;
    text-align: center;
}

.iconfont-list {
    border-top: solid 1px #ccc;
    margin-top: 10px;
    padding-top: 20px;
}

.code {
    color: green;
    font-weight: bold;
    cursor: pointer;
}

#search {
    display: inline-block;
    margin-left: 30px;
}

#search input[type='text'] {
    font-size: 16px;
    width: 100px;
}

#search span {
    font-size: 14px;
}

#result:not(:empty) {
    width: 100%;
    display: table;
    box-sizing: border-box;
    padding: 20px;
}