h1 {
    margin: 0px;
    font-size: 22px;
    text-indent: 1rem;
}
h1:not(h1:first-child){
    margin-top: 40px;
}
p {
    line-height: 30px;
    width: calc(100% - 50px);
}
textarea {
    width: calc(100% - 50px);
    background-color: rgb(248, 252, 203);
    padding: 10px 10px 0px 10px;
    line-height: 20px;
    border: 1px solid rgb(219, 199, 108);
    resize:none;
    overflow: hidden;
    margin-bottom: 20px;
}
loading{
    margin: 0px 10px;
}
*[loading]{
    margin: 10px 30px 10px 0px;   
}
*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}


*::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px rgba(133, 131, 131, 0.2);
    background: #888888;
    background-image: -webkit-linear-gradient(45deg, rgba(184, 164, 164, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent), url(/Utilities/scrollbar-thumb.gif);
    --background-image: url(/Utilities/scrollbar-thumb.gif);
    background-repeat: no-repeat;
}


*::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 3px rgba(133, 131, 131, 0.2);
    border-radius: 3px;
    background: #EDEDED;
    --background-image: url(/Utilities/scrollbar-track.gif);
    background-repeat: no-repeat;
    background-position: bottom;
}