@charset "utf-8";
body {
}
.selectBar {
	height: 30px;
}
#Context #selectArea {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.selectBar {
	display: table;
}
.selectLeft {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	line-height: 30px;
	text-align: right;
	float: left;
	height: 30px;
	width: 100px;
	font-size: 15px;
}
.selectRight {
	float: left;
	width: 880px;
}
#subject .selectItem {
	float: left;
	height: 30px;
	width: auto;
	margin-right: 10px;
	line-height: 30px;
}
#subject .selectItem a {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
	color: #333333;
}
/*专业选中项*/
#Selected .selectedItem {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 15px;
	line-height: 24px;
	height: 24px;
	border: 1px solid #CCCCCC;
	float: left;
	padding-right: 5px;
	padding-left: 8px;
	margin-top: 3px;
	white-space: nowrap;
	width: auto;
	margin-right: 10px;
}
#Selected .selectedItemOver {
	border: 1px solid #0387d9;
}
#Selected .selectedItem .name {
	float: left;
	padding-right: 8px;
	color: #0387d9;
}
#Selected .selectedItem .close {
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -209px -237px;
	float: left;
	height: 8px;
	width: 8px;
	cursor:pointer;
	margin-top: 8px;
}
#Selected .selectedItem .closeOver {
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -217px -237px;
	cursor:pointer;
}
#mainShow {
	background-image: url(../Images/3.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 300px;
	width: 100%;
}
#TitleBar {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
	color: #000000;
	background-image: url(../Images/icon1.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	height: 40px;
	text-indent: 45px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	margin-bottom: 20px;
}
#TitleBar span{
	font-size: 16px;
}
.depart {
	float: right;	
}
#Context #selectArea {
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	padding-bottom: 20px;
}

.selectBar {
	display: table;

}
.selectLeft {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	line-height: 30px;
	text-align: right;
	float: left;
	height: 30px;
	width: 100px;
	font-size: 15px;
}

.selectRight {
	float: left;
	width: 700px;
}
#subject .subjectItem {
	float: left;
	height: 30px;
	width: auto;
	margin-right: 10px;
	line-height: 30px;
	
}
#subject .subjectItem a{
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
	color: #333333;
}

/*专业选中项*/
#Selected .selectedItem {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 15px;
	line-height: 24px;
	height: 24px;
	border: 1px solid #CCCCCC;
	float: left;
	padding-right: 5px;
	padding-left: 8px;
	margin-top: 3px;
	white-space: nowrap;
	width: auto;
}
#Selected .selectedItemOver
{
	border: 1px solid #0387d9;
}
#Selected .selectedItem  .name{
	float: left;
	padding-right: 8px;
	color: #0387d9;
}
#Selected .selectedItem  .close{
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -209px -237px;
	float: left;
	height: 8px;
	width: 8px;
	cursor:pointer;
	margin-top: 8px;
}
#Selected .selectedItem  .closeOver{
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -217px -237px;
	cursor:pointer;
}
#selectArea #SelectedBar {
	height: 30px;
}
.leftBox
{
	width:875px;
	float:left;
}
.rightBox{	
	width:320px;
	float:right;
}
/*盒模型*/
.box{
	border: 1px solid #ccc;
	float: left;
}
/*学员登录*/
.login{
	height: 260px;
	width: 320px;
	margin-right: 3px;	
}
.login .boxTit{
	background-image: url(../Images/Login-bg.jpg);
	background-repeat: no-repeat;
	line-height: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
}
.login .txt {
	color: #333;
	font-family: "黑体", "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	line-height: 38px;
	width: 160px;
	float:left;
	text-indent:35px;
}

/*学员登录*/
.loginAreaBox{
	margin: 10px;
}
#loginBox .loginBar .loginTitle {
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 150px;
	cursor:pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity:0.6;
	filter:alpha(opacity=60);
	background-color: #666666;
	color: #FFFFFF;
}
.loginTitle a{
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	color: #FFFFFF;
}
.loginTitleCurr {
	color: #0387d9;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 150px;
	cursor:pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity:1;
	filter:alpha(opacity=100);
	font-weight: bold;
}
.loginTitleCurr  a{
	color: #0387d9;
	font-size: 18px;
	line-height: 50px;
}
.loginAreaBox form {
	margin: 0px;		
}
.textbox {
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity:0.8;
	filter:alpha(opacity=80);
	float: left;

}
.loginAreaBox .width {
	width: 300px;
}
.loginRow {
	line-height: 40px;
	height: 45px;
	margin-bottom: 5px;
	text-align: center;
}
.loginRow .loginRowRight {
	text-align: right;
	float: left;
	width: 80px;
	font-size: 15px;
}
.loginRow .loginRowLeft {
	float: left;
	width: 200px;
}
.verify {
	float: left;
	width: 205px;
}
.verifyCode{
	cursor: pointer;
	height: 40px;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	width: 86px;
	border: 1px solid #CCC;
	margin-left:5px;
}
.btnLogin {
	line-height: 30px;
	text-align: center;
	height: 34px;
	width: 100px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	background-image: url(../Images/Loginbg01.jpg);
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 42px;
}
.aRegister {
	line-height: 30px;
	text-align: center;
	height: 34px;
	width: 100px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	background-image: url(../Images/regbg.jpg);
	margin-top: 10px;
}
.btnInManage {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 10px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btnLogout{
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 120px;
	float: left;
	margin-left: 20px;
	background-color: #666666;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}


/* 课程*/
.courseList {
	width: 860px;
	min-height: 270px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-top:15px;
	margin-left:15px;
}
.courseList .courseListInner {
	width: 900px;
}

.courseList  .item {
	float: left;
	margin-right: 15px;
	margin-bottom:15px;
	width: 200px;
	text-align: center;
	height: 190px;
	overflow: hidden;
	border: 1px solid #CCC;
}
.courseList  .courseOver
{
	border: 3px solid #CCCCCC;
}
.courseList  .courseOver .itemName a
{
	color: #FFFFFF;
}
.courseList  .item a{
	display: block;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 25px;
}
.courseList  .item img{
	width: 196px;
	height: 119px;
	margin: 2px;	
}
.courseList .item .itemMark {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 200px;
	font-family: "微软雅黑";
	color: #333;	
	FILTER: alpha(opacity=50);
	BACKGROUND: #000;
	OVERFLOW: hidden;
	opacity: 0.5;
	-moz-opacity: 0.5;
	
	height:35px;
}
.courseList .item .itemInfo {
	font-size: 14px;
	text-align: left;
	line-height: 25px;
	width: 200px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	OVERFLOW: hidden;
	
	BACKGROUND: #eee;
	OVERFLOW: hidden;
	
	height:123px;
	z-index: 10;
	color: #333;
}
.courseList .item .itemInfo a
{
	line-height: 30px;
	text-indent: 10px;
	display: block;
	height: 30px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 18px;
	overflow: hidden;
	color: #06C;
}
.courseList .item .itemDetails
{
	line-height: 20px;
	display: block;
	height: 78px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
	width: 190px;
	margin-left: 10px;
}
.courseList .item .itemDetails a{
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
}


.boxBar {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	height: 60px;
}
.box{
	margin-bottom:12px;
}
.newsBox{
	width:320px;
}
.newsBox .title {
	font-size: 20px;
	font-family: "微软雅黑";
	
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 30px;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 8px;
	color: #333;
	padding-left: 10px;
	margin-bottom: 15px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0387d9;
	width: 150px;
	text-indent: 10px;
	margin-top: 15px;
}
.newsBox .boxBar .more {
	float: right;
	height: 30px;
	width: 60px;
	line-height: 30px;
	margin-top: 25px;
}
.newsBox .boxBar .more a{
	color: #0387d9;
}
.newsBox .nolist {
	display: table;
	margin-top: 20px;
}

.newsBox .item {
	width: 300px;
	height: 35px;
	display: table;
	margin-left:5px;
}

.newsBox .item img {
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 7px;
	margin-right: 5px;
}
.newsBox .noTime {
	color: #999999;
	float: right;
	line-height: 35px;
	white-space: nowrap;
	float: right;
	height: 35px;
	width: 65px;
	overflow: hidden;
	margin-left: 5px;
	text-overflow: ellipsis;
	background-repeat: no-repeat;
	background-position: 0px 8px;
	text-indent: 15px;
}
.newsBox .item .noItem
{
	width:285px;
	float:left;
}
.newsBox .item a {
	font-size: 14px;
	color: #333333;
	white-space: nowrap;
	display: block;
	width: 205px;
	overflow: hidden;
	line-height: 35px;
	height: 35px;
	float: left;
	text-overflow: ellipsis;
}

