.flexslider {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
	zoom: 1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.flexslider .slides li {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(../images/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 0;
}

.flex-direction-nav .flex-prev {
	left: 0;
}

.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	background: url(../images/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
	background-position: 0 0;
}

.flexslider .slides a img {
	width: 100%;
	height: 350px;
	display: block;
	margin-top:-0px;
}
.row{
	margin-top:3px;
	display:table;
	width:1200px;
}
/*盒模型*/
.box{
	border: 1px solid #ccc;
	float: left;
}
.notice{
	height: 320px;
	width: 320px;
	margin-right: 3px;
}
.notice .boxTit{
	background-image: url(../Images/gonggao-bg.jpg);
	background-repeat: no-repeat;
	line-height: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
}
.notice .txt {
	color: #efefef;
	margin-left: 20px;
	font-family: "黑体", "微软雅黑";
	font-size: 16px;
	font-weight: bold;
}

/*热点资讯*/
.news{
	height: 320px;
	width: 360px;
	margin-left: 3px;	
}
.news .boxTit{
	background-image: url(../Images/tab-bg01.jpg);
	background-repeat: no-repeat;
	line-height: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-position: 0px 5px;
	
	
}
.news .txt {
	color: #fff;
	font-family: "黑体", "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	width: 98px;
	float:left;
}
.news .item{
	width: 350px;
}
.news .item .newsItem{
	width: 280px;
}
/*图片资讯轮换*/
.imgshow{
	height: 320px;
	width: 503px;
	
}
/*学员登录*/
.login{
	height: 260px;
	width: 320px;
	margin-right: 3px;	
}
.login .boxTit{
	background-image: url(../Images/Login-bg.jpg);
	background-repeat: no-repeat;
	line-height: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
}
.login .txt {
	color: #333;
	font-family: "黑体", "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	line-height: 38px;
	width: 160px;
	float:left;
	text-indent:35px;
}

/*学员登录*/
.loginAreaBox{
	margin: 10px;
}
#loginBox .loginBar .loginTitle {
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 150px;
	cursor:pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity:0.6;
	filter:alpha(opacity=60);
	background-color: #666666;
	color: #FFFFFF;
}
.loginTitle a{
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	color: #FFFFFF;
}
.loginTitleCurr {
	color: #0387d9;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 150px;
	cursor:pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity:1;
	filter:alpha(opacity=100);
	font-weight: bold;
}
.loginTitleCurr  a{
	color: #0387d9;
	font-size: 18px;
	line-height: 50px;
}
.loginAreaBox form {
	margin: 0px;		
}
.textbox {
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity:0.8;
	filter:alpha(opacity=80);
	float: left;

}
.loginAreaBox .width {
	width: 300px;
}
.loginRow {
	line-height: 40px;
	height: 45px;
	margin-bottom: 5px;
	text-align: center;
}
.loginRow .loginRowRight {
	text-align: right;
	float: left;
	width: 80px;
	font-size: 15px;
}
.loginRow .loginRowLeft {
	float: left;
	width: 200px;
}
.verify {
	float: left;
	width: 205px;
}
.verifyCode{
	cursor: pointer;
	height: 40px;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	width: 86px;
	border: 1px solid #CCC;
	margin-left:5px;
}
.btnLogin {
	line-height: 30px;
	text-align: center;
	height: 34px;
	width: 100px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	background-image: url(../Images/Loginbg01.jpg);
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 42px;
}
.aRegister {
	line-height: 30px;
	text-align: center;
	height: 34px;
	width: 100px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	background-image: url(../Images/regbg.jpg);
	margin-top: 10px;
}
.btnInManage {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 10px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btnLogout{
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 120px;
	float: left;
	margin-left: 20px;
	background-color: #666666;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
/*热门课程*/
.hotCour{
	height: 260px;
	width: 868px;
	margin-right: 3px;	
}
.hotCour .boxTit{
	background-image: url(../Images/kecheng-bg.jpg);
	background-repeat: no-repeat;
	line-height: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
}
.hotCour .txt {
	color: #09C;
	font-family: "黑体", "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	line-height: 38px;
	width: 160px;
	float: left;
	text-indent: 55px;
}
/* 课程*/
.courseList {
	width: 860px;
	height: 270px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-top:15px;
	margin-left:15px;
}
.courseList .courseListInner {
	width: 2000px;
}

.courseList  .item {
	float: left;
	margin-right: 8px;
	width: 200px;
	text-align: center;
	height: 190px;
	overflow: hidden;
	border: 1px solid #CCC;
}
.live{
	background-image: url(../Images/live-icon.gif);
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display:inline-block;	
}
.courseList  .courseOver
{
	border: 3px solid #CCCCCC;
}
.courseList  .courseOver .itemName a
{
	color: #FFFFFF;
}
.courseList  .item a{
	display: block;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 25px;
}
.courseList  .item img{
	width: 196px;
	height: 119px;
	margin: 2px;	
}
.courseList .item .itemMark {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 200px;
	font-family: "微软雅黑";
	color: #333;	
	FILTER: alpha(opacity=50);
	BACKGROUND: #000;
	OVERFLOW: hidden;
	opacity: 0.5;
	-moz-opacity: 0.5;
	
	height:123px;
}
.courseList .item .itemInfo {
	font-size: 14px;
	text-align: left;
	line-height: 25px;
	width: 200px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	OVERFLOW: hidden;
	
	BACKGROUND: #eee;
	OVERFLOW: hidden;
	
	height:123px;
	z-index: 10;
	color: #333;
}
.courseList .item .itemInfo a
{
	line-height: 30px;
	text-indent: 10px;
	display: block;
	height: 30px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 18px;
	overflow: hidden;
	color: #06C;
}
.courseList .item .itemDetails
{
	line-height: 20px;
	display: block;
	height: 78px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
	width: 190px;
	margin-left: 10px;
}
.courseList .item .itemDetails a{
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
}
.rowImg{
	padding: 3px;
	height: 106px;
	width: 1190px;
	border: 1px solid #CCC;
	margin-top: 5px;
}
/*学员排行*/
.order{
	height: 260px;
	width: 320px;
	margin-right: 3px;
}
.order .boxTit{
	background-image: url(../Images/icon04.jpg);
	background-repeat: no-repeat;
	line-height: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
	background-position: 8px 10px;
}
.order .boxTit .txt {
	color: #666666;
	margin-left: 36px;
	line-height: 38px;
	font-family: "黑体", "微软雅黑";
	font-size: 16px;
	font-weight: bold;
}
.Cour{
	height: 260px;
	width: 868px;
	margin-right: 3px;	
}
.Cour .boxTit{
	background-repeat: no-repeat;
	line-height: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-left: 5px;
}
.Cour  .boxTit .txt {
	color: #999;
	font-family: "黑体", "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	width: auto;
	float: left;
	display: block;
	height: 20px;
	margin-bottom: 9px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	margin-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	cursor:pointer;
}
.Cour  .boxTit .titleOver{
	color: #333;
	font-family: "黑体", "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	width: auto;
	float: left;
	display: block;
	height: 33px;
	margin-bottom: -1px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	margin-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	background-color: #FFF;
	margin-left: -1px;
}

/*学员排行*/
.exttitle{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	height: 30px;

}
.extrow{
	font-size: 16px !important;
	line-height: 30px;
	height: 30px;
	width: 100%;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #ccc;
	padding-top: 3px;
}
.extrow *{
	font-size: 15px !important;
	color: #666;
}
.orderAreaBox .col1{
	float: left;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.orderAreaBox .col2{
	float: left;
	width: 120px;
	height: 30px;
	line-height: 30px;
}
.orderAreaBox .col3{
	float: left;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.orderAreaBox .col4{
	float: left;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}