@charset "utf-8";
body{
	overflow-x: hidden !important;
	overflow-y: auto !important;
}
.ansBox {
	background-color: #FFFFCC;
	padding: 10px;
	margin-left: 20px;
	text-align:left;
}

/*帖子列表头部*/
.topBox
{
	background-color: #FFFFCC;
	height: 30px;
	width: 760px;
	border: 1px solid #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.topBox .title
{
	float: left;
	height: 30px;
	width: 700px;
	line-height: 30px;
	padding-left: 10px;
	overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.topBox .ansBtn
{
	float: right;
	height: 30px;
	width: 50px;
	line-height: 30px;
	text-align: center;
}
/*贴子列表*/
.gvList
{
	width: 760px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFCC;
}
.item{
	width:100%;
	height:135px;

	margin-bottom: 10px;
}
.mLeft
{
	float: left;
	width: 80px;
	height: auto;
}
.mLeft img
{
	width:80px;
}
.mLevel
{
	text-align: center;
	line-height: 30px;
	height: 30px;
	float:left;
	text-indent:10px;
}
.accname
{
	text-align: center;
	line-height: 30px;
	height: 30px;
}
.mLeft .crttime
{
	display:none;
}
.mRight
{
	float: right;
	width: 780px;
	display: table;
}
.mRight .mHeader
{
	line-height: 30px;
	height: 30px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
.mRight .mHeader span
{
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
.mRight .mContext
{
	margin: 10px;
	text-align:left;
}
.mRight .mFooter
{
}

/*填写信息*/
.msgBox{
}
.msgBox .msgTitle{
	text-indent: 10px;
	margin-top: 10px;
}
.msgBox textarea{
	height: 100px;
	width: 98%;
}
.msgBox .btnBox input{
	line-height: 30px;
	float: right;
	height: 30px;
	width: 100px;
	margin-top: 5px;
	margin-right: 20px;
}
.msgBox .msgTitle{
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	height: 60px;
	margin-bottom: 20px;
}
.msgBox .msgTitle .text{
	font-size: 20px;
	font-family: "微软雅黑";
	
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 30px;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 8px;
	color: #333;
	padding-left: 10px;
	margin-bottom: 15px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0387d9;
	width: 150px;
	text-indent: 10px;
	margin-top: 15px;
}

.noLogin{
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	margin-top: 20px;
}
