@charset "utf-8";
body {
}
#bodyTop {
	background-image: url(../Images/news-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
#Context {
	margin-top: 20px;
	margin-bottom: 60px;
}
.noNews {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 20px;
	line-height: 300px;
	color: #999999;
	height: 500px;
	width: 550px;
	text-align: center;
}


#LeftBox {
	width: 820px;
	float: left;
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #CCCCCC;
}
#LeftBox #newsBar {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 20px;
	line-height: 35px;
	font-weight: bold;
	color: #000000;
	background-image: url(../Images/icon1.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	height: 40px;
	margin-top: 25px;
	text-indent: 45px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	margin-bottom: 20px;
	margin-right: 20px;
}
#LeftBox .newsItem {
	width: 800px;
	display: table;
	height: 150px;
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
#LeftBox .newsItem .newsTitleBar {
	height: 40px;
}
#LeftBox .newsTitleBar .newsTitle {
	line-height: 40px;
	float: left;
	height: 40px;
	width: 500px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;

}
#LeftBox .newsTitleBar .newsTitle a{
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: #000000;
	font-family: "宋体";

}
#LeftBox .newsTitleBar .newsTime {
	line-height: 40px;
	color: #999999;
	float: right;
	height: 40px;
	width: 80px;
	text-align: right;
}
.newsContent .newsImg {
	float: left;
	height: 78px;
	width: 124px;
	border: 1px solid #CCCCCC;
}
.newsContent .newsImg img{
	height: 74px;
	width: 120px;
	margin-top: 2px;
	margin-left: 2px;	
}

#RightBox {
	float: right;
	width: 350px;
}
#RightBox .box {
	float: right;
	width: 350px;
}
#RightBox .boxBar {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	height: 60px;
}

#RightBox .box .title {
	font-size: 20px;
	font-family: "微软雅黑";
	
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 30px;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 8px;
	color: #333;
	padding-left: 10px;
	margin-bottom: 15px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0387d9;
	width: 150px;
	text-indent: 10px;
	margin-top: 15px;
}
.boxBar .more {
	float: right;
	height: 30px;
	width: 60px;
	line-height: 30px;
	margin-top: 25px;
}
.boxBar .more a{
	color: #0387d9;
}
.nolist {
	display: table;
	margin-top: 20px;
}

.item {
	width: 350px;
	height: 35px;
	display: table;
}


.item img {
	float: left;
}
.newsContent .newsIntro2 {
	line-height: 25px;
	float: right;
	height: 100px;
	width: 660px;
	overflow: hidden;
	color: #666666;
}
.newsContent .newsIntro1 {
	line-height: 25px;
	float: right;
	height: 100px;
	overflow: hidden;
	color: #666666;
}
.newsIntro1 a,.newsIntro2 a
{
	color: #666666;
}
.item .noItem {
	line-height: 22px;
	white-space: nowrap;
	float: left;
	height: 22px;
	width: 280px;
	overflow: hidden;
	margin-left: 5px;
	text-overflow: ellipsis;
	background-image: url(../Images/icon3.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	text-indent: 15px;
}

.noTime {
	color: #999999;
	float: right;
}


.item .noItem a{
	font-size: 14px;
	color: #333333;
}
.item .noItem a:hover{
	font-size: 14px;
	text-decoration: underline;
}
