/*直播，没有直播时*/

#liveStopbox {
	position: relative;
}

#liveStopbox .liveStop_Tit, .noSelect {
	position: absolute;
	width: 320px;
	height: 180px;
	color: #333;
	background-color: rgba(128, 128, 128, 0.5);
	top: 30%;
	left: calc(50% - 160px);
	border: 1px solid #999;
	text-shadow: 1px 1px #eee;
	box-shadow: 3px 3px 3px #aaa;
	cursor: default;
}

#liveStopbox .liveStop_Tit, .noSelect, .noSelect a {
	line-height: 180px;
	font-weight: bold;
	font-size: 25px;
	text-align: center;

}
