
/*答题卡*/

.quesCard {
	width: 100%;
	height: calc(100% - 130px);	
}

.quesCard .cardTit {
	height: 50px;	
	font-size: 16px;
	line-height: 50px;
	box-sizing: border-box;
	padding: 0px 15px;
}

.quesCard .cardTit>span:first-child {
	padding: 0px 20px;
}

.quesCard .cardTit>span:first-child::before {
	font-size: 22px;
	margin-right: 10px;
}

.quesCard .cardTit>span:last-child {
	font-size: 14px;
	color: #999;
	float: right;
}

.quesCard .cardBox {
	height: calc(100% - 50px - 20px);
	overflow-y: auto;
	padding: 0px 5px 15px 15px;
	box-sizing: border-box;
	width: calc(100% - 20px);
}

.quesCard dl, .quesCard dt, .quesCard dd {
	padding: 0px;
	margin: 0px;
}

.quesCard dl {
	width: 100%;
	display: table;
	margin-bottom: 10px;
}

.quesCard dt {
	padding: 10px 15px;
	width: calc(100% - 30px);
}

.quesCard dt span {
	float: right;
	font-size: 14px;
	color: #999;
}

.quesCard dd {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 5px;
	border-radius: 50%;
	border: solid 1px #666;
	float: left;
	position: relative;
	cursor: pointer;
}

.quesCard dd[ans] {
	background-color: rgb(102, 177, 255);
	color: #fff;
	border: solid 1px rgb(25, 137, 250);
}

.quesCard dd[current] {
	border: solid 1px #67C23A;
	color: #67C23A;
	background-color: rgb(193, 253, 132) !important;
}
.quesCard dl dd[current]::after {
	content: '\e777';
	font-family: "webdesk_icon" !important;
	font-size: 22px;
	display: block;
	position: absolute;
	bottom: 1px;
	right: -15px;
	width: 20px;
	height: 20px;
	text-align: right;
	color: #67C23A;
}