.final_condition>div:not(:last-child) {
	padding-right: 100px;
	position: relative;
	margin-bottom: 10px;
}

.final_condition .el-tag {
	position: absolute;
	top: 2px;
	right: 0px;
	line-height: 20px;
	height: 28px;
}