<!doctype html>
<html>
<head resource>
    <title>找不到！</title>
    <include file="inc/meta.inc" />   
</head>
<body>
    <div id="vapp" v-cloak>
        <page_header ref='pageheader' @login="acc=>account = acc" @load="(o,c,p)=>{org=o,config=c,platinfo=p}">
            loading
            ...
        </page_header>
        <context>          
            <icon>&#xe849</icon>
            <div>您当前访问的
                <b v-html="geturl()" v-if="false"></b> 页面不存在！
            </div>
            <div>请点此处<a href="javascript:history.go(-1)"><icon back>返回</icon></a>，或转到<a href="/"><icon home>主页</icon></a></div>
        </context>
        <page_footer :organ="org">loading ...</page_footer>
    </div>
</body>
</html>
