@charset "utf-8";

html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

context {
	display: block;
	width: 100%;
	height: calc(100% - 88px);
	padding: 44px 0px 0px 0px;
	text-align: center;
	overflow-y: auto;
}

img.logo {
	max-width: calc(60% - 40px);
	padding: 20px 20px 0px 20px;
}

.platinfo {
	box-sizing: border-box;
	padding: 20px;
	font-size: 22px;
	text-shadow: 1px 1px 3px #999;
	font-weight: bold;
}

.editon {
	box-sizing: border-box;
	padding: 0px 20px;
	font-size: 13px;
}

.van-cell-group {
	text-align: left;
	box-sizing: border-box;
	margin: 20px;
}

.intro {
	text-align: left;
	box-sizing: border-box;
	background-color: #fff;
	padding: 0px 20px 20px 20px;
	margin: 0px 20px 20px 20px;

}

.intro, .intro * {
	font-size: 16px;
	line-height: 30px;
	color: #323233;
}
.intro img, .intro table{
	max-width: 100%;
}
.intro table td{
	word-break: break-all;
}
.copyright {
	height: 44px;
	font-size: 12px;
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0px;
	z-index: 2;
	line-height: 44px;
	color: #666;
}