@charset "utf-8";

div#vapp {
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80%;
}

div#vapp>div {
	margin: 40px auto;
}

div#vapp>div icon {
	display: block;
	font-size: 60px;
	color: #999;
	margin-bottom: 40px;
	margin-right: 0px;
}

div.btn {
	height: 40px;
	line-height: 40px;
	width: 200px;
	margin: 80px auto 0px;
	font-size: 14px;
	color: #fff;
	border: 1px solid #ccc;
	
	background-color: #9ecbf8;
	border-radius: 5px;
}