@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

context {
	display: block;
	width: 100%;
	height: calc(100% - 44px);
	padding: 44px 0px 0px 0px;
	
	overflow-y: auto;
}
.platform{
	text-align: center;
}
context>div:first-child {
	text-align: center;
}

img.logo {
	max-width: calc(60% - 40px);
	padding: 20px 20px 0px 20px;
}

.platinfo {
	box-sizing: border-box;
	padding: 20px;
	font-size: 22px;
	text-shadow: 1px 1px 3px #999;
	font-weight: bold;
}

.van-cell-group__title {
	box-sizing: border-box;
	padding: 16px 20px 0px 20px;
}

.van-cell-group {
	text-align: left;
	box-sizing: border-box;
	margin: 10px 16px;
}
.van-cell__value{
	flex: auto;
}

/*地图区域*/

.bm-view {
	width: 100%;
	height: 200px;
}