@charset "utf-8";
html, body, #vapp {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

body, a, p, div, input {
    font-size: 13px;
}

#context {
    width: 100%;
    height: calc(100vh - 50px - 50px);
    overflow-y: auto;
    padding-bottom: 20px;
    z-index: 1;
}

#context::-webkit-scrollbar {
    display: none;
}

a {
    color: gray;
}
.van-loading{
    text-align: center;
    padding: 20px;
}
/*头部*/

header {
    background-color: #fff;
    background-color: rgb(212, 224, 206);
    width: 100%;
    height: 44px;
    overflow: hidden;
    display: flex;
}

.logo {
    height: 32px;
    margin-top: 6px;
    padding-left: 6px;
}

/*搜索框*/

.van-search {
    padding: 5px 6px;
    transition: all 0.5s;
    float: right;
}

/*轮换图片*/

.el-carousel {
    background-color: #fff;
}

.swip_pic {
    width: 100%;
    height: 150px;
}

.swip_pic img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 5px;
}

/*通知公告*/

.swip_notice {
    font-size: 16px;
    width: calc(100% - 20px);
    height: 40px;
    border-radius: 4px;   
    margin: 5px 10px 0px 10px;
    background-color: #fff;
}

.swip_notice .data {
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    padding: 5px 12px;
}

.swip_notice .data i {
    font-style: normal;
}

.swip_notice .data a {
    display: inline-block;
    overflow: hidden;
    height: 30px;
    padding-right: 60px;
}

.swip_notice .data .badge {
    background-color: rgba(0, 0, 0, .10);
    color: #666;
    font-size: 10px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 100px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px;
}

/*自定义菜单*/

.custom-menu {
    width: calc(100% - 20px);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /*子元素溢出父容器时换行*/
    text-align: center;
    margin-top: 0px;
    padding: 6px 10px 0px 10px;   
}

.custom-menu a {
    float: left;
    width: 25%;
    height: 80px;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 30px;
}

.custom-menu a .mitem {
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    color: #408867;   
}

.custom-menu a b:before {
    content: "\e63d";
    font-family: "webdesk_icon";
    line-height: 65px;
    font-weight: normal;
    font-size: 40px;
}

.custom-menu a span {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    text-decoration: none;
    position: absolute;
    text-align: center;
    display: block;
    line-height: 20px;
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    bottom: 0px;
    width: 100%;
}

