@charset "utf-8";
/*
body {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;  
}  */
#pageWinContext{
	
}
dt,dd{
	line-height: 25px;
	font-size: 13px;

}
/*顶部的提示信息条*/
#contTop
{
	color: #FF0000;
	display: table;
	height: 25px;
	line-height: 25px;
	width: 100%;
	font-size: 14px;
}
#contTop #treeName
{
	display: table;
	float: left;
	width: auto;
}
#contTop #loadingBar
{
	display: table;
	float: right;
	width: auto;
}
/*树形菜单区域*/
#MenuTreePanel
{
	width: 40%;
	border: medium inset #eeeeee;
	padding: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	display: block;
	float: left;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	overflow: scroll;
	
}

/*锁定当前节点下的所有面板*/
.lockPanel
{
	background-color: #eeeeee;	
}
/*被锁定的菜单节点样式*/
.lockNode span
{
	color: #999999 !important;
}
/*右侧编辑区域*/
#MenuEditPanel
{
	width: 55%;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	display: table;
	float: right;
}
#MenuEditPanel #Panel
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 10px;
	overflow: auto;
	background-color: #FFFFFF;
}
#MenuEditPanel #EditPanelTitle
{
	background-image: url(../../Images/line1.jpg);
	display: table;
	background-repeat: repeat-x;
	background-position: 0px bottom;
	width: 100%;
	height: 30px;
}
/*右侧编辑区域的选项卡*/
#MenuEditPanel #EditPanelTitle div
{
	display: table;
	width: auto;
	float: left;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
	letter-spacing: 0.2em;
	cursor: pointer;
}
#MenuEditPanel #EditPanelTitle .click
{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.numBox
{
    width:30px;
}
#MenuEditPanel .editpanel
{
	display: table;
}
/*页面底部的说明信息*/
#show
{
	display: table;
	width: 100%;
}
/*提示信息*/
#alert{
	
	line-height: 30px;
	color: #F00;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	display:none;
}
/*编辑区域的父级菜单项*/
.nodeParent
{
	font-weight: bold;
}
#RootEditPanel,#EditPanel,AddPanel
{
	display:none;
}

.namebar
{
	height: 30px;
}
.name {
	float:left;
	line-height: 30px;
	height: 30px;
}
.icoslect {
	float:left;
	line-height: 30px;
	height: 30px;
	margin-left: 10px;
	width: 85px;
}
.icoslect .txt
{
	float: left;
	height: 30px;
	width: 40px;
}
.icoslect .ico
{
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 5px;
	cursor:pointer;
	background-image: url(../../Images/mmicons.png);
	background-position: -90px -101px;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
}
#icoPanel{
	background-image: url(../../Images/mmicons.png);
	background-repeat: no-repeat;
	height: 227px;
	width: 265px;
	position: absolute;
	z-index: 10;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	display:none;
	cursor: pointer;
}