@charset "utf-8";

body {
	background-image: linear-gradient(to right, rgb(240 243 245), rgb(186 235 255));
}

#vapp {
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	overflow-y: hidden;
}

#vapp>div {
	margin-left: 10px;
}

/*左侧地图区域*/
.map {
	width: 800px;
	height: 100%;
	position: relative;
	flex: 1;
}

#chartsDOM {
	height: 100%;
	width: 100%;
}

#province_map {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: radial-gradient(circle at center,transparent, rgba(255,255,255,0.8) 70%, rgba(255,255,255,1) 90%);
}

#province_map>div:first-child {
	height: 100% !important;
	width: 100% !important;
}

/*右侧数据列表*/
.datatables {
	width: 300px;
	max-width: 500px;
	
}
@media only screen and (min-width: 1600px) {
	.datatables {
		width: 500px;		
	}
}
.datatables .el-form {
	display: flex;
	margin: 0px;
	padding: 0px;
}

.datatables .el-form>div:first-child {
	flex: 1;
}

.datatables .el-form>div:last-child {

	margin-right: 0px;
}

.datatables .el-form>div>div {
	width: 100%;
}

.datatables .el-form>div>div>div {
	width: 100% !important;
}