@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'webdesk_icon';
	src: url(/Utilities/fonts/iconfont.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}


.font_icon {
	font-family: "webdesk_icon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
}
	/*图标引用，
	html标签中增加icon属性， 例如：<span class="weisha_icon" icon="&#xa038">内容</span>
*/
.weisha_icon::before, .webdesk_icon::before{
	content: attr(icon);
	font-family:"webdesk_icon" !important;	
	margin-right:5px;
}
*[v-cloak]{
	display: none;	
}
