/*试题区*/
div.quesArea {
    height: calc(100% - 45px);
    background-color: #f2f2f2;
    width: 100%;
    z-index: 4;
}
div.quesArea dl {
    height: calc(100% - 40px);
    margin: 0px;
    display: flex;
    left: 0px;
    position: relative;
    transition: left 0.5s ease-out;
    overflow: hidden;
    /* 禁止iOS浏览器默认双击缩放、滚动回弹，交给Hammer接管 */
    touch-action: manipulation;
    /* 允许触摸事件穿透子元素冒泡 */
    pointer-events: auto;
}
.quesArea dl dd {
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y !important;
}
div.quesArea, .quesArea dd {
    padding: 0px;
    margin: 0px;
}

/*没有试题的提示*/
div.quesArea .noques {   
    font-size: 18px;
    text-align: center;
    color: #999;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.quesArea .noques icon{
    display: block;
    margin: 10px 0px !important;
    font-size: 80px;
}

/*试题加载错误*/
div.quesArea dd .error {
    margin: 20px;
}

div.quesArea dd alert {
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
}

div.quesArea info {
    display: flex;
    padding: 15px 10px 0px 10px;
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}

div.quesArea info span i {
    font-size: 14px;
    font-style: normal;
}

div.quesArea info buttons {
    display: flex;
    max-width: 50%;
    min-width: 160px;
    margin: 2px 0px 0px 10px;
    height: 20px;
    overflow: hidden;
}

div.quesArea info buttons>* {
    flex: 1;
    text-align: center;
    font-size: 13px;
    color: #666;
}

div.quesArea info buttons>btn i {
    font-family: "webdesk_icon" !important;
    margin-right: 1px;
    font-style: normal;
}

div.quesArea info buttons>btn.used {
    color: #000;
    font-weight: bold;
}

