@charset "utf-8";
.contextbox{
	min-height: 400px;
	margin-top: 140px;
}
.infoBox {
	margin-top: 10px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	font-family: "黑体";
	font-size: 16px;
}
.topBar {
	font-family: "黑体";
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.infoRow {
	line-height: 40px;
	width: 100%;
	height: 40px;
	font-family: "黑体";
	font-size: 16px;
}
.infoRow .RowRight {
	text-align: right;
	float: left;
	width: 100px;
	font-size: 15px;	
}
.infoRow .RowLeft {
	float: left;
	width: 200px;
	font-size: 15px;	
	text-align:left;
}
.textbox {
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity:0.8;
	filter:alpha(opacity=80);
	float: left;
	color: #333333;
}
.verify {
	float: left;
	width: 102px;
}


.verifyCode{
	cursor:pointer;
	height: 32px;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
	width: 72px;
}
.btnEdit {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 130px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 10px;
	background-color: #339900;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btnChangePw {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 130px;
	float: left;
	margin-left: 20px;
	background-color: #ff5842;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
}
.btnLogout {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 280px;
	float: left;
	margin-left: 10px;
	background-color: #666666;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	letter-spacing: 0.5em;
}
.btnSex {
	font-family: "黑体";
	
	margin-right: 10px;
	line-height: 40px;
	padding: 5px;
	height: 40px;
	border-radius:5px;  
}
.btnSexSel
{
	background-color: #006633;
	color: #FFFFFF;
}