@charset "utf-8";
@page {
 size: A4 portrait;
 margin:2cm;
}
@media print {
#btnPrint {
	display: none;
}
body {
	size: A4 portrait;
	margin: 0px;
}
dl.qrcode dd {
	orphans: 3;
	widows: 2;
	page-break-inside:avoid;
}
}
@media all {
body{
	text-align:center;
}
body,div,td,p{
	font-size: 18px;
}
.page {
	page-break-inside: avoid;
	position:relative;
}
form{
	margin-left: auto !important;
	margin-right: auto !important;
	size: A4 portrait;
	width: 21cm;
}
.theme{
	text-align:center;
	font-size:25px;
	line-height:50px;
	margin-top:10px;
}
.row{
	line-height:30px;
}
.price{
	
}
span.box{
	margin-right:50px;
}
#btnPrint{
	padding-left:10px;
	padding-right:10px;
	line-height:20px;
	float:right;
}
/*课程*/
.courses{
	border-collapse:collapse; 
}
.courses td{
	line-height:25px;
	background-color:#fff;
	text-indent:10px;
	border:1px solid #ccc;
}
/*二维码输出*/
.qrcode-area{
	size: A4 portrait;
	width: 21cm;
	overflow: hidden;
}
dl.qrcode{
	width:102%;
}
dl.qrcode dd{
	width: 22%;
	float: left;
	text-align: center;
	border: 1px solid #CCC;
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
dl.qrcode dd img{
	width:90%;
	
}
dl.qrcode dd .code{
	font-size: 12px;
	white-space: nowrap;
	text-align:center;
}
dl.qrcode dd .info{
	font-size: 12px;
	white-space: nowrap;
	text-align:center;
}
}
