@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

.van-loading {
	margin: 10px;
}

.header {
	height: 44px;
	background-color: rgb(212, 224, 206);
	font-size: 14px;
	width: 100%;
	top: 0px;
	z-index: 2;
	display: flex;
}

.header>icon {
	display: block;
	height: 44px;
	width: 40px;
	line-height: 44px;
	font-size: 20px;
	text-align: center;
	margin: 0px;
}

.header>icon:not(:last-child) {
	float: left;
}

.header>icon:last-child {
	float: right;
	
}

.header .van-search {
	padding: 5px 6px !important;
	float: left;
}

.sortname{
	float: left;
	margin: 5px 0px;
	padding: 0px 20px 0px 10px;
	white-space:nowrap;
	font-size: 15px;
}
.sortname icon{
	font-size: 17px;
	margin-right: 10px;
}