<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings/>
  <system.web>
    <pages theme="BluePanel" validateRequest="false"></pages>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <httpRuntime maxRequestLength="2097151"   useFullyQualifiedRedirectUrl="true"   executionTimeout="300"/>
    <customErrors mode="Off" defaultRedirect="~/Manage/ErrorPage/GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="~/Manage/ErrorPage/404.aspx" />
    </customErrors>

  </system.web>
</configuration>
