@charset "utf-8";

* {
	-webkit-touch-callout: none;
	/*系统默认菜单被禁用*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-khtml-user-select: none;
	/*早期浏览器*/
	-moz-user-select: none;
	/*火狐*/
	-ms-user-select: none;
	/*IE10*/
	user-select: none;
}

input, textarea {
	-webkit-user-select: auto;
	/*webkit浏览器*/
}

.blur {
	filter: url(blur.svg#blur);
	/* FireFox, Chrome, Opera */
	-webkit-filter: blur(2px);
	/* Chrome, Opera */
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);
}

.loading {
	text-align: center;
	padding: 20px;
}

/*顶部栏*/

.topBox {
	background-color: rgb(212, 224, 206);
	height: 45px;
	overflow: hidden;
	font-size: 14px;
	line-height: 45px;
	text-align: center;
	display: flex;
}

.topBox>div {
	padding: 0px 15px;
	box-sizing: border-box;
}

.topBox>div:first-child {
	flex: 1;
	text-align: left;
	display: flex;
	padding-right: 0px;
}

.topBox>div:first-child span {
	margin-right: 5px;
}

/*设置项的按钮*/

#boxSetup {
	height: 130px;
	background-color: #fff;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	display: none;
	z-index: 101;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.setup_show {
	position: absolute;
	width: 70%;
	height: 100%;
}

.setup_show .van-cell::after {
	display: none;
}

/*视图模式*/

.overlay {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.view_model {
	padding-top: 20px;
}

.view_model .van-cell__title {
	display: flex;
}

.view_model .van-cell__title>div {
	flex: 1;
	text-align: center;
	padding: 10px;
}

.view_model .van-cell__title icon {
	display: block;
	font-size: 25px;
}

.view_model *[current] {
	background-color: rgb(211, 255, 189) !important;
}

/*上一题，下一题*/
.move_btn span {
	font-size: 13px;
}
.move_btn icon {
	font-size: 20px;
	margin: 0px;
}
.move_btn span:first-child{
	margin-right: 15px;
}
/*底部按钮*/

.footer {
	height: 44px;
	background-color: rgb(212, 224, 206);
	font-size: 14px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 3;
	display: flex;
}

.footer>div {
	line-height: 44px;
	text-align: center;
	font-size: 14px;
	flex: 1;
	line-height: 30px;
}

.footer .correct-rate:before {
	content: "正确率：";
	margin-left: 5px;
}

.footer .correct-rate:after {
	content: "%";
}

/*正确数*/

.footer .correct-num {
	text-align: center;
	margin-right: 20px;
}

.footer .correct-num:before {
	content: "\e67f";
	font-family: "webdesk_icon";
	color: #0099FF;
	margin-right: 5px;
	margin-top: 3px;
	font-size: 18px;
}

/*错误数*/

.footer .error-num {
	text-align: center;
}

.footer .error-num:before {
	content: "\e61c";
	font-family: "webdesk_icon";
	color: #FF0000;
	margin-right: 5px;
	font-size: 17px;
}

#btnCard {
	text-align: center;
	font-size: 14px;
}

#btnCard:before {
	content: "\e75e";
	font-family: "webdesk_icon";
	font-size: 20px;
	margin-right: 5px;
}

/*试题区*/

section.question {
	height: calc(100% - 90px);
	background-color: #f2f2f2;
	width: 100%;
	z-index: 4;
	left: 0px;
	position: relative;
	transition: left 0.5s;
}

section.question dl, section dd {
	margin: 0px;
	padding: 0px;
	height: 100%;
	float: left;
}

section.question dd {
	width: 100vw;
	overflow-y: auto;
	line-height: 150%;
}

section.question dd info {
	display: block;
	padding: 15px 15px 0px 15px;
	margin: 0px 0px 0px 10px;
	font-size: 15px;
}

section.question dd info span {
	font-size: 14px;
	color: #999;
}

section.question dd info buttons {
	display: flex;
	float: right;
	width: 50%;
}

section.question dd info buttons>* {
	flex: 1;
	text-align: center;
	font-size: 12px;
	color: #999;
}

section.question dd info buttons>btn i {
	font-family: "webdesk_icon" !important;
	margin-right: 1px;
	font-style: normal;
}

section.question dd info buttons>btn.used {
	color: #000;
	font-weight: bold;
}

section.question dd * {
	line-height: 150% !important;
	font-size: 16px;
}

section.question dd card[correct="succ"] {
	background-color: #E8FFE8 !important;
}

section.question dd card[correct="error"] {
	background-color: #FFECE8 !important;
}

section.question dd img {
	max-width: 100% !important;
}

/*试题选项*/

.ans_area {
	margin-left: 5px;
}

.ans_area>div {
	position: relative;
	margin: 10px;
}

.type1>div i::before {
	font-family: "webdesk_icon" !important;
	content: '\e85c';
	font-style: normal;
	font-size: 20px;
	margin-right: 15px;
}

.type1>div[selected] i::before {
	font-family: "webdesk_icon" !important;
	content: '\e85b';
	font-style: normal;
}

.ans_area>div[correct] {}

.ans_area>div[correct]::before {
	content: '\e706';
	position: absolute;
	left: -20px;
	font-family: "webdesk_icon" !important;
}

.type2>div i::before {
	font-family: "webdesk_icon" !important;
	content: '\e603';
	font-style: normal;
	margin-right: 5px;
	font-size: 20px;
}

.type2>div[selected] i::before {
	font-family: "webdesk_icon" !important;
	content: '\e78b';
	font-style: normal;
}

.type4 button {
	float: right;
	margin-bottom: 20px;
	margin-right: 0px;
}

.type4 button icon {
	font-size: 18px;
}

/*填空题*/

.type5 {
	counter-reset: section;
}

.type5 button {
	float: right;
	margin-bottom: 20px;
	margin-right: 5px;
}

.type5 button icon {
	font-size: 18px;
}

.type5>div {
	position: relative;
	margin-left: 30px;
}

.type5>div::before {
	counter-increment: section;
	content: counter(section) ". ";
	display: block;
	position: absolute;
	top: 5px;
	width: 10px;
	height: 40px;
	left: -20px;
}

.type5>div input {
	width: calc(100% - 30px);
	padding: 5px 15px;
}

section textarea {
	width: calc(100% - 22px);
	padding: 10px;
}

#vapp[view='night'] *:not([noview]) {
	background-color: #222222;
	color: #cecece;
}

#vapp[view='cosy'] *:not([noview]) {
	background-color: #eaf8ec;
	color: #222222;
}

/*答题卡*/

.quesCard {
	width: 100%;
}

.quesCard .el-drawer__header {
	padding: 10px 15px;
	margin-bottom: 10px;
}

.quesCard .cardTit>span:first-child {
	padding: 0px 20px 0px 0px;
}

.quesCard .cardTit>span:first-child::before {
	font-size: 22px;
	margin-right: 10px;
}

.quesCard .cardTit>span:last-child {
	font-size: 14px;
	color: #999;
}

.quesCard .cardBox {
	height: calc(100vh - 50px - 15px);
	overflow-y: auto;
	padding: 0px 15px 15px 15px;
}

.quesCard dl, .quesCard dt, .quesCard dd {
	padding: 0px;
	margin: 0px;
}

.quesCard dl {
	width: 100%;
	height: auto;
	display: table;
	margin-bottom: 10px;
}

.quesCard dt {
	padding: 10px 15px;
	width: calc(100% - 30px);
}

.quesCard dd {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 5px;
	font-size: 14px;
	border-radius: 50%;
	border: solid 1px #666;
	float: left;
	position: relative;
}

.quesCard dd[current] {
	border: solid 1px rgb(92, 180, 3);
	color: rgb(255, 255, 255);
	background-color: rgb(92, 180, 3) !important;
}

.quesCard dd[current]::after {
	content: '\e777';
	font-family: "webdesk_icon" !important;
	font-size: 22px;
	display: block;
	position: absolute;
	bottom: 1px;
	right: -15px;
	width: 20px;
	height: 20px;
	text-align: right;
	color: rgb(92, 180, 3);
}

.quesCard dd[ans] {
	background-color: rgb(25, 137, 250);
	color: #fff;
}

.quesCard dd[correct="succ"] {
	background-color: #E8FFE8;
	color: rgb(0, 0, 0);
}

.quesCard dd[correct="error"] {
	background-color: #ebab9f;
	color: rgb(0, 0, 0);
}

/*笔记面板*/

.quesNote .el-dialog__body>div:last-child {
	margin-top: 20px;
	text-align: right;

}

/*试题报错*/
.quesError .el-dialog__header {}

.quesError .el-dialog__body {
	padding: 0px 20px 10px 20px;
}

.quesError div[role='group'] {
	font-size: 15px;
	line-height: 30px;
}

.quesError .btnbar {
	margin-top: 20px;
	text-align: right;
}