<!DOCTYPE html>
<html lang="zh">

<head resource>
    <include file="../inc/meta.inc" />
    <title>学员的学习成果</title>

</head>

<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="导出,重新计算,说明" ref='btngroup' @output="output_panel=true" @batcalc="allcalcResultScore" @help="btnhelp"
                width="600" height="600" :selects='selects' idkey='Ma_ID' table="datatables"></btngroup>
            <query_panel :model="form" :width="45" :loading="loading" @search="handleCurrentChange(1)">
                <el-form-item label="课程">
                    <el-input v-model="form.name" placeholder="姓名" style="width: 120px;"
                        @clear="handleCurrentChange(1)" clearable></el-input>
                    <el-input v-model="form.couname" placeholder="课程" style="width: 180px;"
                        @clear="handleCurrentChange(1)" clearable></el-input>
                </el-form-item>
            </query_panel>
        </div>
        <!-- 数据列表-->
        <template>
            <el-table ref="datatables" border resizable :data="datas" :stripe="true" tooltip-effect="dark"
                style="width: 100%" @selection-change="val=>selects=val" :height="tableHeight">
                <el-table-column type="selection" width="35">
                </el-table-column>
                <el-table-column type="index" width="50" align="center">
                    <template slot-scope="scope">
                        <span>{{(form.index - 1) * form.size + scope.$index + 1}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="卡号-密码"  width="160" >
                    <template slot-scope="scope">
                        {{scope.row.Lc_Code}} - {{scope.row.Lc_Pw}}
                    </template>
                </el-table-column>
                <el-table-column label="学员"  width="120" >
                    <template slot-scope="scope">
                        <icon :woman="scope.row.Ac_Sex==2" :man="scope.row.Ac_Sex==1">
                        {{scope.row.Ac_Name}} 
                        </icon>
                    </template>
                </el-table-column>
                <el-table-column label="课程">
                    <template slot-scope="scope">
                        <a v-html='showsearch(scope.row.Cou_Name,form.search)' class="large" underline
                            :href="'/web/course/detail.'+scope.row.Cou_ID" target="_blank"></a>
                    </template>
                </el-table-column>
                <el-table-column label="学习情况" width="260">
                    <div slot-scope="scope" class="progress">
                        <el-tooltip class="item" effect="light" content="视频学习进度" placement="bottom-start">
                            <icon video>{{showcomplete(scope.row.Stc_StudyScore)}} %</icon>
                        </el-tooltip>
                        <el-tooltip class="item" effect="light" content="试题通过率" placement="bottom">
                            <icon question>{{showcomplete(scope.row.Stc_QuesScore)}} %</icon>
                        </el-tooltip>
                        <el-tooltip class="item" effect="light" content="结课考试成绩" placement="bottom-end">
                            <icon exam>{{scope.row.Stc_ExamScore}} 分</icon> 
                        </el-tooltip>
                    </div>
                </el-table-column>
                <el-table-column label="综合成绩" width="100" align="left">
                    <template slot="header" slot-scope="scope">
                        <el-dropdown @command="batcalcResultScore">
                            <span class="el-dropdown-link">
                                综合成绩<i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item :command="1">
                                    <icon>&#xa067</icon>重新计算
                                </el-dropdown-item>                             
                            </el-dropdown-menu>
                        </el-dropdown>
                    </template>
                    <template slot-scope="scope">
                        <loading v-if="loadingid==scope.row.Stc_ID" asterisk>...</loading>
                        <el-dropdown v-else>
                            <span class="el-dropdown-link">
                                {{scope.row.Stc_ResultScore}} 分
                                <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>
                                    <el-link type="primary" plain
                                    @click='calcResultScore(scope.row.Stc_ID)'> <icon>&#xa067</icon>重新计算</el-link>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </template>
                </el-table-column>
            </el-table>
            <!--底部按钮-->
            <div id="pager-box">
                <el-pagination v-on:current-change="handleCurrentChange" :current-page="form.index" :page-sizes="[1]"
                    :page-size="form.size" :pager-count="10" layout="total, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </div>
        </template>

        <!-- 导出面板-->
        <el-drawer :visible.sync="output_panel" size="50%" direction="ttb" class="output" :show-close="false">
            <el-form ref="query"  @submit.native.prevent label-width="80px">

                <el-form-item label="">
                    <el-button :type="loading_out ? 'info' : 'success'" v-on:click="btnOutput" class="el-icon-position"
                        :loading="loading_out" native-type="submit">
                        导出学习成果
                    </el-button>
                </el-form-item>
                <template v-if="files.length>0">
                    <el-divider></el-divider>
                    <el-form-item label="文件下载">
                        <dl class="files">
                            <dd v-for="(f,i) in files">
                                <a :href="f.url" target="_blank" title="点击下载" :download="f.file">
                                    {{f.file}}</a>
                                <span> {{f.size|size}}</span>
                                <el-popconfirm title="确定删除这个文件吗？" @confirm="deleteFile(f.file)">
                                    <el-link type="danger" icon="el-icon-delete" v-loading="loading_out" slot="reference">删除
                                    </el-link>
                                </el-popconfirm>
                            </dd>
                        </dl>
                    </el-form-item>
                </template>
            </el-form>
        </el-drawer>

    </div>


</body>

</html>