@charset "utf-8";
#vapp{
    overflow: auto;
}
.outline_panel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.outline_panel .el-dialog {
    margin: 5% !important;
    width: 90%;
    height: 88%;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 60%) !important;
}

.outline_panel .el-dialog__body {
    height: calc(100% - 110px - 30px);
    overflow: auto;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.el-select-dropdown__item icon[question]{
    float: right;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.questotal{
    height: 32px;
    font-size: 14px;
    line-height: 30px;
}