@charset "utf-8";
#vapp {
    overflow: hidden;
    width: 180px;
    margin: 10px auto 0px auto;
}
img.photo {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    border: 1px solid #aaa;
    margin-top: 5px;
    border-radius: 15px;
    margin-right: 10px;
}

.accname {
    line-height: 40px;
}

.nologin {
    line-height: 40px;
    font-size: 12px;
    color: #999;
}

#app {
    width: 160px;
    margin: 10px auto 0px auto;
}

.el-row {
    margin-bottom: 10px;
}