@charset "utf-8";
img.photo{
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    border: 1px solid #aaa;
    margin-top: 5px;   
    border-radius: 30px;
    margin-right: 10px;
}
.accname{
    line-height: 80px;

}
.nologin {
    line-height: 40px;
    font-size: 12px;
    color: #999;
}
