header:first-child{
    display: flex;
    justify-content: space-between;
}
.database icon{
    font-size: 25px;
    line-height: 20px;
    margin-right: 0px;
}
span.postgresql{
    color: #326790;
}
span.sqlserver{
    color: #cf1f21;
}
span.sqlite{
    color: #00688f;
}
.dbName{
    margin-left: 5px;
    color: #999;
}

/*校验结果*/
section{
    margin: 20px;
}

.data_title {
    display: flex;
    justify-content: space-between;
 }
 .data_row {
     margin: 10px 0px;
 }
 
 .data_row span {
     margin-right: 10px;
     margin-top: 10px;
 }

 .errorfields .el-tag{
    font-size: 17px;
 }