html, body, #vapp {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
p{
    text-indent: 1rem;
}
#vapp {
    display: flex;
}
#content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*实体详情区域*/

.entity_header {
    margin: 0px 5px 0px 20px;
    padding: 0px 0px 10px 0px;
    box-sizing: border-box;
}
.entity_header .name{
    display: flex;
    white-space: nowrap;
}
.entity_header .mark {
    margin: 0px 10px;
    font-size: 16px;
    color: #777;
    line-height: 200%;
}
/*索引*/
.entity_indexs{
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-right: 10px;
    position: relative;
}
table {
    width: 100%;
    background-color: #ddd;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-top: 0px;
    margin: 0px 10px 20px 0px;
    position: relative;
    overflow: auto;
    table-layout: fixed;
}

table tr th {
    text-align: center;
    background-color: #eee;
    border-top: 2px solid #ddd;
    padding: 5px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

table td {
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
}

table tr:not(:first-child):hover td {
    background-color: rgb(251, 255, 239);
}

table tr td {
    text-align: center;
    font-size: 15px;
    word-break: break-all;
}
.columns{
    width: 200px;
}
.columns>div{
    display: flex;
    justify-content: space-between;   
}
td.columns>div{
    padding: 2px 10px;
    box-sizing: border-box;
}
/*索引占用的空间*/
.index_size .KB{
    color: #777;
}
.index_size span:first-child{
    display: inline-block;
    width: 60px;
    text-align: right;
    padding-right: 10px;
}
.index_size span:last-child{
    display: inline-block;
    width: 40px;
    text-align: left;
}