section.datainfo {
    display: flex;
    margin: 15px 0px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}

.el-statistic .head {
    margin-bottom: 15px;
}

section.tabledata {
    display: flex;
    margin: 15px 0px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;

}

section.tabledata .el-statistic {
    width: 25%;
    margin-top: 0px;
    margin-bottom: 50px;
}
.head icon, .head *{
    font-size: 18px;
}
/*数据库名称*/
.database{
    box-sizing: border-box;
    padding: 10px 20px;
}
.database icon{
    font-size: 35px;
    line-height: 20px;
    margin-right: 5px;
}
*.postgresql{
    color: #326790;
}
*.sqlserver{
    color: #cf1f21;
}
*.sqlite{
    color: #00688f;
}
.dbname{
    margin: 0px 10px;
    font-size: 15px;
    color: #777;
}