
/*页面编辑窗*/
.PageBox {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	text-align: left;
	position: fixed;
	box-shadow: 0 2px 12px 0 rgba(165, 159, 159, 0.8);
	border: 1px solid #d5d7dc;
    color: #303133;
    -webkit-transition: .3s;
	transition: .3s;
	border-radius: 4px;
    overflow: hidden;
}

.PageBox .PageBoxTitle {
	padding: 10px;
    border-bottom: 1px solid #d5d7dc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.PageBox .PageBoxTitleTxt
{
	white-space: nowrap;
	overflow: hidden;

}
.PageBox .PageBoxTitle  a{
	color: #FFFFFF;
	text-decoration: none;
}
.PageBox .PageBoxTitle .PageBoxTitleClose {

	font-size: 25px;
	color: #666;
	position: absolute;
    top: 8px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
}
.PageBox .PageBoxTitle .PageBoxTitleClose:hover {
	color: #f00;
}
.PageBox .PageBoxTitle .PageBoxTitleTxt
{
	line-height: 30px;
	margin-left: 10px;
	font-size:16px;
}
.PageBox iframe
{
	margin: 0px;
	padding: 0px;
}
