

p[copyright="intro"] {
    color: #666;
    margin: 20px 0px; 
}

.opensourse p,
.opensourse p a {
    font-size: 13px;
    line-height: 20px;
    color: #444;
}

#head {
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    display: flex;
}

