section.project {
    counter-reset: section;  
    list-style-type: none; 
}
dl dt::before {
    counter-increment: section;  
    content: counter(section) ". ";

}
dl {
    counter-reset: dd;
    list-style-type: none;
}

dl dd::before {
    counter-increment: dd;  
    content: "(" counter(dd) ") ";

}