
h2 {
    margin: 0px;
    font-size: 16px;
    margin: 20px auto;
    text-indent: 2rem;
}
p, dd {
    font-size: 16px;
    margin: 0.5rem 0px 0px 0px;
    line-height: 35px;
    text-indent: 2rem;
}

p[copyright="intro"] {
    color: #666;
    margin: 20px 0px;
}



span[copyright='tel'] {
    font-size: 18px;
}

