/*=========mF_fscreen_tb========*/
.mF_fscreen_tb_wrap{padding:8px;border:1px solid #999;float:left;background:#fff;}/*背景边框*/
.mF_fscreen_tb { background:#333;}
.mF_fscreen_tb .pic { position:absolute; top:0; left:0; }
.mF_fscreen_tb .pic li { position:absolute; width:100%; height:100%; overflow:hidden; display:none; }
.mF_fscreen_tb .win { position:absolute; bottom:0; left:0; margin:0 10px; overflow:hidden; }
.mF_fscreen_tb .win .thumb { position:absolute; top:0; left:0; }
.mF_fscreen_tb .win .thumb li { position:relative; float:left; padding:8px 18px; overflow:hidden; cursor:pointer; }/*pad*/
.mF_fscreen_tb .win .thumb li img { position:relative; z-index:1; width:100%; height:100%; filter:alpha(opacity=80); opacity:0.8; }
.mF_fscreen_tb .win .thumb li span { position:absolute; top:7px; left:17px; border:1px solid #999; }/*top=pad-border=8-1=7*/
.mF_fscreen_tb .win .thumb li.current img { filter:alpha(opacity=100); opacity:1; }
.mF_fscreen_tb .win .thumb li.current span,.mF_fscreen_tb .win .thumb li.hover span { border-color:#fff; }
.mF_fscreen_tb .thu-bg { position:absolute; bottom:0; left:0; width:100%; background:#000; filter:alpha(opacity=40); opacity:0.4; overflow:hidden; border-top:1px solid #fff;}
.mF_fscreen_tb .txt li { position:absolute; z-index:2; top:26px; width:100%; line-height:20px; font-family:'微软雅黑'; }/*标题*/
.mF_fscreen_tb .txt li a { display:block; color:#fff; padding-left:16px; font-weight:bold; font-size:16px; text-decoration:none; }/*标题样式*/
.mF_fscreen_tb .txt li p { padding-left:16px; color:#fff; }/*详细描述文字样式*/
.mF_fscreen_tb .prev, .mF_fscreen_tb .next { font:bold 38px arial; width:28px; overflow:hidden; position:absolute; z-index:4; left:0; bottom:8px; cursor:pointer; }/*width=margin+pad=10+18=28;bottom=pad=8;*/
.mF_fscreen_tb .next { left:auto; right:0; }
.mF_fscreen_tb .prev a, .mF_fscreen_tb .next a { display:block; color:#f1f1f1; text-align:center; text-decoration:none; }
.mF_fscreen_tb .prev a:hover, .mF_fscreen_tb .next a:hover { color:#f60; }