/*=========mF_sohusports========*/
.mF_sohusports_wrap{padding:8px;border:1px solid #999;float:left;background:#fff;}/*背景边框*/
.mF_sohusports .pic li{position:absolute;}
.mF_sohusports .txt li{position:absolute;z-index:2;bottom:0;height:60px;line-height:32px;}
.mF_sohusports .txt li a{display:block;position:relative;z-index:1;color:#fff;padding-left:16px;font-size:14px;font-weight:bold;text-decoration:none;}/*标题样式*/
.mF_sohusports .txt li span{display:block;height:100%;position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=40);opacity:0.4;}/*标题背景*/
.mF_sohusports .txt li p{display:none;}/*隐藏详细描述*/
.mF_sohusports .num{position:absolute;z-index:3;bottom:8px;right:6px;}/*按钮样式*/
.mF_sohusports .num li{float:left;}
.mF_sohusports .num li a{color:#fff;float:left;width:20px;height:20px;line-height:18px;overflow:hidden;text-align:center;margin-right:4px;cursor:pointer;background:url(http://www.cosmissy.com/myfocus/img/sh-btn.gif) left no-repeat;text-decoration:none;}
.mF_sohusports .num li.current a,.mF_sohusports .num li.hover a{color:#FF7B11;background-position:right;}/*当前/悬停按钮样式*/