@charset "utf-8";

.el-form {
	height: calc(100% - 100px);
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.el-form>div {
    box-sizing: border-box;
    padding: 15px 15px 5px 15px;
	height: 100%;
}

.el-tabs--border-card {
	box-shadow: none;
	border: none;
}

.el-tabs__content {
	display: none;
}

.el-form>div *{
	height: 100%;
}
.el-form-item__content, .el-textarea {
	height: 100%;
}
.el-textarea textarea{
	height: 100%;
}

/*底部按钮区*/
#footer-box {
	background-color: #fff;
	height: 60px;
	padding: 10px 10px 0px 15px;
	box-sizing: border-box;
	position: relative;
}

#footer-box .el-tag {
	position: absolute;
	left: 10px;
	top: 15px;
}