@charset "utf-8";

html, body, #vapp {
	overflow: hidden;
	background-color: #fff;
}

.el-form {
	height: calc(100% - 20px - 90px);
	width: calc(100% - 20px);
	padding-right: 10px;
	overflow-y: auto;
	box-sizing: border-box;
}

.el-tabs {
	--height: 100%;
}

.el-tabs--border-card {
	box-shadow: none;
	border: none;
}

.el-tabs__content {
	display: none;
}

/*Logo图片*/
.upload_img_area {
	display: table;
	float: left;
}

.nophoto {
	width: 100px;
	height: 100px;
	line-height: 100px;
	color: #aaa;
	background-color: #eee;
	text-align: center;
	cursor: pointer;
}

.nophoto icon {
	font-size: 35px;
}



.upload_img_area img {
	height: 100px;
}

/*关于我们的编辑框*/
.about_editor {
	width: 100%;
	height: 100%;
}

.about_editor .vue-html5-editor {
	width: 100%;
	height: 100%;
}

.about_editor .vue-html5-editor .content {
	width: 100% !important;
	height: 100% !important;

}

/*底部按钮区*/
#footer-box {
	background-color: #fff;
	height: 50px;
	text-align: right;
	padding: 10px 10px 0px 10px;
	box-sizing: border-box;
	position: relative;
}

#footer-box .el-tag {
	position: absolute;
	left: 10px;
	top: 15px;
}