@charset "utf-8";

/*Logo图片*/
.upload_img_area {
    display: table;
    float: left;
}

.nophoto {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #aaa;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}

.nophoto icon {
    font-size: 35px;
}

.upload_img_area .error {
    max-width: 800px;
    white-space: nowrap;
    bottom: 0px !important;
}


.upload_img_area img {
    height: 100px;
}

/*位置的选择*/
.positions {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    display: flex;
    padding: 5px 5px 0px 5px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.positions>div {
    text-align: center;
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    background-color: #fff;   
}

.positions>div:nth-child(odd) {
    margin: 0px 5px 5px 0px;
}
.positions>div:nth-child(even) {
    margin: 0px 0px 5px 0px;
    width: calc(50% - 0px);
}
.positions>div.curr {
    background-color: #CCC !important;
}

.positions>div.curr::before {
    content: "\a048";
    font-family: "webdesk_icon" !important;
}