@charset "utf-8";

.el-form {
	height: calc(100% - 100px);
	padding-bottom: 0px;
	overflow-y: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;	
	max-width: 1500px;
}
.el-form>*{	
	width: 600px;	
	margin: 0px 10px 10px 0px;
}



.el-card__header *[icon]::before {
	font-size: 20px;
}

/*底部按钮区*/
#footer-box {
	background-color: #fff;
	width: 1220px;
	height: 50px;
	padding: 0px;
	box-sizing: border-box;
	text-align: right;
}