@charset "utf-8";
.panel {
    width: 100%;
    height: calc(100% - 55px);
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
}

.panel>div:not(:first-child) {
    border: 1px solid #DCDFE6;
    border-top: none;
}

.el-form {
    height: calc(100% - 40px);
    width: 100%;
    margin: 0px;
    padding: 0px;

    overflow: auto;
    box-sizing: border-box;
}

.el-form>div {
    box-sizing: border-box;
    padding: 15px;
}
.el-tabs--border-card {
    box-shadow: none;
    border: none;
}

.el-tabs__content {
    display: none;
}
/*内容输入框*/
.el-form>div.about_editor {
    padding: 0px;
}
.el-form>div.about_editor .tox-tinymce {
	border: none !important;
}
.el-form>div.about_editor .tox-statusbar{
	border: none !important;
}
.about_editor {
    width: 100%;
    height: 100%;
}

/*图片上传*/
.art_logo {
    margin: 0px 0px 0px 20px;
    width: calc(100% - 20px);
    height: calc(100% - 10px) !important;
    overflow: hidden;
}

.art_logo .img_tools {
    height: 30px;
    display: flex;
    line-height: 30px;
}

.art_logo .img_tools+div {
    height: calc(100% - 30px) !important;
    width: 100%;
    overflow: auto;
}

.upload_img_area {
    margin-right: 40px;
}

.upload_img_area * {
    font-size: 14px !important;
}

.upload_img_area .error {
    top: 30px;
    display: table;
    width: 300px;
}

/*附件管理*/
.art_access {
    margin: 10px 20px 0px 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px) !important;
    overflow: hidden;
}

.art_access .file_tools {
    height: 30px;
    display: flex;
    line-height: 30px;
    margin-bottom: 20px;

}

.art_access .file_tools+dl {
    height: calc(100% - 60px) !important;
    width: 100%;
    overflow: auto;
}

.art_access dl, .art_access dd {
    margin: 0px;
    padding: 0px;
}

.art_access dd {
    display: flex;
    line-height: 30px;
    padding: 0px 10px 0px 0px;
    box-sizing: border-box;
    justify-content: space-between;
    color: #999;
}
.art_access dd:hover{
    background-color: #efefef;
}

.art_access dd a span:first-child {
    margin-right: 8px;
}


.art_access dd .el-link::before {
    margin-right: 8px;
}

.filesize {
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}

.upload_file_area {
    margin-right: 40px;
}

.upload_file_area * {
    font-size: 14px !important;
}

.upload_file_area .error {
    top: 36px;
    display: table;
    width: 300px;
}