@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}
.nocontext{
	padding: 30px 20px;
	text-align: center;
	color: #999;
}
	.nocontext icon {
		font-size: 80px;
		margin: 20px;
		color: #fd9a9a;
	
	}
.nocontext a{
	margin: 15px 0px;
	display: block;
}
.footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}