<?xml version="1.0" encoding="utf-8"?>
<Config>
  <ConnectionStrings>
    <items>Data Source=.;Initial Catalog=examweisha_dev;User ID=sa;password=Sa123456;</items>
    <items>Data Source=192.168.1.212;Initial Catalog=examweisha;User ID=sa;password=sa;</items>
    <items>Data Source=.;Initial Catalog=Quesbank;User ID=sa;password=Sa123456;</items>
    <items>Data Source=.;Initial Catalog=examweisha;User ID=sa;password=Sa123456;</items>
  </ConnectionStrings>
  <EntityFolder>E:\SourceCode\01_LearningSystem\培训考试系统\Song.Entities</EntityFolder>
</Config>