<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script type="text/javascript" src="../Scripts/webdesk.ui.core.js"></script>

</head>

<body>
    <div id="app" v-cloak>
        <el-row :gutter="20" class="theme">
            {{cardset.Lcs_Theme}}
        </el-row>
        <el-row :gutter="20" class="row">
            <el-col :span="8">面额：<span class="weisha_icon money" icon="&#xe624">{{cardset.Lcs_Price}}元</span></el-col>
            <el-col :span="8">数量：{{cardset.Lcs_Count}} 张</el-col>
            <el-col :span="8">已使用：{{cardset.Lsc_UsedCount}} 张</el-col>
        </el-row>
        <el-row :gutter="20" class="row">
            <el-col :span="16">有效期：
                {{cardset.Lcs_LimitStart|date('yyyy-MM-dd')}}
                至
                {{cardset.Lcs_LimitEnd|date('yyyy-MM-dd')}}</el-col>
            <el-col :span="8">学习时长： {{cardset.Lcs_Span}} {{cardset.Lcs_Unit}}</el-col>
        </el-row>
        <el-row :gutter="20" class="row">
            <el-col :span="16">学习卡关联的课程（{{courses ? courses.length : 0}}）：</el-col>
            <el-col :span="8"> <input id="btnPrint" type="button" value="打印" onclick="window.print();" /></el-col>
        </el-row>

        <div class="box-card">
            <div v-for="(c,i) in courses" :key="c" class="item" :title="c.Cou_Name">
                <img v-if="c.Cou_LogoSmall!=''" :src="c.Cou_LogoSmall">
                <img v-else src="/Utilities/Images/cou_nophoto.jpg" />
                <span class="tax">{{i+1}}.</span>
                <span class="name">{{c.Cou_Name }}</span>

            </div>
        </div>
        <div class="qrcode-area">
            <img src="/Utilities/images/used.png" id="used" style="display: none;" />
            <img src="/Utilities/images/disable.png" id="disable" style="display: none;" />
            <dl>
                <dd v-for="(c,i) in cards" :id="'card_'+c.Lc_ID" :code="c.Lc_Code" :pw="c.Lc_Pw"
                    v-bind:used="c.Lc_IsUsed" :disable="!c.Lc_IsEnable">
                    <div class="code">
                        {{c.Lc_Code}} - {{c.Lc_Pw}}</div>
                    <div class="qrcodeimg"></div>
                    <div class="info">
                        学习卡-{{organ.Org_PlatformName}}</div>

                </dd>
            </dl>
        </div>
    </div>


</body>

</html>