<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>新闻</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <page_header @load="(o,c,p)=>{org=o;config=c;platinfo=p;}" @login="acc=>account = acc">loading ...
        </page_header>
        <context>
            <div class="left">
                <div id="artBox">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item><a href="index">资讯</a></el-breadcrumb-item>
                        <el-breadcrumb-item>正文</el-breadcrumb-item>
                    </el-breadcrumb>
                    <template v-if="loading">
                        <div loading="p1"></div>
                        <loading bubble></loading>
                    </template>
                    <template v-else-if="!isempty">
                        <h1 v-if="article.Art_TitleFull==''"> {{article.Art_Title}}</h1>
                        <h1 v-else> {{article.Art_TitleFull}}</h1>

                        <div class="artAttrBar">
                            <span class="artTime">{{article.Art_PushTime|date("yyyy-M-dd hh:m:s")}}
                                ({{article.Art_PushTime.untilnow()}})
                            </span>

                            <span icon="&#xa03a"> {{article.Art_Number}} </span>
                            <el-switch v-model="isformat" active-color="#13ce66" inactive-color="#999"
                                :active-text="isformat ? '格式化' :'未格式化'">
                            </el-switch>
                            <!--<span class="artSharp">分享 </span>  -->
                        </div>
                        <div class="artIntro" remark="摘要" v-if="article.Art_Intro!=''">
                            <span class="tit">摘要：</span>{{article.Art_Intro}}
                        </div>
                        <div class="artImg" v-if="article.Art_Logo!=''">
                            <img :src="article.Art_Logo" />
                        </div>
                        <!--正文 -->
                        <div :class="{'artContext':isformat}" v-html="article.Art_Details">

                        </div>
                        <!--附件 -->
                        <dl id="artAcc" v-if="accessory.length>0" remark="资讯的附件">
                            <dt>
                                <icon>&#xe853</icon>相关附件：
                            </dt>
                            <dd class="accItem" v-for="(data,i) in accessory">
                                <a :href="data.As_FileName" v-if="data.As_FileName!=''" target="_blank" type="link"
                                    :download="data.As_Name">{{(i+1)}} . {{data.As_Name}}</a>
                                <span v-else title="文件不存在">{{(i+1)}} . {{data.As_Name}}</span>
                                <span class="filesize">{{data.As_Size|size}}</span>
                            </dd>

                        </dl>
                    </template>
                    <div class="nocontext" v-else> 当前内容不存在！</div>
                </div>
            </div>
            <div class="right">
                <course v-for="(item, i) in courses" :item="item" :org="org">
                </course>
            </div>
        </context>

        <page_footer :organ="org">loading ...</page_footer>
    </div>


</body>

</html>