<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>新闻</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <page_header @load="(o,c,p)=>{org=o;config=c;platinfo=p;}" @login="acc=>account = acc">loading ...
        </page_header>
        <context>
            <div class="left">
                <div id="artBox">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item><a href="index">资讯</a></el-breadcrumb-item>
                        <el-breadcrumb-item v-if="!isempty">{{column.Col_Name}}</el-breadcrumb-item>
                        <el-breadcrumb-item v-else>(当前栏目不存在)</el-breadcrumb-item>
                    </el-breadcrumb>
                    <loading v-if="loading">loading ...</loading>
                    <template v-else>
                        <div class="articles">
                            <a :href="'article.'+art.Art_ID" v-for="(art,i) in articles" target="_blank">
                                <icon>&#xe649</icon>{{art.Art_Title}}

                                <date>{{art.Art_PushTime|date("yyyy-MM-dd")}} </date>
                            </a>

                        </div>
                        <div id="pager-box" v-if="articles.length>0">
                            <el-pagination v-on:current-change="getArticles" :current-page="query.index"
                                 :page-size="query.size" :pager-count="12"
                                layout="total, prev, pager, next, jumper" :total="total">
                            </el-pagination>
                        </div>
                    </template>
                    <div v-if="isempty" class="null">
                        <icon>&#xe854</icon>
                        <div>(当前栏目不存在)</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <course v-for="(item, i) in courses" :item="item" :org="org">
                </course>
            </div>
        </context>

        <page_footer :organ="org">loading ...</page_footer>
    </div>


</body>

</html>