#vapp {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

icon, icon::before, *[icon]:before {
    font-size: 18px !important;
}

.van-loading {
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 10px;
}

.header_info {
    background-color: #ddece2;

    width: calc(100% - 40px);
    padding: 0px 20px 20px 20px;
    height: 100px;
    line-height: 30px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.ws_avatar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    background-size: cover;
    box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
    transition: all 0.2s;
}


.acc-acname {
    font-size: 14px;
    color: #999;
}

.van-sticky--fixed {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.van-sticky--fixed .header_info {
    height: 20px;
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 12px;
    line-height: 20px;

    box-shadow: none;
}

.van-sticky--fixed .acc_photo {
    width: 20px;
    height: 20px;
}

.van-sticky--fixed .acc-name {
    float: left;
    margin-right: 10px;
}

/*主体内容区*/

.context {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;

    left: 0px;
    z-index: 1;
}

card {
    margin: 20px 20px;
    width: calc(100% - 40px);
}

.van-cell {
    font-size: 16px;
}

button {
    min-width: 80px;
}

.van-cell__value {
    white-space: nowrap;
}

/*绑定手机的区域*/
.phonebind>div {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px; 
    color: #323233;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    height: 60px;
}

.phonebind>div>span:first-child {
    display: block;
    width: 70px;
    line-height: 40px;
    font-size: 16px;
}
.phonebind input{
    font-size: 16px;
    padding: 2px 0px 2px 10px;
}
.phonebind>div[prop='phone'] input {
    flex: 1;
    width: 90px;
}
.phonebind>div[prop='sms'] input {
    flex: 1;
    width: 90px;
}
.sms_handler{
    font-size: 14px;
    width: 100px;
    text-align: center;
    line-height: 40px;
}
.sms_handler span{
    font-size: 14px;
}
.tips {
    background-color: rgba(255, 0, 0, .8);
    box-shadow: 1px 1px 2px rgb(255 0 0 / 80%);
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    width: auto;
    padding: 0px 10px 0px 10px;
    color: #fff;
    border-radius: 4px;
    display: none;
    left: 800px;
    bottom: 2px;
    transition: left 0.6s;
    z-index: 10;
}
.login_error .tips {
    display: block;
    transition: left 0.6s;
    left: 80px;
    position: absolute;
}
.login_error input {
    border: solid 1px #ff7d7d !important;
    box-shadow: 0px 0px 10px #ff0000, 0px 0px 10px rgba(255, 0, 0, .8) inset !important;
}
