@charset "utf-8";
/*编辑框*/
.about_editor {
	width: 100%;
	height: calc(100% - 50px);
}

.about_editor .vue-html5-editor {
	width: 100%;
	height: 100%;
}

.about_editor .vue-html5-editor .content {
	width: 100% !important;
	height: 100% !important;

}
.footer{
	text-align: left;
	display: block;
}