<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>专业/学科</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="新增,更新数据,展开/折叠" ref='btngroup' path="Modify" @update_data="update_statdata"
                @fold_open="fold=!fold" width="600" idkey='Sbj_ID' height="500"></btngroup>
            <query_panel :model="form" :loading="loading">
                <el-form-item label="">
                    <el-tag type="success">
                        <icon>&#xe750</icon>总计 {{total}} 个专业
                    </el-tag>
                </el-form-item>
                <el-form-item label="">
                    <el-input v-model="filterText" clearable style="width:160px" placeholder="搜索"
                        suffix-icon="el-icon-search"></el-input>
                </el-form-item>
            </query_panel>

        </div>

        <div class="tree-box">
            <el-tree ref="tree" :data="datas" node-key="Sbj_ID" ref="tree" :props="defaultProps" expand-on-click-node
                :filter-node-method="filterNode" @node-drag-end="handleDragEnd" :expand-on-click-node="false" draggable
                @node-expand="nodeexpand" @node-collapse="nodecollapse" :default-expanded-keys="expanded"
                v-loading="loading || loading_sumbit">
                <div class="custom-tree-node" slot-scope="{ node, data }">
                    <span class="tree-node draghandle">
                        <span>{{data.serial}}</span> &nbsp;
                        <icon v-if="data.Sbj_LogoSmall!=''" style="font-size: 18px;" @mouseover="hoverlogo(data)"
                            @mouseout="$dom('.logoSmall').hide()">&#xe672</icon>
                        <img :src="data.Sbj_LogoSmall" v-show="false" class="logoSmall" :id="'logo_'+data.Sbj_ID" />
                        <span class="large" v-html="showsearch(data.Sbj_Name,filterText)"></span>
                        <span class="sbjcount" v-if="data.calcChild>0">({{data.calcChild}})</span>
                    </span>
                    <div class="column_count">
                        <icon title="课程数" course :zero="data.CourseCount<=0">{{data.CourseCount|commas}}</icon>
                        <icon title="试题数" question :zero="data.QuesCount<=0">{{data.QuesCount|commas}} </icon>
                        <icon title="试卷数" test :zero="data.TestCount<=0">{{data.TestCount|commas}} </icon>
                    </div>
                    <div class="column_state">
                        <b class="el-icon-loading" v-if="loadingid==data.Sbj_ID"></b>
                        <template v-else>
                            <el-tag :type="data.Sbj_IsUse ? 'success' : 'info'" @click="changeState(data,'Sbj_IsUse')">
                                {{data.Sbj_IsUse ? '启用' : '禁用'}}</el-tag>
                            <el-tag :type="data.Sbj_IsRec ? '' : 'info'" @click="changeState(data,'Sbj_IsRec')">
                                {{data.Sbj_IsRec ? '推荐' : '默认'}}</el-tag>
                        </template>
                    </div>

                    <div class="column_btn">
                        <el-link type="primary" size="mini" icon="el-icon-edit" @click="modify(data)">
                            编辑
                        </el-link>
                        <el-popconfirm title="确定删除吗？" @confirm="remove(node, data)">
                            <el-link type="danger" icon="el-icon-delete" slot="reference">
                                删除
                            </el-link>
                        </el-popconfirm>
                    </div>
                </div>

            </el-tree>
        </div>

    </div>


</body>

</html>