@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
	
}
#main {
	position: fixed;
	top: 0px;
	bottom: 60px;
	width: 100%;
	overflow: scroll;
}
.photo img {
	width: 100%;
	min-height:120px;
	max-height:160px;
	height:auto;
}
#Context{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height:auto;
}
/*课程名称*/
.couName{
	font-weight: bold;
	line-height: 25px;
	color: #333;
}
.info{
	color: #999;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
/*主菜单*/
.mainmenuBox
{
	width: 104%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #E6E6E6;
	background-color: #FFF;
	margin-left: -2%;
	display:table;
}
.mainmenuBox .mm-item {
	float: left;
	width: 25%;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 90px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	background-color: #FFF;
	display:table;
}
.mainmenuBox .mm-ico{
	font-size: 45px;
	line-height: 50px;
	font-style: normal;
	text-align: center;
	display: block;
	width:100%;
	margin-top:10px;
	margin-bottom:5px;
}

.mainmenuBox .mm-item span{
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #666666;
	text-decoration: none;
	position: relative;
	text-align: center;
	display: block;
	font-size:14px;
}
.mui-inner-wrap{
	padding-bottom:60px;
}
.right{
	margin-right:20px;
}