@charset "utf-8";

.pageItem {
	height: 30px;
	line-height:30px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #EFEFEF;
	margin-top: 10px;
	
}

