@charset "utf-8";
*{   
	font-family: "黑体";
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
}  
input, textarea {      
     -webkit-user-select:auto; /*webkit浏览器*/     
}  
body{
	margin:0px;
	padding:0px;
}
.context
{
	overflow-x: hidden !important;
	overflow-y: auto !important;
}
#noQues{
	text-align: center;
	margin-top: 30px;
}
.context .contextbox {

	margin: 0px !important;
}
.topBpx .item {
	border: 2px solid #dedede;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius: 18px;            /* W3C syntax */	
	font-size: 13px;
	line-height: 30px;
	color: #333333;
	text-align: center;
	height: 30px;
	margin-top: 6px;
	display: block;

}
.nav-left{
	color: #999 !important;
	line-height:30px !important;
	width:30px;
}
.topBpx span.ico {
	font-family:"iconfont" !important;
	font-size:14px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 3px;
}

.showTxt {
	
	font-size: 13px;
	color: #666666;
	text-align: center;
}
/*字体大小增减*/
.fontoper{
	font-size: 25px;
	line-height:20px;
	width:20px;
	height:20px;
	text-align:center;
	cursor:pointer;
	float:right;	
}
.submitError {
	border: 2px solid #dedede;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:18px;            /* W3C syntax */
	
	font-size: 13px;
	line-height: 30px;
	color: #000000;
	text-align: center;
	height: 30px;
	margin-top: 6px;
}
#indexNum {
	font-size: 14px;
}

/*提交按钮*/
#btnSubmit {
	background-color:#DFFFEF;
	color: #009cff;
	border: 1px solid #009cff;
}
#quesArea {
	position: relative;
}
.quesItem {
	float: left;
	overflow-x:hidden;
	overflow-y:auto;
    position : relative; 
	webkit-overflow-scrolling: touch;	
}
.quesItem img{
	max-width:100%;
	margin:auto;
}
.quesBox {
	margin: 10px;
	position: relative;
	height:auto;	
	
}

.quesBox .quesTitle {
	background-color: #009cff;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:10px 10px 0px 0px;	
	padding: 10px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	color: #FFFFFF;
}
.quesBox .quesTitle *{
	
	font-size: 15px;
	color: #FFFFFF;
	background-color: transparent !important;
	word-wrap: break-word;
    word-break: normal;
	
}
.quesBox .quesItemsBox {
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:0px 0px 10px 10px;	
	font-size: 15px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	min-height:150px;
}
.quesBox .quesItemsBox .answer {		
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	overflow: auto;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	min-height:30px;
}
.quesBox .quesItemsBox .answer *{
	font-size: 16px !important;
	line-height: 30px;
}
.answer .type{
	color: #666666;
	margin-right: 5px;	
}
.answer img{
	max-width:90%;
}
.answerSel{
color: #0099FF;
}
.answerSel .type{
	color: #0099FF;
	margin-right: 5px;
}
#quesType span {
	font-size: 14px;
}
.ctlBtn .btn {
	border: 2px solid #dedede;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:18px;            /* W3C syntax */
	
	font-size: 13px;
	line-height: 30px;
	color: #000000;
	text-align: center;
	height: 30px;

}

.ctlBtn .btn span {
	font-family:"iconfont" !important;
	font-size:14px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 3px;
}
.textbox4 {
	
	font-size: 16px;
	line-height: 25px;
	height: 125px;
	width: 100%;
	border: 1px solid #999999;
	margin-top: 3px;
}
.textbox5 {
	
	font-size: 16px;
	line-height: 25px;
	height: 25px;
	width: 50% !important;
	border: 1px solid #999999;
	margin-top: 3px;
}
.IsCollect
{
	color:#FF0000 !important;
}

/*回答正确*/
.correct
{
	background-image: url(../Images/ok1.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #CEFE94;
}
/*回答错误*/
.error{
	background-color: #FFCECE;
}
/*试题下方显示的正确答案*/
.quesAnswerBox{
	margin: 10px;
	border-radius: 10px;
	border: 1px solid #CCC;
	padding:10px;
	display:none;
	min-height:100px;
	height:auto;
}
.quesAnswerBox .quesAnswerTitle{
	line-height: 25px;
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;	
}
.quesAnswerBox .quesAnswerContent{
	line-height: 35px;
	min-height: 35px;

}

/*答题卡*/
#btnCard .examico{
	font-size: 22px;
	font-weight: normal;
}
#cardBox {
	position: absolute;
	background-color: #efefef;
	z-index: 100;
}
#cardBoxTitleBar {
	line-height: 37px;
	height: 37px;
	border-bottom-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFFFFF;
}
#cardBoxTitle {
	line-height: 37px;
	float: left;
	width: 80%;
	text-indent: 10px;
}
#cardBoxColse {
	line-height: 37px;
	text-align: center;
	float: right;
	height: 37px;
	width: 40px;
	color: #990000;
}

#cardLittle {
	position: absolute;
	background-color: #efefef;
	z-index: 100;
}
#cardBoxInner {
	margin-top: 10px;
	margin-left: 10px;
	overflow: auto;
}
#cardBox .typeName {
	margin-bottom: 5px;
	margin-top: 10px;
	width: 100%;
}
#cardBox dl {
	width: 100%;
	min-height: 20px;
	display: table;
	margin:0px !important;
}
#cardBox dl dd{
	line-height: 30px;
	text-align: center;
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 8px;
	margin-right: 8px;
	margin-left:0px;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	background-color: #FFFFFF;
	border-radius: 50%;
	
}
#cardBox dl dd.answer{
	background-color: #0099FF;
	color: #FFFFFF;
}
#cardBox dl dd.curr{
	color: #060;
	background-image: url(../Images/tk_exam.png);
	background-repeat: no-repeat;
	background-position: -67px -225px;
	background-color: #6F9;
	box-shadow: 0 -1px 2px #ccc, 0 3px 1px rgba(0, 0, 0, 0.3);
}
#cardBox dl dd.succ{
	background-color: #0099FF;
}
#cardBox dl dd.error{
	background-color:#F30;
	color: #FFFFFF;
}
