@charset "utf-8";
#Context{

}
#artArea {
	margin-right: auto;
	margin-bottom: 20px;
	display: table;
	width:1200px;
}

#articleNavi {
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
#articleNavi, #articleNavi a
{
	height: 40px;
	font-size: 14px;
	color: #0066CC;
	
}
#artArea #artBox {
	margin-top: 20px;
	min-height: 1000px;
	padding: 50px;
	width: 850px;
	float: left;
	border: 1px solid #999;
}
.artRight{
	float: right;
	min-height: 500px;
	width: 220px;
	margin-top: 20px;
}
#artArea #artBox .artTitle {
	font-size: 25px;
	line-height: 40px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu;
}

#artArea #artBox .artAttrBar {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#artBox .artAttrBar span {
	font-size: 13px;
	color: #666666;
	margin-right: 10px;
}
.bdsharebuttonbox {
	width: 150px !important;
	display: block;
	float: right;
}

#artIntro {
	margin-top: 10px;
	margin-bottom: 30px;
}
#artIntro .tit {
	font-weight: bold;
}

#artIntro, #artIntro  span, #artIntro div ,#artIntro *{
	font-size: 18px !important;
	line-height: 36px !important;
}
#artBox #artImg {
	text-align: center;
	100%;
}

#artBox #artImg img {
	max-width:100%;
}

#artContext, #artContext  span, #artContext div ,#artContext p,#artContext font,#artContext strong{
	font-size: 18px !important;
	line-height: 36px !important;
	
	font-family: "Hiragino Sans GB","Microsoft Yahei",arial,\5b8b\4f53,"Helvetica Neue",Helvetica,STHeiTi,sans-serif  !important;;
	background-color:transparent !important;
}
#artContext p{
	margin-top: 10px;
	margin-left: 10px;
	text-indent: 2em;
}
#artContext img{
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
}
.img-box{
	text-align: center;
}
#artAcc .accItem .filesize {
	font-size: 13px;
	color: #666666;
	margin-left: 15px;
}
#artAcc {
	margin-top: 20px;
	margin-bottom: 20px;
}

#artAcc dt {
	font-size: 15px;
	font-weight: bold;
}
#artAcc dd, #artAcc dd a {
	font-size: 15px;
	line-height: 22px;
	color: #069;
}
.artNavi {
	line-height: 40px;
	height: 40px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding-top: 20px;
	width:952px;
}
.artNavi *, .artNavi  a{
	font-size: 15px;
	line-height: 25px;
	color: #333333;
	
}
.artNavi .artPrev {
	float: left;
	width: 50%;
}
.artNavi .artNext {
	float: right;
	width: 50%;
	text-align: right;
}
/*热门课程*/
.course-item{
	float: left;
	height: 160px;
	width: 220px;
	margin-bottom: 50px;
}
.cour-img{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.cour-img img{
	width: 220px;
	height:125px;
}
.cour-img:hover{
	
}
.cour-img:hover img{
	width: 216px;
	height:121px;
	border: 2px solid #fff;
	filter: alpha(Opacity=85);
	-moz-opacity: 0.85;
	opacity: 0.85;
}
.cour-name{
	line-height: 20px;
	color: #333;
	display: block;
	height: 40px;
	text-align: left;
	font-size: 15px;
	overflow: hidden;
}
.cour-name:hover{
	color: #188eee;
}
.cour-price{
	font-size: 15px;
	line-height: 30px;
}
.cour-price .free{
	color: #090;
	float: left;
}
.cour-price .cou-sbj{
	color: #999;
	float: right;
}
.cou-count{
	padding-top: 1px;
	padding-left: 20px;
	background: url(../images/sl.gif) 0 8px no-repeat;
	height: 25px;
	color: #666;
	float: left;
	margin-left: 10px;
}
/*课程价格*/
.money{
	color: #F60;
	float: left;
	font-size: 16px;
}
.money-ico{
	font-size: 18px;
	margin-right: 5px;
}
.p-num,.p-span,.p-unit{
	font-size: 12px;
}