@charset "utf-8";

#couHead {
	height: 400px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#couHead .headRight {
	float: right;
	height: 355px;
	width: 540px;
	position:relative;
}
#couHead .headRight span {
	font-size: 16px;
	line-height: 25px;
}
#couHead .photo {
	float: left;
	height: 360px;
	width: 644px;
}
#couHead .photo img {
	height: 350px;
	width: 616px;
	margin-top: 5px;
	margin-left: 5px;
	background-position: center top;
	background-size: 100% !important
}
#couHead .headRight .couName {
	font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu;
	font-size: 30px;
	line-height: 50px;
	font-weight: bolder;
	color: #000000;
	display: table;
}
#couHead .headRight .couIntro {
	font-size: 16px;
	line-height: 25px;
	max-height: 75px;
	margin-top: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.couIntro *, .couIntro a, .couIntro p, .couIntro div {
	font-size: 16px !important;
	line-height: 25px;
	color: #333333 !important;
	word-wrap:break-word;
	word-break:break-all;
}
#couHead .headRight .couTeacer {
	font-size: 16px;
	line-height: 25px;
	height: 25px;
}
#couHead .headRight .couNum {
	font-size: 16px;
	line-height: 25px;
	height: 25px;
}
.money {
	color: #e85308;
	margin-right: 10px;
	background-color: #ddd;
	padding-right: 3px;
	padding-left: 3px;
}
.moneyfree span {
	color: #060;
}
.money * {
	color: #e85308;
}
.couBtnBox {
	height: 50px;
	width: 100%;
	position:absolute;
	bottom: 0;	
}
#couHead .headRight .couBtn {
	background-image: url(../Images/btnBg.jpg);
	background-repeat: repeat-x;
	height: 50px;
	width: 45%;
	text-align: center;
	float: left;
	margin-right: 5%;
}
.couBtn, .couBtn a {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 22px;
	line-height: 50px;
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	background-color: #188eee;
	text-decoration: none;
}
.couBtn a:hover {
	background-color: #50A9F1;
}
#Context #details {
	width: 1200px;
}
#LeftBox {
	width: 900px;
	float: left;
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #CCCCCC;
}
.itemList {
	display: table;
}
#LeftBox .boxBar {
	width: 98%;
}
#RightBox {
	float: right;
	width: 290px;
}
.box {
	float: right;
}
.boxBar {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	height: 60px;
	margin-bottom: 20px;
	width: 280px;
}
.title {
	font-size: 20px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 8px;
	color: #333;
	margin-bottom: 15px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #0387d9;
	width: 150px;
	margin-top: 15px;
	cursor: pointer;
	text-align: center;
}
.titOver {
	padding-bottom: 5px;
	padding-top: 8px;
	color: #333;
	margin-bottom: 15px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0387d9;
	width: 150px;
	text-align: center;
	margin-top: 15px;
}
.boxBar .more {
	float: right;
	height: 30px;
	width: 60px;
	line-height: 30px;
	margin-top: 25px;
}
.boxBar .more a {
	color: #0387d9;
}
.nolist {
	display: table;
	margin-top: 20px;
}
.item1 {
	font-size: 15px;
	line-height: 30px;
	height: 25px;
	margin-left: 20px;
}
.item2 {
	font-size: 15px;
	line-height: 30px;
	height: 30px;
	margin-left: 50px;
}
.itemName {
	float: left;
	min-height: 30px;
	width: 580px;
	line-height: 30px;
	font-size: 14px;
}
.study {
	line-height: 25px;
	height: 23px;
	text-align: left;
	margin-top: 2px;
	margin-right: 20px;
	cursor: pointer;
	color: #333333;
}
.item {
	height: 35px;
	display: table;
}
.item img {
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 7px;
	margin-right: 5px;
}
.noTime {
	color: #999999;
	float: right;
	line-height: 35px;
	white-space: nowrap;
	float: right;
	height: 35px;
	width: 55px;
	overflow: hidden;
	margin-left: 5px;
	text-overflow: ellipsis;
	background-repeat: no-repeat;
	background-position: 0px 8px;
}
.item .noItem {
	width: 290px;
	float: left;
}
.item a {
	font-size: 14px;
	color: #333333;
	white-space: nowrap;
	display: block;
	width: 200px;
	overflow: hidden;
	line-height: 35px;
	height: 35px;
	float: left;
	text-overflow: ellipsis;
}
.item .noItem a:hover {
	font-size: 14px;
	text-decoration: underline;
}
#teacher {
	height: 125px;
	background-color: #F0F0F0;
	margin-top: 0px;
	width: 280px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.thImg {
	height: 125px;
	width: 100px;
	float: left;
	margin-right: 10px;
	background-position: center;
}
.thRight {
	float: left;
	width: 100px;
	height: 125px;
	margin-left: 20px;
}
.thRight .thTop {
	font-size: 15px;
	line-height: 20px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.thRight .signature {
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	width: 270px;
	height: 100px;
	margin-top: 10px;
	overflow: hidden;
}
.thTop .thName, .thTop .thName a {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 18px;
	line-height: 25px;
	color: #333333;
	float: left;
	width: auto;
	margin-right: 5px;
}
.thTop .thTitle {
	float: left;
	width: auto;
	font-size: 14px;
	margin-top: 5px;
}
/*知识库*/
#knlArea {
	height: auto;
	display: table;
	width: 100%;
}
#knlframe {
	overflow-y: auto;
	overflow-x: hidden;
}
#knlArea #knlleft {
	float: left;
	width: 25%;
	margin-top: 5px;
	border: 1px solid #CCCCCC;
}
#knlArea #knlleft #leftInnert {
	margin: 10px;
}
#knlArea #knlright {
	float: right;
	width: 70%;
	margin-top: 5px;
}
#knlArea #knlleft .sortTitle {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
	line-height: 40px;
	color: #FFFFFF;
	background-color: #fe5842;
	height: 40px;
	text-indent: 20px;
}
/*章节列表*/
.outline {
}
.indent {
	margin-left: 20px;
}
.outline a, .outline span {
	margin-left: 8px;
	line-height: 30px !important;
	color: #333;
	font-size: 14px !important;
}
/*课程介绍*/
.introBox{
	width:96%;
	margin-right: auto;
	margin-left: auto;
}
.introBox, .introBox *{
	font-size: 14px !important;
	line-height: 25px !important;
	word-wrap:break-word;
	word-break:break-all;
}
.introBox p{
	text-indent: 2em;
	margin-bottom: 1em;
}
.introBox img{
	max-width: 95%;
	margin-right: auto;
	margin-left: auto;
}
/*课程公告*/
.guides {
}
.guides li a {
	font-size: 16px;
	line-height: 25px;
}
.box .title {
	text-align: left;
}
/*学员*/
.studentbox {
}
.studentbox li {
	font-size: 16px;
	line-height: 30px;
	list-style-type: none;
	float: left;
	width: 48%;
	margin-bottom: 5px;
}
.stPhoto {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #CCC !important;
	float: left;
	display: inlineblock;
	margin-left: 1%;
	margin-right: 5px;
	background-size: 100% !important;
}
