@charset "utf-8";

/*主体区域*/
.contextbox{
	min-height: 800px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	display:table;	
}
.course-row{
	height: 460px;
	width: 1200px;
	margin-top: 30px;
}
.row-left{
	float: left;
	height: 460px;
	width: 220px;
}
.row-left .row-sbjname, .row-sbjname a{
	font-size: 22px;
	line-height: 25px;
	height: 40px;
	font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu;
	color: #333;
	text-decoration: none;
}
.row-left .row-sbjname a{
}
.row-left .row-sbjname a:hover{
	color: #666;
}
.row-right{
	float: left;
	height: 460px;
	width: 980px;
	
}
.row-right-tit{
	height: 40px;
	width: 980px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCC;	
}
.row-right-tit .tititem, .tititem a{
	float: left;
	font-size: 15px;
	line-height: 40px;
	font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu;
	text-align: center;
	width: auto;
	cursor: pointer;
	height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	color: #333;
	text-decoration: none;
}
.row-right-tit .titleOver, .titleOver a{
	color: #188eee;
	border-bottom-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #188eee;
	height: 40px;
}
.course-area{
	height: 418px;
	margin-top: 2px;
	
}
.cour-panel{
	display:none;
}
.course-item{
	float: left;
	height: 160px;
	width: 220px;
	margin-top: 20px;
	margin-left: 25px;
	margin-bottom: 30px;
}
.cour-img{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.cour-img img{
	width: 220px;

}
.cour-img:hover{
	
}
.cour-img:hover img{
	box-shadow: 0 1px 2px rgba(0, 0, 0, .8);
	opacity: 0.85;
}
.cour-name{
	line-height: 20px;
	color: #333;
	display: block;
	height: 40px;
	text-align: left;
	font-size: 15px;
	overflow: hidden;
}
.cour-name:hover{
	color: #188eee;
}
.cour-price {
	font-size: 15px;
	line-height: 30px;
	height:30px;
	position:relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	text-align:left;
}
.cour-price .free {
	color: #090;	
}
.cour-price .cou-sbj {
	color: #999;
	float:right;	
}
.cou-count {
	padding-top: 1px;
	padding-left: 20px;
	background: url(../images/sl.gif) 0 2px no-repeat;
	height: 25px;
	color: #666;
	margin-left: 10px;
	margin-top:0px;
}
/*课程价格*/
.money{
	color: #F60;
	float: left;
	font-size: 16px;
}
.money-ico{
	font-size: 18px;
	margin-right: 5px;
}
.p-num,.p-span,.p-unit{
	font-size: 12px;
}
