@charset "utf-8";
body{
	text-align:left;
}
.noinfo{
	text-align:center;
	line-height:30px;
	margin-top:30px;
}
td, th {
	text-align: center;
	font-size: 14px;
	line-height: 20px;
}
div, p, td {
	font-size: 14px;
	line-height: 20px;
}
.pagerTitle {
	font-family: "黑体";
	font-size: 18px;
	line-height: 25px;
	color: #0066FF;
	text-align: center;
	margin-top: 10px;
}
.info {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	margin-left: auto;
	width: 90%;
	margin-right: auto;
}
.scoreinfo {
	font-size: 14px;
	line-height: 35px;
	color: #000000;
	margin-left: auto;
	width: 90%;
	margin-right: auto;
}
.scoreinfo .score {
	font-family: "黑体";
	font-size: 21px;
	line-height: 35px;
	font-weight: bold;
	color: #FF0000;
}
.scoreinfo .total {
	font-weight: bold;
	color: #0066FF;
}
.scoreinfo .pass {
	color: #FF3300;
}
#detailsTable {
	margin-right: auto;
	margin-left: auto;
}
#detailsTable th {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #CCCCCC;
}
.sum td {
	background-color: #FFFFCC;
}
/*试题详情*/
#quesBox
{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	display: table;
	margin-bottom: 30px;
}.quesSelectBox {
	margin-left: 15px;
}
#quesTitle {
	font-family: "黑体";
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	height: 30px;
	margin-top: 15px;
}

.typeName {
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	margin-top: 10px;
	background-color: #FFFFCC;
	text-indent: 20px;
	font-weight: bold;
}
.qitemBox {
	border: 1px solid #FF9900;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.qusTitle {
	font-size: 14px;
	line-height: 18px;
	display: table;
	margin-bottom: 10px;
	margin-top: 10px;
}
.qusTitle img{
	max-width:100% !important;
}
#quesBtnBox {
	float: right;
	height: 25px;
	width: 620px;
}
.btn {
	float: left;
	height: 25px;
	width: 140px;
	margin-right: 5px;
	cursor:pointer;
	text-align: right;
	color: #0066CC;
}


/*答题正确*/
.ansState0 {
	background-color: #93D3FF;
}
/*答题错误*/
.ansState1 {
	background-color: #FFBBCC;
}

/*没有答题*/
.ansState2 {
	background-color: #CCCCCC;
}
