@charset "utf-8";
#bodyTop {
	background-image: url(../Images/knowledges-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
#Context #left {
	float: left;
	width: 240px;
	margin-top: 30px;
	border: 1px solid #CCCCCC;
}
#Context #left #leftInnert {
	margin: 10px;
}

#Context #right {
	float: right;
	width: 720px;
	height: 1050px;
	margin-top: 30px;
}
#Context #left .sortTitle {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
	line-height: 40px;
	color: #FFFFFF;
	background-color: #fe5842;
	height: 40px;
	text-indent: 20px;
}
