@charset "utf-8";
.contextbox{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.title
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	height: 35px;
	margin-top: 20px;
}
.ltIntro
{
}

.details *
{
	line-height: 25px;
}
.details p{
	text-indent: 20px;
	margin-bottom: 10px;
}
.plAcc
{
	margin-top: 20px;
}
pre{
	background-color: #FFFFCC;
	padding: 5px;
	border: 1px solid #CCCCCC;
}