@charset "utf-8";
body
{
	margin:0px;
	padding:0px;
	text-align: center;
	font-size: 14px;
}
#bodyTop {
	background-image: url(../Images/test-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
.right {
	text-align: right;
}

body td{
	text-align: left;	
}
