@charset "utf-8";
#bodyTop {
	background-image: url(../Images/test-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 200px;
	width: 100%;
}
#TitleBar {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
	color: #000000;
	background-image: url(../Images/icon1.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	height: 40px;
	margin-top: 25px;
	text-indent: 45px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	margin-bottom: 20px;
}

#subject, #course {
	height: 30px;
	width:100% !important;
}
.subject, .course {
	height: 30px;
	width:100% !important;
}
#Context #selectArea {
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	padding-bottom: 20px;
}

.selectBar {
	display: table;

}
.selectLeft {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	line-height: 30px;
	text-align: right;
	float: left;
	height: 30px;
	width: 100px;
	font-size: 15px;
}

.selectRight {
	float: left;
	width: 880px;
}
#subject .subjectItem {
	float: left;
	height: 30px;
	width: auto;
	margin-right: 10px;
	line-height: 30px;
	
}
#subject .subjectItem a{
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
	color: #333333;
}

/*专业选中项*/
#Selected .selectedItem {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 15px;
	line-height: 24px;
	height: 24px;
	border: 1px solid #CCCCCC;
	float: left;
	padding-right: 5px;
	padding-left: 8px;
	margin-top: 3px;
	white-space: nowrap;
	width: auto;
}
#Selected .selectedItemOver
{
	border: 1px solid #0387d9;
}
#Selected .selectedItem  .name{
	float: left;
	padding-right: 8px;
	color: #0387d9;
}
#Selected .selectedItem  .close{
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -209px -237px;
	float: left;
	height: 8px;
	width: 8px;
	cursor:pointer;
	margin-top: 8px;
}
#Selected .selectedItem  .closeOver{
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -217px -237px;
	cursor:pointer;
}#testListBox dl {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	display: table;
}
#testListBox dd {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	height: 200px;
	width: 1200px;
}
.imgBox {
	height: 200px;
	width: 200px;
	border: 1px solid #CCCCCC;
	float: left;
}
.imgBox img {
	height: 196px;
	width: 196px;
	margin-top: 2px;
	margin-left: 2px;
}

#testListBox .testRight {
	float: left;
	height: 200px;
	width: 945px;
	margin-left: 30px;
}
.title {
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 25px;
	line-height: 50px;
	height: 50px;

	font-weight: bold;
	color: #333333;
	white-space: nowrap;
	overflow: hidden;
}
.row {
	font-size: 16px;
	line-height: 25px;
	color: #333333;
	height: 25px;
}
.row div {
	float: left;
	width: 200px;
}


.row *{
	font-size: 16px;
	line-height: 25px;
	color: #333333;
	height: 25px;
}
.testRight .intro {
	height: 60px;
	overflow: hidden;
	margin-bottom: 10px;
}
.intro, .intro p, .intro a, .intro div, .intro span{
	font-size: 15px;
	line-height: 20px;
	color: #333333;
}
.btnBar .btn {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-top: 20px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	cursor:pointer;
}
.btnBar .btn a
{
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 10px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	cursor:pointer;
}