/*用于固定登录框*/
#loginArea {
	position: absolute;
	top: 180px;
	width: 100%;	
	height:100px;
	z-index:10;
	text-align:center;
}
#loginArea .loginArea-inner
{
	width:1200px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}
#loginBox {
	height: 320px;
	width: 300px;
	border: 1px solid #CCCCCC;
	right:0px;
	position:absolute;	
}
#loginBoxBack {
	height: 320px;
	width: 300px;
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity=60);
	right:0px;
	position: absolute;
	margin-top: 1px;
	margin-right: 1px;
}
#loginBox .width {
	width: 250px;
}
/*禁止登录的提示*/
.noLogin {
	font-size: 16px;
	line-height: 200px;
	text-align: center;
}
/*错误信息的提示框*/
.errTextbox {
	background-color: #FFC4C4;
	border: 1px solid #0387d9 !important;
}
.loginRow label {
	margin-left: 10px;
	margin-right: 50px;
}
.lbar {
	height: 30px !important;
}
#loginBox .loginBar {
	height: 50px;
}
.loginBar .loginTitle {
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 150px;
	cursor: pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity: 0.6;
	filter: alpha(opacity=60);
	background-color: #CCCCCC;
	color: #333333;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #eee;
}
.loginTitle a {
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	color: #333333;
	text-decoration: none;
	display: block;
}
.loginTitleCurr {
	color: #0387d9;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 150px;
	cursor: pointer;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	letter-spacing: 0.15em;
	opacity: 1;
	filter: alpha(opacity=100);
	font-weight: bold;
}
.loginTitleCurr a {
	color: #666666;
	font-size: 16px;
	line-height: 50px;
	text-decoration: none;
	display: block;
	cursor: default;
	
}
.loginTitleCurr a b {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../../images/icon-1.png) no-repeat;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	line-height: 35px;
	background-position: -206px -199px !important;
}
.loginArea form {
	margin: 10px;
}
#loginBox .textbox {
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	float: left;
}
.loginRow {
	line-height: 40px;
	width: 100%;
	height: 40px;
	margin-bottom: 8px;
	margin-left: 15px;
}
.loginRow .loginRowRight {
	text-align: right;
	float: left;
	width: 80px;
	font-size: 15px;
}
.loginRow .loginRowLeft {
	float: left;
	width: 200px;
}
.verify {
	float: left;
	width: 155px;
}
.verifyCode {
}
.right-btn {
	cursor: pointer;
	height: 40px;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
	width: 88px;
	border: 1px solid #CCC;
	text-align: center;
	background-color: #FFF;
}
.btnBar {
	margin-bottom: 0px;
	height: 30px !important;
}
/*按钮禁用时的效果*/
.disabled {
	background-color: #666 !important;
}
.btnLogin {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 110px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.aRegister {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 110px;
	float: left;
	margin-left: 25px;
	background-color: #009900;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.btnRegister {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 250px;
	float: left;
	margin-left: 0px;
	background-color: #0387d9;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
.btnInManage {
	line-height: 30px;
	text-align: center;
	height: 30px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-left: 10px;
	background-color: #0074cb;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btnLogout {
	line-height: 30px;
	text-align: center;
	display: block;
	height: 30px;
	width: 120px;
	float: left;
	margin-left: 20px;
	background-color: #666666;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.loginArea {
	padding-top: 2px;
}
.isLoginBox {
	font-size: 14px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.login-show {
	color: rgb(51, 51, 51);
	font-size: 16px;
	text-align: center;
	font-family: "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu;
	margin-bottom: 10px;
}
.stLoginPhoto {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-top: 40px;
	margin-left: auto;
	margin-bottom: 10px;
}
.isLoginBox .loginRow {
	text-align: center;
	margin-left: 0px;
	position: absolute;
	bottom: 0;
}
/*倒数，数秒的样式*/
.accss {
	margin-right: 5px;
	margin-left: 5px;
	color: #F00;
}
/*第三方登录*/
.lfootBar {
}
dl.OAuth {
	height: 30px;
	line-height: 30px;
	width: 100%;
	margin-bottom: 8px;
	margin-left: 15px;
}
dl.OAuth dd {
	float: left;
	margin-right: 10px;
}
dl.OAuth dd a {
	display: inline-block;
	position: relative;
	padding-left: 24px;
}
dl.OAuth dd b {
	width: 19px;
	height: 18px;
	display: block;
	background: url(../../images/QQ-weixin.png) no-repeat;
	margin: 0 auto;
	position: absolute;
	float: left;
	left: 0;
	top: 16px;
}
dl.OAuth dd span {
	line-height: 50px;
	color: #333;
}
.QQ-icon {
	background-position: 0 0 !important;
}
.weixin-icon {
	background-position: -20px 0px !important;
}
