@charset "utf-8";
#Context
{
	margin: 5%;
	width: 90%;
}
.title
{
	font-size: 18px;
	font-weight: bold;
	height: 35px;
	margin-top: 20px;
}

.noContext
{
	text-align: center;
	margin-top: 30px;
}
.details{
	line-height: 35px;
}