@charset "utf-8";
html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.el-tabs {
    margin: 20px 20px 20px 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);

}
.el-tabs__content{
    width: calc(100% - 30px);
    height: calc(100% - 70px);
  
}
.el-tabs__content .el-tab-pane{
    width: calc(100% - 0px);
    height: calc(100% - 50px);
}
.vue-html5-editor{
    width: calc(100% - 0px);
    height: calc(100% - 0px);
}
.vue-html5-editor>.content{
    height: calc(100% - 40px) !important;
}
.foot-btn{
    width: calc(100% - 30px);
    height:30px;   
    padding: 15px;
  
}
.foot-btn p{
    float: left;
    font-size: 12px;
}
.foot-btn button{
  float: right;
}