@charset "utf-8";
img.photo {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    border: 1px solid #aaa;
    margin-top: 5px;
    border-radius: 15px;
    margin-right: 10px;
}

.accname {
    line-height: 40px;
}