html,body{
    overflow: hidden;
}
#app {
    margin: 10px 0px 60px 20px;
    padding: 0px 20px 0px 0px;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 70px);
    overflow-y: auto;
}
.el-tree{
    background-color: transparent !important;
    background: transparent !important;
}
.drawer_item {
    width: 50% !important;
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}


.tree_root {
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #606266;
}

.tree_root *:last-child {
    float: right;
    margin-right: 5px;
}

.drawer-title {
    padding: 10px;
    border-bottom: #999 1px solid;
}

.el-link icon{
    font-size: 20px;
    margin-right: 5px;
}
.el-tree-node__content {
    cursor: default !important;
}
.tree-node{
    display: inline-block;
    width: calc(100% - 310px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    border-radius: 3px;
   
}
.tree-node[color] {
    color: attr(color);
}

.tree-node[bold=true] {
    font-weight: bold;
}

.tree-node[italic=true] {
    font-style: italic;
}
.mmlink{
    font-size: 12px;
    margin-left: 10px;
    color: #aaa;
    max-width: 200px;
    display: inline-block;
   
}
.el-checkbox{
    margin-right: 10px;
}
.icon[setup]{
    font-size: 20px;
}

.el-dialog{
    width: 80% !important;
    height: 70% !important;
}
.el-dialog__body{   
    width: calc(100% - 50px) !important;
    height:calc(100% - 100px) !important;
    padding: 10px 10px 10px 20px !important;
    overflow-y: auto;
}
/*底部按钮*/

.btnFooter {
    position: fixed;
    width: calc(100% - 20px);
    height: 33px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    text-align: right;
}