@charset "utf-8";
html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.el-form {
    margin: 10px;
}

.inline .el-form-item__content {
    display: flex;
}

.inline .el-input:not(:last-child) {
    margin-right: 20px;
}