@charset "utf-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: #666;		
}
body{
	background-image: linear-gradient(to bottom right,#999, #ccc, #666);
}
#vapp {
	width: 1200px;
	height: calc(100% - 20px);
	margin: 10px auto;
	position: relative;
	text-align: left;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
/*头部*/
#vapp>header{
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	box-shadow: #aaa;
	border-bottom: 1px solid #e4e7f1;
}
header>div.title {	
	font-size: 21px;	
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-weight: normal;
	box-sizing: border-box;
	padding: 0px 0px 0px 10px;
}
header>div.title icon{
	font-size: 25px;
}
header>div.title .info{
	font-size: 14px;
	line-height: 30px;
	color: #666;
	margin-right: 20px;
}
header>div.title .info span{
	margin-right: 20px;
}
/*学员信息的面板*/
header div.account {
	height: 100%;
	max-width: 300px;
	display: flex;
}

header div.account .ws_avatar {
	width: 80px;
	height: 80px;
	display: block;
	box-shadow: 1px 1px 2px #aaa, 1px 1px 8px #eee, -1px -1px 2px #fff, -1px -1px 8px #aaa;
	border-radius: 50%;
	margin-right: 20px;
}

header div.account>div:last-child {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
content{
	display: flex;
	height: calc(100% - 100px);
	justify-content: space-between;
}
/*右侧答题卡*/

.quesCard {
	width: 320px;	
	position: relative;
	box-sizing: border-box;
	padding: 15px 15px 65px 15px;
	border-left: 1px solid #e4e7f1;
}

.quesCard .cardTit {
	height: 30px;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	justify-content: space-between;
}
.quesCard .cardTit>span:last-child {
	font-size: 14px;
	color: #999;	
}

.quesCard .cardBox {
	height: calc(100% - 30px);
	overflow-y: auto;	
}

.quesCard dl, .quesCard dt, .quesCard dd {
	padding: 0px;
	margin: 0px;
}

.quesCard dl {
	width: 100%;
	display: table;
	margin-bottom: 10px;
}

.quesCard dt {
	padding: 10px 10px 10px 15px;
	box-sizing: border-box;	
}

.quesCard dt span {
	float: right;
	font-size: 14px;
	color: #999;
}

.quesCard dd {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 4px;
	border-radius: 50%;
	border: solid 1px #666;
	float: left;
	font-size: 13px;
	cursor: pointer;
	position: relative;
}

.quesCard dd[ans] {
	background-color: rgb(102, 177, 255);
	color: #fff;
	border: solid 1px rgb(25, 137, 250);
}

.quesCard dd[current] {
	border: solid 1px #67C23A;
	color: #67C23A;
	background-color: rgb(193, 253, 132) !important;
}

.quesCard dd[current]::after {
	content: '\e777';
	font-family: "webdesk_icon" !important;
	font-size: 22px;
	display: block;
	position: absolute;
	bottom: 1px;
	right: -15px;
	width: 20px;
	height: 20px;
	text-align: right;
	color: #67C23A;
}

/*右侧页面底部*/

.quesCard footer {
	height: 44px;
	background-color: rgb(212, 224, 206);	
	position: absolute;
	width: calc(100% - 30px);
	display: flex;
	bottom: 15px;
	z-index: 3;	
	border-radius: 3px;
	line-height: 44px;	
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
}

.quesCard footer div:first-child {
	flex: 2;
}
.quesCard  footer div:last-child {
	flex: 3;
	background-color: #009900;
	color: #fff;	
}

/*试题区*/
div.body {
	display: block;
	position: relative;
	flex: 1;
	overflow: hidden;		
}
/*上一题，下一题*/
.move_btn{
	position: absolute;
	right: 20px;
	top: 15px;
	z-index: 10;
	background-color: #f2f2f2;
}
.move_btn span {
	font-size: 13px;
	cursor: pointer;
}

.move_btn icon {
	font-size: 20px;
	margin: 0px;
}

.move_btn span:first-child {
	margin-right: 15px;
}

section {
	height: 100%;
	background-color: #f2f2f2;
	font-size: 16px;
	z-index: 4;
	position: relative;
	transition: left 0.5s;
}
section dd {
	width: 880px !important;	
}

row {
	display: block;
	position: relative;
	padding: 11px 0px;
	font-size: 15px;
	line-height: 25px;
	overflow: hidden;
}

row::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

row[arrow]::before {
	content: '\e670';
	position: absolute;
	top: 15px;
	right: 8px;
	font-size: 18px;
	font-family: "webdesk_icon" !important;
}

.el-dialog__body {
	padding-top: 0px;
}

/*不能考试的区域*/

.context {
	height: calc(100%);
	background-color: #f2f2f2;
	font-size: 14px;
	width: 100%;
	z-index: 4;
	position: relative;
	transition: left 0.5s;
	overflow-y: auto;
}

/*未登录*/

.acc_photo {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	float: left;
	background-size: cover;
	box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
	transition: all 0.2s;
}

.nophoto {
	background-image: url(/Utilities/images/head1.jpg);
}

/*没有内容的图标*/

.null_icon::before {
	font-size: 65px;
	line-height: 65px;
	display: block;
	color: #999;
}

.null_icon {
	padding: 10px;
	text-align: center;
}

.time_icon::before {
	font-size: 85px;
	position: absolute;
	display: block;
	left: 0px;
	top: 50px;
	color: #999;
	height: 80px;
}

.time_icon {
	position: relative;
	padding: 20px 20px 20px 100px;
	line-height: 30px;
	font-size: 16px;
}







/*一些面板*/

.submitState loading {
	padding-top: 20px;
	padding-bottom: 20px;
}

.submitState .btnEnter {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: darkgreen;
	cursor: pointer;
}

/*预载*/

.loading_paper {
	padding: 20px;
}