
.van-cell {
    font-size: 16px;
}

button {
    min-width: 80px;
}

.van-cell__value {
    white-space: nowrap;
}

/*第三方登录的项*/
.config {
    margin: 10px;
}

.config>div {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 15px 10px;
}

.config>div[disabled] {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}


/*图标与名称*/
.config>div.row {
    display: flex;
    cursor: default;
    padding-right: 85px;
    position: relative;
}

.config>div .name {}

.config>div .name .tagname {
    font-size: 15px;
    font-weight: normal;
    color: #666;
    display: block;
    min-width: 120px;
    text-align: left;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.config>div img {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}
.config>div .name img{
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-top: 0px;
}
.config>div .btns {
    position: absolute;
    right: 0px;
    top: 15px;
    width: 85px;
}
/*第三方账号的信息*/
.thirdparty {  
    margin-top: 5px;
    display: flex;
    text-align: left;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.thirdparty img {
   border-radius: 50%;
}
.thirdparty span{
    font-size: 14px;
    line-height: 20px;
}
.thirdparty icon{
    font-size: 25px !important;
}
