@charset "utf-8";

.context {
    height: calc(100% - 70px);
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.context>.van-button {
    margin: 0px 15px 15px 15px;
    width: calc(100% - 30px);
    box-sizing: border-box;
}

card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*第一排按钮*/
card.first card-content {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
}

.first-row {
    display: flex;
    flex-direction: column;
}

.first-row>div {
    margin: 10px;
}

.first-row>div {
    display: flex;
}

.first-row>div>* {
    flex: 1;
}
.recharge{
    display: flex;
}
.recharge .van-tag {
    padding: 5px 12px;
}
.recharge .van-tag:not(:last-child) {
    margin-right: 10px; 
} 
.money{
    color: #ee0a24;
}
icon[coupon]{
    color: #07c160;
}
icon[point]{
    color: #1989fa;
}

.last-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.last-row>div {
    margin: 0px 10px;
}

card-content>div {
    margin: 10px;
}

card-title icon {
    font-size: 26px;
}

.nolink {
    color: #ccc;
}