.context{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 70px);
}
card{
   flex: 1;
   display: flex;
   flex-direction: column;
}
card-content{
    flex: 1;
    overflow-y: auto;
   
}

.time{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}