@charset "utf-8";

html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

#vapp {
	overflow-y: auto;
}

.header {
	height: 70px;
	position: relative;
	z-index: 1;
	padding: 60px 20px 0px 20px;
	overflow: hidden;
}

.header_info {
	width: 100%;
	height: 60px;
	position: relative;
}

.acc_photo {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	float: left;
	background-size: cover;
	box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.header_info .accInfo {
	width: calc(100% - 80px);
	float: left;
	line-height: 30px;
	position: relative;
	color: #666;
}

.acc-acname {
	font-size: 14px;
	margin: 0px 10px;
}

.acc-acname::before {
	content: '(';
}

.acc-acname::after {
	content: ')';
}

.header .van-row {
	position: relative;
}

.header .van-row::after {
	content: '\e72a';
	font-family: webdesk_icon;
	display: block;
	width: 10px;
	position: absolute;
	right: 0px;
	top: 10px;
	transform: rotate(180deg);
	color: #fff;
	z-index: -1;
}

.header .van-tag {
	padding: 2px 8px;
	margin-right: 10px;
}

.header .acc-money {
	padding: 5px 0px;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.header .acc-money span b {
	font-size: 16px;
	margin: 0px 10px;
	font-weight: bold;
	color: rgb(250, 46, 46);
}

.header .acc-money a {
	line-height: 1;
	display: inline-block;
	padding: 3px 6px;
	border-radius: 100px;
	color: #fff;
	height: 15px;
	background-color: #007aff;
	margin-top: 5px;
}
help{
	box-sizing: border-box;
	padding: 15px 10px 10px 40px;
	display: block;
}
/*列表*/
.van-cell__title {
	display: flex;
	box-sizing: border-box;
	padding: 5px 0px 0px 20px;
}

.account {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	width: 160px;
}
.account>*{
	line-height: 25px !important;
}
.datainfo {
	display: flex;	
	flex-wrap: wrap;
	width: 160px;
}
.datainfo>*{
	margin-left: 15px;
}