@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

#vapp {
	overflow-y: auto;
}

.van-sticky {
	display: none;
}

.van-sticky--fixed {
	display: block;
	width: calc(100% - 30px);
	background-color: #333333;
	color: #fff;
	padding: 10px 15px;
}

.van-sticky--fixed .btnHelp {
	float: right;
}

.header {
	height: 150px;
	width: 100%;
	background-color: #069;
	position: relative;
	padding-top: 50px;
	background-image: url(../Images/MyFriends.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.header>div {
	color: #fff;
	text-shadow: 0px 0px 5px #fff;
}

/*帮助说明按钮*/

.header .btnHelp {
	position: absolute;
	right: 10px;
	top: 5px;
}

/*分享按钮*/

.header .btnShare {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

/*我的朋友*/

.header .btnFriend {
	position: absolute;
	left: 10px;
	bottom: -1px;
	background-color: #efeff4;
	color: #333;
	padding: 5px 30px 5px 15px;
	background: linear-gradient(rgba(239, 239, 244, 0.3), rgba(239, 239, 244, 1));
}

.header .btnFriend span {
	margin-left: 5px;
	margin-right: 5px;
	color: #060;
}

/*内容区*/

.context-box {
	margin: 12px 10px 0px 10px;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	background-color: #FFF;
	padding: 10px;
	position: relative;
	height: 80px;
}

.context-box .context-tit {
	height: 30px;
	margin-top: 2px;
	font-size: 16px;
}

.context-box .context-info {
	height: 20px;
	font-size: 12px;
	color: #999;
}

.context-box .context-number {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 18px;
}

/*分享*/

.share-box {
	margin: 12px 10px 0px 10px;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	background-color: #FFF;
	padding: 20px;
	padding-top: 0px;
	margin-bottom: 10px;
	height: 180px;
}

.share-box .share-tit {
	height: 40px;
	line-height: 40px;
	padding-top: 5px;
	font-size: 16px;
}

.share-box .share-txt {
	float: left;
	margin-top: 20px;
	max-width: 160px;
	margin-left: 20px;
}

.share-box .qrcode {
	float: left;
	width: 120px;
}

.MsgBoxContext .share {
	text-align: center;
}

.MsgBoxContext .qrcode {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
}

.MsgBoxContext .share-txt {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*说明*/

.help-box {
	margin: 12px 10px 0px 10px;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	background-color: #FFF;
	padding: 20px;
	padding-top: 0px;
	margin-bottom: 40px;
}

.explain {
	margin-bottom: 20px;
}

.help-box .help-tit {
	padding: 10px 0px;
	font-size: 16px;
}

.explain * {
	line-height: 25px;
	color: #666;
}

.explain dl {
	margin: 0px;
	text-align: left;
	margin-top: 5px;
}

.explain dl dt {
	margin: 0px;
	text-align: left;
	padding: 5px 0px;
}

.explain dl dd {
	margin: 0px;
	margin-left: 20px;
	text-align: left;
	line-height: 150%;
}

.explain b, .explain s {
	font-weight: normal;
	color: #F60;
	text-decoration: none;
}

.explain b:after {
	content: "积分";
}

.show_box {
	height: 65%;
	width: 80%;
}

.show_box .help-box {
	box-shadow: none;
}
.show_box .share-box {
	box-shadow: none;	
	
}
.show_box .qrcode{
	text-align: center;
	width: 100%;
}
.show_box .qrcode img{
	margin: 0px auto;
	width: 100%;
}
.show_box .share-box .share-txt {

	margin: 20px;	
	width: calc(100% - 40px);
	max-width: calc(100% - 40px);
}