#vapp {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.weisha_icon::before {
    font-size: 20px !important;
}
.van-loading{
    text-align: center;
    padding: 20px;
}
.header_info {
    background-color: #ddece2;  
   
    width: calc(100% - 40px);
    padding: 20px;
    height: 60px;
    line-height: 30px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.acc_photo {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    background-size: cover;
    box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
    transition: all 0.2s;
}

.nophoto {
    background-image: url(/Utilities/images/head1.jpg);
}

.man {
    background-image: url(/Utilities/images/head1.jpg);
}

.woman {
    background-image: url(/Utilities/images/head2.jpg);
}

.acc-acname {
    font-size: 14px;
    color: #999;
}
.van-sticky--fixed{
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.van-sticky--fixed .header_info{
    height: 20px;  
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 12px;
    line-height: 20px;
  
    box-shadow:none;
}
.van-sticky--fixed .acc_photo{
    width: 20px;
    height: 20px;
}
.van-sticky--fixed .acc-name{
    float: left;
    margin-right: 10px;
}
/*主体内容区*/

.context {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;

    left: 0px;
    z-index: 1;
}

card {
    margin: 10px;
    width: calc(100% - 20px);
}

.van-cell {
    font-size: 16px;
}
button{
    min-width: 80px;
}
.van-cell__value{
    white-space:nowrap;
}