#vapp {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

icon, icon::before, *[icon]:before {
    font-size: 18px !important;
}

.van-loading {
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 10px;
}

.header_info {
    background-color: #ddece2;

    width: calc(100% - 40px);
    padding: 0px 20px 20px 20px;
    height: 100px;
    line-height: 30px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.ws_avatar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    background-size: cover;
    box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
    transition: all 0.2s;
}


.acc-acname {
    font-size: 14px;
    color: #999;
}

.van-sticky--fixed {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.van-sticky--fixed .header_info {
    height: 20px;
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 12px;
    line-height: 20px;

    box-shadow: none;
}

.van-sticky--fixed .acc_photo {
    width: 20px;
    height: 20px;
}

.van-sticky--fixed .acc-name {
    float: left;
    margin-right: 10px;
}

/*主体内容区*/

.context {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;

    left: 0px;
    z-index: 1;
}

card {
    margin: 20px 20px;
    width: calc(100% - 40px);
}

.van-cell {
    font-size: 16px;
}

button {
    min-width: 80px;
}

.van-cell__value {
    white-space: nowrap;
}
/*第三方登录的项*/
.config{
    margin: 10px;
}
.config>div {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;   
    padding: 15px 10px;
}

.config>div[disabled] {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}


/*图标与名称*/
.config>div.row{
    display: flex;
    justify-content: space-between;
    cursor: default;
}
.config>div .name {
   
}
.config>div .name .tagname {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    margin-left: 15px;
    display: block;
    min-width: 120px;
    white-space:nowrap;
}

.config>div img {
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}
/*右侧内容*/
.right{
    float: right;
}
.right .phone{
    margin-right: 10px;
}
.null{
    color: #999;
    font-size: 14px;
}