.typeTit{
	line-height: 30px;
}
/*试题的类型*/
.quesType
{
	display: block;
	width: 100px;/*对宽度的定义,根据情况修改*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 30px;
	margin: 10px;
	float: left;
	height: 30px;
	border: 1px solid #CCC;
	text-align: center;
}