body {
	margin: 0px;
	padding: 0px;
}
p, div, td {
	font-size: 14px;
}
p {
	text-indent: 2pc;
	line-height:20px;
	margin-bottom:5px;
	margin-top:0px;
}
#context {
	width: 95%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
a
{
    color:Black;
    
}