@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

context {
	display: block;
	width: 100%;
	height: calc(100% - 50px);
	padding: 44px 0px 30px 0px;
	text-align: left;
	overflow-y: auto;
	box-sizing: border-box;
	background: linear-gradient(#8bacb7, rgba(255, 255, 255, 1));
}

.header {
	height: 80px;
	position: relative;
	z-index: 1;
	padding: 20px 20px 0px 20px;
	overflow: hidden;
	background-color: transparent;
}

.header_info {
	width: 100%;
	height: 60px;
	position: relative;
}

.acc_photo {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	float: left;
	background-size: cover;
	box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.acc_info {
	width: calc(100% - 80px);
	float: left;
	line-height: 30px;
	position: relative;
	color: #666;
}

.acc-acname {
	font-size: 14px;
	margin: 0px 10px;
}

.acc-acname::before {
	content: '(';
}

.acc-acname::after {
	content: ')';
}

.header .van-row {
	position: relative;
}

.header .van-row::after {
	content: '\e72a';
	font-family: webdesk_icon;
	display: block;
	width: 10px;
	position: absolute;
	right: 0px;
	top: 10px;
	transform: rotate(180deg);
	color: #eee;
	z-index: -1;
}

.nophoto {
	background-image: url(/Utilities/images/head1.jpg);
}

.man {
	background-image: url(/Utilities/images/head1.jpg);
}

.woman {
	background-image: url(/Utilities/images/head2.jpg);
}

.header .van-tag {
	padding: 2px 8px;
	margin-right: 10px;
}

.header .card-info {
	padding: 5px 0px;
	font-size: 14px;
	line-height: 30px;
	color: #666;
}

.header .card-info span {
	font-size: 16px;
	margin: 0px 5px;
	font-weight: bold;
}

card-title icon:first-child {
	font-size: 22px;
}

card.handler .help {
	font-size: 22px;
	float: right;
	margin-top: 3px;
}

.input_row {
	padding: 10px 0px;
}

.input_row .van-field__label {
	--margin-right: 0px;
	width: auto;
}

.input_row input[type='text'] {
	padding: 3px 8px;
	height: 30px;
	font-size: 16px;
}

.tip {
	padding-left: 90px;
}

.btn_row {
	padding: 10px 0px 0px 0px;
	position: relative;
}

.btn_row .qrcode {
	line-height: 30px;
	margin-top: 8px;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.btn_row .qrcode i::before {
	font-size: 20px;
	line-height: 30px;
	float: left;
	margin-right: 5px;
}

.btn_row .qrcode i {
	display: inline;
}

.btn_row button {
	height: 40px;
	float: right;
	margin-left: 10px;
}

/*学习卡列表*/

card.list card-title {
	position: relative;
}

.list span.van-tag {
	float: right;
	margin-top: 3px;
}

/*卡号查询*/

#search_code {
	width: 60px;
	border: 1px solid #ccc;
    border-radius: 3px;
    height: 20px;
    width: 60px;
    top: calc(50% - 12px);
    right: 6px;
    position: absolute;
    z-index: 1;
    padding: 2px 25px 2px 10px;
}

card.list card-title::after {
	content: '\a00b';
    font-family: webdesk_icon !important;
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    right: 11px;
    z-index: 3;
    color: #aaa;
}

/*帮助信息*/

.showhelp {
	width: 80%;
	height: 80%;
	box-sizing: border-box;
	padding: 15px;
}

/*帮助说明*/

.showhelp dl.help-txt {
	margin: 0px;
	margin-left: 5px;
	font-size: 16px;
	line-height: 30px;
}

.showhelp dl.help-txt dd {
	margin: 0px 0px 10px 20px;
	color: #666;
	text-indent: -20px;
}

.showhelp dl.help-txt dd b:first-child {
	margin-bottom: 8px;
}

.van-swipe-cell__right button {
	height: 100%;
}

/*学习卡详情*/

.showcard {
	width: 80%;
	height: 80%;
	box-sizing: border-box;
	padding: 15px;
}

.showcard .title {
	line-height: 30px;
}

.showcard .title icon {
	font-size: 18px;
}

.showcard .lcstheme {
	font-weight: bold;
	font-size: 16px;
}

.showcard card {
	margin: 0px;
	width: 100%;
}

.showcard card icon {
	font-size: 15px;
}