<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />   
    <title>公告</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="header">
            <div class="weisha_icon" icon="&#xe748" @click="window.history.go(-1);"></div>
            <van-search v-model="sear_str" placeholder="请输入搜索关键词" background="transparent" @search="onSearch">
                <template #action>

                </template>
                <template #right-icon>
                    <div @click="onSearch">搜索</div>
                </template>
                <template #left-icon>

                </template>
            </van-search>
        </div>
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" error-text="请求失败，点击重新加载" @load="onload">
            <van-swipe-cell v-for="item in datas">
                <template #left>

                </template>
                <van-cell :border="false" class="notice" @click="gonotice(item.No_Id)">
                    <template #title>
                      <icon icon="&#xe840"></icon> {{item.No_Ttl}}
                      <van-tag round color="#ccc"  type="primary">{{item.No_StartTime|date("MM-dd")}}</van-tag>
                    </template>
                </van-cell>            
            </van-swipe-cell>
        </van-list>
       
        <aside_menu ref='aside_menu' :account="account"></aside_menu>
        <footer_menu ref='footer_menu' :organ="organ"></footer_menu>
    </div>


</body>

</html>