@charset "utf-8";
.verticalbar {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 2px;
}

.verticalbar a {
    text-decoration: none;
}

.verticalbar a, .verticalbar span {
    color: #808080;
}

.verticalbar>hr {
    height: 1px;
    border: 0px;
    margin: 8px 2px 8px 2px;
    background: #808080;
}

.verticalbar vbar-item {
    font-family: "webdesk_icon" !important;
    display: block;
    font-size: 18px;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #808080;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
    user-select: none;
}

.verticalbar vbar-item:hover, .verticalbar vbar-item.hover {
    color: #999;
    text-shadow: 1px 1px 2px #666;
    background-color: rgba(0, 0, 0, .6);
}

vbar-panel {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    cursor: default;
    background-color: rgba(180, 180, 180, 1);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    display: none;
    border: solid 1px #666;
    box-shadow: 1px 1px 1px rgba(160, 160, 160, 0.9);
}

vbar-panel:before {
    content: '\20';
    width: 8px;
    height: 8px;
    display: block;
    background-color: rgba(180, 180, 180, 1);
    border: 1px solid #666;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    float: right;
    margin-right: -11px;
    margin-top: 5px;
}

vbar-panel[direction='left']:before {
    content: '\20';
    width: 8px;
    height: 8px;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #999;
    border-width: 1px 1px 0 0;
    transform: rotate(-135deg);
    float: left;
    margin-left: -11px;
    margin-top: 5px;
}

vbar-panel.child {
    padding: 0px;
    min-width: 80px;
}

vbar-panel.child:before {
    margin-right: -5px;
    margin-top: 8px;
}

vbar-panel[direction='left'].child:before {
    margin-left: -5px;
    margin-top: 8px;
}

vbar-panel vbar-node {
    display: block;
    width: auto;
    height: 30px;
    padding-right: 10px;
    line-height: 30px;
    position: relative;
}

vbar-panel>hr {
    height: 1px;
    border: 0px;
    margin: 0px;
    margin-left: 30px;
    background: #999;
}

vbar-panel vbar-node ico {
    font-family: "webdesk_icon" !important;
    display: inline-block;
    height: 100%;
    font-size: 18px;
    width: 25px;
    border-right: 1px solid #999;
    color: #666;
    text-align: center;
    margin-right: 6px;
}

vbar-panel vbar-node a {   
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

vbar-panel vbar-node:hover {
    text-shadow: 1px 1px 2px #666;
}
vbar-panel vbar-node:hover *{
   color: #333;
}

vbar-panel vbar-node:hover:after {
    content: '';
    display: block;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border: solid 1px rgba(100, 100, 100, 0.8);
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: -1;
    border-radius: 3px;
    background-color: rgba(200, 200, 200, 0.3);
    --background: linear-gradient(to bottom, rgba(161, 197, 247, 0.3) 1%, rgba(255, 255, 255, 0.3) 5%, rgba(161, 197, 247, 0.1) 50%, rgba(161, 197, 247, 0.3) 55%);
}