#vapp {
    width: 100%;
    height: 100%;
}

.header {
    height: 44px;
    background-color: rgb(212, 224, 206);
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

.header a {
    display: block;
    float: left;
    width: 25px;
    height: 44px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    padding-left: 10px;
}

.header a:first-child::before {
    font-size: 22px;
}

.header .van-search {
    padding: 5px 6px !important;
}

.context {
    padding: 20px;
    position: fixed;
    width: calc(100% - 40px);
    height: calc(100% - 45px - 40px);
    top: 45px;
    left: 0px;
    overflow-y: auto;
}

.artTitle {
    font-size: 18px;
    text-align: center;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    line-height: 150%;
}

.van-sticky--fixed .artTitle {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.artAttrBar {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    color: #666666;
}

.artAttrBar span:first-child {
    margin-right: 15px;
}

#artImg {
    text-align: center;
}

#artImg img {
    max-width: 100% !important;
}

#artContext {
    margin-bottom: 20px;
}

#artContext p {
    margin-top: 10px;
}

#artContext img, #artContext table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 100% !important;
    height: auto;
}
table td{
	word-break: break-all;
}
.img-box {
    text-align: center;
}

#artIntro {
    font-size: 16px !important;
    line-height: 150% !important;
    background-color: transparent !important;
    margin-bottom: 1em;
}

#artContext, #artContext p, #artContext font, #artContext div, #artContext span {
    font-size: 17px !important;
    line-height: 30px !important;
    background-color: transparent !important;
}

#artContext p {
    margin: 0.5em 0px 0px 0px;
}

#artAcc {
    margin-bottom: 1em;
}

#artAcc .accItem {
    margin-left: 0px;
}

#artAcc {
    margin-top: 20px;
    margin-bottom: 20px;
}

#artAcc dt {
    font-size: 15px;
    font-weight: bold;
}

#artAcc dd, #artAcc dd a {
    font-size: 15px;
    line-height: 22px;
    color: #069;
}

.filesize {
    font-size: 14px;
    color: #666666;
    margin-left: 10px;
}