@charset "utf-8";
.button{
	display: inline-block;
	text-align: center;
	height: 20px;
	line-height: 20px;
	width: auto;
	border: 1px solid #FF9900;
	margin-left: 10px;
	box-shadow: 0 3px 0 #0880d7, 0 2px 3px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	background-color: #1B9AF7;
	border-color: #1B9AF7;
	font-weight: 300;
	font-size: 12px !important;
	color: #000 !important;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.button:hover{
	box-shadow: 0 2px 0 #cc9900, 0 3px 3px rgba(0, 0, 0, 0.3);
	background-color: #FF6600;
	border-color: #FF6600;
	text-decoration: none;
}