@charset "utf-8";
body {
}
.moneyBox{
	height:80px;
}
.moneyBox .title{
}
.moneyBox .money{
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}
.infoRow {
	line-height: 40px;
	width: 100%;
	height: 40px;
	font-family: "黑体";
	font-size: 16px;
}
.msg{
	font-size: 14px;
	font-family: "宋体", System;
}
.mrRow {
	margin-top: 5px;
	height: 40px;
	margin-bottom: 5px;
	overflow: hidden;
}
.mrRow .mrTitle {
	text-align: right;
	float: left;
	width: 100px;
	line-height: 30px;
	height: 30px;
}
.mrVirfy
{
	width:100px;
	float:left;
	line-height: 30px;
}
.mrVirfy img {
	height: 30px;
	width: 80px;
}
.mrInput {
	display: table;
	float: left;
	width: auto;
	line-height: 30px;
	height: 30px;
}
.TextBox {
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	border: 1px solid #CCCCCC;
	text-indent: 10px;
	opacity:0.8;
	filter:alpha(opacity=80);
	color: #333333;
}
.alert{
	margin-left:10px;
}
.payInterFaceTit {
	font-size: 14px;
	line-height: 30px;
	background-color: #E6E6E6;
	height: 30px;
	margin-top: 10px;
	text-indent: 10px;
	color: #5EBB00;
}
.payInterface {
	margin-top: 10px;
}
.payInterface .pi {
	font-size: 18px;
	line-height: 36px;
	height: 36px;
	cursor:pointer;
	margin-bottom: 10px;
}
.payInterface .piSelect {
	border: 2px solid #5EBB00;
	background-image: url(../../Images/bigIco2.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.payInterface .pi .ico {
	float: left;
	margin-right: 20px;
	margin-top: 2px;
	margin-left: 2px;
	
}
.payInterface .pi .ico img{
	height: 32px;
}
.noPay {
	margin-top: 60px;
	text-align: center;
}
