@charset "utf-8";
div {
	font-size: 15px;
	line-height: 20px;
}
.titleBox{
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
