<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>修改信息</title>
    <script type="text/javascript" src="../Scripts/hanzi2pinyin.js"></script>
</head>


<body>
    <div id="app" v-cloak>
        <div class="context">
            <div class="acc_info">
                <avatar :account="account" circle="true" size="100"></avatar>
                <div class="info_right">
                    <div title="姓名">
                        <icon :woman="account.Ac_Sex==2" :man="account.Ac_Sex!=2">
                            <span v-html='account.Ac_Name' v-if="account.Ac_Name!=''"></span>
                            <span v-else class="account">(没有名字)</span>                          
                        </icon>                        
                    </div>
                    <div title="账号">
                        <icon student></icon>
                        <span v-html='account.Ac_AccName' class="lower"></span>
                    </div>
                    <div title="身份证号">
                        <icon idcard></icon>
                        <span v-html='account.Ac_IDCardNumber' class="lower"></span>
                    </div>
                    <div title="电话">
                        <icon mobile></icon>
                        <span v-html='account.Ac_MobiTel1'></span>
                        <span
                            v-if="account.Ac_MobiTel1!='' && account.Ac_MobiTel2!='' && account.Ac_MobiTel2!=account.Ac_MobiTel1">/</span>
                        <span v-html='account.Ac_MobiTel2'
                            v-if="account.Ac_MobiTel1!='' && account.Ac_MobiTel2!=account.Ac_MobiTel1"></span>
                    </div>
                </div>
            </div>
            <el-form ref="form" :model="form" :rules="rules" @submit.native.prevent label-width="80px">
                <el-form-item label="重置密码" prop="pw1">
                    <el-input v-model="form.pw1"></el-input>
                </el-form-item>
                <el-form-item label="再次输入" prop="pw2">
                    <el-input v-model="form.pw2"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div class="footer">
            <el-button type="primary" native-type="submit" :loading="loading" plain @click="btnEnter('form')">
                <icon v-if="!loading">&#xa048</icon>确认修改
            </el-button>
            <el-button type='close'>取消
            </el-button>
        </div>
        <el-tag type="success" class="organ" title="所属机构">
            <icon>&#xa02a</icon>
            {{organ.Org_Name}}
        </el-tag>
    </div>


</body>

</html>