<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>密码修改</title>
    <include file="../inc/meta.inc" />
</head>

<body>
  <div id="vapp" v-cloak>
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item>
        <img v-if="account.Acc_Photo!=''" :src="account.Acc_Photo" class="photo">
        <img v-else class="el-icon-plus avatar-uploader-icon photo" src="/Utilities/images/head1.jpg" />
        <span class="accname" v-html="account.Acc_Name">(未登录)</span>
      </el-form-item>
      <el-form-item label="原密码" prop="oldpw">
        <el-input v-model="form.oldpw" show-password></el-input>
      </el-form-item>
      <el-form-item label="新密码" prop="newpw">
        <el-input v-model="form.newpw" show-password></el-input>
      </el-form-item>
      <el-form-item label="确认输入" prop="newpw2" show-password>
        <el-input v-model="form.newpw2" show-password></el-input>
      </el-form-item>
    </el-form>
    <div class="footer">
      <el-button type="primary" plain :loading="loading" @click="btnEnter('form')">
        <icon v-if="!loading">&#xa048</icon>修改
      </el-button>
      <el-button type='close'>
        取消
      </el-button>
    </div>
  </div>


</body>

</html>