@charset "utf-8";

.dropmenu {
    background-color: #eee;
}

.dropmenu>* {
    display: block;
}

.dropmenu ico {
    font-family: "webdesk_icon" !important;
}
.dropmenu .loading  ico{
    display: inline-block;
     -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
    to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}
.dropmenu drop_roots {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.dropmenu drop-node a{
    text-decoration:none;
}
.dropmenu drop-node a,.dropmenu drop-node span{
    color: #444;
}
.dropmenu drop_roots drop-node {
    display: block;
    float: left;
    height: 100%;
    width: 120px;
    cursor: pointer;
    transform: background-color .1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    flex: 1;
}

.dropmenu drop_roots drop-node:hover,
.dropmenu drop_roots drop-node.hover {
    background-color: #ddd;
    text-shadow: 1px 1px 2px #666;
}

.dropmenu drop_roots drop-node span {
    font-size: 14px;
}

.dropmenu drop_roots drop-node ico {
    height: 100%;
    font-size: 16px;
     display: block;
    float: left;
    margin: 0px 5px 0px 10px;
}
.dropmenu drop_roots drop-node img{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    border: 1px solid #aaa;
    margin-top: 5px;
    --float: left;
    border-radius: 10px;
}
.dropmenu drop_roots drop-node span {
    height: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*子菜单面板*/
.dropmenu drop-panel {
    position: absolute;
    background-color: rgba(238,238,238,.96);
    min-width: 130px;
    border-radius: 2px;
    border: 1px solid #bbb;
    --box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.6), -2px -2px 2px rgba(200, 200, 200, 0.6);
}


.dropmenu drop-panel>*:not(hr) {

    cursor: pointer;
    user-select: none;
    display: block;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    position: relative;
}
.dropmenu drop-panel>hr {
    height: 1px;
    border: 0px;
    margin: 0px;
    margin-left: 30px;
    background: #ddd;
}
.dropmenu drop-panel ico {

    display: block;
    height: 100%;
    font-size: 18px;
    width: 30px;
    border-right: 1px solid #ddd;
    float: left;
    color: #666;
    text-align: center;
    margin-right: 6px;
}
.dropmenu drop-panel img{
    width: 20px;
    height: 20px;
    display: block;    
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 10px;
}
.dropmenu drop-panel span {
    padding-right: 20px;
    width: calc(100% - 31px - 30px);
    display: block;
    position: absolute;
    z-index: 2;    
    top: 0px;
    left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropmenu drop-panel child {
    display: block;
    height: 100%;
    line-height: 100%;
    width: 15px;
    position: absolute;
    top: 7px;
    right: 0px;
}

.dropmenu drop-panel child:after {
    content: '>';
    text-align: center;
    color: #999;
    font: 800 9px/14px consolas; 
}

.dropmenu drop-panel>*:not(hr):hover child:after,
.dropmenu drop-panel>*:not(hr).hover child:after {
    color: #333;
}

.dropmenu drop-panel>*:not(hr):hover,
.dropmenu drop-panel>*:not(hr).hover {
    box-shadow: rgb(255, 255, 255) 0px 0px 3px inset;
    text-shadow: 1px 1px 2px #666;
}

.dropmenu drop-panel>*:not(hr):hover:after,
.dropmenu drop-panel>*:not(hr).hover:after {
    content: '';
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border: solid 1px rgba(200, 200, 200, 0.8);
    position: absolute;
    z-index: 1;
    left: 2px;
    top: 2px;
    border-radius: 3px;
    background-color: rgba(200, 200, 200, 0.3);
    --background: linear-gradient(to bottom, rgba(161, 197, 247, 0.3) 1%, rgba(255, 255, 255, 0.3) 5%, rgba(161, 197, 247, 0.1) 50%, rgba(161, 197, 247, 0.3) 55%);
}