@charset "utf-8";

html,
body {
    background-color: rgb(27, 87, 148);
}

panel#admin {
    background-image: linear-gradient(to bottom right,  rgb(36 89 82),#58c198,#ffb83c 80%,#ffb83c 100%);
}
#user-area drop_roots  drop-node * {
    color: #eee !important;
}

