@charset "utf-8";
.dropmenu {
    /*根菜单颜色,依次为：前景色、背景色、鼠标滑过颜色、阴影*/
    --drop-root-color: #666;
    --drop-root-bgcolor: rgba(168, 168, 168, 0.3);
    --drop-root-hover: rgba(255, 255, 255);
    --drop-root-hoverbg: rgba(238, 240, 241, 0.6);
    --drop-root-shadow: #666;
    /*下拉菜单颜色,依次为：背景色、边线色、前景色、分隔线、阴影色*/
    --drop-panel-bgcolor: rgba(16, 113, 76, 0.8);
    --drop-panel-border: rgba(179, 216, 231, 0.9);
    --drop-panel-color: #ccc;
    --drop-panel-hr: #aaa;
    --drop-panel-shadow: rgb(16 85 113 / 90%);
    /*图标,依次为：图片的边线*/
    --drop-img: #aaa;
    /*下拉菜单中的事件效果*/
    --drop-panel-hover: #eee;
    --drop-panel-hover-shadow: transparent;
    --drop-panel-hover-boxshadow: transparent;
    --drop-panel-hover-border: rgb(16, 113, 76);
    --drop-panel-hover-bg: rgba(255, 255, 255, 0.3);
}