<!DOCTYPE html>
<html lang="zh">

<head resource>
  <meta charset="utf-8">
  <include file="../inc/meta.inc" />
  <title>课程试题</title>
</head>

<body>

  <!--主界面部分-->
  <div id="vapp" v-clock>
    <van-row class="topBox">
      <van-col span="7" class="btntop">
        <a icon="&#xe748" @click="window.history.back();"></a>
        <a :href="'../course/Detail.'+couid"><icon course></icon></a>
        <a icon="&#xa020" href="/mobi/"></a>
      </van-col>

    </van-row>
    <div class="chart-area">
      <div class="chart-back">
        <div class="y"> </div>
      </div>
      <div class="chart-txt"> <span>通过率</span> <span class="cou-rate" v-html="rate">-</span></div>
      <dl class="quesnumbox">
        <dd>总题量：<span class="sum" v-html="count.sum"></span>道</dd>
        <dd>已练习：<span class="ansSum" v-html="count.exercise"></span>道</dd>
      </dl>
    </div>
    <!--按钮组-->
    <menus ref='menus' :couid="couid" :olid="couid"></menus>
    <div class="outlines">
      <van-cell>
        <template #title>
          <span icon="&#xe841">按章节练习</span>
          <van-tag type="success" v-if="last!=null" class="continue" @click="gocontinue">继续练习</van-tag>
        </template>
      </van-cell>
      <template v-if="outlines && outlines.length>0">
        <outlinelist ref="outlines" :outlines="outlines" :course="course" :acid="account.Ac_ID" :isbuy="isbuy">
        </outlinelist>
      </template>
      <van-cell v-else-if="loading">
        加载中.... </van-cell>
      <van-cell v-else>
        没有章节 </van-cell>
    </div>

  </div>


</body>

</html>