<!DOCTYPE html>
<html lang="zh">

<head resource>
  <meta charset="utf-8">
  <include file="../inc/meta.inc" />
  <title>试题练习</title>
</head>

<body>

  <div id="vapp" v-cloak>

    <loading bubble v-if="loading_init">正在初始化...</loading>
    <template v-else>
      <prompt_panel ref="prompt" remark="手式指引的提示面板"></prompt_panel>
      <template remark="顶部栏">
        <van-row class="topBox">
          <van-col span="7" class="btntop">
            <a icon="&#xe748" :href="'course?couid='+couid"></a>
            <a icon="&#xa020" href="/mobi/"></a>
            <a icon="&#xe813" @click="showCourse=true"></a>
          </van-col>
          <van-col span="4">&nbsp;</van-col>
          <van-col span="10">
            <learnmode @change="v=>learnmode=v"></learnmode>
          </van-col>
          <van-col span="3" @click="()=>{$refs['setupmenu'].show=true}">
            <icon>&#xa038</icon>
          </van-col>
        </van-row>
        <setupmenu ref="setupmenu" :account="account"></setupmenu>
        <van-popup v-model="showCourse" class="showCourse" ramark="课程信息">
          <template v-if="iscourse">
            <row>《 {{course.Cou_Name}} 》</row>
            <row v-if="isoutline">章节： {{outline.Ol_XPath}} {{outline.Ol_Name}}</row>
            <div>
              <van-button type="default" @click="showCourse=false">取消</van-button>
              <van-button type="primary" :url="'../course/Detail.'+couid">
                <span icon="&#xe813">返回课程</span>
              </van-button>
            </div>
          </template>
          <row v-else>课程不存在</row>
        </van-popup>
      </template>
      <!-- 试题区域-->
      <loading star v-show="loading">试题加载中...</loading>
      <quesarea ref='quesarea' :ques="queslist" :types="types" :mode="learnmode%2" :account="account" :state="state"></quesarea>
      <!--答题卡-->
      <answersheet ref='answersheet' :questions="queslist" :types="types" :ansstate="state" :data="data"
        @click="(qid,index)=>$refs['quesarea'].setindex(qid,index)"></answersheet>
      <!--底部按钮区 -->
      <div class="footer">
        <div>正确率：{{data.rate}} %</div>
        <div class="count_number">
          <span icon="&#xe67f">{{data.correct}}</span>
          <span icon="&#xe61c">{{data.wrong}}</span>
        </div>
        <div @click="$refs['answersheet'].show()">
          <icon>&#xe75e</icon>
          <span>{{data.answer}}</span>/{{data.num}}
        </div>
      </div>
    </template>
  </div>
</body>

</html>