@charset "utf-8";
html { overflow: hidden;}
body {
	background-color: #222326;
	background: #222326;
}
html,body,#body{
	width:100%;
	height:100%;
	overflow: hidden;
}
/*布局*/
#MainBox ,#median,#rightBox{
	height:100%;
	float: left;
	position:relative;
	transition: width .3s;
}
/*分隔符*/
#median {
	width: 5px;
	background-color: #999999;	
}
#median span {
	font-size: 12px;
	font-weight: 900;
	color: #666;
	font-family: "黑体";
	cursor: pointer;
	position:absolute;
	top:48%;
	left:-1px;
	display:block;
	width:7px;
	height:60px;
	line-height:60px;
	z-index:100;
	box-shadow: 0px 1px 1px #eee;
	background: linear-gradient(to right, #fff , #eee,#fff);
	border-radius:2px
}
#median span.close:before{
	 content: "<";
}
#median span.open:before{
	 content: ">";
}
.mainTop{
	height:65px;
}
video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}
.courseBox {
	height: 30px;
	font-size: 14px;
	line-height: 25px;
	color: #999;
	text-indent: 10;
	text-align: left;
}
.courseBox:before{
	content: "\e636";
    font-family: iconfont;
    margin-left: 5px;
    font-size: 16px;
    font-weight: normal;
}
.courseBox a {
	color: #999;
	font-size: 14px;
}
#MainBox #btnKnowledge{
	position:absolute;
	right:10px;
	top:0px;
	color:#fff;
	font-size: 20px;
    font-family: "微软雅黑";
    background-repeat: no-repeat;
    background-position: left bottom;
    float: left;
    height: 30px;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 0px;
    color: #eee;
    width: 100px;
    text-align: center;
    margin-top: 25px;	
	cursor:pointer;
}
#MainBox #btnKnowledge:before{
	content: "\e675";
	font-size: 22px;
	margin-right:5px;
	font-family: iconfont;
}
/*左侧内容区*/
#contextArea{
	height:calc(100% - 65px);
	width:100%;
	color:#ddd;
}
#contextArea>div{
	height:100%;
}
/* 课程内容
------------------------*/
#details {
	font-size: 16px;
	line-height: 20px;
	background-color: #FFF;
	overflow: auto;
}
#details img {
	max-width: 100%;
}
#details p, #details *{
	font-size: 17px !important;
	line-height: 30px !important;
	background-color:transparent !important;	
	color:#666 !important;
}
#details p{
	margin-bottom:20px;	
}
#detailsArea{
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	text-align:left;
}
#rightBox .boxBar {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	height: 62px;
	margin-bottom: 20px;
}
#rightBox  .title {
	font-size: 18px;
	float: left;
	overflow: hidden;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 0px;
	color: #666;
	width: 50%;
	text-align: center;
	margin-top: 25px;
	line-height: 40px;
	cursor: pointer;
	transition: font-size .6s;
	transition: line-height .5s;
	white-space: nowrap;
}
#rightBox  .titleCurr{
	color: #FFF;	
	font-size: 20px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0387d9;
	margin-bottom: 15px;
	line-height:26px;
}
/*章节列表*/
.rightArea {
	color: #333;
	line-height: 30px;
	font-size: 14px;
	overflow: auto;
	height:calc(100% - 85px);
}
.olitem {
	text-align:left;
	color:#666;
}
.olitem:before{
	content: "\e65f";
    font-family: iconfont;
    margin-right: 5px;
    font-size: 15px;
    font-weight: normal;
	margin-left:8px;
	color:#999;
}
/*视频章节的图标*/
.li-video:before {
    content: "\e606";
    font-family: iconfont;
    margin-right: 5px;
    font-size: 16px;
    font-weight: normal;
}
/*当前章节的图标*/
.current:before {
    content: "\e621";
    font-family: iconfont;
    margin-right: 5px;
    font-size: 14px;
    font-weight: normal;
	color:#fff;
}
/*直播章节的图标*/
.li-live:before {
    content: "";
    background-image: url(../Images/live-icon.gif);
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display:inline-block;	
}
/*未完结*/
.nofinish{
	margin-right: 20px;
	margin-top: 10px;
	width: 40px;
	text-align: center;
	font-size: 12px !important;
	border-radius: 10px;
	height: 10px;
	padding: 3px 10px 3px 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, .15);
	color: #CCC;
}
/*购买图标*/
.buy{
	margin-right: 20px;
	margin-top: 10px;
	width: 40px;
	text-align: center;
	font-size: 12px !important;
	border-radius: 10px;
	height: 10px;
	padding: 3px 10px 3px 10px;
	line-height: 20px;
	background-color: rgba(102,102,102,0.15);
	color: #FC0;
}
.buy:before{
	content: "\e625";
	font-family: "moneyico";
	margin-right:5px;
}

.outline a{
	color: #999;
}
.current {
	background-color: #999;
}
.current, .current a, .current span {
	font-weight: bold;
	color: #FFFFFF;
}

#playerInfo {
	line-height: 30px;
	height: 30px;
	color: #CCC;
	text-indent: 20px;
	position:relative;
	text-align:left;
}
/*学习记录递交是否成功的提示信息*/
.StudentStudyLog{
	position:absolute;
	right:10px;
	top:3px;
}
.error{
	color:red;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
     width: calc(100% + 30px); 
}
.historyInfo {
	margin-left: 20px;
	cursor: pointer;
	color: #06F;
}
/* 章节的主标题下的选项卡
*/
#MainBox .oltitle {
	height: 30px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999999;
	
	
}
#MainBox .oltitle a{
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 25px;
	text-align: center;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	float: left;
	box-shadow: 1px -1px 3px #888888;
	width: 100px;
	line-height: 25px;
	text-decoration: none;
	display:block;
	cursor:pointer;
	margin-top:5px;
	transition: font-size .6s;
	transition: background-color 0.6s;
}
/*
.oltitle>a:first-child{
	color: #000;
	background-color: #999999;
	text-shadow: 0 0 10px #fff;
}*/
#MainBox .oltitle .titCurr{
	color: #000;
	background-color: #999999;
	text-shadow: 1px 1px 2px #fff;	
	height: 30px;
	margin-top:0px;
	font-size: 16px;
	padding-top:2px;
}
.noSelect {
	text-align: left;
	line-height: 35px;
	color: #eee;
	font-size: 16px;
	width: 500px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.noSelect, .noSelect a{
	color: #eee;
	font-size: 16px;
}
/* 附件 */
#access {
	margin: 20px;
	text-align:left;
}
#access a {
	font-size: 16px;
	text-indent: 20px;
	display: block;
	color: #CCC;
	line-height: 30px;
	width:auto;
}
#access a:hover{
	background-color:#333;
}
/* 视频事件中的试题窗口*/
.MsgBoxContext .eventContext {
	font-size: 14px;
	height: 22px;
	margin-bottom: 10px;
}
.MsgBoxContext .quesBox {
	margin-left: 14px;
}
.MsgBoxContext .quesBox .ansItem {
	font-size: 14px;
	height: 22px;
	cursor: pointer;
	margin-top: 10px;
}
.MsgBoxContext .quesAns {
	font-size: 14px;
	height: 22px;
	margin-top: 10px;
	text-align: center;
}
#footer {
	margin-top: 10px !important;
}
/*限制只能在桌面应用中打开*/
#StudyForDeskapp{
	color:#fff;
	margin-top:60px;
	width:320px;
	height:90px;
	line-height:90px;
	background:#999;
	margin-left:auto;
	margin-right:auto;
}
#StudyForDeskapp, #StudyForDeskapp a{
	font-size:16px;
}
