@charset "utf-8";
html { overflow: hidden;}
body {
	background-color: #222326;
	background: #222326;
}
.mainTop{
	height:65px;
}
video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}
.courseBox {
	height: 30px;
	font-size: 14px;
	line-height: 25px;
	color: #999;
	text-indent: 10;
	text-align: left;
}
.courseBox a {
	color: #999;
	font-size: 14px;
}
/*主要显示区，即右侧*/
#MainBox {
	width: 79%;
	float: left;
}
/*分隔符*/
#median {
	max-width: 1%;
	width: 5px;
	float: left;
	background-color: #999999;
	overflow: hidden;
	cursor: pointer;
}
#median span {
	font-size: 12px;
	font-weight: 900;
	color: #FFF;
	font-family: "黑体";
	cursor: pointer;
}
/*章节显示区，即左侧*/
#outlineBox {
	width: 20%;
	float: left;
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #CCCCCC;
}
.boxBar {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
	height: 62px;
	margin-bottom: 20px;
}
.title {
	font-size: 20px;
	font-family: "微软雅黑";
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 30px;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 0px;
	color: #666;
	margin-bottom: 15px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0387d9;
	width: 100px;
	text-align:center;
	margin-top: 25px;
}
.itemList {
	overflow: auto;
}
.item1 {
	line-height: 30px;
	font-family: "黑体";
}
.item1 .itemName {
	text-indent: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.item2 {
	font-size: 15px;
	line-height: 30px;
}
.item2 .itemName {
	text-indent: 30px;
}
/* 课程内容
------------------------*/
#details {
	font-size: 16px;
	line-height: 20px;
	margin: 10px;
	background-color: #FFF;
	overflow: auto;
}
#details img {
	max-width: 100%;
}
#details {
	
}
#details p, #details *{
	font-size: 17px !important;
	line-height: 30px !important;
	background-color:transparent !important;	
	color:#666 !important;
}
#details p{
	margin-bottom:20px;	
}
#detailsArea{
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	text-align:left;
}
/*章节列表*/
.outline {
	color: #333;
	line-height: 30px;
	font-size: 14px;
}
.olitem {
	padding-left: 10px;
	text-align:left;

}
/*未完结*/
.nofinish{
	margin-right: 20px;
	margin-top: 10px;
	width: 40px;
	text-align: center;
	font-size: 12px !important;
	border-radius: 10px;
	height: 10px;
	padding: 0px 10px 10px 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, .15);
	color: #CCC;
}
/*购买图标*/
.buy{
	margin-right: 20px;
	margin-top: 10px;
	width: 40px;
	text-align: center;
	font-size: 12px !important;
	border-radius: 10px;
	height: 10px;
	padding: 0px 10px 10px 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, .15);
	color: #FC0;
}
.buy:before{
	content: "\e625";
	font-family: "moneyico";
	margin-right:5px;
}
.indent {
	padding-left: 15px;
}
.outline, .outline a, .ol_name{
	margin-left: 8px;
	line-height: 30px;
	color: #666;
	font-size: 14px;
}
.current {
	background-color: #666;
}
.current, .current a, .current span {
	font-weight: bold;
	color: #FFFFFF;
}

#playerInfo {
	line-height: 30px;
	height: 30px;
	color: #CCC;
	text-indent: 20px;
	position:relative;
	text-align:left;
}
/*学习记录递交是否成功的提示信息*/
.StudentStudyLog{
	position:absolute;
	right:10px;
	top:3px;
}
.error{
	color:red;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
     width: calc(100% + 30px); 
}
.historyInfo {
	margin-left: 20px;
	cursor: pointer;
	color: #06F;
}
/* 章节的主标题下的选项卡
*/
.oltitle {
	height: 30px;
	border-bottom-width: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999999;
}
.oltitle .titBox{
	font-size: 20px;
	font-family: "黑体", "微软雅黑";
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 30px;
	text-align:center;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	float:left;
	background-color:#000;
	width:100px;
	line-height:35px;
}
.oltitle .titCurr{
	color: #000;
	background-color:#999999;
}
.noSelect {
	min-height: 300px;
	text-align: left;
	line-height: 35px;
	color: #eee;
	font-size: 16px;
	width: 500px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.noSelect, .noSelect a{
	color: #eee;
	font-size: 16px;
}
/* 附件 */
#access {
	margin: 20px;
	text-align:left;
}
#access a {
	font-size: 16px;
	text-indent: 20px;
	display: block;
	color: #CCC;
	line-height: 30px;
}
/* 视频事件中的试题窗口*/
.MsgBoxContext .eventContext {
	font-size: 14px;
	height: 22px;
	margin-bottom: 10px;
}
.MsgBoxContext .quesBox {
	margin-left: 14px;
}
.MsgBoxContext .quesBox .ansItem {
	font-size: 14px;
	height: 22px;
	cursor: pointer;
	margin-top: 10px;
}
.MsgBoxContext .quesAns {
	font-size: 14px;
	height: 22px;
	margin-top: 10px;
	text-align: center;
}
#footer {
	margin-top: 10px !important;
}
