@charset "utf-8";
#Context {
	width: 1200px !important;
	margin-right: auto;
	margin-left: auto;
}
/*试卷区域 宽度设置*/
#pagerArea {
	width: 69%;
}
/*答题卡 宽高设置*/
.pagerCard {
	width: 30%;
}
#footer {
	margin-top: 150px;
}
/*屏幕遮罩*/
.loading {
	position: absolute;
	display: none;
	z-index: 2000;
	background-color: #FFFFFF;
	height: 100px;
	width: 340px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #666;
	text-align: center;
	line-height: 35px;
}
#loadingTitle {
	line-height: 35px;
	text-align: center;
	margin-top: 20px;
}
#submitBox {
	position: absolute;
	display: none;
	z-index: 2000;
	background-color: #FFFFFF;
	height: 120px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #666;
	text-align: center;
	line-height: 35px;
	text-align: center;
}
#submitTitle {
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
#submitShowtxt {
	font-size: 12px;
	margin-top: -10px;
}
/*考试主题*/
#themeBox {
	background-color: #AAEAFF;
	height: 180px;
	width: 100%;
	border: 1px solid #0387d9;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#themeBox .theme {
	font-size: 25px;
	line-height: 40px;
	height: 40px;
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	font-family: "Microsoft YaHei" ! important;
}
#themeBox .themesub {
	font-size: 20px;
	line-height: 40px;
	color: #333333;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
#themeBox .examInfo {
	line-height: 30px;
	color: #333333;
	text-indent: 10px;
	white-space: nowrap;
	height: 30px;
	background-color: #0099FF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #0074cb;
	border-bottom-color: #0387d9;
	text-align: center;
}
/*消息提示区域*/
.infobox{
	margin: 30px;
	min-height:400px;
}
.infobox .info{
	font-size: 25px;
	line-height: 40px;
	height: 40px;
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	font-family: "Microsoft YaHei" ! important;
}
/*考试已经结束*/
#examOverBox {
	background-color: #FFFFCC;
	height: 300px;
	width: 100%;
	border: 1px solid #0387d9;
	margin-top: 20px;
}
#examOverBox .title {
	font-size: 25px;
	line-height: 50px;
	color: #0387d9;
	text-align: center;
	height: 50px;
	margin-top: 20px;
}
#examOverBox .time {
	line-height: 30px;
	text-align: center;
	height: 40px;
}
/*已经交卷*/
#examSubmitBox {
	background-color: #FFFFCC;
	height: 300px;
	width: 100%;
	border: 1px solid #0387d9;
	margin-top: 20px;
}
#examSubmitBox .title {
	font-size: 25px;
	line-height: 50px;
	color: #0387d9;
	text-align: center;
	height: 50px;
	margin-top: 20px;
}
#examSubmitBox .text {
	line-height: 30px;
	text-align: center;
	height: 30px;
}
/*答题卡*/
.pagerCard {
	height: 300px;
	float: right;
	margin-top: 10px;
}
.pagerCard .topBox {
	border: 1px solid #999999;
	width: 100%;
}
.pagerCard .topBox .startTime {
	line-height: 30px;
	color: #333333;
	text-align: center;
	height: 30px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999999;
	width: 100%;
}
.topBox #residueTime {
	height: 80px;
	width: 100%;
	background-color: #FFFFCC;
	font-size: 55px;
	line-height: 80px;
	font-weight: bold;
	color: #0387d9;
	text-align: center;
	font-family: "Microsoft YaHei" ! important;
}
.topBox #residueTime span {
	font-size: 55px;
}
/*交卷按钮*/
#pagerSubmitBox {
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #009900;
	height: 40px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	background-image: url(../Images/submit-bg.gif);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 1px;
	background-position: center center;
	background-repeat: repeat;
}
#pagerSubmitBox:before {
	content: " ";
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #009900;
	height: 40px;
	width:260px;
	background-image: url(../Images/submit.gif);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right:auto;
	background-position: center center;
	display: block;
	background-repeat: no-repeat;
}
#pagerSubmitBox.noStart {
	background-image: url(../Images/submit2-bg.gif);
	cursor: default;
	background-position: center center;
}
#pagerSubmitBox.noStart:before {
	background-image: url(../Images/submit2.gif);
	background-position: center center;
}
.pagerCard .quesCard {
	display: table;
	width: 100%;
	margin-top: 0px;
	background-color: #FFFFFF;
	display: none;
	border: 1px solid #999999;
}
.quesCard .cardTit {
	background-color: #FFFFCC;
	height: 40px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;
}
.quesCard .cardTit .txt {
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: #0387d9;
	float: left;
	height: 40px;
	width: 35%;
	margin-left: 3%;
}
.quesCard .cardTit .number {
	line-height: 40px;
	color: #0066FF;
	float: right;
	height: 40px;
	width: 60%;
	margin-right: 2%;
	text-align: right;
}
#cardBox .quesType {
	line-height: 25px;
	height: 25px;
	margin-bottom: 10px;
	width: 100%;
	cursor: pointer;
}
#cardBox .quesType .tit {
	line-height: 25px;
	float: left;
	height: 25px;
	width: 35%;
	margin-top: 5px;
	font-weight: bold;
	margin-left: 3%;
	text-indent: 20px;
	background-image: url(../Images/tk_exam.png);
	background-repeat: no-repeat;
	background-position: -195px 6px;
}
#cardBox .quesType .num {
	line-height: 25px;
	float: right;
	height: 25px;
	width: 60%;
	margin-top: 5px;
	text-align: right;
	margin-right: 2%;
}
#cardBox dl {
	display: table;
	padding: 0px;
	width: 96%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2%;
}
#cardBox dl dd {
	text-align: center;
	white-space: nowrap;
	padding: 0px;
	height: 20px;
	width: 20px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	float: left;
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #999999;
	font-weight: bold;
	cursor: pointer;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #333333;
	border-left-color: #999999;
}
#cardBox dl dd.level1 {
	color: #0066CC;
	border-top-color: #0066FF;
	border-right-color: #0066FF;
	border-bottom-color: #0066FF;
	border-left-color: #0066FF;
	background-color: #80FFFF;
}
#cardBox dl dd.level2 {
	color: #0066CC;
	border-top-color: #0066FF;
	border-right-color: #0066FF;
	border-bottom-color: #FF6600;
	border-left-color: #0066FF;
	background-color: #80FFFF;
}
#cardBox dl dd.level3 {
	color: #0066CC;
	border-top-color: #0066FF;
	border-right-color: #0066FF;
	border-bottom-color: #FF0000;
	border-left-color: #0066FF;
	background-color: #80FFFF;
}
/*试卷区域*/
#pagerArea {
	margin-top: 10px;
	float: left;
	border: 1px solid #999999;
}
#pagerArea #distanceTime {
	height: 200px;
	width: 400px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#distanceTime .timeTitle {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	height: 30px;
	color: #0387d9;
	font-weight: bold;
	margin-top: 20px;
}
#distanceTime .currTime {
	line-height: 30px;
	text-align: center;
	height: 30px;
	margin-top: 10px;
	margin: 10px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255, .22);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
/*试卷中的试题*/
/*大题的标题*/
#pagerArea dl dt {
	line-height: 40px;
	font-weight: bold;
	color: #333333;
	background-color: #AAEAFF;
	margin: 10px;
	height: 40px;
	border: 3px solid #66CCCC;
	text-indent: 10px;
}
#pagerArea dl dd {
	background-color: #FFFFFF;
	margin: 10px;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	border-top-width: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0099FF;
	border-right-color: #0099FF;
	border-bottom-color: #0099FF;
	border-left-color: #0099FF;
}
/*试题的题干区域*/
#pagerArea dl dd .titleBox {
	display: table;
	margin-bottom: 15px;
	width: 100%;
}
#pagerArea dl dd .titleBox .order {
	font-size: 22px;
	line-height: 50px;
	font-weight: bold;
	color: #0387d9;
	text-align: center;
	float: left;
	height: 50px;
	width: 50px;
	font-family: Arial;
	position: absolute;
}
#pagerArea dl dd .titleBox .title {
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	margin-top: 10px;
	text-align: left;
	margin-left: 50px;
	word-wrap: break-word;
    word-break: normal;
}
#pagerArea dl dd .titleBox .title * {
	font-size: 15px;
	margin-top: 0px;
	word-wrap: break-word;
    word-break: normal;
}
#pagerArea dl dd .titleBox .title img{
	max-width:100%;
}
#pagerArea dl dd .itemBox {
	width: 100%;
	display: table;
	margin-bottom: 20px;
}
#pagerArea dl dd .itemBox .ansItem {
	line-height: 35px;
	cursor: pointer;
	width: 98%;
	position: relative;
	display: table;
}
#pagerArea dl dd .itemBox .ansItem .char {
	line-height: 35px;
	height: 35px;
	width: 30px;
	margin-left: 60px;
	position: absolute;
}
.ansItemContext {
	line-height: 35px;
	display: table;
	float: left;
	min-height: 35px;
	margin-left: 90px;
}
.ansItemContext, .ansItemContext * {
	line-height: 35px;
	font-size:14px !important;
	
}
/*选项的按钮*/
#pagerArea dl dd .itemBtnBox {
	display:table;
	line-height: 35px;
	display: table;
	min-height: 35px;
	margin-left: 90px;
}
#pagerArea dl dd .type1 .ansBtn {
	font-size: 16px;
    line-height: 40px;
    background-image: url(../Images/tk_exam.png);
    background-repeat: no-repeat;
    background-position: 0px -82px;
    text-indent: 40px;
    height: 40px;
    width: 92px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
#pagerArea dl dd .type1 .seleted {
    background-position: -94px -82px;
	color:#fff;
}
#pagerArea dl dd .type2 .ansBtn {
	font-size: 16px;
    line-height: 40px;
    background-image: url(../Images/tk_exam.png);
    background-repeat: no-repeat;
    background-position: 0px -130px;
    text-indent: 40px;
    height: 40px;
    width: 92px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
#pagerArea dl dd .type2 .seleted {
    background-position: -94px -130px;
	color:#fff;
}
#pagerArea dl dd .type3 .ansBtn {
	font-size: 16px;
    line-height: 40px;
    background-image: url(../Images/tk_exam.png);
    background-repeat: no-repeat;
    background-position: 0px -130px;
    text-indent: 40px;
    height: 40px;
    width: 92px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
#pagerArea dl dd .type3 .seleted {
    background-position: -94px -130px;
	color:#fff;
}
/*填空题的输入框*/
#pagerArea dl dd .itemBox .textbox {
	height: 30px;
	width: 300px;
	line-height: 30px;
	border: 1px solid #CCCCCC;
}
/*简答题的输入框*/
#pagerArea dl dd .itemBox textarea {
	height: 80px;
	width: 80%;
	margin-bottom: 10px;
	margin-left: 50px;
	border: 1px solid #CCCCCC;
}
/*简答题的上传区域*/
#pagerArea dl dd .fileupBox {
	margin-left: 50px;
	margin-top: 10px;
}
#pagerArea dl dd .fileupBox input.fileinput {
	line-height: 22px;
	height: 22px;
	margin-top: 2px;
	width: 400px;
}
#pagerArea dl dd .fileupBox .btnUp {
	width: 50px;
	border: thin outset #FFFFFF;
	margin-left: 10px;
	line-height: 22px;
	height: 22px;
	margin-top: -2px;
}
#pagerArea dl dd .fileupBox .delfile {
	font-size: 12px;
	line-height: 16px;
	color: #FF0000;
	margin-left: 10px;
	font-family: consolas;
	font-weight: 100;
	cursor: pointer;
}

/*确认把握度的按钮区域*/
#pagerArea dl dd .btnBox {
	height: 40px;
	width: 100%;
	display: table;
	position: absolute;
	bottom: 0;
	background-color: #DDF1FF;
	text-indent: 20px;
	padding-top: 3px;
}
#pagerArea dl dd .btnBox .tit {
	line-height: 35px;
	height: 35px;
	float: left;
	width: 150px;
}
#pagerArea dl dd .btnBox .btn {
	cursor: pointer;
	text-indent: 0px;
	display: inline-block;
	position: relative;
	margin: 5px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255, .22);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
#pagerArea dl dd .btnBox .sure1 {
	border: 1px solid #0066FF;
	background-color: #A8DEEE;
	color: #0066FF;
}
#pagerArea dl dd .btnBox .sure2 {
	border: 1px solid #FF6600;
	color: #FF6600;
	background-color: #A8DEEE;
}
#pagerArea dl dd .btnBox .sure3 {
	border: 1px solid #FF0000;
	color: #FF0000;
	background-color: #A8DEEE;
}
/*单选、多选，鼠标滑过*/
#pagerArea dl dd .itemBox .type1Over {
	background-image: url(../Images/ok.gif);
	background-repeat: no-repeat;
	background-position: 25px 5px;
	background-color: #FFFFCC;
}
