@charset "utf-8";
html, body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	height: 35px;
	margin-top: 20px;
}

.ltIntro {}

.contextbox {
	max-width: 980px;
}

.details {
	text-align: left;
	padding: 50px;
}

.details * {
	line-height: 25px;
}

.details p {
	text-indent: 20px;
	margin-bottom: 10px;
}

.plAcc {
	margin-top: 20px;
}

pre {
	background-color: #FFFFCC;
	padding: 5px;
	border: 1px solid #CCCCCC;
}