@charset "utf-8";
body
{
    background-image: none;
}
#area
{
	margin: 10px;
	text-align:left;
}
.title
{
	font-size: 18px;
	font-weight: bold;
	height: 35px;
	margin-top: 20px;
}

.noContext
{
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
}
.details{
	line-height: 30px;
	font-size: 16px;
}
.details *{
	line-height: 25px;
	font-size: 16px !important;
}