
/*友情链接*/
weisha.linksorts{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
    display: flex;
}
weisha.linksorts div.links{
	flex: 1;
	display: flex;
    flex-flow: column;
}
weisha.linksorts .links-tit{	
	float: left;	
	width: 200px;
}
weisha.linksorts .links-tit a{	
	font-weight: bold;
	font-size: 30px;
	color: #666;
	text-decoration: none;
}
weisha.linksorts weisha.links{
	display: block;
	width: 100%;
	margin-bottom: 50px;
}
weisha.linksorts .link-item{
	line-height: 30px;
	float: left;
	margin-right: 30px;
	display: flex;
	flex-flow: column;
}
weisha.linksorts .link-item img{
	height: 60px;
}
weisha.linksorts .link-item a{
	color: #333;
	font-size: 16px;
}