weisha.subject_rec {
    display: block;
    width: 100%;
    height: 420px;
    position: relative;
    margin-bottom: 120px;
    cursor: pointer;
    transition: all 0.5s;
}
weisha.subject_rec subject:hover{
    transform: scale(1.02);
}
weisha.subject_rec subject img{
    width: 220px;
    max-height: 420px;
    border-radius: 3px;
}
/*课程*/

weisha.subject_rec courses {
    display: block;
    width: calc(100%);
    display: flex;
    flex-wrap: wrap;
}

weisha.subject_rec courses>div {
    width: 260px;
    height: 210px;
    margin: 0px 50px 50px 0px;
    transition: all 0.5s;
    position: relative;
}

weisha.subject_rec courses>div.rightmost {
    margin: 0px 0px 50px 0px;
}

weisha.subject_rec courses>div[rec]::before {
    content: '\e741';
    font-family: "webdesk_icon" !important;
    font-size: 60px;
    display: block;
    position: absolute;
    margin: -2px 0px 0px -4px;
    color: rgb(255, 30, 30);
    text-shadow: -1px -1px 2px #fff, -1px -1px 3px #fff;
}

weisha.subject_rec courses>div:hover {
    transform: scale(1.05);
}

weisha.subject_rec courses img:first-child {
    width: 260px;
    height: 146px;
    border-radius: 5px;
    cursor: pointer;
}

weisha.subject_rec .name {
    line-height: 25px;
    font-size: 16px;
    max-height: 50px;
    overflow: hidden;
}

weisha.subject_rec .price {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-top: 6px;
    padding: 0px 10px 0px 10px;
}

weisha.subject_rec .price .money {
    color: #F60;
}

weisha.subject_rec .price .money icon {
    font-size: 16px;
    margin-right: 3px;
}

weisha.subject_rec .price .free {
    color: rgb(0, 148, 7);
}

weisha.subject_rec .price .free::before {
    content: '\e72d';
    font-family: "webdesk_icon" !important;
    margin-right: 5px;
    font-size: 16px;
    display: inline-block;
}

weisha.subject_rec .price .view {
    float: right;
    display: block;
    margin-right: 3px;
    color: #999;
}

weisha.subject_rec .price .view::before {
    content: '\a03a';
    font-family: "webdesk_icon" !important;
    margin-right: 3px;
    font-size: 16px;
    display: inline-block;
}
weisha.subject_rec courses loading{
    margin: 30px auto;
}