@charset "utf-8";

.nologin {
    font-size: 18px;
    margin: 30px;
    color: #999;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.header .el-button--medium {
    border-radius: 0px 4px 4px 0px !important;
    border-top-width: -1px !important;
}

.header .el-button--medium[disabled] {
    height: 32px;
    background-color: #eee;
    color: #999;
}
.header .el-button--medium[disabled]:hover{
    background-color: #eee;
    color: #999;
}
.header .total {
    font-size: 18px;
}

.header .total span {
    margin: 0px 15px;
    font-size: 25px;
}

/*支付方式列表*/
.paypis {
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
}

.paypis .title {
    font-size: 16px;
    line-height: 40px;
}

.paypis .list {
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.paypis .list>div {
    width: calc(50% - 10px);
    margin: 0px 20px 20px 0px;
    cursor: pointer;
    background-color: #efefef;
    box-sizing: border-box;
    padding: 10px;
    line-height: 36px;
    border-radius: 6px;
    font-size: 18px;
    position: relative;
}

.paypis .list>div:nth-child(even) {
    margin: 0px 0px 20px 0px;
}

.paypis .list>div:hover {
    background-color: #ddd;
}

.paypis .list>div img {
    float: left;
    margin-right: 10px;
}

.paypis .list>div[current] {
    background-color: #e4ffe0;
    border-radius: 5px;
}

.paypis .list>div[current]::before {
    content: '\a048';
    font-family: "webdesk_icon" !important;
    position: absolute;
    right: 0px !important;
    top: 5px !important;
    font-size: 30px;
    color: #029548;
    text-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.paypis .list>div[current]::after {
    content: '采用当前支付方式' !important;
    -webkit-transform: scaleY(1) !important;
    transform: scaleY(1) !important;
    bottom: -5px;
    right: 6px !important;
    left: auto !important;
    font-size: 12px;
    color: #999;
    position: absolute;
}

.recharge_val {
    height: calc(100% - 60px);
    box-sizing: border-box;
    padding: 50px 10px;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 25px;
}

.recharge_val>span:first-child {
    font-size: 50px;
    display: inline-block;
    color: #f17126;
}
.nopaypis{
    margin: 0px 30px;
}