@charset "utf-8";
#playerInfo, #playerInfo *{
	font-size: 16px;
	font-family: "黑体";
}
#playerInfo a{
	color: #06F;
}
#videoIframe{
	width:100% !important;
}
.noVideo{
	text-align: center;
	margin-top: 30px;
}
img{
	max-width:100% !important;
}