@charset "utf-8";
.panel {
	width: 100%;
	height: calc(100% - 55px);
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
}
.panel>div:not(:first-child){
	border: 1px solid #DCDFE6;
	border-top: none;
}
.el-form {
	height: calc(100% - 60px);
	width: calc(100% - 15px);
	padding-right: 10px;

	overflow-y: auto;
	box-sizing: border-box;
}

.el-tabs--border-card {
	box-shadow: none;
	border: none;
}

.el-tabs__content {
	display: none;
}
/*编辑框*/
.intro_editor {
	width: 100%;
	height: 100%;
}

.intro_editor .vue-html5-editor {
	width: 100%;
	height: 100%;
}

.intro_editor .vue-html5-editor .content {
	width: 100% !important;
	height: 100% !important;

}

/*图片上传*/
 .img_tools {
    height: 30px;
    display: flex;
    line-height: 30px;
}
.img_tools+div {
    height: calc(100% - 30px) !important;
    width: 100%;
    overflow: auto;
}

.upload_img_area {
    margin-right: 40px;
}

.upload_img_area * {
    font-size: 14px !important;
}

.upload_img_area .error {
    top: 30px;
    display: table;
    width: 300px;
}
.img_div{
	max-width: 100%;	
}
.img_div img{
	max-width: 100%;	
}