@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

*::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px rgba(175, 173, 173, 0.2);
    background: #b9b9b9;
}

*::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(204, 204, 204, 0.2);
    border-radius: 3px;
    background: #EDEDED;
}

*[v-cloak] {
    display: none;
}

/*特殊字体*/

red, .red {
    color: red;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
    /*文件下载链接*/
    a[download] {
        display: inline-block;       
        color: #409EFF;      
    }

        a[download]:hover {
            text-decoration: underline;
        }


/*拖动柄*/

.draghandle {
    cursor: move;
}

/*表格背景透明*/

.table-wrapper .el-table--fit {
    padding: 20px;
}

.el-table, .el-table__expanded-cell {
    //background-color: transparent !important;
}

.el-table th, .el-table tr {
    //background-color: transparent !important;
}

.el-table--enable-row-transition .el-table__body td, .el-table .cell {
    //background-color: transparent !important;
}

/*表单行距*/

.el-form-item {
    margin-bottom: 10px !important;
}

/*表单*/

.el-form {
    margin: 10px;
}

.el-radio {
    margin-right: 10px !important;
}

.el-form-item__error {
    --right: 5px !important;
    top: auto !important;
    border-radius: 5px;
    left: 8px !important;
    bottom: -8px !important;
    width: auto !important;
    background-color: #F56C6C !important;
    color: yellow !important;
    padding: 2px 5px 2px 5px !important;
}

/*消息框*/

.el-message-box {
    max-width: 60% !important;
    min-width: 200px;
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 20px;
}

/*分页控件条的区域*/

#pager-box {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
}

/*顶部按钮条*/

.toolsbar {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid #DCDFE6;
    height: 31px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.toolsbar .el-button-group .el-button {
    border: none !important;
    bottom: 0px;
    height: 32px;
    margin: 1px 0px 0px 0px;
}
.toolsbar .demo-form-inline{
    display: flex;
}
.btngroup {
    display: table;
    float: left;
}

/*搜索框*/

.search-box {
    float: right;
}

.search-box form {
    margin: 0px;
    padding: 0px;
}

.search-box .el-input {
    margin: 0px !important;
}

.search-box input[type=text] {
    height: 25px;
    margin-top: 1px;
}

.search-box button {
    height: 25px;
    margin-top: 1px;
    padding: 5px 10px 5px 10px;
}
.el-link {
    font-size: 12px !important;
}
.el-card__header {
    padding: 10px 20px !important;
}

/*下拉菜单的标题*/

.el-dropdown {
    font-size: 13px !important;
}

hr {
    color: #eee;
    background-color: #eee;
    border: 0px;
    height: 1px;
}
/* 表格第一列，往往是选择框，居中并对齐*/
.el-table tr td:first-child, .el-table tr th:first-child {
    text-align: center;
}
.el-table tr .cell:first-child, .el-table th .cell:first-child {
    text-overflow: clip;
    min-width:auto;
    padding:0px;
}
.el-tree{
    background:none !important;
}
.el-card{
    background-color:rgba(255, 255, 255, .3) !important;
}