<!DOCTYPE html>
<html>

<head>
      <title>{$course.cou_Name}</title>
      <vt:include file="inc/meta.inc" />
      <script type="text/javascript" src="/Utility/CoreScripts/polyfill.min.js?ver={$version}"></script>
      <script type="text/javascript" src="/Utility/CoreScripts/axios_min.js?ver={$version}"></script>
      <script type="text/javascript" src="/Utility/CoreScripts/vue_min.js?ver={$version}"></script>
      <script type="text/javascript" src="/Utility/CoreScripts/api.js?ver={$version}"></script>
      <script type="text/javascript" src="/Utility/CkplayerX1/ckplayer/ckplayer.js"></script>
      <link href="Styles/CourseStudy.css?ver={$version}" rel="stylesheet" type="text/css" />
      <!--播放器的引用-->
      <script type="text/javascript">
            //视频地址
            var videoPath = "{$video.As_FileName}";
            //是否是外链接
            var isOuter = "{$video.As_IsOuter}" == "True" ? true : false;    //	
      </script>
</head>

<body accid="{$Account.Ac_id}" olid="{$olid}">
      <div id="body">
            <script>
                  document.body.onselectstart = document.body.oncontextmenu = function () { return false; };
                  document.body.onpaste = document.body.oncopy = function () { return false; };
            </script>
            <div id="MainBox" :style="!median ? 'width: calc(80% - 5px);' : 'width: calc(99.5% - 5px);'">
                  <div class="mainTop">
                        <div class="courseBox">
                              <template v-if="JSON.stringify(course) != '{}' && course.Cou_Name!=''" remark="课程名称">
                                    课程：<a :href="'course.ashx?id='+course.Cou_ID">《{{course.Cou_Name}}》</a>
                              </template>
                              <template v-else>
                                    当前课程好像不存在，如果是正在加载，请等待！
                              </template>
                              <template v-if="JSON.stringify(subject) != '{}' && subject.Sbj_Name!=''" remark="专业">
                                    - <a :href="'courses.ashx?sbjid='+course.Cou_ID">{{subject.Sbj_Name}}</a>
                              </template>
                        </div>

                        <div id="btnKnowledge" v-if="state.isKnl" v-on:click="knlClick">知识库</div>
                        <div class="oltitle">
                              <a v-if="titState== 'loading'" class="titCurr">加载中...</a>
                              <a v-if="state.isNull" v-on:click="titState='isNull'"
                                    :class="titState=='isNull' ? 'titCurr':''">提 示</a>
                              <a v-if="state.existVideo" v-on:click="titState='existVideo'"
                                    :class="titState=='existVideo' ? 'titCurr':''">视 频</a>
                                    <a v-if="state.isLive" v-on:click="titState='isLive'"
                                    :class="titState=='isLive' ? 'titCurr':''">直播</a>
                              <a v-if="state.isContext" v-on:click="titState='isContext'"
                                    :class="titState=='isContext' ? 'titCurr':''">内 容</a>
                              <a v-if="state.isAccess" v-on:click="titState='isAccess'"
                                    :class="titState=='isAccess' ? 'titCurr':''">附 件</a>
                              <a v-if="state.isQues" v-on:click="titState='isQues'"
                                    :class="titState=='isQues' ? 'titCurr':''">习 题</a>

                              <!-- <div class="titBox">作业</div>-->
                        </div>
                  </div>
                  <!--左侧顶部结束-->
                  <div id="contextArea">
                        <div remark="提示" v-show="titState=='isNull'">
                              <div class="noSelect">当前章节没有内容！</div>
                              <div class="noSelect" v-if="state.LiveStart && state.LiveOver">直播已经结束</div>                              
                        </div>
                        <div remark="视频" v-show="titState=='existVideo'" :video="state.urlVideo">
                              <div class="videobox" v-show="!state.outerVideo && !state.isLive"
                                    style="height: 100%;width:100%;" remark="点播">
                                    <video id="videoplayer" :src="state.urlVideo"></video>
                              </div>
                              <iframe id="vedioiframe" height="100%" width="100%"
                                    v-if="state.outerVideo && !state.isLive" :src="state.urlVideo"
                                    allowscriptaccess="always" allowfullscreen="true" wmode="opaque"
                                    allowtransparency="true" frameborder="0" remark="外部视频链接"
                                    type="application/x-shockwave-flash"></iframe>
                            
                        </div>
                        <div remark="直播" v-show="titState=='isLive'" :video="state.urlVideo">
                                    <div class="livebox" v-show="state.isLive" style="height: 100%;width:100%;" remark="直播">
                                          </div>
                        </div>
                        <div remark="内容" v-show="titState=='isContext'" id="details">
                              <div id="detailsArea" v-html="outline.Ol_Intro"> </div>
                        </div>
                        <div remark="附件" v-show="titState=='isAccess'">
                              <div id="access">
                                    <a v-for="(item,index) in access" target="_blank" :href="item.As_FileName"
                                          v-on:click="accessClick(item.As_FileName,item.As_Name,$event)"
                                          :download="item.As_Name">{{index+1}}、{{item.As_Name}}
                                    </a>
                              </div>
                              <div class="noInfo" v-if="access.length<1">
                                    没有附件
                              </div>
                        </div>
                        <div remark="习题" v-show="titState=='isQues'">
                              <iframe :src="'Exercises.ashx?olid='+outline.Ol_ID" style="height: 100%" marginwidth="0"
                                    marginheight="0" align="top" scrolling="no" width="100%" frameborder="0"
                                    allowtransparency="true"></iframe>
                        </div>
                  </div>
            </div>
            <div id="median" remark="此为分隔线"><span v-on:click="median = !median"
                        :class="!median ? 'open' : 'close'"></span></div>
            <!--开始右侧菜单区域-->
            <div id="rightBox" :style="!median ? 'width: 20%;' : 'width: 0%'" v-show="!median">
                  <div class="boxBar">
                        <div class="title" v-on:click="rightState = 'outline'"
                              :class="rightState=='outline' ? 'titleCurr' : ''"> 章节目录</div>
                        <div class="title" v-on:click="rightState = 'chat'"
                              :class="rightState=='chat' ? 'titleCurr' : ''"> 交流咨询</div>
                  </div>
                  <div class="outline rightArea" v-show="rightState=='outline'">
                        <template v-for="d in outlines" remark="章节列表">
                              <div :class="'olitem '+(d.Ol_IsVideo ? 'li-video ' : '')+(d.Ol_ID==olid ? 'current ' : '')+(d.Ol_IsLive ? 'li-live ' : '')"
                                    :isvideo="d.Ol_IsVideo" :olid="d.Ol_ID"
                                    :style="'padding-left:'+(d.Ol_Level*15+5)+'px'">
                                    <template v-if="state.isBuy || d.Ol_IsFree" remark="如果购买，或可以试学">
                                          <a :href="'CourseStudy.ashx?olid='+d.Ol_ID+'&couid='+couid"
                                                v-if="d.Ol_IsFinish"
                                                v-on:click="outlineClick(d.Ol_ID,$event)">{{d.Ol_XPath}}{{d.Ol_Name}}
                                          </a>
                                          <template v-else> {{d.Ol_XPath}}{{d.Ol_Name}} </template>
                                          <span class="nofinish"
                                                v-show="d.Ol_IsFree && d.Ol_IsFinish && !state.isBuy ">试学</span>
                                    </template>
                                    <template v-else>
                                          <a :href="'CourseBuy.ashx?couid='+d.Cou_ID">
                                                {{d.Ol_XPath}}{{d.Ol_Name}}
                                                <span v-show="d.Ol_IsFinish" class="buy">购买</span></a>
                                    </template>
                                    <span class="nofinish" v-show="!d.Ol_IsFinish">未完结</span>
                                    <span  v-show="d.Ol_IsLive">[{{d.Ol_LiveTime}}开始,直播{{d.Ol_LiveSpan}}分钟]</span>
                              </div>
                        </template>
                  </div>
                  <div class="chat rightArea" v-show="rightState=='chat'">
                        交流
                  </div>
            </div>
      </div>
      <script type="text/javascript" src="Scripts/CourseStudy.js?ver={$version}"></script>
</body>

</html>