<!doctype html>
<html>
<head>
<title>{$knl.kn_title} - {$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<link href="Styles/Knowledge.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="contextbox">
  <div class="title">知识库： {$knl.kn_title} </div>
  <div class="details">
    <vt:if var="isBuy" value="true" compare="=" remark="如果可以学习"> {$knl.kn_details}
      <vt:else/>
      未购买当前课程，知识库禁止阅读 </vt:if>
       <!--附件 -->
                    <vt:if var="isBuy" value="true" compare="=" remark="如果可以学习">
        <vt:if var="artAcc.length" value="0" compare=">">
          <dl id="artAcc">
            <dt>相关附件：</dt>
            <vt:foreach id="artAcc" from="$#.artAcc" item="data" index="i" remark="知识库的附件">
              <dd class="accItem"> <span class="filename">{$:i}、<a href="{$:data.As_FileName}" target="_blank">{$:data.As_Name}</a></span> <span class="filesize">{$:data.As_Size}</span> </dd>
            </vt:foreach>
            <script type="text/javascript">
                $(function () {
                    $(".filesize").each(function () {
                        var n = Number($(this).text());
                        var tm = $().getSizeUnit(n);
                        $(this).text(tm);
                    });
                });
</script>
          </dl>
        </vt:if>
        </vt:if>
  </div>
</div>
</body>
</html>
