<!doctype html>
<html>
    <head>
    <title></title>
    <vt:if var="domain" value="" compare="!=">
      <script type="text/javascript">
        document.domain = '{$domain}';  
    </script></vt:if>
    <vt:include file="inc/meta.inc" />
    <script type="text/javascript" src="Scripts/QQLogin.js?ver={$version}"></script>
    <link href="Styles/QQLogin.css?ver={$version}" rel="stylesheet" type="text/css" />
    </head>
    <body>
<vt:if var="org.org_id" value="0" compare=">" remark="所属机构必须存在">
      <vt:if var="success" value="1" compare="=" remark="账户已经存在，且正常登录">
    <div class="loading-txt">正在登录...</div>
    <script>closeWinBox();</script> 
  </vt:if>
      <vt:if var="success" value="-1" compare="=" remark="账户存在,但禁用或未通过审核">
    <div class="error-txt">当前账户“{$acc.Ac_Name}”被禁用，或未通过审核，暂无法登录。</div>
  </vt:if>
      <vt:if var="openid" value="" compare="!=" remark="通过openid获取QQ信息">
    <vt:if var="success" value="" compare="=">
          <div class="infoBox">
        <div class="leftBox">
              <div class="show-tit"> {$name} </div>
              <div class="show-txt"> <img src="{$photo2}"/> </div>
              <div class="sex" style="display:none;">{$gender}</div>
              <div id="openid" style="display:none;">{$openid}</div>
            </div>
        <div class="leftbox">
              <dl class="titbox">
             <vt:if var="IsRegStudent" value="false" compare="="> <dd> 我是新用户</dd>
            </vt:if>
            <dd> 我是老用户</dd>
          </dl>
           <vt:if var="IsRegStudent" value="false" compare="=">
              <div class="regbox"> 
            <!--新用户注册-->
            <form id="formRegist" name="formRegist" method="post" sms="{$forsms}">
                  <div class="loginRow">
                <widget type="text" ico="&#xe600;" deftxt="手机号" name="tbNewAcc" class="textbox width" nullable="false" star="false" group="reg|regsms"> </widget>
              </div>
                  <vt:if var="forsms" value="true" compare="=">
                <div class="loginRow">
                      <widget type="text" ico="&#xe636;" deftxt="验证码" name="tbNewCode"  star="false"  group="reg|regsms"
                class="textbox verify" nullable="false" lenlimit="4-4" datatype="number" > </widget>
                      <img src="/Utility/codeimg.aspx?name=accRegvcode" class="verifyCode right-btn"/> </div>
                <div class="loginRow">
                      <widget type="text" ico="&#xe71a; iconphone" deftxt="短信验证码" name="tbNewSms"  group="reg" class="textbox verify" nullable="false"  star="false" lenlimit="6-6"> </widget>
                      <div class="right-btn" id="getRegSms" type="getSms" waiting="{num}秒后再获取"  group="regsms" smsname="sms_reg_qq">获取短信</div>
                    </div>
              </vt:if>
                  <div class="loginRow btnBar">
                <input type="submit" name="btnRegister" id="btnRegister" value="手机号注册"  verify="true" group="reg" class="btnBind"/>
              </div>
              <vt:if var="IsQQDirect" value="true" compare="=">
                  <div class="loginRow btnBar">
                <input type="button" name="btnDirect" id="btnDirect" value="直接登录"  verify="true"  class="btnBind"/>
              </div>
              </vt:if>
                </form>
          </div>


             </vt:if>
              <div class="regbox">
            <form id="formBind" name="formBind" method="post" sms="{$forsms}">
                  <div class="loginRow">
                <widget type="text" ico="&#xe600;" deftxt="手机号/账号" name="tbAcc" class="textbox width" nullable="false"  star="false" group="login|loginsms"> </widget>
              </div>
                  <div class="loginRow">
                <widget type="text" ico="&#xe636;" deftxt="验证码" name="tbCode"  star="false" group="login|loginsms"
                class="textbox verify" nullable="false" lenlimit="4-4" datatype="number"   group="login"> </widget>
                <img src="/Utility/codeimg.aspx?name=accbindvcode" class="verifyCode right-btn"/> </div>
                  <vt:if var="forsms" value="true" compare="=">
                <div class="loginRow">
                      <widget type="text" ico="&#xe71a; iconphone" deftxt="短信验证码" name="tbSms" class="textbox verify" nullable="false"  star="false" lenlimit="6-6"  group="login"> </widget>
                      <div class="right-btn" id="getSms"  type="getSms" group="loginsms" waiting="{num}秒后再获取" smsname="sms_bind_qq">获取短信</div>
                    </div>
               <vt:else />
              <div class="loginRow">
          <widget type="password" ico="&#xe6ed;" deftxt="密码" name="tbPw" class="textbox width" nullable="false"> </widget>
        </div>
                </vt:if>
                  <div class="loginRow btnBar">
                <input type="submit" name="btnBind" id="btnBind" value="绑定账户"  verify="true"   group="login" class="btnBind"/>
              </div>
                </form>
          </div>
            </div>
      </div>
        </vt:if>
  </vt:if>
      <vt:else />
      <div class="error-txt">回调错误！</div>
      <div class="error-txt">当前回调域：http://{$QQReturl}/qqlogin.ashx</div>
    </vt:if>
<script type="text/javascript" src="/Utility/CoreScripts/Widget.js?ver={$version}"></script>
</body>
</html>
