<!doctype html>
<html>
<head>
<title>{$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<link rel="stylesheet" type="text/css" href="styles/QuestionAnswer.css?ver={$version}"/>

</head>
<body>
<div id="area">
  <vt:if var="qid" value="0" compare="="> （该试题不存在）
    <vt:else />
    <vt:if var="answer" value="" compare="=">
      <div class="noContext">（该试题答案未能正确显示）</div>
      <vt:else />
      <div class="title" style="display:none"> 参考答案： </div>
      {$:#.answer} </vt:if>
  </vt:if>
</div>
</body>
</html>
