<!doctype html>
<html>

<head>
      <title>Vue测试</title>
      <vt:include file="inc/meta.inc" />
      <script type="text/javascript" src="/Utility/CoreScripts/polyfill.min.js?ver={$version}"></script>
      <script type="text/javascript" src="/Utility/CoreScripts/axios_min.js?ver={$version}"></script>
      <script type="text/javascript" src="/Utility/CoreScripts/vue_min.js?ver={$version}"></script>
      <script type="text/javascript" src="/Utility/CoreScripts/api.js?ver={$version}"></script>

</head>

<body>
      <div id="app">
            <table>
                  <tbody is="mycomp"></tbody>
            </table>

            <mycomp></mycomp>
      </div>
      <script>
            Vue.component('mycomp', {
                  template: '<div>这里是组件的内容</div>'
            });
            var app = new Vue({
                  el: '#app'
            });
            /*$api.put("Teacher/login",{acc:'13223040250',pw:'1'}).then(function(e){
                  var d=e.data;
            });*/
           $api.put("Teacher/test").then(function(e){
                  var d=e.data;
            });
             /*$api.put("Outline/State",{olid:241}).then(function(e){
                  var d=e.data;
            });*/
      </script>
</body>

</html>