<!DOCTYPE html>
<html>
<head>
<title>{$org.org_platformname}</title>
<vt:include file="inc/icon-color.inc" />
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/MsgBox.js?ver={$version}"></script>
<link href="CoreStyles/MsgBox.css?ver={$version}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="Styles/default.css?ver={$version}"/>
<script type="text/javascript" src="Scripts/default.js?ver={$version}"></script>
</head>
<body>
<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable"> 
  <!--侧滑菜单部分-->
  <vt:include file="inc/Menu.html" />
  
  <!--主界面部分-->
  <div class="mui-inner-wrap">
    <header class="mui-bar mui-bar-nav headbar">
      <form action="courses.ashx" method="get" id="formSearch">
        <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a> <a class="mui-btn mui-btn-link mui-pull-right btnSear" href="#"><span class="iconfont">&#xe62f;</span></a>
        <h1 class="mui-title">
          <input name="sear" type="search" id="tbSearch" placeholder="搜索">
        </h1>
      </form>
    </header>
    <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
      <div class="mui-scroll"> 
        <!--/*轮换图片*/-->
        <div class="mui-slider">
          <div class="mui-slider-group mui-slider-loop">
            <vt:list type="showpic" var="$show" site="mobi" item="sp" index="j">
              <vt:if var="#.j" value="$show.length" compare="=">
                <div class="mui-slider-item mui-slider-item-duplicate"><a href="{$:sp.shp_url}" type="link"  target="{$:sp.shp_target}"><img src="{$:sp.shp_file}" alt="{$:sp.shp_intro}" /></a> </div>
              </vt:if>
            </vt:list>
            <vt:list type="showpic" from="$show" site="mobi" item="sp" index="j">
              <div class="mui-slider-item"><a href="{$:sp.shp_url}" type="link"  target="{$:sp.shp_target}"><img src="{$:sp.shp_file}" alt="{$:sp.shp_intro}" /></a> </div>
              <vt:listelse />
              <!--支持循环，需要重复图片节点-->
              <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="imagesShow/3.jpg" /></a></div>
              <div class="mui-slider-item"><a href="#"><img src="imagesShow/1.jpg" /></a></div>
              <div class="mui-slider-item"><a href="#"><img src="imagesShow/2.jpg" /></a></div>
              <div class="mui-slider-item"><a href="#"><img src="imagesShow/3.jpg" /></a></div>
              <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="imagesShow/1.jpg" /></a></div>
            </vt:list>
            <vt:list type="showpic" from="$show" site="mobi" item="sp" index="j">
              <vt:if var="#.j" value="1" compare="=">
                <div class="mui-slider-item mui-slider-item-duplicate"><a href="{$:sp.shp_url}" type="link"  target="{$:sp.shp_target}"><img src="{$:sp.shp_file}" alt="{$:sp.shp_intro}" /></a> </div>
              </vt:if>
            </vt:list>
          </div>
        </div>
        <script>
    //获得slider插件对象
var gallery = mui('.mui-slider');
gallery.slider({
  interval:2000//自动轮播周期，若为0则不自动播放，默认为0；
});
  </script> 
        <!--轮换图片结束--> 
        <!--自定义菜单-->
        <vt:function var="menu" method="Navi" args="main" args="0" />
        <vt:if var="menu.length" value="0" compare=">">
          <div style="height:10px"></div>
          <vt:function var="path" method="Path" args="org"/>
          <div class="menuBox">
            <vt:foreach from="$#.menu" item="m" index="i"> <a class="mItem" type="link" href="{$:m.nav_url}" target="{$:m.nav_target}">
              <vt:if var="#.m.nav_logo" value="" compare="!="> <img alt="" src="{$:path}{$:m.nav_logo}" class="mitem-img"/>
                <vt:else />
                <svg class="icon mitem-img" aria-hidden="true">
                <use xlink:href="#icon-set"></use>
                </svg> </vt:if>
              <vt:if var="m.nav_isbold" value="true" compare="=">
              <span style="color: {$:m.nav_color};font-family: {$:m.nav_font};font-weight: bold;">
              <vt:else />
              <span style="color: {$:m.nav_color};font-family: {$:m.nav_font};">
              </vt:if>
              {$:m.nav_name} </span> </a> </vt:foreach>
          </div>
        </vt:if>
        <div class="mui-card"> 
          <!--页眉，放置标题-->
          <div class="mui-card-header"><a class="mui-navigate-right" href="selfcourse.ashx" type="link"> <svg class="icon cou-ico" aria-hidden="true">
            <use xlink:href="#icon-blackboard-2"></use>
            </svg> 我的课程 </a></div>
          <!--内容区-->
          <div class="mui-card-content">
           <vt:function var="path" method="Path" args="Course"/>
            <vt:if var="#.currCourse.cou_name" value="" compare="!=">
              <li class="mui-table-view-cell  curr-box"> <a class="mui-navigate" href="CoursePage.ashx?couid={$currCourse.cou_id}" type="link">
                <vt:if var="#.currCourse.cou_LogoSmall" value="" compare="="> <svg class="icon cou-ico" aria-hidden="true">
                  <use xlink:href="#icon-objects-color_diamond"></use>
                  </svg>
                  <vt:else />
                  
                  <img class="mui-media-object mui-pull-left curr-logo" default="images/cou-nophoto.png" src="{$path}{$currCourse.Cou_LogoSmall}"/> </vt:if>
                《{$currCourse.cou_name}》 </a></li>
            </vt:if>
             <vt:foreach from="$#.buyCou" item="c" count="3" id="buyCou" remark="已经购买的课程">
              <vt:if var="#.currCourse.Cou_ID" value="$c.Cou_ID" compare="!=">
             <li class="mui-table-view-cell  curr-box"> <a class="mui-navigate" href="CoursePage.ashx?couid={$c.cou_id}" type="link">
                <vt:if var="c.cou_LogoSmall" value="" compare="="> <svg class="icon cou-ico" aria-hidden="true">
                  <use xlink:href="#icon-objects-color_diamond"></use>
                  </svg>
                  <vt:else />
                  <img class="mui-media-object mui-pull-left curr-logo" default="images/cou-nophoto.png" src="{$path}{$c.Cou_LogoSmall}"/> </vt:if>
                《{$c.cou_name}》 </a></li>
                </vt:if>
             </vt:foreach>
          </div>
        </div>
        
        <!--主按钮区-->
        <div class="btnArea">
          <div class="btnLeft"> <a class="blue" href="courses.ashx" type="link">课程中心</a> <a class="gray" href="exam.ashx" type="link">在线考试</a> <a class="red" href="CouponExchange.ashx" type="link">积分兑换</a> <a class="yellow" href="LearningCard.ashx" type="link">学习卡</a> <a class="btnRow green" href="recharge.ashx" type="link">充   值</a> </div>
          <div class="btnRight">
            <vt:if var="Account.Ac_id" value="0" compare=">"> 
              <!--如果已经登录-->
              <div class="accDefPhoto" >
                <vt:if var="Account.Ac_photo" value="" compare="="> <img src="../images/nophoto.jpg"/>
                  <vt:else/>
                  <a class="" href="SelfInfo.ashx" > <img src="{$stpath}{$:#.Account.Ac_photo}" default="images/nophoto.jpg"/></a> </vt:if>
              </div>
              <div class="rightButtom"> <a href="SelfInfo.ashx" type="link">{$Account.Ac_name}</a></div>
              <vt:else/>
              <!--如果未登录--> 
              <script type="text/javascript">
		//是否启用微信登录
		var WeixinLoginIsUse="{$WeixinLoginIsUse}"=="True";
		AutoLogin_forAjax(WeixinLoginIsUse);
		</script> 
              <img src="Images/nophoto.jpg" class="accDefPhoto"/>
              <div class="rightButtom"> <a href="login.ashx" type="link">登录</a> &nbsp; <a href="Register.ashx" type="link">注册</a></div>
            </vt:if>
            <script type="text/javascript">
			 $(".accDefPhoto").height($(".accDefPhoto").width());
			 </script> 
          </div>
        </div>
        <!--通知公告-->
        <vt:list type="notice" var="$notices" item="data" index="i" count="6"> </vt:list>
        <ul class="mui-table-view">
          <vt:list type="notice" from="$notices" item="data" index="i">
            <li class="mui-table-view-cell" noid="{$:#.data.no_id}"> <a href="notice.ashx?id={$:#.data.no_id}" class="notice" title="{$:#.data.no_ttl}" type="link"> {$:#.data.no_ttl}</a> <span class="mui-badge">{$:#.data.no_startTime  format="MM-dd"}</span> </li>
          </vt:list>
        </ul>
        <!--热门课程-->
        <div class="mui-card">
          <div class="mui-card-content">
            <vt:repeat type="subject" var="sbjs" item="data" index="i" count="4" remark="顶级专业分类">
              <div class="sbj"> <span class="line"></span>
                <div class="name"> <a href="Courses.ashx?sbjids={$#.data.current.Sbj_id}" type="link">{$#.data.current.Sbj_Name} </a></div>
              </div>
              <vt:function var="reccour" method="getCourses" args="$#.data.current.sbj_id" args="8" args="rec"/>
              <div class="coursebox">
                <vt:foreach from="$reccour" type="course" item="c" index="i" order="rec" count="4"  remark="推荐课程">
                  <div class="course-item"> <a href="course.ashx?id={$:#.c.cou_id}" type="open" title="{$:#.c.cou_name}" class="cour-img"><img src="{$:#.c.cou_logosmall}" default="images/cou-nophoto.png"/></a><a href="course.ashx?id={$:#.c.cou_id}" type="open" title="{$:#.c.cou_name}" class="cour-name"> {$:#.c.cou_name} </a></div>
                </vt:foreach>
              </div>
            </vt:repeat>
            <div class="mui-table-view-cell mui-media" ><a class="link" href="courses.ashx" type="link">点击查看更多课程...</a></div>
          </div>
        </div>
        <!--我的课程--> 
      </div>
    </div>
    <!-- off-canvas backdrop -->
    <div class="mui-off-canvas-backdrop"> </div>
  </div>
  <!--主界面结束--> 
</div>
</body>
</html>
