<!doctype html>
<html>
<head>
<title>学习卡</title>
<vt:include file="inc/meta.inc" />
<link rel="stylesheet" href="Styles/LearningCard.css?tick={$tick}"/>
<script type="text/javascript" src="Scripts/LearningCard.js?tick={$tick}"></script>
</head>
<body>
<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable"> 
  
  <!--主界面部分-->
  <div class="mui-inner-wrap">
    <header class="mui-bar mui-bar-nav"> <a href="#" class="iconfont mui-pull-left nav-left" type="back">&#xe6c6;</a> <a class="mui-btn mui-btn-link mui-pull-right" href="default.ashx" type="link"><span class="iconfont top-ico">&#xe620;</span></a>
      <h1 class="mui-title"><span class="examico">&#xe619;</span> 学习卡</h1>
    </header>
    <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
      <div class="mui-scroll">
        <ul class="mui-table-view">
          <vt:if var="Account.Ac_ID" value="0" compare=">">
            <li class="mui-table-view-cell mui-media"> <a href="javascript:;">
              <vt:if var="Account.Ac_photo" value="" compare="="> <img class="mui-media-object mui-pull-left" src="images/nophoto.jpg"/>
                <vt:else/>
                <img class="mui-media-object mui-pull-left" src="{$stpath}{$:#.Account.Ac_photo}"/></vt:if>
              <div class="mui-media-body">
                <vt:if var="Account.Ac_name" value="" compare="="> （无名）
                  <vt:else/>
                  {$Account.Ac_name} </vt:if>
                <span class="money-item">余额 <span class="moneyico">&#xe624;</span> {$:#.Account.Ac_money format="0.00"}元 (券{$:#.Account.Ac_Coupon}个)</span>
                <p class='mui-ellipsis'>
                  <vt:if var="Student.Ac_PhoneMobi" value="" compare="!="> {$Student.Ac_PhoneMobi} </vt:if>
                  （账号：{$:#.Account.Ac_accname} ） </p>
              </div>
              </a> </li>
            <vt:else/>
            <li class="mui-table-view-cell mui-media"> <img class="mui-media-object mui-pull-left" src="images/nophoto.jpg"/>未登录
              <p class='mui-ellipsis' id="nologin"><a href="login.ashx" type="link">点击此处登录</a></p>
            </li>
          </vt:if>
        </ul>
        <!--学员个人信息（结束），如头像-->
        
        <div class="mui-card">
          <div class="mui-card-header"><span class="card-tit"><span class="moneyico ico">&#xe60f;</span>学习卡</span><span id="card-error" class="error-show"></span> </div>
          <!--内容区-->
          <div class="mui-card-content">
            <form class="mui-input-group" id="formPayCard" star="false">
              <div class="mui-input-row">
                <label>学习卡</label>
                <input name="tbCard" id="tbCard" value="" type="text"  class="textbox" nullable="false" regex="\d+(\s|)-(\s|)\d+"  group="code" />
              </div>
              <div class="mui-input-row txt"> 格式为“卡号-密码”，破折号不可缺少 </div>
              <div class="mui-input-row txt"  style="display:none">
                <input id="upload_qrcode" type="file" accept="image/*;" capture="user" >
              </div>
              <div class="mui-button-row">
                <div id="btn_camera"><img src="Images/qrcode.png" loading="load_015.gif" normal="qrcode.png"/>二维码</div>
                <button class="mui-btn mui-btn-primary enter" id="btnPayCard" type="submit"  verify="true"  data-loading-text="提交中"   group="code">使用</button>
                <button class="mui-btn mui-btn-primary  mui-btn mui-btn-success enter" id="btnPayCard" type="submit"  verify="true"  data-loading-text="提交中"   group="code">暂存</button>
              </div>
            </form>
          </div>
        </div>
        <div class="mui-card">
	<!--页眉，放置标题-->
	<div class="mui-card-header"><span class="card-tit"><span class="moneyico ico">&#xe60f;</span>我的学习卡</span></div>
	<!--内容区-->
	<div class="mui-card-content">
    
     <li class="mui-table-view-cell">
     没有任何学习卡
     </li>
    </div>
	
</div>
        <!-- 主内容结束 --></div>
    </div>
    <!--主界面结束--> 
  </div>
</div>
</body>
</html>