<!DOCTYPE html>
<html>
<head>
<title>资金明细</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/MoneyDetails.js?ver={$version}"></script>
<link rel="stylesheet" href="Styles/MoneyDetails.css?ver={$version}" />
</head>
<body>
<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable"> 
  <!--侧滑菜单部分-->
  <vt:include file="inc/Menu.html" />
  <!--主界面部分-->
  <div class="mui-inner-wrap">
    <header class="mui-bar mui-bar-nav"> <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a> <a class="mui-btn mui-btn-link mui-pull-right" href="default.ashx" type="link"><span class="iconfont top-ico">&#xe620;</span></a>
      <h1 class="mui-title"><span class="moneyico">&#xe746;</span> 资金明细</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper" id="pullrefresh"> 
      <!--下拉刷新容器-->
      <div class="mui-scroll">
        <ul id="detail-view" class="mui-table-view">
       
        </ul>
      </div>
    </div>
    <!-- 隐藏侧滑菜单的层 -->
    <div class="mui-off-canvas-backdrop"> </div>
  </div>
</div>
</body>
</html>
