<!DOCTYPE html>
<html>
<head>
<title>试题练习-《{$currCourse.cou_name}》</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/QuesOutlines.js"></script>
<link href="Styles/QuesOutlines.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!--主界面部分-->
<div class="mui-inner-wrap">
  <div class="mui-scroll">
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
         <vt:if var="log.Lsq_ID" value="0" compare=">"> 
         <a href="QuesExercises.ashx?couid={$log.cou_id}&olid={$log.ol_id}&qid={$log.qus_id}" class="log" olid="{$log.ol_id}" type="link"> 继续练习 <span class="mui-pull-right logtime">{$log.lsq_lastTime}</span></a>
          <vt:else />
          按章节练习
          </vt:if>
        </li>
    </ul>
    <!--章节输出-->
    <vt:if var="outlines.Length" value="0" compare=">">
      <ul class="mui-table-view">
        <vt:foreach id="course" from="$dtOutlines" item="data" remark="章节列表">
          
          <vt:expression var="r" args="$data.ol_level" args="15" expression="({0})*{1}" />
          <li class="mui-table-view-cell outline" olid="{$:#.data.ol_id}" pid="{$:#.data.ol_pid}" style="margin-left:{$:r}px"> 
            <!--链接指向试题分页，size每页多少条试题,onpager是多少条之内，不分页--> 
            <a  type="link" count="{$count}" href="QuesExercises.ashx?olid={$:#.data.ol_id}&couid={$:#.data.cou_id}&count={$:#.data.ol_quescount}"> <span class="iconfont">&#xe636;</span> <span class="tax">1.</span> {$:#.data.ol_name} </a> <span class="mui-badge count">{$:#.data.ol_quescount}</span> </li>
        </vt:foreach>
      </ul>
      <vt:else />
      <ul class="mui-table-view">
        <li class="mui-table-view-cell"> 当前课程没有章节 </li>
      </ul>
    </vt:if>
  </div>
 
  <nav class="mui-bar mui-bar-tab"> <a class="mui-icon mui-icon-left-nav mui-pull-left left" href="CoursePage.ashx" type="link"><span class="couname">{$currCourse.cou_name}</span></a> <a class="mui-btn mui-btn-link mui-pull-right right"> <span class="mui-badge count sum">{$count} 道</span> </a> </nav>
</div>
</body>
</html>