<!doctype html>
<html>
<head>
<title>{$:#.ques.Qus_Title}</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/Questions.js"></script>
<link href="Styles/Questions.css" rel="stylesheet" type="text/css" />
<link href="/Utility/CoreStyles/Jme.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <!--试题区 -->
  <div id="quesArea">
    <div class="quesItem" qid="{$:#.q.qus_id}" index="{$:i}" type="{$:#.q.qus_type}">
      <div class="quesBox">
        <!--试题的题干 -->
        <div class="quesTitle">[{$:#.quesType}]{$:#.q.qus_title} </div>
        <!--试题答案选项 -->
        <div class="quesAnswerBox">
          <vt:if var="q.qus_type" value="1" compare="=">
            <!--单选题 -->
            <vt:function var="items" method="AnswerItems" args="$#.q"/>
            <vt:foreach from="$#.items" item="ans" index="j">
              <vt:function var="tax" method="GetOrder" args="$j"/>
              <div class="answer"  correct="{$:ans.Ans_IsCorrect}" ansid="{$:ans.Ans_id}"><span class="iconfont type">&#xf00c6;</span>{$:tax}、{$:ans.Ans_Context} </div>
            </vt:foreach>
          </vt:if>
          <vt:if var="q.qus_type" value="2" compare="=">
            <!--多选题 -->
            <vt:function var="items" method="AnswerItems" args="$#.q"/>
            <vt:foreach from="$#.items" item="ans" index="j">
              <vt:function var="tax" method="GetOrder" args="$j"/>
              <div class="answer"  correct="{$:ans.Ans_IsCorrect}" ansid="{$:ans.Ans_id}"><span class="iconfont type">&#xe603;</span>{$:tax}、{$:ans.Ans_Context} </div>
            </vt:foreach>
          </vt:if>
          <vt:if var="q.qus_type" value="3" compare="=">
            <!--判断题 -->
            <vt:function var="answer" method="GetAnswer" args="$#.q"/>
            <vt:if var="answer" value="正确" compare="=">
              <div class="answer" correct="true" ansid="0"><span class="iconfont type">&#xe621;</span>A、&nbsp;正确</div>
              <div class="answer" correct="false" ansid="1"><span class="iconfont type">&#xe621;</span>B、&nbsp;错误</div>
              <vt:else/>
              <div class="answer" correct="false" ansid="0"><span class="iconfont type">&#xe621;</span>A、&nbsp;正确</div>
              <div class="answer" correct="true" ansid="1"><span class="iconfont type">&#xe621;</span>B、&nbsp;错误</div>
            </vt:if>
          </vt:if>
          <vt:if var="q.qus_type" value="4" compare="=">
            <div class="answer">
              <div><span class="iconfont type1">&#xe657;</span> 回答：</div>
              <textarea name="" class="textbox4"></textarea>
            </div>
          </vt:if>
          <vt:if var="q.qus_type" value="5" compare="=">
            <!--填空题 -->
            <vt:function var="items" method="AnswerItems" args="$#.q"/>
            <vt:foreach from="$#.items" item="ans" index="j">
              <vt:function var="tax" method="GetOrder" args="$j"/>
              <div class="answer"><span class="iconfont type1">&#xe657;</span>{$:tax}、
                <input name=""  class="textbox5" type="text"/>
              </div>
            </vt:foreach>
          </vt:if>
        </div>
        <div class="answerArea">
          <!--试题答案 -->
          <vt:function var="answer" method="GetAnswer" args="$#.q"/>
          <b>参考答案：</b><br/>
          {$#.answer} </div>
        <!--笔记 -->
        <vt:function var="note" method="GetNote" args="$#.q.qus_id"/>
        <vt:if var="note.Stn_Context" value="" compare="!=">
          <div class="answerArea"> <b>我的笔记：</b><br/>
            {$note.Stn_Context} </div>
        </vt:if>
        <vt:if var="q.Qus_Explain" value="" compare="!=">
          <div class="answerArea">
            <!--试题解析 -->
            <b>试题解析：</b><br/>
            {$q.Qus_Explain} </div>
        </vt:if>
      </div>
    </div>
  </div>

</body>
</html>