<!doctype html>
<html>
<head>
<title>我的同学</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/Students.js?ver={$version}"></script>
<link href="Styles/Students.css?ver={$version}" rel="stylesheet" type="text/css" />
<meta charset="utf-8">
</head>
<body>

<!--主界面部分-->
<div class="mui-inner-wrap">

  <div class="mui-content mui-scroll-wrapper" id="pullrefresh"> 
    <!--下拉刷新容器-->
    <div class="mui-scroll">
      <ul id="detail-view" class="mui-table-view">
      </ul>
    </div>
  </div>
</div>
<nav class="mui-bar mui-bar-tab"> <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left left"></a> <a class="mui-btn mui-btn-link mui-pull-right right" href="" > 我的同学 </a> </nav>
</body>
</html>