<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>公告</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <page_header ref='pageheader' @login="acc=>account = acc" @load="(o,c,p)=>{organ=o,config=c,platinfo=p}">loading
            ...
        </page_header>
        <context>
            <div class="left">
                <div class="fixed"></div>
                <div id="artBox">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item><a href="index">通知公告</a></el-breadcrumb-item>
                        <el-breadcrumb-item>正文</el-breadcrumb-item>
                    </el-breadcrumb>
                    <loading bubble v-if="loading">   ...</loading>
                    <template v-else-if="!isempty">
                        <h1> {{data.No_Ttl}}</h1>
                        <div class="artAttrBar"> <span class="artTime">{{data.No_CrtTime|date('yyyy-M-dd hh:m:s')}}</span>
                            <!--<span class="artSharp">分享 </span>  -->
                        </div>
                        <!--正文 -->
                        <div id="artContext" v-html="data.No_Context"></div>
                    </template>
                    <div v-else class="nocontext"> 没有内容</div>

                </div>
            </div>
            <div class="right">
                <div class="notices">
                    <div class="tit">
                        <a href="index">
                            <icon>&#xe697</icon> 通知公告
                        </a>
                    </div>
                    <div class="noItem" v-for="(data,i) in notices">
                        <b :class="'order_'+i">{{i+1}}.</b>
                        <a :href="'detail.'+data.No_Id" :title="data.No_Ttl">
                            {{data.No_Ttl}}</a>

                    </div>
                </div>
            </div>
        </context>

        <page_footer :organ="organ" :account="account">loading ...</page_footer>
    </div>


</body>

</html>