
@font-face {font-family: "Money";
  src: url('Money.eot?t=1484108310954'); /* IE9*/
  src: url('Money.eot?t=1484108310954#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Money.woff?t=1484108310954') format('woff'), /* chrome, firefox */
  url('Money.ttf?t=1484108310954') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Money.svg?t=1484108310954#Money') format('svg'); /* iOS 4.1- */
}

.Money {
  font-family:"Money" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-get:before { content: "\e61e"; }

.icon-zhifubao:before { content: "\e601"; }

.icon-yinxingqia:before { content: "\e60f"; }

.icon-gouwuche:before { content: "\e652"; }

.icon-rmb:before { content: "\e624"; }

.icon-chaxunyue:before { content: "\e608"; }

.icon-xianjin:before { content: "\e625"; }

.icon-xunzhao02:before { content: "\e730"; }

.icon-renminbi:before { content: "\e686"; }

.icon-zhichu:before { content: "\e65e"; }

.icon-handcoins:before { content: "\e60b"; }

.icon-icon1460188752552:before { content: "\e627"; }

.icon-icon14:before { content: "\e626"; }

.icon-chongzhi:before { content: "\e62d"; }

.icon-zhangdan:before { content: "\e666"; }

.icon-zhuanzhang:before { content: "\e63c"; }

.icon-yue:before { content: "\e746"; }

.icon-yinxing:before { content: "\e631"; }

.icon-dujiayuniconzhenggao-22:before { content: "\e63e"; }

.icon-tixian:before { content: "\e62f"; }

.icon-cuxiao:before { content: "\e69d"; }

.icon-yue1:before { content: "\e697"; }

