<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>新闻</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <generic></generic>
        <div class="header">
            <a icon="&#xe748" @click="window.history.go(-1); "></a>
            <a icon="&#xa020" href="/mobi/index"> </a>
            <search_input></search_input>
        </div>
        <div class="context">
            <van-list v-model="loading" :finished="finished" finished-text="没有更多了" error-text="请求失败，点击重新加载"
                @load="onload">
                <card>
                    <card-title v-if="search!=''">
                        <span icon="&#xa00b"></span>
                        检索：“{{search}}”
                    </card-title>
                    <card-context>
                        <artrow v-for="(art,i) in articles" :art="art"></artrow>
                        <div v-if="articles.length==0 && !loading" class="noarticle">
                            <icon>&#xe839</icon>没有内容
                        </div>
                    </card-context>
                </card>
            </van-list>
        </div>
    </div>


</body>

</html>