@charset "utf-8";
/*Widget控件*/
.WidgetICO {
	text-align: left;
	font-size: 25px;
	background-color: #fff;
}
.WidgetShow {
	color: #999;
}
* {
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 12px;
}
body {
	margin: 0px;
	padding: 0px;
}
body, a, p, div, td {
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #044D22;
}
a:hover {
	text-decoration: underline;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.VerifyShow_Box {
	line-height: 30px;
	text-indent: 10px;
	color: #0387d9;
	background-color: #FFFFCC;
	border: 1px solid #0387d9;
}
/*图标*/
.icoMore {
	background-image: url(../Images/icon-1.png);
	background-repeat: no-repeat;
	background-position: -86px -180px;
	height: 18px;
	width: 18px;
	display: block;
}
/*头部设置*/
#header {
	background-color: #FFFFFF;
}
#qrcode {
	height: 200px;
	width: 180px;
	position: absolute;
	z-index: 2000;
	text-align: center;
	background-color: #FFFFFF;
	color: #0387d9;
}
#qrcode img {
	height: 160px;
	width: 160px;
	margin-left: 0px;
}
#headerInner {
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
	height: 70px;
	width: 1200px;
	background-color: #FFFFFF;
	position: relative;
}
#header .logo {
	float: left;
	margin-top: 2px;
	max-height: 80px;
	max-width: 640px;
}
.topright {
	height: 35px;
	width: 180px;
	text-align: right;
	margin-top: -5px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.right-div {
	float: right;
	line-height: 35px;
	height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.right-div a {
	font-size: 12px;
	color: #333;
	text-decoration: none;
}
/*学员头像*/
.accTarget {
	position: relative;
}
.accTarget a {
	margin-right: 10px;
}
/*学员下拉菜单*/
.accMenu {
	display: none;
	position: absolute;
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	z-index: 1000;
	width: 120px;
}
.accMenu dd {
	text-align: left;
	line-height: 30px;
	height: 30px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCC;
	text-indent: 10px;
	white-space: nowrap;
}
.accMenu dd a {
	display: block;
	width: 100%;
}
.accMenu dd a:hover {
	background-color: #CCC;
	color: #FFF;
}
/*学员头像*/
.accPhoto {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 3px;
	margin-left: auto;
	float: left;
	margin-top: 8px;
}
.accPhoto img {
	width: 22px;
	height: 22px;
}
.icon-select-down {
	font-weight: 500;
	font-style: normal;
	border-color: #626262 transparent transparent transparent;
	border-style: solid;
	border-width: 4px 4px 0px 4px;
	_border-style: solid dotted;
	position: absolute;
	top: 15px;
	right: -2px;
	width: 0px;
	height: 0px;
	zoom: 1;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	-moz-transition: -moz-transform 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
}
.icon-hover .icon-select-down {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
/*搜索框*/
.headerCenter {
	float: right;
	text-align: center;
	position: absolute;
	top: 35px;
	right: 0px;
}
.searchBox {
	margin-top: 10px;
	margin-right: auto;
	width: 300px;
	margin-left: auto;
}
.searchBox .seacInput {
	float: left;
	height: 25px;
	width: 254px;
	background-repeat: no-repeat;
	margin-right: 0px;
	line-height: 30px;
	text-indent: 10px;
	color: #999;
	background-color: transparent;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0B6E48;
	border-right-color: #0B6E48;
	border-bottom-color: #0B6E48;
	border-left-color: #0B6E48;
}
.searchBox .seacInputFocus {
	color: #333;
}
.searchBox .searbtn {
	height: 27px;
	width: 35px;
	float: left;
	cursor: pointer;
	background-color: #0B6E48;
}
.searchBox span {
	font-size: 25px;
	line-height: 25px;
	color: #FFF;
	margin-top: 1px;
	display: block;
}
/*主菜单区域*/
.menubBar {
	line-height: 45px;
	height: 45px;
	margin-top: 20px;
	background-color: #0B6E48;
	width: 100%;
	overflow: hidden;
	border-bottom-width: 4px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #199475;
}
.menubBar dl {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 45px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.menubBar dl dd {
	line-height: 45px;
	float: left;
	height: 45px;
	width: 142px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.menubBar dl dd a {
	color: #FFFFFF;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
	line-height: 45px;
	height: 45px;
	display: block;
	width: 100%;
	letter-spacing: 5px;
	text-indent: 5px;
}
.menubBar dl dd {
	color: #FFFFFF;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 16px;
}
.menubBar dl dd a:hover {
	text-decoration: none;
}
.menubBar dd.overMenu {
	background-color: #339300;
}
.menubBar dd.overMenu a {
	color: #FFFFFF;
}
.menubBar dd.curr {
	background-color: #f24933;
}
.menubBar dd.curr a {
	color: #FFFFCC;
}
#header .rightTxt {
	font-size: 24px;
	float: right;
	width: 580px;
	line-height: 25px;
	text-align: right;
	margin-top: 10px;
}
/*主菜单的下拉框*/
.naviBox {
	position: absolute;
	z-index: 8000;
	opacity: 0.85;
	filter: alpha(opacity=85);
	background-color: #339300;
}
.naviItem {
	line-height: 35px;
	height: 35px;
	position: relative;
}
.naviItem a {
	font-size: 16px;
	line-height: 35px;
	height: 35px;
	display: block;
	width: auto;
	margin-left: 15px;
	height: 35px;
	color: #FFFFFF;
	text-decoration: none;
	position: absolute;
	z-index: 8001;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}
.naviItem span {
	color: #FFF;
	position: absolute;
	z-index: 1;
	top: 9px;
	right: 14px;
	width: 4px;
	height: 14px;
	font: 400 9px/14px consolas;
}
.naviHover {
	background-color: #336699;
}
.naviHover a, .naviHover span {
	color: #FFFFFF;
}
#Context {
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
}
/*底部*/
#footer {
	background-color: #044D22;
	height: 200px;
	text-align: center;
	display: table;
	width: 100%;
	color: #CCCCCC;
	margin-top: 50px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #199475;
}
.footerMenu {
	padding: 0px;
	width: 300px;
	height: 150px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: center;
	float: left;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #FF9;
}
.footerMenu a {
	font-size: 15px;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 20px;
	display: block;
	text-align: left;
	text-indent: 10px;
}
#footer .footerConext {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#footer, #footer a, #footer dd, #footer span {
	color: #fff;
	font-size: 15px;
}
#footer .en {
	font-family: Arial, Helvetica, sans-serif;
}
#footer .footercopyright {
	padding: 0px;
	width: 500px;
	height: 150px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: center;
	float: left;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #FF9;
}
#footer .footercopyright dd {
	text-align: left;
	line-height: 30px;
	height: 30px;
}
#footer .footerRight {

	height: 150px;
	width: 300px;
	float: left;
}
#footer .footerRight img {
	height: 150px;
	width: 150px;
	margin: 20px;
}
/*分页导航*/
#pagerBar {
	height: 40px;
	display: table;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
.pagerBtn {
	line-height: 40px;
	letter-spacing: 2px;
	text-align: center;
	float: left;
	height: 40px;
	margin-bottom:6px;
}
.pagerBtn a {
	color: #333333;
	line-height: 40px;
	display: block;
	height: 40px;
	font-size: 15px;
}
.pagerFirst {
	width: 60px;
	border: 1px solid #CCCCCC;
}
.pagerLast {
	border: 1px solid #CCCCCC;
	width: 60px;
}
.pagerPrev {
	width: 80px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.pagerIndex {
	width: 40px;
	margin-bottom: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.pagerNext {
	width: 80px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.pagerCurr {
	background-color: #CCCCCC;
}
/*子页面上面的导航标识栏*/
.navi-bar {
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:20px;
}
.navi-bar .nav-txt {
	letter-spacing: 0.1cm;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 14px;
	color: #333333;
}
.navi-bar a {
	height: 40px;
	font-size: 14px;
	color: #333333;
	white-space: nowrap;
}
