
@font-face {font-family: "iconphone";
  src: url('iconphone.eot'); /* IE9*/
  src: url('iconphone.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconphone.woff') format('woff'), /* chrome, firefox */
  url('iconphone.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconphone.svg#iconphone') format('svg'); /* iOS 4.1- */
}

.iconphone {
  font-family:"iconphone" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouji:before { content: "\e610"; }
.icon-shouji1:before { content: "\e625"; }
.icon-shouji2:before { content: "\e671"; }
.icon-shouji3:before { content: "\e610"; }
.icon-shouji4:before { content: "\e60a"; }
.icon-icon:before { content: "\e600"; }
.icon-shouji5:before { content: "\e622"; }
.icon-ad79:before { content: "\e60f"; }
.icon-shouji6:before { content: "\e648"; }
.icon-pingguoshouji:before { content: "\e69b"; }
.icon-xingzhuang121:before { content: "\e608"; }
.icon-shoujichongzhi:before { content: "\e63e"; }
.icon-shoujihujiao:before { content: "\e63c"; }
.icon-qiehuanshoujitubiao:before { content: "\e605"; }
.icon-shoujihao01:before { content: "\e635"; }
.icon-shoujidadianhua:before { content: "\e71a"; }
