@charset "utf-8";
.loadingBox {
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.2) none repeat scroll !important; /*实现FF背景透明，文字不透明*/
	background: #000;
	filter: Alpha(opacity=20);/*实现IE背景透明*/
	color: #F30;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
.loadingBox p {
	position: relative;
	color: #000;
	font-family: "黑体", "微软雅黑";
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
	margin-top: 150px;
	background-color: #CCC;
	height: 100px;
	width: 400px;
	border: 1px solid #999;
	margin-right: auto;
	margin-left: auto;
} /*实现IE文字不透明*/
.itemRow {
	line-height: 25px;
}
/*按章节出题*/
.PercentBox {
	padding: 5px;
	border: 1px solid #CCC;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.PercentBoxTit {
	line-height: 25px;
	font-weight: bold;
}
.olBox {
	margin-bottom: 5px;
}
.olname {
	line-height: 25px;
	font-weight: bold;
	color: #333;
}
.olCountBox {
	margin-left: 20px;
}
