.live_dialog{
	width: 70%;
    height: 80%;
    margin-top: 10vh !important;
}
.live_dialog .el-dialog__body {
    height: calc(100% - 160px);
    overflow: auto;

}
.live_dialog .el-dialog__footer{
    padding: 0px 20px !important;
}