@charset "utf-8";

#vapp {
    overflow: hidden;
}

.el-tabs {
    margin: 10px 10px 0px 10px;
}

.el-tabs__nav-scroll {
    padding-left: 8px;
}

.el-tabs icon {
    font-size: 18px;
}

.el-tabs .el-tabs__header {
    margin-bottom: 0px;
}

.el-tabs .el-tabs__content {
    display: none;
}

.context {
    margin: 0px 0px 0px 10px;
    height: 450px;
    width: calc(100% - 20px);
    overflow: auto;
    border: 1px solid #E4E7ED;
    border-top: none;
    box-sizing: border-box;

}

.el-form {
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
}

.el-tabs--border-card {
    box-shadow: none;
    border: none;
}

.upload_img_area img {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    border: 1px solid #aaa;
    margin-top: 5px;
    border-radius: 50px;
    margin-right: 10px;
    float: left;
}

.photo-txt {
    display: inline-block;
    margin-top: 50px;
    color: #409EFF;
}

.pingyin {
    font-size: 13px;
    color: #409EFF;
}

.pingyin .py {
    cursor: pointer;
}

.el-input__prefix icon {
    text-align: center;
    margin-left: 6px;
    font-size: 15px;
}

/*编辑框*/
.about_editor {
    width: 100%;
    height: 100%;
}

.about_editor .vue-html5-editor {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.about_editor .vue-html5-editor .content {
    width: 100% !important;
    height: 100% !important;
}

/*内容输入框*/
.vue-html5-editor {
    margin: 0px 0px 0px 20px;
    height: calc(100% - 20px);
}

.vue-html5-editor .content {
    height: calc(100% - 10px) !important;
}
/*底部按钮*/
.btns{
    box-sizing: border-box;
    margin: 10px 10px ;
    text-align: right;
}