@charset "utf-8";

.course_expand{
	box-sizing: border-box;
	padding: 0px 0px 0px 85px;
	display: flex;
	text-align: left;
}

.course_expand img {
	height: 100px;
	width: 178px;
	margin-right: 20px;
	transition: all 1s;
}

.course_expand img:hover {
	transform: scale(1.05);
}
a.large:hover{
	text-decoration: underline;
}


/*标题栏的右侧区域*/
.info_box {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.info_box .title {
	margin-bottom: 8px;
}

.index {
	font-size: 16px;
	margin-right: 12px;
}

.info_box .subject {
	margin: 0px 10px;
	font-size: 12px;
	color: #999;
}

.info_box .subject icon {
	font-size: 10px;
}
/*按钮*/
.btns {
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-between;
	box-sizing: border-box;
	padding-right: 10px;
	padding-top: 10px;
}

.btns .el-link{
	justify-content: left !important;
}

/*直播图标*/
live {
	background-image: url(/Utilities/Images/live-icon.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

.title_box live {
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-right: 2px;
}
/*展示课程综述*/

.el-drawer__header {
	padding: 15px 15px 0px 15px;
	margin-bottom: 15px !important;
}

.el-drawer__body {
	height: calc(100% - 5px);
	width: 100%;
	overflow-y: auto;
}

.showDetail {
	padding: 0px 15px 20px 15px;
}

.showDetail .cou_logo {
	width: 100%;
	height: calc((400px - 30px) / 16 * 9);
}

.showDetail>div {
	margin-bottom: 10px;
}

.showDetail live {
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-right: 2px;
}

.showtitle {
	margin: 0px 0px 10px 0px;
}

.showSubject {
	font-size: 14px;
	color: #999;
}

.showSubject b {
	color: #333;
	margin: 0px 5px;
}

.showSubject icon {
	color: #333;
}

.showPrice .el-tag {
	margin-right: 6px;
	margin-bottom: 4px;
}

.showIncome .money {
	font-size: 18px;
	font-weight: bold;
	color: rgb(238, 78, 4);
	text-shadow: 1px 1px 2px rgb(240, 226, 37);
}

/*综述里的数据项*/

.showContext>div:first-child {
	line-height: 30px;
}

.showContext>div.showitems {
	margin-left: 20px;
	width: calc(100% - 20px);
	display: flex;
	flex-wrap: wrap;
}

.showContext>div.showitems div {
	line-height: 30px;
}

.showContext>div.showitems div:nth-child(odd) {
	width: calc(50% - 10px);
	margin-right: 10px;
}

.showContext>div.showitems div:nth-child(even) {
	width: 50%;
	margin-right: 0px;
}