@charset "utf-8";
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
	overflow: auto;
	box-sizing: border-box;
}
#vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;	
	position: relative;
}
*[v-cloak] {
	display: none;
}

* {
	touch-action: none;
	touch-action: pan-y;
}
/*字体大小*/
.large {
	font-size: 16px !important;
}
.medium{
    font-size: 14px !important;
}
*[v-cloak] {
	display: none;
}

.van-dialog {
	border-radius: 3px;
}
/*特殊字体*/

red, .red {
	color: red;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}
/*表格的内容滚动（标题栏固定）*/
.el-table {
	height: calc(100% - 63px);
}

.el-table__body-wrapper {
	height: calc(100% - 41px);
	overflow-y: auto;
}

/*表格背景透明*/

.table-wrapper .el-table--fit {
	padding: 20px;
}

.el-table, .el-table__expanded-cell {
	--background-color: transparent !important;
}

.el-table th, .el-table tr {
	--background-color: transparent !important;
}

.el-table--enable-row-transition .el-table__body td, .el-table .cell {
	--background-color: transparent !important;
}

/*当表格行处理禁用状态时*/
table.el-table__body .disabled , table.el-table__body .disabled  * {
	color: #aaa !important;
}

table.el-table__body .disabled img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: right;
    padding: 8px;
    display: flex;
    justify-content:flex-end; 
}
.el-button--close::before {
	content: '\e72c';
	font-size: 15px;
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
}
.el-button--cancel::before {
	content: '\e748';
	font-size: 15px;
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
}
.el-button[define="enter"]:not(.is-loading)::before {
	content: '\a048';
	font-size: 15px;
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
}
.el-button icon {
	font-size: 14px;
}
/*专业下拉选择菜单中，点击标签响应选择*/
.el-cascader-panel .el-radio {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
}

.el-cascader-panel .el-radio__input {
    visibility: hidden;
}

.el-cascader-panel .el-cascader-node__postfix {
    top: 10px;
}

/*禁用（不可以选择的）专业项*/
.is-disabled+*{
    color: #ccc !important;
}
label.is-disabled+*::after{
    content: ' (禁用)';
    font-size: 12px;
}
.toolsbar {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid #DCDFE6;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
}
/*elementUI 的遮罩*/
.v-modal {
	background: rgba(255, 255, 255, 1);
	opacity: 0.7;
}

.el-drawer {
	-webkit-box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);
	box-shadow: 0 8px 10px -5px rgb(158 158 158 / 10%), 0 16px 24px 2px rgb(158 158 158 / 7%), 0 6px 30px 5px rgb(158 158 158 / 6%);
}

.el-dialog {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .7) !important;
}

/*卡片*/

card {
	display: block;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	border-radius: 4px;
	border: 1px solid #ebeef5;
	background-color: #fff;
	overflow: hidden;
	color: #303133;
	transition: .3s;
	margin: 15px;
	width: calc(100% - 30px);
}

card-title {
	display: block;
	padding: 15px;
	line-height: 25px;
	position: relative;
	border-bottom: solid 1px rgba(0, 0, 0, .1);
}

card-title[arrow]::after {
	content: '\e670';
	position: absolute;
	top: 15px;
	right: 8px;
	font-size: 18px;
	font-family: "webdesk_icon" !important;
}

card-title[line] {
	border-bottom: solid 1px rgba(0, 0, 0, .1);
}

card-context {
	display: block;
	padding: 10px 15px 15px 15px;
	line-height: 30px;
	box-sizing: border-box;
}
