@charset "utf-8";
.toolsbar>div help{
	line-height: 35px;
	margin-left: 5px;
}
.el-table {
    height: calc(100% - 33px);
}

.tdcell, .tdcell * {
	line-height: 20px !important;
	max-height: 40px;
}

.tdcell a {
	max-height: 20px !important;
	line-height: 20px !important;
}

.title_box {
	width: 100%;
	display: flex;
}

.title_box img {
	height: 40px;
	margin-right: 10px;
}

.title_box div {
	height: 40px;
	overflow: hidden;
	line-height: 20px;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

live {
	background-image: url(/Utilities/Images/live-icon.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

.title_box live {
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-right: 2px;
}

/*课程数据*/

.course_data {}

.course_data>div {
	height: 20px;
	display: flex;
}

.course_data>div>div {
	flex: 1;
}

.course_data .link {
	color: #409EFF;
	cursor: pointer;
}

.course_data .link:hover {
	text-decoration: underline;
}

/*课程价格*/

.course_prices .price {
	background-color: #fdf6ec;
	border-color: #faecd8;
	border: 1px solid #faecd8;
	color: #e6a23c;
	line-height: 10px !important;
	box-sizing: border-box;
	padding: 0px 8px 0px 0px;
	height: 15px;
	font-size: 12px;
	display: table;
}

.course_prices .first {
	margin-bottom: 2px;
}

.price icon {
	margin-left: 6px;
	margin-right: 2px;
	font-size: 13px;
}
.toolsbar .income{
	line-height: 35px;
	margin-left: 10px;
}
/*课程收益*/

.income {
	color: #d95928;
	font-size: 16px;
}

.income icon {
	margin-right: 2px;
}

.income .income_null {
	color: #ccc;
	font-size: 14px;
}

