<?xml version="1.0"?>
<!--数据库链接，以下是设置说明：
    name:当前系统的域名，此处为主域（用于生成二维码，与数据库没有关系）; 
    connectionString：Data Source=（数据库服务IP地址）; Initial Catalog=(数据库名称); User ID=(数据库账号);password=(密码);    
    -->
<!-- 数据库连接，不要改名称(name属性) -->
<connectionStrings>
  <add name="Song" connectionString="Data Source=.;Initial Catalog=exam2;User ID=sa;password=Sa123456;"
         providerName="WeiSha.Data.SqlServer9.SqlServer9Provider"  />
</connectionStrings>
