<?xml version="1.0"?>
<!--数据库链接，以下是设置说明：
    name:当前系统的域名，与数据库没有关系，用于登录状态的域管理; 
    connectionString：Data Source=（数据库服务IP地址）; Initial Catalog=(数据库名称); User ID=(数据库账号);password=(密码);    
    -->
<!-- 数据库连接，不要改名称(name属性) -->
<connectionStrings>

   <!-- SQLite 数据库 -->
  <!--      <add name="SQLite" 
        connectionString="Data Source=~/App_Data/weisha.db;Version=3;"
        providerName="WeiSha.Data.SQLite.SQLite3Provider"  /> -->

 <!--  <add name="SQLite"
     connectionString="Data Source=~/App_Data/gxmk.db;Version=3;"
     providerName="WeiSha.Data.SQLite.SQLite3Provider"  /> -->
  
  
  <!-- PostgreSQL 数据库 -->
  <!-- <add name="Song"
             connectionString="Server=localhost;Port=5432;Database=examweisha;User Id=postgres;Password=weishakeji;"
           providerName="WeiSha.Data.PostgreSQL.PostgreSQLProvider"  /> -->
   <!--  <add name="PostgreSQL"
          connectionString="Server=localhost;Port=5432;Database=examweisha_empty;User Id=postgres;Password=weishakeji;"
          providerName="WeiSha.Data.PostgreSQL.PostgreSQLProvider"  />-->
  <add name="Song"
            connectionString="Server=localhost;Port=5432;Database=gxmk;User Id=postgres;Password=weishakeji;"
          providerName="WeiSha.Data.PostgreSQL.PostgreSQLProvider"  />

  <!-- SQLserver 数据库 -->
 <!--    <add name="192.168.140.2"
 connectionString="Data Source=.;Initial Catalog=sjht-hlrw20161114;User ID=sa;password=Sa123456;" providerName="WeiSha.Data.SqlServer9.SqlServer9Provider" />-->
   <!--  <add name="Song"
                    connectionString="Data Source=.;Initial Catalog=examweisha;User ID=sa;password=Sa123456;"
                    providerName="WeiSha.Data.SqlServer9.SqlServer9Provider"  />-->
 <!--  <add name="Song"
                    connectionString="Data Source=.;Initial Catalog=examweisha_empty;User ID=sa;password=Sa123456;"
                    providerName="WeiSha.Data.SqlServer9.SqlServer9Provider"  />-->

</connectionStrings>
