<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="Platform" type="WeiSha.Core.PlatformInfoHandler,WeiSha.Core" />
  </configSections>
  <connectionStrings configSource="db.config" />
  <spring>    
    <objects xmlns="http://www.springframework.net">
      <description>适用于Sql2008数据库</description>
      <object id="IManageMenu" type="Song.ServiceImpls.ManageMenuCom,Song.ServiceImpls" />
      <object id="IOrganization" type="Song.ServiceImpls.OrganizationCom,Song.ServiceImpls" />
      <object id="IAccounts" type="Song.ServiceImpls.AccountsCom,Song.ServiceImpls" />
      <object id="IStudent" type="Song.ServiceImpls.StudentCom,Song.ServiceImpls" />
      <object id="ITeacher" type="Song.ServiceImpls.TeacherCom,Song.ServiceImpls" />    
      <object id="IDepart" type="Song.ServiceImpls.DepartCom,Song.ServiceImpls" />
      <object id="IPosition" type="Song.ServiceImpls.PositionCom,Song.ServiceImpls" />
      <object id="IPayInterface" type="Song.ServiceImpls.PayInterfaceCom,Song.ServiceImpls" />
      <object id="IGuide" type="Song.ServiceImpls.GuideCom,Song.ServiceImpls" />
      <object id="IEmpGroup" type="Song.ServiceImpls.EmpGroupCom,Song.ServiceImpls" />
      <object id="IPurview" type="Song.ServiceImpls.PurviewCom,Song.ServiceImpls" />
      <object id="IProfitSharing" type="Song.ServiceImpls.ProfitSharingCom,Song.ServiceImpls" />
      <object id="IEmployee" type="Song.ServiceImpls.EmployeeCom,Song.ServiceImpls" />  
      <object id="ILogs" type="Song.ServiceImpls.LogsCom,Song.ServiceImpls" />
      <object id="IMessage" type="Song.ServiceImpls.MessageCom,Song.ServiceImpls" />
      <object id="IColumns" type="Song.ServiceImpls.ColumnsCom,Song.ServiceImpls" />
      <object id="IContents" type="Song.ServiceImpls.ContentsCom,Song.ServiceImpls" />
      <object id="ICourse" type="Song.ServiceImpls.CourseCom,Song.ServiceImpls" />
      <object id="IOutline" type="Song.ServiceImpls.OutlineCom,Song.ServiceImpls" />   
      <object id="IAccessory" type="Song.ServiceImpls.AccessoryCom,Song.ServiceImpls" />     
      <object id="ILinks" type="Song.ServiceImpls.LinksCom,Song.ServiceImpls" />  
      <object id="IMessageBoard" type="Song.ServiceImpls.MessageBoardCom,Song.ServiceImpls" />
      <object id="INotice" type="Song.ServiceImpls.NoticeCom,Song.ServiceImpls" />
      <object id="ISystemPara" type="Song.ServiceImpls.SystemParaCom,Song.ServiceImpls" />
      <object id="ISMS" type="Song.ServiceImpls.SMSCom,Song.ServiceImpls" />
      <object id="ISSO" type="Song.ServiceImpls.SSOCom,Song.ServiceImpls" />
      <object id="IInternalLink" type="Song.ServiceImpls.InternalLinkCom,Song.ServiceImpls" />
      <object id="IStyle" type="Song.ServiceImpls.StyleCom,Song.ServiceImpls" />
      <object id="ISubject" type="Song.ServiceImpls.SubjectCom,Song.ServiceImpls" />   
      <object id="IKnowledge" type="Song.ServiceImpls.KnowledgeCom,Song.ServiceImpls" />
      <object id="IQuestions" type="Song.ServiceImpls.QuestionsCom,Song.ServiceImpls" />
      <object id="ITestPaper" type="Song.ServiceImpls.TestPaperCom,Song.ServiceImpls" />
      <object id="ITemplate" type="Song.ServiceImpls.TemplateCom,Song.ServiceImpls" />
      <object id="IExamination" type="Song.ServiceImpls.ExaminationCom,Song.ServiceImpls" />   
      <object id="ILimitDomain" type="Song.ServiceImpls.LimitDomainCom,Song.ServiceImpls" />
      <object id="IRecharge" type="Song.ServiceImpls.RechargeCom,Song.ServiceImpls" />
      <object id="ILearningCard" type="Song.ServiceImpls.LearningCardCom,Song.ServiceImpls" />
      <object id="ILive" type="Song.ServiceImpls.LiveCom,Song.ServiceImpls" />
      <object id="IThirdpartyLogin" type="Song.ServiceImpls.ThirdpartyLoginCom,Song.ServiceImpls" />
    </objects>
    <context>
      <resource uri="config://spring/objects" />
    </context>
  </spring>
  <!--站点的配置信息-->
  <Platform name="study" version="2.0">
    <!--应用程序的参数-->
    <App key="128087" version="2.0">
      <!--雪花ID的机器码，即每台服务器的编码-->
      <item key="Snowflake_WorkerID" value="1" />
      <!--日志等级，0.不输出日志；1.只输出错误信息; 2.输出错误和正常信息; 3.输出错误信息、正常信息和调试信息-->
      <item key="LOG_LEVEL" value="3" />
      <!--记录接口执行时间，单位秒，当执行时间大于等于value时才记录-->
      <item key="LOG_ApiElapsed" value="1" />
      <!--请求接口的js所在的页面与地址栏的地址，必须域名一致，为true则验证，false不验证；默认为true-->
      <item key="RESTfulAPI_HostCheck" value="true" />
      <!--应用程序状态，如果Debug，帮助信息可编辑-->
      <item key="AppState" value="Debug" />     
        <!--接口参数的过虑字符，会将英文字转换为全角字符-->
      <item key="FilterWords" value="'|..|>|and|exec|insert|select|delete|update|count|*|%|chr|mid|master|truncate|char|declare|script|frame|;|or|-|+|,|)|etc|style|expression" />
      <!--题型-->
      <item key="QuesType" value="单选, 多选, 判断, 简答, 填空" />
      <item key="ActivType" value="CPU串号,硬盘串号,IP+端口,域名+端口,主域名+端口" />
      <!--Excel导入时，记录列名与字段名对应关系的文件的存放路径-->
      <item key="ExcelInputConfig" value="~/Utilities/DataTemplate/Config" />        
      <item key="ExamFileUp" value="doc,docx,xls,xlsx,ppt,pptx,pdf,zip,rar,jpg,jpeg,gif,png,bmp" intro="考试时简答题上传附件的限定文件类型" />
    </App>
    <!--RESTfulAPI接口请求的配置项
    hostcheck:-请求接口的js所在的页面与地址栏的地址，必须域名一致，为true则验证，false不验证；默认为true
    -->
    <RESTfulAPI hostcheck="true">
      <!--白名单 value为true则启用，在hostcheck为true时，会通过白名单的地址-->
      <item key="white" value="true">
        <item  key="" value=""/>
      </item>
      <!--黑名单 value为true则启用，在hostcheck为true时，会禁止黑名单的地址来源的请求-->
      <item key="black" value="true">
        <item  key="" value=""/>
      </item>
    </RESTfulAPI>
    <Entity>
      <item key="Accounts" value="账户" visible="true" />
      <item key="Teacher" value="教师" />
      <item key="Subject" value="专业" />
      <item key="Course" value="课程" />
      <item key="Questions" value="试题" />
      <item key="TestPaper" value="试卷" />
      <item key="Article" value="资讯" />
      <item key="Knowledge" value="知识" />
      <item key="Notice" value="通知" />
      <item key="Organization" value="机构" visible="true" />
    </Entity>
    <!--登录状态相关设置-->
    <Login>
      <item key="Admin">
        <!--密钥,长度不得小于8位-->
        <item key="Secretkey" value="rmYk0h3F" />
        <!--键值-->
        <item key="KeyName" value="emp" />
        <!--登录的时效，单位是分钟，可以设置为auto-->
        <item key="Expires" value="600" />
        <!--导入信息时的默认登录密码-->
        <item key="DefaultPw" value="123456" />
      </item>
      <item key="Accounts">
        <item key="Secretkey" value="a4h5ykLw" />
        <item key="KeyName" value="acc" />
        <item key="Expires" value="999999" />
        <item key="DefaultPw" value="123456" />
      </item>
    </Login>
    <!--短信发送接口；默认启用第一个-->
    <SMS>
      <item type="Song.SMS.Object.HenanTengxin,Song.SMS" name="河南腾信" remarks="河南腾信" domain="http://120.25.66.83:9877/" regurl="http://www.sms1086.com/clientuserregister.aspx?pid=F3BC8A4C-8A25-4B8C-9A1A-F78632A288C1" payurl="http://www.sms1086.com/alipay/default.aspx" />
      <item type="Song.SMS.Object.Sms345,Song.SMS" remarks="sms345" domain="http://http.yunsms.cn/" regurl="" payurl="" isuse="false" />
    </SMS>
    <!--地理位置服务-->
    <LBS enable="true">
      <item key="BaiduAK" value="MBUg6BlQ9sowj5824cX1IKIG" />
    </LBS>
    <!--模版的配置；path：模版库的根路径;homepage:默认首页, trim:是否精简模版html代码,cache:是否启用缓存-->
    <Template path="~/Templates/" homepage="index" trim="false" cache="true">
      <!--web模版库;
      key为标识,作为路由与Controllers的view控制器保持一致; 
      value：模版库所在路径名，与~/Templates/文件夹下的保持一致，不建议更改; 
      default:默认模版库-->
      <item key="Web" value="Web" default="Default" />
      <!--手机端模版库; key为标识; value：模版库所在路径（相对于根路径）; default:默认模版库-->
      <item key="Mobi" value="Mobi" default="Default" />
      <!--后台管理-->
      <item key="OrgAdmin" value="OrgAdmin" default="Default" />
      <item key="Manage" value="Manage" default="Default" />
      <item key="Teacher" value="Teacher" default="Default" />
      <item key="Student" value="Student" default="Default" />     
      <!--支付-->
      <item key="Pay" value="Pay" default="Default" />
      <!--单点登录-->
      <item key="Sso" value="Sso" default="Default" />
      <item key="Tv" value="Tv" default="Default" />
      <item key="Pad" value="Pad" default="Default" />
    </Template>
    <!--资料上传的路径，path为根目录，子节点为各模块上传目录（相对于path属性的值）-->
    <Upload path="~/Upload/">
      <item key="Employee" value="employee" />
      <item key="Student" value="Student" />
      <item key="Accounts" value="Student" />
      <item key="Teacher" value="Teacher" />
      <item key="Depart" value="Depart" />
      <item key="Course" value="Course" />
      <item key="Outline" value="Outline" />
      <item key="Guide" value="Guide" />
      <item key="CourseVideo" value="Course/Video" />
      <item key="TestPaper" value="TestPaper" />
      <item key="Vote" value="vote" />
      <item key="Product" value="Product" />
      <item key="Picture" value="Picture" />
      <item key="Org" value="Org" />
      <item key="News" value="news" />
      <item key="Notice" value="Notice" />
      <item key="Links" value="Links" />
      <item key="Download" value="Download" />
      <item key="Video" value="Video" />
      <item key="Special" value="Special" />
      <item key="Subject" value="Subject" />
      <item key="Knowledge" value="Knowledge" />
      <item key="Exam" value="Exam" />
      <item key="ShowPic" value="ShowPicture" />
      <item key="Ques" value="Question" />
      <item key="LearningCard" value="LearningCard" />
      <item key="Temp" value="Temp" />
    </Upload>
    <!--设置页面跳转，
    说明：当浏览器为手机端时，访问web页时会自动跳转到指定mobile项，反之亦然。设置项勿重复，否则会死循环。
    enable:是否启用该功能或该项，默认为true
    web:指定跳转的web页
    mobile:指定跳转的mobile页    
    -->
    <Skip enable="true">
      <item web="/" mobile="/mobi/" enable="true" />     
    </Skip>
  </Platform>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.6"  enableVersionHeader="false" />
    <customErrors defaultRedirect="web/error" mode="Off">
      <error statusCode="403" redirect="web/error" />
      <error statusCode="404" redirect="web/404" />
    </customErrors>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/web/404" />
      <remove statusCode="500" />
      <error statusCode="500" responseMode="ExecuteURL" path="/web/500" />
    </httpErrors>
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="WebDAV" />
      
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET,PUT,DELETE,PATCH" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with" />
        <!-- 这里的星号最好换成指定的域名 -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-Powered-By" />
        <add name="X-Powered-By" value="WeishaKeji" />
        <!--
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Content-Security-Policy" value="default-src 'self';" />
        <add name="X-Download-Options" value="noopen" />-->
      </customHeaders>
    </httpProtocol>
    <security>
       <!-- 可以通过removeServerHeader ="true" 隐藏IIS版本信息，注意IIS10支持，之前版本不支持-->
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".flv" />
      <mimeMap fileExtension=".flv" mimeType="application/octet-stream" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android-package-archive" />
      <remove fileExtension=".iso" />
      <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
      <remove fileExtension=".xsl" />
      <mimeMap fileExtension=".xsl" mimeType="text/xml" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
      <remove fileExtension=".axd" />
      <mimeMap fileExtension=".axd" mimeType="application/octet-stream" />
      <remove fileExtension=".mobileconfig" />
      <mimeMap fileExtension=".mobileconfig" mimeType="application/x-apple-aspen-config" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>