html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    max-width: 1000px;
}

#vapp {
    padding-top: 10px;
}
/*产品版本信息*/
.editon{
    margin: auto 15px;
    font-size: 16px;
    color: #999;
}
.editon::before{
    content: " -  ";
    margin-right: 10px;
}

/*数据库相关*/
.database{
    margin-bottom: 20px;
}
.database>span{
    white-space: nowrap;
}
.database icon{
    font-size: 45px;
    line-height: 20px;
    margin-right: 0px;
}
span.postgresql{
    color: #326790;
}
span.sqlserver{
    color: #cf1f21;
}
span.sqlite{
    color: #00688f;
}
.database .el-tag{
    margin-left: 15px;
}
.version span{
    line-height: 30px;
}
.dbName{
    margin-left: 5px;
    color: #999;
}
.dbName::before{
    content: ":";
    margin-right: 10px;
}
.el-card {
    margin: 10px 20px 10px 20px;
}

.el-card:first-child {
    margin-bottom: 30px;
}

.connState {
    font-size: 16px;
}

.version {
    line-height: 30px;
    font-size: 15px;
}
.error{
    margin: 15px 0px;
}
.data_title {
   display: flex;
   justify-content: space-between;
}
.data_row {
    margin: 10px 0px;
}

.data_row span {
    margin-right: 10px;
    margin-top: 10px;
}
/*竖屏，手机端显示*/
@media only screen and (orientation: portrait) {
    .database{
        display: flex;
        flex-direction: column;
    }
    .database .el-tag{
        margin-left: 0px;
        margin-top: 10px;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
    .data_title{
        display: flex;
        flex-direction: column;
    }
    .data_title .el-tag{
        margin-left: 0px;
        margin-bottom: 10px;
    }
}