html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
body{
    width: 800px;
}
.el-card
{
    margin: 10px 20px 10px 20px;
}
.connState{
    font-size: 16px;
}
.version{
    line-height: 30px;
    font-size: 15px;
}
.data_row{
    margin: 10px 0px;
}
.data_row span{
    margin-right: 10px;
    margin-top: 10px;
}