<!doctype html>
<html>
<head>
<title>{$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<link href="Styles/conn.css" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include file="inc/Header.html" />
<div id="Context">
  <div class="titile">联系我们</div>
  <dl class="infoBox">
    <dd>
      <div class="attr">公司名称：</div>
      <div class="info">{$org.Org_Name}</div>
    </dd>
    <dd>
      <div class="attr">电话：</div>
      <div class="info">{$org.Org_Phone}</div>
    </dd>
    <dd>
      <div class="attr">传真：</div>
      <div class="info">{$org.Org_Fax}</div>
    </dd>
    <dd>
      <div class="attr">电子邮箱：</div>
      <div class="info">{$org.Org_Email}</div>
    </dd>
    <dd>
      <div class="attr">邮编：</div>
      <div class="info">{$org.Org_Zip}</div>
    </dd>
    <dd>
      <div class="attr">地址：</div>
      <div class="info">{$org.Org_Address}</div>
    </dd>
  </dl>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=MBUg6BlQ9sowj5824cX1IKIG"></script>
  <div class="baiduMap" style="width:600px;height:300px;border:#ccc solid 1px;"  id="dituContent"> </div>
  <script type="text/javascript">
      //创建和初始化地图函数：
      function initMap() {
          createMap(); //创建地图
          setMapEvent(); //设置地图事件
          addMapControl(); //向地图添加控件
          addMarker(); //向地图中添加marker
      }

      //创建地图函数：
      function createMap() {
          var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
          var lng = Number("{$org.Org_Longitude}");
          var lat = Number("{$org.Org_Latitude}");
          var point = new BMap.Point(lng, lat); //定义一个中心点坐标
          map.centerAndZoom(point, 17); //设定地图的中心点和坐标并将地图显示在地图容器中
          window.map = map; //将map变量存储在全局
      }

      //地图事件设置函数：
      function setMapEvent() {
          map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
          map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
          map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
          map.enableKeyboard(); //启用键盘上下左右键移动地图
      }

      //地图控件添加函数：
      function addMapControl() {
          //向地图中添加缩放控件
          var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_ZOOM });
          map.addControl(ctrl_nav);
          //向地图中添加缩略图控件
          var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 0 });
          map.addControl(ctrl_ove);
          //向地图中添加比例尺控件
          var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
          map.addControl(ctrl_sca);
      }

      //标注点数组
      var markerArr = [{ title: "{$org.Org_abbrName}",
          content: "{$org.Org_Name}",
          point: "{$org.Org_Longitude}|{$org.Org_Latitude}",
          isOpen: 0,
          icon: { w: 20, h: 23, l: 0, t: 0, x: 9, lb: 12 }
      }];
      //创建marker
      function addMarker() {
          for (var i = 0; i < markerArr.length; i++) {
              var json = markerArr[i];
              var p0 = json.point.split("|")[0];
              var p1 = json.point.split("|")[1];
              var point = new BMap.Point(p0, p1);
              var iconImg = createIcon(json.icon);
              var marker = new BMap.Marker(point, { icon: iconImg });
              var iw = createInfoWindow(i);
              var label = new BMap.Label(json.title, { "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20) });
              marker.setLabel(label);
              map.addOverlay(marker);
              label.setStyle({
                  borderColor: "#808080",
                  color: "#333",
                  cursor: "pointer"
              });

              (function () {
                  var index = i;
                  var _iw = createInfoWindow(i);
                  var _marker = marker;
                  _marker.addEventListener("click", function () {
                      this.openInfoWindow(_iw);
                  });
                  _iw.addEventListener("open", function () {
                      _marker.getLabel().hide();
                  });
                  _iw.addEventListener("close", function () {
                      _marker.getLabel().show();
                  });
                  label.addEventListener("click", function () {
                      _marker.openInfoWindow(_iw);
                  });
                  if (!!json.isOpen) {
                      label.hide();
                      _marker.openInfoWindow(_iw);
                  }
              })()
          }
      }
      //创建InfoWindow
      function createInfoWindow(i) {
          var json = markerArr[i];
          var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
          return iw;
      }
      //创建一个Icon
      function createIcon(json) {
          var icon = new BMap.Icon("/Utility/Images/map_point.png",
		         new BMap.Size(json.w, json.h),
		         { imageOffset: new BMap.Size(-json.l, -json.t),
		             infoWindowOffset: new BMap.Size(json.lb + 5, 1),
		             offset: new BMap.Size(json.x, json.h)
		         });
          return icon;
      }

      initMap(); //创建和初始化地图
</script>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
