<!DOCTYPE html>
<html>
<head>
    <title>{$org.org_platformname}</title>
    <vt:include file="inc/meta.inc" />
    <link href="Styles/Default.css?ver={$version}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="Scripts/slider.js?ver={$version}"></script>
    <script type="text/javascript" src="Scripts/default.js?ver={$version}"></script>
    <script type="text/javascript" src="/Utility/Scripts/popup-notice.js?ver={$version}"></script>
</head>
<body>
    <vt:include file="inc/Header.html" />
    <div id="banner_tabs" class="flexslider">
        <ul class="slides">
            <vt:list type="showpic" var="show" site="web" item="sp" index="j">
                <li style="background:{$:sp.shp_bgColor};"> <a title="" href="{$:sp.shp_url}" target="{$:sp.shp_target}"> <img alt="{$:sp.shp_title}" background="{$:sp.shp_file}" src="images/alpha.png" /> </a> </li>
                <vt:listelse />
                <li style="background:#e2f1f6;"> <a title="" href="#"> <img alt="" background="images/banner3.jpg" src="images/alpha.png" /> </a> </li>
                <li style="background:#f3d3c4;"> <a title="" href="#"> <img alt="" background="images/banner2.jpg" src="images/alpha.png" /> </a> </li>
                <li style="background:#a2dcfd;"> <a title="" href="#"> <img alt="" background="images/banner1.jpg" src="images/alpha.png" /> </a> </li>
            </vt:list>
        </ul>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="javascript:;">Previous</a></li>
            <li><a class="flex-next" href="javascript:;">Next</a></li>
        </ul>
        <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
            <vt:foreach from="$show" item="sp" index="j">
                <li><a>{$:j}</a></li>
                <vt:foreachelse />
                <li><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
            </vt:foreach>
        </ol>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".slides a img").each(function (index, element) {
                var src = $(this).attr("background");
                $(this).css("background", "url(" + src + ") no-repeat center");
            });
            var bannerSlider = new Slider($('#banner_tabs'), {
                time: 3000,
                delay: 300,
                event: 'hover',
                auto: true,
                mode: 'fade',
                controller: $('#bannerCtrl'),
                activeControllerCls: 'active'
            });
            $('#banner_tabs .flex-prev').click(function () {
                bannerSlider.prev()
            });
            $('#banner_tabs .flex-next').click(function () {
                bannerSlider.next()
            });
        })
    </script>
    <!--轮换图片结束-->
    <div id="Context">
        <!--第二行 -->
        <div id="SecondBox">
            <div class="left">
                <div class="tit"> 焦点要闻 <a class="more" href="news.ashx">&nbsp;</a> </div>
                <div class="imgbox">
                    <dl>
                        <vt:list type="news" var="newsImg" item="data" order="img" index="i" count="2" remark="图片资讯">
                            <dd><a href="/article.ashx?id={$:#.data.art_id}" target="_blank"><img src="{$:#.data.art_logo}" alt="{$:i}" /> </a> <a href="/article.ashx?id={$:#.data.art_id}" target="_blank" class="art_tit">{$:#.data.art_title}</a> <a href="/article.ashx?id={$:#.data.art_id}" target="_blank" class="art_intro"> {$:#.data.art_intro}</a> </dd>
                        </vt:list>
                    </dl>
                </div>
                <div class="line"></div>
                <div class="newsbox">
                    <div class="nlistbox">
                        <vt:list type="news" item="data" columns="-1" index="i" count="5" remark="资讯">
                            <div class="artItem" artid="{$:#.data.art_id}">
                                <div class="artlink"><a href="article.ashx?id={$:#.data.art_id}" title="{$:#.data.art_title}"> {$:#.data.art_title}</a> </div>
                                <div class="arttime">{$:#.data.art_pushTime  format="[MM-dd]"}</div>
                            </div>
                        </vt:list>
                    </div>
                    <div class="nlistbox">
                        <vt:list type="news" item="data" columns="-1" index="i" count="10" remark="资讯">
                            <vt:if var="i" value="5" compare=">">
                                <div class="artItem" artid="{$:#.data.art_id}">
                                    <div class="artlink"><a href="article.ashx?id={$:#.data.art_id}" title="{$:#.data.art_title}"> {$:#.data.art_title}</a> </div>
                                    <div class="arttime">{$:#.data.art_pushTime  format="[MM-dd]"}</div>
                                </div>
                            </vt:if>
                        </vt:list>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="tit"> 通知公告 <a class="more" href="Notices.ashx">&nbsp;</a> </div>
                <div class="noticebox">
                    <vt:list type="notice" item="data" index="i" count="4">
                        <div class="noItem" noid="{$:#.data.no_id}">
                            <div class="timebox">
                                <div class="noday">{$:#.data.no_startTime  format="dd"} </div>
                                <div class="nodate">{$:#.data.no_startTime  format="yyyy-MM"} </div>
                            </div>
                            <div class="nolink"><a href="notice.ashx?id={$:#.data.no_id}" title="{$:#.data.no_ttl}"> {$:#.data.no_ttl}</a> </div>
                        </div>
                        <vt:if var="i" value="4" compare="<">
                            <div class="noline"></div>
                        </vt:if>
                    </vt:list>
                </div>
                <!--友情链接-->
                <div class="tit2">+ 快捷导航</div>
                <div class="link-items">
                    <div class="link-items-inner">
                        <vt:list type="links" item="l" index="i" count="12">
                            <div class="link-item"><a href="{$:l.lk_url}" target="_blank">{$:l.lk_name}</a></div>
                        </vt:list>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第三行 -->
        <div id="ThirdBox">
            <div class="tit"> 网络课程 <a class="more" href="courses.ashx">&nbsp;</a> </div>
            <div class="coursebox">
                <div class="coursebox-inner">
                    <vt:list type="course" item="c" index="i" order="rec" remark="推荐课程">
                        <div class="course-item">
                            <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-img"><img src="{$:#.c.cou_logosmall}" default="images/cou_nophoto.jpg" /></a> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-name">
                                <vt:if var="c.Cou_ExistLive" value="true" compare="=" remark="直播">
                                    <div class="live" title="直播课"></div>
                                </vt:if>{$:#.c.cou_name}
                            </a>
                            <div class="cour-price">

                                <span class="cou-count" title="访问量">{$:#.c.cou_viewNum}</span> <span class="cou-sbj" title="{$:#.c.sbj_name}">{$:#.c.sbj_name}</span>
                            </div>
                        </div>
                    </vt:list>
                </div>
            </div>
        </div>
    </div>
    <vt:include file="inc/footer.html" />
    <div id="notice_box" remark="通知公告的弹出" style="height:100%;" v-cloak>
        <popup-notice forpage="web_home"></popup-notice>
    </div>
</body>
</html>
