<!DOCTYPE html>
<html>
<head>
<title>友情链接-{$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<link href="Styles/links.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Scripts/links.js"></script>
</head>
<body>
<vt:include file="inc/Header.html" />
<div id="bodyTop">&nbsp;</div>
<div id="Context">
  <div class="titile">友情链接</div>
  <vt:if var="#.sorts.Length" value="0" compare="=">
    <dl class="infoBox">
      <vt:foreach from="$#.links" item="l" index="j">
        <dd><a href="{$:l.lk_url}" target="_blank">{$:l.lk_name}</a></dd>
      </vt:foreach>
    </dl>
    <vt:else />
    <vt:foreach from="$#.sorts" item="sort" index="i">
      <dl class="infoBox">
        <dt>{$:sort.ls_name}</dt>
        <vt:function var="links" method="getLinks" args="$#.sort.ls_id"/>
        <vt:foreach from="$#.links" item="l" index="j">
          <dd><a href="{$:l.lk_url}" target="_blank">{$:l.lk_name}</a></dd>
        </vt:foreach>
      </dl>
    </vt:foreach>
  </vt:if>
  <div class="titile">平台入驻机构</div>
  <dl class="infoBox">
    <vt:foreach from="$#.orgs" item="o" index="i">
    <vt:if var="o.org_platformname" value="" compare="!=">
      <dd class="orgitem"><a href="http://{$:o.Org_TwoDomain}.{$domain}" target="_blank">{$:o.org_platformname}</a></dd>
      </vt:if>
    </vt:foreach>
  </dl>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
