<!DOCTYPE html>
<html>
<head>
<title>知识库 - {$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="CoreScripts/Tree.js?ver={$version}"></script>
<script type="text/javascript" src="CoreScripts/Node.js?ver={$version}"></script>
<!--<script type="text/javascript" src="Scripts/MessageBoards.js?ver={$version}"></script>-->
<link href="Styles/MessageBoards.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:if var="pageAmount.Length" value="1" compare="<">
  <div class="noNews">没有咨询留言</div>
  <vt:else />
  <div>
    <vt:foreach id="MessageBoard" from="$#.msgBoards" item="data" index="i" size="4" introlen="150" remark="introlen为长度">
      <div class="item">
        <div class="mLeft">
          
          <img src='/Upload/Student/{$:#.data.ac_photo}'  default="images/nophoto.jpg" />
          <div class="accname"> {$:#.data.ac_name} </div>
          <div class="crttime"> {$:#.data.Mb_CrtTime  format="yyyy-M-dd HH:mm:ss"} </div>
        </div>
        <div class="mRight">
        <div class="mLevel">
            <vt:expression var="index" expression="{0}+({1}-1)*{2}" args="$i" args="$pageIndex" args="$pageSize" />
            第{$#.index}楼 </div>
          <div class="mHeader"> <span class="mTime">时间：{$:#.data.Mb_CrtTime  format="yyyy-M-dd HH:mm"}</span><span class="mIP">IP：{$:#.data.Mb_IP}</span> </div>
          <div class="mContext"> {$:#.data.Mb_Content} </div>
          <vt:if var="data.Mb_isAns" value="true" compare="=">
          <div class="ansBox">
          <div class="ansTit">回复：</div>
          <div class="answer">{$:#.data.Mb_Answer} </div>
          </div>
           </vt:if>
        </div>
      </div>
    </vt:foreach>
  </div>
</vt:if>
<!--分页导航 -->
<vt:if var="pageAmount.Length" value="1" compare=">">
  <div id="pagerBar">
    <div class="pagerFirst pagerBtn"><a href="/MessageBoards.ashx?couid={$couid}">首页</a></div>
    <!--上一页 -->
    <vt:expression var="pagerPrev" expression="{0}-1" args="$pageIndex" />
    <vt:if var="#.pagerPrev" value="1" compare="<">
      <div class="pagerPrev pagerBtn"><a href="#">上一页</a></div>
      <vt:else />
      <div class="pagerPrev pagerBtn"><a href="/MessageBoards.ashx?index={$:#.pagerPrev}&couid={$couid}">上一页</a></div>
    </vt:if>
    <!--分页数字 -->
    <vt:foreach id="pageAmount" from="$#.pageAmount" item="data" index="i" remark="分页数字">
      <vt:if var="#.data" value="$pageIndex" compare="=">
        <div class="pagerIndex pagerBtn pagerCurr"><a href="/MessageBoards.ashx?index={$:i}&couid={$couid}">{$:i}</a></div>
        <vt:else />
        <div class="pagerIndex pagerBtn"><a href="/MessageBoards.ashx?index={$:i}&couid={$couid}">{$:i}</a></div>
      </vt:if>
    </vt:foreach>
    <!--下一页 -->
    <vt:expression var="pagerNext" expression="{0}+1" args="$pageIndex" />
    <vt:if var="#.pagerNext" value="$pageAmount.Length" compare=">">
      <div class="pagerNext pagerBtn"><a href="#">下一页</a></div>
      <vt:else />
      <div class="pagerNext pagerBtn"><a href="/MessageBoards.ashx?index={$:#.pagerNext}&couid={$couid}">下一页</a></div>
    </vt:if>
    <div class="pagerLast pagerBtn"><a href="/MessageBoards.ashx?id={$:pageAmount.length}&couid={$couid}">末页</a></div>
  </div>
</vt:if>
<!--填写意见 -->
<div class="msgBox">
  <form action="" method="post">
    <div class="msgTitle">
      <div class="text">课程咨询：</div>
    </div>
     <vt:if var="Account" value="" compare="=">
    <div class="noLogin"> 请登录后进行咨询。<br/>
     <a href="/student/index.ashx" target="_top">点此处登录</a></div>
     <vt:else />
    <textarea name="msg" nullable="false" star='false' id="msg"></textarea>
    <div class="btnBox">
      <input name="" type="submit" value="提交"  verify="true"/>
    </div>
    </vt:if>
  </form>
</div>
</body>
</html>
