<!doctype html>
<html>
<head>
<title>手机端 -- {$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<style type="text/css">
body {
	text-align: center;
}
iframe {
	width: 375px;
	height:667px;
	margin-right: auto;
	margin-left: auto;
	float:left;
}
.rightbox{
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	float: right;
	text-align:center;
	padding-top:50px;
}

.tit{
	font-size:16px;
	text-align:center;
}
</style>
</head>
<body>
<vt:include file="inc/Header.html" />
<div id="Context" style="margin-top:10px;width:700px;margin-bottom:30px;display:table;">
  <iframe src="mobile/default.ashx?skip=no" class="frame"	marginwidth="0"  marginheight="0"
   align="top" scrolling="auto" width="375" height="667" frameborder="1" allowtransparency="true"></iframe>
   <div class="rightbox">
   <img src="data:image/JPG;base64,{$org.Org_Qrcode}"/>
    <div class="tit">手机扫描二维码</div>
    <p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>注：右侧为手机端模拟效果，请勿使用IE浏览器查看</p>
   </div>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
