<!DOCTYPE html>
<html>
<head>
<title>新闻资讯-{$:#.org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<link href="Styles/News.css?ver={$version}" rel="stylesheet" type="text/css" />

<!--<script type="text/javascript" src="Scripts/News.js?ver={$version}"></script>-->
<script type="text/javascript" src="Scripts/jquery.luara.0.0.1.min.js?ver={$version}"></script>
<link rel="stylesheet" href="Styles/lunhuan/style.css?ver={$version}"/>
<link rel="stylesheet" href="Styles/lunhuan/luara.left.css?ver={$version}"/>
</head>
<body>
<vt:include file="inc/Header.html" />
<div id="Context">
<div class="row" >
    <div class="notice box" >
      <div class="boxTit tit"> <span class="txt">通知公告</span> <a href="/notices.ashx">&nbsp;</a> </div>
      <div class="newslist">
         <vt:list type="notice" item="data" index="i" count="10">
          <div class="item" noid="{$:#.data.no_id}">
            <div class="newsItem"><a href="/notice.ashx?id={$:#.data.no_id}" title="{$:#.data.no_ttl}"> {$:#.data.no_ttl}</a> </div>
            <div class="newsTime">{$:#.data.no_startTime  format="[MM-dd]"}</div>
          </div>
        </vt:list>
      </div>
    </div>
    <div class="imgshow box">
                <div class="example2">
                    <ul>
                        <vt:list type="news" var="newsImg" item="data" order="img" index="i" count="4" remark="图片新闻">
            <li><a href="/article.ashx?id={$:#.data.art_id}" target="_blank"><img src="{$:#.data.art_logo}" style="width:499px; height:317px" alt="{$:i}"/> </a></li>
          </vt:list>
                    </ul>
                    <ol>
                        <vt:list from="$newsImg">
            <li></li>
          </vt:list>
                    </ol>
                </div>
                <!--Luara图片切换骨架end-->
                <script>
        $(function(){
            <!--调用Luara示例-->
            $(".example2").luara({width:"500",height:"310",interval:4500,selected:"seleted",deriction:"left"});

        });
                </script>
            </div>
    <div class="news box" >
      <div class="tit boxTit">
        <span class="txt">热点新闻</span>
       <a href="/news.ashx">&nbsp;</a> </div>
      <div class="newslist">
        <vt:list type="news" item="data" columns="-1" index="i" count="10" remark="columns为新闻栏目Id">
          <div class="item" artid="{$:#.data.art_id}">
            <div class="newsItem"> <a href="../../article.ashx?id={$:#.data.art_id}" title="{$:#.data.art_title}">{$:#.data.art_title}</a> </div>
            <div class="newsTime">{$:#.data.art_pushTime  format="[MM-dd]"}</div>
          </div>
        </vt:list>
      </div>
    </div>
  </div>
</div>


<div id="Context">
<img src="Images/bar01.jpg" width="1196" height="100" class="rowImg" />
  
   <vt:list type="columns" ctype="news" item="m" index="i">
  <div class="order box" >
      <div class="tit"> {$:m.col_name}<a href="/newslist.ashx?colid={$:m.col_id}">&nbsp;</a> </div>
      <div class="orderAreaBox"> </div>
    
    <vt:function var="s" method="getArticle" args="$#.m.col_id" args="8"/>
    <div class="newslist">
        <vt:foreach from="$s" item="data" columns="-1" index="i" count="8" remark="columns为新闻栏目Id">
          <div class="item" artid="{$:#.data.art_id}">
            <div class="newsItem"> <a href="../../article.ashx?id={$:#.data.art_id}" title="{$:#.data.art_title}">{$:#.data.art_title}</a> </div>
            <div class="newsTime">{$:#.data.art_pushTime  format="[MM-dd]"}</div>
          </div>
        </vt:foreach>
      </div></div>
  </vt:list>
 
</div>

<div id="Context">
 <!--热门课程--> 
  <div class="hotCour box" >
      <div class="tit">热门课程<a href="/CourseChannel.ashx">&nbsp;</a> </div>
      <div class="coursebox">
      <div class="coursebox-inner">
        <vt:list type="course" item="c" index="i" order="rec"  remark="推荐课程">
          <div class="course-item"> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-img"><img src="{$:#.c.cou_logosmall}"  default="images/cou_nophoto.jpg" /></a> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-name"> {$:#.c.cou_name} </a>
            <div class="cour-price">
              
              <span class="cou-count" title="访问量">{$:#.c.cou_viewNum}</span> <span class="cou-sbj" title="{$:#.c.sbj_name}">{$:#.c.sbj_name}</span> </div>
          </div>
        </vt:list>
      </div>
    </div>
    </div>
</div>
<vt:include file="inc/footer.html" />

</body>
</html>
