<!DOCTYPE html>
<html>
<head>
<title>通知 - {$:#.org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/notice.js"></script>
<link href="Styles/notice.css" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include file="inc/Header.html" />
<div id="Context">
 <div id="artArea">
    <div id="articleNavi"> <a href="/">首页</a> &gt; <a href="/notices.ashx">通知公告</a> &gt; 正文 </div>
    <div id="artBox">
      <div class="artTitle">
      <vt:if var="notice.No_Ttl" value="" compare="!="> {$notice.No_Ttl}
            <vt:else/>
            (当前资讯不存在，可能是参数引用错误) </vt:if>
      </div>
      <div class="artAttrBar"> <span class="artTime">{$notice.no_StartTime  format="yyyy-M-dd hh:m:s"}</span></span> <!--<span class="artSharp">分享 </span>  --></div>
     
      <!--正文 -->
      <div id="artContext">{$notice.No_Context} </div>
     
    </div>
    <div class="artNavi">
      <div class="artPrev">
        <!--上一条新闻 -->
        <vt:if var="prev.no_id" value="1" compare="<"> 上则通知：无
          <vt:else />
          上则通知：<a href="/notice.ashx?id={$prev.no_id}">{$prev.No_Ttl}</a> </vt:if>
      </div>
      <div class="artNext">
        <vt:if var="next.no_id" value="1" compare="<"> 下则通知：无
          <vt:else />
          下则通知：<a href="/notice.ashx?id={$next.no_id}">{$next.No_Ttl}</a> </vt:if>
      </div>
    </div>
  </div>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
