<div id="header">
  <div id="headerTop">
    <vt:serverdata  var="DateTime" type="Time" item="today" />
    <div class="topInner">欢迎访问{$org.org_platformname}！
      今天是{$DateTime format="yyyy年M月d日"} {$week} 
        <div class="topright">
            <div class="accoutbox right-div" id="accoutbox">
                <span class="topRighta"> | <a href="#" class="setfav">加入收藏</a> | <a href="#" class="sethome">设为首页</a> </span>
                <template v-if="!islogin" remark="未登录">
                    <a href="/student/index.ashx" target="_blank">登录</a>&nbsp;
                    <a href="/student/Register.ashx"
                       target="_blank">注册</a>
                </template>
                <el-dropdown v-else>
                    <span class="el-dropdown-link">
                        <div class="accPhoto">
                            <a href="/student/panel.ashx">
                                <img v-if="islogin && account.Ac_Photo!=''" :src="account.Acc_Photo" width="20" />
                                <img v-else src="/Utility/images/head1.jpg" width="20" />
                            </a>
                        </div>
                        <a href="/student/panel.ashx">{{account.Ac_Name}}</a>
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><a href="../student/panel.ashx">个人管理中心</a></el-dropdown-item>
                        <el-dropdown-item v-if="!account.Ac_IsTeacher"><a href="../teacher/index.ashx">我要开课</a></el-dropdown-item>
                        <el-dropdown-item v-if="account.Ac_IsTeacher && teacher.Th_IsPass">
                            <a href="../teacher/panel.ashx">进入教学管理</a>
                        </el-dropdown-item>
                        <el-dropdown-item v-if="account.Ac_IsTeacher && !teacher.Th_IsPass">
                            <a href="../teacher/Register.ashx?step=3">教师审核中...</a>
                        </el-dropdown-item>
                        <el-dropdown-item v-if="!config.IsWebRemoveMoney">
                            <a href="../student/panel.ashx">余额：{{account.Ac_Money|money}}元</a>
                        </el-dropdown-item>
                        <el-dropdown-item><a href="../student/Logout.ashx">退出登录</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>

                <!--学员菜单-->
                <dl class="accMenu" type="acc" v-show="islogin">
                    <dd><a href="../student/panel.ashx">个人管理中心</a></dd>
                    <dd v-if="!account.Ac_IsTeacher"><a href="../teacher/index.ashx">我要开课</a></dd>
                    <dd v-if="account.Ac_IsTeacher && teacher.Th_IsPass"><a href="../teacher/panel.ashx">进入教学管理</a></dd>
                    <dd v-if="account.Ac_IsTeacher && !teacher.Th_IsPass">
                        <a href="../teacher/Register.ashx?step=3">教师审核中...</a>
                    </dd>
                    <dd v-if="config.IsWebRemoveMoney">
                        <a href="../student/panel.ashx">余额：{$Account.Ac_money format="0.0"}元</a>
                    </dd>
                    <dd><a href="../student/Logout.ashx">退出登录</a></dd>
                </dl>
            </div>          
        </div>
      
       </div>
  </div>
  <div class="headerInner">
    <vt:if var="org.org_logo" value="" compare="!="><a href="/" class="logo" > <img src="{$orgPath}{$org.org_logo}" class="logo" /></a> </vt:if>
   
    <form class="searchBox" action="/Courses.ashx" method="get">
<div class="seacLeft">&nbsp;</div>
     <input name="search" type="text" class="seacInput" id="search" nullable='false'  star='false' def="请填写要检索的信息"/>
     <div src="Images/search-bg.jpg" class="seacbtn" verify='true'></div>
     
     </form>
  </div>
  <div class="menubBar">
    <dl overClass="overMenu">
      <vt:function var="menu" method="Navi" args="main" args="0" />
      <vt:foreach from="$#.menu" item="m" index="i">
        <dd class="rootmenu"  nid="{$:m.nav_id}"> 
          <vt:if var="m.nav_isbold" value="true" compare="=">
          <a href="{$:m.nav_url}" target="{$:m.nav_target}" title="{$:m.nav_title}" style="color: {$:m.nav_color};font-family: {$:m.nav_font};font-weight: bold;">
          <vt:else />
          <a href="{$:m.nav_url}" target="{$:m.nav_target}" title="{$:m.nav_title}" style="color: {$:m.nav_color};font-family: {$:m.nav_font};">
          </vt:if>
          {$:m.nav_name} </a> </dd>
      </vt:foreach>
      <dd class="menu phone"  type="phone"><a href="/mobi.cshtm" ><span class="iconphone" style="font-size:20px">&#xe610;</span>移动学习</a></dd>
    </dl>
</div>
</div>
<div id="qrcode" type="phone" style="display:none"><a href="/mobi.cshtm" ><img src="data:image/JPG;base64,{$org.Org_Qrcode}"/></a>
  <div>手机扫描二维码</div>
</div>

 <!--主菜单的下拉菜单-->
  <vt:function var="drop" method="NaviDrop" args="main" args="0" />
 {$drop}
  <script type="text/javascript" src="../CoreScripts/Account_online.js"></script>