html {
	overflow-x: hidden;
}

#vapp {
	display: flex;
	overflow: hidden;
}

.topbox {
	width: 300px;
	margin: 10px 30px 10px 15px;
	display: flex;
	flex-direction: column;
}

.topbox>*:last-child {
	flex: 1;
}

.topbox .top_right {
	box-sizing: border-box;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

/*图表区*/
.chart-area {
	height: 180px;
	width: 180px;
	position: relative;
	text-align: center;
	padding-top: 10px;
	margin: auto;

}

.chart-area .chart-back {
	background: linear-gradient(to bottom right, #b4d0e5, #fff);
	/* 标准的语法 */
	height: 120px;
	width: 120px;
	top: 20px;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
	border: 20px solid #DFEFFF;
	box-shadow: 0 10px 20px rgba(223, 239, 255, .3);
}

.chart-area .y {
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.1) 80%);
	/* 标准的语法 */
	height: 100px;
	width: 100px;
	margin-top: 5px;
	border-radius: 80px 80px 80px 80px;
	margin-right: auto;
	margin-left: auto;
}

.chart-txt {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 60px;
}

.chart-txt span {
	display: block;
	font-size: 14px;
	color: #666;
}

.chart-txt span.cou-rate {
	font-size: 30px;
	line-height: 40px;
	color: #666;
	font-weight: bold;
}

.chart-txt span.cou-rate::after {
	content: '%';
}

.quesnumbox {
	bottom: 0px;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;

}

.quesnumbox dd {
	margin: 0px;
	padding: 0px;
	line-height: 40px;
}

/*主菜单*/

.mainmenu {
	display: flex;
	flex-direction: column;
}

.mainmenu>button {
	cursor: pointer;
	display: flex;
	width: 100%;
	margin: 0px 10px 15px 0px !important;
}

.mainmenu>button icon {
	margin-right: 15px;
}

.mainmenu name {

	font-size: 20px;

}

/*上次练习的时候*/
.log {
	display: none;
}

.right {
	margin-right: 20px;
}

.curr-logo {
	width: 30px;
	height: 30px !important;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -6px;
	border: 2px solid #CCC !important;
	display: block;
}

.curr-box {
	overflow: hidden;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.outline-tit .el-tag:first-child {
	margin-left: 10px;
}

/*章节列表*/
.outline {
	padding: 10px 0px 0px 10px;
	flex: 1;
	height: calc(100% - 20px);
	overflow: hidden;
}

.outline>div:first-child {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-right: 15px;
}

.outline>.outlinelist {
	padding-right: 15px;
	height: calc(100% - 30px);
	overflow-y: auto;
}

.el-tag {
	cursor: pointer;
	font-size: 16px;
}

.olname {
	font-size: 16px;
	color: #666;
}

.olname[preload] {
	color: #333;
}

/*正确率的百分比*/
.van-circle {
	font-size: 12px;
}

.van-circle__text {
	font-size: 12px;
}

/*继续练习*/
.continue {
	float: right;
}