@charset "utf-8";

* {
	-webkit-touch-callout: none;
	/*系统默认菜单被禁用*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-khtml-user-select: none;
	/*早期浏览器*/
	-moz-user-select: none;
	/*火狐*/
	-ms-user-select: none;
	/*IE10*/
	user-select: none;
}
*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

#vapp{
	text-align: left;
	background-color: #f2f2f2;
}
input, textarea {
	-webkit-user-select: auto;
	/*webkit浏览器*/
}

.blur {
	filter: url(blur.svg#blur);
	/* FireFox, Chrome, Opera */
	-webkit-filter: blur(2px);
	/* Chrome, Opera */
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);
}

.loading {
	text-align: center;
	padding: 20px;
}

/*顶部栏*/

.topBox {
	background-color: rgb(212, 224, 206);
	height: 45px;
	overflow: hidden;
	font-size: 14px;
	line-height: 45px;
	text-align: center;
	display: flex;
}
.topBox a:hover {
    text-decoration: none;
}
.topBox>div {
	padding: 0px 15px;
	box-sizing: border-box;
}

.topBox>div:first-child {
	flex: 1;
	text-align: left;
	display: flex;
	padding-right: 0px;
}

.topBox>div:first-child span {
	margin-right: 5px;
}

/*上一题，下一题*/
.move_btn span {
	font-size: 13px;
}
.move_btn icon {
	font-size: 20px;
	margin: 0px;
}
.move_btn span:first-child{
	margin-right: 15px;
}
/*底部按钮*/

.footer {
	height: 45px;
	background-color: rgb(212, 224, 206);
	font-size: 14px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 3;
	display: flex;
	
}

.footer>div {
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 50px;
}

.footer .correct-rate:before {
	content: "正确率：";
	margin-left: 5px;
}

.footer .correct-rate:after {
	content: "%";
}

/*正确数*/

.footer .correct-num {
	text-align: center;
	margin-right: 20px;
}

.footer .correct-num:before {
	content: "\e67f";
	font-family: "webdesk_icon";
	color: #0099FF;
	margin-right: 5px;
	margin-top: 3px;
	font-size: 18px;
}

/*错误数*/

.footer .error-num {
	text-align: center;
}

.footer .error-num:before {
	content: "\e61c";
	font-family: "webdesk_icon";
	color: #FF0000;
	margin-right: 5px;
	font-size: 17px;
}

#btnCard {
	text-align: center;
	font-size: 14px;
}

#btnCard:before {
	content: "\e75e";
	font-family: "webdesk_icon";
	font-size: 20px;
	margin-right: 5px;
}

/*试题区*/

section.question {
	height: calc(100% - 90px);
	background-color: #f2f2f2;
	width: 100%;
	z-index: 4;
	left: 0px;
	position: relative;
	transition: left 0.5s;
}

section.question dl, section dd {
	margin: 0px;
	padding: 0px;
	height: 100%;
	float: left;
}

/*答题卡*/

.quesCard {
	width: 60%;
}
