body {
    padding: 20px;
    overflow: auto;
}
h1 {
    margin: 0px;
    text-shadow: 1px 1px 2px #666;
    font-size: 30px;
    text-indent: 1rem;
}
p {
    font-size: 18px;
    margin: 0.5rem 0px 0px 0px;
    line-height: 35px;
    text-indent: 2rem;
}

p[copyright="intro"] {
    color: #666;
    font-size: 14px;
}

.opensourse p,
.opensourse p a {
    font-size: 13px;
    line-height: 20px;
    color: #444;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#head {
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    display: flex;
}

#foot {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 0px 20px;
}