html, body, #vapp {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    padding: 20px;
    box-sizing: border-box;
}

a {
    color: #aaa;
    text-decoration: none;
}

a[href] {
    color: #333;
}

a[href]:hover {
    text-decoration: underline;
}

a icon {
    font-size: 22px;
    margin-right: 6px;
}

/*头部*/
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
}

header>div:first-child {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 6px;
    color: #666;
    text-shadow: 2px 2px 1px #aaa;

}

header>div:first-child::before {
    font-size: 33px;
    margin-right: 10px;
}

header>div:last-child>*:not(*:last-child) {
    margin: 0px 15px;
}
header>div:last-child *[copyright=tel]{
    color: #999;
}
/*内容区域*/
section {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}

section aside {
    flex: 1;
}

/*菜单*/
nav {
    width: 220px;
    padding: 0px 0px 0px 10px;
}

nav>div {
    padding: 8px 6px 8px 40px;
    font-size: 18px;
    position: relative;
    color: #aaa;
}

nav>p.line {
    margin: 15px 0px;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, transparent, #999, transparent);
}

nav>div icon {
    position: absolute;
    left: 8px;
    top: 10px;
}