h1 {
    font-size: 25px;
    padding: 20px;
}
dl{
    display: flex;
    padding-left: 20px;
}
dl dd{
    font-size: 18px;
    margin: 10px 30px 10px 0px;
    padding: 0px;
}
a {
    color: #aaa;
    text-decoration: none;
}

a[href] {
    color: #409EFF;
}
a[href]:hover{
    text-decoration: underline;
}
a icon{
    font-size: 22px;
    margin-right: 6px;
}