<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>我的课程</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="header">
            <el-tabs v-model="method_name">
                <el-tab-pane v-for="(item,i) in methods" :name="item.label">
                    <span slot="label">
                        <icon v-html="item.icon"></icon><span v-html="item.name"></span>
                    </span>
                </el-tab-pane>
            </el-tabs>
            <query_panel :model="query" :loading="loading" @search="handleCurrentChange(1)">
                <el-form-item>
                    <el-input v-model="query.search" placeholder="请输入内容" clearable>
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                </el-form-item>
            </query_panel>
        </div>

        <context>
            <loading v-show='loading'>正在加载中...</loading>
            <template v-if="!loading && datas.length<1">
                <div class="nodata">
                    <icon>&#xe839</icon>没有满足条件的数据
                </div>
            </template>
            <template v-else>
                <purchase_data v-for="(item,index) in datas" :couid="item.Cou_ID" :account="account" v-slot="scope">
                    <el-card class="course"  shadow="hover">
                        <template slot="header">
                            <div>
                                <span>{{(query.index - 1) * query.size + index + 1}}.</span>
                                <el-tag type="warning" v-if="item.Cou_Type">试题库</el-tag>
                                <live v-if="item.Cou_Type!=2 && item.Cou_ExistLive" title="直播课"></live>
                                <a target="_blank" :href="'/web/course/detail.'+item.Cou_ID"> {{item.Cou_Name}}</a>
                            </div>
                            <el-button type="text" @click="viewScore(item)">
                                <icon>&#xe6ef</icon>综合成绩：<span
                                    :class="{'nopass':resultScore(scope.data)<60}">{{resultScore(scope.data)}} 分</span>
                            </el-button>
                        </template>
                        <div class="cour_img">
                            <a target="_blank" :href="'/web/course/detail.'+item.Cou_ID">
                                <img :src="item.Cou_LogoSmall" v-if="item.Cou_LogoSmall!=''" />
                                <img src="/Utilities/images/cou_nophoto.jpg" v-else />
                                <div class="subject" title="课程专业">
                                    {{item.Sbj_Name}}
                                </div>
                            </a>
                            <span class="rec" v-if="item.Cou_IsRec"></span>
                        </div>
                        <div class="info">
                            <div class="info_row datainfo">
                                <template v-if="scope.forever">
                                    <el-tag type="success" class="free">
                                        <icon>&#xa048</icon>不限时
                                    </el-tag>
                                </template>

                                <template
                                    v-else-if="item.Cou_IsLimitFree && (scope.data && item.Cou_FreeEnd>scope.data.Stc_EndTime)">
                                    <el-tag type="success" class="free">限时免</el-tag>
                                    <el-tag type="success" class="free">
                                        免费至 {{item.Cou_FreeEnd|date('yyyy-MM-dd')}}
                                    </el-tag>
                                </template>
                                <el-tag type="success " class="free" v-else-if="item.Cou_IsFree">免费</el-tag>
                                <el-tag type="warning" v-else>
                                    <icon>&#xe671</icon>{{scope.data.Stc_EndTime|date("yyyy-M-d ")}} 过期
                                    {{item.endtime|date("yyyy年M月d日")}}
                                </el-tag>
                                <!--课程中资源数量-->
                                <course_data :couid="item.Cou_ID" :viewnum="item.Cou_ViewNum"></course_data>
                            </div>
                            <div class="info_row studyinfo">
                                <video_progress :course="item" :stid="account.Ac_ID" :config="config"
                                    :purchase="scope.data"></video_progress>
                                <ques_progress :course="item" :stid="account.Ac_ID" :purchase="scope.data">
                                </ques_progress>
                                <exam_test :course="item" :stid="account.Ac_ID" :config="config" :purchase="scope.data">
                                </exam_test>
                            </div>
                        </div>
                    </el-card>
                </purchase_data>
            </template>
        </context>

        <div id="pager-box">
            <el-pagination v-on:current-change="handleCurrentChange" :current-page="query.index" :page-sizes="[1]"
                :page-size="query.size" :pager-count="12" layout="total, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>


</body>

</html>