<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>课程学习成绩的详情</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <template v-if="loading_init">
            <loading>...</loading>
        </template>
        <template v-else-if="!islogin">
            <alert class="nolog">未查询到学员信息</alert>
        </template>
        <loading v-else-if="loading">...</loading>
        <template v-else-if="isnull">
            没有学习记录
        </template>
        <div v-else class="context">
            <div class="row video">
                <span>视频学习完成<b>{{round(purchase.Stc_StudyScore,2)}}%</b>，
                    权重<b>{{orgconfig('finaltest_weight_video',33.3)}}%</b></span>

            </div>
            <div class="row ques">
                <span>试题通过率达到<b>{{round(purchase.Stc_QuesScore,2)}}%</b>，
                    权重<b>{{orgconfig('finaltest_weight_ques',33.3)}}%</b></span>

            </div>
            <div class="row exam">
                <span>结课考试得分<b>{{round(purchase.Stc_ExamScore,2)}}分</b>，
                    权重<b>{{orgconfig('finaltest_weight_exam',33.3)}}%</b></span>

            </div>
            <div class="footer">
                <div>
                    <el-button v-if="true" type="primary" plain @click="refresh_data()" :loading="loading_fresh!=0">
                        更新学习记录并重新计算</el-button>
                </div>
                <div class="score">综合成绩：<span
                        :class="{'nopass':purchase.Stc_ResultScore<60}">{{purchase.Stc_ResultScore}}
                    </span>分</div>
            </div>
        </div>
    </div>

</body>

</html>