@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

.header {
	height: 20px;
	background-color: rgb(212, 224, 206);
	font-size: 14px;
	width: calc(100% - 24px);
	top: 0px;
	z-index: 2;
	padding: 12px;
}

.header_info {
	float: right;
}

.acc_photo {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
	float: left;
	background-size: cover;
	box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 5px #fff, 0 0 5px #fff;
	transition: all 0.2s;
	float: left;
	display: inline;
}

.nophoto {
	background-image: url(/Utilities/images/head1.jpg);
}

.man {
	background-image: url(/Utilities/images/head1.jpg);
}

.woman {
	background-image: url(/Utilities/images/head2.jpg);
}

/*得分样式*/

score {
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}

score::before {
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
	font-size: 22px;
}

score.nopass::before {
	content: '\e774';
	color: #ff0000;
}

score.general::before {
	content: '\e829';
}

score.fine::before {
	content: '\e826';
	color: #07c160;
}

score.praise::before {
	content: '\e855';
	font-size: 20px;
	color: chocolate;
}

.scoreinfo {
	padding: 10px;
	color: chocolate;
}

.scoreinfo>span {
	font-size: 13px;
	color: #999;
}

/**/

context {
	display: block;
	height: calc(100% - 44px - 30px);
	width: calc(100% - 30px);
	padding: 15px;
	overflow-y: auto;
}
