@charset "utf-8";

html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.editor{
    height: calc(100% - 55px);
}
.editor>div{
    height: 100% !important;
}
.foot-btn {
    width: calc(100% - 30px);
    height: 30px;
    padding: 15px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.foot-btn p {
    float: left;
    font-size: 12px;
}

.foot-btn button {
    float: right;
}