@charset "utf-8";
help{
    padding: 0px 10px;
}
div.context{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 32px);
    overflow-y: auto;
}
div.context .el-row{
    line-height: 40px;
}
.odd{
    background-color: #eee;
}