html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;  
}
/*首页轮换图片*/

.flexslider {
	position: relative;
	width: 475px;
	height: 200px;
	overflow: hidden;
	zoom: 1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
}

.flexslider .slides li {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.flex-direction-nav li {
	list-style-type: none;
	width: 20px;
	height: 20px;
	line-height: 99em;
	overflow: hidden;
	display: block;
	border: solid rgb(194, 193, 193);
	border-width: 0 10px 10px 0;
	position: absolute;
	top: 90px;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 15px;
}

.flex-direction-nav .flex-prev {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	left: 15px;
}

.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	display: block;
	height: 10px;
	overflow: hidden;
	text-indent: -99em;
	width: 10px;
	cursor: pointer;
	border-radius: 5px;
	background: #999;
}

.flex-control-paging li a.flex-active, .flex-control-paging li.active a {
	background: #333;
}

.flexslider .slides a img {
	width: 100%;
	height: 300px;
	margin-top: -0px;
}
/*自定义内容的样式*/
dl{
	margin: 20px;
	user-select: none;
}
dl dt{
	display: block;
    font-size: 2em;
    margin-block-end: 0.67em;
	font-weight: bold;
	color: #999;
	margin-left: 20px;
	//text-shadow:1px 1px 1px #000;
}
dl dd{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #999;
	font-weight: bold;
}