<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>AI大语言模型</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <page_header ref='pageheader' @login="acc=>account = acc" @load="(o,c,p)=>{org=o,config=c,platinfo=p}">
            loading
            ...
        </page_header>
        <context class="navig">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>AI大语言模型</el-breadcrumb-item>
            </el-breadcrumb>
            <div class="model">
                AI引擎<span v-html="model"></span>
            </div>

        </context>
        <context class="body">
            <div class="history">
                de
            </div>
            <div class="area">
                <div class="messages_area">
                    <div v-for="(item,index) in messages" :key="index">
                        {{item.role}}:
                        <div v-html="formatText(item.content)"></div>

                    </div>
                    <span loading="p2" v-if="loading">loading...</span>
                </div>
                <div class="inputbox">
                    <textarea v-model.trim="input" placeholder="请输入..." @keyup.enter="send"></textarea>
                    <div class="footbar">
                        <loading star v-if="loading">正在加载...</loading>
                        <span v-else>
                            <el-link type="primary" v-if="messages.length>0" class="newCommunion" @click="newCommunion">
                                <icon>&#xe817</icon>开启新话题
                            </el-link>
                        </span>

                        <el-button type="success" plain :disabled="input=='' || loading" @click="send">
                            <icon v-if="!loading">&#xe84c</icon>
                            <loading v-else bubble></loading>
                            提 交
                        </el-button>
                    </div>
                </div>
            </div>
        </context>
        <page_footer :organ="org">loading ...</page_footer>
    </div>


</body>

</html>