<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>AI大语言模型</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <page_header ref='pageheader' @login="acc=>account = acc" @load="(o,c,p)=>{org=o,config=c,platinfo=p}">
            loading
            ...
        </page_header>
        <context class="navig">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>AI大语言模型</el-breadcrumb-item>
            </el-breadcrumb>
        </context>
        <context class="body nologin" v-if="loading_init">
            <div loading="p4"></div>
        </context>
        <context class="body nologin" v-else-if="!islogin">
            <nologin></nologin>
        </context>
        <context class="body" v-else>
            <div class="history">
                <div class="title">沟通历史记录</div>
                <div class="datalist" v-if="records.length>0">
                    <div v-for="span in historys" v-if="span.list.length>0">
                        <div v-html="span.text" class="date"></div>
                        <div v-for="item in span.list" @click="selectRecord(item)"
                            :current="item.Llr_ID==record.Llr_ID" class="item">
                            {{item.Llr_Topic}}
                            <el-dropdown v-if="item.Llr_ID==record.Llr_ID">
                                <span class="el-dropdown-link">
                                    <icon>&#xe838</icon>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>
                                        <el-popconfirm confirm-button-text='是的' cancel-button-text='不用'
                                            icon="el-icon-info" icon-color="red" title="确定删除吗？"
                                            @confirm="delRecord(item.Llr_ID)">
                                            <el-link type="danger" :disabled="loadingid==item.Llr_ID" plain
                                                icon="el-icon-delete" slot="reference">删除
                                            </el-link>
                                        </el-popconfirm>
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                            <div v-else class="right"></div>
                        </div>
                    </div>

                </div>
                <div class="nohistory" v-else>
                    <div class="nohistory_text">没有历史记录</div>
                </div>
                <div class="model">
                    大语言模型<span v-html="model"></span>
                </div>
            </div>
            <div class="area">
                <div class="messages_area">
                    <div class="welcome" v-if="messages.length<1">
                        <div class="welcome_title">
                            <div class="ai_icon"> </div>
                            <div>您好！我是基于大语言模型的AI助手</div>
                        </div>

                        <div class="welcome_text">我擅长信息处理、多轮对话与复杂任务分解。建议清晰描述需求以获得最佳回复，我会持续优化响应质量。请问今天能为您解决什么问题？</div>
                    </div>
                    <template v-for="(item,index) in messages" v-else>
                        <user_msg v-if="item.role=='user'" :message="item.content" :account="account"></user_msg>
                        <ai_msg v-else :message="item.content"></ai_msg>
                    </template>
                    <span loading="p2" v-if="loading">loading...</span>
                </div>
                <!-- 输入框 -->
                <div class="inputbox">
                    <textarea v-model.trim="input" placeholder="请输入您的问题..." @keyup.enter="send"></textarea>
                    <div class="footbar">
                        <loading star v-if="loading">正在加载...</loading>
                        <span v-else>
                            <el-link type="primary" v-if="messages.length>0" class="newCommunion" @click="newTopic">
                                <icon>&#xe817</icon>开启新话题
                            </el-link>
                        </span>

                        <el-button type="success" plain :disabled="input=='' || loading" @click="send">
                            <icon v-if="!loading">&#xe84c</icon>
                            <loading v-else bubble></loading>
                            提 交
                        </el-button>
                    </div>
                </div>
            </div>
        </context>
        <page_footer :organ="org">loading ...</page_footer>
    </div>


</body>

</html>