<!doctype html>
<html>
<head>
    <title>{$org.org_platformname}</title>
    <vt:include file="inc/meta.inc" />
    <link href="Styles/about.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
    <vt:include file="inc/Header.html" />
    <div id="bodyTop">
        &nbsp;</div>
    <div id="Context">
        <vt:if var="org.Org_Intro" value="" compare="!=">
        {$org.Org_Intro}
        <vt:else />
        <div class="noabout">没有填写相关信息。</div>
      </vt:if>
    </div>
    <vt:include file="inc/footer.html" />
</body>
</html>
