<!doctype html>
<html>
<head>
<title>{$:#.art.art_title} -- {$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/article.js?ver={$version}"></script>
<link href="Styles/article.css?ver={$version}" rel="stylesheet" type="text/css" />
</head>
<body>
<vt:include file="inc/Header.html" />
<div id="Context">
  <div class="navi-bar"> <a href="/" class="nav-txt">首页</a> &gt; <a href="/news.ashx" class="nav-txt">新闻资讯</a> &gt; <span  class="nav-txt">{$art.art_title}</span> </div>
  <div id="artArea">
    <div id="artBox">
        <div class="artTitle">
          <vt:if var="art.art_title" value="" compare="!="> {$art.art_title}
            <vt:else/>
            (当前资讯不存在，可能是参数引用错误) </vt:if>
        </div>
        <div class="artAttrBar"> <span class="artTime">{$:#.art.art_pushTime  format="yyyy-M-dd hh:m:s"}</span> <span class="artflux">
          <vt:if var="art.Art_number" value="" compare="!="> 浏览{$art.Art_number}次 </vt:if>
          </span> <!--<span class="artSharp">分享
       </span>  --></div>
        <!--摘要 -->
        <vt:if var="art.art_intro" value="" compare="!=">
          <div id="artIntro"><span class="tit">摘要：</span>{$art.art_intro} </div>
        </vt:if>
        <!--图片 -->
        <vt:if var="art.art_isImg" value="true" compare="="> 
          <!--<div id="artImg"> <img src="{$art.Art_Logo}"/></div>--> 
        </vt:if>
        <!--正文 -->
        <div id="artContext">{$art.Art_Details} </div>
        <!--附件 -->
        <vt:if var="artAcc.count" value="0" compare=">">
          <dl id="artAcc">
            <dt>相关附件：</dt>
            <vt:foreach from="$#.artAcc" item="data" index="i" remark="新闻的附件">
              <dd class="accItem"> <span class="filename">{$:i}、<a href="{$:data.As_FileName}" target="_blank" download="{$:data.As_Name}">{$:data.As_Name}</a></span> <span class="filesize">{$:data.As_Size}</span> </dd>
            </vt:foreach>
            <script type="text/javascript">
                $(function () {
                    $(".filesize").each(function () {
                        var n = Number($(this).text());
                        var tm = $().getSizeUnit(n);
                        $(this).text(tm);
                    });
                });
</script>
          </dl>
        </vt:if>
      </div>
    <div class="artRight">
     <vt:list type="course" item="c" index="i" count="5" order="flux"  remark="课程">
           <div class="course-item"> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-img"><img src="{$:#.c.cou_logosmall}"  default="images/cou_nophoto.jpg" /></a> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-name"> {$:#.c.cou_name} </a>
                  <div class="cour-price">
                    <vt:if var="c.cou_isfree" value="true" compare="="> <span class="free">免费</span>
                      <vt:else/>
                      <vt:function var="price" method="getCoursePrice" args="$#.c.cou_uid"/>
                      <span class="money">
                      <vt:foreach from="$price" item="p" index="i" count="2"  remark="当前课程价格"> <span class="moneyico money-ico">&#xe625;</span> <span class="p-num">{$:#.p.CP_Price}元</span> <span class="p-span">/{$:#.p.CP_Span}</span> <span class="p-unit">{$:#.p.CP_Unit}</span> </vt:foreach>
                      </span> </vt:if>
                    <span class="cou-count" title="访问量">{$:#.c.cou_viewNum}</span> <span class="cou-sbj" title="访问量">{$:#.c.sbj_name}</span> </div>
                </div>
          </vt:list>
    </div>
  </div>
  <div class="artNavi">
    <div class="artPrev"> 
      <!--上一条新闻 -->
      <vt:if var="artPrev.art_id" value="1" compare="<"> 上则新闻：无
        <vt:else />
        上则新闻：<a href="/article.ashx?id={$artPrev.Art_id}">{$artPrev.Art_Title}</a> </vt:if>
    </div>
    <div class="artNext">
      <vt:if var="artNext.art_id" value="1" compare="<"> 下则新闻：无
        <vt:else />
        下则新闻：<a href="/article.ashx?id={$artNext.Art_id}">{$artNext.Art_Title}</a> </vt:if>
    </div>
  </div>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
