<!DOCTYPE html>
<html>
<head>
<title>{$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<link href="Styles/CourseChannel.css?ver={$version}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Scripts/CourseChannel.js?ver={$version}"></script>
</head>
<body>
<vt:include file="inc/Header.html" />

<!--各专业的课程列表-->
<div class="contextbox">
  <vt:repeat type="subject" var="sbjs" item="data" index="i" remark="顶级专业分类">
    <div class="course-row">
      <div class="row-left">
        <div class="row-sbjname"><a href="/Courses.ashx?sbjid={$#.data.current.Sbj_id}" target="_blank">{$#.data.current.Sbj_name}</a></div>
        <img src="{$#.data.current.Sbj_logo}"  default="images/nosubject.jpg" style="width:220px; height:420px" alt="专业的图片，在专业设置中编辑" /> </div>
      <div class="row-right" type="tab">
        <div class="row-right-tit">
          <div class="tititem" type="title" index="rec" ><a href="/Courses.ashx?sbjid={$#.data.current.Sbj_id}" target="_blank">推荐</a></div>
          <vt:repeat from="$data.Childs" type="subject" item="d" index="i" count="5" remark="二级分类">
            <div class="tititem" type="title" index="{$:i}"><a href="/Courses.ashx?sbjid={$#.d.current.Sbj_id}" target="_blank">{$#.d.current.Sbj_name}</a></div>
          </vt:repeat>
          <div class="tititem" type="title" index="new" ><a href="/Courses.ashx?sbjid={$#.data.current.Sbj_id}" target="_blank">最新发布</a></div>
        </div>
        <div class="course-area"> 
          <!--课程列表-->
          <div class="courbox"> 
            <!--推荐课程-->
            <div class="cour-panel"  type="area" index="rec">
              <vt:function var="reccour" method="getCourses" args="$#.data.current.sbj_id" args="8" args="rec"/>
              <vt:foreach from="$reccour" type="course" item="c" index="i" order="rec"  remark="推荐课程">
                <div class="course-item"> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-img"><img src="{$:#.c.cou_logosmall}"  default="images/cou_nophoto.jpg"/></a> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-name">
                  <vt:if var="c.Cou_ExistLive" value="true" compare="=" remark="直播">
                    <div class="live" title="直播课"></div>
                  </vt:if>
                  {$:#.c.cou_name} </a>
                  <div class="cour-price">
                    <vt:if var="c.cou_isfree" value="true" compare="="> <span class="free">免费</span>
                      <vt:else/>
                      <vt:function var="price" method="getCoursePrice" args="$#.c.cou_uid"/>
                      <span class="money">
                      <vt:foreach from="$price" item="p" index="i" count="1"  remark="当前课程价格"> <span class="moneyico money-ico">&#xe625;</span> <span class="p-num">{$:#.p.CP_Price}元</span> <span class="p-span">/{$:#.p.CP_Span}</span> <span class="p-unit">{$:#.p.CP_Unit}</span> </vt:foreach>
                      </span> </vt:if>
                    <span class="cou-count" title="访问量">{$:#.c.cou_viewNum}</span> <span class="cou-sbj" title="{$:#.c.sbj_name}">{$:#.c.sbj_name}</span> </div>
                </div>
              </vt:foreach>
            </div>
            <vt:repeat from="$data.Childs" type="subject" item="d2" index="n" count="8" remark="二级分类">
              <div class="cour-panel"  type="area" index="{$:n}">
                <vt:function var="listcours" method="getCourses" args="$#.d2.current.sbj_id" args="8" args="new"/>
                <vt:list from="$listcours" type="course" item="c" index="i" order="rec"  remark="专业下的课程">
                  <div class="course-item"> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-img"><img src="{$:#.c.cou_logosmall}"  default="images/cou_nophoto.jpg"/></a> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-name">
                    <vt:if var="c.Cou_ExistLive" value="true" compare="=" remark="直播">
                      <div class="live" title="直播课"></div>
                    </vt:if>
                    {$:#.c.cou_name}</a>
                    <div class="cour-price">
                      <vt:if var="c.cou_isfree" value="true" compare="="> <span class="free">免费</span>
                        <vt:else/>
                        <vt:function var="price" method="getCoursePrice" args="$#.c.cou_uid"/>
                        <span class="money">
                        <vt:foreach from="$price" item="p" index="i" count="1"  remark="当前课程价格"> <span class="moneyico money-ico">&#xe625;</span> <span class="p-num">{$:#.p.CP_Price}元</span> <span class="p-span">/{$:#.p.CP_Span}</span> <span class="p-unit">{$:#.p.CP_Unit}</span> </vt:foreach>
                        </span> </vt:if>
                      <span class="cou-count" title="访问量">{$:#.c.cou_viewNum}</span> <span class="cou-sbj" title="{$:#.c.sbj_name}">{$:#.c.sbj_name}</span> </div>
                  </div>
                </vt:list>
              </div>
            </vt:repeat>
            <!--最新课程-->
            <div class="cour-panel"  type="area" index="new">
              <vt:function var="newcour" method="getCourses" args="$#.data.current.sbj_id" args="8" args="new"/>
              <vt:foreach from="$newcour" type="course" item="c" index="i" order="rec"  remark="最新课程">
                <div class="course-item"> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-img"><img src="{$:#.c.cou_logosmall}"  default="images/cou_nophoto.jpg"/></a> <a href="/course.ashx?id={$:#.c.cou_id}" target="_blank" title="{$:#.c.cou_name}" class="cour-name">
                  <vt:if var="c.Cou_ExistLive" value="true" compare="=" remark="直播">
                    <div class="live" title="直播课"></div>
                  </vt:if>
                  {$:#.c.cou_name}</a>
                  <div class="cour-price">
                    <vt:if var="c.cou_isfree" value="true" compare="="> <span class="free">免费</span>
                      <vt:else/>
                      <vt:function var="price" method="getCoursePrice" args="$#.c.cou_uid"/>
                      <span class="money">
                      <vt:foreach from="$price" item="p" index="i" count="1"  remark="当前课程价格"> <span class="moneyico money-ico">&#xe625;</span> <span class="p-num">{$:#.p.CP_Price}元</span> <span class="p-span">/{$:#.p.CP_Span}</span> <span class="p-unit">{$:#.p.CP_Unit}</span> </vt:foreach>
                      </span> </vt:if>
                    <span class="cou-count" title="访问量">{$:#.c.cou_viewNum}</span> <span class="cou-sbj" title="{$:#.c.sbj_name}">{$:#.c.sbj_name}</span> </div>
                </div>
              </vt:foreach>
            </div>
          </div>
        </div>
      </div>
    </div>
  </vt:repeat>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
