<!doctype html>
<html>
<head>
<title>测试中心 - {$org.org_platformname}</title>
<vt:include file="inc/meta.inc" />
<script type="text/javascript" src="Scripts/test.js?ver={$version}"></script>
<link href="Styles/test.css?ver={$version}" rel="stylesheet" type="text/css" />

</head>
<body>
<vt:include file="inc/Header.html" />
<div id="bodyTop">&nbsp;</div>
<div id="Context">
  <div id="TitleBar"> 在线测试</div>
  <!--选择区域 -->
  <div id="selectArea">
    <div class="selectBar" id="SelectedBar">
      <div class="selectLeft">已经选条件：</div>
      <div class="selectRight" id="Selected"></div>
    </div>
    <div id="subject" class="selectBar">
      <div class="selectLeft">按专业：</div>
      <div class="selectRight">
        <vt:foreach id="subject" from="$#.subject" item="data" index="i" remark="专业">
          <div class="subjectItem"><a href="#" sbjid="{$:#.data.sbj_id}">{$:#.data.sbj_name} </a> </div>
        </vt:foreach>
      </div>
    </div>
  </div>
  <!--测试列表区 -->
  <div id="testListBox">
    <vt:if var="tests.length" value="1" compare="<">
      <div class="noContext">没有试卷</div>
      <vt:else />
      <dl>
        <dt></dt>
        <vt:foreach id="tests" from="$#.tests" item="data" index="i" size="10" remark="试卷列表">
          <dd>
            <div class="imgBox">
              <vt:if var="data.Tp_Logo" value="" compare="="> <img src="images/testpaper.jpg"/>
                <vt:else />
                <img src="{$path}{$:#.data.Tp_Logo}" default="images/testpaper.jpg"/> </vt:if>
            </div>
            <div class="testRight">
              <div class="title">{$:#.data.tp_name}</div>
              <div class="row">
                <div class="time">考试限时：{$:#.data.Tp_Span}分钟</div>
                <div class="qscount">题量：共{$:#.data.Tp_count}道题</div>
                <div class="total">满分：{$:#.data.Tp_total}分</div>
              </div>
              <div class="row">
                <div class="subject">所属学科：<a href="courses.ashx?sbjid={$:#.data.sbj_id}" target="_blank">{$:#.data.sbj_Name}</a></div>
                
              </div>
              <div class="row">
                <div class="course">所属课程：<a href="course.ashx?id={$:#.data.cou_id}" target="_blank">《{$:#.data.cou_Name}》</a></div>
                
              </div>
               <div class="row">
               <div class="level">难度范围：{$:#.data.Tp_Diff}级 - {$:#.data.Tp_Diff2}级</div>
                <div class="type">试卷类型：
                  <vt:if var="data.Tp_Type" value="1" compare="="> 固定试题
                    <vt:else />
                    随机试卷 </vt:if>
                </div>
               </div>
              <!--<div class="intro">{$:#.data.Tp_intro}</div>-->
              <div class="btnBar">
                <div class="btn">
                 <vt:if var="Account.Ac_id" value="0" compare=">">
                <a class="inTestScene" href="testscene.ashx?id={$:#.data.Tp_id}" target="_blank"  isPass="{$Account.Ac_isPass}" title="{$:#.data.tp_name}">参加测试</a>
                <vt:else/>
                 <a href="student/index.ashx" title="{$:#.data.tp_name}">请登录后测试</a>
                </vt:if>
                </div>
              </div>
            </div>
          </dd>
        </vt:foreach>
      </dl>
    </vt:if>
  </div>
  <!--分页导航 -->
  <vt:if var="pageAmount.Length" value="1" compare=">">
    <div id="pagerBar">
      <div class="pagerFirst pagerBtn"><a href="/test.ashx?sbj={$sbjid}">首页</a></div>
      <!--上一页 -->
      <vt:expression var="pagerPrev" expression="{0}-1" args="$pageIndex" />
      <vt:if var="#.pagerPrev" value="1" compare="<">
        <div class="pagerPrev pagerBtn"><a href="#">上一页</a></div>
        <vt:else />
        <div class="pagerPrev pagerBtn"><a href="/test.ashx?index={$:#.pagerPrev}&sbj={$sbjid}">上一页</a></div>
      </vt:if>
      <!--分页数字 -->
      <vt:foreach id="pageAmount" from="$#.pageAmount" item="data" index="i" remark="分页数字">
        <vt:if var="#.data" value="$pageIndex" compare="=">
          <div class="pagerIndex pagerBtn pagerCurr"><a href="/test.ashx?index={$:i}&sbj={$sbjid}">{$:i}</a></div>
          <vt:else />
          <div class="pagerIndex pagerBtn"><a href="/test.ashx?index={$:i}&sbj={$sbjid}">{$:i}</a></div>
        </vt:if>
      </vt:foreach>
      <!--下一页 -->
      <vt:expression var="pagerNext" expression="{0}+1" args="$pageIndex" />
      <vt:if var="#.pagerNext" value="$pageAmount.Length" compare=">">
        <div class="pagerNext pagerBtn"><a href="#">下一页</a></div>
        <vt:else />
        <div class="pagerNext pagerBtn"><a href="/test.ashx?index={$:#.pagerNext}&sbj={$sbjid}">下一页</a></div>
      </vt:if>
      <div class="pagerLast pagerBtn"><a href="/test.ashx?index={$:pageAmount.length}&sbj={$sbjid}">末页</a></div>
    </div>
  </vt:if>
</div>
<vt:include file="inc/footer.html" />
</body>
</html>
