<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title></title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="toolsbar">
            <btngroup show="新增,修改,删除,导入,导出" ref='btngroup' @output="output" @input="input" @delete="deleteData"
                path="Modify" width="800" height="600" :selects='selects' idkey='Qus_ID' table="datatables"></btngroup>
            <div class="search-box">
                <el-form :inline="true" :model="form" class="demo-form-inline" v-on:submit.native.prevent>

                    <el-form-item label="">
                        <el-input v-model.trim="form.search" clearable style="width:245px" placeholder="搜索"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" v-on:click="handleCurrentChange(1)" :loading="loading"
                            native-type="submit" plain v-show="!querybox" class="el-icon-search">
                            查询
                        </el-button>
                        <el-link type="success" @click="querybox=!querybox" :class="querybox ? 'more' : ''">更多条件<i
                                class="el-icon-caret-right"></i></el-link>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <!--查询面板-->
        <div class="queryBox_mask" v-show="querybox" @click="querybox=false"></div>
        <div class="queryBox" v-show="querybox">
            <el-form :model="form" class="demo-form-inline" v-on:submit.native.prevent label-width="80px">
                <el-form-item label="专业">
                    <el-cascader style="width: 100%;" clearable v-model="sbjids" placeholder="请选择课程专业"
                        :options="subjects" separator="／" :props="defaultSubjectProps" filterable @change="getCourses">
                        <template slot-scope="{ node, data }">
                            <span>{{ data.Sbj_Name }}</span>
                            <span class="sbj_course" v-if="data.Sbj_CouNumber>0">
                                <icon>&#xe813</icon>{{ data.Sbj_CouNumber }}
                            </span>
                        </template>
                    </el-cascader>
                </el-form-item>
                <el-form-item label="">
                    <el-select v-model="form.couid" style="width: 100%;" filterable clearable placeholder="-- 课程 --">
                        <el-option v-for="(item,i) in courses" :key="item.Cou_ID" :label="item.Cou_Name"
                            :value="item.Cou_ID">
                            <span>{{i+1}} . </span>
                            <span>{{item.Cou_Name}}</span>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="题型">
                    <el-radio-group v-model="form.type" class="types">
                        <el-radio-button label="">所有</el-radio-button>
                        <el-radio-button v-for="(item,i) in types" :label="i+1">
                            <ques_type :type="i+1" :types="types" :showname="true"></ques_type>
                        </el-radio-button>
                    </el-radio-group>
                </el-form-item>

                <el-form-item label="状态">
                    <!--是否试题有错误-->
                    <el-radio-group v-model="form.error">
                        <el-radio-button label="">所有</el-radio-button>
                        <el-radio-button label="false">
                            <icon>&#xe634</icon>正常
                        </el-radio-button>
                        <el-radio-button label="true">
                            <icon>&#xe70e</icon>存在错误
                        </el-radio-button>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="反馈">
                    <!--学员反馈有问题的试题-->
                    <el-radio-group v-model="form.wrong">
                        <el-radio-button label="">所有</el-radio-button>
                        <el-radio-button label="false">
                            <icon>&#xe634</icon>正常
                        </el-radio-button>
                        <el-radio-button label="true">
                            <icon>&#xe61f</icon>报错
                        </el-radio-button>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="启用">
                    <!--试题是否允许显示-->
                    <el-radio-group v-model="form.use">
                        <el-radio-button label="">所有</el-radio-button>
                        <el-radio-button label="true">
                            <icon>&#xa030</icon>启用
                        </el-radio-button>
                        <el-radio-button label="false">
                            <icon>&#xe7ad</icon>禁用
                        </el-radio-button>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="" class="search_btns">
                    <el-button type="primary" v-on:click="handleCurrentChange(1)" :loading="loading"
                        native-type="submit" class="el-icon-search">
                        查询
                    </el-button>
                    <el-button type="primary" @click="querybox=!querybox" native-type="submit" plain
                        class="el-icon-sunset">
                        隐藏面板
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
        <!-- 数据列表-->
        <el-table ref="datatables" :data="datas" tooltip-effect="dark" style="width: 100%" stripe
            @selection-change="val=>selects=val" @row-dblclick="row=>$refs.btngroup.modify(row[$refs.btngroup.idkey])"
            row-key="Qus_ID">
            <div slot="empty">
                <span v-if="!loading">未查询到数据</span>
            </div>
            <el-table-column type="selection" width="35" show-overflow-tooltip>
            </el-table-column>
            <el-table-column label="#" type="index" width="60" align="center">
                <template slot-scope="scope">
                    <span>{{(form.index - 1) * form.size + scope.$index + 1}}</span>
                </template>
            </el-table-column>

            <el-table-column label="试题" class-name="ques_title">
                <template slot-scope="scope">
                    <ques_type :type="scope.row.Qus_Type" :types="types"></ques_type>
                    <alert v-if="scope.row.Qus_IsError" title="存在错误">存在错误</alert>
                    <alert v-if="scope.row.Qus_IsWrong" title="学员反馈试题有错误">报错</alert>
                   
                    <span v-html="showInfo(scope.row.Qus_Title)">
                </template>
            </el-table-column>
            <el-table-column label="难度" width="70">
                <template slot-scope="scope">
                    <el-tag type="info" title="难度等级"> {{scope.row.Qus_Diff}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column label="课程">
                <template slot-scope="scope">
                   <course_name :couid="scope.row.Cou_ID"></course_name>
                </template>
            </el-table-column>
            <el-table-column label="使用" width="70">
                <template slot="header" slot-scope="scope">
                    <el-dropdown @command="batchState">
                        <span class="el-dropdown-link">
                            使用<i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="1">
                                <icon>&#xa030</icon>启用
                            </el-dropdown-item>
                            <el-dropdown-item :command="0">
                                <icon>&#xe7ad</icon>禁用
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
                <template slot-scope="scope">
                    <span class="el-icon-loading" v-show="loadingid==scope.row.Qus_ID"></span>
                    <div>
                        <el-switch v-model="scope.row.Qus_IsUse" @change="changeState(scope.row)" active-color="#13ce66"
                            inactive-color="#ff4949" v-show="loadingid!=scope.row.Qus_ID">
                        </el-switch>
                    </div>
                </template>
            </el-table-column>

            <el-table-column label="操作" show-overflow-tooltip width="120">

                <el-button-group slot-scope="scope">
                    <el-link type="primary" plain icon="el-icon-edit" @click='$refs.btngroup.modify(scope.row.Qus_ID)'>
                        修改
                    </el-link>
                    <el-popconfirm confirm-button-text='是的' cancel-button-text='不用' icon="el-icon-info" icon-color="red"
                        title="确定删除吗？" @confirm="$refs.btngroup.delete(scope.row.Qus_ID)">
                        <el-link type="danger" plain icon="el-icon-delete" slot="reference">删除
                        </el-link>
                    </el-popconfirm>
                </el-button-group>
            </el-table-column>
        </el-table>


        <div id="pager-box">
            <el-pagination v-on:current-change="handleCurrentChange" :current-page="form.index" :page-sizes="[1]"
                :page-size="form.size" :pager-count="12" layout="total, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>


</body>

</html>