<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>试题编辑-单选</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <modify_main ref="main" @load="(q,c)=>{entity=q;course=c;}" @init="(o,c,t)=>{organ=o;config=c;types=t}">
            <!-- 编辑区域-->
            <el-form ref="entity" :model="entity" @submit.native.prevent label-width="60px">
                <el-form-item label="题干" prop="Qus_Title">
                    <editor :content="entity.Qus_Title" id="title" :menubar="false" model="general"
                        style="height: 300px;" @change="text=>entity.Qus_Title=text"></editor>
                </el-form-item>
                <el-form-item label="选项" prop="Qus_Items">
                    <dl class="ans" id="ansitems">
                        <dd v-for="(item,index) in ansitems">
                            <index :title="'id:'+item.Ans_ID">{{index+1}}</index>
                            <div class="itemcrt" @click="radio(item)" title="设置正确答案">
                                <icon v-if="item.Ans_IsCorrect" style="font-size: 21px;">&#xe85b</icon>
                                <icon v-else style="font-size: 22px;">&#xe85c</icon>
                            </div>
                            <div class="text" v-html="item.Ans_Context" :id="'ans_'+item.Ans_ID"
                                @click="ansClick(item)">
                            </div>
                            <div class="btns">
                                <el-link type="primary" plain icon="el-icon-edit" @click='edit(item,index)'>编辑</el-link>
                                <el-popconfirm confirm-button-text='是的' cancel-button-text='不用' icon="el-icon-info"
                                    title="确定删除吗？" @confirm="del(item,index)">
                                    <el-link type="danger" plain icon="el-icon-delete" slot="reference">删除 </el-link>
                                </el-popconfirm>
                            </div>
                        </dd>
                        <dt>
                            <el-link type="success" @click='add()'>
                                <icon>&#xe6ea</icon>添加新项
                            </el-link>
                        </dt>
                    </dl>
                </el-form-item>
            </el-form>
            <div v-show="showitem" class="showitem">
                <div slot="title">
                    <icon>&#xe60d</icon>编辑“选项 {{edititem.index+1}}”
                    <icon close @click="showitem = false"></icon>
                </div>
                <div slot="body">
                    <editor :content="edititem.Ans_Context" id="Ans_Context" ref="edititem" :menubar="true"
                        model="general" @change="text=>edititem.Ans_Context=text"></editor>
                </div>
                <div slot="footer">
                    <el-button @click="showitem = false">返 回</el-button>
                    <el-button type="primary" @click="editenter()">确 定</el-button>
                </div>
            </div>
            <ques_ansitem ref="ques_ansitem" @close="ansClose"></ques_ansitem>
        </modify_main>
        <enter_button :question="entity" :verify="verify" :organ="organ"></enter_button>
    </div>

</body>

</html>