
@font-face {font-family: "icondepart";
  src: url('icondepart.eot'); /* IE9*/
  src: url('icondepart.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('icondepart.woff') format('woff'), /* chrome, firefox */
  url('icondepart.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icondepart.svg#icondepart') format('svg'); /* iOS 4.1- */
}

.icondepart {
  font-family:"icondepart" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-20:before { content: "\e613"; }
.icon-icon15:before { content: "\e629"; }
.icon-xuexiaoguanli:before { content: "\f00aa"; }
.icon-icon3:before { content: "\e611"; }
.icon-xueyuanxuexiao:before { content: "\e656"; }
.icon-dituxuexiao:before { content: "\e647"; }
.icon-xxjj:before { content: "\e62c"; }
.icon-iconzhongxiaoxuexiao:before { content: "\e66d"; }
.icon-icon31:before { content: "\e615"; }
.icon-xueyuan:before { content: "\e60a"; }
.icon-xueyuan1:before { content: "\e801"; }
.icon-xueyuan2:before { content: "\e668"; }
.icon-xueyuan3:before { content: "\e666"; }
.icon-chuangkexueyuan:before { content: "\e699"; }
.icon-bumen:before { content: "\e605"; }
.icon-bumen1:before { content: "\e6a2"; }
.icon-guanlibumen:before { content: "\e683"; }
.icon-bumenchengyuan:before { content: "\f00bf"; }
.icon-zuzhibumen:before { content: "\e68b"; }
