
/*附件*/

.accessory .access_list {
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.accessory .access_list dd {
	margin: 0px;
	line-height: 35px;
}

.accessory .noaccess {
	font-size: 16px;
	line-height: 30px;
	color: #666;
	padding: 20px;
}
.accessory .van-popup {
    width: 100%;
    height: 100%;
}

.accessory .van-popup .pdftitle {
    padding: 10px 30px 10px 10px;
    line-height: 30px;
    font-size: 16px;
    overflow: hidden;
}

.accessory .van-popup iframe {
    width: 100%;
    height: calc(100% - 60px);
}