
/*咨询留言*/

#chatarea {
	height: 100%;
}

card {
	height: calc(100vh - 100vw * 9 / 16 - 105px);
	width: calc(100% - 20px);
}

.chatlist {
	max-height: calc(100% - 30px);
	bottom: 30px;
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/*没有留言*/

.nomsg {
	padding: 20px;
}

dl#chatlist {
	padding: 15px;
	height: calc(100% - 30px - 90px);
	overflow-y: auto;
}

dl#chatlist, #chatlist dd {
	margin: 0px;
}

#chatlist dd {
	width: 100%;
	margin-bottom: 12px;
	font-size: 12px;
}

#chatlist dd:first-child {
	display: block;
	width: 100%;
	line-height: 25px;
}

#chatlist dd acc {
	display: inline-block;
}

#chatlist dd acc::before {
	content: "\a043";
	font-size: 15px;
	font-family: "webdesk_icon";
	margin-right: 1px;
}

#chatlist dd date {
	display: block;
	float: right;
	color: #999;
	font-size: 11px;
}

#chatlist dd msg {
	display: block;
	line-height: 22px;
	font-size: 12px;
}

#chatlist dd i {
	padding-right: 5px;
	font-size: 16px;
}

/*留言输入区域*/

#chatbox {
	width: calc(100% - 20px);
	height: 20px;
	margin: 10px;
}

#chatbox .msgbox {
	float: left;
	background-color: #fff;
	width: calc(100% - 20px);
	height: 24px;
	line-height: 24px;
	border-radius: 6px;
}

#chatbox textarea {
	float: left;
	width: calc(75% - 2px);
	margin: 0px 0px 0px 2px;
	border-radius: 4px 0px 0px 4px;
	height: 10px;
	padding: 5px !important;
	color: #606266;
}

#chatbox #btnMessage {
	float: left;
	background-color: #409eff;
	color: #fff;
	width: 20%;
	height: 22px;
	line-height: 22px;
	margin: 0px !important;
	padding: 0px !important;
	border-radius: 0px 4px 4px 0px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	border: none;
}

#chatbox #btnMessage:hover {
	background-color: #F93;
}