
/*直播异常的提示*/
#abnormalbox{
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: rgba(128, 128, 128, 0.5);
	left:0;
	top:0;
	z-index: 10;
	display: flex;
	justify-content:center;
	align-items:center;
	text-align: center;
}
#abnormalbox span:first-child{
	cursor: pointer;
	display: inline-block;
	margin: 60px 0px 20px 0px;
}
