@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
.consPageBody {
	background-image: url(Images/topbg.jpg);
	background-repeat: repeat-x;
	background-position: right 0px;
	background-color: #d8d8d8;
}
p {
	line-height: 25px;
}
a {
	text-decoration: none;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/*管理平台标题*/
.logoBox {
	position: fixed;
	width: 225px;
	height: 50px;
	line-height: 30px;
	z-index: 1;
	_width: 230px;
	_position: absolute;
	_top: 0px;
	top: 0px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	text-align:right;
}
.consAppName{
	font-size: 16px;
	color: #FFF;
	position: fixed;
	width: 325px;
	height: 30px;
	line-height: 30px;
	z-index: 2;
	_width: 230px;
	_position: absolute;
	_top: 0px;
	top: 0px;
	left:90px;
}
.logoBox .consInfo{
	line-height: 30px;
	margin-top:25px;
	display:block;
}
/*后台管理的预载遮罩*/
#consFullMask {
	background-color: #FFFFFF;
}
/*页面顶部条的上部分*/
#consPageTop {
	background-image: url(Images/top_rightbg.jpg);
	background-repeat: no-repeat;
	height: 50px;
	background-position: right 0px;
	margin-bottom: 4px;
	border-bottom-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999999;
}
/*顶部区域*/
#consPageTop #consTop {
	height: 20px;
}
/*右上方的下拉菜单区域*/
#consTop #consDropMenu {
	float: right;
	margin-right: 10px;
	height: 20px;
	width: auto;
	margin-top:3px;
}
#consTop #consDropMenu a:hover {
	text-decoration: underline;
	
}
#consTop #consDropMenu .rootPanel {
	display: table;
}
/*下拉菜单的根菜单*/
#consTop #consDropMenu .rootMenu {
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	display: table;
	cursor: default;
}
#consTop #consDropMenu .rootMenu a, #consDropMenu .rootMenu .a {
	text-decoration: none;
	color: #333333;
	margin-right: 6px;
	margin-left: 6px;
}
/*下拉菜单的根菜单,鼠标滑过事件*/
#consTop #consDropMenu .rootMenuOver {
	background-color: #5fbbf1;
}
#consTop #consDropMenu .rootMenuOver a, #consDropMenu .rootMenuOver .a {
	color: #FFFFFF;
}
/*下拉菜单的子菜单面板*/
#consTop #consDropMenu .menuPanel {
	background-color: #5fbbf1;
	position: absolute;
	width: 100px;
	display: block;
	filter: alpha(Opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
}
/*了菜单中的字体样式*/
#consTop #consDropMenu .menuPanel, #consTop #consDropMenu .menuPanel a {
	color: #FFFFFF;
}
/*下拉菜单的子菜单项*/
#consTop #consDropMenu .menuPanel .MenuNode {
	text-indent: 10px;
	width: 100px;
	line-height: 22px;
	display: block;
	cursor: default;
	font-size: 12px;
	height: 22px;
	white-space: nowrap;
}
#consTop #consDropMenu .menuPanel .MenuNode a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
}
/*子菜单鼠标划过样式*/
#consTop #consDropMenu .menuPanel .MenuNodeOver {
	background-color: #C0E4FA;
}
#consTop .menuPanel .MenuNodeOver, #consTop .menuPanel .MenuNodeOver a {
	color: #0066FF;
}
/*颈部区域*/
#consNeck {
	height: 20px;
	text-indent: 5px;
	text-align: right;
	color: #333333;
	line-height: 25px;
	padding-right: 15px;
	margin-top: 10px;
}
#consNeck #consNeckLeft {
	float: left;
	color: #FFF;
}
#consNeck #consNeckLeft a {
	color: #FFF;
}
#consNeck #consNeckRight {
	float: right;
}
/*页面左侧区域*/
#consTreePanel {
	background-image: url(Images/leftbar_bg.jpg);
	background-repeat: repeat-y;
	display: table;
	width: 228px;
	float: left;
}
/*页面左侧区域预载遮罩层*/
#treePanleLoadingMask {
	text-align: center;
}
#treePanleLoadingMask div {
	margin-top: 50px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}
/*左侧的选项卡*/
#consTreePanel .titlePanel {
	float: left;
	width: 42px;
	display: block;
	padding-top: 5px;
}
#consTreePanel .noPur {
	display: block;
	padding-top: 5px;
	background-color: #CCCCCC;
	text-align: center;
}
#consTreePanel .titlePanel div {
	height: auto;
	width: 22px !important;
	text-align: center;
	float: left;
	cursor: default;
	line-height: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
}
#consTreePanel .titlePanel div.current {
	background-image: url(Images/leftbar_bg_hover.jpg);
	background-repeat: no-repeat;
	width: 42px;
	color: #376e9d;
}
#consTreePanel .titlePanel div.out {
	background-image: url(Images/leftbar_bg_line.jpg);
	background-repeat: no-repeat;
	background-position: 0px top;
	color: #f4f4f4;
}
/*左侧菜单的树形菜单面板*/
#consTreePanel .treepanel {
	float: left;
	width: 185px;
	padding-left: 1px;
	display: block;
	margin: 0px;
	display: none;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center bottom;
}
#consTreePanel .treepanel div {
}
#consTreePanel .treepanel a {
	color: #333333;
	text-decoration: none;
}
#consTreePanel .treepanel a:hover {
	
	text-shadow:1px 1px 1px #666;
}
/*二级菜单，即菜单横栏*/
#consTreePanel .menuBar {
	line-height: 30px;
	font-weight: bold;
	display: block;
	white-space: nowrap;
	height: 30px;
	background-position: right -2px;
	width: 173px;
	font-size: 14px;
	text-align: center;
	border: 1px solid #e5daab;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	background-color: #FFFFFF;
	cursor: pointer;
}
/*二级菜单，有子项时的附加样*/
#consTreePanel .menuBarClose {
	background-image: url(Images/menuBar1.jpg);
	background-repeat: repeat-x;
	color: #666666;
}
/*二级菜单，展开时的效果*/
#consTreePanel .menuBarOpen {
	background-image: url(Images/menuBar2.jpg);
	background-repeat: repeat-x;
	color: #376e9d;
}
/*三级菜单区域，即树形菜单*/
#consTreePanel .treeBox {
	display: block;
	font-size: 13px;
	margin-left: 15px;
}
/*树形菜单的节点行，包括连线、图标、菜单名*/
#consTreePanel .treeBox .nodeline {
	height: 18px;
	line-height: 18px;
	float: none;
	white-space: nowrap;
}
/*树形菜单的节点前的连线、图标*/
#consTreePanel .treeBox .nodeline .nodeIco {
	float: left;
}
#consTreePanel .treeBox .nodeline .nodeIco img {
	float: left;
}
/*树形菜单的节点文本*/ 
#consTreePanel .treeBox .nodeline .text {
	line-height: 16px;
	height: 16px;
	cursor: default;
	float: left;
	padding-top: 2px;
}
/*管理界面右侧内容区域*/
#consBody {
}
/*管理界面右侧区域，页面上方的标题条*/
#consBoxTitleBar {
	height: 30px;
	width: auto;
	margin-top: 0px;
	background-repeat: repeat-x;
	background-position: 0px 3px;
	position: absolute;
	z-index: 1000;
	padding-left: 4px;
}
#consBoxTitleBar dd {
	text-align: center;
	float: left;
	padding-right: 2px;
	padding-left: 6px;
	font-size: 13px;
	line-height: 30px;
	width: auto;
	display: inline;
	cursor: default;
	height: 20px;
	margin-top: 5px;
}
#consBoxTitleBar dd .txt {
	float: left;
	width: auto;
	line-height: 20px;
	height: 20px;
}
#consBoxTitleBar dd img {
	float: left;
	margin-top: 3px;
	margin-left: 6px;
}
#consBoxTitleBar dd a {
	color: #FF0000;
	text-decoration: none;
}
#consBoxTitleBar dd.current {
	color: #333333;
	width: auto;
	background-image: url(Images/lanmu_bg_hover.jpg);
	background-repeat: repeat-x;
	margin-right: 0px;
	padding-right: 5px;
	padding-left: 10px;
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #d8d8d8;
	border-right-color: #d8d8d8;
	border-bottom-color: #d8d8d8;
	border-left-color: #d8d8d8;
	height: 23px;
	margin-bottom: 0px;
	font-weight: bold;
}
#consBoxTitleBar dd.out {
	color: #666666;
	cursor: pointer;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #d8d8d8;
	border-right-color: #d8d8d8;
	border-bottom-color: #d8d8d8;
	border-left-color: #d8d8d8;
	margin-right: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(Images/lanmu_bg_tongyong.jpg);
	background-repeat: repeat-x;
	height: 20px;
	margin-bottom: 2px;
	margin-top: 7px;
}
/*iframe所处面板的样式*/
#consContextPanel {
	float: left;
	margin-left: 4px;
}
#consBody .consFramePanel {
	background-color: #FFFFFF;
	width: auto;
}
#consBody .consFramePanel .frame {
	padding-left:5px;
}
#consBody .topBar {
	line-height: 30px;
	height: 30px;
	white-space: nowrap;
	width: 100%;
}
#consBody .topBar td {
	padding-left: 5px;
	color: #333333;
	padding-right: 5px;
	white-space: nowrap;
	line-height: 30px;
	height: 30px;
}
/*页面区域上面的bar，显示当前页面主是的菜单路径*/
#consBody .topBar .pagePanelPath {
	width: auto;
}
#consBody .topBar .pagePanelPath a {
	color: #333;
}
/*刷新按钮*/
#consBody .topBar .pagePanelRefreshHand {
	text-align: center;
	width: 30px;
	cursor: pointer;
}
/*帮助按钮*/
#consBody .topBar .pagePanelHelpHand {
	text-align: center;
	width: 30px;
	cursor: pointer;
	display: none;
}
/*打印按钮*/
#consBody .topBar .pagePanelPrintHand {
	text-align: center;
	width: 30px;
	cursor: pointer;
}
/*页面区域，最大化的操作按钮*/
#consBody .topBar .pagePanelMaxHand {
	width: 30px;
	text-align: center;
	cursor: pointer;
}
/*网络链接中断时的锁屏*/
#showConnictionscreenBreek {
	background-color: #FFFF99;
	border: 1px solid #FF9900;
	margin: 5px;
	padding: 10px;
	height: auto;
	width: 200px;
	position: absolute;
	z-index: 500000;
	left: 0px;
	top: 0px;
	font-weight: bold;
	color: #FF0000;
}
