@charset "utf-8";
/* 按钮样式 */
.Button
{
	background-color:#0099FF;
	height:22px;
	border: 1px solid #75D9FF;
	font-family:"宋体";
	font-size:12px;
	margin: 2px;
	cursor: pointer;
	line-height: 22px;
	padding-right: 10px;
	padding-left: 10px;
	letter-spacing: 5px;
}
/* 输入框样式 */
.TextBox
{
	LINE-HEIGHT: 20px;
	border: 1px solid #CCCCCC;
	text-indent: 2px;
	margin-top: 0px;
	background-color: #FFFFFF;
}

/*--Start-- GridView的样式 --Start--*/
.GridView
{
	width: 98%;
	margin-right:1%;
	margin-left:0;	
	float: left;
}
.GridView .header
{
	background-image: url(Images/table_title_bg.jpg);
	background-repeat: repeat-x;
	background-position: 0 -20px;
	line-height: 25px;
	height: 25px;
}
.GridView .header td,.GridView .header th,.GridView  th
{
	font-weight: bold;
	line-height: 25px;
	border: 1px solid #aecee0;
	font-size: 14px;
	color: #555555;
	text-align:center;
}
.GridView td a
{
	text-decoration: none;
	
}
.GridView td a:hover
{
	text-decoration: underline;
}
.GridView .footer
{
	background-repeat: repeat-x;
}
.GridView .footer td
{
	line-height: 25px;
	padding-left: 5px;
}
.GridView .footer a
{
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.GridView td
{
	line-height: 25px;
	height: 25px;
	background-color: #FFFFFF;
	border: 1px solid #aecee0;
}
.GridView .DataRow td
{
}
/* 复数行 */
.GridView .DataRowOdd td
{
	background-color: #F7FFFF;
}
/* 单数行 */
.GridView .DataRowEven td
{
	background-color: #FFFFFF;	
}
.GridView .RowOver td
{
	background-color: #f3f7f9;
}
.GridView .onClick td
{
	background-color: #90bdd6;
}
.GridView .right
{
	text-align: right !important;
	padding-right: 10px;
}
.GridView .left
{
	text-align: left;
	text-indent: 1ex;	
}
.GridView .center
{
	text-align: center;
}
/*--End-- GridView的样式 --End--*/


/* linkButton 的样式 */
/* linkbutton禁用时的样式*/
a.linkButtonFalse
{
	color:#ff0000;
}
/* linkbutton启用时的样式 */
a.linkButtonTrue
{
	color:#0033FF;
}

