@charset "utf-8";
html {
	overflow-x: hidden;
}
html {
	background-color: White;
}
body {
	margin: 0px;
	padding: 0px;
}
body, td, p, div {
	font-size: 13px;
	text-align: left;
}
p {
	line-height: 25px;
	margin: 0px;
	padding: 0px;
}
td {
	height: 25px;
}
a {
	color: #333333;
}
a:hover {
	text-decoration: underline;
}
h1{
}
h2{
}
h3{
}
h4{
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
}
form {
	margin: 0px !important;
	padding: 0px !important;
}
fieldset {
	margin: 5px;
	padding: 5px;
	width: 96%;
	border: thin solid #B9F4FF;
}
legend {
	font-weight: bold;
	font-size: 14px;
	color: #FF6600;
}
.right {
	text-align: right;
	padding-right: 3px;
	line-height:30px;
}
.left {
	text-align: left;
	text-indent: 1ex;
}
.center {
	text-align: center;
}
.treeIco {
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666;
	height: 20px;
	line-height: 20px;
	display: block;
	float: left;
}
/*弹出窗口的最外侧*/
.pageWinForm {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/*内容区的布局*/
.pageWinContext {
	overflow: auto;
}
/* 验证信息的提示框 */
#VerifyShowBox {
	line-height: 25px;
	background-color: #D1FFA4;
	border: 1px solid #66CC00;
	text-indent: 10px;
}
/*超链接*/
.linkTmp {
	color: blue;
}
/*提示信息*/
.prompt {
	color: Red;
}
