/*答题卡*/

.answerSheet {
	width: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 200%;
	z-index: 999;
	background-color: rgba(255, 255, 255, 1);
	transition: left 0.3s;
}

.sheet_show {
	left: 0px;
}

.answerSheet .sheet_title {
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	position: relative;
	box-sizing: border-box;
	padding: 0px 80px 0px 0px;
	color: #999;
}

.answerSheet .sheet_title>span:first-child {
	padding: 0px 20px;
	font-size: 18px;
	color: #333;
}

.answerSheet .sheet_title>span:first-child::before {
	font-size: 22px;
	margin-right: 10px;
}


.answerSheet .sheet_title b {
	margin: 0px 3px;
}
/*帮助*/
.answerSheet help{	
	margin-left: 20px;
	font-size: 14px;
	width: calc(100% - 30px);

}
.answerSheet help[multi]::before{
	font-size: 18px;
	top: 2px;
}
.answerSheet help dd{
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-left: 0px;
	margin-right: 10px;
}
.answerSheet help dd[current]::after{
	bottom: -3px;
	right: -15px;
}
.answerSheet help>div{
	width: 100%;
	height: 80px;
	line-height: 40px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
.answerSheet help>div>div{
	width: 50%;
}
/*关闭按钮*/
.answerSheet .sheet_title div.sheet_btns {
	position: absolute;
	height: 50px;
	width: 80px;
	top: 0px;
	right: 0px;
	display: flex;
}

.answerSheet .sheet_title div.sheet_btns icon {
	cursor: pointer;
	font-size: 22px;
	width: 30px;
	height: 50px;
	margin: 0px;
	text-align: right;
}
.answerSheet .sheet_title div.sheet_btns icon:last-child{
	width: 50px;
	text-align: center;
}
.answerSheet .sheet_area {
	height: calc(100vh - 50px - 15px);
	overflow-y: auto;
	padding: 0px 10px 15px 15px;
}

.answerSheet dl, .answerSheet dt, .answerSheet dd {
	padding: 0px;
	margin: 0px;
}

.answerSheet dl {
	width: 100%;
	display: table;
	margin-bottom: 10px;
}

.answerSheet dt {
	padding: 10px 15px 10px 5px;
	width: calc(100% - 30px);
}

.answerSheet dt icon {
	font-size: 20px;
}

.answerSheet dd {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 31px;
	margin: 5px;
	font-size: 14px;
	border-radius: 50%;
	border: solid 1px #666;
	float: left;
	position: relative;
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
}

.answerSheet dd[small] {
	font-size: 12px;
}

.answerSheet dd[current] {
	border: solid 1px rgb(92, 180, 3) !important;
	color: rgb(255, 255, 255);
	background-color: rgba(92, 180, 3, .6) !important;

}

.answerSheet dd[current]::after {
	content: '\e777';
	font-family: "webdesk_icon" !important;
	font-size: 22px;
	display: block;
	position: absolute;
	bottom: 1px;
	right: -15px;
	width: 20px;
	height: 20px;
	text-align: right;
	color: rgb(92, 180, 3);

}

.answerSheet dd[ans] {
	background-color: rgb(25, 137, 250);
	color: #fff;
}

.answerSheet dd[correct="succ"] {
	border: solid 1px rgb(102, 177, 255);
	background-color: rgb(102, 177, 255);
	color: #fff;
}

.answerSheet dd[correct="error"] {
	border: solid 1px #ebab9f;
	background-color: #ebab9f;
	color: #fff;
}