/*试题区*/

dl.quesArea {
    height: calc(100% - 40px);
    background-color: #f2f2f2;
    width: 100%;
    z-index: 4;
    left: 0px;
    position: relative;
    transition: left 0.5s;
    overflow: hidden;
}

dl.quesArea, .quesArea dd {
    padding: 0px;
    margin: 0px;
}

.quesArea dd {
    width: 100vw;
    height: 100%;
    float: left;
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}