/*设置项的按钮*/

.setup_show {
	position: absolute;
	width: 70%;
	height: 100%;
}

.setup_show .van-cell::after {
	display: none;
}

/*视图模式*/

.overlay {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.view_model {
	padding-top: 20px;
}

.view_model .van-cell__title {
	display: flex;
}

.view_model .van-cell__title>div {
	flex: 1;
	text-align: center;
	padding: 10px;
}

.view_model .van-cell__title icon {
	display: block;
	font-size: 25px;
}

[view="day"] .view_model *[current] {
	background-color: rgb(188 227 255) !important;
	color: #1f3eb1;
}
[view="night"] .view_model *[current] {
	background-color: rgb(96 107 115) !important;
    color: #d0daff !important;
}
[view="cosy"] .view_model *[current] {
	background-color:rgb(232 255 188) !important;
    color: #7b8715 !important;
}
/*字体大小的设置*/
.fontsize {
	float: right;
	font-size: 13px;
}

.fontsize>span {
	margin-left: 10px;
}