* {
	font-family: "Hiragino Sans GB", "Microsoft Yahei", arial, \5b8b\4f53, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
#Context {
	min-height: 800px;
	width: 1200px;
}
.infoTop {
	height: 270px;
	margin-bottom: 50px;
	position: relative;
}
.infoTop .photo {
	height: 270px;
	width: 480px;
	float: left;
	margin-right: 20px;
}
.infoTop .photo img {
	height: 270px;
	width: 480px;
	background-position: center top;
	background-size: 100% !important;
}
.course-name {
	font-size: 30px;
	line-height: 50px;
	text-align: left;
	margin-top: 5px;
	width: 700px;
	float: right;
	font-weight: bold;
	display: block;
}
.couIntro {
	width: 700px;
	float: right;
	font-size: 16px;
	line-height: 30px;
	max-height: 120px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.courseInfo {
	font-size: 14px;
	line-height: 20px;
	color: #666666;
	text-align: center;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.couNum {
	font-size: 14px;
	line-height: 20px;
	color: #666666;
	position: absolute;
	bottom: 0px;
	left: 500px;
}
.moneyBox {
}
/*剩余资金*/
.surplus {
	display: table;
	float: right;
}
.surplus #money {
	font-size: 18px;
	color: #F60;
	margin-right: 5px;
}
.surplus #money:before {
	content: "\e746";
	font-family: "moneyico";
	margin-right: 5px;
}
.surplus a {
	color: #060;
	margin-left: 20px;
}
.subjectBox {
	font-size: 14px;
	line-height: 25px;
	color: #999999;
	text-indent: 10px;
	height: 25px;
}
.course-info {
	display: table;
	float: left;
	width: 650px;
}
.money-area {
}
.freeBox {
	line-height: 30px;
	color: #FF6600;
	height: 30px;
	margin-top: 40px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}
.FreeBtnBox {
	margin-top: 10px;
}
.freeBox span {
	font-size: 30px;
}
.priceTitle {
	line-height: 30px;
	text-indent: 10px;
	width: 100%;
	margin-top: 20px;
}
.context .moneyBox {
}
/*价格*/
.priceItem {
	line-height: 50px;
	background-color: #FFFFCC;
	text-indent: 30px;
	height: 50px;
	margin-bottom: 5px;
	position: relative;
	font-size: 16px;
}
.priceItem * {
	font-size: 16px;
}

.priceItem .mprice {
	font-weight: bold;
	color: #F00;
}
.priceItem .txt-row {
	top: 0px;
	position: absolute;
	right: 10px;
}
.needRecharge {
	color: #F00;
}
/*价格提醒，计算每天的钱数*/
.alt {
	font-family: "宋体";
	font-size: 13px;
	color: #333;
}
.alt b {
	color: #F00;
	font-weight: normal;
}
/*券*/
.coupon {
	font-family: "宋体";
	font-size: 13px;
	color: #333;
}
.priceSelected {
	background-color: #CEFE94;
}
.priceItem i {
	font-style: normal;
	font-size:20px;
}
.priceItem i:before {
	content: "\f00c6";
	font-family: "iconfont";	
}
.priceSelected i:before {
	content: "\e667";
	font-family: "iconfont";

}
/*支付接口*/
#payInterface{
	margin:0px;	
	margin-bottom:5px;
	padding:0px;
}
.payitem{
	line-height: 45px;
	height:45px;
	position:relative;

}
.payitem img {
	float: left;
	margin-right: 10px;
	margin-top:5px;
	height: 35px;
		margin-left:100px;
}
.payitem .rechargeValue{
	position:absolute;
	right:20px;
	top:0px;
}
.payitem .rechargeValue span:before{
	content: "\e624";
	font-family: moneyico;
}
.payitem b{
	font-size: 16px;
	line-height: 45px;
	font-weight: normal;
	left:300px;
	position:absolute;
	top:0px;
}
.paySelected {
	background-color: #DDFEB6;
}
.paySelected .ico{
	position:absolute;
	left:60px;
}
.paySelected .ico:before {
	content: "\e61a";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 30px;
	width: 20px;
	font-weight: normal;
	color: #090;
}
.paySelected b{
	font-weight: bold;
	
}
.aTryout {
	line-height: 40px;
	text-align: center;
	display: block;
	height: 40px;
	width: 90%;
	float: left;
	margin-left: 5%;
	background-color: #0099CC;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	letter-spacing: 0.5em;
	margin-right: auto;
	margin-top: 15px;
}
.veriTxt {
	text-align: right;
	float: left;
	height: 25px;
	width: auto;
}
.StudyBtnBox {
	margin-top: 20px;
	float: right;
	width: 500px;
}
.btnStudy {
	line-height: 40px;
	text-align: center;
	height: 40px;
	width: 43%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: right;
	margin-left: 5%;
	background-color: #339900;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}
.btnStudyBack {
	line-height: 40px;
	text-align: center;
	display: block;
	height: 40px;
	width: 43%;
	float: right;
	background-color: #999999;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.moneyBox a {
	color: #0099FF;
	margin-left: 10px;
}
.noPrice {
	text-align: center;
	color: #FF8080;
}
