@charset "utf-8";
body {
}
/*直播*/
.livebox{
	height: 337px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.snapshot{
	width: 600px;
	float: left;
	height: 100%;
}
.snapshot img{
	width: 100%;
	height: 100%;
}
.liveRight{
	float: right;
    height: 337px;
    width: 560px;
	position: relative;

}
.liveRight a.couName {
    font-size: 30px;
    line-height: 50px;
    font-weight: bolder;
    color: #000000;
    display: table;
    margin-bottom: 10px;
}
.liveRight a.couName:hover{
	text-decoration:none;
}
.liveRight .liveinfo{
	line-height: 40px;
	font-size: 16px;
}
.liveRight .couBtn {
    background-repeat: repeat-x;
    height: 50px;
	width: 45%;
	position: absolute;
	bottom: 0px;
    text-align: center;
    float: left;
    margin-right: 5%;
    background-color: #188eee;
}
.couBtn a::before{
	content: "";
	background-image: url(../../Images/live-icon.gif);
    background-repeat: no-repeat;
    width: 24px;
	height: 24px;
	display:inline-block;
	margin-right: 5px;
 }
.couBtn a {
    font-size: 22px;
    line-height: 50px;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    background-color: transparent;
    text-decoration: none;
}
.courseList {
	width: 1200px;
	height: auto;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	min-height: 800px;
}
.courseList .courseListInner {
	width: 1250px;
}
.course-item {
	float: left;
	height: 160px;
	width: 220px;
	margin-top: 20px;
	margin-right: 25px;
	margin-bottom: 30px;
}
.live{
	background-image: url(../../Images/live-icon.gif);
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display:inline-block;	
}
.cour-img {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.cour-img img {
	width: 220px;
}
.cour-img:hover {
}
.cour-img:hover img {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .8);
	opacity: 0.85;
}
.cour-name {
	line-height: 20px;
	color: #333;
	display: block;
	height: 40px;
	text-align: left;
	font-size: 15px;
	overflow: hidden;
}
.cour-name:hover {
	color: #188eee;
}
.cour-price {
	font-size: 15px;
	line-height: 30px;
	height:30px;
	position:relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.cour-price .free {
	color: #090;	
}
.cour-price .cou-sbj {
	color: #999;
	float:right;	
}
.cou-count {
	padding-top: 1px;
	padding-left: 20px;
	background: url(../../images/sl.gif) 0 2px no-repeat;
	height: 25px;
	color: #666;
	margin-left: 10px;
	margin-top:0px;
}
/*课程价格*/
.money {
	color: #F60;
	float: left;
	font-size: 16px;
}
.money-ico {
	font-size: 18px;
	margin-right: 5px;
}
.p-num, .p-span, .p-unit {
	font-size: 12px;
}
.nocourse {
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}
