@charset "utf-8";
html, body, #vapp {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#vapp {
    position: relative;
}

*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px rgba(175, 173, 173, 0.2);
    background: #b9b9b9;
}

*::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(204, 204, 204, 0.2);
    border-radius: 3px;
    background: #EDEDED;
}

*[v-cloak] {
    display: none;
}

/*特殊字体*/

red, .red {
    color: red !important;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}
.large {
	line-height: 24px;
    font-size: 16px;
}
.large a, .large span{
    line-height: 24px !important;
    font-size: 16px;
}
/*拖动柄*/

.draghandle {
    cursor:  s-resize;
}

/*表格的内容滚动（标题栏固定）*/
.el-table {
    height: calc(100% - 63px);
}

.el-table__body-wrapper {
    height: calc(100% - 41px);
    overflow-y: auto;
}

/*表格背景透明*/

.table-wrapper .el-table--fit {
    padding: 20px;
}

.el-table, .el-table__expanded-cell {
    --background-color: transparent !important;
}

.el-table th, .el-table tr {
    --background-color: transparent !important;
}

.el-table--enable-row-transition .el-table__body td, .el-table .cell {
    --background-color: transparent !important;
}

table.el-table__body tr.disabled td, table.el-table__body tr.disabled td *:not(.el-tag,red) {
    color: #aaa !important;
}
table.el-table__body tr.disabled td img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
/*表单行距*/

.el-form-item {
    margin-bottom: 10px !important;
}

/*表单*/

.el-form {
    margin: 10px;
}

.el-radio {
    margin-right: 10px !important;
}

.el-form-item__error {
    --right: 5px !important;
    top: auto !important;
    border-radius: 5px;
    left: 8px !important;
    bottom: -8px !important;
    width: auto !important;
    background-color: #F56C6C !important;
    color: yellow !important;
    padding: 2px 5px 2px 5px !important;
}
.el-input input[type='number']{
    padding: 5px 0px 5px 15px !important;
}
/*消息框*/

.el-message-box {
    width: auto !important;
    min-width: 200px;
}

/*底部栏*/
.footer {
    width: calc(100% - 2px);
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: right;
    padding: 8px 6px 8px 8px;
    display: flex;
    justify-content: flex-end;
}

/*关闭按钮的样式*/
.el-button--close:hover{
	background: #eee;
	color: #333;
}
.el-button--close::before {
	content: '\e72c';
	font-size: 15px;
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
}
.el-button--cancel::before {
	content: '\e748';
	font-size: 15px;
	font-family: "webdesk_icon" !important;
	margin-right: 5px;
}
/*确定保存按钮的样式*/
.el-button[define="enter"]:not(.is-loading)::before {
	content: '\a048';
	font-size: 15px;
	font-family: "webdesk_icon" !important;
}
/*应用按钮的样式*/
.el-button[define="apply"] {
	color: #3c8d13;
    background: #f0f9eb;
    border-color: #c2e7b0;
}
.el-button[define="apply"]:hover {
	color: #f0f9eb;
    background: #7bbb5b;
    border-color: #c2e7b0;
}
.el-button[define="apply"]:not(.is-loading)::before {
	content: '\e634';
	font-size: 15px;
	margin-right: 5px;
	font-family: "webdesk_icon" !important;
}
.el-button icon {
	font-size: 14px;
}

/*分页控件条的区域*/

#pager-box {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
}


/*下拉菜单的标题*/

.el-dropdown {
    font-size: 13px !important;
}

hr {
    color: #eee;
    background-color: #eee;
    border: 0px;
    height: 1px;
}

/* 表格第一列，往往是选择框，居中并对齐*/
.el-table tr td:first-child, .el-table tr th:first-child {
    text-align: center;
}

.el-table tr .cell:first-child, .el-table th .cell:first-child {
    text-overflow: clip;
    min-width: auto;
    padding: 0px;
}

.el-tree {
    background: none !important;
}

.el-card {
    background-color: rgba(255, 255, 255, .3) !important;
}
/*elementUI 的遮罩*/
.v-modal {
	background: rgba(255, 255, 255, 1);
	opacity: 0.4;
}

.el-drawer {
	-webkit-box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);
	box-shadow: 0 8px 10px -5px rgb(158 158 158 / 10%), 0 16px 24px 2px rgb(158 158 158 / 7%), 0 6px 30px 5px rgb(158 158 158 / 6%);
}

.el-dialog {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .7) !important;
}