@charset "utf-8";
#bodyTop {
	height: 400px;
	background-image: url(../Images/login-banner.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
}

/*课程列表*/
#Context {
	height: 350px;
	width: 980px;
	overflow: visible;	
}
.boxBar {
	height: 80px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
.boxBar .more {
	float: right;
	height: 30px;
	width: 100px;
	line-height: 30px;
	margin-top: 40px;
	
	background-color: #fbac4e;

}
.boxBar .more em
{
	float: left;
	margin-top: 6px;
	margin-right: 10px;
	margin-left: 10px;
}
.boxBar .more a{
	color: #666666;
	text-indent: 40px;

	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
}
.title {
	background-image: url(../../Images/icon1.png);
	background-repeat: no-repeat;
	height: 80px;
	width: 200px;
	background-position: 0px 25px;
	line-height: 80px;
	text-indent: 50px;
	font-size: 28px;
	font-family: "微软雅黑";
	padding-bottom: 12px;
	color: #FF5842;
	float: left;
}

.courseList {
	width: 980px;
	height: 270px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.courseList .courseListInner {
	width: 1100px;
}

.courseList  .item {
	float: left;
	margin-right: 52px;
	margin-bottom:20px;
	width: 200px;
	text-align: center;
	border: 3px solid #FFFFFF;
	height: 123px;
	overflow: hidden;
}
.courseList  .courseOver
{
	border: 3px solid #CCCCCC;
}
.courseList  .courseOver .itemName a
{
	color: #FFFFFF;
}
.courseList  .item a{
	display: block;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 25px;
}
.courseList  .item img{
	width: 200px;
	height: 123px;
}
.courseList .item .itemMark {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 200px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	POSITION: relative;
	FILTER: alpha(opacity=50);
	BACKGROUND: #000;
	OVERFLOW: hidden;
	opacity: 0.5;
	-moz-opacity: 0.5;
	top:-45px;
	height:123px;
}
.courseList .item .itemInfo {
	font-size: 14px;
	text-align: left;
	line-height: 35px;
	width: 200px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	POSITION: relative;
	OVERFLOW: hidden;
	top:-168px;
	height:123px;
	z-index: 10;
}
.courseList .item .itemInfo a
{
	line-height: 45px;
	text-indent: 10px;
	display: block;
	height: 45px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 18px;
	overflow: hidden;
}
.courseList .item .itemDetails
{
	line-height: 20px;
	display: block;
	height: 78px;
	font-family: "微软雅黑", "黑体", "Simplified Arabic Fixed";
	font-size: 14px;
	width: 190px;
	margin-left: 10px;
}