@charset "utf-8";

#leftBox {
	

}
.rightBox {
	
}
.treeIco{
	font-size:28px;
	height:20px;
	line-height:40px;	
}

.RowDelete
{
    float:none;
}
l{
	background-image: url(../../Images/live-icon.gif);
	background-repeat: no-repeat;	
	width:24px;
	height:24px;
	display:inline-block;
}
.toolsBar
{
    width:auto;
    float:left;
}
.btnarea input[type=submit]
{
       LINE-HEIGHT: 26px;
    text-indent: 0px;
    margin-top: 0px;
    height: 25px;
    width: 65px;
    cursor: pointer;
    text-align: right;
    border: 1px solid #CCCCCC;
    margin-right: 2px;
    padding-right: 4px;
    margin-bottom: 5px;
}