.outlineArea {
	width: 200px;
	height: 100%;
	float: left;
	overflow: auto;
	box-shadow: inset -1px -1px 1px 1px #999;

}

.rightArea {
	width: calc(100% - 203px);
	height: 100%;
	background-color: #eee;
	float: left;
	position: relative;
}

dl dt {
	padding-left: 10px;
}

dl dt, dl dd {
	line-height: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}

.olitem {
	text-align: left;
	color: #666;
	padding-right: 40px;
	height: 30px;
	overflow: hidden;
	/*超出的部分隐藏起来。*/
	white-space: nowrap;
	/*不显示的地方用省略号...代替*/
	text-overflow: ellipsis;
	/* 支持 IE */
}

.olitem:before {
	content: "\e65f";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 15px;
	font-weight: normal;
	margin-left: 8px;
	color: #999;
}

.olitem span {
	display: inline-block;
	position: absolute;
	right: 8px;
}

/*视频章节的图标*/

.li-video:before {
	content: "\e606";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 16px;
	font-weight: normal;
}

/*当前章节的图标*/

.current {
	background-color: #999;
}

.current, .current a, .current span {
	color: #FFFFFF;
}

.current:before {
	content: "\e621";
	font-family: iconfont;
	margin-right: 5px;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}

/*直播章节的图标*/

.li-live:before {
	content: "";
	background-image: url(../../Images/live-icon.gif);
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
}

#pager-box {
	position: absolute;
	bottom: 0px;
}