@charset "utf-8";
#guide{
	position:relative;
	height:100%;
}
#leftIframe {
	position:absolute;
	height:100%;
	top:0px;
	left:0px;

}
#rightIframe {
	margin-left:310px;
	width:calc(100vw - 360px);    

}
