@charset "utf-8";
/*树形图标*/
.treeIco{
	font-size:28px;
	height:30px;
	line-height:40px;	
	margin-right:10px;
	color:#666;
}
/*直播图标*/
l{
	background-image: url(../../Images/live-icon.gif);
	background-repeat: no-repeat;	
	width:24px;
	height:24px;
	display:inline-block;
}

.el-table td, .el-table th
{
    padding:0px 0px;
    line-height:30px;
}
.el-table td .cell
{
    line-height:30px;
}