@charset "utf-8";
html,body{
	height:100%;
	
}
td,p,div{
	font-size:15px;
}
.courseHeader
{
	background-color: #0099FF;
}
.title{
	font-family: "Microsoft YaHei";
	font-size: 18px;
	line-height: 40px;
	text-indent: 10;
	font-weight: bold;
	color:#fff;
}
.platename{
	font-family: "Microsoft YaHei";
	font-size: 18px;
	line-height: 40px;
	text-indent: 10;
	text-align:right;
}
/*左边菜单栏*/
#editLeft
{
	width:40px;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-color:rgb(179, 216, 255);
}
#editLeft a{
	display: block;
	float: right;
	width: 30px;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	color: #409EFF;
	text-decoration: none;
	background-color: rgb(217, 236, 255);
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-right: 5px;
}
#editLeft a.curr{
	background-color: #FFFFFF;
	width: 35px;
	margin-right: 0px;
	color: #666;
	text-shadow:0px 2px 2px #999; 
}
/*右侧*/
#editRight
{
	margin-top:10px;
	margin-left: 50px;
	height: calc(100vh - 120px);     
	padding-bottom:50px;
	overflow: auto;
}
/*底部按钮区域*/
.pageWinBtn{
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 55px;
	width: calc(100% - 50px);    
	background-color: #fff;
	padding-right:10px !important;
	margin-left:40px;
	z-index:10;
}
.pageWinBtn input{
	margin-top:10px;
	 box-shadow:0 1px 1px #ccc;  

}
/*分页导航*/
.pagerBar{
	position: absolute;
	bottom: 0px;
	left: 50px;
	height: 45px;
	width:auto;
	z-index:20;
}
/**/
select, input[type=text]{
	height:25px;
}
select{
}
input[type=text]{
	text-indent:5px;	
}
.right{
	font-size:15px;
}