<!DOCTYPE html>
<html lang="zh">

<head resource>
    <meta charset="utf-8">
    <include file="../inc/meta.inc" />
    <title>收益</title>
</head>

<body>
    <div id="vapp" v-cloak>
        <div class="frame_header">
            <el-form :inline="true" :model="form" size="mini" class="demo-form-inline" v-on:submit.native.prevent>
                <el-form-item>
                    <date_range @change="(s,e)=>{form['start']=s;form['end']=e}"></date_range>     
                </el-form-item>
                <el-form-item>
                    <el-button v-on:click="handleCurrentChange(1)" :loading="loading" native-type="submit"
                        class="el-icon-search">查询
                    </el-button>
                </el-form-item>
            </el-form>
            <div>
                <el-tag type="warning" class="tatol_info">
                   累计收益 <icon>&#xe607</icon>  {{sum}} 元
                </el-tag>
            </div>
        </div>
        <template>
            <el-table ref="datatables"  border resizable  v-loading="loading" :stripe="true" :data="datas" tooltip-effect="dark"
                style="width: 100%" @row-click="rowclick">
                <el-table-column type="index" label="#" width="80" align="center">
                    <template slot-scope="scope">
                        <span>{{(form.index - 1) * form.size + scope.$index + 1}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="收支" width="100">
                    <template slot-scope="scope">
                        <span v-if="scope.row.Ma_Type==1" class="type1">
                            <icon>&#xe773</icon> - {{scope.row.Ma_Money}}
                        </span>
                        <span v-if="scope.row.Ma_Type==2" class="type2">
                            <icon>&#xe807</icon> + {{scope.row.Ma_Money}}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column label="来源" width="80"  align="center">
                    <template slot-scope="scope">
                        {{scope.row.Ma_Source}}
                    </template>
                </el-table-column>
                <el-table-column label="说明">
                    <template slot-scope="scope">
                        {{scope.row.Ma_Info}}
                    </template>
                </el-table-column>

                <el-table-column label="时间" width="80">
                    <template slot-scope="scope">
                        <el-tooltip class="item" effect="light" placement="left">
                            <div slot="content">{{scope.row.Ma_CrtTime|date('yyyy-MM-dd HH:mm:ss')}}</div>
                            <span> {{scope.row.Ma_CrtTime|date('MM-dd HH:mm')}}</span>
                        </el-tooltip>

                    </template>
                </el-table-column>
            </el-table>
        </template>
        <div id="pager-box">
            <el-pagination v-on:current-change="handleCurrentChange" :current-page="form.index" :page-sizes="[1]"
                :page-size="form.size" :pager-count="12" layout="total, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>
</body>

</html>