@charset "utf-8";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: left;
    box-sizing: border-box;
    padding: 5px 15px;
}
#vapp {
    width: 357px;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    margin: 60px auto auto auto;
    justify-content: center;
    position: static;
}

/*第三方平台的账户*/
.outer {
    display: flex;
    margin: auto;
    width: auto;
    justify-content: center;
}

.outer img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.outer>div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #999;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

.outer>div .nickname {
    text-align: left;
}

.outer>div .nickname span {

    color: #333;
    font-size: 16px;
}

.outer>div .tagname {
    line-height: 30px;
    color: #2ea1f3;
    font-size: 14px;
}

.outer>div .tagname icon {
    font-size: 18px;
}

/*当前登录*/
.user {
    display: flex;
    margin: auto;
    width: auto;
    justify-content: center;
}

.user>div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #999;
    font-size: 14px;
    line-height: 30px;
}

.user>div div span {

    color: #333;
    font-size: 16px;
}

.state {
    margin: 30px 0px;
}

/*按钮*/
.btns {
    margin-top: 50px;
    display: flex;
}

.btns * {
    flex: 1;
}
.el-alert__content{
   margin: auto;

}