@charset "utf-8";
#app{
    width: 100%;
    height: 100%;
}
.el-input-group__prepend{
    font-size: 30px !important;
    line-height: 30px;
}
.ws_avatar{
    float: left;
    margin-right: 10px;
}
icon[money]::before{
    font-size: 20px;
}
icon[money] span{
    font-size: 18px;
}