@charset "utf-8";
.el-table {
    height: calc(100% - 120px);
}

.el-table__body-wrapper {
    height: calc(100% - 40px);
    overflow-y: auto;
}
.organs_option {
    height: 70px;
}

icon[money] {
    cursor: pointer;
}

icon[money]:hover {
    text-decoration: underline;
}
/*下拉菜单*/
.el-dropdown-menu span[icon]::before {
    width: 15px;
    text-align: right;
    display: block;
    float: left;
}

.el-dropdown-menu .el-divider {
    margin: 3px 0px;
}