/*下拉菜单中学员组的人员数量*/
.sortcount {
    float: right;
    color: #8492a6;
    font-size: 13px
}
/*学员详情*/
.accountInfo {
    line-height: 30px;
    font-size: 18px;
}

.accountInfo *::before {
    font-size: 20px;
}

.accountInfo .ws_avatar {

    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.examInfo .el-row {
    line-height: 30px;
    font-size: 18px;
}

.examInfo .el-row:last-child {
    margin-top: 20px;
}

.el-slider__marks-text{
    width: max-content;
}