@charset "utf-8";

#vapp {
    overflow: hidden;
}

.el-tabs {
    margin: 10px 10px 0px 10px;
}

.el-tabs__nav-scroll {
    padding-left: 8px;
}

.el-tabs icon {
    font-size: 18px;
}

.el-tabs .el-tabs__header {
    margin-bottom: 0px;
}

.el-tabs .el-tabs__content {
    display: none;
}

.context {
    margin: 0px 0px 0px 10px;
    height: calc(100% - 105px);
    width: calc(100% - 20px);
    overflow: auto;
    border: 1px solid #E4E7ED;
    border-top: none;
    box-sizing: border-box;

}

.el-form {
    box-sizing: border-box;
    margin: 0px;
    padding: 20px 20px 0px 0px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
}

/*参加考试的学员数量*/
.grouptype>div.el-form-item__content icon[student] {
    float: right;
}
.stscount{
    margin-left: 10px;
    color: #909399;
}