
.el-form{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 60px);
}
.exportquery_sorts{
    display: flex;
    flex-wrap: wrap; 
    column-gap: 20px;
}
.exportquery_sorts>*{
    flex: 1 0 200px;
}