@charset "utf-8";
.toolsbar .el-tag {
	border-bottom: none;
	border-radius: 3px 3px 0px 0px;
}

.el-table__expanded-cell[class*=cell] {
    padding: 10px 5px;
}
.el-table__expanded-cell .el-row{  
    padding: 8px 0;
}
.row_title{
    font-weight: bold;
}
.groups {
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.Exam_Title *{
    font-size: 15px;
}
.theme_Name{
    color: #333 !important;
}
.theme_Name::after{
    color: #333 !important;
}
.theme_Name icon{
    font-size: 18px;
}