@charset "utf-8";

/*学习数量，总数和使用数的排版*/
.usedCount {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.sumCount {
    display: inline-block;
    width: 50px;
    text-align: left;
}

/*主题，启用和禁用图标*/
.enable:before, .disable:before {
    font-size: 18px !important;
    line-height: 23px;
    vertical-align: middle;
}

/*下拉菜单*/
.el-dropdown-menu span[icon]::before {
    width: 15px;
    text-align: right;
    display: block;
    float: left;
}

.el-dropdown-menu .el-divider {
    margin: 3px 0px;
}