.el-form {
    height: calc(100% - 60px);
    width: 100%;
    margin: 0px;
    padding: 0px 10px 0px 0px;

    overflow: auto;
    box-sizing: border-box;
}
.el-form-item {
    width: 100%;
}

.el-form .el-row {
    display: flex;
}

.el-form .el-row .el-col:first-child {
    margin-right: 10px;
}

.el-form .el-row .el-col:last-child {
    margin-left: 10px;
}

.el-row textarea {
    width: 100%;
}

.item {
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 60px;
    width: calc(33% - 10px);
    float: left;
    overflow: hidden;
}

.item>img {
    height: 60px;
    float: left;
    margin-right: 10px;

}

.item>span {
    line-height: 20px;
    word-break: break-all;
}

.tax {
    display: inline-block;
    font-weight: bold;
}

/*学习时长的选择面板*/
.studyspan .el-dialog {
    width: 80% !important;
}

.btn_area {
    margin: 10px 0px;
}

.btn_area>div {
    margin: 10px 0px;
    width: 100%;
    font-size: 16px;
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: left;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px 12px 30px;
    border-radius: 4px;
    position: relative;
}

.btn_area>div:hover {
    background: rgb(198, 226, 255);
}

.btn_area>div>span {
    display: block;
    position: absolute;
    font-size: 18px;
    top: 12px;
    left: 10px;
}

.btn_area>div b {
    font-weight: normal;
    color: #F56C6C;
}
.box-card{
    margin-top: 20px;
}