#vapp {
    display: flex;
    padding-top: 15px;
    box-sizing: border-box;
}

/*左右布局*/
#vapp>*:first-child {
    min-width: 300px;
    padding: 0px 10px 0px 0px;
}

#vapp>*:last-child {
    flex: 1;
}

#vapp>.el-form, #vapp>.el-card {
    height: calc(100% - 60px);
    width: 100%;
    margin: 0px;

    overflow: auto;
    box-sizing: border-box;
}

/*关联课程的区域*/

.el-card__body {
    padding: 5px 1px 15px 15px;
    height: calc(100% - 65px);
    box-sizing: content-box;
    overflow-y: auto;
}

.item {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 60px;
    width: 100%;
    float: left;
    overflow: hidden;
}

.item>img {
    height: 60px;
    float: left;
    margin-right: 10px;

}

.item>span {
    line-height: 20px;
    word-break: break-all;
}

.tax {
    display: inline-block;
    font-weight: bold;
}

/*如果没有关联的课程*/
.nocourse {
    height: 200px;
    position: relative;
    text-align: center;
    margin-top: 20px;
}
icon.guide{
    font-size: 80px;
    display: block;
    margin: 0px auto;
    color: #999;
    text-align: right;
    padding: 0px 50px 0px 0px;
}
/*学习时长的选择面板*/
.studyspan .el-dialog {
    width: 80% !important;
}

.btn_area {
    margin: 10px 0px;
}

.btn_area>div {
    margin: 10px 0px;
    width: 100%;
    font-size: 16px;
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: left;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px 12px 30px;
    border-radius: 4px;
    position: relative;
}

.btn_area>div:hover {
    background: rgb(198, 226, 255);
}

.btn_area>div>span {
    display: block;
    position: absolute;
    font-size: 18px;
    top: 12px;
    left: 10px;
}

.btn_area>div b {
    font-weight: normal;
    color: #F56C6C;
}