@charset "utf-8";


html, body, #vapp{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background-color: #222326;
	background: #222326;
}

/*修改滚动条样式*/

div::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	/**/
}

div::-webkit-scrollbar-track {
	background: rgb(239, 239, 239);
	border-radius: 2px;
}

div::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
	background: #666;
}

div::-webkit-scrollbar-corner {
	background: #179a16;
}


/*交流咨询*/

.chat {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.chatlist {
	max-height: calc(100% - 40px);
	position: absolute;
	bottom: 40px;
	width: 100%;
	overflow-y: auto;
}

.chatlist dd {
	width: auto;
	display: table;
	min-width: 30%;
	line-height: 20px;
	position: relative;
}

.chatlist dd>div {
	text-align: left;
	padding: 5px;
	padding-right: 10px;
	color: #eee;
	border-radius: 10px;
	margin: 10px;
	line-height: 20px;
	box-shadow: 1px 1px 2px #666;
	cursor:default;
}

.chatlist dd acc {
	display: block;
	position: relative;
}

.chatlist dd del {
	display: block;
	position: absolute;
	right: -8px;
	top: 0px;
	color: red;
	font-size: 14px;
	text-decoration-line: none;
	cursor: pointer;
	display: none;
}

.chatlist dd msg {
	display: block;
}

.chatlist dd date {
	display: block;
	text-align: left;
	padding-left: 16px;
	height: 18px;
	line-height: 18px;
	margin-top: -8px;
	color: #444;
	font-size: 10px;
}

.chatlist dd i {
	padding-right: 5px;
	font-size: 16px;
}

.chatbox {
	background-color: #666;
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
}

.chatbox .switch {
	background-color: #fff;
	height: 24px;
	line-height: 24px;
	width: 35px;
	margin-top: 8px;
	margin-left: 8px;
	font-size: 8px;
	border-radius: 12px;
	position: relative;
	cursor: pointer;
	float: left;
	transition: text-align .6s;
}

.chatbox .switch:before {
	content: "弹";
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	margin: 2px 0px 2px 0px;
	margin-right: 5px;
	font-size: 8px;
	position: absolute;
	z-index: 2;
	color: #fff;
	left: 2px;
	background-color: #333;
	transition: left .6s;
}

.chatbox .switch:after {
	content: " ";
	width: 31px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	z-index: 1;
	left: 2px;
	margin: 2px 0px 2px 0px;
	background-color: #999;
	transition: background-color .6s;
}

.chatbox .switch-on {
	background-color: #FFFF99;
}

.chatbox .switch-on:before {
	left: 12px;
	background-color: #360;
}

.chatbox .switch-on:after {
	background-color: #6F6;
}

.chatbox .msgbox {	
	background-color: #fff;
	height: 26px;
	line-height: 26px;	
	border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 1px 0px 0px;
}

.chatbox .msgbox input {
	
	width: calc(100% - 80px) !important;
	height: 24px;
	line-height: 24px;
	margin: 0px 0px 0px 8px;
    border: none;
}
.chatbox .msgbox input:focus{
    border: none;
    outline: none;
}
.chatbox .msgbox>div#btnMessage {

	background-color: #999;
	width: 80px;
	height: 24px;
	border-radius: 0px 5px 5px 0px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
    margin-top: 1px;
}

.chatbox .msgbox>div#btnMessage:hover {
	background-color: #F93;
}