@charset "utf-8";
html, body, #vapp {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

#vapp {
	overflow-y: auto;
}

.header {
	height: 70px;
	background-color: #069;
	position: relative;
	z-index: 1;
	padding: 60px 20px 0px 20px;
	background: linear-gradient(rgba(147, 209, 255, 1), rgba(255, 255, 255, 1));
	overflow: hidden;
}

.header_info {
	width: 100%;
	height: 60px;
	position: relative;
}

.acc_photo {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	float: left;
	background-size: cover;
	box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.header_info .accInfo {
	width: calc(100% - 80px);
	float: left;
	line-height: 30px;
	position: relative;
	color: #666;
}

.acc-acname {
	font-size: 14px;
	margin: 0px 10px;
}

.acc-acname::before {
	content: '(';
}

.acc-acname::after {
	content: ')';
}

.header .van-row {
	position: relative;
}

.header .van-row::after {
	content: '\e72a';
	font-family: webdesk_icon;
	display: block;
	width: 10px;
	position: absolute;
	right: 0px;
	top: 10px;
	transform: rotate(180deg);
	color: #fff;
	z-index: -1;
}

.nophoto {
	background-image: url(/Utilities/images/head1.jpg);
}

.man {
	background-image: url(/Utilities/images/head1.jpg);
}

.woman {
	background-image: url(/Utilities/images/head2.jpg);
}

.header .van-tag {
	padding: 2px 8px;
	margin-right: 10px;
}

.header .acc-money {
	padding: 5px 0px;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.header .acc-money span b {
	font-size: 16px;
	margin: 0px 10px;
	font-weight: bold;
	color: rgb(250, 46, 46);
}
.header .acc-money a{	
	font-size: 12px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 100px;
    color: #fff;
	height: 15px;
    background-color: #007aff;
	margin-top: 5px;
}
/*月份信息*/
.month{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
	text-shadow: 1px 1px 2px #ccc;
}
.month icon{
	font-weight: normal;
	margin-right: 10px;
	font-size: 25px;
}
/*资金明细项*/

.van-swipe-cell {
	margin-bottom: 15px;
}

.row-box .van-cell__title {
	position: relative;
	width: 100%;
	height: 60px;
}

.row-box .van-cell__title icon:first-child {
	font-size: 30px;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	padding-top: 10px;
	line-height: 20px;
}

.error icon:first-child {
	color: #999 !important;
}

.type1 {
	color: #ee0a24;
}

.type2 {
	color: #03964a;
}

.right_area {
	position: absolute;
	width: calc(100% - 60px);
	height: 100%;
	top: 0px;
	right: 0px;
}

money {
	font-size: 20px;
	font-weight: bold;
}
.total{
	font-size: 12px;
	color: #999;
}
.time {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #999;
}

.type {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 60px;
	text-align: center;
	font-size: 12px;
}

/*详情*/

.van-overlay {
	background-color: rgba(0, 0, 0, .3);
}

.show_detail {
	width: 80%;
	height: 80%;
}

.detail_title {
	padding: 18px;
	height: 20px;
	font-size: 18px;
}
.detail_content{
	padding: 10px 15px;
	width: calc(100% - 30px);
	height: calc(100% - 20px - 50px);
}
.detail_content icon:first-child{
	font-size: 25px;
}
.detail_content>div {
	padding: 5px 15px;
	line-height: 150%;
	word-break:break-all;
	min-height: 30px;
}
.detail_content>div.queryOrder{	
	text-align: center;
}
.detail_content>div.queryOrder::before{
	content: '';
	text-align: center;
}
.detail_content>div::before {
	content: attr(title)  '：';
	display: block;
	width: 60px;
	float: left;
	text-align: right;
	margin-right: 10px;
	color: #666;
	white-space:nowrap;
}
.btnDelete{
	height: 100%;
}