.studentlogin {
    position: relative;
}

#studentlogin {
    width: 100%;
    height: 100%;
}

.studentlogin .echart_title {
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}