@charset "utf-8";

#vapp {
	padding: 20px;
	box-sizing: border-box;
}

.row {
	padding: 5px 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.row span:last-child{
	display: block;
	width: 120px;
}
.score{
	margin-top: 20px;
	text-align: right;
}
.score span{
	font-size: 22px;
}