@charset "utf-8";

icon {
    font-size: 18px;
    line-height: 18px;
}

.interface_type {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0px;

}

.interface_type dt {
    font-size: 18px;
    margin: 20px;
}

.interface_type dd {
    padding: 10px 15px;
    margin: 0px;
    width: calc(100%/2 - 30px);
    float: left;
    cursor: pointer;
}

.interface_type dd button {
    width: 100%;
    font-size: 18px;
}
.interface_type dd icon{
    font-size: 20px;
}
.interface_type dd button:hover icon{
    color: #fff;
}
.interface_type .current {
    background-color: cadetblue;
}
.weixin {
    color: #019541;
}

.zhifubao {
    color: #0098e0;
    font-size: 15px;
}
.interface_type button>span{
    display: flex;
    line-height: 36px;
}
.interface_type button>span img{
    margin-right: 15px;
}