.exam_test {
    font-size: 15px;
}

.exam_test>div:first-child {
    display: flex;
    justify-content: space-between;
}

.exam_test .exam_btns {
    position: absolute;
    height: 30px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 5px;
}
.exam_test .exam_btns a{
    flex: 1;
    text-align: left;
    font-size: 13px;
    cursor: pointer;
    line-height: 30px;
}
.exam_test .exam_btns a:last-child{
    text-align: center;
}
.exam_test .exam_btns a[disabled]{
    color: #999;
    cursor: default;
}
.exam_test .exam_btns a[disabled]:hover{
    text-decoration: none;
}