<!DOCTYPE html>
<html lang="zh">

<head resource>
  <meta charset="utf-8">
  <include file="../inc/meta.inc" />
  <title>个人信息</title> 
</head>

<body>

  <!--主界面部分-->
  <div id="vapp" v-clock>
    <div class="topbox">
      <div class="chart-area">
        <div class="chart-back">
          <div class="y"> </div>
        </div>
        <div class="chart-txt"> <span>通过率</span> <span class="cou-rate" v-html="rate">-</span></div>

      </div>
      <div class="top_right">
        <dl class="quesnumbox">
          <dd>总题量：<span class="sum" v-html="count.sum"></span>道</dd>
          <dd>已练习：<span class="ansSum" v-html="count.exercise"></span>道</dd>
        </dl>
        <!--按钮组-->
        <menus ref='menus' :couid="couid" :stid="stid"></menus>
      </div>
    </div>

    <div class="outline">
      <van-cell>
        <template #title>
          <span icon="&#xe841">按章节练习</span>
          <van-tag type="success" v-if="last!=null" class="continue" @click="gocontinue">继续练习</van-tag>
        </template>
      </van-cell>
      <template v-if="outlines && outlines.length>0">
        <outlinelist ref="outlines" :outlines="outlines" :course="course" :acid="account.Ac_ID">
        </outlinelist>
      </template>
      <van-cell v-else-if="loading">
        加载中.... </van-cell>
      <van-cell v-else>
        没有章节 </van-cell>
    </div>

  </div>


</body>

</html>