<!DOCTYPE html>
<html lang="zh">

<head resource>
  <meta charset="utf-8">
  <include file="../inc/meta.inc" />
  <link type="text/css" rel="stylesheet" href="styles/public.css">
  <title>错题回顾 - </title>
</head>

<body>
  <script>
    document.body.onselectstart = document.body.oncontextmenu = function () { return false; };
    document.body.onpaste = document.body.oncopy = function () { return false; };
  </script>
  <div id="vapp" v-cloak v-pinchin="pinch" v-pinchout="pinch">
    <loading bubble v-if="loading_init">正在初始化...</loading>
    <card v-else-if="!islogin" @click="window.location.href=commonaddr('signin')">
      <card-title icon="&#xa043">未登录</card-title>
      <card-content>
        <alert>未登录或登录状态失效</alert>
        <p>点击此处登录</p>
      </card-content>
    </card>
    <template v-else>
      <prompt_panel ref="prompt" remark="手式指引的提示面板"></prompt_panel>
      <template remark="顶部栏">
        <div class="topBox">
          <div class="navbox" v-if="back">
            <a icon="&#xe748" @click="window.history.back();"></a>
            <span icon="&#xe800" @click="deleteQues" :noques="!isques"> 删除错题 </span>
          </div>
          <!--答题统计数据 -->
          <div class="asnwerdata">
            <div>正确率：{{data.rate}} %</div>
            <div class="count_number">
              <span icon="&#xe67f">{{data.correct}}</span>
              <span icon="&#xe61c">{{data.wrong}}</span>
            </div>
            <div @click="$refs['answersheet'].show()">
              <icon>&#xe75e</icon>
              <span>{{data.answer}}/{{data.num}}</span>
            </div>
          </div>
          <div>
            <learnmode @change="v=>learnmode=v"></learnmode>
            <icon @click="()=>{$refs['setupmenu'].show=true}">&#xa038</icon>
          </div>
        </div>
        <div class="move_btn" v-if="isques">
          <span @click="$refs['quesarea'].swipe({ 'direction': 4 })"
            :disabled="$refs['quesarea'] ? $refs['quesarea'].isfirst : true">
            <icon>&#xe803</icon>上一题
          </span>
          <span @click="$refs['quesarea'].swipe({ 'direction': 2 })"
            :disabled="$refs['quesarea'] ? $refs['quesarea'].islast : true">
            <icon>&#xe802</icon>下一题
          </span>
        </div>
        <setupmenu ref="setupmenu" :account="account"></setupmenu>
      </template>
      <!-- 试题区域-->
      <loading bubble v-show="loading">试题加载中...</loading>
      <quesarea ref='quesarea' :ques="queslist" :types="types" :mode="learnmode%2" :account="account" :state="state"
        :fontsize="fontsize" @swipe="swipe"></quesarea>
      <!--答题卡-->
      <answersheet ref='answersheet' :questions="queslist" :types="types" :ansstate="state" :data="data"
        @click="(qid,index)=>$refs['quesarea'].setindex(qid,index)"></answersheet>
    </template>
  </div>


</body>

</html>